![example](images/director_shot.jpeg)

# Phase 1 Project

**Authors:** Jonathan Holt
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# Here you run your code to explore the data
import glob, os
fpath = 'zippedData/'
os.listdir(fpath)

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [3]:
query = fpath+"*.gz"

file_list=glob.glob(query)
file_list

['zippedData/imdb.title.crew.csv.gz',
 'zippedData/tmdb.movies.csv.gz',
 'zippedData/imdb.title.akas.csv.gz',
 'zippedData/imdb.title.ratings.csv.gz',
 'zippedData/imdb.name.basics.csv.gz',
 'zippedData/rt.reviews.tsv.gz',
 'zippedData/imdb.title.basics.csv.gz',
 'zippedData/rt.movie_info.tsv.gz',
 'zippedData/tn.movie_budgets.csv.gz',
 'zippedData/bom.movie_gross.csv.gz',
 'zippedData/imdb.title.principals.csv.gz']

In [4]:
tables = {}

for file in file_list:
    print('---'*20)
    file_name = file.replace('zippedData/', '').replace('.', '_')
    print(file_name)
    
    
    
    if 'tsv.gz' in file:
        temp_df = pd.read_csv(file, sep= "\t", encoding = "latin-1")
    else:
        temp_df = pd.read_csv(file)
    
    display(temp_df.head(), temp_df.tail())
    tables[file_name] = temp_df

------------------------------------------------------------
imdb_title_crew_csv_gz

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

           tconst              directors     writers
146139  tt8999974             nm10122357  nm10122357
146140  tt9001390              nm6711477   nm6711477
146141  tt9001494  nm10123242,nm10123248         NaN
146142  tt9004986              nm4993825   nm4993825
146143  tt9010172                    NaN   nm8352242

------------------------------------------------------------
tmdb_movies_csv_gz

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.6,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.6,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

------------------------------------------------------------
imdb_title_akas_csv_gz

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

,title_id,ordering,title,region,language,types,attributes,is_original_title
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

------------------------------------------------------------
imdb_title_ratings_csv_gz

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

          tconst  averagerating  numvotes
73851  tt9805820            8.1        25
73852  tt9844256            7.5        24
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

------------------------------------------------------------
imdb_name_basics_csv_gz

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

------------------------------------------------------------
rt_reviews_tsv_gz

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

,id,review,rating,fresh,critic,top_critic,publisher,date
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

------------------------------------------------------------
imdb_title_basics_csv_gz

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

------------------------------------------------------------
rt_movie_info_tsv_gz

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

------------------------------------------------------------
tn_movie_budgets_csv_gz

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

------------------------------------------------------------
bom_movie_gross_csv_gz

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

------------------------------------------------------------
imdb_title_principals_csv_gz

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

,tconst,ordering,nconst,category,job,characters
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [5]:
#Formating Cells. I am keeping all of my display commands here so I can easily find them if/when I need
#to change anything.

#change the amount of rows displayed
pd.set_option('display.max_rows', 1000)

In [6]:
#This takes the decimal places out of floats. I may need to change this for some of the other features.
pd.options.display.float_format = '{:,.0f}'.format

In [7]:
#attempting to sort by the largest worldwide_gross

tables['tn_movie_budgets_csv_gz'].sort_values(by='worldwide_gross', ascending=False)

#something is wrong here. I assume that it is sorting anything with a '9' in the front first.
#I presume that the dollar amounts are strings instead of integers. I should also check for
#null values while I'm checking for this.

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
3737,38,"Aug 21, 2009",Fifty Dead Men Walking,"$10,000,000",$0,"$997,921"
3432,33,"Sep 30, 2005",Duma,"$12,000,000","$870,067","$994,790"
5062,63,"Apr 1, 2011",Insidious,"$1,500,000","$54,009,150","$99,870,886"
883,84,"Apr 2, 2004",Hellboy,"$60,000,000","$59,623,958","$99,823,958"
5613,14,"Mar 21, 1980",Mad Max,"$200,000","$8,750,000","$99,750,000"
...,...,...,...,...,...,...
5488,89,"Dec 31, 2014",The Sound and the Shadow,"$500,000",$0,$0
5487,88,"Dec 1, 2015",Brooklyn Bizarre,"$500,000",$0,$0
5486,87,"Aug 11, 2015",Alleluia! The Devil's Carnival,"$500,000",$0,$0
5485,86,"Jun 23, 2015",Crossroads,"$500,000",$0,$0
4765,66,"Jan 15, 2013",30 Nights Of Paranormal Activity With The Devi...,"$3,000,000",$0,$0

In [8]:
#set alias for each table so that it is easier to use them.
table1 = tables['imdb_title_crew_csv_gz']
table2 = tables['tmdb_movies_csv_gz']
table3 = tables['imdb_title_akas_csv_gz']
table4 = tables['imdb_title_ratings_csv_gz']
table5 = tables['imdb_name_basics_csv_gz']
table6 = tables['rt_reviews_tsv_gz']
table7 = tables['imdb_title_basics_csv_gz']
table8 = tables['rt_movie_info_tsv_gz']
table9 = tables['tn_movie_budgets_csv_gz']
table10 = tables['bom_movie_gross_csv_gz']
table11 = tables['imdb_title_principals_csv_gz']

In [9]:
table9.info()

#Sure enough, everything is a string except for the ID field. I will convert all of the financial information
#to integers (actually, I went back and changed to floats), and while I'm at it. I will also convert the
#release date field to date/time.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [10]:
table9.isna().sum()
#there are no null values, but there are likely placeholders

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [11]:
#cleaning the three financial columns. Removing the $, removing the comma, then converting to float.
cleaned_budget = table9['production_budget'].map(lambda x: x.replace('$',' '))
cleaned_budget

0        425,000,000
1        410,600,000
2        350,000,000
3        330,600,000
4        317,000,000
            ...
5777           7,000
5778           6,000
5779           5,000
5780           1,400
5781           1,100
Name: production_budget, Length: 5782, dtype: object

In [12]:
cleaned_budget_2 = cleaned_budget.map(lambda x: x.replace(',',''))
cleaned_budget_2

0        425000000
1        410600000
2        350000000
3        330600000
4        317000000
           ...
5777          7000
5778          6000
5779          5000
5780          1400
5781          1100
Name: production_budget, Length: 5782, dtype: object

In [13]:
cleaned_budget_3 = cleaned_budget_2.astype(float)
cleaned_budget_3

0      425,000,000
1      410,600,000
2      350,000,000
3      330,600,000
4      317,000,000
           ...
5777         7,000
5778         6,000
5779         5,000
5780         1,400
5781         1,100
Name: production_budget, Length: 5782, dtype: float64

In [14]:
cleaned_domestic= table9['domestic_gross'].map(lambda x: x.replace('$',' '))

cleaned_domestic

0        760,507,625
1        241,063,875
2         42,762,350
3        459,005,868
4        620,181,382
            ...
5777               0
5778          48,482
5779           1,338
5780               0
5781         181,041
Name: domestic_gross, Length: 5782, dtype: object

In [15]:
cleaned_domestic_2 =cleaned_domestic.map(lambda x: x.replace(',',''))
cleaned_domestic_2

0        760507625
1        241063875
2         42762350
3        459005868
4        620181382
           ...
5777             0
5778         48482
5779          1338
5780             0
5781        181041
Name: domestic_gross, Length: 5782, dtype: object

In [16]:
cleaned_domestic_3 = cleaned_domestic_2.astype(float)
cleaned_domestic_3

0      760,507,625
1      241,063,875
2       42,762,350
3      459,005,868
4      620,181,382
           ...
5777             0
5778        48,482
5779         1,338
5780             0
5781       181,041
Name: domestic_gross, Length: 5782, dtype: float64

In [17]:
cleaned_worldwide = table9['worldwide_gross'].map(lambda x: x.replace('$',' '))
cleaned_worldwide

0        2,776,345,279
1        1,045,663,875
2          149,762,350
3        1,403,013,963
4        1,316,721,747
             ...
5777                 0
5778           240,495
5779             1,338
5780                 0
5781           181,041
Name: worldwide_gross, Length: 5782, dtype: object

In [18]:
cleaned_worldwide_2 = cleaned_worldwide.map(lambda x: x.replace(',',''))
cleaned_worldwide_2

0        2776345279
1        1045663875
2         149762350
3        1403013963
4        1316721747
           ...
5777              0
5778         240495
5779           1338
5780              0
5781         181041
Name: worldwide_gross, Length: 5782, dtype: object

In [19]:
cleaned_worldwide_3 = cleaned_worldwide_2.astype(float)
cleaned_worldwide_3

0      2,776,345,279
1      1,045,663,875
2        149,762,350
3      1,403,013,963
4      1,316,721,747
            ...
5777               0
5778         240,495
5779           1,338
5780               0
5781         181,041
Name: worldwide_gross, Length: 5782, dtype: float64

In [ ]:
#This takes the decimal places out of floats. I may need to change this for some of the other features.
#pd.options.display.float_format = '{:,.0f}'.format

In [20]:
#Putting my cleaned data into the table.
table9["production_budget"] = cleaned_budget_3
table9["domestic_gross"] = cleaned_domestic_3
table9["worldwide_gross"] = cleaned_worldwide_3
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"425,000,000","760,507,625","2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"350,000,000","42,762,350","149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"7,000",0,0
5778,79,"Apr 2, 1999",Following,"6,000","48,482","240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"5,000","1,338","1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"1,400",0,0
5781,82,"Aug 5, 2005",My Date With Drew,"1,100","181,041","181,041"

In [21]:
table9.sort_values(by='worldwide_gross', ascending=False)
#After all that work, I finally have the data sorted the way that I wanted.

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"425,000,000","760,507,625","2,776,345,279"
42,43,"Dec 19, 1997",Titanic,"200,000,000","659,363,944","2,208,208,395"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200"
33,34,"Jun 12, 2015",Jurassic World,"215,000,000","652,270,625","1,648,854,864"
...,...,...,...,...,...,...
5474,75,"Dec 31, 2005",Insomnia Manica,"500,000",0,0
5473,74,"Jul 17, 2012",Girls Gone Dead,"500,000",0,0
5472,73,"Apr 3, 2012",Enter Nowhere,"500,000",0,0
5471,72,"Dec 31, 2010",Drones,"500,000",0,0
4068,69,"Dec 12, 2008",The Kings of Appletown,"7,000,000",0,0

In [22]:
#converting release_date to datetime format.
cleaned_release_date = pd.to_datetime(table9['release_date'])
cleaned_release_date

0      2009-12-18
1      2011-05-20
2      2019-06-07
3      2015-05-01
4      2017-12-15
          ...
5777   2018-12-31
5778   1999-04-02
5779   2005-07-13
5780   2015-09-29
5781   2005-08-05
Name: release_date, Length: 5782, dtype: datetime64[ns]

In [23]:
table9['release_date']= cleaned_release_date
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875"
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350"
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963"
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747"
...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0
5778,79,1999-04-02,Following,"6,000","48,482","240,495"
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338"
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041"

In [24]:
#what is the range of release dates in this data set?
print("This is the earliest release date:")
print(table9['release_date'].min())

print("This is the latest release date:")
print(table9['release_date'].max())

This is the earliest release date:
1915-02-08 00:00:00
This is the latest release date:
2020-12-31 00:00:00

In [25]:
#there are several movies that have budget information, but no gross. Presumably, this is because they hadn't
#been released at the time that this data was collected. 
table9.sort_values(by='release_date', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
194,95,2020-12-31,Moonfall,"150,000,000",0,0
1205,6,2020-12-31,Hannibal the Conqueror,"50,000,000",0,0
535,36,2020-02-21,Call of the Wild,"82,000,000",0,0
480,81,2019-12-31,Army of the Dead,"90,000,000",0,0
3515,16,2019-12-31,Eli,"11,000,000",0,0
...,...,...,...,...,...,...
5606,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000"
5683,84,1920-09-17,Over the Hill to the Poorhouse,"100,000","3,000,000","3,000,000"
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000"
5523,24,1916-09-05,Intolerance,"385,907",0,0
5677,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000"

In [26]:
year_of_release = table9['release_date']
year_of_release

0      2009-12-18
1      2011-05-20
2      2019-06-07
3      2015-05-01
4      2017-12-15
          ...
5777   2018-12-31
5778   1999-04-02
5779   2005-07-13
5780   2015-09-29
5781   2005-08-05
Name: release_date, Length: 5782, dtype: datetime64[ns]

In [27]:
year_of_release = pd.DatetimeIndex(table9['release_date']).year
year_of_release

Int64Index([2009, 2011, 2019, 2015, 2017, 2015, 2018, 2007, 2017, 2015,
            ...
            2012, 1993, 2004, 2006, 2004, 2018, 1999, 2005, 2015, 2005],
           dtype='int64', name='release_date', length=5782)

In [28]:
#created a column 'release_year' to more easily search general release dates, etc.
table9['release_year'] = table9['release_date'].dt.year

In [29]:
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017
...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0,2018
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0,2015
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005

In [172]:
#films_released_by_year = table9['release_year']
#films_released_by_year.value_counts(20)

In [32]:
#the bulk of the data starts in 1996 where there are 100+ movies every year afterward until 2018.
#there is a little bit of info for 2019.
films_released_by_year.head(10)

0    2009
1    2011
2    2019
3    2015
4    2017
5    2015
6    2018
7    2007
8    2017
9    2015
Name: release_year, dtype: int64

In [34]:
#let's sort by release year
table9.sort_values(by='release_year', ascending=False).head(50)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
194,95,2020-12-31,Moonfall,"150,000,000",0,0,2020
535,36,2020-02-21,Call of the Wild,"82,000,000",0,0,2020
1205,6,2020-12-31,Hannibal the Conqueror,"50,000,000",0,0,2020
2029,30,2019-09-30,Unhinged,"29,000,000",0,0,2019
670,71,2019-08-30,PLAYMOBIL,"75,000,000",0,0,2019
95,96,2019-03-08,Captain Marvel,"175,000,000","426,525,952","1,123,061,550",2019
1474,75,2019-05-03,Long Shot,"40,000,000","30,202,860","43,711,031",2019
4132,33,2019-03-29,Unplanned,"6,000,000","18,107,621","18,107,621",2019
4534,35,2019-06-07,Late Night,"4,000,000","246,305","246,305",2019
4135,36,2019-02-08,The Prodigy,"6,000,000","14,856,291","19,789,712",2019
2325,26,2019-05-10,The Professor and the Madman,"25,000,000",0,"5,227,233",2019
80,81,2019-05-24,Aladdin,"182,000,000","246,734,314","619,234,314",2019
671,72,2019-12-31,355,"75,000,000",0,0,2019
2329,30,2019-12-31,Reagan,"25,000,000",0,0,2019
2915,16,2019-07-12,Crawl,"17,000,000",0,0,2019
3915,16,2019-05-03,El Chicano,"8,000,000","700,261","700,261",2019
1538,39,2019-06-21,Kursk,"40,000,000",0,"4,212,799",2019
1542,43,2019-09-13,The Goldfinch,"40,000,000",0,0,2019
5037,38,2019-04-23,Living Dark: The Story of Ted the Caver,"1,750,000",0,0,2019
1543,44,2019-12-31,Down Under Cover,"40,000,000",0,0,2019
2520,21,2019-02-08,What Men Want,"20,000,000","54,611,903","69,911,903",2019
5047,48,2019-02-01,Braid,"1,660,000",0,"80,745",2019
3871,72,2019-05-03,The Intruder,"8,000,000","35,095,904","36,005,871",2019
480,81,2019-12-31,Army of the Dead,"90,000,000",0,0,2019
3947,48,2019-06-21,Burn Your Maps,"8,000,000",0,0,2019
3080,81,2019-02-01,Miss Bala,"15,000,000","14,998,027","15,362,298",2019
407,8,2019-02-08,The LEGO Movie 2: The Second Part,"99,000,000","105,806,508","190,325,698",2019
1305,6,2019-05-03,UglyDolls,"45,000,000","19,894,664","24,644,664",2019
4012,13,2019-05-24,BrightBurn,"7,000,000","16,794,432","27,989,498",2019
3990,91,2019-03-15,Five Feet Apart,"7,000,000","45,729,221","80,504,421",2019
1370,71,2019-05-31,Rocketman,"41,000,000","57,342,725","108,642,725",2019
3515,16,2019-12-31,Eli,"11,000,000",0,0,2019
1380,81,2019-05-17,John Wick: Chapter 3 â Parabellum,"40,000,000","141,744,320","256,498,033",2019
580,81,2019-06-07,The Secret Life of Pets 2,"80,000,000","63,795,655","113,351,496",2019
1208,9,2019-09-20,Ad Astra,"49,800,000",0,0,2019
1207,8,2019-11-22,The Rhythm Section,"50,000,000",0,0,2019
124,25,2019-05-31,Godzilla: King of the Monsters,"170,000,000","85,576,941","299,276,941",2019
123,24,2019-02-14,Alita: Battle Angel,"170,000,000","85,710,210","402,976,036",2019
1206,7,2019-11-08,Arctic Dogs,"50,000,000",0,0,2019
121,22,2019-03-29,Dumbo,"170,000,000","113,883,318","345,004,422",2019
1997,98,2019-06-14,Shaft,"30,000,000","600,000","600,000",2019
175,76,2019-05-10,PokÃ©mon: Detective Pikachu,"150,000,000","139,507,806","411,258,433",2019
1176,77,2019-04-12,Hellboy,"50,000,000","21,903,748","40,725,492",2019
496,97,2019-04-05,Shazam!,"85,000,000","139,606,856","362,899,733",2019
619,20,2019-01-22,Renegades,"77,500,000",0,"1,521,672",2019
3531,32,2019-01-04,PMC: deo beong-keo,"10,300,000",0,"12,478,635",2019
2296,97,2019-03-15,Captive State,"25,000,000","5,958,315","8,993,300",2019
3485,86,2019-02-14,Fighting With My Family,"11,000,000","22,958,583","39,049,922",2019
393,94,2019-03-15,Wonder Park,"100,000,000","45,216,793","115,149,422",2019
1584,85,2019-01-11,The Upside,"37,500,000","108,235,497","119,024,536",2019

In [36]:
table9.sort_values(by='worldwide_gross', ascending=False).head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009
42,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015
6,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018
33,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015

In [151]:
#create a column that calculates the profit for each movie. (gross - budget)
#realize that there are other costs above and beyond the budget

total_profit = table9.apply(lambda x: x['worldwide_gross'] - x['production_budget'], axis=1)
total_profit

0      2,351,345,279
1        635,063,875
2       -200,237,650
3      1,072,413,963
4        999,721,747
            ...
5777          -7,000
5778         234,495
5779          -3,662
5780          -1,400
5781         179,941
Length: 5782, dtype: float64

In [38]:
table9['total_profit'] = total_profit

In [39]:
table9.sort_values(by='total_profit', ascending=False).head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279"
42,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997,"2,008,208,395"
6,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200"
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220"
33,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015,"1,433,854,864"
66,67,2015-04-03,Furious 7,"190,000,000","353,007,020","1,518,722,794",2015,"1,328,722,794"
26,27,2012-05-04,The Avengers,"225,000,000","623,279,547","1,517,935,897",2012,"1,292,935,897"
260,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,"125,000,000","381,193,157","1,341,693,157",2011,"1,216,693,157"
41,42,2018-02-16,Black Panther,"200,000,000","700,059,566","1,348,258,224",2018,"1,148,258,224"
112,13,2018-06-22,Jurassic World: Fallen Kingdom,"170,000,000","417,719,760","1,305,772,799",2018,"1,135,772,799"

In [40]:
#What is the return on investment for these movies?
roi = table9.apply(lambda x: x['total_profit'] / x['production_budget'], axis=1)
roi

0        6
1        2
2       -1
3        3
4        3
        ..
5777    -1
5778    39
5779    -1
5780    -1
5781   164
Length: 5782, dtype: float64

In [41]:
table9['ROI'] = roi
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3
...,...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0,2018,"-7,000",-1
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005,"-3,662",-1
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0,2015,"-1,400",-1
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164

In [42]:
#A quick snapshot of the information. 
table9.describe()

,id,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
count,"5,782","5,782","5,782","5,782","5,782","5,782","5,782"
mean,50,"31,587,757","41,873,327","91,487,461","2,004","59,899,704",4
std,29,"41,812,077","68,240,597","174,719,969",13,"146,088,881",30
min,1,"1,100",0,0,"1,915","-200,237,650",-1
25%,25,"5,000,000","1,429,534","4,125,415","2,000","-2,189,071",-1
50%,50,"17,000,000","17,225,945","27,984,448","2,007","8,550,286",1
75%,75,"40,000,000","52,348,662","97,645,836","2,012","60,968,502",3
max,100,"425,000,000","936,662,225","2,776,345,279","2,020","2,351,345,279","1,799"

In [43]:
#sorted by ROI.
table9.sort_values(by='ROI', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
5745,46,1972-06-30,Deep Throat,"25,000","45,000,000","45,000,000",1972,"44,975,000","1,799"
5613,14,1980-03-21,Mad Max,"200,000","8,750,000","99,750,000",1980,"99,550,000",498
5492,93,2009-09-25,Paranormal Activity,"450,000","107,918,810","194,183,034",2009,"193,733,034",431
5679,80,2015-07-10,The Gallows,"100,000","22,764,410","41,656,474",2015,"41,556,474",416
5406,7,1999-07-14,The Blair Witch Project,"600,000","140,539,099","248,300,000",1999,"247,700,000",413
5709,10,2004-05-07,Super Size Me,"65,000","11,529,368","22,233,808",2004,"22,168,808",341
5346,47,1942-08-13,Bambi,"858,000","102,797,000","268,000,000",1942,"267,142,000",311
5773,74,1993-02-26,El Mariachi,"7,000","2,040,920","2,041,928",1993,"2,034,928",291
5676,77,1968-10-01,Night of the Living Dead,"114,000","12,087,064","30,087,064",1968,"29,973,064",263
5210,11,1976-11-21,Rocky,"1,000,000","117,235,147","225,000,000",1976,"224,000,000",224
5536,37,1978-10-17,Halloween,"325,000","47,000,000","70,000,000",1978,"69,675,000",214
5715,16,1995-08-09,The Brothers McMullen,"50,000","10,426,506","10,426,506",1995,"10,376,506",208
5665,66,1974-10-18,The Texas Chainsaw Massacre,"140,000","26,572,439","26,572,439",1974,"26,432,439",189
5372,73,1973-08-11,American Graffiti,"777,000","115,000,000","140,000,000",1973,"139,223,000",179
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164
5656,57,2007-05-16,Once,"150,000","9,445,857","23,323,631",2007,"23,173,631",154
5742,43,1994-10-19,Clerks,"27,000","3,073,428","3,894,240",1994,"3,867,240",143
5612,13,1969-07-25,The Stewardesses,"200,000","13,500,000","25,000,000",1969,"24,800,000",124
5117,18,1937-12-21,Snow White and the Seven Dwarfs,"1,488,000","184,925,486","184,925,486",1937,"183,437,486",123
5357,58,1971-01-01,Billy Jack,"800,000","98,000,000","98,000,000",1971,"97,200,000",122
5774,75,2004-10-08,Primer,"7,000","424,760","841,926",2004,"834,926",119
5746,47,1997-08-01,In the Company of Men,"25,000","2,883,661","2,883,661",1997,"2,858,661",114
5507,8,2004-06-11,Napoleon Dynamite,"400,000","44,540,956","46,122,713",2004,"45,722,713",114
5430,31,2004-08-06,Open Water,"500,000","30,500,882","55,518,641",2004,"55,018,641",110
5424,25,1980-05-09,Friday the 13th,"550,000","39,754,601","59,754,601",1980,"59,204,601",108
5680,81,2006-09-29,Facing the Giants,"100,000","10,178,331","10,243,159",2006,"10,143,159",101
5211,12,2012-01-06,The Devil Inside,"1,000,000","53,262,945","101,759,490",2012,"100,759,490",101
5655,56,1971-01-01,Sweet Sweetback's Baad Asssss Song,"150,000","15,200,000","15,200,000",1971,"15,050,000",100
4567,68,1939-12-15,Gone with the Wind,"3,900,000","198,680,470","390,525,192",1939,"386,625,192",99
5677,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000",1915,"10,890,000",99
5568,69,1981-05-01,Graduation Day,"250,000","23,894,000","23,894,000",1981,"23,644,000",95
4775,76,1950-02-15,Cinderella,"2,900,000","85,000,000","263,591,415",1950,"260,691,415",90
5606,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000",1925,"21,755,000",89
5459,60,2009-04-23,Home,"500,000","15,433","44,793,168",2009,"44,293,168",89
5156,57,2004-10-29,Saw,"1,200,000","55,968,727","103,880,027",2004,"102,680,027",86
5525,26,1983-04-15,The Evil Dead,"375,000","2,400,000","29,400,000",1983,"29,025,000",77
3525,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000","435,110,554","792,965,326",1982,"782,465,326",75
4247,48,2002-04-19,My Big Fat Greek Wedding,"5,000,000","241,438,208","374,890,034",2002,"369,890,034",74
4589,90,1997-08-13,The Full Monty,"3,500,000","45,950,122","261,249,383",1997,"257,749,383",74
3464,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000","460,998,007","786,598,007",1977,"775,598,007",71
5681,82,1977-01-01,Eraserhead,"100,000","7,000,000","7,014,590",1977,"6,914,590",69
5706,7,1998-07-10,Pi,"68,000","3,221,152","4,678,513",1998,"4,610,513",68
5765,66,2001-03-09,Dayereh,"10,000","673,780","673,780",2001,"663,780",66
5428,29,2008-09-26,Fireproof,"500,000","33,456,317","33,473,297",2008,"32,973,297",66
5062,63,2011-04-01,Insidious,"1,500,000","54,009,150","99,870,886",2011,"98,370,886",66
4112,13,1978-06-16,Grease,"6,000,000","181,813,770","387,510,179",1978,"381,510,179",64
5213,14,2015-04-17,Unfriended,"1,000,000","32,789,645","64,364,198",2015,"63,364,198",63
5429,30,1974-11-15,Benji,"500,000","31,559,560","31,559,560",1974,"31,059,560",62
5684,85,1998-10-09,The Mighty,"100,000","2,652,246","6,121,582",1998,"6,021,582",60
5569,70,1997-04-04,Chasing Amy,"250,000","12,006,514","15,155,095",1997,"14,905,095",60
5668,69,1942-11-16,Cat People,"134,000","4,000,000","8,000,000",1942,"7,866,000",59
5219,20,1963-05-08,Dr. No,"1,000,000","16,067,035","59,567,035",1963,"58,567,035",59
4664,65,2010-10-20,Paranormal Activity 2,"3,000,000","84,752,907","177,512,032",2010,"174,512,032",58
5407,8,1970-03-26,Woodstock,"600,000","34,505,110","34,505,110",1970,"33,905,110",57
4249,50,2017-01-20,Split,"5,000,000","138,141,585","278,964,806",2017,"273,964,806",55
5189,90,2014-03-21,Godâs Not Dead,"1,150,000","60,755,732","63,777,092",2014,"62,627,092",54
4424,25,1994-03-09,Four Weddings and a Funeral,"4,500,000","52,700,832","242,895,809",1994,"238,395,809",53
5752,53,1991-08-01,Slacker,"23,000","1,227,508","1,227,508",1991,"1,204,508",52
5215,16,2006-05-24,An Inconvenient Truth,"1,000,000","24,146,161","53,365,925",2006,"52,365,925",52
5682,83,1987-03-01,Hollywood Shuffle,"100,000","5,228,617","5,228,617",1987,"5,128,617",51
4248,49,2017-02-24,Get Out,"5,000,000","176,040,665","255,367,951",2017,"250,367,951",50
5666,67,1989-12-20,Roger & Me,"140,000","6,706,368","6,706,368",1989,"6,566,368",47
4663,64,1978-07-28,National Lampoon's Animal House,"3,000,000","141,600,000","141,600,000",1978,"138,600,000",46
5716,17,2001-03-16,Gabriela,"50,000","2,335,352","2,335,352",2001,"2,285,352",46
4800,1,1974-02-07,Blazing Saddles,"2,600,000","119,500,000","119,500,000",1974,"116,900,000",45
3517,18,2012-05-25,Les Intouchables,"10,800,000","13,182,281","484,873,045",2012,"474,073,045",44
5063,64,2016-10-21,Moonlight,"1,500,000","27,854,931","65,245,512",2016,"63,745,512",42
5217,18,2012-05-25,Chernobyl Diaries,"1,000,000","18,119,640","42,411,721",2012,"41,411,721",41
4667,68,1964-12-22,Goldfinger,"3,000,000","51,100,000","124,900,000",1964,"121,900,000",41
4250,51,2011-10-21,Paranormal Activity 3,"5,000,000","104,028,807","207,039,844",2011,"202,039,844",40
5646,47,1986-08-08,She's Gotta Have It,"175,000","7,137,502","7,137,502",1986,"6,962,502",40
4898,99,2007-02-09,Das Leben der Anderen,"2,000,000","11,284,657","81,197,047",2007,"79,197,047",40
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000",1916,"7,800,000",39
4083,84,2014-10-03,Annabelle,"6,500,000","84,273,813","256,862,920",2014,"250,362,920",39
4887,88,1964-04-08,From Russia With Love,"2,000,000","24,800,000","78,900,000",1964,"76,900,000",38
3340,41,1975-06-20,Jaws,"12,000,000","260,000,000","470,700,000",1975,"458,700,000",38
4634,35,2005-06-24,La marche de l'empereur,"3,400,000","77,437,223","133,276,359",2005,"129,876,359",38
5014,15,2010-08-27,The Last Exorcism,"1,800,000","41,034,350","70,165,900",2010,"68,365,900",38
3986,87,1972-03-15,The Godfather,"7,000,000","134,966,411","268,500,000",1972,"261,500,000",37
5212,13,1963-10-07,Tom Jones,"1,000,000","37,600,000","37,600,000",1963,"36,600,000",37
3826,27,1986-09-26,Crocodile Dundee,"8,800,000","174,803,506","328,203,506",1986,"319,403,506",36
4114,15,2004-06-23,Fahrenheit 9/11,"6,000,000","119,114,517","221,148,959",2004,"215,148,959",36
4867,68,1940-02-09,Pinocchio,"2,289,247","84,300,000","84,300,000",1940,"82,010,753",36
5074,75,1979-04-20,Dawn of the Dead,"1,500,000","5,100,000","55,000,000",1979,"53,500,000",36
4868,69,1940-11-13,Fantasia,"2,280,000","83,320,000","83,320,000",1940,"81,040,000",36
5397,98,1953-04-10,House of Wax,"658,000","23,800,000","23,800,000",1953,"23,142,000",35
5577,78,1998-09-11,Cube,"250,000","489,220","8,969,065",1998,"8,719,065",35
3341,42,1973-12-26,The Exorcist,"12,000,000","230,347,346","428,214,478",1973,"416,214,478",35
5699,100,1972-08-30,The Last House on the Left,"87,000","3,100,000","3,100,000",1972,"3,013,000",35
3859,60,1965-03-02,The Sound of Music,"8,200,000","163,214,286","286,214,286",1965,"278,014,286",34
5762,63,1997-04-11,Pink Flamingos,"12,000","413,802","413,802",1997,"401,802",33
5431,32,1977-01-01,Kingdom of the Spiders,"500,000","17,000,000","17,000,000",1977,"16,500,000",33
5408,9,1977-08-10,The Kentucky Fried Movie,"600,000","15,000,000","20,000,000",1977,"19,400,000",32
5615,16,1996-10-18,Swingers,"200,000","4,505,922","6,618,578",1996,"6,418,578",32
3985,86,2007-12-05,Juno,"7,000,000","143,495,265","231,450,102",2007,"224,450,102",32
4252,53,2013-09-13,Insidious Chapter 2,"5,000,000","83,586,447","161,921,515",2013,"156,921,515",31
2991,92,1990-11-16,Home Alone,"15,000,000","285,761,243","476,684,675",1990,"461,684,675",31
3755,56,2016-12-21,Dangal,"9,500,000","12,391,761","294,654,618",2016,"285,154,618",30
3171,72,1990-03-23,Pretty Woman,"14,000,000","178,406,268","432,645,872",1990,"418,645,872",30

In [ ]:
#I am happy with where my financial data is at the moment, even though it will likely need further refinement.
#Now I want to find a way to indentify the genres of these movies as that will help me answer the specific
#question of what TYPES of movies should be made.

#After this, I plan on investigating review scores, giving me Financials, Review Scores, and Genres to work with.

In [56]:
#Table7 - imdb basics dataset has genre information. I will investigate.
table7

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,nan,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,nan,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,nan,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,nan,Documentary

In [57]:
table7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [58]:
table7.sort_values(by='start_year', ascending=True).head(100)
#This data only goes back to 2010. This may still be useful as Microsoft will want current information on
#which genres are popular.

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
9599,tt1566491,Brainiacs in La La Land,Brainiacs in La La Land,2010,nan,Comedy
43264,tt2578092,Fireplace for your Home: Crackling Fireplace w...,Fireplace for your Home: Crackling Fireplace w...,2010,61,Music
11550,tt1634300,Role/Play,Role/Play,2010,85,"Drama,Romance"
11551,tt1634332,Johan1,Johan Primero,2010,78,"Comedy,Drama,Romance"
11552,tt1634334,Hands Up,Les mains en l'air,2010,90,Drama
11553,tt1634337,Que devient mon souvenir quand tu n'y penses pas,Que devient mon souvenir quand tu n'y penses pas,2010,45,Documentary
11554,tt1634519,The Black Eyed Peas: The E.N.D. World Tour Live,The Black Eyed Peas: The E.N.D. World Tour Live,2010,nan,"Documentary,Music"
11555,tt1634524,Jitters,Órói,2010,93,"Drama,Romance"
11556,tt1634540,Rescue Men: The Story of the Pea Island Lifesa...,Rescue Men: The Story of the Pea Island Lifesa...,2010,90,Documentary
11557,tt1634554,Janakan,Janakan,2010,150,"Crime,Thriller"
11558,tt1634796,Man and His Country,Man and His Country,2010,46,"Adventure,Drama"
11559,tt1634800,Maximum Shame,Maximum Shame,2010,80,"Fantasy,Horror,Musical"
11560,tt1634802,Message,Message,2010,91,"Comedy,Horror,Mystery"
11561,tt1634803,Subway Preacher,Subway Preacher,2010,80,"Documentary,Drama,Romance"
11563,tt1634821,Notes on a Napkin,Notes on a Napkin,2010,63,Comedy
11564,tt1634822,Obshiy Yizik,Obshiy Yizik,2010,52,Documentary
11565,tt1634831,Our School,Our School,2010,88,"Documentary,Drama,History"
11566,tt1634833,Overdose,Overdos,2010,47,"Documentary,News"
11567,tt1634840,Paths of Hope: Livelihoods in Three Caribbean ...,Paths of Hope: Livelihoods in Three Caribbean ...,2010,39,"Documentary,Family"
11570,tt1635412,Am Ende der Wiese,Am Ende der Wiese,2010,55,"Biography,Documentary"
11571,tt1635415,Andy McKee: Joyland,Andy McKee: Joyland,2010,33,"Documentary,Music"
11572,tt1635429,Cherkess,Cherkess,2010,117,Drama
11573,tt1635437,Dead End Job,Dead End Job,2010,68,Comedy
11574,tt1635466,Jay's Movie Is a Piece of Shit,Jay's Movie Is a Piece of Shit,2010,84,Comedy
11577,tt1636422,Before,Antes,2010,90,NaN
11578,tt1636423,Apuntes para una biografía imaginaria,Apuntes para una biografía imaginaria,2010,60,Documentary
11579,tt1636434,"Buen día, día","Buen día, día",2010,95,Documentary
11580,tt1636437,"Camila, desde el alma","Camila, desde el alma",2010,65,Documentary
11542,tt1634135,There's Still Hope for Dreams (A Phamaly Story),There's Still Hope for Dreams (A Phamaly Story),2010,60,Documentary
11581,tt1636440,Centro,Centro,2010,90,Documentary
11541,tt1634127,Living It Forever,Living It Forever,2010,77,Documentary
35137,tt2294847,The Buccs,The Buccs,2010,15,"Documentary,Sport"
11506,tt1633205,Ifakat: Uçuruma yürüyen kadinlar,Ifakat: Uçuruma yürüyen kadinlar,2010,45,"Documentary,Drama"
11507,tt1633208,Interno,Interno,2010,80,Documentary
11508,tt1633212,Kajraare,Kajraare,2010,112,"Crime,Drama,Romance"
11509,tt1633213,La revuelta de las batas blancas,La revuelta de las batas blancas,2010,63,Documentary
23034,tt1942066,Haterology,Haterology,2010,38,"Documentary,News"
35135,tt2294843,The Band Plays On!,The Band Plays On!,2010,nan,Documentary
11512,tt1633226,Musaa: The Most Wanted,Musaa: The Most Wanted,2010,nan,"Action,Crime,Thriller"
11513,tt1633242,Rock On,Shi xi da ming xing,2010,94,NaN
11514,tt1633248,The Glass River,Staklenata reka,2010,100,Drama
11515,tt1633249,Street Poet,Street Poet,2010,87,Drama
11516,tt1633250,Swaha: Life Beyond Superstition,Swaha: Life Beyond Superstition,2010,nan,"Drama,Fantasy,Horror"
11517,tt1633267,The Very Worst Thing,The Very Worst Thing,2010,85,"Documentary,History,News"
11518,tt1633281,Visa al paraíso,Visa al paraíso,2010,108,"Documentary,Drama"
23032,tt1942032,À pleins poumons,À pleins poumons,2010,52,Documentary
11520,tt1633333,Cluster,Cluster,2010,55,"Documentary,Drama,Mystery"
11521,tt1633334,"Coals to Newcastle: The New Mastersounds, from...","Coals to Newcastle: The New Mastersounds, from...",2010,79,"Documentary,Music"
11522,tt1633341,Dark Crossing,Dark Crossing,2010,nan,"Action,Drama"
23031,tt1942030,8uppers,8uppers,2010,76,Drama
11527,tt1634013,Montevideo: Taste of a Dream,"Montevideo, Bog te video!",2010,140,"Adventure,Comedy,Drama"
11528,tt1634022,The Sylvian Experiments,Kyôfu,2010,94,"Horror,Sci-Fi"
11529,tt1634034,Mother Water,Mazâ wôtâ,2010,105,Comedy
11531,tt1634058,Star Vehicle,Star Vehicle,2010,75,Horror
11532,tt1634066,The Cedar's Tears,The Cedar's Tears,2010,84,"Drama,Mystery,Thriller"
11533,tt1634070,The Horror of the Dolls,The Horror of the Dolls,2010,81,Horror
11534,tt1634082,Unbroken: The Pearl Bluegrass Circle,Unbroken: The Pearl Bluegrass Circle,2010,76,"Biography,Documentary,Family"
11535,tt1634104,37,37,2010,100,Drama
72598,tt4144872,"Birmania, el coraje de resistir","Birmania, el coraje de resistir",2010,78,NaN
11540,tt1634123,Kafka au Congo des belges,Kafka au Congo des belges,2010,59,Documentary
11505,tt1633204,Hypo,Hypo,2010,65,"Comedy,Romance"
11582,tt1636441,Five,Cinco,2010,89,Romance
11584,tt1636454,The Peddler,El ambulante,2010,84,Documentary
11623,tt1637679,Petty Letters and Love Crimes,Dalla vita in poi,2010,85,Comedy
11624,tt1637681,Flowers,Flowers,2010,110,Drama
11625,tt1637687,I Want to Be a Soldier,De mayor quiero ser soldado,2010,100,Drama
11627,tt1637691,Khelein Hum Jee Jaan Sey,Khelein Hum Jee Jaan Sey,2010,168,"Action,Drama,History"
11628,tt1637692,Kuchh Kariye,Kuchh Kariye,2010,nan,"Adventure,Drama,Music"
11629,tt1637693,Los actos cotidianos,Los actos cotidianos,2010,82,NaN
11630,tt1637694,The Lips,Los labios,2010,100,Drama
11631,tt1637697,Make No Little Plans: Daniel Burnham and the A...,Make No Little Plans: Daniel Burnham and the A...,2010,56,Documentary
11634,tt1637702,Metropolis refundada,Metropolis refundada,2010,47,Documentary
65017,tt3718152,Heavy Metal,Heavy Metal,2010,50,"Documentary,Family"
11636,tt1637709,The Death I Dreamed Of,O thanatos pou onireftika,2010,90,"Drama,Horror,Romance"
11637,tt1637712,Pig,Pig,2010,70,Horror
11638,tt1637714,Santuaryo,Santuaryo,2010,81,Drama
11640,tt1637723,The Saint Family,Svetoto semeystvo (Nina i Mariyan),2010,87,Drama
11642,tt1637735,Viva! Saint Agrippina,Viva! Saint Agrippina,2010,96,Documentary
11644,tt1637995,Sambo Siva Sambho,Sambo Siva Sambho,2010,160,"Action,Drama"
11645,tt1638000,"U redu, pobedio sam","U redu, pobedio sam",2010,60,Documentary
37237,tt2353993,Ending Taxation: The Only Game in Town,Ending Taxation: The Only Game in Town,2010,nan,Documentary
11647,tt1638267,Bølle Bob - Alle tiders helt,Bølle Bob - Alle tiders helt,2010,84,"Comedy,Family"
11648,tt1638274,Kismet,Kismet,2010,72,Romance
11649,tt1638275,Klara - Don't Be Afraid to Follow Your Dream,Klara,2010,81,Family
22986,tt1941449,Almost Big,Almost Big,2010,51,Comedy
11653,tt1638321,Ocio,Ocio,2010,70,"Drama,Family"
11654,tt1638322,Il nemico sulle ali,Il nemico sulle ali,2010,52,"Biography,History"
11655,tt1638327,"Liniers, el trazo simple de las cosas","Liniers, el trazo simple de las cosas",2010,76,Documentary
11657,tt1638336,"Octubre Pilagá, relatos sobre el silencio","Octubre Pilagá, relatos sobre el silencio",2010,80,Documentary
11658,tt1638343,Permiso para bailar,Permiso para bailar,2010,48,Documentary
11622,tt1637677,Bigasan,Bigasan,2010,80,Drama
11583,tt1636452,Dubai: A City of Dreams,Dubai: A City of Dreams,2010,78,Documentary
11621,tt1637675,Alta infedeltà,Alta infedeltà,2010,nan,Comedy
11619,tt1637662,The Whisper Home,The Whisper Home,2010,95,Drama
11585,tt1636456,The Intern,El pasante,2010,65,NaN
11586,tt1636457,El perseguido,El perseguido,2010,63,NaN
11587,tt1636458,El predio,El predio,2010,58,Documentary
11588,tt1636459,El rati horror show,El rati horror show,2010,98,Documentary
11589,tt1636461,Ensayo (fragmentos de Sarah Kane),Ensayo (fragmentos de Sarah Kane),2010,73,Documentary
11591,tt1636631,The Tenement Ghost,The Tenement Ghost,2010,51,Drama

In [ ]:
#TMDB also has genre information, although I would need to find out what each genre code relates to.
#Let me see how far back this data goes...

#table2 = tables['tmdb_movies_csv_gz']
#table2

In [ ]:
#table2.info()

In [ ]:
#table2.sort_values(by='release_date', ascending=True).head(100)
#This dataset has genre ids for all of its movies. It starts in 1930 and ends in mid-2019.

In [59]:
#I am going to merge several of the IMDB datasets together, using the tconst as a key.
imdb_df = pd.merge(table1, table4, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes
0,tt0285252,nm0899854,nm0899854,4,219
1,tt0462036,nm1940585,nm1940585,6,18
2,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147
3,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875
4,tt0879859,nm2416460,NaN,7,21
...,...,...,...,...,...
73851,tt8947660,nm10097606,nm10097614,8,21
73852,tt8948614,"nm0827830,nm0839064",NaN,7,696
73853,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993
73854,tt8991416,nm7731173,nm7731173,7,13
73855,tt9004986,nm4993825,nm4993825,8,7

In [60]:
imdb_df= pd.merge(imdb_df, table7, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy
1,tt0462036,nm1940585,nm1940585,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama
2,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147,The Babymakers,The Babymakers,2012,95,Comedy
3,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875,Bulletface,Bulletface,2010,82,Thriller
4,tt0879859,nm2416460,NaN,7,21,Torn,Torn,2010,nan,Thriller
...,...,...,...,...,...,...,...,...,...,...
73851,tt8947660,nm10097606,nm10097614,8,21,Goyenda Tatar,Goyenda Tatar,2019,nan,Adventure
73852,tt8948614,"nm0827830,nm0839064",NaN,7,696,Reversing Roe,Reversing Roe,2018,99,Documentary
73853,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993,The Princess Switch,The Princess Switch,2018,101,Romance
73854,tt8991416,nm7731173,nm7731173,7,13,Doozy,Doozy,2018,70,"Animation,Comedy"
73855,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary

In [61]:
imdb_df= pd.merge(imdb_df, table11, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,10,nm1077681,composer,NaN,NaN
1,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,1,nm0960950,actor,NaN,"[""Darren Fields""]"
2,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,2,nm0461311,actor,NaN,"[""RJ""]"
3,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,3,nm0000686,actor,NaN,"[""Roy Callahan""]"
4,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,4,nm0001822,actor,NaN,"[""Tom Wald""]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629750,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,5,nm4993825,director,NaN,NaN
629751,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,6,nm9008590,producer,producer,NaN
629752,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,7,nm1145570,composer,NaN,NaN
629753,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,8,nm0461754,cinematographer,NaN,NaN
629754,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,9,nm6197807,cinematographer,NaN,NaN

In [62]:
#There are a lot of duplicates due to the personnel attached to each movie getting their own record.
# I doubt that I will need to check the personnel, so let's drop the duplicates.

imdb_df = imdb_df.drop_duplicates('original_title', keep='first')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,10,nm1077681,composer,NaN,NaN
10,tt0462036,nm1940585,nm1940585,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama,10,nm0230187,production_designer,NaN,NaN
20,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147,The Babymakers,The Babymakers,2012,95,Comedy,10,nm0790481,composer,NaN,NaN
30,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875,Bulletface,Bulletface,2010,82,Thriller,10,nm0480523,producer,producer,NaN
40,tt0879859,nm2416460,NaN,7,21,Torn,Torn,2010,nan,Thriller,10,nm1269186,editor,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629707,tt8947660,nm10097606,nm10097614,8,21,Goyenda Tatar,Goyenda Tatar,2019,nan,Adventure,10,nm10377635,composer,NaN,NaN
629717,tt8948614,"nm0827830,nm0839064",NaN,7,696,Reversing Roe,Reversing Roe,2018,99,Documentary,10,nm0324930,editor,NaN,NaN
629727,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993,The Princess Switch,The Princess Switch,2018,101,Romance,10,nm0294520,composer,NaN,NaN
629737,tt8991416,nm7731173,nm7731173,7,13,Doozy,Doozy,2018,70,"Animation,Comedy",1,nm0571897,actor,NaN,"[""Clovis""]"
629745,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,10,nm0826589,editor,NaN,NaN

In [63]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70944 entries, 0 to 629745
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           70944 non-null  object
 1   directors        70368 non-null  object
 2   writers          60791 non-null  object
 3   averagerating    70944 non-null  float64
 4   numvotes         70944 non-null  int64
 5   primary_title    70944 non-null  object
 6   original_title   70944 non-null  object
 7   start_year       70944 non-null  int64
 8   runtime_minutes  63654 non-null  float64
 9   genres           70246 non-null  object
 10  ordering         70944 non-null  int64
 11  nconst           70944 non-null  object
 12  category         70944 non-null  object
 13  job              7883 non-null   object
 14  characters       26953 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 8.7+ MB

In [65]:
imdb_df.sort_values('original_title').head(100)

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
3802,tt2346170,6,40,#1 Serial Killer,#1 Serial Killer,2013,87,Horror
272939,tt3120962,7,6,#5,#5,2013,68,"Biography,Comedy,Fantasy"
626374,tt5255986,5,18,#66,#66,2015,116,Action
618511,tt7853996,8,21,#ALLMYMOVIES,#ALLMYMOVIES,2015,nan,Documentary
584307,tt9844890,7,8,#AbroHilo,#AbroHilo,2019,52,Documentary
530073,tt6170868,7,23,#BKKY,#BKKY,2016,75,Drama
253747,tt5074174,9,31,#BeRobin the Movie,#BeRobin the Movie,2015,41,Documentary
451340,tt4353986,5,18,#Beings,#Beings,2015,56,Thriller
311045,tt6856592,3,212,#Captured,#Captured,2017,81,Thriller
463137,tt5803530,6,19,#DigitalLivesMatter,#DigitalLivesMatter,2016,nan,Comedy
173752,tt4902162,9,5,#Disneyland60,#Disneyland60,2015,45,Documentary
112300,tt5460468,2,7,#Enough,#Enough,2015,nan,Drama
570718,tt5797822,7,13,#OntheShouldersofGiants,#EradosGigantes,2017,122,Documentary
440845,tt4375578,7,6,#Ewankosau saranghaeyo,#Ewankosau saranghaeyo,2015,110,Drama
267144,tt8372826,8,274,#Female Pleasure,#Female Pleasure,2018,97,Documentary
431138,tt5233106,3,186,#FollowFriday,#FollowFriday,2016,90,Thriller
433480,tt7272948,5,88,#Followme,#Followme,2019,90,"Horror,Thriller"
412475,tt5610972,8,6,#Hommes: True Story of the Thieves' World,#Hommes: True Story of the Thieves' World,2015,134,Documentary
527531,tt3526286,3,3092,#Horror,#Horror,2015,101,"Crime,Drama,Horror"
20543,tt2538204,5,425,#Lucky Number,#Lucky Number,2015,80,Comedy
415689,tt10284716,6,11,#Malam Jumat: The Movie,#Malam Jumat: The Movie,2019,91,Horror
389868,tt3524032,3,209,#Nerealnaya lyubov,#Nerealnaya lyubov,2014,nan,"Comedy,Romance"
296171,tt3950838,9,66,#O2LForever,#O2LForever,2015,95,"Biography,Documentary,Music"
189643,tt9742906,9,10,#Powerplant,#Powerplant,2019,61,Documentary
560292,tt6119504,5,4430,#REALITYHIGH,#REALITYHIGH,2017,99,"Comedy,Drama,Romance"
536655,tt3184026,5,14,#Realmovie,#Realmovie,2013,62,"Drama,Thriller"
6235,tt5646082,6,128,#Roxy,#Roxy,2018,105,"Comedy,Romance"
62993,tt6475636,5,33,#Rucker50,#Rucker50,2016,56,Documentary
592950,tt5531032,5,730,#Screamers,#Screamers,2016,85,"Horror,Mystery"
201511,tt6260342,5,458,Selfie,#Selfi,2018,112,Thriller
230068,tt5335198,5,250,#Selfieparty,#Selfieparty,2016,90,"Action,Comedy,Thriller"
556146,tt3428892,7,14,#Sequence,#Sequence,2013,63,"Comedy,Drama,Family"
403614,tt6712730,7,5,#Single,#Single,2017,nan,Documentary
119400,tt5654204,8,24,#Slaughterhouse,#Slaughterhouse,2017,nan,"Action,Horror"
46048,tt6565196,7,8,#SodaCirque,#SodaCirque,2017,64,Documentary
486689,tt6212476,6,501,#Sohavégetnemérös,#Sohavégetnemérös,2016,90,"Comedy,Music"
605437,tt6540984,4,329,#SquadGoals,#SquadGoals,2018,90,"Drama,Thriller"
447851,tt2916468,5,12,#Starvecrow,#Starvecrow,2017,89,"Drama,Thriller"
397030,tt2075318,6,983,#Stuck,#Stuck,2014,82,"Comedy,Drama,Romance"
618362,tt7737176,8,44,#TAKEMEANYWHERE,#TAKEMEANYWHERE,2018,44,"Adventure,Documentary"
488036,tt8076266,7,338,#TemanTapiMenikah,#TemanTapiMenikah,2018,102,"Biography,Drama"
91043,tt5589314,8,7,#Twerkumentary,#Twerkumentary,2016,60,Documentary
604544,tt6082646,7,18,#Uploading_Holocaust,#Uploading_Holocaust,2016,75,"Documentary,History"
276231,tt5293858,7,160,#Walang Forever,#Walang Forever,2015,119,"Comedy,Romance"
165365,tt5612148,4,109,#WszystkoGra,#WszystkoGra,2016,90,"Comedy,Musical"
547651,tt3887700,7,49,#Y,#Y,2014,100,Drama
473697,tt4990654,9,7,#artoffline,#artoffline,2015,60,Documentary
509208,tt7230318,8,10,#babynymph,#babynymph,2016,80,"Drama,Thriller"
77069,tt2607968,7,219,#chicagoGirl: The Social Network Takes on a Di...,#chicagoGirl: The Social Network Takes on a Di...,2013,74,"Action,Biography,Documentary"
421634,tt5465684,8,18,#Resistayol,#direnayol,2016,60,Documentary
472848,tt4062604,5,28,#Thosegirls,#garotas: O Filme,2015,105,"Comedy,Drama"
76608,tt2477324,7,8,#iKllr,#iKllr,2014,95,"Horror,Thriller"
506472,tt3856118,9,7,#standwithme,#standwithme,2014,73,"Biography,Crime,Documentary"
270825,tt2118550,8,10,#whilewewatch,#whilewewatch,2011,39,"Documentary,News"
204829,tt2106284,7,1818,$50K and a Call Girl: A Love Story,$50K and a Call Girl: A Love Story,2014,90,"Action,Adventure,Comedy"
163597,tt4004608,4,101,$elfie Shootout,$elfie Shootout,2016,86,Comedy
149175,tt2258233,6,1001,$ellebrity,$ellebrity,2012,89,Documentary
493953,tt4397606,6,16,$kumbagz,$kumbagz,2015,71,"Crime,Thriller"
487426,tt7288662,6,13,& Jara Hatke,& Jara Hatke,2016,110,"Drama,Family,Romance"
437486,tt2332503,5,192,&Me,&Me,2013,88,Romance
506301,tt3503754,9,26,'51 Dons,'51 Dons,2014,nan,"Documentary,Sport"
388071,tt2614684,7,46103,'71,'71,2014,99,"Action,Drama,Thriller"
513782,tt2385126,7,39,'76,'76,2016,118,"Drama,Romance"
580720,tt4417402,7,54,'85: The Greatest Team in Pro Football History,'85: The Greatest Team in Pro Football History,2016,90,Sport
244098,tt6912580,5,323,Didi's Dream,'Chi chi' de ai,2017,91,"Comedy,Fantasy,Romance"
583266,tt7834022,5,113,'He's Watching','He's Watching',2018,nan,Thriller
64669,tt1234546,6,442,'Master Harold' ... And the Boys,'Master Harold' ... And the Boys,2010,87,Drama
293609,tt2787556,6,17,The Road Less Travelled,'Mata kanarazu aou' to daremoga itta.,2013,nan,Drama
2722,tt2183864,6,7,'NORMAL ' (Real Stories from the sex industry),'NORMAL ' (Real Stories from the sex industry),2012,65,"Biography,Drama,News"
145476,tt9308406,7,62,Now Something Is Slowly Changing,'Nu verandert er langzaam iets',2018,105,Documentary
387311,tt2409344,7,7,'Orsay,'Orsay,2012,nan,Documentary
604443,tt6054510,8,12,'The Day of the Purple Sun': Part I,'The Day of the Purple Sun': Part I,2017,68,Drama
152688,tt4199762,6,8,'Til Love Comes,'Til Love Comes,2014,78,"Comedy,Romance"
217881,tt2777190,7,9,'Til Morning,'Til Morning,2013,57,"Drama,Family,Fantasy"
613364,tt4152328,7,39,'n Man Soos My Pa,'n Man Soos My Pa,2015,nan,Drama
286045,tt4623202,5,57,'n Pawpaw Vir My Darling,'n Pawpaw Vir My Darling,2015,nan,Comedy
598514,tt2160051,5,13,'n Saak van Geloof,'n Saak van Geloof,2011,88,Drama
86060,tt2405820,5,13,(09),(09),2014,90,"Horror,Thriller"
592274,tt4872362,6,5,(313) Choices,(313) Choices,2015,90,Drama
511940,tt1811293,6,682,(A)sexual,(A)sexual,2011,75,Documentary
512920,tt2094744,6,9,(AmI) Live,(AmI) Live,2011,84,"Drama,Horror,Mystery"
140496,tt3914332,6,1627,Dean,(Dean),2016,94,"Comedy,Drama,Romance"
623306,tt2630898,8,1831,(Dis)Honesty: The Truth About Lies,(Dis)Honesty: The Truth About Lies,2015,90,"Documentary,Drama,News"
45081,tt4938066,6,6,(IN) Diferentes,(IN) Diferentes,2016,nan,Comedy
241638,tt4874206,7,3869,The Student,(M)uchenik,2016,118,Drama
521671,tt1496374,8,10,(No) Laughing Matter,(No) Laughing Matter,2010,55,"Comedy,Documentary"
12305,tt2794792,3,34,(Q)üfür,(Q)üfür,2013,nan,Comedy
493865,tt4370922,7,710,(T)ERROR,(T)ERROR,2015,84,Documentary
190693,tt1598691,5,17,* Cemetery,* Cemetery,2010,80,"Comedy,Horror,Thriller"
465612,tt1331087,4,22,*69,*69,2016,100,"Horror,Mystery,Thriller"
608854,tt1941429,8,14,*MEI [MEIG] Voci migranti,*MEI [MEIG] Voci migranti,2010,50,Documentary
271544,tt2395385,6,7344,+1,+1,2013,96,"Horror,Sci-Fi,Thriller"
183854,tt3495034,8,5,-1287,-1287,2014,70,"Biography,Documentary"
208131,tt4129900,6,204,... E fuori nevica!,... E fuori nevica!,2014,94,Comedy
197339,tt3116888,6,19,... Re: yakshaprashne,... Re: yakshaprashne,2016,nan,Comedy
433027,tt6728418,6,8,...And Love,...And Love,2017,nan,"Drama,Romance"
426433,tt2200030,7,15,...And Then I Helped,...And Then I Helped,2010,101,Horror
586784,tt1961143,9,7,...EBONG KANNA,...EBONG KANNA,2010,119,"Drama,Western"
35674,tt4272422,6,18,...Mama ei de tranzitie!?!,...Mama ei de tranzitie!?!,2012,100,"Comedy,Drama"
123633,tt1649264,7,119,...But Film is My Mistress,...Men filmen är min älskarinna,2010,66,Documentary

In [ ]:
imdb_df['imdb_title'] =

In [64]:
#dropped the columns that weren't useful. (can always get them back from the original sources)
# I dropped the following columns: directors, writers, ordering, nconst, category, job, characters
imdb_df = imdb_df.drop(['directors', 'writers', 'ordering', 'nconst', 'category', 'job', 'characters'], axis = 1)
imdb_df.head(10)

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0285252,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy
10,tt0462036,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama
20,tt0835418,5,8147,The Babymakers,The Babymakers,2012,95,Comedy
30,tt0878654,6,875,Bulletface,Bulletface,2010,82,Thriller
40,tt0879859,7,21,Torn,Torn,2010,nan,Thriller
50,tt0996958,2,495,Legend of the Red Reaper,Legend of the Red Reaper,2013,99,"Action,Adventure,Fantasy"
60,tt0999913,6,30924,Straw Dogs,Straw Dogs,2011,110,"Action,Drama,Thriller"
70,tt10011102,8,55,The Sholay Girl,The Sholay Girl,2019,106,"Action,Biography,Drama"
80,tt1002965,8,31,Call of Life,Call of Life,2010,60,Documentary
90,tt10055770,8,380,Vellai Pookal,Vellaipookal,2019,122,Thriller

In [ ]:
#I want to now merge this imdb_df with my financial information from table9. I know that if I just do a merge
# on primary title, some of the results will be incorrect. (Avatar is the top grossing movie but is listed as a horror movie)

In [85]:
#inner join with the indiciator column so I can track where everything is coming from.

merged_originals = pd.merge(table9, imdb_df, left_on= 'movie', right_on= 'original_title', how='left', indicator=True)
merged_originals.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2,tt1298650,7,"447,624",Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,"Action,Adventure,Fantasy",both
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1,tt6565702,6,"24,451",Dark Phoenix,Dark Phoenix,"2,019",113,"Action,Adventure,Sci-Fi",both
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3,tt2395427,7,"665,594",Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,"Action,Adventure,Sci-Fi",both
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only

In [86]:
#5782 records after the keft join.
merged_originals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 0 to 5781
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   float64
 5   worldwide_gross    5782 non-null   float64
 6   release_year       5782 non-null   int64
 7   total_profit       5782 non-null   float64
 8   ROI                5782 non-null   float64
 9   tconst             2123 non-null   object
 10  averagerating      2123 non-null   float64
 11  numvotes           2123 non-null   float64
 12  primary_title      2123 non-null   object
 13  original_title     2123 non-null   object
 14  start_year         2123 non-null   float64
 15  runtime_minutes    2067 non-null   float64
 16  genres             2123 non-null   object
 17  _merge             5782 non-null   category
dtypes: category(1), datetime64[ns](1), float64(9), int64(2), object(5)
memory usage: 818.8+ KB

In [93]:
 merged_originals.sort_values('movie', ascending=True).head(500)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
5115,16,2015-11-20,#Horror,"1,500,000",0,0,2015,"-1,500,000",-1,tt3526286,3,"3,092",#Horror,#Horror,"2,015",101,"Crime,Drama,Horror",both
3954,55,2009-07-17,(500) Days of Summer,"7,500,000","32,425,665","34,439,060",2009,"26,939,060",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4253,54,2016-03-11,10 Cloverfield Lane,"5,000,000","72,082,999","108,286,422",2016,"103,286,422",21,tt1179933,7,"260,383",10 Cloverfield Lane,10 Cloverfield Lane,"2,016",103,"Drama,Horror,Mystery",both
3447,48,2015-11-11,10 Days in a Madhouse,"12,000,000","14,616","14,616",2015,"-11,985,384",-1,tt3453052,7,"1,114",10 Days in a Madhouse,10 Days in a Madhouse,"2,015",111,Drama,both
3262,63,1999-03-31,10 Things I Hate About You,"13,000,000","38,177,966","60,413,950",1999,"47,413,950",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
350,51,2008-03-07,"10,000 B.C.","105,000,000","94,784,201","269,065,678",2008,"164,065,678",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
505,6,2000-11-22,102 Dalmatians,"85,000,000","66,941,559","66,941,559",2000,"-18,058,441",-0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3931,32,2006-08-18,10th & Wolf,"8,000,000","54,702","143,782",2006,"-7,856,218",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4189,90,2005-08-12,11:14,"6,000,000",0,0,2005,"-6,000,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5535,36,1957-04-13,12 Angry Men,"340,000",0,0,1957,"-340,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2017,18,1995-12-27,12 Monkeys,"29,000,000","57,141,459","168,841,459",1995,"139,841,459",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2636,37,2009-03-27,12 Rounds,"20,000,000","12,234,694","17,306,648",2009,"-2,693,352",-0,tt3517850,8,11,12 Rounds,12 Rounds,"2,017",nan,"Action,Drama,Romance",both
1663,64,2018-01-19,12 Strong,"35,000,000","45,819,713","71,118,378",2018,"36,118,378",1,tt1413492,7,"50,155",12 Strong,12 Strong,"2,018",130,"Action,Drama,History",both
2517,18,2013-10-18,12 Years a Slave,"20,000,000","56,671,993","181,025,343",2013,"161,025,343",8,tt2024544,8,"577,301",12 Years a Slave,12 Years a Slave,"2,013",134,"Biography,Drama,History",both
2805,6,2010-11-05,127 Hours,"18,000,000","18,335,230","60,217,171",2010,"42,217,171",2,tt1542344,8,"323,949",127 Hours,127 Hours,"2,010",94,"Adventure,Biography,Drama",both
1595,96,2004-04-23,13 Going On 30,"37,000,000","57,139,723","97,658,712",2004,"60,658,712",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1129,30,2016-01-15,13 Hours: The Secret Soldiers of Benghazi,"50,000,000","52,853,219","69,411,370",2016,"19,411,370",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4550,51,2014-04-18,13 Sins,"4,000,000","9,134","47,552",2014,"-3,952,448",-1,tt2059171,6,"29,550",13 Sins,13 Sins,"2,014",93,"Horror,Thriller",both
2401,2,2007-06-22,1408,"22,500,000","71,985,628","131,263,370",2007,"108,763,370",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1359,60,2001-03-09,15 Minutes,"42,000,000","24,375,436","56,331,864",2001,"14,331,864",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1292,93,2006-03-03,16 Blocks,"45,000,000","36,895,141","65,595,141",2006,"20,595,141",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5289,90,2010-09-03,16 to Life,"1,000,000","11,574","11,574",2010,"-988,426",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3448,49,2009-04-07,1612,"12,000,000",0,"5,400,624",2009,"-6,599,376",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1419,20,2009-04-17,17 Again,"40,000,000","64,167,069","139,474,906",2009,"99,474,906",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4558,59,1972-11-09,1776,"4,000,000",0,0,1972,"-4,000,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1803,4,1979-12-14,1941,"32,000,000","34,175,000","94,875,000",1979,"62,875,000",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5322,23,2016-03-01,1982,"1,000,000",0,0,2016,"-1,000,000",-1,tt2388621,7,221,1982,1982,"2,013",90,Drama,both
622,23,2003-06-06,2 Fast 2 Furious,"76,000,000","127,120,058","236,410,607",2003,"160,410,607",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2585,86,2005-10-07,2 For the Money,"20,000,000","22,991,379","30,491,379",2005,"10,491,379",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
838,39,2013-08-02,2 Guns,"61,000,000","75,612,460","132,493,015",2013,"71,493,015",1,tt1272878,7,"182,025",2 Guns,2 Guns,"2,013",109,"Action,Comedy,Crime",both
5708,9,1999-02-26,20 Dates,"66,000","541,636","602,920",1999,"536,920",8,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5236,37,2013-06-14,20 Feet From Stardom,"1,000,000","4,946,250","5,892,466",2013,"4,892,466",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4270,71,1954-12-23,"20,000 Leagues Under the Sea","5,000,000","28,200,000","28,200,000",1954,"23,200,000",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000",1916,"7,800,000",39,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4150,51,1999-02-26,200 Cigarettes,"6,000,000","6,852,450","6,852,450",1999,"852,450",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3526,27,1968-04-02,2001: A Space Odyssey,"10,500,000","59,936,321","71,928,046",1968,"61,428,046",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
58,59,2009-11-13,2012,"200,000,000","166,112,167","757,677,748",2009,"557,677,748",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4812,13,2012-07-13,2016: Obamaâs America,"2,500,000","33,349,941","33,349,941",2012,"30,849,941",12,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3430,31,2005-08-05,2046,"12,000,000","1,442,338","19,287,485",2005,"7,287,485",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1638,39,2008-03-28,21,"35,000,000","81,159,365","159,846,429",2008,"124,846,429",4,tt5097012,7,23,21,21,"2,016",98,Horror,both
2612,13,2003-11-21,21 Grams,"20,000,000","16,248,701","59,667,625",2003,"39,667,625",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1343,44,2012-03-16,21 Jump Street,"42,000,000","138,447,667","202,812,429",2012,"160,812,429",4,tt1232829,7,"477,771",21 Jump Street,21 Jump Street,"2,012",109,"Action,Comedy,Crime",both
3269,70,2013-03-01,21 and Over,"13,000,000","25,682,380","42,195,766",2013,"29,195,766",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1084,85,2014-06-13,22 Jump Street,"50,000,000","191,719,337","331,333,876",2014,"281,333,876",6,tt2294449,7,"319,504",22 Jump Street,22 Jump Street,"2,014",112,"Action,Comedy,Crime",both
5263,64,2014-10-24,23 Blast,"1,000,000","549,185","549,185",2014,"-450,815",-0,tt2304459,6,"1,567",23 Blast,23 Blast,"2,014",98,"Drama,Family,Sport",both
4955,56,1998-04-15,24 7: Twenty Four Seven,"2,000,000","72,544","72,544",1998,"-1,927,456",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4428,29,2002-12-19,25th Hour,"4,500,000","13,084,595","25,344,490",2002,"20,844,490",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1862,63,2008-01-18,27 Dresses,"30,000,000","76,808,654","160,247,805",2008,"130,247,805",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1336,37,2000-04-14,28 Days,"43,000,000","37,035,515","62,063,972",2000,"19,063,972",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3868,69,2003-06-27,28 Days Laterâ¦,"8,000,000","45,064,915","82,955,633",2003,"74,955,633",9,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3053,54,2007-05-11,28 Weeks Later,"15,000,000","28,638,916","64,232,714",2007,"49,232,714",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4627,28,2011-06-28,2:13,"3,500,000",0,0,2011,"-3,500,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3984,85,2011-09-16,3,"7,200,000","59,774","295,492",2011,"-6,904,508",-1,tt2379653,6,101,3,3,"2,012",115,"Comedy,Drama",both
5550,51,2011-03-11,3 Backyards,"300,000","39,475","39,475",2011,"-260,525",-1,tt1314190,5,611,3 Backyards,3 Backyards,"2,010",88,Drama,both
2063,64,2014-02-21,3 Days to Kill,"28,000,000","30,697,999","38,959,900",2014,"10,959,900",0,tt2172934,6,"81,681",3 Days to Kill,3 Days to Kill,"2,014",117,"Action,Drama,Thriller",both
2995,96,1987-11-25,3 Men and a Baby,"15,000,000","167,780,960","167,780,960",1987,"152,780,960",10,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2638,39,1994-05-06,3 Ninjas Kick Back,"20,000,000","11,744,960","11,744,960",1994,"-8,255,040",-0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4500,1,2000-03-01,3 Strikes,"4,000,000","9,821,335","9,821,335",2000,"5,821,335",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1915,16,2007-10-19,30 Days of Night,"30,000,000","39,568,996","80,276,156",2007,"50,276,156",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2059,60,2011-08-12,30 Minutes or Less,"28,000,000","37,053,924","40,966,716",2011,"12,966,716",0,tt1622547,6,"87,254",30 Minutes or Less,30 Minutes or Less,"2,011",83,"Action,Comedy,Crime",both
4765,66,2013-01-15,30 Nights Of Paranormal Activity With The Devi...,"3,000,000",0,0,2013,"-3,000,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
844,45,2007-03-09,300,"60,000,000","210,614,939","454,161,935",2007,"394,161,935",7,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
834,35,2001-02-23,3000 Miles to Graceland,"62,000,000","15,738,632","18,708,848",2001,"-43,291,152",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
325,26,2014-03-07,300: Rise of an Empire,"110,000,000","106,580,051","330,780,051",2014,"220,780,051",2,tt1253863,6,"262,978",300: Rise of an Empire,300: Rise of an Empire,"2,014",102,"Action,Fantasy,War",both
5084,85,2016-10-21,31,"1,500,000","779,820","922,727",2016,"-577,273",-0,tt3835080,5,"15,055",31,31,"2,016",102,"Horror,Thriller",both
671,72,2019-12-31,355,"75,000,000",0,0,2019,"-75,000,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1224,25,2007-09-07,3:10 to Yuma,"48,000,000","53,606,916","71,171,825",2007,"23,171,825",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5339,40,2008-01-25,"4 luni, 3 saptamani si 2 zile","900,000","1,196,321","11,993,156",2008,"11,093,156",12,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5605,6,2015-01-01,4/11,"250,000",0,0,2015,"-250,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2882,83,2002-03-01,40 Days and 40 Nights,"17,000,000","37,939,782","95,092,667",2002,"78,092,667",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5344,45,2014-12-31,40 Weeks,"900,000",0,0,2014,"-900,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1821,22,2013-04-12,42,"31,000,000","95,020,213","97,470,701",2013,"66,470,701",2,tt0453562,8,"77,703",42,42,"2,013",128,"Biography,Drama,Sport",both
5502,3,1933-03-09,42nd Street,"439,000","1,438,000","2,281,000",1933,"1,842,000",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
111,12,2013-12-25,47 Ronin,"175,000,000","38,362,475","151,716,815",2013,"-23,283,185",-0,tt1335975,6,"135,754",47 Ronin,47 Ronin,"2,013",128,"Action,Adventure,Drama",both
3446,47,2011-08-19,5 Days of War,"12,000,000","17,479","87,793",2011,"-11,912,207",-1,tt1486193,6,"13,089",5 Days of War,5 Days of War,"2,011",113,"Action,Drama,War",both
638,39,2004-02-13,50 First Dates,"75,000,000","120,776,832","196,320,329",2004,"121,320,329",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3692,93,2014-03-21,50 to 1,"10,000,000","1,069,454","1,069,454",2014,"-8,930,546",-1,tt1777595,7,"1,739",50 to 1,50 to 1,"2,014",110,Drama,both
3872,73,2011-09-30,50/50,"8,000,000","35,016,118","41,334,735",2011,"33,334,735",4,tt1734060,8,11,50/50,50/50,"2,010",77,Documentary,both
5531,32,2006-10-18,51 Birch Street,"350,000","84,689","84,689",2006,"-265,311",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3278,79,1998-08-28,54,"13,000,000","16,757,163","16,757,163",1998,"3,757,163",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2898,99,1963-05-29,55 Days at Peking,"17,000,000","10,000,000","10,000,000",1963,"-7,000,000",-0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4847,48,2015-10-13,8 Days,"2,500,000",0,0,2015,"-2,500,000",-1,tt3111864,5,102,8 Days,8 Days,"2,014",90,"Drama,Thriller",both
4717,18,1997-04-18,8 Heads in a Duffel Bag,"3,000,000","3,602,884","4,002,884",1997,"1,002,884",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1369,70,2002-11-08,8 Mile,"41,000,000","116,724,075","245,768,384",2002,"204,768,384",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2841,42,1986-04-25,8 Million Ways to Die,"18,000,000","1,305,114","1,305,114",1986,"-16,694,886",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3908,9,2002-09-20,8 femmes,"8,000,000","3,076,425","42,376,425",2002,"34,376,425",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1963,64,2008-04-18,88 Minutes,"30,000,000","16,930,884","32,955,399",2008,"2,955,399",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4837,38,2010-06-18,8: The Mormon Proposition,"2,500,000","100,280","100,280",2010,"-2,399,720",-1,tt1484522,7,"1,190",8: The Mormon Proposition,8: The Mormon Proposition,"2,010",80,Documentary,both
1460,61,1999-02-26,8MM,"40,000,000","36,443,442","96,398,826",1999,"56,398,826",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1932,33,2009-09-09,9,"30,000,000","31,749,894","48,559,999",2009,"18,559,999",1,tt5719388,7,88,9,9,"2,016",nan,Comedy,both
4337,38,2015-09-11,90 Minutes in Heaven,"5,000,000","4,816,142","4,816,142",2015,"-183,858",-0,tt4337690,5,"3,105",90 Minutes in Heaven,90 Minutes in Heaven,"2,015",121,Drama,both
2039,40,2017-11-01,A Bad Moms Christmas,"28,000,000","72,110,659","127,710,550",2017,"99,710,550",4,tt6359956,6,"33,056",A Bad Moms Christmas,A Bad Moms Christmas,"2,017",104,"Adventure,Comedy",both
611,12,2001-12-21,A Beautiful Mind,"78,000,000","170,708,996","317,668,058",2001,"239,668,058",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3683,84,2011-06-24,A Better Life,"10,000,000","1,759,252","1,884,251",2011,"-8,115,749",-1,tt1554091,7,"14,602",A Better Life,A Better Life,"2,011",98,"Drama,Romance",both
2131,32,1977-06-15,A Bridge Too Far,"26,000,000","50,800,000","50,800,000",1977,"24,800,000",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1252,53,1998-11-20,A Bug's Life,"45,000,000","162,798,565","363,095,319",1998,"318,095,319",7,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5662,63,2009-10-06,A Charlie Brown Christmas,"150,000",0,0,2009,"-150,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4648,49,1983-11-18,A Christmas Story,"3,250,000","20,605,209","20,605,209",1983,"17,355,209",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2731,32,2004-07-16,A Cinderella Story,"19,000,000","51,438,175","70,164,105",2004,"51,164,105",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
886,87,1998-12-25,A Civil Action,"60,000,000","56,709,981","56,709,981",1998,"-3,290,019",-0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2668,69,2011-11-23,A Dangerous Method,"20,000,000","5,702,083","14,807,531",2011,"-5,192,469",-0,tt1571222,6,"93,259",A Dangerous Method,A Dangerous Method,"2,011",99,"Biography,Drama,Romance",both
4038,39,1999-08-27,A Dog of Flanders,"7,000,000","2,165,637","2,165,637",1999,"-4,834,363",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5674,75,2007-12-31,A Dog's Breakfast,"120,000",0,0,2007,"-120,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2185,86,2017-01-27,A Dogâs Purpose,"25,000,000","64,321,890","203,671,625",2017,"178,671,625",7,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
840,41,2019-01-11,A Dogâs Way Home,"61,000,000","41,952,715","81,149,689",2019,"20,149,689",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4315,16,1957-12-14,A Farewell To Arms,"5,000,000","11,000,000","11,017,403",1957,"6,017,403",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3154,55,2015-05-05,A Few Best Men,"15,000,000",0,"17,224,539",2015,"2,224,539",0,tt1640711,6,"12,069",A Few Best Men,A Few Best Men,"2,011",97,"Comedy,Romance",both
1769,70,1992-12-11,A Few Good Men,"33,000,000","141,340,178","236,500,000",1992,"203,500,000",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5317,18,2014-06-24,A Fine Step,"1,000,000",0,0,2014,"-1,000,000",-1,tt1604100,5,279,A Fine Step,A Fine Step,"2,014",111,Drama,both
4993,94,1966-10-16,A Funny Thing Happened on the Way to the Forum,"2,000,000",0,0,1966,"-2,000,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5685,86,2017-07-07,A Ghost Story,"100,000","1,594,798","2,769,782",2017,"2,669,782",27,tt6265828,7,"46,280",A Ghost Story,A Ghost Story,"2,017",92,"Drama,Fantasy,Romance",both
433,34,2013-02-14,A Good Day to Die Hard,"92,000,000","67,349,198","304,249,198",2013,"212,249,198",2,tt1606378,5,"188,383",A Good Day to Die Hard,A Good Day to Die Hard,"2,013",98,"Action,Thriller",both
1737,38,2006-11-10,A Good Year,"35,000,000","7,459,300","42,064,105",2006,"7,064,105",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4799,100,1943-12-24,A Guy Named Joe,"2,627,000","5,363,000","5,363,000",1943,"2,736,000",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2616,17,2003-01-17,A Guy Thing,"20,000,000","15,543,862","17,430,594",2003,"-2,569,406",-0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5420,21,1964-08-11,A Hard Day's Night,"560,000","1,537,860","1,626,784",1964,"1,066,784",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4811,12,2013-01-11,A Haunted House,"2,500,000","40,041,683","59,922,558",2013,"57,422,558",23,tt2243537,5,"40,308",A Haunted House,A Haunted House,"2,013",86,"Comedy,Fantasy",both
4488,89,2014-04-18,A Haunted House 2,"4,000,000","17,329,487","21,206,861",2014,"17,206,861",4,tt2828996,5,"18,085",A Haunted House 2,A Haunted House 2,"2,014",86,"Comedy,Fantasy",both
3822,23,2013-02-01,A Haunting in Connecticut 2: The Ghosts of Geo...,"9,000,000",0,0,2013,"-9,000,000",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1805,6,2005-09-23,A History of Violence,"32,000,000","31,493,782","61,477,797",2005,"29,477,797",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1746,47,2016-04-22,A Hologram for the King,"35,000,000","4,212,494","11,846,010",2016,"-23,153,990",-1,tt2980210,6,"36,062",A Hologram for the King,A Hologram for the King,"2,016",98,"Comedy,Drama,Romance",both
4101,2,2004-07-23,A Home at the End of the World,"6,500,000","1,029,017","1,033,810",2004,"-5,466,190",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1371,72,2001-05-11,A Knightâs Tale,"41,000,000","56,083,966","100,622,586",2001,"59,622,586",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1388,89,1992-07-01,A League of Their Own,"40,000,000","107,533,925","132,440,066",1992,"92,440,066",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3338,39,2012-05-04,A Little Bit of Heaven,"12,500,000","10,011","1,100,287",2012,"-11,399,713",-1,tt1440161,6,"26,441",A Little Bit of Heaven,A Little Bit of Heaven,"2,011",106,"Comedy,Drama,Fantasy",both
4555,56,2012-03-20,A Lonely Place to Die,"4,000,000",0,"442,550",2012,"-3,557,450",-1,tt1422136,6,"25,547",A Lonely Place to Die,A Lonely Place to Die,"2,011",99,"Adventure,Crime,Thriller",both
2247,48,2005-04-22,A Lot Like Love,"25,000,000","21,835,784","41,921,590",2005,"16,921,590",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3586,87,1994-11-23,A Low Down Dirty Shame,"10,000,000","29,317,886","29,317,886",1994,"19,317,886",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1613,14,2003-04-04,A Man Apart,"36,000,000","26,500,000","43,797,731",2003,"7,797,731",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4568,69,1966-12-12,A Man for All Seasons,"3,900,000","28,350,000","28,350,000",1966,"24,450,000",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4355,56,1992-04-24,A Midnight Clear,"5,000,000","1,526,697","1,526,697",1992,"-3,473,303",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3103,4,2007-06-22,A Mighty Heart,"15,000,000","9,176,787","19,153,568",2007,"4,153,568",0,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4134,35,2003-04-16,A Mighty Wind,"6,000,000","17,583,468","18,504,539",2003,"12,504,539",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1447,48,2014-05-30,A Million Ways to Die in The West,"40,000,000","42,720,965","86,778,557",2014,"46,778,557",1,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1340,41,2017-01-06,A Monster Calls,"43,000,000","3,740,823","46,414,530",2017,"3,414,530",0,tt3416532,8,"70,416",A Monster Calls,A Monster Calls,"2,016",108,"Animation,Drama,Fantasy",both
2667,68,2014-12-31,A Most Violent Year,"20,000,000","5,749,134","8,846,875",2014,"-11,153,125",-1,tt2937898,7,"60,165",A Most Violent Year,A Most Violent Year,"2,014",125,"Crime,Drama,Thriller",both

In [100]:
#slicing into two datasets. One where the merge with original_title worked, and one where it didn't.
correct_merge_df = merged_originals.loc[(merged_originals["_merge"] == "both")]
need_to_merge = merged_originals.loc[(merged_originals["_merge"] != "both")]

In [104]:
need_to_merge.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
15,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only

In [108]:
#locating Avatar and moving it to the correct_merge_df as I can tell from the release_year, and original_title
#that the horror movie Avatar is not the one that was the best grossing movie of all time.
avatar = merged_originals.loc[(merged_originals['movie'] == 'Avatar')]
avatar

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only

In [106]:
avatar

Empty DataFrame
Columns: [id, release_date, movie, production_budget, domestic_gross, worldwide_gross, release_year, total_profit, ROI, tconst, averagerating, numvotes, primary_title, original_title, start_year, runtime_minutes, genres, _merge]
Index: []

In [114]:
correct_merge_df = correct_merge_df.append(avatar, ignore_index = True)

In [116]:
correct_merge_df.sort_values('total_profit', ascending=False).head(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
2123,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
28,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997,"2,008,208,395",10,tt2495766,6,20,Titanic,Titanic,"2,012",nan,Adventure,both
3,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6,tt4154756,8,"670,926",Avengers: Infinity War,Avengers: Infinity War,"2,018",149,"Action,Adventure,Sci-Fi",both
23,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015,"1,433,854,864",7,tt0369610,7,"539,338",Jurassic World,Jurassic World,"2,015",124,"Action,Adventure,Sci-Fi",both
18,27,2012-05-04,The Avengers,"225,000,000","623,279,547","1,517,935,897",2012,"1,292,935,897",6,tt0848228,8,"1,183,655",The Avengers,The Avengers,"2,012",143,"Action,Adventure,Sci-Fi",both

In [118]:
#now merging need_to_merge  with primary name.
merged_with_primary = pd.merge(need_to_merge, imdb_df, left_on= 'movie', right_on= 'primary_title', how='left', indicator=True)
merged_with_primary.head()

ValueError: Cannot use name of an existing column for indicator column

In [119]:
#need to drop the indicator column if I want to use it again.
need_to_merge = need_to_merge.drop(['_merge'], axis=1)
need_to_merge.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN
15,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN

In [124]:
#dropping Avatar as I know that it is not merging correctly.
need_to_merge = need_to_merge.drop(0)
need_to_merge.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN
15,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN
19,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN

In [126]:
merged_with_primary = pd.merge(need_to_merge, imdb_df, left_on= 'movie', right_on= 'primary_title', how='left', indicator=True)
merged_with_primary.head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst_x,...,genres_x,tconst_y,averagerating_y,numvotes_y,primary_title_y,original_title_y,start_year_y,runtime_minutes_y,genres_y,_merge
0,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5,24,2006-06-28,Superman Returns,"232,000,000","200,120,000","374,085,065",2006,"142,085,065",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
6,26,2008-11-14,Quantum of Solace,"230,000,000","169,368,427","591,692,078",2008,"361,692,078",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
7,28,2006-07-07,Pirates of the Caribbean: Dead Manâs Chest,"225,000,000","423,315,812","1,066,215,812",2006,"841,215,812",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
8,30,2008-05-16,The Chronicles of Narnia: Prince Caspian,"225,000,000","141,621,490","417,341,288",2008,"192,341,288",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
9,36,2009-06-24,Transformers: Revenge of the Fallen,"210,000,000","402,111,870","836,519,699",2009,"626,519,699",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
10,38,2006-05-26,X-Men: The Last Stand,"210,000,000","234,362,462","459,260,946",2006,"249,260,946",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
11,40,2005-12-14,King Kong,"207,000,000","218,080,025","550,517,357",2005,"343,517,357",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
12,41,2007-12-07,The Golden Compass,"205,000,000","70,107,728","367,262,558",2007,"162,262,558",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
13,45,2016-12-16,Rogue One: A Star Wars Story,"200,000,000","532,177,324","1,049,102,856",2016,"849,102,856",4,NaN,...,NaN,tt3748528,8,"478,592",Rogue One: A Star Wars Story,Rogue One,"2,016",133,"Action,Adventure,Sci-Fi",both
14,48,2013-05-03,Iron Man 3,"200,000,000","408,992,272","1,215,392,272",2013,"1,015,392,272",5,NaN,...,NaN,tt1300854,7,"692,794",Iron Man 3,Iron Man Three,"2,013",130,"Action,Adventure,Sci-Fi",both
15,49,2017-05-05,Guardians of the Galaxy Vol 2,"200,000,000","389,813,101","862,316,233",2017,"662,316,233",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
16,50,2004-06-30,Spider-Man 2,"200,000,000","373,524,485","795,110,670",2004,"595,110,670",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
17,58,2010-12-17,Tron: Legacy,"200,000,000","172,062,763","400,062,763",2010,"200,062,763",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
18,59,2009-11-13,2012,"200,000,000","166,112,167","757,677,748",2009,"557,677,748",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
19,61,2009-05-21,Terminator Salvation,"200,000,000","125,322,469","365,491,792",2009,"165,491,792",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
20,63,2010-05-28,Prince of Persia: Sands of Time,"200,000,000","90,759,676","336,359,676",2010,"136,359,676",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
21,67,2015-04-03,Furious 7,"190,000,000","353,007,020","1,518,722,794",2015,"1,328,722,794",7,NaN,...,NaN,tt2820852,7,"335,074",Furious 7,Furious Seven,"2,015",137,"Action,Crime,Thriller",both
22,71,2009-11-06,Disneyâs A Christmas Carol,"190,000,000","137,855,863","315,709,697",2009,"125,709,697",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
23,74,2008-05-02,Iron Man,"186,000,000","318,604,126","585,171,547",2008,"399,171,547",2,NaN,...,NaN,tt3375556,6,14,Iron Man,Adam Ahani,"2,013",84,"Comedy,Drama,Family",both
24,75,2008-07-18,The Dark Knight,"185,000,000","533,720,947","1,001,996,207",2008,"816,996,207",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
25,76,2008-05-22,Indiana Jones and the Kingdom of the Crystal S...,"185,000,000","317,101,119","786,635,413",2008,"601,635,413",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
26,83,2005-12-09,"The Chronicles of Narnia: The Lion, the Witch ...","180,000,000","291,710,957","720,539,572",2005,"540,539,572",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
27,86,2008-06-27,WALL-E,"180,000,000","223,808,164","532,508,025",2008,"352,508,025",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
28,87,2007-08-10,Rush Hour 3,"180,000,000","140,125,968","256,585,882",2007,"76,585,882",0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
29,92,2018-07-27,Mission: ImpossibleâFallout,"178,000,000","220,159,104","787,456,552",2018,"609,456,552",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
30,1,2009-05-29,Up,"175,000,000","293,004,164","731,463,377",2009,"556,463,377",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
31,3,2018-11-21,Ralph Breaks The Internet,"175,000,000","201,091,711","524,283,695",2018,"349,283,695",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
32,4,2009-03-27,Monsters vs. Aliens,"175,000,000","198,351,526","381,687,380",2009,"206,687,380",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
33,6,2009-08-07,G.I. Joe: The Rise of Cobra,"175,000,000","150,201,498","302,469,017",2009,"127,469,017",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
34,7,1999-06-30,Wild Wild West,"175,000,000","113,805,681","221,229,335",1999,"46,229,335",0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
35,8,2008-08-01,The Mummy: Tomb of the Dragon Emperor,"175,000,000","102,491,776","405,760,225",2008,"230,760,225",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
36,9,2007-06-22,Evan Almighty,"175,000,000","100,289,690","174,131,329",2007,"-868,671",-0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
37,10,1995-07-28,Waterworld,"175,000,000","88,246,220","264,246,220",1995,"89,246,220",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
38,18,2004-11-10,The Polar Express,"170,000,000","187,224,605","311,365,187",2004,"141,365,187",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
39,20,2003-07-01,Terminator 3: Rise of the Machines,"170,000,000","150,358,296","433,058,296",2003,"263,058,296",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
40,21,2004-05-07,Van Helsing,"170,000,000","120,150,546","300,150,546",2004,"130,150,546",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
41,34,2011-07-29,Cowboys and Aliens,"163,000,000","100,368,560","176,038,324",2011,"13,038,324",0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
42,37,2007-05-17,Shrek the Third,"160,000,000","322,719,944","807,330,936",2007,"647,330,936",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
43,40,2013-05-24,Fast and Furious 6,"160,000,000","238,679,850","789,300,444",2013,"629,300,444",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
44,42,2011-06-03,X-Men: First Class,"160,000,000","146,408,305","355,408,305",2011,"195,408,305",1,NaN,...,NaN,tt1270798,8,"608,930",X-Men: First Class,X: First Class,"2,011",131,"Action,Adventure,Sci-Fi",both
45,43,2008-12-25,The Curious Case of Benjamin Button,"160,000,000","127,509,326","329,631,958",2008,"169,631,958",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
46,45,2006-05-12,Poseidon,"160,000,000","60,674,817","181,674,817",2006,"21,674,817",0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
47,49,2015-07-01,Terminator: Genisys,"155,000,000","89,760,956","432,150,894",2015,"277,150,894",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
48,51,2004-11-24,Alexander,"155,000,000","34,297,191","167,297,191",2004,"12,297,191",0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
49,53,2001-05-25,Pearl Harbor,"151,500,000","198,539,855","449,239,855",2001,"297,739,855",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
50,54,2007-07-02,Transformers,"151,000,000","319,246,193","708,272,592",2007,"557,272,592",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
51,58,2007-07-11,Harry Potter and the Order of the Phoenix,"150,000,000","292,137,260","943,076,457",2007,"793,076,457",5,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
52,59,2005-11-18,Harry Potter and the Goblet of Fire,"150,000,000","290,201,752","897,099,794",2005,"747,099,794",5,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
53,60,2003-05-15,The Matrix Reloaded,"150,000,000","281,553,689","738,576,929",2003,"588,576,929",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
54,61,2007-12-14,I am Legend,"150,000,000","256,393,010","585,532,684",2007,"435,532,684",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
55,63,2008-07-01,Hancock,"150,000,000","227,946,274","624,234,272",2008,"474,234,272",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
56,64,2005-07-15,Charlie and the Chocolate Factory,"150,000,000","206,459,076","475,825,484",2005,"325,825,484",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
57,65,2007-06-29,Ratatouille,"150,000,000","206,445,654","626,549,695",2007,"476,549,695",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
58,67,2005-06-15,Batman Begins,"150,000,000","205,343,774","359,142,722",2005,"209,142,722",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
59,68,2015-07-31,Mission: ImpossibleâRogue Nation,"150,000,000","195,042,377","688,858,992",2015,"538,858,992",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
60,71,2008-11-07,Madagascar: Escape 2 Africa,"150,000,000","180,174,880","599,680,774",2008,"449,680,774",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
61,72,2009-05-01,X-Men Origins: Wolverine,"150,000,000","179,883,157","374,825,760",2009,"224,825,760",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
62,73,2009-05-22,Night at the Museum: Battle of the Smithsonian,"150,000,000","177,243,721","402,231,063",2009,"252,231,063",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
63,76,2019-05-10,PokÃ©mon: Detective Pikachu,"150,000,000","139,507,806","411,258,433",2019,"261,258,433",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
64,77,2003-11-05,The Matrix Revolutions,"150,000,000","139,270,910","427,300,260",2003,"277,300,260",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
65,79,2005-11-04,Chicken Little,"150,000,000","135,386,665","310,043,823",2005,"160,043,823",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
66,80,2006-05-05,Mission: Impossible III,"150,000,000","133,501,348","397,501,348",2006,"247,501,348",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
67,81,2009-05-15,Angels & Demons,"150,000,000","133,375,846","490,875,846",2009,"340,875,846",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
68,82,2004-05-14,Troy,"150,000,000","133,298,577","484,161,265",2004,"334,161,265",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
69,84,2007-11-02,Bee Movie,"150,000,000","126,631,277","287,594,577",2007,"137,594,577",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
70,85,2009-07-24,G-Force,"150,000,000","119,436,770","292,817,841",2009,"142,817,841",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
71,86,2008-11-21,Bolt,"150,000,000","114,053,579","328,015,029",2008,"178,015,029",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
72,88,2007-11-16,Beowulf,"150,000,000","82,280,579","195,080,579",2007,"45,080,579",0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
73,95,2020-12-31,Moonfall,"150,000,000",0,0,2020,"-150,000,000",-1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
74,96,2006-11-03,Flushed Away,"149,000,000","64,665,672","179,357,126",2006,"30,357,126",0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
75,98,2011-12-16,Mission: ImpossibleâGhost Protocol,"145,000,000","209,397,903","694,713,230",2011,"549,713,230",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
76,5,2002-11-22,Die Another Day,"142,000,000","160,942,139","431,942,139",2002,"289,942,139",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
77,6,2003-07-09,Pirates of the Caribbean: The Curse of the Bla...,"140,000,000","305,411,224","634,954,103",2003,"494,954,103",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
78,7,2009-05-08,Star Trek,"140,000,000","257,730,019","386,839,614",2009,"246,839,614",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
79,8,1998-07-01,Armageddon,"140,000,000","201,578,182","554,600,000",1998,"414,600,000",3,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
80,9,2002-07-03,Men in Black 2,"140,000,000","190,418,803","441,767,803",2002,"301,767,803",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
81,12,1998-07-10,Lethal Weapon 4,"140,000,000","130,444,603","285,400,000",1998,"145,400,000",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
82,14,2003-12-05,The Last Samurai,"140,000,000","111,110,575","456,810,575",2003,"316,810,575",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
83,15,2005-12-21,Fun With Dick And Jane,"140,000,000","110,550,000","203,018,919",2005,"63,018,919",0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
84,19,2002-05-03,Spider-Man,"139,000,000","403,706,375","821,706,375",2002,"682,706,375",5,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
85,20,2009-03-06,Watchmen,"138,000,000","107,509,799","186,976,250",2009,"48,976,250",0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
86,21,2005-07-29,Stealth,"138,000,000","32,116,746","76,416,746",2005,"-61,583,254",-0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
87,22,2008-06-13,The Incredible Hulk,"137,500,000","134,806,913","265,573,859",2008,"128,073,859",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
88,23,2003-06-20,Hulk,"137,000,000","132,177,234","245,075,434",2003,"108,075,434",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
89,24,2001-07-11,Final Fantasy: The Spirits Within,"137,000,000","32,131,830","85,131,830",2001,"-51,868,170",-0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
90,25,2012-11-16,"The Twilight Saga: Breaking Dawn, Part 2","136,200,000","292,324,737","829,724,737",2012,"693,524,737",5,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
91,28,1999-11-19,The World is Not Enough,"135,000,000","126,930,660","361,730,660",1999,"226,730,660",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
92,30,2003-11-14,Master and Commander: The Far Side of the World,"135,000,000","93,926,386","212,912,137",2003,"77,912,137",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
93,34,2006-07-28,Miami Vice,"135,000,000","63,478,838","163,818,556",2006,"28,818,556",0,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
94,39,2004-06-04,Harry Potter and the Prisoner of Azkaban,"130,000,000","249,757,726","796,907,323",2004,"666,907,323",5,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
95,40,2007-08-03,The Bourne Ultimatum,"130,000,000","227,471,070","444,043,396",2007,"314,043,396",2,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
96,42,2008-06-06,Kung Fu Panda,"130,000,000","215,434,591","631,910,531",2008,"501,910,531",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
97,48,2003-07-18,Bad Boys II,"130,000,000","138,540,870","273,271,982",2003,"143,271,982",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
98,54,2008-11-26,Australia,"130,000,000","49,554,002","215,080,810",2008,"85,080,810",1,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
99,57,2011-11-18,"The Twilight Saga: Breaking Dawn, Part 1","127,500,000","281,287,133","689,420,051",2011,"561,920,051",4,NaN,...,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only

In [134]:
#combining the two dataframes so that I have all of the movies from table 9, now with the merged data from imdb.
project_df = pd.concat([merged_with_primary, correct_merge_df], ignore_index=True)
project_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst_x,...,genres_y,_merge,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,...,NaN,left_only,NaN,nan,nan,NaN,NaN,nan,nan,NaN
1,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,...,NaN,left_only,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,...,NaN,left_only,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,...,NaN,left_only,NaN,nan,nan,NaN,NaN,nan,nan,NaN
4,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,NaN,...,NaN,left_only,NaN,nan,nan,NaN,NaN,nan,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5792,68,2001-07-06,Cure,"10,000","94,596","94,596",2001,"84,596",8,NaN,...,NaN,both,tt1872026,5,11,Cure,Cure,"2,011",93,Drama
5793,73,2012-01-13,Newlyweds,"9,000","4,584","4,584",2012,"-4,416",-0,NaN,...,NaN,both,tt1880418,6,"1,436",Newlyweds,Newlyweds,"2,011",95,"Comedy,Drama"
5794,78,2018-12-31,Red 11,"7,000",0,0,2018,"-7,000",-1,NaN,...,NaN,both,tt7837402,6,43,Red 11,Red 11,"2,019",77,"Horror,Sci-Fi,Thriller"
5795,81,2015-09-29,A Plague So Pleasant,"1,400",0,0,2015,"-1,400",-1,NaN,...,NaN,both,tt2107644,5,72,A Plague So Pleasant,A Plague So Pleasant,"2,013",76,"Drama,Horror,Thriller"
5796,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,...,NaN,left_only,NaN,nan,nan,NaN,NaN,nan,nan,NaN

In [185]:
project_df.sort_values('genres_y', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,averagerating_y,numvotes_y,runtime_minutes_y,genres_y,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
2375,46,2014-02-07,Nurse 3D,"10,000,000",0,0,2014,"-10,000,000",-1,5,"8,768",84,"Horror,Thriller",nan,nan,NaN,NaN,nan,nan,NaN
282,73,1997-08-08,Conspiracy Theory,"80,000,000","76,118,990","142,783,718",1997,"62,783,718",1,6,688,79,"Horror,Thriller",nan,nan,NaN,NaN,nan,nan,NaN
2942,94,2016-02-19,The Witch,"3,500,000","25,138,705","40,454,520",2016,"36,954,520",11,7,"154,278",92,"Horror,Mystery",nan,nan,NaN,NaN,nan,nan,NaN
3399,12,2012-10-09,Truth or Die,"1,000,000",0,0,2012,"-1,000,000",-1,6,"8,123",96,"Horror,Mystery",nan,nan,NaN,NaN,nan,nan,NaN
2708,26,2003-10-03,Wonderland,"5,500,000","1,060,512","1,060,512",2003,"-4,439,488",-1,5,159,80,"Fantasy,Horror,Sci-Fi",nan,nan,NaN,NaN,nan,nan,NaN
2614,3,2001-08-17,Aberdeen,"6,500,000","64,148","64,148",2001,"-6,435,852",-1,6,566,97,Family,nan,nan,NaN,NaN,nan,nan,NaN
1129,61,2004-06-25,The Notebook,"30,000,000","81,001,787","116,025,023",2004,"86,025,023",3,7,"2,767",112,"Drama,War",nan,nan,NaN,NaN,nan,nan,NaN
2968,32,2015-06-05,Dawn Patrol,"3,500,000",0,0,2015,"-3,500,000",-1,5,615,88,"Drama,Thriller",nan,nan,NaN,NaN,nan,nan,NaN
748,63,1994-07-20,The Client,"45,000,000","92,115,211","117,615,211",1994,"72,615,211",2,7,"1,186",123,"Drama,Thriller",nan,nan,NaN,NaN,nan,nan,NaN
2576,44,2007-02-02,Factory Girl,"7,000,000","1,661,464","1,661,464",2007,"-5,338,536",-1,7,"1,010",90,"Drama,Romance",nan,nan,NaN,NaN,nan,nan,NaN
3225,42,2014-02-28,The Lunchbox,"1,700,000","4,231,500","12,231,500",2014,"10,531,500",6,8,"42,618",104,"Drama,Romance",nan,nan,NaN,NaN,nan,nan,NaN
3400,14,2014-01-07,Hidden Away,"1,000,000",0,0,2014,"-1,000,000",-1,7,"1,820",96,"Drama,Romance",nan,nan,NaN,NaN,nan,nan,NaN
1734,92,2003-12-05,Honey,"18,000,000","30,272,254","62,646,763",2003,"44,646,763",2,7,95,105,"Drama,Romance",nan,nan,NaN,NaN,nan,nan,NaN
2789,60,2014-09-12,Atlas Shrugged: Who Is John Galt?,"5,000,000","851,690","851,690",2014,"-4,148,310",-1,4,"2,661",99,"Drama,Mystery,Sci-Fi",nan,nan,NaN,NaN,nan,nan,NaN
297,89,2001-06-08,Evolution,"80,000,000","38,311,134","98,341,932",2001,"18,341,932",0,6,"5,266",81,"Drama,Mystery,Sci-Fi",nan,nan,NaN,NaN,nan,nan,NaN
2962,27,2006-10-01,The Secret,"3,500,000",0,0,2006,"-3,500,000",-1,6,76,109,"Drama,Mystery,Romance",nan,nan,NaN,NaN,nan,nan,NaN
1433,31,2012-11-09,Dangerous Liaisons,"24,200,000","17,000","10,447,579",2012,"-13,752,421",-1,6,"1,694",110,"Drama,Mystery,Romance",nan,nan,NaN,NaN,nan,nan,NaN
2012,88,1988-12-21,Dangerous Liaisons,"14,000,000","34,700,000","34,700,000",1988,"20,700,000",1,6,"1,694",110,"Drama,Mystery,Romance",nan,nan,NaN,NaN,nan,nan,NaN
2084,97,2010-03-26,Chloe,"13,000,000","3,075,255","11,831,131",2010,"-1,168,869",-0,7,34,73,"Drama,Music,Romance",nan,nan,NaN,NaN,nan,nan,NaN
2171,27,1999-03-19,Ravenous,"12,000,000","2,062,406","2,062,406",1999,"-9,937,594",-1,6,"5,970",104,"Drama,Horror,Sci-Fi",nan,nan,NaN,NaN,nan,nan,NaN
2357,11,2013-05-03,"Cinco de Mayo, La Batalla","10,000,000","173,472","173,472",2013,"-9,826,528",-1,6,799,125,"Drama,History,War",nan,nan,NaN,NaN,nan,nan,NaN
903,100,2012-12-21,The Impossible,"40,000,000","19,019,882","169,590,606",2012,"129,590,606",3,8,"177,762",114,"Drama,History,Thriller",nan,nan,NaN,NaN,nan,nan,NaN
247,19,2002-03-15,Showtime,"85,000,000","37,948,765","78,948,765",2002,"-6,051,235",-0,4,20,100,"Drama,Fantasy,Musical",nan,nan,NaN,NaN,nan,nan,NaN
2177,36,2001-07-20,Brother,"12,000,000","450,594","450,594",2001,"-11,549,406",-1,7,"2,381",97,"Drama,Family,Sport",nan,nan,NaN,NaN,nan,nan,NaN
1735,92,2003-12-05,Honey,"18,000,000","30,272,254","62,646,763",2003,"44,646,763",2,7,"6,221",103,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1566,38,2009-07-24,Orphan,"20,000,000","41,596,251","78,769,428",2009,"58,769,428",3,6,584,111,Drama,nan,nan,NaN,NaN,nan,nan,NaN
2740,86,1997-12-17,The Apostle,"5,000,000","20,733,485","21,277,770",1997,"16,277,770",3,7,88,117,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1493,16,1995-07-28,The Net,"22,000,000","50,621,733","110,521,733",1995,"88,521,733",4,7,"2,098",114,Drama,nan,nan,NaN,NaN,nan,nan,NaN
2238,24,2004-12-25,Darkness,"10,600,000","22,163,442","34,409,206",2004,"23,809,206",2,5,194,nan,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1494,16,1995-07-28,The Net,"22,000,000","50,621,733","110,521,733",1995,"88,521,733",4,5,18,75,Drama,nan,nan,NaN,NaN,nan,nan,NaN
2710,26,2003-10-03,Wonderland,"5,500,000","1,060,512","1,060,512",2003,"-4,439,488",-1,6,206,99,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1551,12,2009-04-24,Obsessed,"20,000,000","68,261,644","73,964,713",2009,"53,964,713",3,6,758,132,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1643,54,2005-09-09,The Man,"20,000,000","8,330,720","10,393,696",2005,"-9,606,304",-0,6,513,94,Drama,nan,nan,NaN,NaN,nan,nan,NaN
3394,6,2003-10-24,The Party's Over,"1,000,000",0,0,2003,"-1,000,000",-1,6,123,93,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1738,96,1989-12-13,Glory,"18,000,000","26,593,580","26,593,580",1989,"8,593,580",0,8,"1,622",101,Drama,nan,nan,NaN,NaN,nan,nan,NaN
2458,76,2002-10-11,Brown Sugar,"8,000,000","27,362,712","28,315,272",2002,"20,315,272",3,4,36,120,Drama,nan,nan,NaN,NaN,nan,nan,NaN
2119,47,1986-12-12,The Golden Child,"12,000,000","79,817,937","79,817,937",1986,"67,817,937",6,6,7,86,Drama,nan,nan,NaN,NaN,nan,nan,NaN
2629,18,1980-09-19,Ordinary People,"6,000,000","52,302,978","52,302,978",1980,"46,302,978",8,7,128,107,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1733,92,2003-12-05,Honey,"18,000,000","30,272,254","62,646,763",2003,"44,646,763",2,7,"1,704",96,Drama,nan,nan,NaN,NaN,nan,nan,NaN
2453,68,1986-08-08,Stand by Me,"8,000,000","52,287,414","52,287,414",1986,"44,287,414",6,7,96,91,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1424,5,2008-10-03,Blindness,"25,000,000","3,073,392","20,052,958",2008,"-4,947,042",-0,5,114,115,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1994,70,1992-08-07,Unforgiven,"14,400,000","101,157,447","159,157,447",1992,"144,757,447",10,6,562,106,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1384,46,2007-08-24,War,"25,000,000","22,486,409","40,686,409",2007,"15,686,409",1,7,204,106,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1081,90,1996-07-05,Phenomenon,"32,000,000","104,636,382","152,036,382",1996,"120,036,382",4,6,5,nan,Drama,nan,nan,NaN,NaN,nan,nan,NaN
215,68,1997-04-04,The Saint,"90,000,000","61,363,304","169,400,000",1997,"79,400,000",1,6,516,96,Drama,nan,nan,NaN,NaN,nan,nan,NaN
3172,48,2008-01-18,Teeth,"2,000,000","347,578","2,350,641",2008,"350,641",0,9,25,71,Drama,nan,nan,NaN,NaN,nan,nan,NaN
3151,15,2003-08-20,Thirteen,"2,000,000","4,601,043","9,505,996",2003,"7,505,996",4,6,535,100,Drama,nan,nan,NaN,NaN,nan,nan,NaN
594,36,1996-08-02,Chain Reaction,"55,000,000","21,226,204","60,209,334",1996,"5,209,334",0,3,37,100,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1294,14,1999-11-24,Flawless,"27,000,000","4,485,485","4,485,485",1999,"-22,514,515",-1,6,34,97,Drama,nan,nan,NaN,NaN,nan,nan,NaN
3037,40,1996-08-23,Freeway,"3,000,000","295,493","295,493",1996,"-2,704,507",-1,6,48,90,Drama,nan,nan,NaN,NaN,nan,nan,NaN
796,32,1996-02-02,The Juror,"44,000,000","22,730,924","22,730,924",1996,"-21,269,076",-0,6,13,114,Drama,nan,nan,NaN,NaN,nan,nan,NaN
2912,49,2002-12-27,Sonny,"4,000,000","17,639","17,639",2002,"-3,982,361",-1,6,47,90,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1198,72,2005-12-25,The New World,"30,000,000","12,712,093","26,184,400",2005,"-3,815,600",-0,5,47,90,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1243,45,2004-02-06,Miracle,"28,000,000","64,378,093","64,474,705",2004,"36,474,705",1,7,7,100,Drama,nan,nan,NaN,NaN,nan,nan,NaN
2327,61,2000-04-05,Black and White,"10,000,000","5,241,315","5,241,315",2000,"-4,758,685",-0,6,843,90,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1241,45,2004-02-06,Miracle,"28,000,000","64,378,093","64,474,705",2004,"36,474,705",1,6,114,78,Drama,nan,nan,NaN,NaN,nan,nan,NaN
1195,69,2004-04-30,Godsend,"30,000,000","14,334,645","16,910,708",2004,"-13,089,292",-0,6,35,107,Drama,nan,nan,NaN,NaN,nan,nan,NaN
972,5,2018-10-05,A Star is Born,"36,000,000","215,288,866","433,449,571",2018,"397,449,571",11,5,15,75,"Documentary,Music",nan,nan,NaN,NaN,nan,nan,NaN
2159,13,1993-09-03,Fortress,"12,000,000","6,730,578","46,730,578",1993,"34,730,578",3,7,31,70,"Documentary,Drama,News",nan,nan,NaN,NaN,nan,nan,NaN
3179,57,2014-09-19,Pump,"2,000,000","72,277","72,277",2014,"-1,927,723",-1,8,608,88,Documentary,nan,nan,NaN,NaN,nan,nan,NaN
1199,72,2005-12-25,The New World,"30,000,000","12,712,093","26,184,400",2005,"-3,815,600",-0,7,74,88,Documentary,nan,nan,NaN,NaN,nan,nan,NaN
2963,27,2006-10-01,The Secret,"3,500,000",0,0,2006,"-3,500,000",-1,6,18,89,Documentary,nan,nan,NaN,NaN,nan,nan,NaN
394,27,1998-11-06,The Siege,"70,000,000","40,934,175","116,625,798",1998,"46,625,798",1,7,20,88,Documentary,nan,nan,NaN,NaN,nan,nan,NaN
2617,7,2007-10-10,Control,"6,400,000","871,577","8,902,141",2007,"2,502,141",0,6,218,90,"Crime,Mystery,Sci-Fi",nan,nan,NaN,NaN,nan,nan,NaN
3438,86,2016-01-05,Adulterers,"750,000",0,0,2016,"-750,000",-1,5,"1,377",91,"Crime,Drama,Thriller",nan,nan,NaN,NaN,nan,nan,NaN
1472,88,2000-08-25,The Crew,"23,000,000","13,019,253","13,019,253",2000,"-9,980,747",-0,6,"3,030",81,"Crime,Drama,Thriller",nan,nan,NaN,NaN,nan,nan,NaN
421,74,2002-03-15,Ice Age,"65,000,000","176,387,405","386,116,343",2002,"321,116,343",5,6,754,106,"Crime,Drama,Family",nan,nan,NaN,NaN,nan,nan,NaN
3053,69,1967-09-18,Point Blank,"3,000,000",0,0,1967,"-3,000,000",-1,8,15,92,"Crime,Documentary,History",nan,nan,NaN,NaN,nan,nan,NaN
3203,4,1987-05-08,River's Edge,"1,900,000","4,600,000","4,600,000",1987,"2,700,000",1,6,409,118,Crime,nan,nan,NaN,NaN,nan,nan,NaN
420,72,2000-12-15,What Women Want,"65,000,000","182,805,123","374,105,123",2000,"309,105,123",5,6,"1,152",116,"Comedy,Romance,Sci-Fi",nan,nan,NaN,NaN,nan,nan,NaN
3114,57,2014-11-14,Always Woodstock,"2,400,000",0,0,2014,"-2,400,000",-1,5,661,97,"Comedy,Music,Romance",nan,nan,NaN,NaN,nan,nan,NaN
895,88,2007-04-05,The Reaping,"40,000,000","25,126,214","62,226,214",2007,"22,226,214",1,5,36,84,"Comedy,Horror,Thriller",nan,nan,NaN,NaN,nan,nan,NaN
3106,44,2013-06-21,Alien Uprising,"2,500,000",0,0,2013,"-2,500,000",-1,3,"3,166",101,"Comedy,Horror,Sci-Fi",nan,nan,NaN,NaN,nan,nan,NaN
3246,74,1945-10-31,Spellbound,"1,500,000","7,000,000","7,000,000",1945,"5,500,000",4,7,"2,485",114,"Comedy,Horror,Romance",nan,nan,NaN,NaN,nan,nan,NaN
3201,96,2015-03-20,The Walking Deceased,"2,000,000",0,0,2015,"-2,000,000",-1,4,"2,914",88,"Comedy,Horror",nan,nan,NaN,NaN,nan,nan,NaN
3278,25,2013-04-05,Eddie: The Sleepwalking Cannibal,"1,400,000","1,632","1,632",2013,"-1,398,368",-1,6,"1,364",90,"Comedy,Horror",nan,nan,NaN,NaN,nan,nan,NaN
2178,36,2001-07-20,Brother,"12,000,000","450,594","450,594",2001,"-11,549,406",-1,6,452,115,"Comedy,Drama,Thriller",nan,nan,NaN,NaN,nan,nan,NaN
2738,82,2000-10-13,Billy Elliot,"5,000,000","21,995,263","109,253,745",2000,"104,253,745",21,8,"1,109",169,"Comedy,Drama,Music",nan,nan,NaN,NaN,nan,nan,NaN
23,74,2008-05-02,Iron Man,"186,000,000","318,604,126","585,171,547",2008,"399,171,547",2,6,14,84,"Comedy,Drama,Family",nan,nan,NaN,NaN,nan,nan,NaN
521,22,2000-09-15,Almost Famous,"60,000,000","32,522,352","47,371,191",2000,"-12,628,809",-0,4,23,95,"Comedy,Drama,Family",nan,nan,NaN,NaN,nan,nan,NaN
2820,15,2015-03-10,Treading Water,"4,700,000",0,0,2015,"-4,700,000",-1,6,515,92,"Comedy,Drama",nan,nan,NaN,NaN,nan,nan,NaN
3570,3,2015-12-31,Shooting the Warwicks,"250,000",0,0,2015,"-250,000",-1,6,115,95,"Comedy,Drama",nan,nan,NaN,NaN,nan,nan,NaN
3558,79,1997-03-28,Love and Other Catastrophes,"250,000","212,285","743,216",1997,"493,216",2,6,70,100,"Comedy,Drama",nan,nan,NaN,NaN,nan,nan,NaN
3273,13,2014-11-11,Once Upon a Time in Queens,"1,500,000",0,0,2014,"-1,500,000",-1,6,354,98,"Comedy,Drama",nan,nan,NaN,NaN,nan,nan,NaN
2826,23,2007-10-19,Out of the Blue,"4,600,000",728,"731,767",2007,"-3,868,233",-1,6,760,108,"Comedy,Drama",nan,nan,NaN,NaN,nan,nan,NaN
1242,45,2004-02-06,Miracle,"28,000,000","64,378,093","64,474,705",2004,"36,474,705",1,7,420,91,"Comedy,Drama",nan,nan,NaN,NaN,nan,nan,NaN
2709,26,2003-10-03,Wonderland,"5,500,000","1,060,512","1,060,512",2003,"-4,439,488",-1,6,76,92,"Comedy,Drama",nan,nan,NaN,NaN,nan,nan,NaN
2053,52,2004-01-23,The Butterfly Effect,"13,000,000","57,924,679","95,638,592",2004,"82,638,592",6,7,104,85,"Comedy,Crime,Drama",nan,nan,NaN,NaN,nan,nan,NaN
983,23,2003-03-28,Head of State,"35,200,000","37,788,228","38,283,765",2003,"3,083,765",0,8,67,nan,Comedy,nan,nan,NaN,NaN,nan,nan,NaN
1144,81,2009-01-09,Bride Wars,"30,000,000","58,715,510","115,150,424",2009,"85,150,424",3,4,147,90,Comedy,nan,nan,NaN,NaN,nan,nan,NaN
2311,33,1999-07-23,Drop Dead Gorgeous,"10,000,000","10,571,408","10,571,408",1999,"571,408",0,5,239,100,Comedy,nan,nan,NaN,NaN,nan,nan,NaN
3636,27,2013-10-25,A True Story,"45,000",0,0,2013,"-45,000",-1,5,211,96,Comedy,nan,nan,NaN,NaN,nan,nan,NaN
2707,26,2003-10-03,Wonderland,"5,500,000","1,060,512","1,060,512",2003,"-4,439,488",-1,4,259,80,Comedy,nan,nan,NaN,NaN,nan,nan,NaN
3382,89,2000-09-22,The Specials,"1,000,000","12,996","12,996",2000,"-987,004",-1,7,13,nan,Comedy,nan,nan,NaN,NaN,nan,nan,NaN
2028,9,2001-02-02,Head Over Heels,"14,000,000","10,397,365","10,397,365",2001,"-3,602,635",-0,6,"1,952",101,Comedy,nan,nan,NaN,NaN,nan,nan,NaN
1114,45,2013-08-16,Lee Daniels' The Butler,"30,000,000","116,632,095","177,025,498",2013,"147,025,498",5,7,"102,468",132,"Biography,Drama",nan,nan,NaN,NaN,nan,nan,NaN
2741,86,1997-12-17,The Apostle,"5,000,000","20,733,485","21,277,770",1997,"16,277,770",3,7,514,80,"Animation,Horror",nan,nan,NaN,NaN,nan,nan,NaN
1819,22,2006-08-18,The Illusionist,"16,500,000","39,868,642","83,792,062",2006,"67,292,062",4,8,"31,734",80,"Animation,Drama",nan,nan,NaN,NaN,nan,nan,NaN
2441,51,2016-11-01,A.C.O.R.N.S.: Operation Crackdown,"8,500,000",0,"1,353,287",2016,"-7,146,713",-1,4,312,83,"Animation,Comedy,Family",nan,nan,NaN,NaN,nan,nan,NaN
2605,90,1993-04-02,The Adventures of Huck Finn,"6,500,000","24,103,594","24,103,594",1993,"17,603,594",3,6,249,99,"Adventure,Family",nan,nan,NaN,NaN,nan,nan,NaN

In [136]:
project_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5797 entries, 0 to 5796
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5797 non-null   int64
 1   release_date       5797 non-null   datetime64[ns]
 2   movie              5797 non-null   object
 3   production_budget  5797 non-null   float64
 4   domestic_gross     5797 non-null   float64
 5   worldwide_gross    5797 non-null   float64
 6   release_year       5797 non-null   int64
 7   total_profit       5797 non-null   float64
 8   ROI                5797 non-null   float64
 9   tconst_x           0 non-null      object
 10  averagerating_x    0 non-null      float64
 11  numvotes_x         0 non-null      float64
 12  primary_title_x    0 non-null      object
 13  original_title_x   0 non-null      object
 14  start_year_x       0 non-null      float64
 15  runtime_minutes_x  0 non-null      float64
 16  genres_x           0 non-null      object
 17  tconst_y           127 non-null    object
 18  averagerating_y    127 non-null    float64
 19  numvotes_y         127 non-null    float64
 20  primary_title_y    127 non-null    object
 21  original_title_y   127 non-null    object
 22  start_year_y       127 non-null    float64
 23  runtime_minutes_y  123 non-null    float64
 24  genres_y           127 non-null    object
 25  _merge             5797 non-null   category
 26  tconst             2123 non-null   object
 27  averagerating      2123 non-null   float64
 28  numvotes           2123 non-null   float64
 29  primary_title      2123 non-null   object
 30  original_title     2123 non-null   object
 31  start_year         2123 non-null   float64
 32  runtime_minutes    2067 non-null   float64
 33  genres             2123 non-null   object
dtypes: category(1), datetime64[ns](1), float64(17), int64(2), object(13)
memory usage: 1.5+ MB

In [159]:
duplicates = project_df[project_df.duplicated()]
print(len(duplicates))
duplicates.head()

0

Empty DataFrame
Columns: [id, release_date, movie, production_budget, domestic_gross, worldwide_gross, release_year, total_profit, ROI, tconst_y, averagerating_y, numvotes_y, primary_title_y, original_title_y, start_year_y, runtime_minutes_y, genres_y, tconst, averagerating, numvotes, primary_title, original_title, start_year, runtime_minutes, genres]
Index: []

[0 rows x 25 columns]

In [158]:
#dropping the extra columns.
project_df =project_df.drop(['tconst_x', 'averagerating_x', 'numvotes_x', 'primary_title_x', 'original_title_x', 'start_year_x',
                'runtime_minutes_x', 'genres_x', '_merge'], axis = 1)

KeyError: "['tconst_x' 'averagerating_x' 'numvotes_x' 'primary_title_x'\n 'original_title_x' 'start_year_x' 'runtime_minutes_x' 'genres_x' '_merge'] not found in axis"

In [161]:
project_df =project_df.drop(['tconst_y', 'tconst', 'primary_title_y', 'start_year_y', 'original_title_y'], axis = 1)

In [164]:
project_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5797 entries, 0 to 5796
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5797 non-null   int64
 1   release_date       5797 non-null   datetime64[ns]
 2   movie              5797 non-null   object
 3   production_budget  5797 non-null   float64
 4   domestic_gross     5797 non-null   float64
 5   worldwide_gross    5797 non-null   float64
 6   release_year       5797 non-null   int64
 7   total_profit       5797 non-null   float64
 8   ROI                5797 non-null   float64
 9   averagerating_y    127 non-null    float64
 10  numvotes_y         127 non-null    float64
 11  runtime_minutes_y  123 non-null    float64
 12  genres_y           127 non-null    object
 13  averagerating      2123 non-null   float64
 14  numvotes           2123 non-null   float64
 15  primary_title      2123 non-null   object
 16  original_title     2123 non-null   object
 17  start_year         2123 non-null   float64
 18  runtime_minutes    2067 non-null   float64
 19  genres             2123 non-null   object
dtypes: datetime64[ns](1), float64(12), int64(2), object(5)
memory usage: 905.9+ KB

In [163]:
project_df.head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,averagerating_y,numvotes_y,runtime_minutes_y,genres_y,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
1,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
4,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5,24,2006-06-28,Superman Returns,"232,000,000","200,120,000","374,085,065",2006,"142,085,065",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
6,26,2008-11-14,Quantum of Solace,"230,000,000","169,368,427","591,692,078",2008,"361,692,078",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
7,28,2006-07-07,Pirates of the Caribbean: Dead Manâs Chest,"225,000,000","423,315,812","1,066,215,812",2006,"841,215,812",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
8,30,2008-05-16,The Chronicles of Narnia: Prince Caspian,"225,000,000","141,621,490","417,341,288",2008,"192,341,288",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
9,36,2009-06-24,Transformers: Revenge of the Fallen,"210,000,000","402,111,870","836,519,699",2009,"626,519,699",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
10,38,2006-05-26,X-Men: The Last Stand,"210,000,000","234,362,462","459,260,946",2006,"249,260,946",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
11,40,2005-12-14,King Kong,"207,000,000","218,080,025","550,517,357",2005,"343,517,357",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
12,41,2007-12-07,The Golden Compass,"205,000,000","70,107,728","367,262,558",2007,"162,262,558",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
13,45,2016-12-16,Rogue One: A Star Wars Story,"200,000,000","532,177,324","1,049,102,856",2016,"849,102,856",4,8,"478,592",133,"Action,Adventure,Sci-Fi",nan,nan,NaN,NaN,nan,nan,NaN
14,48,2013-05-03,Iron Man 3,"200,000,000","408,992,272","1,215,392,272",2013,"1,015,392,272",5,7,"692,794",130,"Action,Adventure,Sci-Fi",nan,nan,NaN,NaN,nan,nan,NaN
15,49,2017-05-05,Guardians of the Galaxy Vol 2,"200,000,000","389,813,101","862,316,233",2017,"662,316,233",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
16,50,2004-06-30,Spider-Man 2,"200,000,000","373,524,485","795,110,670",2004,"595,110,670",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
17,58,2010-12-17,Tron: Legacy,"200,000,000","172,062,763","400,062,763",2010,"200,062,763",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
18,59,2009-11-13,2012,"200,000,000","166,112,167","757,677,748",2009,"557,677,748",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
19,61,2009-05-21,Terminator Salvation,"200,000,000","125,322,469","365,491,792",2009,"165,491,792",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
20,63,2010-05-28,Prince of Persia: Sands of Time,"200,000,000","90,759,676","336,359,676",2010,"136,359,676",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
21,67,2015-04-03,Furious 7,"190,000,000","353,007,020","1,518,722,794",2015,"1,328,722,794",7,7,"335,074",137,"Action,Crime,Thriller",nan,nan,NaN,NaN,nan,nan,NaN
22,71,2009-11-06,Disneyâs A Christmas Carol,"190,000,000","137,855,863","315,709,697",2009,"125,709,697",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
23,74,2008-05-02,Iron Man,"186,000,000","318,604,126","585,171,547",2008,"399,171,547",2,6,14,84,"Comedy,Drama,Family",nan,nan,NaN,NaN,nan,nan,NaN
24,75,2008-07-18,The Dark Knight,"185,000,000","533,720,947","1,001,996,207",2008,"816,996,207",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
25,76,2008-05-22,Indiana Jones and the Kingdom of the Crystal S...,"185,000,000","317,101,119","786,635,413",2008,"601,635,413",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
26,83,2005-12-09,"The Chronicles of Narnia: The Lion, the Witch ...","180,000,000","291,710,957","720,539,572",2005,"540,539,572",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
27,86,2008-06-27,WALL-E,"180,000,000","223,808,164","532,508,025",2008,"352,508,025",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
28,87,2007-08-10,Rush Hour 3,"180,000,000","140,125,968","256,585,882",2007,"76,585,882",0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
29,92,2018-07-27,Mission: ImpossibleâFallout,"178,000,000","220,159,104","787,456,552",2018,"609,456,552",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
30,1,2009-05-29,Up,"175,000,000","293,004,164","731,463,377",2009,"556,463,377",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
31,3,2018-11-21,Ralph Breaks The Internet,"175,000,000","201,091,711","524,283,695",2018,"349,283,695",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
32,4,2009-03-27,Monsters vs. Aliens,"175,000,000","198,351,526","381,687,380",2009,"206,687,380",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
33,6,2009-08-07,G.I. Joe: The Rise of Cobra,"175,000,000","150,201,498","302,469,017",2009,"127,469,017",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
34,7,1999-06-30,Wild Wild West,"175,000,000","113,805,681","221,229,335",1999,"46,229,335",0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
35,8,2008-08-01,The Mummy: Tomb of the Dragon Emperor,"175,000,000","102,491,776","405,760,225",2008,"230,760,225",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
36,9,2007-06-22,Evan Almighty,"175,000,000","100,289,690","174,131,329",2007,"-868,671",-0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
37,10,1995-07-28,Waterworld,"175,000,000","88,246,220","264,246,220",1995,"89,246,220",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
38,18,2004-11-10,The Polar Express,"170,000,000","187,224,605","311,365,187",2004,"141,365,187",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
39,20,2003-07-01,Terminator 3: Rise of the Machines,"170,000,000","150,358,296","433,058,296",2003,"263,058,296",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
40,21,2004-05-07,Van Helsing,"170,000,000","120,150,546","300,150,546",2004,"130,150,546",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
41,34,2011-07-29,Cowboys and Aliens,"163,000,000","100,368,560","176,038,324",2011,"13,038,324",0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
42,37,2007-05-17,Shrek the Third,"160,000,000","322,719,944","807,330,936",2007,"647,330,936",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
43,40,2013-05-24,Fast and Furious 6,"160,000,000","238,679,850","789,300,444",2013,"629,300,444",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
44,42,2011-06-03,X-Men: First Class,"160,000,000","146,408,305","355,408,305",2011,"195,408,305",1,8,"608,930",131,"Action,Adventure,Sci-Fi",nan,nan,NaN,NaN,nan,nan,NaN
45,43,2008-12-25,The Curious Case of Benjamin Button,"160,000,000","127,509,326","329,631,958",2008,"169,631,958",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
46,45,2006-05-12,Poseidon,"160,000,000","60,674,817","181,674,817",2006,"21,674,817",0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
47,49,2015-07-01,Terminator: Genisys,"155,000,000","89,760,956","432,150,894",2015,"277,150,894",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
48,51,2004-11-24,Alexander,"155,000,000","34,297,191","167,297,191",2004,"12,297,191",0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
49,53,2001-05-25,Pearl Harbor,"151,500,000","198,539,855","449,239,855",2001,"297,739,855",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
50,54,2007-07-02,Transformers,"151,000,000","319,246,193","708,272,592",2007,"557,272,592",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
51,58,2007-07-11,Harry Potter and the Order of the Phoenix,"150,000,000","292,137,260","943,076,457",2007,"793,076,457",5,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
52,59,2005-11-18,Harry Potter and the Goblet of Fire,"150,000,000","290,201,752","897,099,794",2005,"747,099,794",5,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
53,60,2003-05-15,The Matrix Reloaded,"150,000,000","281,553,689","738,576,929",2003,"588,576,929",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
54,61,2007-12-14,I am Legend,"150,000,000","256,393,010","585,532,684",2007,"435,532,684",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
55,63,2008-07-01,Hancock,"150,000,000","227,946,274","624,234,272",2008,"474,234,272",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
56,64,2005-07-15,Charlie and the Chocolate Factory,"150,000,000","206,459,076","475,825,484",2005,"325,825,484",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
57,65,2007-06-29,Ratatouille,"150,000,000","206,445,654","626,549,695",2007,"476,549,695",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
58,67,2005-06-15,Batman Begins,"150,000,000","205,343,774","359,142,722",2005,"209,142,722",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
59,68,2015-07-31,Mission: ImpossibleâRogue Nation,"150,000,000","195,042,377","688,858,992",2015,"538,858,992",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
60,71,2008-11-07,Madagascar: Escape 2 Africa,"150,000,000","180,174,880","599,680,774",2008,"449,680,774",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
61,72,2009-05-01,X-Men Origins: Wolverine,"150,000,000","179,883,157","374,825,760",2009,"224,825,760",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
62,73,2009-05-22,Night at the Museum: Battle of the Smithsonian,"150,000,000","177,243,721","402,231,063",2009,"252,231,063",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
63,76,2019-05-10,PokÃ©mon: Detective Pikachu,"150,000,000","139,507,806","411,258,433",2019,"261,258,433",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
64,77,2003-11-05,The Matrix Revolutions,"150,000,000","139,270,910","427,300,260",2003,"277,300,260",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
65,79,2005-11-04,Chicken Little,"150,000,000","135,386,665","310,043,823",2005,"160,043,823",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
66,80,2006-05-05,Mission: Impossible III,"150,000,000","133,501,348","397,501,348",2006,"247,501,348",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
67,81,2009-05-15,Angels & Demons,"150,000,000","133,375,846","490,875,846",2009,"340,875,846",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
68,82,2004-05-14,Troy,"150,000,000","133,298,577","484,161,265",2004,"334,161,265",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
69,84,2007-11-02,Bee Movie,"150,000,000","126,631,277","287,594,577",2007,"137,594,577",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
70,85,2009-07-24,G-Force,"150,000,000","119,436,770","292,817,841",2009,"142,817,841",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
71,86,2008-11-21,Bolt,"150,000,000","114,053,579","328,015,029",2008,"178,015,029",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
72,88,2007-11-16,Beowulf,"150,000,000","82,280,579","195,080,579",2007,"45,080,579",0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
73,95,2020-12-31,Moonfall,"150,000,000",0,0,2020,"-150,000,000",-1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
74,96,2006-11-03,Flushed Away,"149,000,000","64,665,672","179,357,126",2006,"30,357,126",0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
75,98,2011-12-16,Mission: ImpossibleâGhost Protocol,"145,000,000","209,397,903","694,713,230",2011,"549,713,230",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
76,5,2002-11-22,Die Another Day,"142,000,000","160,942,139","431,942,139",2002,"289,942,139",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
77,6,2003-07-09,Pirates of the Caribbean: The Curse of the Bla...,"140,000,000","305,411,224","634,954,103",2003,"494,954,103",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
78,7,2009-05-08,Star Trek,"140,000,000","257,730,019","386,839,614",2009,"246,839,614",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
79,8,1998-07-01,Armageddon,"140,000,000","201,578,182","554,600,000",1998,"414,600,000",3,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
80,9,2002-07-03,Men in Black 2,"140,000,000","190,418,803","441,767,803",2002,"301,767,803",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
81,12,1998-07-10,Lethal Weapon 4,"140,000,000","130,444,603","285,400,000",1998,"145,400,000",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
82,14,2003-12-05,The Last Samurai,"140,000,000","111,110,575","456,810,575",2003,"316,810,575",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
83,15,2005-12-21,Fun With Dick And Jane,"140,000,000","110,550,000","203,018,919",2005,"63,018,919",0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
84,19,2002-05-03,Spider-Man,"139,000,000","403,706,375","821,706,375",2002,"682,706,375",5,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
85,20,2009-03-06,Watchmen,"138,000,000","107,509,799","186,976,250",2009,"48,976,250",0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
86,21,2005-07-29,Stealth,"138,000,000","32,116,746","76,416,746",2005,"-61,583,254",-0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
87,22,2008-06-13,The Incredible Hulk,"137,500,000","134,806,913","265,573,859",2008,"128,073,859",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
88,23,2003-06-20,Hulk,"137,000,000","132,177,234","245,075,434",2003,"108,075,434",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
89,24,2001-07-11,Final Fantasy: The Spirits Within,"137,000,000","32,131,830","85,131,830",2001,"-51,868,170",-0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
90,25,2012-11-16,"The Twilight Saga: Breaking Dawn, Part 2","136,200,000","292,324,737","829,724,737",2012,"693,524,737",5,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
91,28,1999-11-19,The World is Not Enough,"135,000,000","126,930,660","361,730,660",1999,"226,730,660",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
92,30,2003-11-14,Master and Commander: The Far Side of the World,"135,000,000","93,926,386","212,912,137",2003,"77,912,137",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
93,34,2006-07-28,Miami Vice,"135,000,000","63,478,838","163,818,556",2006,"28,818,556",0,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
94,39,2004-06-04,Harry Potter and the Prisoner of Azkaban,"130,000,000","249,757,726","796,907,323",2004,"666,907,323",5,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
95,40,2007-08-03,The Bourne Ultimatum,"130,000,000","227,471,070","444,043,396",2007,"314,043,396",2,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
96,42,2008-06-06,Kung Fu Panda,"130,000,000","215,434,591","631,910,531",2008,"501,910,531",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
97,48,2003-07-18,Bad Boys II,"130,000,000","138,540,870","273,271,982",2003,"143,271,982",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
98,54,2008-11-26,Australia,"130,000,000","49,554,002","215,080,810",2008,"85,080,810",1,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
99,57,2011-11-18,"The Twilight Saga: Breaking Dawn, Part 1","127,500,000","281,287,133","689,420,051",2011,"561,920,051",4,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN

In [165]:
project_df.sort_values('', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,averagerating_y,numvotes_y,runtime_minutes_y,genres_y,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
3648,46,1972-06-30,Deep Throat,"25,000","45,000,000","45,000,000",1972,"44,975,000","1,799",nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3579,14,1980-03-21,Mad Max,"200,000","8,750,000","99,750,000",1980,"99,550,000",498,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3497,93,2009-09-25,Paranormal Activity,"450,000","107,918,810","194,183,034",2009,"193,733,034",431,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5753,80,2015-07-10,The Gallows,"100,000","22,764,410","41,656,474",2015,"41,556,474",416,nan,nan,nan,NaN,4,"17,763",The Gallows,The Gallows,"2,015",81,"Horror,Mystery,Thriller"
3453,7,1999-07-14,The Blair Witch Project,"600,000","140,539,099","248,300,000",1999,"247,700,000",413,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3629,10,2004-05-07,Super Size Me,"65,000","11,529,368","22,233,808",2004,"22,168,808",341,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5622,47,1942-08-13,Bambi,"858,000","102,797,000","268,000,000",1942,"267,142,000",311,nan,nan,nan,NaN,7,101,Bambi,Bambi,"2,013",58,"Biography,Documentary"
3666,74,1993-02-26,El Mariachi,"7,000","2,040,920","2,041,928",1993,"2,034,928",291,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5751,77,1968-10-01,Night of the Living Dead,"114,000","12,087,064","30,087,064",1968,"29,973,064",263,nan,nan,nan,NaN,5,277,Night of the Living Dead,Night of the Living Dead,"2,014",79,Horror
5562,11,1976-11-21,Rocky,"1,000,000","117,235,147","225,000,000",1976,"224,000,000",224,nan,nan,nan,NaN,6,46,Rocky,Rocky,"2,013",136,"Action,Comedy,Drama"
5692,37,1978-10-17,Halloween,"325,000","47,000,000","70,000,000",1978,"69,675,000",214,nan,nan,nan,NaN,7,"88,395",Halloween,Halloween,"2,018",106,"Horror,Thriller"
3631,16,1995-08-09,The Brothers McMullen,"50,000","10,426,506","10,426,506",1995,"10,376,506",208,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3606,66,1974-10-18,The Texas Chainsaw Massacre,"140,000","26,572,439","26,572,439",1974,"26,432,439",189,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3429,73,1973-08-11,American Graffiti,"777,000","115,000,000","140,000,000",1973,"139,223,000",179,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3672,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3600,57,2007-05-16,Once,"150,000","9,445,857","23,323,631",2007,"23,173,631",154,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3646,43,1994-10-19,Clerks,"27,000","3,073,428","3,894,240",1994,"3,867,240",143,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3578,13,1969-07-25,The Stewardesses,"200,000","13,500,000","25,000,000",1969,"24,800,000",124,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3274,18,1937-12-21,Snow White and the Seven Dwarfs,"1,488,000","184,925,486","184,925,486",1937,"183,437,486",123,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3418,58,1971-01-01,Billy Jack,"800,000","98,000,000","98,000,000",1971,"97,200,000",122,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3667,75,2004-10-08,Primer,"7,000","424,760","841,926",2004,"834,926",119,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3649,47,1997-08-01,In the Company of Men,"25,000","2,883,661","2,883,661",1997,"2,858,661",114,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3508,8,2004-06-11,Napoleon Dynamite,"400,000","44,540,956","46,122,713",2004,"45,722,713",114,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3466,31,2004-08-06,Open Water,"500,000","30,500,882","55,518,641",2004,"55,018,641",110,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3463,25,1980-05-09,Friday the 13th,"550,000","39,754,601","59,754,601",1980,"59,204,601",108,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3613,81,2006-09-29,Facing the Giants,"100,000","10,178,331","10,243,159",2006,"10,143,159",101,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5563,12,2012-01-06,The Devil Inside,"1,000,000","53,262,945","101,759,490",2012,"100,759,490",101,nan,nan,nan,NaN,4,"33,522",The Devil Inside,The Devil Inside,"2,012",83,Horror
3599,56,1971-01-01,Sweet Sweetback's Baad Asssss Song,"150,000","15,200,000","15,200,000",1971,"15,050,000",100,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2921,68,1939-12-15,Gone with the Wind,"3,900,000","198,680,470","390,525,192",1939,"386,625,192",99,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5752,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000",1915,"10,890,000",99,nan,nan,nan,NaN,6,"18,442",The Birth of a Nation,The Birth of a Nation,"2,016",120,"Biography,Drama,History"
5704,69,1981-05-01,Graduation Day,"250,000","23,894,000","23,894,000",1981,"23,644,000",95,nan,nan,nan,NaN,5,52,Graduation Day,Graduation Day,"2,015",75,Thriller
5405,76,1950-02-15,Cinderella,"2,900,000","85,000,000","263,591,415",1950,"260,691,415",90,nan,nan,nan,NaN,7,"142,792",Cinderella,Cinderella,"2,015",105,"Drama,Family,Fantasy"
3573,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000",1925,"21,755,000",89,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5662,60,2009-04-23,Home,"500,000","15,433","44,793,168",2009,"44,293,168",89,nan,nan,nan,NaN,7,811,Home,Home,"2,016",103,Drama
3299,57,2004-10-29,Saw,"1,200,000","55,968,727","103,880,027",2004,"102,680,027",86,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3522,26,1983-04-15,The Evil Dead,"375,000","2,400,000","29,400,000",1983,"29,025,000",77,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2239,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000","435,110,554","792,965,326",1982,"782,465,326",75,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2723,48,2002-04-19,My Big Fat Greek Wedding,"5,000,000","241,438,208","374,890,034",2002,"369,890,034",74,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2940,90,1997-08-13,The Full Monty,"3,500,000","45,950,122","261,249,383",1997,"257,749,383",74,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2196,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000","460,998,007","786,598,007",1977,"775,598,007",71,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3614,82,1977-01-01,Eraserhead,"100,000","7,000,000","7,014,590",1977,"6,914,590",69,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3626,7,1998-07-10,Pi,"68,000","3,221,152","4,678,513",1998,"4,610,513",68,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3660,66,2001-03-09,Dayereh,"10,000","673,780","673,780",2001,"663,780",66,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3465,29,2008-09-26,Fireproof,"500,000","33,456,317","33,473,297",2008,"32,973,297",66,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5510,63,2011-04-01,Insidious,"1,500,000","54,009,150","99,870,886",2011,"98,370,886",66,nan,nan,nan,NaN,7,"254,197",Insidious,Insidious,"2,010",103,"Horror,Mystery,Thriller"
2624,13,1978-06-16,Grease,"6,000,000","181,813,770","387,510,179",1978,"381,510,179",64,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5564,14,2015-04-17,Unfriended,"1,000,000","32,789,645","64,364,198",2015,"63,364,198",63,nan,nan,nan,NaN,6,"62,043",Unfriended,Unfriended,"2,014",83,"Horror,Mystery,Thriller"
5650,30,1974-11-15,Benji,"500,000","31,559,560","31,559,560",1974,"31,059,560",62,nan,nan,nan,NaN,7,101,Benji,Benji,"2,012",79,"Documentary,Sport"
3617,85,1998-10-09,The Mighty,"100,000","2,652,246","6,121,582",1998,"6,021,582",60,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3551,70,1997-04-04,Chasing Amy,"250,000","12,006,514","15,155,095",1997,"14,905,095",60,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3608,69,1942-11-16,Cat People,"134,000","4,000,000","8,000,000",1942,"7,866,000",59,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3338,20,1963-05-08,Dr. No,"1,000,000","16,067,035","59,567,035",1963,"58,567,035",59,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5362,65,2010-10-20,Paranormal Activity 2,"3,000,000","84,752,907","177,512,032",2010,"174,512,032",58,nan,nan,nan,NaN,6,"93,122",Paranormal Activity 2,Paranormal Activity 2,"2,010",91,Horror
3454,8,1970-03-26,Woodstock,"600,000","34,505,110","34,505,110",1970,"33,905,110",57,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5209,50,2017-01-20,Split,"5,000,000","138,141,585","278,964,806",2017,"273,964,806",55,nan,nan,nan,NaN,7,21,Split,Split,"2,016",80,Drama
3320,90,2014-03-21,Godâs Not Dead,"1,150,000","60,755,732","63,777,092",2014,"62,627,092",54,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2828,25,1994-03-09,Four Weddings and a Funeral,"4,500,000","52,700,832","242,895,809",1994,"238,395,809",53,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3651,53,1991-08-01,Slacker,"23,000","1,227,508","1,227,508",1991,"1,204,508",52,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3337,16,2006-05-24,An Inconvenient Truth,"1,000,000","24,146,161","53,365,925",2006,"52,365,925",52,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3615,83,1987-03-01,Hollywood Shuffle,"100,000","5,228,617","5,228,617",1987,"5,128,617",51,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5208,49,2017-02-24,Get Out,"5,000,000","176,040,665","255,367,951",2017,"250,367,951",50,nan,nan,nan,NaN,8,"400,474",Get Out,Get Out,"2,017",104,"Horror,Mystery,Thriller"
3607,67,1989-12-20,Roger & Me,"140,000","6,706,368","6,706,368",1989,"6,566,368",47,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2987,64,1978-07-28,National Lampoon's Animal House,"3,000,000","141,600,000","141,600,000",1978,"138,600,000",46,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3632,17,2001-03-16,Gabriela,"50,000","2,335,352","2,335,352",2001,"2,285,352",46,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3076,1,1974-02-07,Blazing Saddles,"2,600,000","119,500,000","119,500,000",1974,"116,900,000",45,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2234,18,2012-05-25,Les Intouchables,"10,800,000","13,182,281","484,873,045",2012,"474,073,045",44,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5511,64,2016-10-21,Moonlight,"1,500,000","27,854,931","65,245,512",2016,"63,745,512",42,nan,nan,nan,NaN,7,"227,964",Moonlight,Moonlight,"2,016",111,Drama
5566,18,2012-05-25,Chernobyl Diaries,"1,000,000","18,119,640","42,411,721",2012,"41,411,721",41,nan,nan,nan,NaN,5,"60,304",Chernobyl Diaries,Chernobyl Diaries,"2,012",86,"Horror,Mystery,Thriller"
2988,68,1964-12-22,Goldfinger,"3,000,000","51,100,000","124,900,000",1964,"121,900,000",41,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5210,51,2011-10-21,Paranormal Activity 3,"5,000,000","104,028,807","207,039,844",2011,"202,039,844",40,nan,nan,nan,NaN,6,"85,689",Paranormal Activity 3,Paranormal Activity 3,"2,011",83,"Horror,Mystery,Thriller"
3596,47,1986-08-08,She's Gotta Have It,"175,000","7,137,502","7,137,502",1986,"6,962,502",40,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3140,99,2007-02-09,Das Leben der Anderen,"2,000,000","11,284,657","81,197,047",2007,"79,197,047",40,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3670,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3580,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000",1916,"7,800,000",39,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5163,84,2014-10-03,Annabelle,"6,500,000","84,273,813","256,862,920",2014,"250,362,920",39,nan,nan,nan,NaN,5,"122,039",Annabelle,Annabelle,"2,014",99,"Horror,Mystery,Thriller"
3133,88,1964-04-08,From Russia With Love,"2,000,000","24,800,000","78,900,000",1964,"76,900,000",38,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2115,41,1975-06-20,Jaws,"12,000,000","260,000,000","470,700,000",1975,"458,700,000",38,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2969,35,2005-06-24,La marche de l'empereur,"3,400,000","77,437,223","133,276,359",2005,"129,876,359",38,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5493,15,2010-08-27,The Last Exorcism,"1,800,000","41,034,350","70,165,900",2010,"68,365,900",38,nan,nan,nan,NaN,6,"45,815",The Last Exorcism,The Last Exorcism,"2,010",87,"Drama,Horror,Thriller"
2535,87,1972-03-15,The Godfather,"7,000,000","134,966,411","268,500,000",1972,"261,500,000",37,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3335,13,1963-10-07,Tom Jones,"1,000,000","37,600,000","37,600,000",1963,"36,600,000",37,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2423,27,1986-09-26,Crocodile Dundee,"8,800,000","174,803,506","328,203,506",1986,"319,403,506",36,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2626,15,2004-06-23,Fahrenheit 9/11,"6,000,000","119,114,517","221,148,959",2004,"215,148,959",36,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5433,68,1940-02-09,Pinocchio,"2,289,247","84,300,000","84,300,000",1940,"82,010,753",36,nan,nan,nan,NaN,5,46,Pinocchio,Pinocchio,"2,015",nan,"Family,Fantasy"
3247,75,1979-04-20,Dawn of the Dead,"1,500,000","5,100,000","55,000,000",1979,"53,500,000",36,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5434,69,1940-11-13,Fantasia,"2,280,000","83,320,000","83,320,000",1940,"81,040,000",36,nan,nan,nan,NaN,6,44,Fantasia,Fantasia,"2,014",86,Drama
3448,98,1953-04-10,House of Wax,"658,000","23,800,000","23,800,000",1953,"23,142,000",35,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3557,78,1998-09-11,Cube,"250,000","489,220","8,969,065",1998,"8,719,065",35,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2116,42,1973-12-26,The Exorcist,"12,000,000","230,347,346","428,214,478",1973,"416,214,478",35,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3623,100,1972-08-30,The Last House on the Left,"87,000","3,100,000","3,100,000",1972,"3,013,000",35,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2448,60,1965-03-02,The Sound of Music,"8,200,000","163,214,286","286,214,286",1965,"278,014,286",34,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3657,63,1997-04-11,Pink Flamingos,"12,000","413,802","413,802",1997,"401,802",33,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3467,32,1977-01-01,Kingdom of the Spiders,"500,000","17,000,000","17,000,000",1977,"16,500,000",33,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
3455,9,1977-08-10,The Kentucky Fried Movie,"600,000","15,000,000","20,000,000",1977,"19,400,000",32,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5721,16,1996-10-18,Swingers,"200,000","4,505,922","6,618,578",1996,"6,418,578",32,nan,nan,nan,NaN,7,434,Swingers,Swingers,"2,016",85,Comedy
2534,86,2007-12-05,Juno,"7,000,000","143,495,265","231,450,102",2007,"224,450,102",32,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2725,53,2013-09-13,Insidious Chapter 2,"5,000,000","83,586,447","161,921,515",2013,"156,921,515",31,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
1873,92,1990-11-16,Home Alone,"15,000,000","285,761,243","476,684,675",1990,"461,684,675",31,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5054,56,2016-12-21,Dangal,"9,500,000","12,391,761","294,654,618",2016,"285,154,618",30,nan,nan,nan,NaN,4,20,Dangal,Dangal,"2,013",nan,Action
1997,72,1990-03-23,Pretty Woman,"14,000,000","178,406,268","432,645,872",1990,"418,645,872",30,nan,nan,nan,NaN,nan,nan,NaN,NaN,nan,nan,NaN

In [166]:
project_df_2 = project_df[['movie', 'production_budget', 'worldwide_gross',
                           'total_profit', 'ROI','release_year', 'genres', 'genres_y' ]]

In [169]:
project_df_2.sort_values('total_profit', ascending=False).head(100)

,movie,production_budget,worldwide_gross,total_profit,ROI,release_year,genres,genres_y
5796,Avatar,"425,000,000","2,776,345,279","2,351,345,279",6,2009,NaN,NaN
3701,Titanic,"200,000,000","2,208,208,395","2,008,208,395",10,1997,Adventure,NaN
3676,Avengers: Infinity War,"300,000,000","2,048,134,200","1,748,134,200",6,2018,"Action,Adventure,Sci-Fi",NaN
1,Star Wars Ep. VII: The Force Awakens,"306,000,000","2,053,311,220","1,747,311,220",6,2015,NaN,NaN
3696,Jurassic World,"215,000,000","1,648,854,864","1,433,854,864",7,2015,"Action,Adventure,Sci-Fi",NaN
21,Furious 7,"190,000,000","1,518,722,794","1,328,722,794",7,2015,NaN,"Action,Crime,Thriller"
3691,The Avengers,"225,000,000","1,517,935,897","1,292,935,897",6,2012,"Action,Adventure,Sci-Fi",NaN
100,Harry Potter and the Deathly Hallows: Part II,"125,000,000","1,341,693,157","1,216,693,157",10,2011,NaN,NaN
3700,Black Panther,"200,000,000","1,348,258,224","1,148,258,224",6,2018,"Action,Adventure,Sci-Fi",NaN
3746,Jurassic World: Fallen Kingdom,"170,000,000","1,305,772,799","1,135,772,799",7,2018,"Action,Adventure,Sci-Fi",NaN
3776,Frozen,"150,000,000","1,272,469,910","1,122,469,910",7,2013,"Adventure,Drama,Sport",NaN
3764,Beauty and the Beast,"160,000,000","1,259,199,706","1,099,199,706",7,2017,"Family,Fantasy,Musical",NaN
3989,Minions,"74,000,000","1,160,336,173","1,086,336,173",15,2015,"Adventure,Animation,Comedy",NaN
3675,Avengers: Age of Ultron,"330,600,000","1,403,013,963","1,072,413,963",3,2015,"Action,Adventure,Sci-Fi",NaN
188,The Lord of the Rings: The Return of the King,"94,000,000","1,141,403,341","1,047,403,341",11,2003,NaN,NaN
3702,Incredibles 2,"200,000,000","1,242,520,711","1,042,520,711",5,2018,"Action,Adventure,Animation",NaN
14,Iron Man 3,"200,000,000","1,215,392,272","1,015,392,272",5,2013,NaN,"Action,Adventure,Sci-Fi"
0,Star Wars Ep. VIII: The Last Jedi,"317,000,000","1,316,721,747","999,721,747",3,2017,NaN,NaN
3765,Aquaman,"160,000,000","1,146,894,640","986,894,640",6,2018,"Action,Adventure,Fantasy",NaN
3689,The Fate of the Furious,"250,000,000","1,234,846,267","984,846,267",4,2017,"Action,Crime,Thriller",NaN
455,Jurassic Park,"63,000,000","1,038,812,584","975,812,584",15,1993,NaN,NaN
3976,Despicable Me 3,"75,000,000","1,034,727,750","959,727,750",13,2017,"Adventure,Animation,Comedy",NaN
3737,Captain Marvel,"175,000,000","1,123,061,550","948,061,550",5,2019,"Action,Adventure,Sci-Fi",NaN
3714,Transformers: Dark of the Moon,"195,000,000","1,123,790,543","928,790,543",5,2011,"Action,Adventure,Sci-Fi",NaN
119,Star Wars Ep. I: The Phantom Menace,"115,000,000","1,027,044,677","912,044,677",8,1999,NaN,NaN
3706,Skyfall,"200,000,000","1,110,526,981","910,526,981",5,2012,"Action,Adventure,Thriller",NaN
313,The Lion King,"79,300,000","986,214,868","906,914,868",11,1994,NaN,NaN
3973,Despicable Me 2,"76,000,000","975,216,835","899,216,835",12,2013,"Adventure,Animation,Comedy",NaN
3698,Transformers: Age of Extinction,"210,000,000","1,104,039,076","894,039,076",4,2014,"Action,Adventure,Sci-Fi",NaN
3684,Captain America: Civil War,"250,000,000","1,140,069,413","890,069,413",4,2016,"Action,Adventure,Sci-Fi",NaN
3913,Jumanji: Welcome to the Jungle,"90,000,000","964,496,193","874,496,193",10,2017,"Action,Adventure,Comedy",NaN
3777,Zootopia,"150,000,000","1,019,429,616","869,429,616",6,2016,"Adventure,Animation,Comedy",NaN
3704,Toy Story 3,"200,000,000","1,068,879,522","868,879,522",4,2010,"Adventure,Animation,Comedy",NaN
371,Shrek 2,"70,000,000","937,008,132","867,008,132",12,2004,NaN,NaN
101,Harry Potter and the Sorcererâs Stone,"125,000,000","975,047,606","850,047,606",7,2001,NaN,NaN
13,Rogue One: A Star Wars Story,"200,000,000","1,049,102,856","849,102,856",4,2016,NaN,"Action,Adventure,Sci-Fi"
187,Finding Nemo,"94,000,000","936,429,370","842,429,370",9,2003,NaN,NaN
7,Pirates of the Caribbean: Dead Manâs Chest,"225,000,000","1,066,215,812","841,215,812",4,2006,NaN,NaN
189,The Lord of the Rings: The Two Towers,"94,000,000","934,699,645","840,699,645",9,2002,NaN,NaN
4096,Bohemian Rhapsody,"55,000,000","894,985,342","839,985,342",15,2018,"Biography,Drama,Music",NaN
102,Harry Potter and the Deathly Hallows: Part I,"125,000,000","960,431,568","835,431,568",7,2010,NaN,NaN
3705,Alice in Wonderland,"200,000,000","1,025,491,110","825,491,110",4,2010,"Fantasy,Musical",NaN
3703,Finding Dory,"200,000,000","1,021,215,193","821,215,193",4,2016,"Adventure,Animation,Comedy",NaN
24,The Dark Knight,"185,000,000","1,001,996,207","816,996,207",4,2008,NaN,NaN
3974,The Secret Life of Pets,"75,000,000","886,750,534","811,750,534",11,2016,"Adventure,Animation,Comedy",NaN
3679,The Dark Knight Rises,"275,000,000","1,084,439,099","809,439,099",3,2012,"Action,Thriller",NaN
51,Harry Potter and the Order of the Phoenix,"150,000,000","943,076,457","793,076,457",5,2007,NaN,NaN
3738,The Jungle Book,"175,000,000","962,854,547","787,854,547",5,2016,"Adventure,Drama,Family",NaN
3901,Ice Age: Continental Drift,"95,000,000","879,765,137","784,765,137",8,2012,"Adventure,Animation,Comedy",NaN
2239,ET: The Extra-Terrestrial,"10,500,000","792,965,326","782,465,326",75,1982,NaN,NaN
155,Harry Potter and the Chamber of Secrets,"100,000,000","879,225,135","779,225,135",8,2002,NaN,NaN
142,The Lord of the Rings: The Fellowship of the Ring,"109,000,000","887,210,985","778,210,985",7,2001,NaN,NaN
2196,Star Wars Ep. IV: A New Hope,"11,000,000","786,598,007","775,598,007",71,1977,NaN,NaN
199,Ice Age: Dawn of the Dinosaurs,"90,000,000","859,701,857","769,701,857",9,2009,NaN,NaN
3686,The Hobbit: An Unexpected Journey,"250,000,000","1,017,003,568","767,003,568",3,2012,"Adventure,Family,Fantasy",NaN
52,Harry Potter and the Goblet of Fire,"150,000,000","897,099,794","747,099,794",5,2005,NaN,NaN
4084,Deadpool,"58,000,000","801,025,593","743,025,593",13,2016,"Action,Adventure,Comedy",NaN
323,Independence Day,"75,000,000","817,400,878","742,400,878",10,1996,NaN,NaN
3855,Venom,"116,000,000","853,628,605","737,628,605",6,2018,"Action,Sci-Fi,Thriller",NaN
3815,The Hunger Games: Catching Fire,"130,000,000","864,868,047","734,868,047",6,2013,"Action,Adventure,Sci-Fi",NaN
120,Star Wars Ep. III: Revenge of the Sith,"115,000,000","848,998,877","733,998,877",6,2005,NaN,NaN
3687,The Hobbit: The Desolation of Smaug,"250,000,000","960,366,855","710,366,855",3,2013,"Adventure,Fantasy",NaN
3740,Spider-Man: Homecoming,"175,000,000","880,166,350","705,166,350",4,2017,"Action,Adventure,Sci-Fi",NaN
3688,The Hobbit: The Battle of the Five Armies,"250,000,000","945,577,621","695,577,621",3,2014,"Adventure,Fantasy",NaN
90,"The Twilight Saga: Breaking Dawn, Part 2","136,200,000","829,724,737","693,524,737",5,2012,NaN,NaN
4,Harry Potter and the Half-Blood Prince,"250,000,000","935,213,767","685,213,767",3,2009,NaN,NaN
84,Spider-Man,"139,000,000","821,706,375","682,706,375",5,2002,NaN,NaN
3739,Inside Out,"175,000,000","854,235,992","679,235,992",4,2015,"Crime,Drama",NaN
3859,Deadpool 2,"110,000,000","786,680,557","676,680,557",6,2018,"Action,Adventure,Comedy",NaN
3766,Inception,"160,000,000","835,524,642","675,524,642",4,2010,"Action,Adventure,Sci-Fi",NaN
3775,Wonder Woman,"150,000,000","821,133,378","671,133,378",4,2017,Sci-Fi,NaN
3727,Thor: Ragnarok,"180,000,000","846,980,024","666,980,024",4,2017,"Action,Adventure,Comedy",NaN
94,Harry Potter and the Prisoner of Azkaban,"130,000,000","796,907,323","666,907,323",5,2004,NaN,NaN
2,Pirates of the Caribbean: At Worldâs End,"300,000,000","963,420,425","663,420,425",2,2007,NaN,NaN
4311,It,"35,000,000","697,457,969","662,457,969",19,2017,"Horror,Thriller",NaN
15,Guardians of the Galaxy Vol 2,"200,000,000","862,316,233","662,316,233",3,2017,NaN,NaN
42,Shrek the Third,"160,000,000","807,330,936","647,330,936",4,2007,NaN,NaN
103,The Da Vinci Code,"125,000,000","767,820,459","642,820,459",5,2006,NaN,NaN
3832,The Hunger Games: Mockingjay - Part 1,"125,000,000","766,575,131","641,575,131",5,2014,"Action,Adventure,Sci-Fi",NaN
4015,The Twilight Saga: Eclipse,"68,000,000","706,102,828","638,102,828",9,2010,"Adventure,Drama,Fantasy",NaN
631,The Twilight Saga: New Moon,"50,000,000","687,557,727","637,557,727",13,2009,NaN,NaN
3,Spider-Man 3,"258,000,000","894,860,230","636,860,230",2,2007,NaN,NaN
3673,Pirates of the Caribbean: On Stranger Tides,"410,600,000","1,045,663,875","635,063,875",2,2011,"Action,Adventure,Fantasy",NaN
822,The Sixth Sense,"40,000,000","672,806,292","632,806,292",16,1999,NaN,NaN
43,Fast and Furious 6,"160,000,000","789,300,444","629,300,444",4,2013,NaN,NaN
9,Transformers: Revenge of the Fallen,"210,000,000","836,519,699","626,519,699",3,2009,NaN,NaN
557,Forrest Gump,"55,000,000","679,850,637","624,850,637",11,1994,NaN,NaN
3742,Coco,"175,000,000","798,008,101","623,008,101",4,2017,Horror,NaN
3729,Fantastic Beasts and Where to Find Them,"180,000,000","802,402,853","622,402,853",3,2016,"Adventure,Family,Fantasy",NaN
3685,Batman v Superman: Dawn of Justice,"250,000,000","867,500,281","617,500,281",2,2016,"Action,Adventure,Fantasy",NaN
29,Mission: ImpossibleâFallout,"178,000,000","787,456,552","609,456,552",3,2018,NaN,NaN
3793,Madagascar 3: Europe's Most Wanted,"145,000,000","746,921,271","601,921,271",4,2012,"Adventure,Animation,Comedy",NaN
25,Indiana Jones and the Kingdom of the Crystal S...,"185,000,000","786,635,413","601,635,413",3,2008,NaN,NaN
3747,Guardians of the Galaxy,"170,000,000","770,867,516","600,867,516",4,2014,"Action,Adventure,Comedy",NaN
3949,The Hunger Games,"80,000,000","677,923,379","597,923,379",7,2012,"Action,Adventure,Sci-Fi",NaN
1326,The Passion of the Christ,"25,000,000","622,341,924","597,341,924",24,2004,NaN,NaN
16,Spider-Man 2,"200,000,000","795,110,670","595,110,670",3,2004,NaN,NaN
3757,Shrek Forever After,"165,000,000","756,244,673","591,244,673",4,2010,"Adventure,Animation,Comedy",NaN
53,The Matrix Reloaded,"150,000,000","738,576,929","588,576,929",4,2003,NaN,NaN
4626,Beauty and the Beast,"20,000,000","608,431,132","588,431,132",29,1991,"Family,Fantasy,Musical",NaN

In [170]:
project_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5797 entries, 0 to 5796
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie              5797 non-null   object
 1   production_budget  5797 non-null   float64
 2   worldwide_gross    5797 non-null   float64
 3   total_profit       5797 non-null   float64
 4   ROI                5797 non-null   float64
 5   release_year       5797 non-null   int64
 6   genres             2123 non-null   object
 7   genres_y           127 non-null    object
dtypes: float64(4), int64(1), object(3)
memory usage: 362.4+ KB

In [180]:
genre_df = project_df_2[['movie', 'genres', 'genres_y']]
genre_df.head()

                                        movie genres genres_y
0           Star Wars Ep. VIII: The Last Jedi    NaN      NaN
1        Star Wars Ep. VII: The Force Awakens    NaN      NaN
2  Pirates of the Caribbean: At Worldâs End    NaN      NaN
3                                Spider-Man 3    NaN      NaN
4      Harry Potter and the Half-Blood Prince    NaN      NaN

In [182]:
test = pd.merge(project_df_2, genre_df, left_on= ['movie', 'genres'], right_on= ['movie', 'genres_y'], how='left')
test.head(5)

,movie,production_budget,worldwide_gross,total_profit,ROI,release_year,genres_x,genres_y_x,genres_3,genres_y,genres_y_y
0,Star Wars Ep. VIII: The Last Jedi,"317,000,000","1,316,721,747","999,721,747",3,2017,NaN,NaN,NaN,NaN,NaN
1,Star Wars Ep. VII: The Force Awakens,"306,000,000","2,053,311,220","1,747,311,220",6,2015,NaN,NaN,NaN,NaN,NaN
2,Pirates of the Caribbean: At Worldâs End,"300,000,000","963,420,425","663,420,425",2,2007,NaN,NaN,NaN,NaN,NaN
3,Spider-Man 3,"258,000,000","894,860,230","636,860,230",2,2007,NaN,NaN,NaN,NaN,NaN
4,Harry Potter and the Half-Blood Prince,"250,000,000","935,213,767","685,213,767",3,2009,NaN,NaN,NaN,NaN,NaN

In [184]:
test.sort_values('genres_x', ascending=True).head(500)

,movie,production_budget,worldwide_gross,total_profit,ROI,release_year,genres_x,genres_y_x,genres_3,genres_y,genres_y_y
4052,Big Fish,"70,000,000","123,954,323","53,954,323",1,2003,Action,NaN,NaN,NaN,NaN
5726,Diamond Ruff,"500,000",0,"-500,000",-1,2014,Action,NaN,NaN,NaN,NaN
4328,The Last Shot,"40,000,000","463,730","-39,536,270",-1,2004,Action,NaN,NaN,NaN,NaN
4877,The Man with the Iron Fists,"15,000,000","22,018,988","7,018,988",0,2012,Action,NaN,NaN,NaN,NaN
4515,Collide,"29,200,000","5,466,698","-23,733,302",-1,2017,Action,NaN,NaN,NaN,NaN
4118,Shooter,"60,000,000","95,538,560","35,538,560",1,2007,Action,NaN,NaN,NaN,NaN
5108,Dangal,"9,500,000","294,654,618","285,154,618",30,2016,Action,NaN,NaN,NaN,NaN
4991,Trash,"12,000,000","6,553,186","-5,446,814",-0,2015,Action,NaN,NaN,NaN,NaN
5048,Valentine,"10,000,000","20,384,136","10,384,136",1,2001,Action,NaN,NaN,NaN,NaN
4024,The Little Prince,"77,500,000","102,028,919","24,528,919",0,2016,Action,NaN,NaN,NaN,NaN
4631,Hitman,"24,000,000","99,135,571","75,135,571",3,2007,Action,NaN,NaN,NaN,NaN
5123,Jackie,"9,000,000","36,588,512","27,588,512",3,2016,Action,NaN,NaN,NaN,NaN
5340,Falcon Rising,"4,500,000","11,774","-4,488,226",-1,2014,"Action,Adventure",NaN,NaN,NaN,NaN
3851,Rise of the Guardians,"145,000,000","306,900,902","161,900,902",1,2012,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3879,The Adventures of Tintin,"130,000,000","373,993,951","243,993,951",2,2011,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
4509,Bilal: A New Breed of Hero,"30,000,000","648,599","-29,351,401",-1,2018,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
4054,The Lego Ninjago Movie,"70,000,000","122,737,201","52,737,201",1,2017,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
4161,Kubo and the Two Strings,"55,000,000","77,548,122","22,548,122",0,2016,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3882,How to Train Your Dragon: The Hidden World,"129,000,000","519,258,283","390,258,283",3,2019,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3813,Big Hero 6,"165,000,000","652,127,828","487,127,828",3,2014,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3836,Kung Fu Panda 2,"150,000,000","664,837,547","514,837,547",3,2011,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3814,How to Train Your Dragon,"165,000,000","494,870,992","329,870,992",2,2010,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3874,Puss in Boots,"130,000,000","554,987,477","424,987,477",3,2011,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3848,How to Train Your Dragon 2,"145,000,000","614,586,270","469,586,270",3,2014,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3855,Kung Fu Panda 3,"140,000,000","517,599,142","377,599,142",3,2016,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
4102,The Lego Movie,"60,000,000","457,729,388","397,729,388",7,2014,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3860,The Croods,"135,000,000","573,068,425","438,068,425",3,2013,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3942,Legend of the Guardians: The Owls of Ga'Hoole,"100,000,000","139,716,717","39,716,717",0,2010,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
3756,Incredibles 2,"200,000,000","1,242,520,711","1,042,520,711",5,2018,"Action,Adventure,Animation",NaN,NaN,NaN,NaN
4392,Adrift,"35,000,000","57,897,191","22,897,191",1,2018,"Action,Adventure,Biography",NaN,NaN,NaN,NaN
4088,Everest,"65,000,000","221,297,061","156,297,061",2,2015,"Action,Adventure,Biography",NaN,NaN,NaN,NaN
3861,The Revenant,"135,000,000","532,938,302","397,938,302",3,2015,"Action,Adventure,Biography",NaN,NaN,NaN,NaN
3948,In the Heart of the Sea,"100,000,000","89,693,309","-10,306,691",-0,2015,"Action,Adventure,Biography",NaN,NaN,NaN,NaN
5718,Detention of the Dead,"500,000","1,778","-498,222",-1,2013,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3908,Knight and Day,"117,000,000","258,751,370","141,751,370",1,2010,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3913,Deadpool 2,"110,000,000","786,680,557","676,680,557",6,2018,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
4921,Teenage Mutant Ninja Turtles,"13,500,000","202,000,000","188,500,000",14,1990,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
4021,Journey 2: The Mysterious Island,"79,000,000","318,146,162","239,146,162",3,2012,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3871,Ant-Man,"130,000,000","518,858,449","388,858,449",3,2015,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3898,Monster Trucks,"125,000,000","61,642,798","-63,357,202",-1,2017,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3781,Thor: Ragnarok,"180,000,000","846,980,024","666,980,024",4,2017,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3990,Shazam!,"85,000,000","362,899,733","277,899,733",3,2019,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
4138,Deadpool,"58,000,000","801,025,593","743,025,593",13,2016,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
4149,Zhuo yao ji,"56,000,000","359,495,591","303,495,591",5,2016,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3930,Kingsman: The Golden Circle,"104,000,000","408,803,696","304,803,696",3,2017,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
5080,Gun Shy,"10,000,000","1,638,202","-8,361,798",-1,2000,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3963,Kingsman: The Secret Service,"94,000,000","404,561,724","310,561,724",3,2015,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3801,Guardians of the Galaxy,"170,000,000","770,867,516","600,867,516",4,2014,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3977,Now You See Me 2,"90,000,000","328,325,007","238,325,007",3,2016,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
5479,Stung,"2,500,000",0,"-2,500,000",-1,2015,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
4256,Johnny English Reborn,"45,000,000","164,640,401","119,640,401",3,2011,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
5142,Posledniy bogatyr,"8,500,000","30,700,192","22,200,192",3,2017,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3870,Ant-Man and the Wasp,"130,000,000","623,144,660","493,144,660",4,2018,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3881,R.I.P.D.,"130,000,000","79,076,678","-50,923,322",-0,2013,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3751,Men in Black 3,"215,000,000","654,213,485","439,213,485",2,2012,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3967,Jumanji: Welcome to the Jungle,"90,000,000","964,496,193","874,496,193",10,2017,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
5325,The Hatching,"5,000,000",0,"-5,000,000",-1,2016,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
5273,Monster,"5,000,000","64,240,813","59,240,813",12,2003,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
4429,The Young and Prodigious T.S. Spivet,"33,000,000","357,687","-32,642,313",-1,2015,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3864,Teenage Mutant Ninja Turtles: Out of the Shadows,"135,000,000","245,328,374","110,328,374",1,2016,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3888,Teenage Mutant Ninja Turtles,"125,000,000","485,004,754","360,004,754",3,2014,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
4268,Snatched,"42,000,000","57,852,177","15,852,177",0,2017,"Action,Adventure,Comedy",NaN,NaN,NaN,NaN
3991,Safe House,"85,000,000","208,542,162","123,542,162",1,2012,"Action,Adventure,Crime",NaN,NaN,NaN,NaN
4025,Renegades,"77,500,000","1,521,672","-75,978,328",-1,2019,"Action,Adventure,Crime",NaN,NaN,NaN,NaN
4325,The Hurricane Heist,"40,000,000","30,963,684","-9,036,316",-0,2018,"Action,Adventure,Crime",NaN,NaN,NaN,NaN
5539,Shark Lake,"2,000,000",0,"-2,000,000",-1,2015,"Action,Adventure,Crime",NaN,NaN,NaN,NaN
4274,Man on a Ledge,"42,000,000","49,621,440","7,621,440",0,2012,"Action,Adventure,Crime",NaN,NaN,NaN,NaN
4399,Hitman: Agent 47,"35,000,000","82,182,803","47,182,803",1,2015,"Action,Adventure,Crime",NaN,NaN,NaN,NaN
3889,Sherlock Holmes: A Game of Shadows,"125,000,000","535,663,443","410,663,443",3,2011,"Action,Adventure,Crime",NaN,NaN,NaN,NaN
4657,The Transporter Refueled,"22,000,000","69,698,495","47,698,495",2,2015,"Action,Adventure,Crime",NaN,NaN,NaN,NaN
5677,The Hammer,"850,000","442,638","-407,362",-0,2008,"Action,Adventure,Documentary",NaN,NaN,NaN,NaN
3986,Fantastic Four,"87,500,000","333,132,750","245,632,750",3,2005,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3880,After Earth,"130,000,000","251,499,665","121,499,665",1,2013,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4012,The Book of Eli,"80,000,000","158,750,817","78,750,817",1,2010,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3961,Ben-Hur,"95,000,000","91,669,648","-3,330,352",-0,2016,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3952,Robin Hood,"99,000,000","84,747,441","-14,252,559",-0,2018,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3828,War for the Planet of the Apes,"152,000,000","489,592,267","337,592,267",2,2017,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3915,San Andreas,"110,000,000","456,258,539","346,258,539",3,2015,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4019,Pompeii,"80,000,000","108,469,033","28,469,033",0,2014,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3906,Fantastic Four,"120,000,000","167,849,187","47,849,187",0,2015,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4423,The Darkest Minds,"34,000,000","38,361,428","4,361,428",0,2018,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4590,The Eagle,"25,000,000","38,993,548","13,993,548",1,2011,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
5104,Into the Grizzly Maze,"10,000,000",0,"-10,000,000",-1,2015,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4573,The Grey,"25,000,000","81,249,176","56,249,176",2,2012,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4960,Act of Valor,"12,000,000","82,497,035","70,497,035",6,2012,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
5222,Tracker,"6,500,000","3,149","-6,496,851",-1,2011,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3753,Robin Hood,"210,000,000","322,459,006","112,459,006",1,2010,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4896,Centurion,"15,000,000","7,885,048","-7,114,952",-0,2010,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3805,Snow White and the Huntsman,"170,000,000","401,021,746","231,021,746",1,2012,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4405,Bait,"35,000,000","15,471,969","-19,528,031",-1,2000,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4341,The 5th Wave,"38,000,000","111,336,398","73,336,398",2,2016,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
5492,The Timber,"2,100,000",0,"-2,100,000",-1,2015,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4195,Into the Storm,"50,000,000","150,429,371","100,429,371",2,2014,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4142,Red Tails,"58,000,000","50,365,498","-7,634,502",-0,2012,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4852,Ben-Hur,"15,000,000","73,259,017","58,259,017",4,1959,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3784,The Legend of Tarzan,"180,000,000","348,902,025","168,902,025",1,2016,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4094,Tian jiang xiong shi,"65,000,000","122,519,874","57,519,874",1,2015,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3857,Exodus: Gods and Kings,"140,000,000","268,314,513","128,314,513",1,2014,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3878,Noah,"130,000,000","352,831,065","222,831,065",2,2014,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3798,King Arthur: Legend of the Sword,"175,000,000","139,630,336","-35,369,664",-0,2017,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3799,47 Ronin,"175,000,000","151,716,815","-23,283,185",-0,2013,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
3804,Dawn of the Planet of the Apes,"170,000,000","710,644,566","540,644,566",3,2014,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4204,The Host,"50,000,000","64,477,051","14,477,051",0,2013,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
4621,Ironclad,"25,000,000","5,297,411","-19,702,589",-1,2011,"Action,Adventure,Drama",NaN,NaN,NaN,NaN
5072,Max Steel,"10,000,000","4,563,080","-5,436,920",-1,2016,"Action,Adventure,Family",NaN,NaN,NaN,NaN
3807,Tomorrowland,"170,000,000","206,627,518","36,627,518",0,2015,"Action,Adventure,Family",NaN,NaN,NaN,NaN
3823,The Sorcerer's Apprentice,"160,000,000","217,986,320","57,986,320",0,2010,"Action,Adventure,Family",NaN,NaN,NaN,NaN
4137,The Kid Who Would Be King,"59,000,000","28,348,446","-30,651,554",-1,2019,"Action,Adventure,Family",NaN,NaN,NaN,NaN
3839,The Last Airbender,"150,000,000","319,713,881","169,713,881",1,2010,"Action,Adventure,Family",NaN,NaN,NaN,NaN
3782,Maleficent,"180,000,000","758,536,735","578,536,735",3,2014,"Action,Adventure,Family",NaN,NaN,NaN,NaN
3891,Clash of the Titans,"125,000,000","493,214,888","368,214,888",3,2010,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4063,The Legend of Hercules,"70,000,000","58,953,319","-11,046,681",-0,2014,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3940,Hercules,"100,000,000","243,388,614","143,388,614",1,2014,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4825,Tron,"17,000,000","26,918,576","9,918,576",1,1982,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4869,Clash of the Titans,"15,000,000","44,400,000","29,400,000",2,1981,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4703,Conan the Barbarian,"20,000,000","79,114,085","59,114,085",3,1982,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4393,Underworld: Blood Wars,"35,000,000","81,209,222","46,209,222",1,2017,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4318,Season of the Witch,"40,000,000","91,126,600","51,126,600",1,2011,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4206,Hellboy,"50,000,000","40,725,492","-9,274,508",-0,2019,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4129,Priest,"60,000,000","84,154,026","24,154,026",0,2011,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4115,The Dark Tower,"60,000,000","113,461,527","53,461,527",1,2017,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4109,Hellboy,"60,000,000","99,823,958","39,823,958",1,2004,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4047,Hercules,"70,000,000","250,700,000","180,700,000",3,1997,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4039,Sucker Punch,"75,000,000","89,758,389","14,758,389",0,2011,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4018,The Last Witch Hunter,"80,000,000","130,818,912","50,818,912",1,2015,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
4007,The Mummy,"80,000,000","416,385,488","336,385,488",4,1999,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3980,Conan the Barbarian,"90,000,000","63,356,133","-26,643,867",-0,2011,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3978,Tomb Raider,"90,000,000","273,477,501","183,477,501",2,2018,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3962,Seventh Son,"95,000,000","108,874,967","13,874,967",0,2015,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3950,Mortal Engines,"100,000,000","85,287,417","-14,712,583",-0,2018,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3924,Ender's Game,"110,000,000","127,983,283","17,983,283",0,2013,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3859,Gods of Egypt,"140,000,000","138,836,756","-1,163,244",-0,2016,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3727,Pirates of the Caribbean: On Stranger Tides,"410,600,000","1,045,663,875","635,063,875",2,2011,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3795,Suicide Squad,"175,000,000","746,059,887","571,059,887",3,2016,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3769,The Mummy,"195,000,000","409,953,905","214,953,905",1,2017,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3833,Thor: The Dark World,"150,000,000","644,602,516","494,602,516",3,2013,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3777,Kong: Skull Island,"185,000,000","561,072,059","376,072,059",2,2017,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3840,Wrath of the Titans,"150,000,000","305,270,083","155,270,083",1,2012,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3786,Valerian and the City of a Thousand Planets,"180,000,000","215,098,356","35,098,356",0,2017,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3835,Thor,"150,000,000","449,326,618","299,326,618",2,2011,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3809,Godzilla: King of the Monsters,"170,000,000","299,276,941","129,276,941",1,2019,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3812,Doctor Strange,"165,000,000","676,404,566","511,404,566",3,2016,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3744,Pirates of the Caribbean: Dead Men Tell No Tales,"230,000,000","788,241,137","558,241,137",2,2017,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3739,Batman v Superman: Dawn of Justice,"250,000,000","867,500,281","617,500,281",2,2016,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3824,Warcraft,"160,000,000","425,522,281","265,522,281",2,2016,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3731,Justice League,"300,000,000","655,945,209","355,945,209",1,2017,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3734,Solo: A Star Wars Story,"275,000,000","393,151,347","118,151,347",0,2018,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3819,Aquaman,"160,000,000","1,146,894,640","986,894,640",6,2018,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN
3772,World War Z,"190,000,000","531,514,650","341,514,650",2,2013,"Action,Adventure,Horror",NaN,NaN,NaN,NaN
4145,Resident Evil: Afterlife,"57,500,000","295,874,190","238,374,190",4,2010,"Action,Adventure,Horror",NaN,NaN,NaN,NaN
4419,The Darkest Hour,"34,800,000","62,831,715","28,031,715",1,2011,"Action,Adventure,Horror",NaN,NaN,NaN,NaN
4224,Traffic,"48,000,000","208,300,000","160,300,000",3,2000,"Action,Adventure,Mystery",NaN,NaN,NaN,NaN
3897,Total Recall,"125,000,000","211,856,088","86,856,088",1,2012,"Action,Adventure,Mystery",NaN,NaN,NaN,NaN
3988,Divergent,"85,000,000","276,014,965","191,014,965",2,2014,"Action,Adventure,Mystery",NaN,NaN,NaN,NaN
4079,Total Recall,"65,000,000","261,400,000","196,400,000",3,1990,"Action,Adventure,Mystery",NaN,NaN,NaN,NaN
5756,Death Calls,"290,000",0,"-290,000",-1,2010,"Action,Adventure,Mystery",NaN,NaN,NaN,NaN
3981,The Three Musketeers,"90,000,000","139,877,913","49,877,913",1,2011,"Action,Adventure,Romance",NaN,NaN,NaN,NaN
3802,Iron Man 2,"170,000,000","621,156,389","451,156,389",3,2010,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3910,The Wolverine,"115,000,000","416,456,852","301,456,852",3,2013,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3822,Godzilla,"160,000,000","529,076,069","369,076,069",2,2014,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3817,Independence Day: Resurgence,"165,000,000","384,169,424","219,169,424",1,2016,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3774,Pacific Rim,"190,000,000","411,002,906","221,002,906",1,2013,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
5554,Independence Daysaster,"1,800,000",0,"-1,800,000",-1,2013,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
5790,Arrowhead,"180,000",0,"-180,000",-1,2017,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
4003,The Hunger Games,"80,000,000","677,923,379","597,923,379",7,2012,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3821,The Hunger Games: Mockingjay - Part 2,"160,000,000","648,986,787","488,986,787",3,2015,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3820,Inception,"160,000,000","835,524,642","675,524,642",4,2010,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3808,Alita: Battle Angel,"170,000,000","402,976,036","232,976,036",1,2019,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3778,Star Trek Beyond,"185,000,000","335,802,233","150,802,233",1,2016,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
4130,The Avengers,"60,000,000","48,585,416","-11,414,584",-0,1998,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3827,Pacific Rim: Uprising,"155,000,000","290,930,148","135,930,148",1,2018,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
4117,Vice,"60,000,000","70,883,171","10,883,171",0,2018,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3932,Bumblebee,"102,000,000","465,195,589","363,195,589",4,2018,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3787,Jupiter Ascending,"179,000,000","181,982,519","2,982,519",0,2015,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3788,X-Men: Apocalypse,"178,000,000","542,537,546","364,537,546",2,2016,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3791,Captain Marvel,"175,000,000","1,123,061,550","948,061,550",5,2019,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3803,Captain America: The Winter Soldier,"170,000,000","714,401,889","544,401,889",3,2014,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3794,Spider-Man: Homecoming,"175,000,000","880,166,350","705,166,350",4,2017,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3800,Jurassic World: Fallen Kingdom,"170,000,000","1,305,772,799","1,135,772,799",7,2018,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN
3985,The Predator,"88,000,000","159,487,563","71,487,563",1,2018,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN

In [188]:
test.loc[test['movie'] == 'Nurse 3D']

,movie,production_budget,worldwide_gross,total_profit,ROI,release_year,genres_x,genres_y_x,genres_3,genres_y,genres_y_y
2407,Nurse 3D,"10,000,000",0,"-10,000,000",-1,2014,NaN,"Horror,Thriller",NaN,NaN,NaN

#Checking to see what happens if I merge on Primary_title
#merged_df_2 = pd.merge(table9, imdb_df, left_on= 'movie', right_on= 'primary_title', how='left', indicator=True)
#merged_df_2.head(200)

In [75]:
#5978 records if I join this way.
merged_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5978 entries, 0 to 5977
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5978 non-null   int64
 1   release_date       5978 non-null   datetime64[ns]
 2   movie              5978 non-null   object
 3   production_budget  5978 non-null   float64
 4   domestic_gross     5978 non-null   float64
 5   worldwide_gross    5978 non-null   float64
 6   release_year       5978 non-null   int64
 7   total_profit       5978 non-null   float64
 8   ROI                5978 non-null   float64
 9   tconst             2369 non-null   object
 10  averagerating      2369 non-null   float64
 11  numvotes           2369 non-null   float64
 12  primary_title      2369 non-null   object
 13  original_title     2369 non-null   object
 14  start_year         2369 non-null   float64
 15  runtime_minutes    2300 non-null   float64
 16  genres             2366 non-null   object
 17  _merge             5978 non-null   category
dtypes: category(1), datetime64[ns](1), float64(9), int64(2), object(5)
memory usage: 846.6+ KB

In [77]:
#duplicates = merged_df_2[merged_df_2['movie'].duplicated()]
#print(len(duplicates))
#duplicates.head()

280

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
135,35,2017-03-17,Beauty and the Beast,"160,000,000","504,014,165","1,259,199,706",2017,"1,099,199,706",7,tt2771200,7,"238,325",Beauty and the Beast,Beauty and the Beast,"2,017",129,"Family,Fantasy,Musical",both
157,56,2013-11-22,Frozen,"150,000,000","400,738,009","1,272,469,910",2013,"1,122,469,910",7,tt1611845,5,75,Frozen,Wai nei chung ching,"2,010",92,"Fantasy,Romance",both
246,44,2015-03-27,Home,"130,000,000","177,397,510","385,997,896",2015,"255,997,896",2,tt4047846,7,811,Home,Home,"2,016",103,Drama,both
247,44,2015-03-27,Home,"130,000,000","177,397,510","385,997,896",2015,"255,997,896",2,tt2075392,6,96,Home,Yurt,"2,011",76,Drama,both
248,44,2015-03-27,Home,"130,000,000","177,397,510","385,997,896",2015,"255,997,896",2,tt2372760,7,306,Home,Hemma,"2,013",90,"Drama,Romance",both

In [74]:
merged_df_2.sort_values('total_profit', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,tt1775309,6,43,Avatar,Abatâ,"2,011",93,Horror,both
42,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997,"2,008,208,395",10,tt2495766,6,20,Titanic,Titanic,"2,012",nan,Adventure,both
6,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6,tt4154756,8,"670,926",Avengers: Infinity War,Avengers: Infinity War,"2,018",149,"Action,Adventure,Sci-Fi",both
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
33,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015,"1,433,854,864",7,tt0369610,7,"539,338",Jurassic World,Jurassic World,"2,015",124,"Action,Adventure,Sci-Fi",both
66,67,2015-04-03,Furious 7,"190,000,000","353,007,020","1,518,722,794",2015,"1,328,722,794",7,tt2820852,7,"335,074",Furious 7,Furious Seven,"2,015",137,"Action,Crime,Thriller",both
26,27,2012-05-04,The Avengers,"225,000,000","623,279,547","1,517,935,897",2012,"1,292,935,897",6,tt0848228,8,"1,183,655",The Avengers,The Avengers,"2,012",143,"Action,Adventure,Sci-Fi",both
265,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,"125,000,000","381,193,157","1,341,693,157",2011,"1,216,693,157",10,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
41,42,2018-02-16,Black Panther,"200,000,000","700,059,566","1,348,258,224",2018,"1,148,258,224",6,tt1825683,7,"516,148",Black Panther,Black Panther,"2,018",134,"Action,Adventure,Sci-Fi",both
112,13,2018-06-22,Jurassic World: Fallen Kingdom,"170,000,000","417,719,760","1,305,772,799",2018,"1,135,772,799",7,tt4881806,6,"219,125",Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,"2,018",128,"Action,Adventure,Sci-Fi",both
156,56,2013-11-22,Frozen,"150,000,000","400,738,009","1,272,469,910",2013,"1,122,469,910",7,tt1323045,6,"62,311",Frozen,Frozen,"2,010",93,"Adventure,Drama,Sport",both
157,56,2013-11-22,Frozen,"150,000,000","400,738,009","1,272,469,910",2013,"1,122,469,910",7,tt1611845,5,75,Frozen,Wai nei chung ching,"2,010",92,"Fantasy,Romance",both
135,35,2017-03-17,Beauty and the Beast,"160,000,000","504,014,165","1,259,199,706",2017,"1,099,199,706",7,tt2771200,7,"238,325",Beauty and the Beast,Beauty and the Beast,"2,017",129,"Family,Fantasy,Musical",both
134,35,2017-03-17,Beauty and the Beast,"160,000,000","504,014,165","1,259,199,706",2017,"1,099,199,706",7,tt2316801,6,"18,100",Beauty and the Beast,La belle et la bête,"2,014",112,"Drama,Fantasy,Romance",both
688,73,2015-07-10,Minions,"74,000,000","336,045,770","1,160,336,173",2015,"1,086,336,173",15,tt2293640,6,"193,917",Minions,Minions,"2,015",91,"Adventure,Animation,Comedy",both
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3,tt2395427,7,"665,594",Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,"Action,Adventure,Sci-Fi",both
432,26,2003-12-17,The Lord of the Rings: The Return of the King,"94,000,000","377,845,905","1,141,403,341",2003,"1,047,403,341",11,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
43,44,2018-06-15,Incredibles 2,"200,000,000","608,581,744","1,242,520,711",2018,"1,042,520,711",5,tt3606756,8,"203,510",Incredibles 2,Incredibles 2,"2,018",118,"Action,Adventure,Animation",both
47,48,2013-05-03,Iron Man 3,"200,000,000","408,992,272","1,215,392,272",2013,"1,015,392,272",5,tt1300854,7,"692,794",Iron Man 3,Iron Man Three,"2,013",130,"Action,Adventure,Sci-Fi",both
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
136,36,2018-12-21,Aquaman,"160,000,000","335,061,807","1,146,894,640",2018,"986,894,640",6,tt1477834,7,"263,328",Aquaman,Aquaman,"2,018",143,"Action,Adventure,Fantasy",both
22,23,2017-04-14,The Fate of the Furious,"250,000,000","225,764,765","1,234,846,267",2017,"984,846,267",4,tt4630562,7,"179,774",The Fate of the Furious,The Fate of the Furious,"2,017",136,"Action,Crime,Thriller",both
843,25,1993-06-11,Jurassic Park,"63,000,000","395,708,305","1,038,812,584",1993,"975,812,584",15,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
643,30,2017-06-30,Despicable Me 3,"75,000,000","264,624,300","1,034,727,750",2017,"959,727,750",13,tt3469046,6,"92,580",Despicable Me 3,Despicable Me 3,"2,017",89,"Adventure,Animation,Comedy",both
95,96,2019-03-08,Captain Marvel,"175,000,000","426,525,952","1,123,061,550",2019,"948,061,550",5,tt4154664,7,"296,225",Captain Marvel,Captain Marvel,"2,019",123,"Action,Adventure,Sci-Fi",both
63,64,2011-06-29,Transformers: Dark of the Moon,"195,000,000","352,390,543","1,123,790,543",2011,"928,790,543",5,tt1399103,6,"366,409",Transformers: Dark of the Moon,Transformers: Dark of the Moon,"2,011",154,"Action,Adventure,Sci-Fi",both
309,4,1999-05-19,Star Wars Ep. I: The Phantom Menace,"115,000,000","474,544,677","1,027,044,677",1999,"912,044,677",8,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
51,52,2012-11-08,Skyfall,"200,000,000","304,360,277","1,110,526,981",2012,"910,526,981",5,tt1074638,8,"592,221",Skyfall,Skyfall,"2,012",143,"Action,Adventure,Thriller",both
621,9,1994-06-15,The Lion King,"79,300,000","421,785,283","986,214,868",1994,"906,914,868",11,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
635,22,2013-07-03,Despicable Me 2,"76,000,000","368,065,385","975,216,835",2013,"899,216,835",12,tt1690953,7,"344,230",Despicable Me 2,Despicable Me 2,"2,013",98,"Adventure,Animation,Comedy",both
36,37,2014-06-27,Transformers: Age of Extinction,"210,000,000","245,439,076","1,104,039,076",2014,"894,039,076",4,tt2109248,6,"283,486",Transformers: Age of Extinction,Transformers: Age of Extinction,"2,014",165,"Action,Adventure,Sci-Fi",both
16,17,2016-05-06,Captain America: Civil War,"250,000,000","408,084,349","1,140,069,413",2016,"890,069,413",4,tt3498820,8,"583,507",Captain America: Civil War,Captain America: Civil War,"2,016",147,"Action,Adventure,Sci-Fi",both
444,38,2017-12-20,Jumanji: Welcome to the Jungle,"90,000,000","404,508,916","964,496,193",2017,"874,496,193",10,tt2283362,7,"242,735",Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,"2,017",119,"Action,Adventure,Comedy",both
158,57,2016-03-04,Zootopia,"150,000,000","341,268,248","1,019,429,616",2016,"869,429,616",6,tt2948356,8,"383,446",Zootopia,Zootopia,"2,016",108,"Adventure,Animation,Comedy",both
46,47,2010-06-18,Toy Story 3,"200,000,000","415,004,880","1,068,879,522",2010,"868,879,522",4,tt0435761,8,"682,218",Toy Story 3,Toy Story 3,"2,010",103,"Adventure,Animation,Comedy",both
708,93,2004-05-19,Shrek 2,"70,000,000","441,226,247","937,008,132",2004,"867,008,132",12,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
267,63,2001-11-16,Harry Potter and the Sorcererâs Stone,"125,000,000","317,871,467","975,047,606",2001,"850,047,606",7,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
44,45,2016-12-16,Rogue One: A Star Wars Story,"200,000,000","532,177,324","1,049,102,856",2016,"849,102,856",4,tt3748528,8,"478,592",Rogue One: A Star Wars Story,Rogue One,"2,016",133,"Action,Adventure,Sci-Fi",both
431,25,2003-05-30,Finding Nemo,"94,000,000","380,529,370","936,429,370",2003,"842,429,370",9,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
27,28,2006-07-07,Pirates of the Caribbean: Dead Manâs Chest,"225,000,000","423,315,812","1,066,215,812",2006,"841,215,812",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
433,27,2002-12-18,The Lord of the Rings: The Two Towers,"94,000,000","342,548,984","934,699,645",2002,"840,699,645",9,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1004,84,2018-11-02,Bohemian Rhapsody,"55,000,000","216,303,339","894,985,342",2018,"839,985,342",15,tt1727824,8,"345,466",Bohemian Rhapsody,Bohemian Rhapsody,"2,018",134,"Biography,Drama,Music",both
268,64,2010-11-19,Harry Potter and the Deathly Hallows: Part I,"125,000,000","296,131,568","960,431,568",2010,"835,431,568",7,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
50,51,2010-03-05,Alice in Wonderland,"200,000,000","334,191,110","1,025,491,110",2010,"825,491,110",4,tt2049386,6,6,Alice in Wonderland,Alice in Wonderland,"2,010",99,"Fantasy,Musical",both
45,46,2016-06-17,Finding Dory,"200,000,000","486,295,561","1,021,215,193",2016,"821,215,193",4,tt2277860,7,"213,542",Finding Dory,Finding Dory,"2,016",97,"Adventure,Animation,Comedy",both
74,75,2008-07-18,The Dark Knight,"185,000,000","533,720,947","1,001,996,207",2008,"816,996,207",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
639,26,2016-07-08,The Secret Life of Pets,"75,000,000","368,384,330","886,750,534",2016,"811,750,534",11,tt2709768,6,"161,997",The Secret Life of Pets,The Secret Life of Pets,"2,016",87,"Adventure,Animation,Comedy",both
10,11,2012-07-20,The Dark Knight Rises,"275,000,000","448,139,099","1,084,439,099",2012,"809,439,099",3,tt1345836,8,"1,387,769",The Dark Knight Rises,The Dark Knight Rises,"2,012",164,"Action,Thriller",both
159,58,2007-07-11,Harry Potter and the Order of the Phoenix,"150,000,000","292,137,260","943,076,457",2007,"793,076,457",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
96,97,2016-04-15,The Jungle Book,"175,000,000","364,001,123","962,854,547",2016,"787,854,547",5,tt3040964,7,"240,821",The Jungle Book,The Jungle Book,"2,016",106,"Adventure,Drama,Family",both
419,14,2012-07-13,Ice Age: Continental Drift,"95,000,000","161,321,843","879,765,137",2012,"784,765,137",8,tt1667889,7,"175,601",Ice Age: Continental Drift,Ice Age: Continental Drift,"2,012",88,"Adventure,Animation,Comedy",both
3645,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000","435,110,554","792,965,326",1982,"782,465,326",75,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
369,64,2002-11-15,Harry Potter and the Chamber of Secrets,"100,000,000","262,233,381","879,225,135",2002,"779,225,135",8,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
348,43,2001-12-19,The Lord of the Rings: The Fellowship of the Ring,"109,000,000","315,544,750","887,210,985",2001,"778,210,985",7,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3584,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000","460,998,007","786,598,007",1977,"775,598,007",71,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
449,43,2009-07-01,Ice Age: Dawn of the Dinosaurs,"90,000,000","196,573,705","859,701,857",2009,"769,701,857",9,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
18,19,2012-12-14,The Hobbit: An Unexpected Journey,"250,000,000","303,003,568","1,017,003,568",2012,"767,003,568",3,tt0903624,8,"719,629",The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,"2,012",169,"Adventure,Family,Fantasy",both
160,59,2005-11-18,Harry Potter and the Goblet of Fire,"150,000,000","290,201,752","897,099,794",2005,"747,099,794",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
976,56,2016-02-12,Deadpool,"58,000,000","363,070,709","801,025,593",2016,"743,025,593",13,tt1431045,8,"820,847",Deadpool,Deadpool,"2,016",108,"Action,Adventure,Comedy",both
640,27,1996-07-02,Independence Day,"75,000,000","306,169,255","817,400,878",1996,"742,400,878",10,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
308,3,2018-10-05,Venom,"116,000,000","213,511,408","853,628,605",2018,"737,628,605",6,tt1270797,7,"275,406",Venom,Venom,"2,018",112,"Action,Sci-Fi,Thriller",both
239,38,2013-11-22,The Hunger Games: Catching Fire,"130,000,000","424,668,047","864,868,047",2013,"734,868,047",6,tt1951264,8,"575,455",The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,"2,013",146,"Action,Adventure,Sci-Fi",both
310,5,2005-05-19,Star Wars Ep. III: Revenge of the Sith,"115,000,000","380,270,577","848,998,877",2005,"733,998,877",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
20,21,2013-12-13,The Hobbit: The Desolation of Smaug,"250,000,000","258,366,855","960,366,855",2013,"710,366,855",3,tt1170358,8,"565,563",The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,"2,013",161,"Adventure,Fantasy",both
98,99,2017-07-07,Spider-Man: Homecoming,"175,000,000","334,201,140","880,166,350",2017,"705,166,350",4,tt2250912,8,"426,302",Spider-Man: Homecoming,Spider-Man: Homecoming,"2,017",133,"Action,Adventure,Sci-Fi",both
21,22,2014-12-17,The Hobbit: The Battle of the Five Armies,"250,000,000","255,119,788","945,577,621",2014,"695,577,621",3,tt2310332,7,"438,621",The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,"2,014",144,"Adventure,Fantasy",both
226,25,2012-11-16,"The Twilight Saga: Breaking Dawn, Part 2","136,200,000","292,324,737","829,724,737",2012,"693,524,737",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
19,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
220,19,2002-05-03,Spider-Man,"139,000,000","403,706,375","821,706,375",2002,"682,706,375",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
97,98,2015-06-19,Inside Out,"175,000,000","356,461,711","854,235,992",2015,"679,235,992",4,tt1640486,5,"1,566",Inside Out,Inside Out,"2,011",93,"Crime,Drama",both
320,15,2018-05-18,Deadpool 2,"110,000,000","324,591,735","786,680,557",2018,"676,680,557",6,tt5463162,8,"391,735",Deadpool 2,Deadpool 2,"2,018",119,"Action,Adventure,Comedy",both
138,38,2010-07-16,Inception,"160,000,000","292,576,195","835,524,642",2010,"675,524,642",4,tt1375666,9,"1,841,066",Inception,Inception,"2,010",148,"Action,Adventure,Sci-Fi",both
155,55,2017-06-02,Wonder Woman,"150,000,000","412,563,408","821,133,378",2017,"671,133,378",4,tt4028068,4,20,Wonder Woman,Wonder Woman,"2,014",60,Sci-Fi,both
81,82,2017-11-03,Thor: Ragnarok,"180,000,000","315,058,289","846,980,024",2017,"666,980,024",4,tt3501632,8,"482,995",Thor: Ragnarok,Thor: Ragnarok,"2,017",130,"Action,Adventure,Comedy",both
240,39,2004-06-04,Harry Potter and the Prisoner of Azkaban,"130,000,000","249,757,726","796,907,323",2004,"666,907,323",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1659,24,2017-09-08,It,"35,000,000","327,481,748","697,457,969",2017,"662,457,969",19,tt1396484,7,"359,123",It,It,"2,017",135,"Horror,Thriller",both
48,49,2017-05-05,Guardians of the Galaxy Vol 2,"200,000,000","389,813,101","862,316,233",2017,"662,316,233",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
137,37,2007-05-17,Shrek the Third,"160,000,000","322,719,944","807,330,936",2007,"647,330,936",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
269,65,2006-05-19,The Da Vinci Code,"125,000,000","217,536,138","767,820,459",2006,"642,820,459",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
266,62,2014-11-21,The Hunger Games: Mockingjay - Part 1,"125,000,000","337,135,885","766,575,131",2014,"641,575,131",5,tt1951265,7,"379,050",The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,"2,014",123,"Action,Adventure,Sci-Fi",both
771,53,2010-06-30,The Twilight Saga: Eclipse,"68,000,000","300,531,751","706,102,828",2010,"638,102,828",9,tt1325004,5,"211,733",The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,"2,010",124,"Adventure,Drama,Fantasy",both
1105,82,2009-11-20,The Twilight Saga: New Moon,"50,000,000","296,623,634","687,557,727",2009,"637,557,727",13,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
15,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2,tt1298650,7,"447,624",Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,"Action,Adventure,Fantasy",both
1405,75,1999-08-06,The Sixth Sense,"40,000,000","293,506,292","672,806,292",1999,"632,806,292",16,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
140,40,2013-05-24,Fast and Furious 6,"160,000,000","238,679,850","789,300,444",2013,"629,300,444",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
35,36,2009-06-24,Transformers: Revenge of the Fallen,"210,000,000","402,111,870","836,519,699",2009,"626,519,699",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1002,82,1994-07-06,Forrest Gump,"55,000,000","330,151,138","679,850,637",1994,"624,850,637",11,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
101,2,2017-11-22,Coco,"175,000,000","209,726,015","798,008,101",2017,"623,008,101",4,tt7002100,7,35,Coco,Coco,"2,017",98,Horror,both
84,85,2016-11-18,Fantastic Beasts and Where to Find Them,"180,000,000","234,037,575","802,402,853",2016,"622,402,853",3,tt3183660,7,"365,353",Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,"2,016",132,"Adventure,Family,Fantasy",both
17,18,2016-03-25,Batman v Superman: Dawn of Justice,"250,000,000","330,360,194","867,500,281",2016,"617,500,281",2,tt2975590,6,"576,909",Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,"2,016",151,"Action,Adventure,Fantasy",both
91,92,2018-07-27,Mission: ImpossibleâFallout,"178,000,000","220,159,104","787,456,552",2018,"609,456,552",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
198,97,2012-06-08,Madagascar 3: Europe's Most Wanted,"145,000,000","216,391,482","746,921,271",2012,"601,921,271",4,tt1277953,7,"146,858",Madagascar 3: Europe's Most Wanted,Madagascar 3: Europe's Most Wanted,"2,012",93,"Adventure,Animation,Comedy",both
75,76,2008-05-22,Indiana Jones and the Kingdom of the Crystal S...,"185,000,000","317,101,119","786,635,413",2008,"601,635,413",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
113,14,2014-08-01,Guardians of the Galaxy,"170,000,000","333,172,112","770,867,516",2014,"600,867,516",4,tt2015381,8,"948,394",Guardians of the Galaxy,Guardians of the Galaxy,"2,014",121,"Action,Adventure,Comedy",both
549,38,2012-03-23,The Hunger Games,"80,000,000","408,010,692","677,923,379",2012,"597,923,379",7,tt1392170,7,"795,227",The Hunger Games,The Hunger Games,"2,012",142,"Action,Adventure,Sci-Fi",both
2214,60,2004-02-25,The Passion of the Christ,"25,000,000","370,782,930","622,341,924",2004,"597,341,924",24,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
49,50,2004-06-30,Spider-Man 2,"200,000,000","373,524,485","795,110,670",2004,"595,110,670",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
126,27,2010-05-21,Shrek Forever After,"165,000,000","238,736,787","756,244,673",2010,"591,244,673",4,tt0892791,6,"167,532",Shrek Forever After,Shrek Forever After,"2,010",93,"Adventure,Animation,Comedy",both

In [174]:
#genres = project_df_2.apply(lambda x: x['genres'] + x['genres_y'], axis=1)
#genres

<ipython-input-175-2183470904ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  project_df_2['genres_3'] = project_df_2['genres'] + project_df_2['genres_y']

In [177]:
project_df_2.loc['genres']

KeyError: 'genres'

In [ ]:
#movie_title_df = imdb_df[['tconst' , 'primary_title' , 'original_title', 'start_year', 'runtime_minutes']]
#movie_title_df

In [ ]:
#imdb_df['o_tconst'] = imdb_df['tconst']
#imdb_df

In [ ]:
#imdb_title1 = imdb_df[['primary_title' , 'p_tconst']]
#imdb_title2 = imdb_df[['original_title', 'o_tconst']]

In [ ]:
#imdb_title = [imdb_title1, imdb_title2]
#imdb_title

In [ ]:
#master_title_df_1= pd.merge(imdb_title1, table9_name, left_on='primary_title', right_on='movie', how='left' )
#master_title_df_1

In [ ]:
#master_title_df_1.sort_values('movie', ascending=True).head()

In [ ]:
#master_title_df_2 = pd.merge(imdb_title2, table9_name, left_on='original_title', right_on='movie', how='left' )
#master_title_df_2

In [ ]:
#master_title_df_2.sort_values('movie').head(20)

In [ ]:
#master_title_df = pd.merge(master_title_df_1, master_title_df_2, left_on='primary_title', right_on='original_title', how='outer' )
#master_title_df

In [ ]:
#master_title_df.sort_values('movie_x', ascending=True).head(1000)

In [ ]:
#table9_name = table9[['movie', 'id']]
#table9_name

In [ ]:
#table9.sort_values('total_profit', ascending=False).head(100)

In [ ]:
#table9_titles = table9[['id' , 'movie' , 'release_year', 'total_profit', 'ROI', 'release_date']]
#table9_titles

In [ ]:
#doing an inner join gives me 2,369 records

#merged_df = pd.merge(movie_title_df, table9_titles, left_on= 'primary_title', right_on= 'movie', how='inner')
#merged_df

#table9_titles
#movie_title_df

#df4 =pd.merge(df2, df3, left_on= 'tconst', right_on= 'tconst')
#df4

In [ ]:
#an outer join gives me 74,630 rows
#merged_df_outer = pd.merge(movie_title_df, table9_titles, left_on= 'primary_title', right_on= 'movie', how='outer')
#merged_df_outer

In [ ]:
#merged_df_outer.sort_values('total_profit', ascending=False).head(1000)

In [ ]:
#The start_year and release_year values are no longer in datetime format. I need to change the null values
#to an appropriate value so that I can correctly format the years.

#merged_df_outer['start_year'] = pd.to_datetime(merged_df_outer['start_year'], errors='coerce')
#merged_df_outer

In [ ]:
#I want to keep all of the data from table9 as the financial data is the most important to me.
#I will do right join and see if that gives me what I want.
merged_df_2 = pd.merge(movie_title_df, table9_titles, left_on= 'primary_title', right_on= 'movie', how='right')
merged_df_2

In [ ]:
merged_df_2.info()

In [ ]:
merged_df_2.sort_values('total_profit', ascending=False).head(100)

In [ ]:
#merged_df_22 = pd.merge(merged_df_2, master_title_df_2, on= 'movie', how='outer')
#merged_df_22

In [ ]:
#cleaned_df_22['p_tconst'] = merged_df_22['tconst']

In [ ]:
#cleaned_df_22.sort_values('total_profit', ascending=False).head(10)

In [ ]:
#dropping all the repeated or unneccesary columns.
#cleaned_df_22 = cleaned_df_22.drop('start_year', axis=1)
#cleaned_df_22.head(10)

In [ ]:
#renaming some columns
#cleaned_df_22['id_or'] = cleaned_df_22['id_y']
#cleaned_df_22.head()

In [ ]:
#cleaned_df_22.sort_values('total_profit', ascending=False).head(100)

In [ ]:
#cleaned_df_22.info()

In [ ]:
#master_df = cleaned_df_22
#master_df

In [ ]:
#master_df_2 = master_df[['total_profit','movie', 'id_p', 'id_or', 'original_title_or','o_tconst', 'original_title_p', 'p_tconst']]
#master_df_2.sort_values('total_profit', ascending=False).head(100)

In [ ]:
#movie_duplicates = master_df_3['movie'].duplicated()
#movie_duplicates.head(10)

In [ ]:
merged_df_2

In [ ]:
merged_df_outer.info()

In [ ]:
#what if I joined on original title rather than primary title?

merged_df_3 = pd.merge(movie_title_df, table9_titles, left_on= 'original_title', right_on= 'movie', how='right')
merged_df_3

In [ ]:
merged_df_3.info()

In [ ]:
merged_df_3.sort_values('total_profit', ascending=False).head(100)

In [ ]:
#Exploring some more datasets to see which ones I want to use.
#merged_rt_df = pd.merge(table6, table8, on= 'id', how='outer')
#merged_rt_df

In [ ]:
#I can't figure out how to find the movie title on the RT database.
#with API I could possibly scrape it.
merged_rt_df.info()

In [ ]:
#merged_rt_df_2 = merged_rt_df

In [ ]:
#merged_rt_df['runtime'].isna().sum()

In [ ]:
#corrected_runtime = merged_rt_df_2['runtime'].fillna(0)

In [ ]:
#corrected_runtime

In [ ]:
#corrected_runtime_2 = corrected_runtime.str[:3]
#corrected_runtime_2

In [ ]:
#corrected_runtime_2.isna().sum()

In [ ]:
#corrected_runtime_3 = corrected_runtime_2.fillna(0)

In [ ]:
#corrected_runtime_3.value_counts()

In [ ]:
#merged_rt_df_2['runtime'] = corrected_runtime_3

In [ ]:
#merged_rt_df_2.info()

In [ ]:
#merged_rt_df_2 = merged_rt_df_2.drop('box_office', axis=1)
#merged_rt_df_2.head(10)

In [ ]:
#merged_rt_df_2['runtime'].isna().sum()

In [ ]:
#droping null values so I can convert the reamining ones to float.
#merged_rt_df_2['runtime'].dropna(NaN)

In [ ]:
#cleaned_runtime = merged_rt_df_2['runtime'].str[:3]
#cleaned_runtime.tail(5)

In [ ]:
#cleaned_theater_date = pd.to_datetime(merged_rt_df_2['theater_date'])
#cleaned_theater_date

In [ ]:
#merged_rt_df_2["theater_date"] = cleaned_theater_date
#merged_rt_df_2

In [ ]:
df = merged_rt_df_2

In [ ]:
duplicates = df[df.duplicated()]
print(len(duplicates))
duplicates.head()

df.drop_duplicates(keep='first', inplace=True)

In [ ]:
merged_with_rt_2 = pd.merge(merged_df_2, merged_rt_df_2,  how='left', right_on=['theater_date','runtime'], left_on = ['release_date','runtime_minutes'])

In [ ]:
merged_with_rt_2.sort_values('theater_date', ascending=True).head(100)

In [ ]:
merged_with_rt = pd.merge(merged_df_2, df, left_on= 'release_date', right_on= 'theater_date', how='right')
merged_with_rt

In [ ]:
merged_with_rt.head(200)

In [ ]:
merged_df_2.info()

In [ ]:
rt_duplicates = merged_rt_df_2[[merged_rt_df_2['id']].duplicated]

In [ ]:
merged_rt_df_2.info()

In [ ]:
merged_df_2.info()

In [ ]:
merged_rt_df['runtime'][299]

In [ ]:
merged_rt_df.sort_values('theater_date', ascending=False).head(100)

In [ ]:
merged_rt_df

In [ ]:
#Looking for some of the titles that aren't matching in my merged df
merged_df_4 = pd.merge(movie_title_df, table9_titles, left_on= 'original_title', right_on= 'movie', how='left')
merged_df_4

In [ ]:
merged_df_4.sort_values('total_profit', ascending=False).head(100)

In [ ]:
merged_df_5 = {}

for x in merged_df_3:
    if x['release_date'] >= 2010:
        merged_df_5.append(x)

merged_df_5

In [ ]:
merged_df_3

In [ ]:
#attempting to search for some of the missing values

In [ ]:
merged_df_4['primary_title']

In [ ]:
merged_df_4.str.contains('star', regex=False).head(100)

In [ ]:
#I am going to attempt a join to see what the resulting dataframe would look like.
test_join_outer = table9.join(table7, how='inner')
test_join_outer
#That didn't work! They were joining by the IDs, which are completely different.
#Let me change the index for each and try again.

In [ ]:
table9.set_index('movie', inplace=True)
table9

In [ ]:
table7.set_index('primary_title', inplace=True)
table7

In [ ]:
test_join_outer_2 = table9.join(table7, how='outer')
test_join_outer_2

In [ ]:
test_join_outer_2.info()

In [ ]:
test_join_outer_2.rename(columns={test_join_outer_2.columns[1]: 'new'})
test_join_outer_2

In [ ]:
test_join_outer_2.sort_values('original_title', ascending=True).head(100)
test_join_outer_2

In [ ]:
test_join_inner_2 = table9.join(table7, how='left')
test_join_inner_2

In [ ]:
df1 = test_join_inner_2
df1.head(100)

In [ ]:
df1.sort_values(by='worldwide_gross', ascending=False).head(100)

In [ ]:
#Problems to address: Lots of duplicates. Avatar merged with a horror movie. 
#start_year needs to be changed to datetime. not a lot of genre information.

In [ ]:
#Plan of attack: Clean up the data that I've got. Attempt to merge in table2.

In [ ]:
start_year = df1['start_year']
start_year

In [ ]:
cleaned_start_year = start_year.astype(str)
cleaned_start_year

In [ ]:
cleaned_start_year_2 = cleaned_start_year.str.rstrip('.0')
cleaned_start_year_2

In [ ]:
cleaned_start_year_2.astype(str)

In [ ]:
df1['start_year']=cleaned_start_year_2
df1

In [ ]:
#I am going to merge several of the IMDB datasets together, using the tconst as a key.
#imdb_df = pd.merge(table1, table4, left_on= 'tconst', right_on= 'tconst')
#df2

In [ ]:
#df3 = pd.merge(table7, table11, left_on= 'tconst', right_on= 'tconst')
#df3

In [ ]:
#df4 =pd.merge(df2, df3, left_on= 'tconst', right_on= 'tconst')
#df4

In [ ]:
#df4 = df4.drop_duplicates('original_title', keep='first')

In [ ]:
#df4.sort_values('original_title', ascending=True).head(100)

In [ ]:
#dropped the columns that weren't useful. (can always get them back from the original sources)
#df4 = df4.drop('nconst', axis=1)
#df4.head(10)

In [ ]:
#df4.info()

In [ ]:
#exploring table10 to see if it contains any box office data that table9 does not contain.
table10.describe()

In [ ]:
table10.info()

In [ ]:
pizza = table10['foreign_gross']
pizza

In [ ]:
table10['foriegn_gross2'] = pd.to_numeric(table10['foreign_gross'], errors='coerce')
table10

In [ ]:
table10.drop(["foreign_gross2"], axis=1, inplace=True)
table10

In [ ]:
total_gross = table10.apply(lambda x: x['domestic_gross'] + x['foriegn_gross'], axis=1)
total_gross

In [ ]:
table10['total_gross'] = total_gross

In [ ]:
table10.sort_values('total_gross', ascending=False).head(100)

In [ ]:
merged_df_6 = pd.merge(merged_df_3, table10, left_on= 'movie', right_on= 'title', how='left')
merged_df_6

In [ ]:
merged_df_6.sort_values('total_profit', ascending=False).head(5)

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
Data Analysis.
Make this a heading!

In [ ]:
Questions that I want to answer:
    
    1) What are the genres of the movies that made the most profit?
    2) What are the genres of the movies with the best ROI?
    3) How much money do you need to spend to make these movies?
    4) Maybe look at directors/studios/etc?

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***