![example](images/director_shot.jpeg)

# Phase 1 Project

**Authors:** Jonathan Holt
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# Here you run your code to explore the data
import glob, os
fpath = 'zippedData/'
os.listdir(fpath)

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [3]:
query = fpath+"*.gz"

file_list=glob.glob(query)
file_list

['zippedData/imdb.title.crew.csv.gz',
 'zippedData/tmdb.movies.csv.gz',
 'zippedData/imdb.title.akas.csv.gz',
 'zippedData/imdb.title.ratings.csv.gz',
 'zippedData/imdb.name.basics.csv.gz',
 'zippedData/rt.reviews.tsv.gz',
 'zippedData/imdb.title.basics.csv.gz',
 'zippedData/rt.movie_info.tsv.gz',
 'zippedData/tn.movie_budgets.csv.gz',
 'zippedData/bom.movie_gross.csv.gz',
 'zippedData/imdb.title.principals.csv.gz']

In [4]:
tables = {}

for file in file_list:
    print('---'*20)
    file_name = file.replace('zippedData/', '').replace('.', '_')
    print(file_name)
    
    
    
    if 'tsv.gz' in file:
        temp_df = pd.read_csv(file, sep= "\t", encoding = "latin-1")
    else:
        temp_df = pd.read_csv(file)
    
    display(temp_df.head(), temp_df.tail())
    tables[file_name] = temp_df

------------------------------------------------------------
imdb_title_crew_csv_gz

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

           tconst              directors     writers
146139  tt8999974             nm10122357  nm10122357
146140  tt9001390              nm6711477   nm6711477
146141  tt9001494  nm10123242,nm10123248         NaN
146142  tt9004986              nm4993825   nm4993825
146143  tt9010172                    NaN   nm8352242

------------------------------------------------------------
tmdb_movies_csv_gz

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.6,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.6,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

------------------------------------------------------------
imdb_title_akas_csv_gz

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

,title_id,ordering,title,region,language,types,attributes,is_original_title
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

------------------------------------------------------------
imdb_title_ratings_csv_gz

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

          tconst  averagerating  numvotes
73851  tt9805820            8.1        25
73852  tt9844256            7.5        24
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

------------------------------------------------------------
imdb_name_basics_csv_gz

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

------------------------------------------------------------
rt_reviews_tsv_gz

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

,id,review,rating,fresh,critic,top_critic,publisher,date
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

------------------------------------------------------------
imdb_title_basics_csv_gz

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

------------------------------------------------------------
rt_movie_info_tsv_gz

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

------------------------------------------------------------
tn_movie_budgets_csv_gz

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

------------------------------------------------------------
bom_movie_gross_csv_gz

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

------------------------------------------------------------
imdb_title_principals_csv_gz

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

,tconst,ordering,nconst,category,job,characters
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [42]:
#Formating Cells. I am keeping all of my display commands here so I can easily find them if/when I need
#to change anything.

#change the amount of rows displayed
pd.set_option('display.max_rows', 100)

In [43]:
#This takes the decimal places out of floats. I may need to change this for some of the other features.
pd.options.display.float_format = '{:,.0f}'.format

In [7]:
#attempting to sort by the largest worldwide_gross

tables['tn_movie_budgets_csv_gz'].sort_values(by='worldwide_gross', ascending=False)

#something is wrong here. I assume that it is sorting anything with a '9' in the front first.
#I presume that the dollar amounts are strings instead of integers. I should also check for
#null values while I'm checking for this.

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
3737,38,"Aug 21, 2009",Fifty Dead Men Walking,"$10,000,000",$0,"$997,921"
3432,33,"Sep 30, 2005",Duma,"$12,000,000","$870,067","$994,790"
5062,63,"Apr 1, 2011",Insidious,"$1,500,000","$54,009,150","$99,870,886"
883,84,"Apr 2, 2004",Hellboy,"$60,000,000","$59,623,958","$99,823,958"
5613,14,"Mar 21, 1980",Mad Max,"$200,000","$8,750,000","$99,750,000"
...,...,...,...,...,...,...
5488,89,"Dec 31, 2014",The Sound and the Shadow,"$500,000",$0,$0
5487,88,"Dec 1, 2015",Brooklyn Bizarre,"$500,000",$0,$0
5486,87,"Aug 11, 2015",Alleluia! The Devil's Carnival,"$500,000",$0,$0
5485,86,"Jun 23, 2015",Crossroads,"$500,000",$0,$0
4765,66,"Jan 15, 2013",30 Nights Of Paranormal Activity With The Devi...,"$3,000,000",$0,$0

In [8]:
#set alias for each table so that it is easier to use them.
table1 = tables['imdb_title_crew_csv_gz']
table2 = tables['tmdb_movies_csv_gz']
table3 = tables['imdb_title_akas_csv_gz']
table4 = tables['imdb_title_ratings_csv_gz']
table5 = tables['imdb_name_basics_csv_gz']
table6 = tables['rt_reviews_tsv_gz']
table7 = tables['imdb_title_basics_csv_gz']
table8 = tables['rt_movie_info_tsv_gz']
table9 = tables['tn_movie_budgets_csv_gz']
table10 = tables['bom_movie_gross_csv_gz']
table11 = tables['imdb_title_principals_csv_gz']

In [9]:
table9.info()

#Sure enough, everything is a string except for the ID field. I will convert all of the financial information
#to integers (actually, I went back and changed to floats), and while I'm at it. I will also convert the
#release date field to date/time.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [10]:
table9.isna().sum()
#there are no null values, but there are likely placeholders

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [11]:
#cleaning the three financial columns. Removing the $, removing the comma, then converting to float.
cleaned_budget = table9['production_budget'].map(lambda x: x.replace('$',' '))
cleaned_budget

0        425,000,000
1        410,600,000
2        350,000,000
3        330,600,000
4        317,000,000
            ...
5777           7,000
5778           6,000
5779           5,000
5780           1,400
5781           1,100
Name: production_budget, Length: 5782, dtype: object

In [12]:
cleaned_budget_2 = cleaned_budget.map(lambda x: x.replace(',',''))
cleaned_budget_2

0        425000000
1        410600000
2        350000000
3        330600000
4        317000000
           ...
5777          7000
5778          6000
5779          5000
5780          1400
5781          1100
Name: production_budget, Length: 5782, dtype: object

In [13]:
cleaned_budget_3 = cleaned_budget_2.astype(float)
cleaned_budget_3

0       425000000.0
1       410600000.0
2       350000000.0
3       330600000.0
4       317000000.0
           ...
5777         7000.0
5778         6000.0
5779         5000.0
5780         1400.0
5781         1100.0
Name: production_budget, Length: 5782, dtype: float64

In [14]:
cleaned_domestic= table9['domestic_gross'].map(lambda x: x.replace('$',' '))

cleaned_domestic

0        760,507,625
1        241,063,875
2         42,762,350
3        459,005,868
4        620,181,382
            ...
5777               0
5778          48,482
5779           1,338
5780               0
5781         181,041
Name: domestic_gross, Length: 5782, dtype: object

In [15]:
cleaned_domestic_2 =cleaned_domestic.map(lambda x: x.replace(',',''))
cleaned_domestic_2

0        760507625
1        241063875
2         42762350
3        459005868
4        620181382
           ...
5777             0
5778         48482
5779          1338
5780             0
5781        181041
Name: domestic_gross, Length: 5782, dtype: object

In [16]:
cleaned_domestic_3 = cleaned_domestic_2.astype(float)
cleaned_domestic_3

0       760507625.0
1       241063875.0
2        42762350.0
3       459005868.0
4       620181382.0
           ...
5777            0.0
5778        48482.0
5779         1338.0
5780            0.0
5781       181041.0
Name: domestic_gross, Length: 5782, dtype: float64

In [17]:
cleaned_worldwide = table9['worldwide_gross'].map(lambda x: x.replace('$',' '))
cleaned_worldwide

0        2,776,345,279
1        1,045,663,875
2          149,762,350
3        1,403,013,963
4        1,316,721,747
             ...
5777                 0
5778           240,495
5779             1,338
5780                 0
5781           181,041
Name: worldwide_gross, Length: 5782, dtype: object

In [18]:
cleaned_worldwide_2 = cleaned_worldwide.map(lambda x: x.replace(',',''))
cleaned_worldwide_2

0        2776345279
1        1045663875
2         149762350
3        1403013963
4        1316721747
           ...
5777              0
5778         240495
5779           1338
5780              0
5781         181041
Name: worldwide_gross, Length: 5782, dtype: object

In [23]:
cleaned_worldwide_3 = cleaned_worldwide_2.astype(float)
cleaned_worldwide_3

0      2,776,345,279
1      1,045,663,875
2        149,762,350
3      1,403,013,963
4      1,316,721,747
            ...
5777               0
5778         240,495
5779           1,338
5780               0
5781         181,041
Name: worldwide_gross, Length: 5782, dtype: float64

In [22]:
#This takes the decimal places out of floats. I may need to change this for some of the other features.
#pd.options.display.float_format = '{:,.0f}'.format

In [24]:
#Putting my cleaned data into the table.
table9["production_budget"] = cleaned_budget_3
table9["domestic_gross"] = cleaned_domestic_3
table9["worldwide_gross"] = cleaned_worldwide_3
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"425,000,000","760,507,625","2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"350,000,000","42,762,350","149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"7,000",0,0
5778,79,"Apr 2, 1999",Following,"6,000","48,482","240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"5,000","1,338","1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"1,400",0,0
5781,82,"Aug 5, 2005",My Date With Drew,"1,100","181,041","181,041"

In [ ]:
#table9.drop(["New_Column"], axis=1, inplace=True)

In [ ]:
#table9

In [ ]:
table9.sort_values(by='worldwide_gross', ascending=False)
#After all that work, I finally have the data sorted the way that I wanted.

In [25]:
#converting release_date to datetime format.
cleaned_release_date = pd.to_datetime(table9['release_date'])
cleaned_release_date

0      2009-12-18
1      2011-05-20
2      2019-06-07
3      2015-05-01
4      2017-12-15
          ...
5777   2018-12-31
5778   1999-04-02
5779   2005-07-13
5780   2015-09-29
5781   2005-08-05
Name: release_date, Length: 5782, dtype: datetime64[ns]

In [26]:
table9['release_date']= cleaned_release_date
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875"
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350"
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963"
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747"
...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0
5778,79,1999-04-02,Following,"6,000","48,482","240,495"
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338"
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041"

In [27]:
#what is the range of release dates in this data set?
print("This is the earliest release date:")
print(table9['release_date'].min())

print("This is the latest release date:")
print(table9['release_date'].max())

This is the earliest release date:
1915-02-08 00:00:00
This is the latest release date:
2020-12-31 00:00:00

In [28]:
#there are several movies that have budget information, but no gross. Presumably, this is because they hadn't
#been released at the time that this data was collected. 
table9.sort_values(by='release_date', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
194,95,2020-12-31,Moonfall,"150,000,000",0,0
1205,6,2020-12-31,Hannibal the Conqueror,"50,000,000",0,0
535,36,2020-02-21,Call of the Wild,"82,000,000",0,0
480,81,2019-12-31,Army of the Dead,"90,000,000",0,0
3515,16,2019-12-31,Eli,"11,000,000",0,0
...,...,...,...,...,...,...
5606,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000"
5683,84,1920-09-17,Over the Hill to the Poorhouse,"100,000","3,000,000","3,000,000"
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000"
5523,24,1916-09-05,Intolerance,"385,907",0,0
5677,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000"

In [29]:
year_of_release = table9['release_date']
year_of_release

0      2009-12-18
1      2011-05-20
2      2019-06-07
3      2015-05-01
4      2017-12-15
          ...
5777   2018-12-31
5778   1999-04-02
5779   2005-07-13
5780   2015-09-29
5781   2005-08-05
Name: release_date, Length: 5782, dtype: datetime64[ns]

In [30]:
year_of_release = pd.DatetimeIndex(table9['release_date']).year
year_of_release

Int64Index([2009, 2011, 2019, 2015, 2017, 2015, 2018, 2007, 2017, 2015,
            ...
            2012, 1993, 2004, 2006, 2004, 2018, 1999, 2005, 2015, 2005],
           dtype='int64', name='release_date', length=5782)

In [31]:
#created a column 'release_year' to more easily search general release dates, etc.
table9['release_year'] = table9['release_date'].dt.year

In [32]:
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017
...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0,2018
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0,2015
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005

In [44]:
films_released_by_year = table9['release_year'].value_counts()

In [45]:
#the bulk of the data starts in 1996 where there are 100+ movies every year afterward until 2018.
#there is a little bit of info for 2019.
films_released_by_year.head(100)

2015    338
2010    274
2008    264
2006    260
2014    255
2011    254
2009    239
2013    238
2012    235
2005    223
2007    220
2016    219
2002    210
2004    206
2003    201
2000    189
2001    181
1999    181
2017    168
1998    151
2018    143
1996    104
1997    102
1995     75
2019     67
1994     56
1993     49
1991     39
1992     36
1987     35
1986     33
1989     32
1988     31
1981     30
1982     30
1990     30
1980     29
1985     29
1984     28
1983     24
1979     18
1977     15
1978     13
1976     11
1970     11
1974     11
1956     10
1969     10
1971      9
1968      9
1963      8
1967      8
1975      8
1962      8
1973      8
1964      7
1972      7
1965      6
1951      6
1966      6
1953      6
1961      5
1946      5
1960      5
1959      4
1940      4
1945      3
1939      3
1933      3
1936      3
2020      3
1954      3
1952      3
1957      3
1948      2
1944      2
1916      2
1925      2
1942      2
1949      2
1955      2
1943      2
1950      2
1938      2
1920      1
1931      1
1935      1
1958      1
1934      1
1929      1
1930      1
1947      1
1927      1
1941      1
1937      1
1915      1
Name: release_year, dtype: int64

In [46]:
#let's sort by release year
table9.sort_values(by='release_year', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
194,95,2020-12-31,Moonfall,"150,000,000",0,0,2020
535,36,2020-02-21,Call of the Wild,"82,000,000",0,0,2020
1205,6,2020-12-31,Hannibal the Conqueror,"50,000,000",0,0,2020
2029,30,2019-09-30,Unhinged,"29,000,000",0,0,2019
670,71,2019-08-30,PLAYMOBIL,"75,000,000",0,0,2019
...,...,...,...,...,...,...,...
5606,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000",1925
5683,84,1920-09-17,Over the Hill to the Poorhouse,"100,000","3,000,000","3,000,000",1920
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000",1916
5523,24,1916-09-05,Intolerance,"385,907",0,0,1916
5677,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000",1915

In [47]:
table9.sort_values(by='worldwide_gross', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009
42,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015
6,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018
33,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015
...,...,...,...,...,...,...,...
5474,75,2005-12-31,Insomnia Manica,"500,000",0,0,2005
5473,74,2012-07-17,Girls Gone Dead,"500,000",0,0,2012
5472,73,2012-04-03,Enter Nowhere,"500,000",0,0,2012
5471,72,2010-12-31,Drones,"500,000",0,0,2010
4068,69,2008-12-12,The Kings of Appletown,"7,000,000",0,0,2008

In [49]:
#attempted to find the unreleased movies and remove them from consideration. Leaving here in case I 
#want to come back to this. If not, I can exclude from my final notebook.
unreleased_movies = []

for movie in table9:
    if movie['worldwide_gross'] == '0':
        unreleased_movies.append(movie)

unreleased_movies

TypeError: string indices must be integers

In [50]:
#create a column that calculates the profit for each movie. (gross - budget)
#realize that there are other costs above and beyond the budget

total_profit = table9.apply(lambda x: x['worldwide_gross'] - x['production_budget'], axis=1)
total_profit

0      2,351,345,279
1        635,063,875
2       -200,237,650
3      1,072,413,963
4        999,721,747
            ...
5777          -7,000
5778         234,495
5779          -3,662
5780          -1,400
5781         179,941
Length: 5782, dtype: float64

In [51]:
table9['total_profit'] = total_profit

In [52]:
table9.sort_values(by='total_profit', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279"
42,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997,"2,008,208,395"
6,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200"
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220"
33,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015,"1,433,854,864"
66,67,2015-04-03,Furious 7,"190,000,000","353,007,020","1,518,722,794",2015,"1,328,722,794"
26,27,2012-05-04,The Avengers,"225,000,000","623,279,547","1,517,935,897",2012,"1,292,935,897"
260,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,"125,000,000","381,193,157","1,341,693,157",2011,"1,216,693,157"
41,42,2018-02-16,Black Panther,"200,000,000","700,059,566","1,348,258,224",2018,"1,148,258,224"
112,13,2018-06-22,Jurassic World: Fallen Kingdom,"170,000,000","417,719,760","1,305,772,799",2018,"1,135,772,799"
155,56,2013-11-22,Frozen,"150,000,000","400,738,009","1,272,469,910",2013,"1,122,469,910"
134,35,2017-03-17,Beauty and the Beast,"160,000,000","504,014,165","1,259,199,706",2017,"1,099,199,706"
672,73,2015-07-10,Minions,"74,000,000","336,045,770","1,160,336,173",2015,"1,086,336,173"
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963"
425,26,2003-12-17,The Lord of the Rings: The Return of the King,"94,000,000","377,845,905","1,141,403,341",2003,"1,047,403,341"
43,44,2018-06-15,Incredibles 2,"200,000,000","608,581,744","1,242,520,711",2018,"1,042,520,711"
47,48,2013-05-03,Iron Man 3,"200,000,000","408,992,272","1,215,392,272",2013,"1,015,392,272"
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747"
135,36,2018-12-21,Aquaman,"160,000,000","335,061,807","1,146,894,640",2018,"986,894,640"
22,23,2017-04-14,The Fate of the Furious,"250,000,000","225,764,765","1,234,846,267",2017,"984,846,267"
824,25,1993-06-11,Jurassic Park,"63,000,000","395,708,305","1,038,812,584",1993,"975,812,584"
629,30,2017-06-30,Despicable Me 3,"75,000,000","264,624,300","1,034,727,750",2017,"959,727,750"
95,96,2019-03-08,Captain Marvel,"175,000,000","426,525,952","1,123,061,550",2019,"948,061,550"
63,64,2011-06-29,Transformers: Dark of the Moon,"195,000,000","352,390,543","1,123,790,543",2011,"928,790,543"
303,4,1999-05-19,Star Wars Ep. I: The Phantom Menace,"115,000,000","474,544,677","1,027,044,677",1999,"912,044,677"
51,52,2012-11-08,Skyfall,"200,000,000","304,360,277","1,110,526,981",2012,"910,526,981"
608,9,1994-06-15,The Lion King,"79,300,000","421,785,283","986,214,868",1994,"906,914,868"
621,22,2013-07-03,Despicable Me 2,"76,000,000","368,065,385","975,216,835",2013,"899,216,835"
36,37,2014-06-27,Transformers: Age of Extinction,"210,000,000","245,439,076","1,104,039,076",2014,"894,039,076"
16,17,2016-05-06,Captain America: Civil War,"250,000,000","408,084,349","1,140,069,413",2016,"890,069,413"
437,38,2017-12-20,Jumanji: Welcome to the Jungle,"90,000,000","404,508,916","964,496,193",2017,"874,496,193"
156,57,2016-03-04,Zootopia,"150,000,000","341,268,248","1,019,429,616",2016,"869,429,616"
46,47,2010-06-18,Toy Story 3,"200,000,000","415,004,880","1,068,879,522",2010,"868,879,522"
692,93,2004-05-19,Shrek 2,"70,000,000","441,226,247","937,008,132",2004,"867,008,132"
262,63,2001-11-16,Harry Potter and the Sorcererâs Stone,"125,000,000","317,871,467","975,047,606",2001,"850,047,606"
44,45,2016-12-16,Rogue One: A Star Wars Story,"200,000,000","532,177,324","1,049,102,856",2016,"849,102,856"
424,25,2003-05-30,Finding Nemo,"94,000,000","380,529,370","936,429,370",2003,"842,429,370"
27,28,2006-07-07,Pirates of the Caribbean: Dead Manâs Chest,"225,000,000","423,315,812","1,066,215,812",2006,"841,215,812"
426,27,2002-12-18,The Lord of the Rings: The Two Towers,"94,000,000","342,548,984","934,699,645",2002,"840,699,645"
983,84,2018-11-02,Bohemian Rhapsody,"55,000,000","216,303,339","894,985,342",2018,"839,985,342"
263,64,2010-11-19,Harry Potter and the Deathly Hallows: Part I,"125,000,000","296,131,568","960,431,568",2010,"835,431,568"
50,51,2010-03-05,Alice in Wonderland,"200,000,000","334,191,110","1,025,491,110",2010,"825,491,110"
45,46,2016-06-17,Finding Dory,"200,000,000","486,295,561","1,021,215,193",2016,"821,215,193"
74,75,2008-07-18,The Dark Knight,"185,000,000","533,720,947","1,001,996,207",2008,"816,996,207"
625,26,2016-07-08,The Secret Life of Pets,"75,000,000","368,384,330","886,750,534",2016,"811,750,534"
10,11,2012-07-20,The Dark Knight Rises,"275,000,000","448,139,099","1,084,439,099",2012,"809,439,099"
157,58,2007-07-11,Harry Potter and the Order of the Phoenix,"150,000,000","292,137,260","943,076,457",2007,"793,076,457"
96,97,2016-04-15,The Jungle Book,"175,000,000","364,001,123","962,854,547",2016,"787,854,547"
413,14,2012-07-13,Ice Age: Continental Drift,"95,000,000","161,321,843","879,765,137",2012,"784,765,137"
3525,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000","435,110,554","792,965,326",1982,"782,465,326"
363,64,2002-11-15,Harry Potter and the Chamber of Secrets,"100,000,000","262,233,381","879,225,135",2002,"779,225,135"
342,43,2001-12-19,The Lord of the Rings: The Fellowship of the Ring,"109,000,000","315,544,750","887,210,985",2001,"778,210,985"
3464,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000","460,998,007","786,598,007",1977,"775,598,007"
442,43,2009-07-01,Ice Age: Dawn of the Dinosaurs,"90,000,000","196,573,705","859,701,857",2009,"769,701,857"
18,19,2012-12-14,The Hobbit: An Unexpected Journey,"250,000,000","303,003,568","1,017,003,568",2012,"767,003,568"
158,59,2005-11-18,Harry Potter and the Goblet of Fire,"150,000,000","290,201,752","897,099,794",2005,"747,099,794"
955,56,2016-02-12,Deadpool,"58,000,000","363,070,709","801,025,593",2016,"743,025,593"
626,27,1996-07-02,Independence Day,"75,000,000","306,169,255","817,400,878",1996,"742,400,878"
302,3,2018-10-05,Venom,"116,000,000","213,511,408","853,628,605",2018,"737,628,605"
237,38,2013-11-22,The Hunger Games: Catching Fire,"130,000,000","424,668,047","864,868,047",2013,"734,868,047"
304,5,2005-05-19,Star Wars Ep. III: Revenge of the Sith,"115,000,000","380,270,577","848,998,877",2005,"733,998,877"
20,21,2013-12-13,The Hobbit: The Desolation of Smaug,"250,000,000","258,366,855","960,366,855",2013,"710,366,855"
98,99,2017-07-07,Spider-Man: Homecoming,"175,000,000","334,201,140","880,166,350",2017,"705,166,350"
21,22,2014-12-17,The Hobbit: The Battle of the Five Armies,"250,000,000","255,119,788","945,577,621",2014,"695,577,621"
224,25,2012-11-16,"The Twilight Saga: Breaking Dawn, Part 2","136,200,000","292,324,737","829,724,737",2012,"693,524,737"
19,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767"
218,19,2002-05-03,Spider-Man,"139,000,000","403,706,375","821,706,375",2002,"682,706,375"
97,98,2015-06-19,Inside Out,"175,000,000","356,461,711","854,235,992",2015,"679,235,992"
314,15,2018-05-18,Deadpool 2,"110,000,000","324,591,735","786,680,557",2018,"676,680,557"
137,38,2010-07-16,Inception,"160,000,000","292,576,195","835,524,642",2010,"675,524,642"
154,55,2017-06-02,Wonder Woman,"150,000,000","412,563,408","821,133,378",2017,"671,133,378"
81,82,2017-11-03,Thor: Ragnarok,"180,000,000","315,058,289","846,980,024",2017,"666,980,024"
238,39,2004-06-04,Harry Potter and the Prisoner of Azkaban,"130,000,000","249,757,726","796,907,323",2004,"666,907,323"
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425"
1623,24,2017-09-08,It,"35,000,000","327,481,748","697,457,969",2017,"662,457,969"
48,49,2017-05-05,Guardians of the Galaxy Vol 2,"200,000,000","389,813,101","862,316,233",2017,"662,316,233"
136,37,2007-05-17,Shrek the Third,"160,000,000","322,719,944","807,330,936",2007,"647,330,936"
264,65,2006-05-19,The Da Vinci Code,"125,000,000","217,536,138","767,820,459",2006,"642,820,459"
261,62,2014-11-21,The Hunger Games: Mockingjay - Part 1,"125,000,000","337,135,885","766,575,131",2014,"641,575,131"
752,53,2010-06-30,The Twilight Saga: Eclipse,"68,000,000","300,531,751","706,102,828",2010,"638,102,828"
1081,82,2009-11-20,The Twilight Saga: New Moon,"50,000,000","296,623,634","687,557,727",2009,"637,557,727"
15,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875"
1374,75,1999-08-06,The Sixth Sense,"40,000,000","293,506,292","672,806,292",1999,"632,806,292"
139,40,2013-05-24,Fast and Furious 6,"160,000,000","238,679,850","789,300,444",2013,"629,300,444"
35,36,2009-06-24,Transformers: Revenge of the Fallen,"210,000,000","402,111,870","836,519,699",2009,"626,519,699"
981,82,1994-07-06,Forrest Gump,"55,000,000","330,151,138","679,850,637",1994,"624,850,637"
101,2,2017-11-22,Coco,"175,000,000","209,726,015","798,008,101",2017,"623,008,101"
84,85,2016-11-18,Fantastic Beasts and Where to Find Them,"180,000,000","234,037,575","802,402,853",2016,"622,402,853"
17,18,2016-03-25,Batman v Superman: Dawn of Justice,"250,000,000","330,360,194","867,500,281",2016,"617,500,281"
91,92,2018-07-27,Mission: ImpossibleâFallout,"178,000,000","220,159,104","787,456,552",2018,"609,456,552"
196,97,2012-06-08,Madagascar 3: Europe's Most Wanted,"145,000,000","216,391,482","746,921,271",2012,"601,921,271"
75,76,2008-05-22,Indiana Jones and the Kingdom of the Crystal S...,"185,000,000","317,101,119","786,635,413",2008,"601,635,413"
113,14,2014-08-01,Guardians of the Galaxy,"170,000,000","333,172,112","770,867,516",2014,"600,867,516"
537,38,2012-03-23,The Hunger Games,"80,000,000","408,010,692","677,923,379",2012,"597,923,379"
2159,60,2004-02-25,The Passion of the Christ,"25,000,000","370,782,930","622,341,924",2004,"597,341,924"
49,50,2004-06-30,Spider-Man 2,"200,000,000","373,524,485","795,110,670",2004,"595,110,670"
126,27,2010-05-21,Shrek Forever After,"165,000,000","238,736,787","756,244,673",2010,"591,244,673"
159,60,2003-05-15,The Matrix Reloaded,"150,000,000","281,553,689","738,576,929",2003,"588,576,929"
2485,86,1991-11-13,Beauty and the Beast,"20,000,000","376,057,266","608,431,132",1991,"588,431,132"

In [53]:
#What is the return on investment for these movies?
roi = table9.apply(lambda x: x['total_profit'] / x['production_budget'], axis=1)
roi

0        6
1        2
2       -1
3        3
4        3
        ..
5777    -1
5778    39
5779    -1
5780    -1
5781   164
Length: 5782, dtype: float64

In [54]:
table9['ROI'] = roi
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3
...,...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0,2018,"-7,000",-1
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005,"-3,662",-1
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0,2015,"-1,400",-1
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164

In [55]:
#A quick snapshot of the information. 
table9.describe()

,id,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
count,"5,782","5,782","5,782","5,782","5,782","5,782","5,782"
mean,50,"31,587,757","41,873,327","91,487,461","2,004","59,899,704",4
std,29,"41,812,077","68,240,597","174,719,969",13,"146,088,881",30
min,1,"1,100",0,0,"1,915","-200,237,650",-1
25%,25,"5,000,000","1,429,534","4,125,415","2,000","-2,189,071",-1
50%,50,"17,000,000","17,225,945","27,984,448","2,007","8,550,286",1
75%,75,"40,000,000","52,348,662","97,645,836","2,012","60,968,502",3
max,100,"425,000,000","936,662,225","2,776,345,279","2,020","2,351,345,279","1,799"

In [56]:
#sorted by ROI.
table9.sort_values(by='ROI', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
5745,46,1972-06-30,Deep Throat,"25,000","45,000,000","45,000,000",1972,"44,975,000","1,799"
5613,14,1980-03-21,Mad Max,"200,000","8,750,000","99,750,000",1980,"99,550,000",498
5492,93,2009-09-25,Paranormal Activity,"450,000","107,918,810","194,183,034",2009,"193,733,034",431
5679,80,2015-07-10,The Gallows,"100,000","22,764,410","41,656,474",2015,"41,556,474",416
5406,7,1999-07-14,The Blair Witch Project,"600,000","140,539,099","248,300,000",1999,"247,700,000",413
5709,10,2004-05-07,Super Size Me,"65,000","11,529,368","22,233,808",2004,"22,168,808",341
5346,47,1942-08-13,Bambi,"858,000","102,797,000","268,000,000",1942,"267,142,000",311
5773,74,1993-02-26,El Mariachi,"7,000","2,040,920","2,041,928",1993,"2,034,928",291
5676,77,1968-10-01,Night of the Living Dead,"114,000","12,087,064","30,087,064",1968,"29,973,064",263
5210,11,1976-11-21,Rocky,"1,000,000","117,235,147","225,000,000",1976,"224,000,000",224
5536,37,1978-10-17,Halloween,"325,000","47,000,000","70,000,000",1978,"69,675,000",214
5715,16,1995-08-09,The Brothers McMullen,"50,000","10,426,506","10,426,506",1995,"10,376,506",208
5665,66,1974-10-18,The Texas Chainsaw Massacre,"140,000","26,572,439","26,572,439",1974,"26,432,439",189
5372,73,1973-08-11,American Graffiti,"777,000","115,000,000","140,000,000",1973,"139,223,000",179
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164
5656,57,2007-05-16,Once,"150,000","9,445,857","23,323,631",2007,"23,173,631",154
5742,43,1994-10-19,Clerks,"27,000","3,073,428","3,894,240",1994,"3,867,240",143
5612,13,1969-07-25,The Stewardesses,"200,000","13,500,000","25,000,000",1969,"24,800,000",124
5117,18,1937-12-21,Snow White and the Seven Dwarfs,"1,488,000","184,925,486","184,925,486",1937,"183,437,486",123
5357,58,1971-01-01,Billy Jack,"800,000","98,000,000","98,000,000",1971,"97,200,000",122
5774,75,2004-10-08,Primer,"7,000","424,760","841,926",2004,"834,926",119
5746,47,1997-08-01,In the Company of Men,"25,000","2,883,661","2,883,661",1997,"2,858,661",114
5507,8,2004-06-11,Napoleon Dynamite,"400,000","44,540,956","46,122,713",2004,"45,722,713",114
5430,31,2004-08-06,Open Water,"500,000","30,500,882","55,518,641",2004,"55,018,641",110
5424,25,1980-05-09,Friday the 13th,"550,000","39,754,601","59,754,601",1980,"59,204,601",108
5680,81,2006-09-29,Facing the Giants,"100,000","10,178,331","10,243,159",2006,"10,143,159",101
5211,12,2012-01-06,The Devil Inside,"1,000,000","53,262,945","101,759,490",2012,"100,759,490",101
5655,56,1971-01-01,Sweet Sweetback's Baad Asssss Song,"150,000","15,200,000","15,200,000",1971,"15,050,000",100
4567,68,1939-12-15,Gone with the Wind,"3,900,000","198,680,470","390,525,192",1939,"386,625,192",99
5677,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000",1915,"10,890,000",99
5568,69,1981-05-01,Graduation Day,"250,000","23,894,000","23,894,000",1981,"23,644,000",95
4775,76,1950-02-15,Cinderella,"2,900,000","85,000,000","263,591,415",1950,"260,691,415",90
5606,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000",1925,"21,755,000",89
5459,60,2009-04-23,Home,"500,000","15,433","44,793,168",2009,"44,293,168",89
5156,57,2004-10-29,Saw,"1,200,000","55,968,727","103,880,027",2004,"102,680,027",86
5525,26,1983-04-15,The Evil Dead,"375,000","2,400,000","29,400,000",1983,"29,025,000",77
3525,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000","435,110,554","792,965,326",1982,"782,465,326",75
4247,48,2002-04-19,My Big Fat Greek Wedding,"5,000,000","241,438,208","374,890,034",2002,"369,890,034",74
4589,90,1997-08-13,The Full Monty,"3,500,000","45,950,122","261,249,383",1997,"257,749,383",74
3464,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000","460,998,007","786,598,007",1977,"775,598,007",71
5681,82,1977-01-01,Eraserhead,"100,000","7,000,000","7,014,590",1977,"6,914,590",69
5706,7,1998-07-10,Pi,"68,000","3,221,152","4,678,513",1998,"4,610,513",68
5765,66,2001-03-09,Dayereh,"10,000","673,780","673,780",2001,"663,780",66
5428,29,2008-09-26,Fireproof,"500,000","33,456,317","33,473,297",2008,"32,973,297",66
5062,63,2011-04-01,Insidious,"1,500,000","54,009,150","99,870,886",2011,"98,370,886",66
4112,13,1978-06-16,Grease,"6,000,000","181,813,770","387,510,179",1978,"381,510,179",64
5213,14,2015-04-17,Unfriended,"1,000,000","32,789,645","64,364,198",2015,"63,364,198",63
5429,30,1974-11-15,Benji,"500,000","31,559,560","31,559,560",1974,"31,059,560",62
5684,85,1998-10-09,The Mighty,"100,000","2,652,246","6,121,582",1998,"6,021,582",60
5569,70,1997-04-04,Chasing Amy,"250,000","12,006,514","15,155,095",1997,"14,905,095",60
5668,69,1942-11-16,Cat People,"134,000","4,000,000","8,000,000",1942,"7,866,000",59
5219,20,1963-05-08,Dr. No,"1,000,000","16,067,035","59,567,035",1963,"58,567,035",59
4664,65,2010-10-20,Paranormal Activity 2,"3,000,000","84,752,907","177,512,032",2010,"174,512,032",58
5407,8,1970-03-26,Woodstock,"600,000","34,505,110","34,505,110",1970,"33,905,110",57
4249,50,2017-01-20,Split,"5,000,000","138,141,585","278,964,806",2017,"273,964,806",55
5189,90,2014-03-21,Godâs Not Dead,"1,150,000","60,755,732","63,777,092",2014,"62,627,092",54
4424,25,1994-03-09,Four Weddings and a Funeral,"4,500,000","52,700,832","242,895,809",1994,"238,395,809",53
5752,53,1991-08-01,Slacker,"23,000","1,227,508","1,227,508",1991,"1,204,508",52
5215,16,2006-05-24,An Inconvenient Truth,"1,000,000","24,146,161","53,365,925",2006,"52,365,925",52
5682,83,1987-03-01,Hollywood Shuffle,"100,000","5,228,617","5,228,617",1987,"5,128,617",51
4248,49,2017-02-24,Get Out,"5,000,000","176,040,665","255,367,951",2017,"250,367,951",50
5666,67,1989-12-20,Roger & Me,"140,000","6,706,368","6,706,368",1989,"6,566,368",47
4663,64,1978-07-28,National Lampoon's Animal House,"3,000,000","141,600,000","141,600,000",1978,"138,600,000",46
5716,17,2001-03-16,Gabriela,"50,000","2,335,352","2,335,352",2001,"2,285,352",46
4800,1,1974-02-07,Blazing Saddles,"2,600,000","119,500,000","119,500,000",1974,"116,900,000",45
3517,18,2012-05-25,Les Intouchables,"10,800,000","13,182,281","484,873,045",2012,"474,073,045",44
5063,64,2016-10-21,Moonlight,"1,500,000","27,854,931","65,245,512",2016,"63,745,512",42
5217,18,2012-05-25,Chernobyl Diaries,"1,000,000","18,119,640","42,411,721",2012,"41,411,721",41
4667,68,1964-12-22,Goldfinger,"3,000,000","51,100,000","124,900,000",1964,"121,900,000",41
4250,51,2011-10-21,Paranormal Activity 3,"5,000,000","104,028,807","207,039,844",2011,"202,039,844",40
5646,47,1986-08-08,She's Gotta Have It,"175,000","7,137,502","7,137,502",1986,"6,962,502",40
4898,99,2007-02-09,Das Leben der Anderen,"2,000,000","11,284,657","81,197,047",2007,"79,197,047",40
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000",1916,"7,800,000",39
4083,84,2014-10-03,Annabelle,"6,500,000","84,273,813","256,862,920",2014,"250,362,920",39
4887,88,1964-04-08,From Russia With Love,"2,000,000","24,800,000","78,900,000",1964,"76,900,000",38
3340,41,1975-06-20,Jaws,"12,000,000","260,000,000","470,700,000",1975,"458,700,000",38
4634,35,2005-06-24,La marche de l'empereur,"3,400,000","77,437,223","133,276,359",2005,"129,876,359",38
5014,15,2010-08-27,The Last Exorcism,"1,800,000","41,034,350","70,165,900",2010,"68,365,900",38
3986,87,1972-03-15,The Godfather,"7,000,000","134,966,411","268,500,000",1972,"261,500,000",37
5212,13,1963-10-07,Tom Jones,"1,000,000","37,600,000","37,600,000",1963,"36,600,000",37
3826,27,1986-09-26,Crocodile Dundee,"8,800,000","174,803,506","328,203,506",1986,"319,403,506",36
4114,15,2004-06-23,Fahrenheit 9/11,"6,000,000","119,114,517","221,148,959",2004,"215,148,959",36
4867,68,1940-02-09,Pinocchio,"2,289,247","84,300,000","84,300,000",1940,"82,010,753",36
5074,75,1979-04-20,Dawn of the Dead,"1,500,000","5,100,000","55,000,000",1979,"53,500,000",36
4868,69,1940-11-13,Fantasia,"2,280,000","83,320,000","83,320,000",1940,"81,040,000",36
5397,98,1953-04-10,House of Wax,"658,000","23,800,000","23,800,000",1953,"23,142,000",35
5577,78,1998-09-11,Cube,"250,000","489,220","8,969,065",1998,"8,719,065",35
3341,42,1973-12-26,The Exorcist,"12,000,000","230,347,346","428,214,478",1973,"416,214,478",35
5699,100,1972-08-30,The Last House on the Left,"87,000","3,100,000","3,100,000",1972,"3,013,000",35
3859,60,1965-03-02,The Sound of Music,"8,200,000","163,214,286","286,214,286",1965,"278,014,286",34
5762,63,1997-04-11,Pink Flamingos,"12,000","413,802","413,802",1997,"401,802",33
5431,32,1977-01-01,Kingdom of the Spiders,"500,000","17,000,000","17,000,000",1977,"16,500,000",33
5408,9,1977-08-10,The Kentucky Fried Movie,"600,000","15,000,000","20,000,000",1977,"19,400,000",32
5615,16,1996-10-18,Swingers,"200,000","4,505,922","6,618,578",1996,"6,418,578",32
3985,86,2007-12-05,Juno,"7,000,000","143,495,265","231,450,102",2007,"224,450,102",32
4252,53,2013-09-13,Insidious Chapter 2,"5,000,000","83,586,447","161,921,515",2013,"156,921,515",31
2991,92,1990-11-16,Home Alone,"15,000,000","285,761,243","476,684,675",1990,"461,684,675",31
3755,56,2016-12-21,Dangal,"9,500,000","12,391,761","294,654,618",2016,"285,154,618",30
3171,72,1990-03-23,Pretty Woman,"14,000,000","178,406,268","432,645,872",1990,"418,645,872",30

In [ ]:
#I am happy with where my financial data is at the moment, even though it will likely need further refinement.
#Now I want to find a way to indentify the genres of these movies as that will help me answer the specific
#question of what TYPES of movies should be made.

#After this, I plan on investigating review scores, giving me Financials, Review Scores, and Genres to work with.

In [57]:
#Table7 - imdb basics dataset has genre information. I will investigate.
table7

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,nan,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,nan,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,nan,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,nan,Documentary

In [58]:
table7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [59]:
table7.sort_values(by='start_year', ascending=True).head(100)
#This data only goes back to 2010. This may still be useful as Microsoft will want current information on
#which genres are popular.

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
9599,tt1566491,Brainiacs in La La Land,Brainiacs in La La Land,2010,nan,Comedy
43264,tt2578092,Fireplace for your Home: Crackling Fireplace w...,Fireplace for your Home: Crackling Fireplace w...,2010,61,Music
11550,tt1634300,Role/Play,Role/Play,2010,85,"Drama,Romance"
11551,tt1634332,Johan1,Johan Primero,2010,78,"Comedy,Drama,Romance"
11552,tt1634334,Hands Up,Les mains en l'air,2010,90,Drama
11553,tt1634337,Que devient mon souvenir quand tu n'y penses pas,Que devient mon souvenir quand tu n'y penses pas,2010,45,Documentary
11554,tt1634519,The Black Eyed Peas: The E.N.D. World Tour Live,The Black Eyed Peas: The E.N.D. World Tour Live,2010,nan,"Documentary,Music"
11555,tt1634524,Jitters,Órói,2010,93,"Drama,Romance"
11556,tt1634540,Rescue Men: The Story of the Pea Island Lifesa...,Rescue Men: The Story of the Pea Island Lifesa...,2010,90,Documentary
11557,tt1634554,Janakan,Janakan,2010,150,"Crime,Thriller"
11558,tt1634796,Man and His Country,Man and His Country,2010,46,"Adventure,Drama"
11559,tt1634800,Maximum Shame,Maximum Shame,2010,80,"Fantasy,Horror,Musical"
11560,tt1634802,Message,Message,2010,91,"Comedy,Horror,Mystery"
11561,tt1634803,Subway Preacher,Subway Preacher,2010,80,"Documentary,Drama,Romance"
11563,tt1634821,Notes on a Napkin,Notes on a Napkin,2010,63,Comedy
11564,tt1634822,Obshiy Yizik,Obshiy Yizik,2010,52,Documentary
11565,tt1634831,Our School,Our School,2010,88,"Documentary,Drama,History"
11566,tt1634833,Overdose,Overdos,2010,47,"Documentary,News"
11567,tt1634840,Paths of Hope: Livelihoods in Three Caribbean ...,Paths of Hope: Livelihoods in Three Caribbean ...,2010,39,"Documentary,Family"
11570,tt1635412,Am Ende der Wiese,Am Ende der Wiese,2010,55,"Biography,Documentary"
11571,tt1635415,Andy McKee: Joyland,Andy McKee: Joyland,2010,33,"Documentary,Music"
11572,tt1635429,Cherkess,Cherkess,2010,117,Drama
11573,tt1635437,Dead End Job,Dead End Job,2010,68,Comedy
11574,tt1635466,Jay's Movie Is a Piece of Shit,Jay's Movie Is a Piece of Shit,2010,84,Comedy
11577,tt1636422,Before,Antes,2010,90,NaN
11578,tt1636423,Apuntes para una biografía imaginaria,Apuntes para una biografía imaginaria,2010,60,Documentary
11579,tt1636434,"Buen día, día","Buen día, día",2010,95,Documentary
11580,tt1636437,"Camila, desde el alma","Camila, desde el alma",2010,65,Documentary
11542,tt1634135,There's Still Hope for Dreams (A Phamaly Story),There's Still Hope for Dreams (A Phamaly Story),2010,60,Documentary
11581,tt1636440,Centro,Centro,2010,90,Documentary
11541,tt1634127,Living It Forever,Living It Forever,2010,77,Documentary
35137,tt2294847,The Buccs,The Buccs,2010,15,"Documentary,Sport"
11506,tt1633205,Ifakat: Uçuruma yürüyen kadinlar,Ifakat: Uçuruma yürüyen kadinlar,2010,45,"Documentary,Drama"
11507,tt1633208,Interno,Interno,2010,80,Documentary
11508,tt1633212,Kajraare,Kajraare,2010,112,"Crime,Drama,Romance"
11509,tt1633213,La revuelta de las batas blancas,La revuelta de las batas blancas,2010,63,Documentary
23034,tt1942066,Haterology,Haterology,2010,38,"Documentary,News"
35135,tt2294843,The Band Plays On!,The Band Plays On!,2010,nan,Documentary
11512,tt1633226,Musaa: The Most Wanted,Musaa: The Most Wanted,2010,nan,"Action,Crime,Thriller"
11513,tt1633242,Rock On,Shi xi da ming xing,2010,94,NaN
11514,tt1633248,The Glass River,Staklenata reka,2010,100,Drama
11515,tt1633249,Street Poet,Street Poet,2010,87,Drama
11516,tt1633250,Swaha: Life Beyond Superstition,Swaha: Life Beyond Superstition,2010,nan,"Drama,Fantasy,Horror"
11517,tt1633267,The Very Worst Thing,The Very Worst Thing,2010,85,"Documentary,History,News"
11518,tt1633281,Visa al paraíso,Visa al paraíso,2010,108,"Documentary,Drama"
23032,tt1942032,À pleins poumons,À pleins poumons,2010,52,Documentary
11520,tt1633333,Cluster,Cluster,2010,55,"Documentary,Drama,Mystery"
11521,tt1633334,"Coals to Newcastle: The New Mastersounds, from...","Coals to Newcastle: The New Mastersounds, from...",2010,79,"Documentary,Music"
11522,tt1633341,Dark Crossing,Dark Crossing,2010,nan,"Action,Drama"
23031,tt1942030,8uppers,8uppers,2010,76,Drama
11527,tt1634013,Montevideo: Taste of a Dream,"Montevideo, Bog te video!",2010,140,"Adventure,Comedy,Drama"
11528,tt1634022,The Sylvian Experiments,Kyôfu,2010,94,"Horror,Sci-Fi"
11529,tt1634034,Mother Water,Mazâ wôtâ,2010,105,Comedy
11531,tt1634058,Star Vehicle,Star Vehicle,2010,75,Horror
11532,tt1634066,The Cedar's Tears,The Cedar's Tears,2010,84,"Drama,Mystery,Thriller"
11533,tt1634070,The Horror of the Dolls,The Horror of the Dolls,2010,81,Horror
11534,tt1634082,Unbroken: The Pearl Bluegrass Circle,Unbroken: The Pearl Bluegrass Circle,2010,76,"Biography,Documentary,Family"
11535,tt1634104,37,37,2010,100,Drama
72598,tt4144872,"Birmania, el coraje de resistir","Birmania, el coraje de resistir",2010,78,NaN
11540,tt1634123,Kafka au Congo des belges,Kafka au Congo des belges,2010,59,Documentary
11505,tt1633204,Hypo,Hypo,2010,65,"Comedy,Romance"
11582,tt1636441,Five,Cinco,2010,89,Romance
11584,tt1636454,The Peddler,El ambulante,2010,84,Documentary
11623,tt1637679,Petty Letters and Love Crimes,Dalla vita in poi,2010,85,Comedy
11624,tt1637681,Flowers,Flowers,2010,110,Drama
11625,tt1637687,I Want to Be a Soldier,De mayor quiero ser soldado,2010,100,Drama
11627,tt1637691,Khelein Hum Jee Jaan Sey,Khelein Hum Jee Jaan Sey,2010,168,"Action,Drama,History"
11628,tt1637692,Kuchh Kariye,Kuchh Kariye,2010,nan,"Adventure,Drama,Music"
11629,tt1637693,Los actos cotidianos,Los actos cotidianos,2010,82,NaN
11630,tt1637694,The Lips,Los labios,2010,100,Drama
11631,tt1637697,Make No Little Plans: Daniel Burnham and the A...,Make No Little Plans: Daniel Burnham and the A...,2010,56,Documentary
11634,tt1637702,Metropolis refundada,Metropolis refundada,2010,47,Documentary
65017,tt3718152,Heavy Metal,Heavy Metal,2010,50,"Documentary,Family"
11636,tt1637709,The Death I Dreamed Of,O thanatos pou onireftika,2010,90,"Drama,Horror,Romance"
11637,tt1637712,Pig,Pig,2010,70,Horror
11638,tt1637714,Santuaryo,Santuaryo,2010,81,Drama
11640,tt1637723,The Saint Family,Svetoto semeystvo (Nina i Mariyan),2010,87,Drama
11642,tt1637735,Viva! Saint Agrippina,Viva! Saint Agrippina,2010,96,Documentary
11644,tt1637995,Sambo Siva Sambho,Sambo Siva Sambho,2010,160,"Action,Drama"
11645,tt1638000,"U redu, pobedio sam","U redu, pobedio sam",2010,60,Documentary
37237,tt2353993,Ending Taxation: The Only Game in Town,Ending Taxation: The Only Game in Town,2010,nan,Documentary
11647,tt1638267,Bølle Bob - Alle tiders helt,Bølle Bob - Alle tiders helt,2010,84,"Comedy,Family"
11648,tt1638274,Kismet,Kismet,2010,72,Romance
11649,tt1638275,Klara - Don't Be Afraid to Follow Your Dream,Klara,2010,81,Family
22986,tt1941449,Almost Big,Almost Big,2010,51,Comedy
11653,tt1638321,Ocio,Ocio,2010,70,"Drama,Family"
11654,tt1638322,Il nemico sulle ali,Il nemico sulle ali,2010,52,"Biography,History"
11655,tt1638327,"Liniers, el trazo simple de las cosas","Liniers, el trazo simple de las cosas",2010,76,Documentary
11657,tt1638336,"Octubre Pilagá, relatos sobre el silencio","Octubre Pilagá, relatos sobre el silencio",2010,80,Documentary
11658,tt1638343,Permiso para bailar,Permiso para bailar,2010,48,Documentary
11622,tt1637677,Bigasan,Bigasan,2010,80,Drama
11583,tt1636452,Dubai: A City of Dreams,Dubai: A City of Dreams,2010,78,Documentary
11621,tt1637675,Alta infedeltà,Alta infedeltà,2010,nan,Comedy
11619,tt1637662,The Whisper Home,The Whisper Home,2010,95,Drama
11585,tt1636456,The Intern,El pasante,2010,65,NaN
11586,tt1636457,El perseguido,El perseguido,2010,63,NaN
11587,tt1636458,El predio,El predio,2010,58,Documentary
11588,tt1636459,El rati horror show,El rati horror show,2010,98,Documentary
11589,tt1636461,Ensayo (fragmentos de Sarah Kane),Ensayo (fragmentos de Sarah Kane),2010,73,Documentary
11591,tt1636631,The Tenement Ghost,The Tenement Ghost,2010,51,Drama

In [60]:
#TMDB also has genre information, although I would need to find out what each genre code relates to.
#Let me see how far back this data goes...

table2 = tables['tmdb_movies_csv_gz']
table2

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,34,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,8,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,29,2010-03-26,How to Train Your Dragon,8,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,29,2010-05-07,Iron Man 2,7,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28,1995-11-22,Toy Story,8,10174
4,4,"[28, 878, 12]",27205,en,Inception,28,2010-07-16,Inception,8,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,1,2018-10-13,Laboratory Conditions,0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,1,2018-05-01,_EXHIBIT_84xxx_,0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,1,2018-10-01,The Last One,0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,1,2018-06-22,Trailer Made,0,1
26516,26516,"[53, 27]",309885,en,The Church,1,2018-10-05,The Church,0,1

In [61]:
table2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [62]:
table2.sort_values(by='release_date', ascending=True).head(100)
#This dataset has genre ids for all of its movies. It starts in 1930 and ends in mid-2019.

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
14335,14335,"[18, 10752]",143,en,All Quiet on the Western Front,10,1930-04-29,All Quiet on the Western Front,8,299
21758,21758,"[27, 53]",43148,en,The Vampire Bat,2,1933-01-21,The Vampire Bat,6,23
3580,3580,"[35, 18, 10749]",263768,fr,Le Bonheur,2,1936-02-27,Le Bonheur,9,3
26345,26345,[],316707,en,How Walt Disney Cartoons Are Made,1,1939-01-19,How Walt Disney Cartoons Are Made,7,3
11192,11192,"[18, 36, 10749]",887,en,The Best Years of Our Lives,10,1946-12-25,The Best Years of Our Lives,8,243
14740,14740,"[18, 53]",43397,en,Caught,5,1949-02-17,Caught,6,31
120,120,[878],830,en,Forbidden Planet,10,1956-03-15,Forbidden Planet,7,388
24211,24211,[18],614,sv,Smultronstället,9,1957-12-26,Wild Strawberries,8,595
24621,24621,"[18, 10749]",35861,ja,近松物語,6,1958-01-01,The Crucified Lovers,8,40
24268,24268,"[14, 18]",490,sv,Det sjunde inseglet,9,1958-10-13,The Seventh Seal,8,1163
43,43,"[35, 10749]",239,en,Some Like It Hot,14,1959-03-18,Some Like It Hot,8,1562
24000,24000,"[35, 10749]",239,en,Some Like It Hot,14,1959-03-18,Some Like It Hot,8,1562
11109,11109,"[80, 18, 9648, 53]",93,en,Anatomy of a Murder,13,1959-07-01,Anatomy of a Murder,8,359
24330,24330,"[80, 18]",11656,sv,Jungfrukällan,8,1960-02-08,The Virgin Spring,8,219
11420,11420,"[10752, 18]",5055,pl,Popiól i diament,7,1961-05-29,Ashes and Diamonds,8,78
12526,12526,"[12, 16, 10751]",63486,ja,少年猿飛佐助,1,1961-06-22,Magic Boy,7,4
8369,8369,"[12, 18, 878]",2160,en,Voyage to the Bottom of the Sea,6,1961-07-12,Voyage to the Bottom of the Sea,6,49
21748,21748,"[18, 10749]",33765,en,A Kind of Loving,2,1962-10-01,A Kind of Loving,8,17
24300,24300,"[18, 10749]",11506,sv,Tystnaden,8,1964-02-03,The Silence,8,148
22018,22018,[18],48676,ru,Первый учитель,2,1965-10-31,The First Teacher,6,4
8201,8201,"[12, 878]",2161,en,Fantastic Voyage,7,1966-08-24,Fantastic Voyage,7,184
24022,24022,[18],797,sv,Persona,13,1967-03-06,Persona,8,726
17932,17932,"[35, 18, 36]",986,en,Falstaff,6,1967-03-16,Chimes at Midnight,7,65
20695,20695,"[35, 18]",37247,en,The Graduate,16,1967-12-21,The Graduate,8,1545
5210,5210,"[35, 18]",37247,en,The Graduate,16,1967-12-21,The Graduate,8,1545
24441,24441,"[18, 27]",18333,sv,Vargtimmen,7,1968-04-08,Hour of the Wolf,8,171
23872,23872,"[878, 9648, 12]",62,en,2001: A Space Odyssey,24,1968-04-10,2001: A Space Odyssey,8,5837
24375,24375,"[10752, 18]",26372,sv,Skammen,8,1968-12-23,Shame,8,77
6172,6172,[],88276,en,Zorns Lemma,2,1970-09-12,Zorns Lemma,6,11
525,525,[37],71244,en,Monte Walsh,4,1970-10-07,Monte Walsh,6,20
12348,12348,[27],50962,en,Evil Come Evil Go,2,1972-02-18,Evil Come Evil Go,4,5
24299,24299,[18],10238,sv,Viskningar och rop,8,1972-12-21,Cries and Whispers,8,233
1384,1384,"[99, 10402]",47246,en,Ladies & Gentlemen: The Rolling Stones,1,1974-01-01,Ladies & Gentlemen: The Rolling Stones,5,4
8037,8037,"[28, 18, 53]",11123,en,Earthquake,10,1974-11-15,Earthquake,6,124
25025,25025,"[14, 35, 10402, 10749]",44864,sv,Trollflöjten,3,1975-11-11,The Magic Flute,7,28
154,154,"[27, 53]",7340,en,Carrie,9,1976-11-03,Carrie,7,1766
20745,20745,"[878, 18]",840,en,Close Encounters of the Third Kind,13,1977-11-16,Close Encounters of the Third Kind,7,2005
24403,24403,[18],12761,sv,Höstsonaten,7,1978-10-08,Autumn Sonata,8,159
14330,14330,[35],11519,en,1941,10,1979-12-14,1941,6,262
18117,18117,[27],39867,en,Don't Go in the House,4,1980-03-28,Don't Go in the House,6,46
2512,2512,"[10402, 35, 28, 80]",525,en,The Blues Brothers,15,1980-06-17,The Blues Brothers,8,1972
2555,2555,"[9648, 53]",11033,en,Dressed to Kill,12,1980-06-25,Dressed to Kill,7,300
22417,22417,[27],106774,en,Cathy's Curse,1,1980-07-01,Cathy's Curse,5,14
20327,20327,"[16, 35, 10402]",363536,en,Hurray for Betty Boop,1,1980-11-21,Hurray for Betty Boop,6,2
23051,23051,[99],463839,en,Reality's Invisible,1,1981-12-18,Reality's Invisible,7,1
16477,16477,[99],463839,en,Reality's Invisible,1,1981-12-18,Reality's Invisible,7,1
26182,26182,[99],463839,en,Reality's Invisible,1,1981-12-18,Reality's Invisible,7,1
14222,14222,"[18, 36, 10752]",387,de,Das Boot,17,1982-02-10,Das Boot,8,981
2494,2494,"[18, 36, 10752]",387,de,Das Boot,17,1982-02-10,Das Boot,8,981
2567,2567,"[878, 28, 12]",97,en,Tron,12,1982-07-09,Tron,7,1100
2603,2603,"[35, 18]",13342,en,Fast Times at Ridgemont High,11,1982-08-13,Fast Times at Ridgemont High,7,563
19017,19017,"[16, 18, 10751]",77859,ja,チリンの鈴,1,1983-04-08,Ringing Bell,7,11
12575,12575,"[16, 18, 10751]",77859,ja,チリンの鈴,1,1983-04-08,Ringing Bell,7,11
24546,24546,"[14, 18, 9648]",5961,sv,Fanny och Alexander,6,1983-06-17,Fanny & Alexander,8,282
8292,8292,"[28, 80, 18, 53]",12633,en,The Star Chamber,6,1983-08-05,The Star Chamber,6,60
2887,2887,"[10749, 18]",18172,en,All the Right Moves,6,1983-10-21,All the Right Moves,6,111
2573,2573,"[35, 10749]",15144,en,Sixteen Candles,12,1984-05-04,Sixteen Candles,7,982
5201,5201,"[18, 80]",311,en,Once Upon a Time in America,18,1984-06-01,Once Upon a Time in America,8,2243
18662,18662,[18],130402,en,Last Night at the Alamo,2,1984-07-01,Last Night at the Alamo,8,2
26391,26391,"[35, 28]",275599,en,Ninja Busters,1,1984-11-09,Ninja Busters,6,1
2510,2510,"[28, 35, 80]",90,en,Beverly Hills Cop,15,1984-11-30,Beverly Hills Cop,7,1827
17554,17554,"[80, 18, 53]",11368,en,Blood Simple,10,1985-01-18,Blood Simple,7,554
22573,22573,"[28, 18]",92304,en,Out of Control,1,1985-05-01,Out of Control,4,2
11125,11125,"[12, 18]",12775,en,Flesh + Blood,12,1985-08-30,Flesh + Blood,7,152
103,103,"[28, 18, 36]",11645,ja,乱,11,1985-09-26,Ran,8,600
14297,14297,"[28, 18, 36]",11645,ja,乱,11,1985-09-26,Ran,8,600
14552,14552,"[80, 53, 28]",9873,en,F/X,7,1986-02-07,F/X,6,146
17547,17547,"[12, 14]",11976,en,Legend,11,1986-04-18,Legend,6,509
2607,2607,"[12, 14]",11976,en,Legend,11,1986-04-18,Legend,6,509
8007,8007,"[12, 14]",11976,en,Legend,11,1986-04-18,Legend,6,509
14836,14836,"[16, 10751]",25400,en,My Little Pony: The Movie,4,1986-06-06,My Little Pony: The Movie,6,21
5243,5243,"[35, 16, 10751]",9994,en,The Great Mouse Detective,13,1986-07-02,The Great Mouse Detective,7,769
56,56,"[35, 16, 10751]",9994,en,The Great Mouse Detective,13,1986-07-02,The Great Mouse Detective,7,769
11159,11159,"[12, 35]",9671,en,Crocodile Dundee,11,1986-09-26,Crocodile Dundee,6,917
25987,25987,"[27, 9648, 80, 53]",84996,en,Scream for Help,1,1986-10-01,Scream for Help,6,10
14558,14558,"[28, 12, 35]",12715,en,Firewalker,7,1986-11-21,Firewalker,5,75
7435,7435,"[16, 35]",270929,en,Apocalypse Pooh,1,1987-03-09,Apocalypse Pooh,6,2
9815,9815,"[10402, 99]",31474,en,Iron Maiden: 12 Wasted Years,1,1987-10-01,Iron Maiden: 12 Wasted Years,5,3
7758,7758,[18],105591,en,Faust's Other: An Idyll,1,1988-01-01,Faust's Other: An Idyll,4,1
8246,8246,"[28, 12, 35, 80, 18]",10117,en,Action Jackson,7,1988-02-12,Action Jackson,5,81
23981,23981,"[14, 18, 35, 10749, 10751]",2280,en,Big,15,1988-06-03,Big,7,1813
7927,7927,"[14, 18, 35, 10749, 10751]",2280,en,Big,15,1988-06-03,Big,7,1813
9482,9482,"[28, 878, 53, 80]",285633,en,Trancers: City of Lost Angels,1,1988-08-11,Trancers: City of Lost Angels,7,3
18897,18897,[28],270200,en,Young Rebels,1,1989-10-31,Young Rebels,4,4
9880,9880,[10402],31476,en,Iron Maiden: Maiden England,1,1989-11-08,Iron Maiden: Maiden England,4,2
24742,24742,"[18, 28, 80]",71142,en,One Good Cop,5,1991-05-03,One Good Cop,5,23
2546,2546,"[28, 80, 18, 9648, 53]",2924,en,Backdraft,13,1991-05-24,Backdraft,6,613
20639,20639,"[28, 53, 878]",280,en,Terminator 2: Judgment Day,25,1991-07-03,Terminator 2: Judgment Day,8,6682
17395,17395,"[28, 53, 878]",280,en,Terminator 2: Judgment Day,25,1991-07-03,Terminator 2: Judgment Day,8,6682
7292,7292,[10402],274722,en,Chuck Berry: Rock and Roll Music,1,1992-03-10,Chuck Berry: Rock and Roll Music,7,2
17629,17629,"[18, 10749]",8293,en,Howards End,9,1992-03-13,Howards End,7,201
2579,2579,"[80, 28, 878]",9739,en,Demolition Man,11,1993-10-08,Demolition Man,6,1678
23861,23861,"[18, 36, 10752]",424,en,Schindler's List,25,1993-12-15,Schindler's List,8,8065
2472,2472,"[10751, 16, 18]",8587,en,The Lion King,29,1994-06-23,The Lion King,8,10160
26,26,"[28, 35, 80, 53]",9737,en,Bad Boys,17,1995-04-07,Bad Boys,7,2936
8184,8184,"[27, 53, 14]",18392,en,Embrace of the Vampire,7,1995-05-30,Embrace of the Vampire,5,49
31,31,"[18, 36]",568,en,Apollo 13,16,1995-06-30,Apollo 13,7,2821
19410,19410,"[18, 35]",98514,en,River of Grass,1,1995-08-04,River of Grass,7,15
2516,2516,"[53, 28, 80]",8068,en,Desperado,15,1995-08-25,Desperado,7,1440
2606,2606,"[28, 12, 80, 53]",9691,en,Assassins,11,1995-10-06,Assassins,6,666

In [63]:
#I am going to merge several of the IMDB datasets together, using the tconst as a key.
imdb_df = pd.merge(table1, table4, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes
0,tt0285252,nm0899854,nm0899854,4,219
1,tt0462036,nm1940585,nm1940585,6,18
2,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147
3,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875
4,tt0879859,nm2416460,NaN,7,21
...,...,...,...,...,...
73851,tt8947660,nm10097606,nm10097614,8,21
73852,tt8948614,"nm0827830,nm0839064",NaN,7,696
73853,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993
73854,tt8991416,nm7731173,nm7731173,7,13
73855,tt9004986,nm4993825,nm4993825,8,7

In [64]:
imdb_df= pd.merge(imdb_df, table7, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy
1,tt0462036,nm1940585,nm1940585,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama
2,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147,The Babymakers,The Babymakers,2012,95,Comedy
3,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875,Bulletface,Bulletface,2010,82,Thriller
4,tt0879859,nm2416460,NaN,7,21,Torn,Torn,2010,nan,Thriller
...,...,...,...,...,...,...,...,...,...,...
73851,tt8947660,nm10097606,nm10097614,8,21,Goyenda Tatar,Goyenda Tatar,2019,nan,Adventure
73852,tt8948614,"nm0827830,nm0839064",NaN,7,696,Reversing Roe,Reversing Roe,2018,99,Documentary
73853,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993,The Princess Switch,The Princess Switch,2018,101,Romance
73854,tt8991416,nm7731173,nm7731173,7,13,Doozy,Doozy,2018,70,"Animation,Comedy"
73855,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary

In [65]:
imdb_df= pd.merge(imdb_df, table11, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,10,nm1077681,composer,NaN,NaN
1,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,1,nm0960950,actor,NaN,"[""Darren Fields""]"
2,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,2,nm0461311,actor,NaN,"[""RJ""]"
3,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,3,nm0000686,actor,NaN,"[""Roy Callahan""]"
4,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,4,nm0001822,actor,NaN,"[""Tom Wald""]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629750,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,5,nm4993825,director,NaN,NaN
629751,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,6,nm9008590,producer,producer,NaN
629752,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,7,nm1145570,composer,NaN,NaN
629753,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,8,nm0461754,cinematographer,NaN,NaN
629754,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,9,nm6197807,cinematographer,NaN,NaN

In [69]:
#There are a lot of duplicates due to the personnel attached to each movie getting their own record.
# I doubt that I will need to check the personnel, so let's drop the duplicates.

imdb_df = imdb_df.drop_duplicates('original_title', keep='first')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,10,nm1077681,composer,NaN,NaN
10,tt0462036,nm1940585,nm1940585,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama,10,nm0230187,production_designer,NaN,NaN
20,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147,The Babymakers,The Babymakers,2012,95,Comedy,10,nm0790481,composer,NaN,NaN
30,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875,Bulletface,Bulletface,2010,82,Thriller,10,nm0480523,producer,producer,NaN
40,tt0879859,nm2416460,NaN,7,21,Torn,Torn,2010,nan,Thriller,10,nm1269186,editor,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629707,tt8947660,nm10097606,nm10097614,8,21,Goyenda Tatar,Goyenda Tatar,2019,nan,Adventure,10,nm10377635,composer,NaN,NaN
629717,tt8948614,"nm0827830,nm0839064",NaN,7,696,Reversing Roe,Reversing Roe,2018,99,Documentary,10,nm0324930,editor,NaN,NaN
629727,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993,The Princess Switch,The Princess Switch,2018,101,Romance,10,nm0294520,composer,NaN,NaN
629737,tt8991416,nm7731173,nm7731173,7,13,Doozy,Doozy,2018,70,"Animation,Comedy",1,nm0571897,actor,NaN,"[""Clovis""]"
629745,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,10,nm0826589,editor,NaN,NaN

In [70]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70944 entries, 0 to 629745
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           70944 non-null  object
 1   directors        70368 non-null  object
 2   writers          60791 non-null  object
 3   averagerating    70944 non-null  float64
 4   numvotes         70944 non-null  int64
 5   primary_title    70944 non-null  object
 6   original_title   70944 non-null  object
 7   start_year       70944 non-null  int64
 8   runtime_minutes  63654 non-null  float64
 9   genres           70246 non-null  object
 10  ordering         70944 non-null  int64
 11  nconst           70944 non-null  object
 12  category         70944 non-null  object
 13  job              7883 non-null   object
 14  characters       26953 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 8.7+ MB

In [85]:
#dropped the columns that weren't useful. (can always get them back from the original sources)
# I dropped the following columns: directors, writers, ordering, nconst, category, job, characters
imdb_df = imdb_df.drop('characters', axis=1)
imdb_df.head(10)

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0285252,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy
10,tt0462036,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama
20,tt0835418,5,8147,The Babymakers,The Babymakers,2012,95,Comedy
30,tt0878654,6,875,Bulletface,Bulletface,2010,82,Thriller
40,tt0879859,7,21,Torn,Torn,2010,nan,Thriller
50,tt0996958,2,495,Legend of the Red Reaper,Legend of the Red Reaper,2013,99,"Action,Adventure,Fantasy"
60,tt0999913,6,30924,Straw Dogs,Straw Dogs,2011,110,"Action,Drama,Thriller"
70,tt10011102,8,55,The Sholay Girl,The Sholay Girl,2019,106,"Action,Biography,Drama"
80,tt1002965,8,31,Call of Life,Call of Life,2010,60,Documentary
90,tt10055770,8,380,Vellai Pookal,Vellaipookal,2019,122,Thriller

In [ ]:
#I want to now merge this imdb_df with my financial information from table9. I know that if I just do a merge
# on title, some of the results will be incorrect. (Avatar is the #grossing movie but is listed as a horror movie)
# to prevent this, I am going to create a movie_titles dataset where I can more closely examine whether movies
#from table9 are where they are supposed to be or not.

In [94]:
movie_title_df = imdb_df[['tconst' , 'primary_title' , 'original_title', 'start_year']]
movie_title_df

,tconst,primary_title,original_title,start_year
0,tt0285252,Life's a Beach,Life's a Beach,2012
10,tt0462036,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012
20,tt0835418,The Babymakers,The Babymakers,2012
30,tt0878654,Bulletface,Bulletface,2010
40,tt0879859,Torn,Torn,2010
...,...,...,...,...
629707,tt8947660,Goyenda Tatar,Goyenda Tatar,2019
629717,tt8948614,Reversing Roe,Reversing Roe,2018
629727,tt8954732,The Princess Switch,The Princess Switch,2018
629737,tt8991416,Doozy,Doozy,2018
629745,tt9004986,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018

In [92]:
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3
...,...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0,2018,"-7,000",-1
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005,"-3,662",-1
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0,2015,"-1,400",-1
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164

In [113]:
table9_titles = table9[['id' , 'movie' , 'release_year', 'total_profit']]
table9_titles

,id,movie,release_year,total_profit
0,1,Avatar,2009,"2,351,345,279"
1,2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875"
2,3,Dark Phoenix,2019,"-200,237,650"
3,4,Avengers: Age of Ultron,2015,"1,072,413,963"
4,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747"
...,...,...,...,...
5777,78,Red 11,2018,"-7,000"
5778,79,Following,1999,"234,495"
5779,80,Return to the Land of Wonders,2005,"-3,662"
5780,81,A Plague So Pleasant,2015,"-1,400"
5781,82,My Date With Drew,2005,"179,941"

In [114]:
#doing an inner join gives me 2,369 records
merged_df = pd.merge(movie_title_df, table9_titles, left_on= 'primary_title', right_on= 'movie', how='inner')
merged_df
#table9_titles
#movie_title_df

#df4 =pd.merge(df2, df3, left_on= 'tconst', right_on= 'tconst')
#df4

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
0,tt0999913,Straw Dogs,Straw Dogs,2011,88,Straw Dogs,2011,"-13,746,179"
1,tt1125929,Love Ranch,Love Ranch,2010,19,Love Ranch,2010,"-24,853,851"
2,tt1126618,Morning Glory,Morning Glory,2010,73,Morning Glory,2010,"19,795,070"
3,tt1152830,The Joneses,The Joneses,2011,88,The Joneses,2010,"-6,458,435"
4,tt1336608,Rock of Ages,Rock of Ages,2012,29,Rock of Ages,2012,"-8,968,068"
...,...,...,...,...,...,...,...,...
2364,tt4462082,Counting,Counting,2015,20,Counting,2015,"-41,626"
2365,tt5301662,Marshall,Marshall,2017,7,Marshall,2017,"-1,883,184"
2366,tt5314190,Sgt. Stubby: An American Hero,Sgt. Stubby: An American Hero,2018,6,Sgt. Stubby: An American Hero,2018,"-21,354,043"
2367,tt7368554,The Interpreter,The Interpreter,2018,63,The Interpreter,2005,"72,753,837"
2368,tt7634968,What Men Want,What Men Want,2019,21,What Men Want,2019,"49,911,903"

In [115]:
#an outer join gives me 74,630 rows
merged_df_outer = pd.merge(movie_title_df, table9_titles, left_on= 'primary_title', right_on= 'movie', how='outer')
merged_df_outer

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
0,tt0285252,Life's a Beach,Life's a Beach,"2,012",nan,NaN,nan,nan
1,tt0462036,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,"2,012",nan,NaN,nan,nan
2,tt0835418,The Babymakers,The Babymakers,"2,012",nan,NaN,nan,nan
3,tt0878654,Bulletface,Bulletface,"2,010",nan,NaN,nan,nan
4,tt0879859,Torn,Torn,"2,010",nan,NaN,nan,nan
...,...,...,...,...,...,...,...,...
74625,NaN,NaN,NaN,nan,76,Cavite,"2,006","64,644"
74626,NaN,NaN,NaN,nan,77,The Mongol King,"2,004","-6,100"
74627,NaN,NaN,NaN,nan,79,Following,"1,999","234,495"
74628,NaN,NaN,NaN,nan,80,Return to the Land of Wonders,"2,005","-3,662"
74629,NaN,NaN,NaN,nan,82,My Date With Drew,"2,005","179,941"

In [119]:
merged_df_outer.sort_values('total_profit', ascending=False).head(100)

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
31622,tt1775309,Avatar,Abatâ,"2,011",1,Avatar,"2,009","2,351,345,279"
62982,tt2495766,Titanic,Titanic,"2,012",43,Titanic,"1,997","2,008,208,395"
34677,tt4154756,Avengers: Infinity War,Avengers: Infinity War,"2,018",7,Avengers: Infinity War,"2,018","1,748,134,200"
71022,NaN,NaN,NaN,nan,6,Star Wars Ep. VII: The Force Awakens,"2,015","1,747,311,220"
51082,tt0369610,Jurassic World,Jurassic World,"2,015",34,Jurassic World,"2,015","1,433,854,864"
41477,tt2820852,Furious 7,Furious Seven,"2,015",67,Furious 7,"2,015","1,328,722,794"
68577,tt0848228,The Avengers,The Avengers,"2,012",27,The Avengers,"2,012","1,292,935,897"
71118,NaN,NaN,NaN,nan,61,Harry Potter and the Deathly Hallows: Part II,"2,011","1,216,693,157"
29014,tt1825683,Black Panther,Black Panther,"2,018",42,Black Panther,"2,018","1,148,258,224"
27116,tt4881806,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,"2,018",13,Jurassic World: Fallen Kingdom,"2,018","1,135,772,799"
17439,tt1323045,Frozen,Frozen,"2,010",56,Frozen,"2,013","1,122,469,910"
17440,tt1611845,Frozen,Wai nei chung ching,"2,010",56,Frozen,"2,013","1,122,469,910"
19148,tt2771200,Beauty and the Beast,Beauty and the Beast,"2,017",35,Beauty and the Beast,"2,017","1,099,199,706"
19146,tt2316801,Beauty and the Beast,La belle et la bête,"2,014",35,Beauty and the Beast,"2,017","1,099,199,706"
40283,tt2293640,Minions,Minions,"2,015",73,Minions,"2,015","1,086,336,173"
10350,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",4,Avengers: Age of Ultron,"2,015","1,072,413,963"
71210,NaN,NaN,NaN,nan,26,The Lord of the Rings: The Return of the King,"2,003","1,047,403,341"
69215,tt3606756,Incredibles 2,Incredibles 2,"2,018",44,Incredibles 2,"2,018","1,042,520,711"
63856,tt1300854,Iron Man 3,Iron Man Three,"2,013",48,Iron Man 3,"2,013","1,015,392,272"
71021,NaN,NaN,NaN,nan,5,Star Wars Ep. VIII: The Last Jedi,"2,017","999,721,747"
42329,tt1477834,Aquaman,Aquaman,"2,018",36,Aquaman,"2,018","986,894,640"
20589,tt4630562,The Fate of the Furious,The Fate of the Furious,"2,017",23,The Fate of the Furious,"2,017","984,846,267"
71472,NaN,NaN,NaN,nan,25,Jurassic Park,"1,993","975,812,584"
36973,tt3469046,Despicable Me 3,Despicable Me 3,"2,017",30,Despicable Me 3,"2,017","959,727,750"
23737,tt4154664,Captain Marvel,Captain Marvel,"2,019",96,Captain Marvel,"2,019","948,061,550"
1132,tt1399103,Transformers: Dark of the Moon,Transformers: Dark of the Moon,"2,011",64,Transformers: Dark of the Moon,"2,011","928,790,543"
71137,NaN,NaN,NaN,nan,4,Star Wars Ep. I: The Phantom Menace,"1,999","912,044,677"
1095,tt1074638,Skyfall,Skyfall,"2,012",52,Skyfall,"2,012","910,526,981"
71333,NaN,NaN,NaN,nan,9,The Lion King,"1,994","906,914,868"
66345,tt1690953,Despicable Me 2,Despicable Me 2,"2,013",22,Despicable Me 2,"2,013","899,216,835"
7084,tt2109248,Transformers: Age of Extinction,Transformers: Age of Extinction,"2,014",37,Transformers: Age of Extinction,"2,014","894,039,076"
5217,tt3498820,Captain America: Civil War,Captain America: Civil War,"2,016",17,Captain America: Civil War,"2,016","890,069,413"
19120,tt2283362,Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,"2,017",38,Jumanji: Welcome to the Jungle,"2,017","874,496,193"
36896,tt2948356,Zootopia,Zootopia,"2,016",57,Zootopia,"2,016","869,429,616"
53389,tt0435761,Toy Story 3,Toy Story 3,"2,010",47,Toy Story 3,"2,010","868,879,522"
71391,NaN,NaN,NaN,nan,93,Shrek 2,"2,004","867,008,132"
71119,NaN,NaN,NaN,nan,63,Harry Potter and the Sorcererâs Stone,"2,001","850,047,606"
16742,tt3748528,Rogue One: A Star Wars Story,Rogue One,"2,016",45,Rogue One: A Star Wars Story,"2,016","849,102,856"
71209,NaN,NaN,NaN,nan,25,Finding Nemo,"2,003","842,429,370"
71028,NaN,NaN,NaN,nan,28,Pirates of the Caribbean: Dead Manâs Chest,"2,006","841,215,812"
71211,NaN,NaN,NaN,nan,27,The Lord of the Rings: The Two Towers,"2,002","840,699,645"
16044,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,"2,018",84,Bohemian Rhapsody,"2,018","839,985,342"
71120,NaN,NaN,NaN,nan,64,Harry Potter and the Deathly Hallows: Part I,"2,010","835,431,568"
36656,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",51,Alice in Wonderland,"2,010","825,491,110"
419,tt2277860,Finding Dory,Finding Dory,"2,016",46,Finding Dory,"2,016","821,215,193"
71043,NaN,NaN,NaN,nan,75,The Dark Knight,"2,008","816,996,207"
25731,tt2709768,The Secret Life of Pets,The Secret Life of Pets,"2,016",26,The Secret Life of Pets,"2,016","811,750,534"
5784,tt1345836,The Dark Knight Rises,The Dark Knight Rises,"2,012",11,The Dark Knight Rises,"2,012","809,439,099"
71069,NaN,NaN,NaN,nan,58,Harry Potter and the Order of the Phoenix,"2,007","793,076,457"
24591,tt3040964,The Jungle Book,The Jungle Book,"2,016",97,The Jungle Book,"2,016","787,854,547"
48039,tt1667889,Ice Age: Continental Drift,Ice Age: Continental Drift,"2,012",14,Ice Age: Continental Drift,"2,012","784,765,137"
73235,NaN,NaN,NaN,nan,26,ET: The Extra-Terrestrial,"1,982","782,465,326"
71175,NaN,NaN,NaN,nan,64,Harry Potter and the Chamber of Secrets,"2,002","779,225,135"
71161,NaN,NaN,NaN,nan,43,The Lord of the Rings: The Fellowship of the Ring,"2,001","778,210,985"
73193,NaN,NaN,NaN,nan,65,Star Wars Ep. IV: A New Hope,"1,977","775,598,007"
71222,NaN,NaN,NaN,nan,43,Ice Age: Dawn of the Dinosaurs,"2,009","769,701,857"
2166,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,"2,012",19,The Hobbit: An Unexpected Journey,"2,012","767,003,568"
71070,NaN,NaN,NaN,nan,59,Harry Potter and the Goblet of Fire,"2,005","747,099,794"
66254,tt1431045,Deadpool,Deadpool,"2,016",56,Deadpool,"2,016","743,025,593"
71344,NaN,NaN,NaN,nan,27,Independence Day,"1,996","742,400,878"
31467,tt1270797,Venom,Venom,"2,018",3,Venom,"2,018","737,628,605"
43612,tt1951264,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,"2,013",38,The Hunger Games: Catching Fire,"2,013","734,868,047"
71138,NaN,NaN,NaN,nan,5,Star Wars Ep. III: Revenge of the Sith,"2,005","733,998,877"
8863,tt1170358,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,"2,013",21,The Hobbit: The Desolation of Smaug,"2,013","710,366,855"
36713,tt2250912,Spider-Man: Homecoming,Spider-Man: Homecoming,"2,017",99,Spider-Man: Homecoming,"2,017","705,166,350"
1403,tt2310332,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,"2,014",22,The Hobbit: The Battle of the Five Armies,"2,014","695,577,621"
71108,NaN,NaN,NaN,nan,25,"The Twilight Saga: Breaking Dawn, Part 2","2,012","693,524,737"
71025,NaN,NaN,NaN,nan,20,Harry Potter and the Half-Blood Prince,"2,009","685,213,767"
71102,NaN,NaN,NaN,nan,19,Spider-Man,"2,002","682,706,375"
33922,tt1640486,Inside Out,Inside Out,"2,011",98,Inside Out,"2,015","679,235,992"
1893,tt5463162,Deadpool 2,Deadpool 2,"2,018",15,Deadpool 2,"2,018","676,680,557"
57131,tt1375666,Inception,Inception,"2,010",38,Inception,"2,010","675,524,642"
11980,tt4028068,Wonder Woman,Wonder Woman,"2,014",55,Wonder Woman,"2,017","671,133,378"
39174,tt3501632,Thor: Ragnarok,Thor: Ragnarok,"2,017",82,Thor: Ragnarok,"2,017","666,980,024"
71112,NaN,NaN,NaN,nan,39,Harry Potter and the Prisoner of Azkaban,"2,004","666,907,323"
71023,NaN,NaN,NaN,nan,8,Pirates of the Caribbean: At Worldâs End,"2,007","663,420,425"
53425,tt1396484,It,It,"2,017",24,It,"2,017","662,457,969"
71036,NaN,NaN,NaN,nan,49,Guardians of the Galaxy Vol 2,"2,017","662,316,233"
71061,NaN,NaN,NaN,nan,37,Shrek the Third,"2,007","647,330,936"
71121,NaN,NaN,NaN,nan,65,The Da Vinci Code,"2,006","642,820,459"
25501,tt1951265,The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,"2,014",62,The Hunger Games: Mockingjay - Part 1,"2,014","641,575,131"
58344,tt1325004,The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,"2,010",53,The Twilight Saga: Eclipse,"2,010","638,102,828"
71649,NaN,NaN,NaN,nan,82,The Twilight Saga: New Moon,"2,009","637,557,727"
71024,NaN,NaN,NaN,nan,16,Spider-Man 3,"2,007","636,860,230"
31472,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",2,Pirates of the Caribbean: On Stranger Tides,"2,011","635,063,875"
71839,NaN,NaN,NaN,nan,75,The Sixth Sense,"1,999","632,806,292"
71062,NaN,NaN,NaN,nan,40,Fast and Furious 6,"2,013","629,300,444"
71030,NaN,NaN,NaN,nan,36,Transformers: Revenge of the Fallen,"2,009","626,519,699"
71575,NaN,NaN,NaN,nan,82,Forrest Gump,"1,994","624,850,637"
33685,tt7002100,Coco,Coco,"2,017",2,Coco,"2,017","623,008,101"
61079,tt3183660,Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,"2,016",85,Fantastic Beasts and Where to Find Them,"2,016","622,402,853"
51507,tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,"2,016",18,Batman v Superman: Dawn of Justice,"2,016","617,500,281"
71048,NaN,NaN,NaN,nan,92,Mission: ImpossibleâFallout,"2,018","609,456,552"
57108,tt1277953,Madagascar 3: Europe's Most Wanted,Madagascar 3: Europe's Most Wanted,"2,012",97,Madagascar 3: Europe's Most Wanted,"2,012","601,921,271"
71044,NaN,NaN,NaN,nan,76,Indiana Jones and the Kingdom of the Crystal S...,"2,008","601,635,413"
37726,tt2015381,Guardians of the Galaxy,Guardians of the Galaxy,"2,014",14,Guardians of the Galaxy,"2,014","600,867,516"
57139,tt1392170,The Hunger Games,The Hunger Games,"2,012",38,The Hunger Games,"2,012","597,923,379"
72332,NaN,NaN,NaN,nan,60,The Passion of the Christ,"2,004","597,341,924"
71037,NaN,NaN,NaN,nan,50,Spider-Man 2,"2,004","595,110,670"
26311,tt0892791,Shrek Forever After,Shrek Forever After,"2,010",27,Shrek Forever After,"2,010","591,244,673"

In [108]:
#The start_year and release_year values are no longer in datetime format. I need to change the null values
#to an appropriate value so that I can correctly format the years.

merged_df_outer['start_year'] = pd.to_datetime(merged_df_outer['start_year'], errors='coerce')
merged_df_outer

,tconst,primary_title,original_title,start_year,id,movie,release_year
0,tt0285252,Life's a Beach,Life's a Beach,1970-01-01 00:00:00.000002012,nan,NaN,nan
1,tt0462036,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,1970-01-01 00:00:00.000002012,nan,NaN,nan
2,tt0835418,The Babymakers,The Babymakers,1970-01-01 00:00:00.000002012,nan,NaN,nan
3,tt0878654,Bulletface,Bulletface,1970-01-01 00:00:00.000002010,nan,NaN,nan
4,tt0879859,Torn,Torn,1970-01-01 00:00:00.000002010,nan,NaN,nan
...,...,...,...,...,...,...,...
74625,NaN,NaN,NaN,NaT,76,Cavite,"2,006"
74626,NaN,NaN,NaN,NaT,77,The Mongol King,"2,004"
74627,NaN,NaN,NaN,NaT,79,Following,"1,999"
74628,NaN,NaN,NaN,NaT,80,Return to the Land of Wonders,"2,005"
74629,NaN,NaN,NaN,NaT,82,My Date With Drew,"2,005"

SyntaxError: EOL while scanning string literal (<ipython-input-112-c2e8eb972945>, line 1)

In [101]:
merged_df_outer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74630 entries, 0 to 74629
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          71021 non-null  object
 1   primary_title   71021 non-null  object
 2   original_title  71021 non-null  object
 3   start_year      71021 non-null  float64
 4   id              5978 non-null   float64
 5   movie           5978 non-null   object
 6   release_year    5978 non-null   float64
dtypes: float64(3), object(4)
memory usage: 4.6+ MB

In [ ]:
#Exploring some more datasets to see which ones I want to use.
table8 = tables['rt_movie_info_tsv_gz']
table8

In [ ]:
table8.info()

In [ ]:
table10 = tables['bom_movie_gross_csv_gz']
table10

In [ ]:
table10.info()

In [ ]:
table10.sort_values(by='year', ascending=True).head(100)

In [ ]:
#I am going to attempt a join to see what the resulting dataframe would look like.
test_join_outer = table9.join(table7, how='inner')
test_join_outer
#That didn't work! They were joining by the IDs, which are completely different.
#Let me change the index for each and try again.

In [ ]:
table9.set_index('movie', inplace=True)
table9

In [ ]:
table7.set_index('primary_title', inplace=True)
table7

In [ ]:
test_join_outer_2 = table9.join(table7, how='outer')
test_join_outer_2

In [ ]:
test_join_outer_2.info()

In [ ]:
test_join_outer_2.rename(columns={test_join_outer_2.columns[1]: 'new'})
test_join_outer_2

In [ ]:
test_join_outer_2.sort_values('original_title', ascending=True).head(100)
test_join_outer_2

In [ ]:
test_join_inner_2 = table9.join(table7, how='left')
test_join_inner_2

In [ ]:
df1 = test_join_inner_2
df1.head(100)

In [ ]:
df1.sort_values(by='worldwide_gross', ascending=False).head(100)

In [ ]:
#Problems to address: Lots of duplicates. Avatar merged with a horror movie. 
#start_year needs to be changed to datetime. not a lot of genre information.

In [ ]:
#Plan of attack: Clean up the data that I've got. Attempt to merge in table2.

In [ ]:
start_year = df1['start_year']
start_year

In [ ]:
cleaned_start_year = start_year.astype(str)
cleaned_start_year

In [ ]:
cleaned_start_year_2 = cleaned_start_year.str.rstrip('.0')
cleaned_start_year_2

In [ ]:
cleaned_start_year_2.astype(str)

In [ ]:
df1['start_year']=cleaned_start_year_2
df1

In [ ]:
#I am going to merge several of the IMDB datasets together, using the tconst as a key.
#imdb_df = pd.merge(table1, table4, left_on= 'tconst', right_on= 'tconst')
#df2

In [ ]:
#df3 = pd.merge(table7, table11, left_on= 'tconst', right_on= 'tconst')
#df3

In [ ]:
#df4 =pd.merge(df2, df3, left_on= 'tconst', right_on= 'tconst')
#df4

In [ ]:
#df4 = df4.drop_duplicates('original_title', keep='first')

In [ ]:
#df4.sort_values('original_title', ascending=True).head(100)

In [ ]:
#dropped the columns that weren't useful. (can always get them back from the original sources)
#df4 = df4.drop('nconst', axis=1)
#df4.head(10)

In [ ]:
#df4.info()

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
Data Analysis.
Make this a heading!

In [ ]:
Questions that I want to answer:
    
    1) What are the genres of the movies that made the most profit?
    2) What are the genres of the movies with the best ROI?
    3) How much money do you need to spend to make these movies?
    4) Maybe look at directors/studios/etc?

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***