![example](images/director_shot.jpeg)

# Phase 1 Project

**Authors:** Jonathan Holt
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# Here you run your code to explore the data
import glob, os
fpath = 'zippedData/'
os.listdir(fpath)

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [3]:
query = fpath+"*.gz"

file_list=glob.glob(query)
file_list

['zippedData/imdb.title.crew.csv.gz',
 'zippedData/tmdb.movies.csv.gz',
 'zippedData/imdb.title.akas.csv.gz',
 'zippedData/imdb.title.ratings.csv.gz',
 'zippedData/imdb.name.basics.csv.gz',
 'zippedData/rt.reviews.tsv.gz',
 'zippedData/imdb.title.basics.csv.gz',
 'zippedData/rt.movie_info.tsv.gz',
 'zippedData/tn.movie_budgets.csv.gz',
 'zippedData/bom.movie_gross.csv.gz',
 'zippedData/imdb.title.principals.csv.gz']

In [4]:
tables = {}

for file in file_list:
    print('---'*20)
    file_name = file.replace('zippedData/', '').replace('.', '_')
    print(file_name)
    
    
    
    if 'tsv.gz' in file:
        temp_df = pd.read_csv(file, sep= "\t", encoding = "latin-1")
    else:
        temp_df = pd.read_csv(file)
    
    display(temp_df.head(), temp_df.tail())
    tables[file_name] = temp_df

------------------------------------------------------------
imdb_title_crew_csv_gz

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

           tconst              directors     writers
146139  tt8999974             nm10122357  nm10122357
146140  tt9001390              nm6711477   nm6711477
146141  tt9001494  nm10123242,nm10123248         NaN
146142  tt9004986              nm4993825   nm4993825
146143  tt9010172                    NaN   nm8352242

------------------------------------------------------------
tmdb_movies_csv_gz

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.6,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.6,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

------------------------------------------------------------
imdb_title_akas_csv_gz

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

,title_id,ordering,title,region,language,types,attributes,is_original_title
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

------------------------------------------------------------
imdb_title_ratings_csv_gz

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

          tconst  averagerating  numvotes
73851  tt9805820            8.1        25
73852  tt9844256            7.5        24
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

------------------------------------------------------------
imdb_name_basics_csv_gz

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

------------------------------------------------------------
rt_reviews_tsv_gz

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

,id,review,rating,fresh,critic,top_critic,publisher,date
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

------------------------------------------------------------
imdb_title_basics_csv_gz

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

------------------------------------------------------------
rt_movie_info_tsv_gz

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

------------------------------------------------------------
tn_movie_budgets_csv_gz

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

------------------------------------------------------------
bom_movie_gross_csv_gz

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

------------------------------------------------------------
imdb_title_principals_csv_gz

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

,tconst,ordering,nconst,category,job,characters
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [5]:
#attempting to sort by the largest worldwide_gross

tables['tn_movie_budgets_csv_gz'].sort_values(by='worldwide_gross', ascending=False)

#something is wrong here. I assume that it is sorting anything with a '9' in the front first.
#I presume that the dollar amounts are strings instead of integers. I should also check for
#null values while I'm checking for this.

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
3737,38,"Aug 21, 2009",Fifty Dead Men Walking,"$10,000,000",$0,"$997,921"
3432,33,"Sep 30, 2005",Duma,"$12,000,000","$870,067","$994,790"
5062,63,"Apr 1, 2011",Insidious,"$1,500,000","$54,009,150","$99,870,886"
883,84,"Apr 2, 2004",Hellboy,"$60,000,000","$59,623,958","$99,823,958"
5613,14,"Mar 21, 1980",Mad Max,"$200,000","$8,750,000","$99,750,000"
...,...,...,...,...,...,...
5488,89,"Dec 31, 2014",The Sound and the Shadow,"$500,000",$0,$0
5487,88,"Dec 1, 2015",Brooklyn Bizarre,"$500,000",$0,$0
5486,87,"Aug 11, 2015",Alleluia! The Devil's Carnival,"$500,000",$0,$0
5485,86,"Jun 23, 2015",Crossroads,"$500,000",$0,$0
4765,66,"Jan 15, 2013",30 Nights Of Paranormal Activity With The Devi...,"$3,000,000",$0,$0

In [6]:
tables['tn_movie_budgets_csv_gz'].info()

#Sure enough, everything is a string except for the ID field. I will convert all of the financial information
#to integers (actually, I went back and changed to floats), and while I'm at it. I will also convert the
#release date field to date/time.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [7]:
table9 = tables['tn_movie_budgets_csv_gz']
#Setting this table as 'table9' to make it easier to write. It is the ninth dataset out of the eleven given.

In [8]:
table9.isna().sum()
#there are no null values, but there are likely placeholders

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [9]:
#cleaning the three financial columns. Removing the $, removing the comma, then converting to float.
cleaned_budget = table9['production_budget'].map(lambda x: x.replace('$',' '))
cleaned_budget

0        425,000,000
1        410,600,000
2        350,000,000
3        330,600,000
4        317,000,000
            ...
5777           7,000
5778           6,000
5779           5,000
5780           1,400
5781           1,100
Name: production_budget, Length: 5782, dtype: object

In [10]:
cleaned_budget_2 = cleaned_budget.map(lambda x: x.replace(',',''))
cleaned_budget_2

0        425000000
1        410600000
2        350000000
3        330600000
4        317000000
           ...
5777          7000
5778          6000
5779          5000
5780          1400
5781          1100
Name: production_budget, Length: 5782, dtype: object

In [105]:
cleaned_budget_3 = cleaned_budget_2.astype(float)
cleaned_budget_3

0      425,000,000.0
1      410,600,000.0
2      350,000,000.0
3      330,600,000.0
4      317,000,000.0
            ...
5777         7,000.0
5778         6,000.0
5779         5,000.0
5780         1,400.0
5781         1,100.0
Name: production_budget, Length: 5782, dtype: float64

In [12]:
cleaned_domestic= table9['domestic_gross'].map(lambda x: x.replace('$',' '))

cleaned_domestic

0        760,507,625
1        241,063,875
2         42,762,350
3        459,005,868
4        620,181,382
            ...
5777               0
5778          48,482
5779           1,338
5780               0
5781         181,041
Name: domestic_gross, Length: 5782, dtype: object

In [13]:
cleaned_domestic_2 =cleaned_domestic.map(lambda x: x.replace(',',''))
cleaned_domestic_2

0        760507625
1        241063875
2         42762350
3        459005868
4        620181382
           ...
5777             0
5778         48482
5779          1338
5780             0
5781        181041
Name: domestic_gross, Length: 5782, dtype: object

In [104]:
cleaned_domestic_3 = cleaned_domestic_2.astype(float)
cleaned_domestic_3

0      760,507,625.0
1      241,063,875.0
2       42,762,350.0
3      459,005,868.0
4      620,181,382.0
            ...
5777             0.0
5778        48,482.0
5779         1,338.0
5780             0.0
5781       181,041.0
Name: domestic_gross, Length: 5782, dtype: float64

In [15]:
cleaned_worldwide = table9['worldwide_gross'].map(lambda x: x.replace('$',' '))
cleaned_worldwide

0        2,776,345,279
1        1,045,663,875
2          149,762,350
3        1,403,013,963
4        1,316,721,747
             ...
5777                 0
5778           240,495
5779             1,338
5780                 0
5781           181,041
Name: worldwide_gross, Length: 5782, dtype: object

In [16]:
cleaned_worldwide_2 = cleaned_worldwide.map(lambda x: x.replace(',',''))
cleaned_worldwide_2

0        2776345279
1        1045663875
2         149762350
3        1403013963
4        1316721747
           ...
5777              0
5778         240495
5779           1338
5780              0
5781         181041
Name: worldwide_gross, Length: 5782, dtype: object

In [103]:
cleaned_worldwide_3 = cleaned_worldwide_2.astype(float)
cleaned_worldwide_3

0      2,776,345,279.0
1      1,045,663,875.0
2        149,762,350.0
3      1,403,013,963.0
4      1,316,721,747.0
             ...
5777               0.0
5778         240,495.0
5779           1,338.0
5780               0.0
5781         181,041.0
Name: worldwide_gross, Length: 5782, dtype: float64

In [106]:
#Putting my cleaned data into the table.
table9["production_budget"] = cleaned_budget_3
table9["domestic_gross"] = cleaned_domestic_3
table9["worldwide_gross"] = cleaned_worldwide_3
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit
0,1,2009-12-18,Avatar,"425,000,000.0","760,507,625.0","2,776,345,279.0",2009,2351345279
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000.0","241,063,875.0","1,045,663,875.0",2011,635063875
2,3,2019-06-07,Dark Phoenix,"350,000,000.0","42,762,350.0","149,762,350.0",2019,-200237650
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000.0","459,005,868.0","1,403,013,963.0",2015,1072413963
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000.0","620,181,382.0","1,316,721,747.0",2017,999721747
...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000.0",0.0,0.0,2018,-7000
5778,79,1999-04-02,Following,"6,000.0","48,482.0","240,495.0",1999,234495
5779,80,2005-07-13,Return to the Land of Wonders,"5,000.0","1,338.0","1,338.0",2005,-3662
5780,81,2015-09-29,A Plague So Pleasant,"1,400.0",0.0,0.0,2015,-1400
5781,82,2005-08-05,My Date With Drew,"1,100.0","181,041.0","181,041.0",2005,179941

In [30]:
table9.drop(["New_Column"], axis=1, inplace=True)

In [107]:
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit
0,1,2009-12-18,Avatar,"425,000,000.0","760,507,625.0","2,776,345,279.0",2009,2351345279
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000.0","241,063,875.0","1,045,663,875.0",2011,635063875
2,3,2019-06-07,Dark Phoenix,"350,000,000.0","42,762,350.0","149,762,350.0",2019,-200237650
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000.0","459,005,868.0","1,403,013,963.0",2015,1072413963
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000.0","620,181,382.0","1,316,721,747.0",2017,999721747
...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000.0",0.0,0.0,2018,-7000
5778,79,1999-04-02,Following,"6,000.0","48,482.0","240,495.0",1999,234495
5779,80,2005-07-13,Return to the Land of Wonders,"5,000.0","1,338.0","1,338.0",2005,-3662
5780,81,2015-09-29,A Plague So Pleasant,"1,400.0",0.0,0.0,2015,-1400
5781,82,2005-08-05,My Date With Drew,"1,100.0","181,041.0","181,041.0",2005,179941

In [32]:
table9.sort_values(by='worldwide_gross', ascending=False)
#After all that work, I finally have the data sorted the way that I wanted.

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
42,43,"Dec 19, 1997",Titanic,200000000,659363944,2208208395
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220
6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200
33,34,"Jun 12, 2015",Jurassic World,215000000,652270625,1648854864
...,...,...,...,...,...,...
5474,75,"Dec 31, 2005",Insomnia Manica,500000,0,0
5473,74,"Jul 17, 2012",Girls Gone Dead,500000,0,0
5472,73,"Apr 3, 2012",Enter Nowhere,500000,0,0
5471,72,"Dec 31, 2010",Drones,500000,0,0
4068,69,"Dec 12, 2008",The Kings of Appletown,7000000,0,0

In [33]:
#converting release_date to datetime format.
cleaned_release_date = pd.to_datetime(table9['release_date'])
cleaned_release_date

0      2009-12-18
1      2011-05-20
2      2019-06-07
3      2015-05-01
4      2017-12-15
          ...
5777   2018-12-31
5778   1999-04-02
5779   2005-07-13
5780   2015-09-29
5781   2005-08-05
Name: release_date, Length: 5782, dtype: datetime64[ns]

In [108]:
table9['release_date']= cleaned_release_date
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit
0,1,2009-12-18,Avatar,"425,000,000.0","760,507,625.0","2,776,345,279.0",2009,2351345279
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000.0","241,063,875.0","1,045,663,875.0",2011,635063875
2,3,2019-06-07,Dark Phoenix,"350,000,000.0","42,762,350.0","149,762,350.0",2019,-200237650
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000.0","459,005,868.0","1,403,013,963.0",2015,1072413963
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000.0","620,181,382.0","1,316,721,747.0",2017,999721747
...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000.0",0.0,0.0,2018,-7000
5778,79,1999-04-02,Following,"6,000.0","48,482.0","240,495.0",1999,234495
5779,80,2005-07-13,Return to the Land of Wonders,"5,000.0","1,338.0","1,338.0",2005,-3662
5780,81,2015-09-29,A Plague So Pleasant,"1,400.0",0.0,0.0,2015,-1400
5781,82,2005-08-05,My Date With Drew,"1,100.0","181,041.0","181,041.0",2005,179941

In [39]:
#what is the range of release dates in this data set?
print("This is the earliest release date:")
print(table9['release_date'].min())

print("This is the latest release date:")
print(table9['release_date'].max())

This is the earliest release date:
1915-02-08 00:00:00
This is the latest release date:
2020-12-31 00:00:00

In [42]:
#there are several movies that have budget information, but no gross. Presumably, this is because they hadn't
#been released at the time that this data was collected. 
table9.sort_values(by='release_date', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
194,95,2020-12-31,Moonfall,150000000,0,0
1205,6,2020-12-31,Hannibal the Conqueror,50000000,0,0
535,36,2020-02-21,Call of the Wild,82000000,0,0
480,81,2019-12-31,Army of the Dead,90000000,0,0
3515,16,2019-12-31,Eli,11000000,0,0
...,...,...,...,...,...,...
5606,7,1925-11-19,The Big Parade,245000,11000000,22000000
5683,84,1920-09-17,Over the Hill to the Poorhouse,100000,3000000,3000000
5614,15,1916-12-24,"20,000 Leagues Under the Sea",200000,8000000,8000000
5523,24,1916-09-05,Intolerance,385907,0,0
5677,78,1915-02-08,The Birth of a Nation,110000,10000000,11000000

In [54]:
year_of_release = table9['release_date']
year_of_release

0      2009-12-18
1      2011-05-20
2      2019-06-07
3      2015-05-01
4      2017-12-15
          ...
5777   2018-12-31
5778   1999-04-02
5779   2005-07-13
5780   2015-09-29
5781   2005-08-05
Name: release_date, Length: 5782, dtype: datetime64[ns]

In [59]:
year_of_release = pd.DatetimeIndex(table9['release_date']).year
year_of_release

Int64Index([2009, 2011, 2019, 2015, 2017, 2015, 2018, 2007, 2017, 2015,
            ...
            2012, 1993, 2004, 2006, 2004, 2018, 1999, 2005, 2015, 2005],
           dtype='int64', name='release_date', length=5782)

In [64]:
#created a column 'release_year' to more easily search general release dates, etc.
table9['release_year'] = table9['release_date'].dt.year

In [65]:
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,2009
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,2011
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350,2019
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,2015
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,2017
...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,7000,0,0,2018
5778,79,1999-04-02,Following,6000,48482,240495,1999
5779,80,2005-07-13,Return to the Land of Wonders,5000,1338,1338,2005
5780,81,2015-09-29,A Plague So Pleasant,1400,0,0,2015
5781,82,2005-08-05,My Date With Drew,1100,181041,181041,2005

In [82]:
table9['release_year'].value_counts()

2015    338
2010    274
2008    264
2006    260
2014    255
       ...
1947      1
1927      1
1941      1
1937      1
1915      1
Name: release_year, Length: 96, dtype: int64

In [96]:
#use this to change the amount of rows displayed
pd.set_option('display.max_rows', 100)

In [85]:
#let's sort by release year
table9.sort_values(by='release_year', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
194,95,2020-12-31,Moonfall,150000000,0,0,2020
535,36,2020-02-21,Call of the Wild,82000000,0,0,2020
1205,6,2020-12-31,Hannibal the Conqueror,50000000,0,0,2020
2029,30,2019-09-30,Unhinged,29000000,0,0,2019
670,71,2019-08-30,PLAYMOBIL,75000000,0,0,2019
...,...,...,...,...,...,...,...
5606,7,1925-11-19,The Big Parade,245000,11000000,22000000,1925
5683,84,1920-09-17,Over the Hill to the Poorhouse,100000,3000000,3000000,1920
5614,15,1916-12-24,"20,000 Leagues Under the Sea",200000,8000000,8000000,1916
5523,24,1916-09-05,Intolerance,385907,0,0,1916
5677,78,1915-02-08,The Birth of a Nation,110000,10000000,11000000,1915

In [87]:
table9.sort_values(by='worldwide_gross', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,2009
42,43,1997-12-19,Titanic,200000000,659363944,2208208395,1997
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,2015
6,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,2018
33,34,2015-06-12,Jurassic World,215000000,652270625,1648854864,2015
...,...,...,...,...,...,...,...
5474,75,2005-12-31,Insomnia Manica,500000,0,0,2005
5473,74,2012-07-17,Girls Gone Dead,500000,0,0,2012
5472,73,2012-04-03,Enter Nowhere,500000,0,0,2012
5471,72,2010-12-31,Drones,500000,0,0,2010
4068,69,2008-12-12,The Kings of Appletown,7000000,0,0,2008

In [45]:
#attempted to find the unreleased movies and remove them from consideration. Leaving here in case I 
#want to come back to this. If not, I can exclude from my final notebook.
unreleased_movies = []

for movie in table9:
    if movie['worldwide_gross'] == 0:
        unreleased_movies.append(movie)

unreleased_movies

TypeError: string indices must be integers

In [111]:
#create a column that calculates the profit for each movie. (gross - budget)
#realize that there are other costs above and beyond the budget

total_profit = table9.apply(lambda x: x['worldwide_gross'] - x['production_budget'], axis=1)
total_profit

0      2,351,345,279.0
1        635,063,875.0
2       -200,237,650.0
3      1,072,413,963.0
4        999,721,747.0
             ...
5777          -7,000.0
5778         234,495.0
5779          -3,662.0
5780          -1,400.0
5781         179,941.0
Length: 5782, dtype: float64

In [112]:
table9['total_profit'] = total_profit

In [116]:
table9.sort_values(by='total_profit', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit
0,1,2009-12-18,Avatar,"425,000,000.0","760,507,625.0","2,776,345,279.0",2009,"2,351,345,279.0"
42,43,1997-12-19,Titanic,"200,000,000.0","659,363,944.0","2,208,208,395.0",1997,"2,008,208,395.0"
6,7,2018-04-27,Avengers: Infinity War,"300,000,000.0","678,815,482.0","2,048,134,200.0",2018,"1,748,134,200.0"
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000.0","936,662,225.0","2,053,311,220.0",2015,"1,747,311,220.0"
33,34,2015-06-12,Jurassic World,"215,000,000.0","652,270,625.0","1,648,854,864.0",2015,"1,433,854,864.0"
66,67,2015-04-03,Furious 7,"190,000,000.0","353,007,020.0","1,518,722,794.0",2015,"1,328,722,794.0"
26,27,2012-05-04,The Avengers,"225,000,000.0","623,279,547.0","1,517,935,897.0",2012,"1,292,935,897.0"
260,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,"125,000,000.0","381,193,157.0","1,341,693,157.0",2011,"1,216,693,157.0"
41,42,2018-02-16,Black Panther,"200,000,000.0","700,059,566.0","1,348,258,224.0",2018,"1,148,258,224.0"
112,13,2018-06-22,Jurassic World: Fallen Kingdom,"170,000,000.0","417,719,760.0","1,305,772,799.0",2018,"1,135,772,799.0"
155,56,2013-11-22,Frozen,"150,000,000.0","400,738,009.0","1,272,469,910.0",2013,"1,122,469,910.0"
134,35,2017-03-17,Beauty and the Beast,"160,000,000.0","504,014,165.0","1,259,199,706.0",2017,"1,099,199,706.0"
672,73,2015-07-10,Minions,"74,000,000.0","336,045,770.0","1,160,336,173.0",2015,"1,086,336,173.0"
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000.0","459,005,868.0","1,403,013,963.0",2015,"1,072,413,963.0"
425,26,2003-12-17,The Lord of the Rings: The Return of the King,"94,000,000.0","377,845,905.0","1,141,403,341.0",2003,"1,047,403,341.0"
43,44,2018-06-15,Incredibles 2,"200,000,000.0","608,581,744.0","1,242,520,711.0",2018,"1,042,520,711.0"
47,48,2013-05-03,Iron Man 3,"200,000,000.0","408,992,272.0","1,215,392,272.0",2013,"1,015,392,272.0"
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000.0","620,181,382.0","1,316,721,747.0",2017,"999,721,747.0"
135,36,2018-12-21,Aquaman,"160,000,000.0","335,061,807.0","1,146,894,640.0",2018,"986,894,640.0"
22,23,2017-04-14,The Fate of the Furious,"250,000,000.0","225,764,765.0","1,234,846,267.0",2017,"984,846,267.0"
824,25,1993-06-11,Jurassic Park,"63,000,000.0","395,708,305.0","1,038,812,584.0",1993,"975,812,584.0"
629,30,2017-06-30,Despicable Me 3,"75,000,000.0","264,624,300.0","1,034,727,750.0",2017,"959,727,750.0"
95,96,2019-03-08,Captain Marvel,"175,000,000.0","426,525,952.0","1,123,061,550.0",2019,"948,061,550.0"
63,64,2011-06-29,Transformers: Dark of the Moon,"195,000,000.0","352,390,543.0","1,123,790,543.0",2011,"928,790,543.0"
303,4,1999-05-19,Star Wars Ep. I: The Phantom Menace,"115,000,000.0","474,544,677.0","1,027,044,677.0",1999,"912,044,677.0"
51,52,2012-11-08,Skyfall,"200,000,000.0","304,360,277.0","1,110,526,981.0",2012,"910,526,981.0"
608,9,1994-06-15,The Lion King,"79,300,000.0","421,785,283.0","986,214,868.0",1994,"906,914,868.0"
621,22,2013-07-03,Despicable Me 2,"76,000,000.0","368,065,385.0","975,216,835.0",2013,"899,216,835.0"
36,37,2014-06-27,Transformers: Age of Extinction,"210,000,000.0","245,439,076.0","1,104,039,076.0",2014,"894,039,076.0"
16,17,2016-05-06,Captain America: Civil War,"250,000,000.0","408,084,349.0","1,140,069,413.0",2016,"890,069,413.0"
437,38,2017-12-20,Jumanji: Welcome to the Jungle,"90,000,000.0","404,508,916.0","964,496,193.0",2017,"874,496,193.0"
156,57,2016-03-04,Zootopia,"150,000,000.0","341,268,248.0","1,019,429,616.0",2016,"869,429,616.0"
46,47,2010-06-18,Toy Story 3,"200,000,000.0","415,004,880.0","1,068,879,522.0",2010,"868,879,522.0"
692,93,2004-05-19,Shrek 2,"70,000,000.0","441,226,247.0","937,008,132.0",2004,"867,008,132.0"
262,63,2001-11-16,Harry Potter and the Sorcererâs Stone,"125,000,000.0","317,871,467.0","975,047,606.0",2001,"850,047,606.0"
44,45,2016-12-16,Rogue One: A Star Wars Story,"200,000,000.0","532,177,324.0","1,049,102,856.0",2016,"849,102,856.0"
424,25,2003-05-30,Finding Nemo,"94,000,000.0","380,529,370.0","936,429,370.0",2003,"842,429,370.0"
27,28,2006-07-07,Pirates of the Caribbean: Dead Manâs Chest,"225,000,000.0","423,315,812.0","1,066,215,812.0",2006,"841,215,812.0"
426,27,2002-12-18,The Lord of the Rings: The Two Towers,"94,000,000.0","342,548,984.0","934,699,645.0",2002,"840,699,645.0"
983,84,2018-11-02,Bohemian Rhapsody,"55,000,000.0","216,303,339.0","894,985,342.0",2018,"839,985,342.0"
263,64,2010-11-19,Harry Potter and the Deathly Hallows: Part I,"125,000,000.0","296,131,568.0","960,431,568.0",2010,"835,431,568.0"
50,51,2010-03-05,Alice in Wonderland,"200,000,000.0","334,191,110.0","1,025,491,110.0",2010,"825,491,110.0"
45,46,2016-06-17,Finding Dory,"200,000,000.0","486,295,561.0","1,021,215,193.0",2016,"821,215,193.0"
74,75,2008-07-18,The Dark Knight,"185,000,000.0","533,720,947.0","1,001,996,207.0",2008,"816,996,207.0"
625,26,2016-07-08,The Secret Life of Pets,"75,000,000.0","368,384,330.0","886,750,534.0",2016,"811,750,534.0"
10,11,2012-07-20,The Dark Knight Rises,"275,000,000.0","448,139,099.0","1,084,439,099.0",2012,"809,439,099.0"
157,58,2007-07-11,Harry Potter and the Order of the Phoenix,"150,000,000.0","292,137,260.0","943,076,457.0",2007,"793,076,457.0"
96,97,2016-04-15,The Jungle Book,"175,000,000.0","364,001,123.0","962,854,547.0",2016,"787,854,547.0"
413,14,2012-07-13,Ice Age: Continental Drift,"95,000,000.0","161,321,843.0","879,765,137.0",2012,"784,765,137.0"
3525,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000.0","435,110,554.0","792,965,326.0",1982,"782,465,326.0"
363,64,2002-11-15,Harry Potter and the Chamber of Secrets,"100,000,000.0","262,233,381.0","879,225,135.0",2002,"779,225,135.0"
342,43,2001-12-19,The Lord of the Rings: The Fellowship of the Ring,"109,000,000.0","315,544,750.0","887,210,985.0",2001,"778,210,985.0"
3464,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000.0","460,998,007.0","786,598,007.0",1977,"775,598,007.0"
442,43,2009-07-01,Ice Age: Dawn of the Dinosaurs,"90,000,000.0","196,573,705.0","859,701,857.0",2009,"769,701,857.0"
18,19,2012-12-14,The Hobbit: An Unexpected Journey,"250,000,000.0","303,003,568.0","1,017,003,568.0",2012,"767,003,568.0"
158,59,2005-11-18,Harry Potter and the Goblet of Fire,"150,000,000.0","290,201,752.0","897,099,794.0",2005,"747,099,794.0"
955,56,2016-02-12,Deadpool,"58,000,000.0","363,070,709.0","801,025,593.0",2016,"743,025,593.0"
626,27,1996-07-02,Independence Day,"75,000,000.0","306,169,255.0","817,400,878.0",1996,"742,400,878.0"
302,3,2018-10-05,Venom,"116,000,000.0","213,511,408.0","853,628,605.0",2018,"737,628,605.0"
237,38,2013-11-22,The Hunger Games: Catching Fire,"130,000,000.0","424,668,047.0","864,868,047.0",2013,"734,868,047.0"
304,5,2005-05-19,Star Wars Ep. III: Revenge of the Sith,"115,000,000.0","380,270,577.0","848,998,877.0",2005,"733,998,877.0"
20,21,2013-12-13,The Hobbit: The Desolation of Smaug,"250,000,000.0","258,366,855.0","960,366,855.0",2013,"710,366,855.0"
98,99,2017-07-07,Spider-Man: Homecoming,"175,000,000.0","334,201,140.0","880,166,350.0",2017,"705,166,350.0"
21,22,2014-12-17,The Hobbit: The Battle of the Five Armies,"250,000,000.0","255,119,788.0","945,577,621.0",2014,"695,577,621.0"
224,25,2012-11-16,"The Twilight Saga: Breaking Dawn, Part 2","136,200,000.0","292,324,737.0","829,724,737.0",2012,"693,524,737.0"
19,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000.0","302,089,278.0","935,213,767.0",2009,"685,213,767.0"
218,19,2002-05-03,Spider-Man,"139,000,000.0","403,706,375.0","821,706,375.0",2002,"682,706,375.0"
97,98,2015-06-19,Inside Out,"175,000,000.0","356,461,711.0","854,235,992.0",2015,"679,235,992.0"
314,15,2018-05-18,Deadpool 2,"110,000,000.0","324,591,735.0","786,680,557.0",2018,"676,680,557.0"
137,38,2010-07-16,Inception,"160,000,000.0","292,576,195.0","835,524,642.0",2010,"675,524,642.0"
154,55,2017-06-02,Wonder Woman,"150,000,000.0","412,563,408.0","821,133,378.0",2017,"671,133,378.0"
81,82,2017-11-03,Thor: Ragnarok,"180,000,000.0","315,058,289.0","846,980,024.0",2017,"666,980,024.0"
238,39,2004-06-04,Harry Potter and the Prisoner of Azkaban,"130,000,000.0","249,757,726.0","796,907,323.0",2004,"666,907,323.0"
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000.0","309,420,425.0","963,420,425.0",2007,"663,420,425.0"
1623,24,2017-09-08,It,"35,000,000.0","327,481,748.0","697,457,969.0",2017,"662,457,969.0"
48,49,2017-05-05,Guardians of the Galaxy Vol 2,"200,000,000.0","389,813,101.0","862,316,233.0",2017,"662,316,233.0"
136,37,2007-05-17,Shrek the Third,"160,000,000.0","322,719,944.0","807,330,936.0",2007,"647,330,936.0"
264,65,2006-05-19,The Da Vinci Code,"125,000,000.0","217,536,138.0","767,820,459.0",2006,"642,820,459.0"
261,62,2014-11-21,The Hunger Games: Mockingjay - Part 1,"125,000,000.0","337,135,885.0","766,575,131.0",2014,"641,575,131.0"
752,53,2010-06-30,The Twilight Saga: Eclipse,"68,000,000.0","300,531,751.0","706,102,828.0",2010,"638,102,828.0"
1081,82,2009-11-20,The Twilight Saga: New Moon,"50,000,000.0","296,623,634.0","687,557,727.0",2009,"637,557,727.0"
15,16,2007-05-04,Spider-Man 3,"258,000,000.0","336,530,303.0","894,860,230.0",2007,"636,860,230.0"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000.0","241,063,875.0","1,045,663,875.0",2011,"635,063,875.0"
1374,75,1999-08-06,The Sixth Sense,"40,000,000.0","293,506,292.0","672,806,292.0",1999,"632,806,292.0"
139,40,2013-05-24,Fast and Furious 6,"160,000,000.0","238,679,850.0","789,300,444.0",2013,"629,300,444.0"
35,36,2009-06-24,Transformers: Revenge of the Fallen,"210,000,000.0","402,111,870.0","836,519,699.0",2009,"626,519,699.0"
981,82,1994-07-06,Forrest Gump,"55,000,000.0","330,151,138.0","679,850,637.0",1994,"624,850,637.0"
101,2,2017-11-22,Coco,"175,000,000.0","209,726,015.0","798,008,101.0",2017,"623,008,101.0"
84,85,2016-11-18,Fantastic Beasts and Where to Find Them,"180,000,000.0","234,037,575.0","802,402,853.0",2016,"622,402,853.0"
17,18,2016-03-25,Batman v Superman: Dawn of Justice,"250,000,000.0","330,360,194.0","867,500,281.0",2016,"617,500,281.0"
91,92,2018-07-27,Mission: ImpossibleâFallout,"178,000,000.0","220,159,104.0","787,456,552.0",2018,"609,456,552.0"
196,97,2012-06-08,Madagascar 3: Europe's Most Wanted,"145,000,000.0","216,391,482.0","746,921,271.0",2012,"601,921,271.0"
75,76,2008-05-22,Indiana Jones and the Kingdom of the Crystal S...,"185,000,000.0","317,101,119.0","786,635,413.0",2008,"601,635,413.0"
113,14,2014-08-01,Guardians of the Galaxy,"170,000,000.0","333,172,112.0","770,867,516.0",2014,"600,867,516.0"
537,38,2012-03-23,The Hunger Games,"80,000,000.0","408,010,692.0","677,923,379.0",2012,"597,923,379.0"
2159,60,2004-02-25,The Passion of the Christ,"25,000,000.0","370,782,930.0","622,341,924.0",2004,"597,341,924.0"
49,50,2004-06-30,Spider-Man 2,"200,000,000.0","373,524,485.0","795,110,670.0",2004,"595,110,670.0"
126,27,2010-05-21,Shrek Forever After,"165,000,000.0","238,736,787.0","756,244,673.0",2010,"591,244,673.0"
159,60,2003-05-15,The Matrix Reloaded,"150,000,000.0","281,553,689.0","738,576,929.0",2003,"588,576,929.0"
2485,86,1991-11-13,Beauty and the Beast,"20,000,000.0","376,057,266.0","608,431,132.0",1991,"588,431,132.0"

In [117]:
#What is the return on investment for these movies?
roi = table9.apply(lambda x: x['total_profit'] / x['production_budget'], axis=1)
roi

0        5.532577127058824
1       1.5466728567949342
2      -0.5721075714285714
3       3.2438413883847548
4       3.1536963627760253
               ...
5777                  -1.0
5778               39.0825
5779               -0.7324
5780                  -1.0
5781    163.58272727272728
Length: 5782, dtype: float64

In [119]:
table9['ROI'] = roi
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
0,1,2009-12-18,Avatar,"425,000,000.0","760,507,625.0","2,776,345,279.0",2009,"2,351,345,279.0",5.532577127058824
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000.0","241,063,875.0","1,045,663,875.0",2011,"635,063,875.0",1.5466728567949342
2,3,2019-06-07,Dark Phoenix,"350,000,000.0","42,762,350.0","149,762,350.0",2019,"-200,237,650.0",-0.5721075714285714
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000.0","459,005,868.0","1,403,013,963.0",2015,"1,072,413,963.0",3.2438413883847548
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000.0","620,181,382.0","1,316,721,747.0",2017,"999,721,747.0",3.1536963627760253
...,...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000.0",0.0,0.0,2018,"-7,000.0",-1.0
5778,79,1999-04-02,Following,"6,000.0","48,482.0","240,495.0",1999,"234,495.0",39.0825
5779,80,2005-07-13,Return to the Land of Wonders,"5,000.0","1,338.0","1,338.0",2005,"-3,662.0",-0.7324
5780,81,2015-09-29,A Plague So Pleasant,"1,400.0",0.0,0.0,2015,"-1,400.0",-1.0
5781,82,2005-08-05,My Date With Drew,"1,100.0","181,041.0","181,041.0",2005,"179,941.0",163.58272727272728

In [123]:
table9.describe()

,id,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
count,"5,782.0","5,782.0","5,782.0","5,782.0","5,782.0","5,782.0","5,782.0"
mean,50.37236250432376,"31,587,757.0965064","41,873,326.867001034","91,487,460.90643376","2,003.967139398132","59,899,703.80992736",3.8001613657949647
std,28.821076273431096,"41,812,076.82694309","68,240,597.35690415","174,719,968.77890477",12.72438635224143,"146,088,881.08156952",29.530282308933067
min,1.0,"1,100.0",0.0,0.0,"1,915.0","-200,237,650.0",-1.0
25%,25.0,"5,000,000.0","1,429,534.5","4,125,414.75","2,000.0","-2,189,070.75",-0.5077043980392156
50%,50.0,"17,000,000.0","17,225,945.0","27,984,448.5","2,007.0","8,550,285.5",0.7083098257683216
75%,75.0,"40,000,000.0","52,348,661.5","97,645,836.5","2,012.0","60,968,501.75",2.7583460836038967
max,100.0,"425,000,000.0","936,662,225.0","2,776,345,279.0","2,020.0","2,351,345,279.0","1,799.0"

In [124]:
#sorted by ROI.
table9.sort_values(by='ROI', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
5745,46,1972-06-30,Deep Throat,"25,000.0","45,000,000.0","45,000,000.0",1972,"44,975,000.0","1,799.0"
5613,14,1980-03-21,Mad Max,"200,000.0","8,750,000.0","99,750,000.0",1980,"99,550,000.0",497.75
5492,93,2009-09-25,Paranormal Activity,"450,000.0","107,918,810.0","194,183,034.0",2009,"193,733,034.0",430.51785333333333
5679,80,2015-07-10,The Gallows,"100,000.0","22,764,410.0","41,656,474.0",2015,"41,556,474.0",415.56474
5406,7,1999-07-14,The Blair Witch Project,"600,000.0","140,539,099.0","248,300,000.0",1999,"247,700,000.0",412.8333333333333
5709,10,2004-05-07,Super Size Me,"65,000.0","11,529,368.0","22,233,808.0",2004,"22,168,808.0",341.05858461538463
5346,47,1942-08-13,Bambi,"858,000.0","102,797,000.0","268,000,000.0",1942,"267,142,000.0",311.35431235431236
5773,74,1993-02-26,El Mariachi,"7,000.0","2,040,920.0","2,041,928.0",1993,"2,034,928.0",290.704
5676,77,1968-10-01,Night of the Living Dead,"114,000.0","12,087,064.0","30,087,064.0",1968,"29,973,064.0",262.9216140350877
5210,11,1976-11-21,Rocky,"1,000,000.0","117,235,147.0","225,000,000.0",1976,"224,000,000.0",224.0
5536,37,1978-10-17,Halloween,"325,000.0","47,000,000.0","70,000,000.0",1978,"69,675,000.0",214.3846153846154
5715,16,1995-08-09,The Brothers McMullen,"50,000.0","10,426,506.0","10,426,506.0",1995,"10,376,506.0",207.53012
5665,66,1974-10-18,The Texas Chainsaw Massacre,"140,000.0","26,572,439.0","26,572,439.0",1974,"26,432,439.0",188.8031357142857
5372,73,1973-08-11,American Graffiti,"777,000.0","115,000,000.0","140,000,000.0",1973,"139,223,000.0",179.18018018018017
5781,82,2005-08-05,My Date With Drew,"1,100.0","181,041.0","181,041.0",2005,"179,941.0",163.58272727272728
5656,57,2007-05-16,Once,"150,000.0","9,445,857.0","23,323,631.0",2007,"23,173,631.0",154.49087333333333
5742,43,1994-10-19,Clerks,"27,000.0","3,073,428.0","3,894,240.0",1994,"3,867,240.0",143.23111111111112
5612,13,1969-07-25,The Stewardesses,"200,000.0","13,500,000.0","25,000,000.0",1969,"24,800,000.0",124.0
5117,18,1937-12-21,Snow White and the Seven Dwarfs,"1,488,000.0","184,925,486.0","184,925,486.0",1937,"183,437,486.0",123.27788037634409
5357,58,1971-01-01,Billy Jack,"800,000.0","98,000,000.0","98,000,000.0",1971,"97,200,000.0",121.5
5774,75,2004-10-08,Primer,"7,000.0","424,760.0","841,926.0",2004,"834,926.0",119.27514285714285
5746,47,1997-08-01,In the Company of Men,"25,000.0","2,883,661.0","2,883,661.0",1997,"2,858,661.0",114.34644
5507,8,2004-06-11,Napoleon Dynamite,"400,000.0","44,540,956.0","46,122,713.0",2004,"45,722,713.0",114.3067825
5430,31,2004-08-06,Open Water,"500,000.0","30,500,882.0","55,518,641.0",2004,"55,018,641.0",110.037282
5424,25,1980-05-09,Friday the 13th,"550,000.0","39,754,601.0","59,754,601.0",1980,"59,204,601.0",107.6447290909091
5680,81,2006-09-29,Facing the Giants,"100,000.0","10,178,331.0","10,243,159.0",2006,"10,143,159.0",101.43159
5211,12,2012-01-06,The Devil Inside,"1,000,000.0","53,262,945.0","101,759,490.0",2012,"100,759,490.0",100.75949
5655,56,1971-01-01,Sweet Sweetback's Baad Asssss Song,"150,000.0","15,200,000.0","15,200,000.0",1971,"15,050,000.0",100.33333333333333
4567,68,1939-12-15,Gone with the Wind,"3,900,000.0","198,680,470.0","390,525,192.0",1939,"386,625,192.0",99.13466461538462
5677,78,1915-02-08,The Birth of a Nation,"110,000.0","10,000,000.0","11,000,000.0",1915,"10,890,000.0",99.0
5568,69,1981-05-01,Graduation Day,"250,000.0","23,894,000.0","23,894,000.0",1981,"23,644,000.0",94.576
4775,76,1950-02-15,Cinderella,"2,900,000.0","85,000,000.0","263,591,415.0",1950,"260,691,415.0",89.89359137931035
5606,7,1925-11-19,The Big Parade,"245,000.0","11,000,000.0","22,000,000.0",1925,"21,755,000.0",88.79591836734694
5459,60,2009-04-23,Home,"500,000.0","15,433.0","44,793,168.0",2009,"44,293,168.0",88.586336
5156,57,2004-10-29,Saw,"1,200,000.0","55,968,727.0","103,880,027.0",2004,"102,680,027.0",85.56668916666666
5525,26,1983-04-15,The Evil Dead,"375,000.0","2,400,000.0","29,400,000.0",1983,"29,025,000.0",77.4
3525,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000.0","435,110,554.0","792,965,326.0",1982,"782,465,326.0",74.52050723809523
4247,48,2002-04-19,My Big Fat Greek Wedding,"5,000,000.0","241,438,208.0","374,890,034.0",2002,"369,890,034.0",73.9780068
4589,90,1997-08-13,The Full Monty,"3,500,000.0","45,950,122.0","261,249,383.0",1997,"257,749,383.0",73.64268085714286
3464,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000.0","460,998,007.0","786,598,007.0",1977,"775,598,007.0",70.50890972727272
5681,82,1977-01-01,Eraserhead,"100,000.0","7,000,000.0","7,014,590.0",1977,"6,914,590.0",69.1459
5706,7,1998-07-10,Pi,"68,000.0","3,221,152.0","4,678,513.0",1998,"4,610,513.0",67.80166176470588
5765,66,2001-03-09,Dayereh,"10,000.0","673,780.0","673,780.0",2001,"663,780.0",66.378
5428,29,2008-09-26,Fireproof,"500,000.0","33,456,317.0","33,473,297.0",2008,"32,973,297.0",65.946594
5062,63,2011-04-01,Insidious,"1,500,000.0","54,009,150.0","99,870,886.0",2011,"98,370,886.0",65.58059066666667
4112,13,1978-06-16,Grease,"6,000,000.0","181,813,770.0","387,510,179.0",1978,"381,510,179.0",63.58502983333333
5213,14,2015-04-17,Unfriended,"1,000,000.0","32,789,645.0","64,364,198.0",2015,"63,364,198.0",63.364198
5429,30,1974-11-15,Benji,"500,000.0","31,559,560.0","31,559,560.0",1974,"31,059,560.0",62.11912
5684,85,1998-10-09,The Mighty,"100,000.0","2,652,246.0","6,121,582.0",1998,"6,021,582.0",60.21582
5569,70,1997-04-04,Chasing Amy,"250,000.0","12,006,514.0","15,155,095.0",1997,"14,905,095.0",59.62038
5668,69,1942-11-16,Cat People,"134,000.0","4,000,000.0","8,000,000.0",1942,"7,866,000.0",58.701492537313435
5219,20,1963-05-08,Dr. No,"1,000,000.0","16,067,035.0","59,567,035.0",1963,"58,567,035.0",58.567035
4664,65,2010-10-20,Paranormal Activity 2,"3,000,000.0","84,752,907.0","177,512,032.0",2010,"174,512,032.0",58.17067733333333
5407,8,1970-03-26,Woodstock,"600,000.0","34,505,110.0","34,505,110.0",1970,"33,905,110.0",56.508516666666665
4249,50,2017-01-20,Split,"5,000,000.0","138,141,585.0","278,964,806.0",2017,"273,964,806.0",54.7929612
5189,90,2014-03-21,Godâs Not Dead,"1,150,000.0","60,755,732.0","63,777,092.0",2014,"62,627,092.0",54.45834086956522
4424,25,1994-03-09,Four Weddings and a Funeral,"4,500,000.0","52,700,832.0","242,895,809.0",1994,"238,395,809.0",52.97684644444445
5752,53,1991-08-01,Slacker,"23,000.0","1,227,508.0","1,227,508.0",1991,"1,204,508.0",52.36991304347826
5215,16,2006-05-24,An Inconvenient Truth,"1,000,000.0","24,146,161.0","53,365,925.0",2006,"52,365,925.0",52.365925
5682,83,1987-03-01,Hollywood Shuffle,"100,000.0","5,228,617.0","5,228,617.0",1987,"5,128,617.0",51.28617
4248,49,2017-02-24,Get Out,"5,000,000.0","176,040,665.0","255,367,951.0",2017,"250,367,951.0",50.0735902
5666,67,1989-12-20,Roger & Me,"140,000.0","6,706,368.0","6,706,368.0",1989,"6,566,368.0",46.90262857142857
4663,64,1978-07-28,National Lampoon's Animal House,"3,000,000.0","141,600,000.0","141,600,000.0",1978,"138,600,000.0",46.2
5716,17,2001-03-16,Gabriela,"50,000.0","2,335,352.0","2,335,352.0",2001,"2,285,352.0",45.70704
4800,1,1974-02-07,Blazing Saddles,"2,600,000.0","119,500,000.0","119,500,000.0",1974,"116,900,000.0",44.96153846153846
3517,18,2012-05-25,Les Intouchables,"10,800,000.0","13,182,281.0","484,873,045.0",2012,"474,073,045.0",43.89565231481482
5063,64,2016-10-21,Moonlight,"1,500,000.0","27,854,931.0","65,245,512.0",2016,"63,745,512.0",42.497008
5217,18,2012-05-25,Chernobyl Diaries,"1,000,000.0","18,119,640.0","42,411,721.0",2012,"41,411,721.0",41.411721
4667,68,1964-12-22,Goldfinger,"3,000,000.0","51,100,000.0","124,900,000.0",1964,"121,900,000.0",40.63333333333333
4250,51,2011-10-21,Paranormal Activity 3,"5,000,000.0","104,028,807.0","207,039,844.0",2011,"202,039,844.0",40.4079688
5646,47,1986-08-08,She's Gotta Have It,"175,000.0","7,137,502.0","7,137,502.0",1986,"6,962,502.0",39.78572571428571
4898,99,2007-02-09,Das Leben der Anderen,"2,000,000.0","11,284,657.0","81,197,047.0",2007,"79,197,047.0",39.5985235
5778,79,1999-04-02,Following,"6,000.0","48,482.0","240,495.0",1999,"234,495.0",39.0825
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000.0","8,000,000.0","8,000,000.0",1916,"7,800,000.0",39.0
4083,84,2014-10-03,Annabelle,"6,500,000.0","84,273,813.0","256,862,920.0",2014,"250,362,920.0",38.517372307692305
4887,88,1964-04-08,From Russia With Love,"2,000,000.0","24,800,000.0","78,900,000.0",1964,"76,900,000.0",38.45
3340,41,1975-06-20,Jaws,"12,000,000.0","260,000,000.0","470,700,000.0",1975,"458,700,000.0",38.225
4634,35,2005-06-24,La marche de l'empereur,"3,400,000.0","77,437,223.0","133,276,359.0",2005,"129,876,359.0",38.19892911764706
5014,15,2010-08-27,The Last Exorcism,"1,800,000.0","41,034,350.0","70,165,900.0",2010,"68,365,900.0",37.98105555555556
3986,87,1972-03-15,The Godfather,"7,000,000.0","134,966,411.0","268,500,000.0",1972,"261,500,000.0",37.357142857142854
5212,13,1963-10-07,Tom Jones,"1,000,000.0","37,600,000.0","37,600,000.0",1963,"36,600,000.0",36.6
3826,27,1986-09-26,Crocodile Dundee,"8,800,000.0","174,803,506.0","328,203,506.0",1986,"319,403,506.0",36.29585295454545
4114,15,2004-06-23,Fahrenheit 9/11,"6,000,000.0","119,114,517.0","221,148,959.0",2004,"215,148,959.0",35.85815983333333
4867,68,1940-02-09,Pinocchio,"2,289,247.0","84,300,000.0","84,300,000.0",1940,"82,010,753.0",35.82433568767372
5074,75,1979-04-20,Dawn of the Dead,"1,500,000.0","5,100,000.0","55,000,000.0",1979,"53,500,000.0",35.666666666666664
4868,69,1940-11-13,Fantasia,"2,280,000.0","83,320,000.0","83,320,000.0",1940,"81,040,000.0",35.54385964912281
5397,98,1953-04-10,House of Wax,"658,000.0","23,800,000.0","23,800,000.0",1953,"23,142,000.0",35.170212765957444
5577,78,1998-09-11,Cube,"250,000.0","489,220.0","8,969,065.0",1998,"8,719,065.0",34.87626
3341,42,1973-12-26,The Exorcist,"12,000,000.0","230,347,346.0","428,214,478.0",1973,"416,214,478.0",34.68453983333333
5699,100,1972-08-30,The Last House on the Left,"87,000.0","3,100,000.0","3,100,000.0",1972,"3,013,000.0",34.632183908045974
3859,60,1965-03-02,The Sound of Music,"8,200,000.0","163,214,286.0","286,214,286.0",1965,"278,014,286.0",33.904181219512196
5762,63,1997-04-11,Pink Flamingos,"12,000.0","413,802.0","413,802.0",1997,"401,802.0",33.4835
5431,32,1977-01-01,Kingdom of the Spiders,"500,000.0","17,000,000.0","17,000,000.0",1977,"16,500,000.0",33.0
5408,9,1977-08-10,The Kentucky Fried Movie,"600,000.0","15,000,000.0","20,000,000.0",1977,"19,400,000.0",32.333333333333336
5615,16,1996-10-18,Swingers,"200,000.0","4,505,922.0","6,618,578.0",1996,"6,418,578.0",32.09289
3985,86,2007-12-05,Juno,"7,000,000.0","143,495,265.0","231,450,102.0",2007,"224,450,102.0",32.06430028571429
4252,53,2013-09-13,Insidious Chapter 2,"5,000,000.0","83,586,447.0","161,921,515.0",2013,"156,921,515.0",31.384303
2991,92,1990-11-16,Home Alone,"15,000,000.0","285,761,243.0","476,684,675.0",1990,"461,684,675.0",30.778978333333335
3755,56,2016-12-21,Dangal,"9,500,000.0","12,391,761.0","294,654,618.0",2016,"285,154,618.0",30.01627557894737
3171,72,1990-03-23,Pretty Woman,"14,000,000.0","178,406,268.0","432,645,872.0",1990,"418,645,872.0",29.90327657142857

In [ ]:
#I am happy with where my financial data is at the moment, even though it will likely need further refinement.
#Now I want to find a way to indentify the genres of these movies as that will help me answer the specific
#question of what TYPES of movies should be made.

#After this, I plan on investigating review scores, giving me Financials, Review Scores, and Genres to work with.

In [130]:
#This dataset has genre information. I will investigate.
#I am saving it as table7 as it is the 7th table in the list of 11 that I was given.

table7 = tables['imdb_title_basics_csv_gz']
table7

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,nan,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,nan,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,nan,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,nan,Documentary

In [138]:
table7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [132]:
table7.sort_values(by='start_year', ascending=True).head(100)
#This data only goes back to 2010. This may still be useful as Microsoft will want current information on
#which genres are popular.

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
9599,tt1566491,Brainiacs in La La Land,Brainiacs in La La Land,2010,nan,Comedy
43264,tt2578092,Fireplace for your Home: Crackling Fireplace w...,Fireplace for your Home: Crackling Fireplace w...,2010,61.0,Music
11550,tt1634300,Role/Play,Role/Play,2010,85.0,"Drama,Romance"
11551,tt1634332,Johan1,Johan Primero,2010,78.0,"Comedy,Drama,Romance"
11552,tt1634334,Hands Up,Les mains en l'air,2010,90.0,Drama
11553,tt1634337,Que devient mon souvenir quand tu n'y penses pas,Que devient mon souvenir quand tu n'y penses pas,2010,45.0,Documentary
11554,tt1634519,The Black Eyed Peas: The E.N.D. World Tour Live,The Black Eyed Peas: The E.N.D. World Tour Live,2010,nan,"Documentary,Music"
11555,tt1634524,Jitters,Órói,2010,93.0,"Drama,Romance"
11556,tt1634540,Rescue Men: The Story of the Pea Island Lifesa...,Rescue Men: The Story of the Pea Island Lifesa...,2010,90.0,Documentary
11557,tt1634554,Janakan,Janakan,2010,150.0,"Crime,Thriller"
11558,tt1634796,Man and His Country,Man and His Country,2010,46.0,"Adventure,Drama"
11559,tt1634800,Maximum Shame,Maximum Shame,2010,80.0,"Fantasy,Horror,Musical"
11560,tt1634802,Message,Message,2010,91.0,"Comedy,Horror,Mystery"
11561,tt1634803,Subway Preacher,Subway Preacher,2010,80.0,"Documentary,Drama,Romance"
11563,tt1634821,Notes on a Napkin,Notes on a Napkin,2010,63.0,Comedy
11564,tt1634822,Obshiy Yizik,Obshiy Yizik,2010,52.0,Documentary
11565,tt1634831,Our School,Our School,2010,88.0,"Documentary,Drama,History"
11566,tt1634833,Overdose,Overdos,2010,47.0,"Documentary,News"
11567,tt1634840,Paths of Hope: Livelihoods in Three Caribbean ...,Paths of Hope: Livelihoods in Three Caribbean ...,2010,39.0,"Documentary,Family"
11570,tt1635412,Am Ende der Wiese,Am Ende der Wiese,2010,55.0,"Biography,Documentary"
11571,tt1635415,Andy McKee: Joyland,Andy McKee: Joyland,2010,33.0,"Documentary,Music"
11572,tt1635429,Cherkess,Cherkess,2010,117.0,Drama
11573,tt1635437,Dead End Job,Dead End Job,2010,68.0,Comedy
11574,tt1635466,Jay's Movie Is a Piece of Shit,Jay's Movie Is a Piece of Shit,2010,84.0,Comedy
11577,tt1636422,Before,Antes,2010,90.0,NaN
11578,tt1636423,Apuntes para una biografía imaginaria,Apuntes para una biografía imaginaria,2010,60.0,Documentary
11579,tt1636434,"Buen día, día","Buen día, día",2010,95.0,Documentary
11580,tt1636437,"Camila, desde el alma","Camila, desde el alma",2010,65.0,Documentary
11542,tt1634135,There's Still Hope for Dreams (A Phamaly Story),There's Still Hope for Dreams (A Phamaly Story),2010,60.0,Documentary
11581,tt1636440,Centro,Centro,2010,90.0,Documentary
11541,tt1634127,Living It Forever,Living It Forever,2010,77.0,Documentary
35137,tt2294847,The Buccs,The Buccs,2010,15.0,"Documentary,Sport"
11506,tt1633205,Ifakat: Uçuruma yürüyen kadinlar,Ifakat: Uçuruma yürüyen kadinlar,2010,45.0,"Documentary,Drama"
11507,tt1633208,Interno,Interno,2010,80.0,Documentary
11508,tt1633212,Kajraare,Kajraare,2010,112.0,"Crime,Drama,Romance"
11509,tt1633213,La revuelta de las batas blancas,La revuelta de las batas blancas,2010,63.0,Documentary
23034,tt1942066,Haterology,Haterology,2010,38.0,"Documentary,News"
35135,tt2294843,The Band Plays On!,The Band Plays On!,2010,nan,Documentary
11512,tt1633226,Musaa: The Most Wanted,Musaa: The Most Wanted,2010,nan,"Action,Crime,Thriller"
11513,tt1633242,Rock On,Shi xi da ming xing,2010,94.0,NaN
11514,tt1633248,The Glass River,Staklenata reka,2010,100.0,Drama
11515,tt1633249,Street Poet,Street Poet,2010,87.0,Drama
11516,tt1633250,Swaha: Life Beyond Superstition,Swaha: Life Beyond Superstition,2010,nan,"Drama,Fantasy,Horror"
11517,tt1633267,The Very Worst Thing,The Very Worst Thing,2010,85.0,"Documentary,History,News"
11518,tt1633281,Visa al paraíso,Visa al paraíso,2010,108.0,"Documentary,Drama"
23032,tt1942032,À pleins poumons,À pleins poumons,2010,52.0,Documentary
11520,tt1633333,Cluster,Cluster,2010,55.0,"Documentary,Drama,Mystery"
11521,tt1633334,"Coals to Newcastle: The New Mastersounds, from...","Coals to Newcastle: The New Mastersounds, from...",2010,79.0,"Documentary,Music"
11522,tt1633341,Dark Crossing,Dark Crossing,2010,nan,"Action,Drama"
23031,tt1942030,8uppers,8uppers,2010,76.0,Drama
11527,tt1634013,Montevideo: Taste of a Dream,"Montevideo, Bog te video!",2010,140.0,"Adventure,Comedy,Drama"
11528,tt1634022,The Sylvian Experiments,Kyôfu,2010,94.0,"Horror,Sci-Fi"
11529,tt1634034,Mother Water,Mazâ wôtâ,2010,105.0,Comedy
11531,tt1634058,Star Vehicle,Star Vehicle,2010,75.0,Horror
11532,tt1634066,The Cedar's Tears,The Cedar's Tears,2010,84.0,"Drama,Mystery,Thriller"
11533,tt1634070,The Horror of the Dolls,The Horror of the Dolls,2010,81.0,Horror
11534,tt1634082,Unbroken: The Pearl Bluegrass Circle,Unbroken: The Pearl Bluegrass Circle,2010,76.0,"Biography,Documentary,Family"
11535,tt1634104,37,37,2010,100.0,Drama
72598,tt4144872,"Birmania, el coraje de resistir","Birmania, el coraje de resistir",2010,78.0,NaN
11540,tt1634123,Kafka au Congo des belges,Kafka au Congo des belges,2010,59.0,Documentary
11505,tt1633204,Hypo,Hypo,2010,65.0,"Comedy,Romance"
11582,tt1636441,Five,Cinco,2010,89.0,Romance
11584,tt1636454,The Peddler,El ambulante,2010,84.0,Documentary
11623,tt1637679,Petty Letters and Love Crimes,Dalla vita in poi,2010,85.0,Comedy
11624,tt1637681,Flowers,Flowers,2010,110.0,Drama
11625,tt1637687,I Want to Be a Soldier,De mayor quiero ser soldado,2010,100.0,Drama
11627,tt1637691,Khelein Hum Jee Jaan Sey,Khelein Hum Jee Jaan Sey,2010,168.0,"Action,Drama,History"
11628,tt1637692,Kuchh Kariye,Kuchh Kariye,2010,nan,"Adventure,Drama,Music"
11629,tt1637693,Los actos cotidianos,Los actos cotidianos,2010,82.0,NaN
11630,tt1637694,The Lips,Los labios,2010,100.0,Drama
11631,tt1637697,Make No Little Plans: Daniel Burnham and the A...,Make No Little Plans: Daniel Burnham and the A...,2010,56.0,Documentary
11634,tt1637702,Metropolis refundada,Metropolis refundada,2010,47.0,Documentary
65017,tt3718152,Heavy Metal,Heavy Metal,2010,50.0,"Documentary,Family"
11636,tt1637709,The Death I Dreamed Of,O thanatos pou onireftika,2010,90.0,"Drama,Horror,Romance"
11637,tt1637712,Pig,Pig,2010,70.0,Horror
11638,tt1637714,Santuaryo,Santuaryo,2010,81.0,Drama
11640,tt1637723,The Saint Family,Svetoto semeystvo (Nina i Mariyan),2010,87.0,Drama
11642,tt1637735,Viva! Saint Agrippina,Viva! Saint Agrippina,2010,96.0,Documentary
11644,tt1637995,Sambo Siva Sambho,Sambo Siva Sambho,2010,160.0,"Action,Drama"
11645,tt1638000,"U redu, pobedio sam","U redu, pobedio sam",2010,60.0,Documentary
37237,tt2353993,Ending Taxation: The Only Game in Town,Ending Taxation: The Only Game in Town,2010,nan,Documentary
11647,tt1638267,Bølle Bob - Alle tiders helt,Bølle Bob - Alle tiders helt,2010,84.0,"Comedy,Family"
11648,tt1638274,Kismet,Kismet,2010,72.0,Romance
11649,tt1638275,Klara - Don't Be Afraid to Follow Your Dream,Klara,2010,81.0,Family
22986,tt1941449,Almost Big,Almost Big,2010,51.0,Comedy
11653,tt1638321,Ocio,Ocio,2010,70.0,"Drama,Family"
11654,tt1638322,Il nemico sulle ali,Il nemico sulle ali,2010,52.0,"Biography,History"
11655,tt1638327,"Liniers, el trazo simple de las cosas","Liniers, el trazo simple de las cosas",2010,76.0,Documentary
11657,tt1638336,"Octubre Pilagá, relatos sobre el silencio","Octubre Pilagá, relatos sobre el silencio",2010,80.0,Documentary
11658,tt1638343,Permiso para bailar,Permiso para bailar,2010,48.0,Documentary
11622,tt1637677,Bigasan,Bigasan,2010,80.0,Drama
11583,tt1636452,Dubai: A City of Dreams,Dubai: A City of Dreams,2010,78.0,Documentary
11621,tt1637675,Alta infedeltà,Alta infedeltà,2010,nan,Comedy
11619,tt1637662,The Whisper Home,The Whisper Home,2010,95.0,Drama
11585,tt1636456,The Intern,El pasante,2010,65.0,NaN
11586,tt1636457,El perseguido,El perseguido,2010,63.0,NaN
11587,tt1636458,El predio,El predio,2010,58.0,Documentary
11588,tt1636459,El rati horror show,El rati horror show,2010,98.0,Documentary
11589,tt1636461,Ensayo (fragmentos de Sarah Kane),Ensayo (fragmentos de Sarah Kane),2010,73.0,Documentary
11591,tt1636631,The Tenement Ghost,The Tenement Ghost,2010,51.0,Drama

In [133]:
#TMDB also has genre information, although I would need to find out what each genre code relates to.
#Let me see how far back this data goes...

table2 = tables['tmdb_movies_csv_gz']
table2

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.92,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.6,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.6,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

In [134]:
table2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [137]:
table2.sort_values(by='release_date', ascending=True).head(100)
#This dataset has genre ids for all of its movies. It starts in 1930 and ends in mid-2019.

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
14335,14335,"[18, 10752]",143,en,All Quiet on the Western Front,9.583,1930-04-29,All Quiet on the Western Front,7.8,299
21758,21758,"[27, 53]",43148,en,The Vampire Bat,2.292,1933-01-21,The Vampire Bat,5.6,23
3580,3580,"[35, 18, 10749]",263768,fr,Le Bonheur,1.653,1936-02-27,Le Bonheur,8.7,3
26345,26345,[],316707,en,How Walt Disney Cartoons Are Made,0.6,1939-01-19,How Walt Disney Cartoons Are Made,7.3,3
11192,11192,"[18, 36, 10749]",887,en,The Best Years of Our Lives,9.647,1946-12-25,The Best Years of Our Lives,7.8,243
14740,14740,"[18, 53]",43397,en,Caught,5.439,1949-02-17,Caught,6.5,31
120,120,[878],830,en,Forbidden Planet,10.274000000000001,1956-03-15,Forbidden Planet,7.3,388
24211,24211,[18],614,sv,Smultronstället,9.381,1957-12-26,Wild Strawberries,8.1,595
24621,24621,"[18, 10749]",35861,ja,近松物語,5.754,1958-01-01,The Crucified Lovers,7.9,40
24268,24268,"[14, 18]",490,sv,Det sjunde inseglet,8.693,1958-10-13,The Seventh Seal,8.2,1163
43,43,"[35, 10749]",239,en,Some Like It Hot,14.2,1959-03-18,Some Like It Hot,8.2,1562
24000,24000,"[35, 10749]",239,en,Some Like It Hot,14.2,1959-03-18,Some Like It Hot,8.2,1562
11109,11109,"[80, 18, 9648, 53]",93,en,Anatomy of a Murder,12.71,1959-07-01,Anatomy of a Murder,7.9,359
24330,24330,"[80, 18]",11656,sv,Jungfrukällan,7.926,1960-02-08,The Virgin Spring,8.0,219
11420,11420,"[10752, 18]",5055,pl,Popiól i diament,6.877999999999999,1961-05-29,Ashes and Diamonds,7.7,78
12526,12526,"[12, 16, 10751]",63486,ja,少年猿飛佐助,1.319,1961-06-22,Magic Boy,7.0,4
8369,8369,"[12, 18, 878]",2160,en,Voyage to the Bottom of the Sea,5.5889999999999995,1961-07-12,Voyage to the Bottom of the Sea,5.7,49
21748,21748,"[18, 10749]",33765,en,A Kind of Loving,2.316,1962-10-01,A Kind of Loving,7.9,17
24300,24300,"[18, 10749]",11506,sv,Tystnaden,8.227,1964-02-03,The Silence,7.6,148
22018,22018,[18],48676,ru,Первый учитель,1.705,1965-10-31,The First Teacher,5.5,4
8201,8201,"[12, 878]",2161,en,Fantastic Voyage,7.138999999999999,1966-08-24,Fantastic Voyage,6.8,184
24022,24022,[18],797,sv,Persona,13.342,1967-03-06,Persona,8.3,726
17932,17932,"[35, 18, 36]",986,en,Falstaff,6.108,1967-03-16,Chimes at Midnight,7.4,65
20695,20695,"[35, 18]",37247,en,The Graduate,15.888,1967-12-21,The Graduate,7.7,1545
5210,5210,"[35, 18]",37247,en,The Graduate,15.888,1967-12-21,The Graduate,7.7,1545
24441,24441,"[18, 27]",18333,sv,Vargtimmen,7.021,1968-04-08,Hour of the Wolf,7.5,171
23872,23872,"[878, 9648, 12]",62,en,2001: A Space Odyssey,23.781,1968-04-10,2001: A Space Odyssey,8.0,5837
24375,24375,"[10752, 18]",26372,sv,Skammen,7.642,1968-12-23,Shame,7.8,77
6172,6172,[],88276,en,Zorns Lemma,1.795,1970-09-12,Zorns Lemma,5.7,11
525,525,[37],71244,en,Monte Walsh,3.728,1970-10-07,Monte Walsh,6.3,20
12348,12348,[27],50962,en,Evil Come Evil Go,1.504,1972-02-18,Evil Come Evil Go,4.2,5
24299,24299,[18],10238,sv,Viskningar och rop,8.238999999999999,1972-12-21,Cries and Whispers,8.0,233
1384,1384,"[99, 10402]",47246,en,Ladies & Gentlemen: The Rolling Stones,0.96,1974-01-01,Ladies & Gentlemen: The Rolling Stones,5.1,4
8037,8037,"[28, 18, 53]",11123,en,Earthquake,9.568999999999999,1974-11-15,Earthquake,5.7,124
25025,25025,"[14, 35, 10402, 10749]",44864,sv,Trollflöjten,3.208,1975-11-11,The Magic Flute,7.1,28
154,154,"[27, 53]",7340,en,Carrie,9.467,1976-11-03,Carrie,7.1,1766
20745,20745,"[878, 18]",840,en,Close Encounters of the Third Kind,13.044,1977-11-16,Close Encounters of the Third Kind,7.3,2005
24403,24403,[18],12761,sv,Höstsonaten,7.3629999999999995,1978-10-08,Autumn Sonata,8.1,159
14330,14330,[35],11519,en,1941,9.755,1979-12-14,1941,5.7,262
18117,18117,[27],39867,en,Don't Go in the House,4.308,1980-03-28,Don't Go in the House,5.6,46
2512,2512,"[10402, 35, 28, 80]",525,en,The Blues Brothers,14.882,1980-06-17,The Blues Brothers,7.7,1972
2555,2555,"[9648, 53]",11033,en,Dressed to Kill,12.481,1980-06-25,Dressed to Kill,6.8,300
22417,22417,[27],106774,en,Cathy's Curse,1.126,1980-07-01,Cathy's Curse,5.2,14
20327,20327,"[16, 35, 10402]",363536,en,Hurray for Betty Boop,0.6,1980-11-21,Hurray for Betty Boop,6.0,2
23051,23051,[99],463839,en,Reality's Invisible,0.62,1981-12-18,Reality's Invisible,7.0,1
16477,16477,[99],463839,en,Reality's Invisible,0.62,1981-12-18,Reality's Invisible,7.0,1
26182,26182,[99],463839,en,Reality's Invisible,0.62,1981-12-18,Reality's Invisible,7.0,1
14222,14222,"[18, 36, 10752]",387,de,Das Boot,16.554000000000002,1982-02-10,Das Boot,8.1,981
2494,2494,"[18, 36, 10752]",387,de,Das Boot,16.554000000000002,1982-02-10,Das Boot,8.1,981
2567,2567,"[878, 28, 12]",97,en,Tron,12.062999999999999,1982-07-09,Tron,6.6,1100
2603,2603,"[35, 18]",13342,en,Fast Times at Ridgemont High,10.705,1982-08-13,Fast Times at Ridgemont High,6.9,563
19017,19017,"[16, 18, 10751]",77859,ja,チリンの鈴,1.226,1983-04-08,Ringing Bell,6.9,11
12575,12575,"[16, 18, 10751]",77859,ja,チリンの鈴,1.226,1983-04-08,Ringing Bell,6.9,11
24546,24546,"[14, 18, 9648]",5961,sv,Fanny och Alexander,6.239,1983-06-17,Fanny & Alexander,7.8,282
8292,8292,"[28, 80, 18, 53]",12633,en,The Star Chamber,6.306,1983-08-05,The Star Chamber,6.1,60
2887,2887,"[10749, 18]",18172,en,All the Right Moves,6.277,1983-10-21,All the Right Moves,5.8,111
2573,2573,"[35, 10749]",15144,en,Sixteen Candles,11.883,1984-05-04,Sixteen Candles,6.8,982
5201,5201,"[18, 80]",311,en,Once Upon a Time in America,17.717,1984-06-01,Once Upon a Time in America,8.4,2243
18662,18662,[18],130402,en,Last Night at the Alamo,1.785,1984-07-01,Last Night at the Alamo,8.0,2
26391,26391,"[35, 28]",275599,en,Ninja Busters,0.6,1984-11-09,Ninja Busters,6.5,1
2510,2510,"[28, 35, 80]",90,en,Beverly Hills Cop,15.067,1984-11-30,Beverly Hills Cop,7.1,1827
17554,17554,"[80, 18, 53]",11368,en,Blood Simple,10.374,1985-01-18,Blood Simple,7.4,554
22573,22573,"[28, 18]",92304,en,Out of Control,0.9129999999999999,1985-05-01,Out of Control,4.5,2
11125,11125,"[12, 18]",12775,en,Flesh + Blood,11.657,1985-08-30,Flesh + Blood,6.6,152
103,103,"[28, 18, 36]",11645,ja,乱,10.885,1985-09-26,Ran,8.1,600
14297,14297,"[28, 18, 36]",11645,ja,乱,10.885,1985-09-26,Ran,8.1,600
14552,14552,"[80, 53, 28]",9873,en,F/X,6.88,1986-02-07,F/X,6.4,146
17547,17547,"[12, 14]",11976,en,Legend,10.542,1986-04-18,Legend,6.2,509
2607,2607,"[12, 14]",11976,en,Legend,10.542,1986-04-18,Legend,6.2,509
8007,8007,"[12, 14]",11976,en,Legend,10.542,1986-04-18,Legend,6.2,509
14836,14836,"[16, 10751]",25400,en,My Little Pony: The Movie,4.346,1986-06-06,My Little Pony: The Movie,5.6,21
5243,5243,"[35, 16, 10751]",9994,en,The Great Mouse Detective,13.347999999999999,1986-07-02,The Great Mouse Detective,7.1,769
56,56,"[35, 16, 10751]",9994,en,The Great Mouse Detective,13.347999999999999,1986-07-02,The Great Mouse Detective,7.1,769
11159,11159,"[12, 35]",9671,en,Crocodile Dundee,10.642000000000001,1986-09-26,Crocodile Dundee,6.3,917
25987,25987,"[27, 9648, 80, 53]",84996,en,Scream for Help,0.946,1986-10-01,Scream for Help,5.9,10
14558,14558,"[28, 12, 35]",12715,en,Firewalker,6.825,1986-11-21,Firewalker,5.4,75
7435,7435,"[16, 35]",270929,en,Apocalypse Pooh,0.6,1987-03-09,Apocalypse Pooh,6.0,2
9815,9815,"[10402, 99]",31474,en,Iron Maiden: 12 Wasted Years,0.68,1987-10-01,Iron Maiden: 12 Wasted Years,5.3,3
7758,7758,[18],105591,en,Faust's Other: An Idyll,0.6,1988-01-01,Faust's Other: An Idyll,4.0,1
8246,8246,"[28, 12, 35, 80, 18]",10117,en,Action Jackson,6.744,1988-02-12,Action Jackson,5.2,81
23981,23981,"[14, 18, 35, 10749, 10751]",2280,en,Big,15.030999999999999,1988-06-03,Big,7.0,1813
7927,7927,"[14, 18, 35, 10749, 10751]",2280,en,Big,15.030999999999999,1988-06-03,Big,7.0,1813
9482,9482,"[28, 878, 53, 80]",285633,en,Trancers: City of Lost Angels,1.0170000000000001,1988-08-11,Trancers: City of Lost Angels,7.0,3
18897,18897,[28],270200,en,Young Rebels,1.4,1989-10-31,Young Rebels,4.3,4
9880,9880,[10402],31476,en,Iron Maiden: Maiden England,0.65,1989-11-08,Iron Maiden: Maiden England,4.0,2
24742,24742,"[18, 28, 80]",71142,en,One Good Cop,4.927,1991-05-03,One Good Cop,5.0,23
2546,2546,"[28, 80, 18, 9648, 53]",2924,en,Backdraft,12.808,1991-05-24,Backdraft,6.5,613
20639,20639,"[28, 53, 878]",280,en,Terminator 2: Judgment Day,24.604,1991-07-03,Terminator 2: Judgment Day,7.9,6682
17395,17395,"[28, 53, 878]",280,en,Terminator 2: Judgment Day,24.604,1991-07-03,Terminator 2: Judgment Day,7.9,6682
7292,7292,[10402],274722,en,Chuck Berry: Rock and Roll Music,0.6,1992-03-10,Chuck Berry: Rock and Roll Music,7.0,2
17629,17629,"[18, 10749]",8293,en,Howards End,9.155,1992-03-13,Howards End,7.2,201
2579,2579,"[80, 28, 878]",9739,en,Demolition Man,11.485,1993-10-08,Demolition Man,6.5,1678
23861,23861,"[18, 36, 10752]",424,en,Schindler's List,25.334,1993-12-15,Schindler's List,8.5,8065
2472,2472,"[10751, 16, 18]",8587,en,The Lion King,28.583000000000002,1994-06-23,The Lion King,8.2,10160
26,26,"[28, 35, 80, 53]",9737,en,Bad Boys,16.608,1995-04-07,Bad Boys,6.6,2936
8184,8184,"[27, 53, 14]",18392,en,Embrace of the Vampire,7.3389999999999995,1995-05-30,Embrace of the Vampire,4.8,49
31,31,"[18, 36]",568,en,Apollo 13,15.855,1995-06-30,Apollo 13,7.4,2821
19410,19410,"[18, 35]",98514,en,River of Grass,0.825,1995-08-04,River of Grass,6.8,15
2516,2516,"[53, 28, 80]",8068,en,Desperado,14.712,1995-08-25,Desperado,6.8,1440
2606,2606,"[28, 12, 80, 53]",9691,en,Assassins,10.579,1995-10-06,Assassins,6.2,666

In [139]:
#Exploring some more datasets to see which ones I want to use.
table8 = tables['rt_movie_info_tsv_gz']
table8

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [140]:
table8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [141]:
table10 = tables['bom_movie_gross_csv_gz']
table10

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,"415,000,000.0",652000000,2010
1,Alice in Wonderland (2010),BV,"334,200,000.0",691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,"296,000,000.0",664300000,2010
3,Inception,WB,"292,600,000.0",535700000,2010
4,Shrek Forever After,P/DW,"238,700,000.0",513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,"6,200.0",NaN,2018
3383,Edward II (2018 re-release),FM,"4,800.0",NaN,2018
3384,El Pacto,Sony,"2,500.0",NaN,2018
3385,The Swan,Synergetic,"2,400.0",NaN,2018
3386,An Actor Prepares,Grav.,"1,700.0",NaN,2018

In [142]:
table10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [144]:
table10.sort_values(by='year', ascending=True).head(100)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,"415,000,000.0",652000000,2010
222,Flipped,WB,"1,800,000.0",NaN,2010
221,Cairo Time,IFC,"1,600,000.0",391000,2010
220,After.Life,Anch.,"109,000.0",1900000,2010
219,Golmaal 3,Eros,"1,100,000.0",935000,2010
218,Housefull,Eros,"1,200,000.0",1200000,2010
217,Fish Tank,IFC,"375,000.0",2000000,2010
216,Tees Maar Khan,UTV,"1,100,000.0",1400000,2010
223,Guzaarish,UTV,"1,000,000.0",695000,2010
215,Twelve,Hann.,"184,000.0",2400000,2010
213,Kites,Relbig.,"1,600,000.0",1300000,2010
212,Dabangg,Eros,"1,300,000.0",1700000,2010
211,Frozen (2010),Anch.,"246,000.0",2900000,2010
210,Outside the Law (Hors-la-loi),NaN,"96,900.0",3300000,2010
209,Wild Target,Free,"109,000.0",3300000,2010
208,Catfish,Rog.,"3,200,000.0",242000,2010
207,Inspector Bellamy,IFC,"108,000.0",3600000,2010
214,Letters to God,Viv.,"2,800,000.0",60300,2010
224,Ondine,Magn.,"550,000.0",1100000,2010
225,Anjaana Anjaani,Eros,"855,000.0",761000,2010
226,John Rabe,Strand,"67,500.0",1400000,2010
243,North Face,MBox,"711,000.0",216000,2010
242,Leaves of Grass,First,"70,100.0",949000,2010
241,We Are Family,UTV,"638,000.0",393000,2010
240,Khatta Meetha,Eros,"542,000.0",499000,2010
239,Leaving,IFC,"176,000.0",893000,2010
238,Casino Jack,ATO,"1,000,000.0",40700,2010
237,The Salvation Poem (Poema de Salvacion),CZ,"915,000.0",183000,2010
236,When You're Strange,Abr.,"246,000.0",901000,2010
235,Videocracy,Kino,"23,700.0",1200000,2010
234,Howl,Osci.,"617,000.0",566000,2010
233,Lebanon,SPC,"368,000.0",830000,2010
232,Army of Crime,Lorb.,"37,000.0",1200000,2010
231,Ajami,Kino,"622,000.0",669000,2010
230,It's a Wonderful Afterlife,UTV,nan,1300000,2010
229,The City of Your Final Destination,Scre.,"493,000.0",859000,2010
228,Raavan,Relbig.,"709,000.0",648000,2010
227,Restrepo,NGE,"1,300,000.0",105000,2010
206,To Save a Life,Gold.,"3,800,000.0",45800,2010
244,Creation,NM,"341,000.0",555000,2010
205,The Perfect Game,IW,"1,000,000.0",2800000,2010
203,Rare Exports: A Christmas Tale,Osci.,"236,000.0",3800000,2010
181,Inside Job,SPC,"4,300,000.0",3600000,2010
180,City Island,Anch.,"6,700,000.0",1200000,2010
179,MacGruber,Uni.,"8,500,000.0",797000,2010
178,Mid-August Lunch,Zeit.,"675,000.0",8700000,2010
177,Never Let Me Go,FoxS,"2,400,000.0",7000000,2010
176,Peepli Live,UTV,"758,000.0",8700000,2010
175,Stone,Over.,"1,800,000.0",7700000,2010
182,The Joneses,RAtt.,"1,500,000.0",5500000,2010
174,Babies,Focus,"7,300,000.0",2200000,2010
172,Conviction,FoxS,"6,800,000.0",2900000,2010
171,Cyrus,FoxS,"7,500,000.0",2500000,2010
170,Harry Brown,Gold.,"1,800,000.0",8500000,2010
169,Jonah Hex,WB,"10,500,000.0",356000,2010
168,I Am Love,Magn.,"5,000,000.0",5900000,2010
167,The Warrior's Way,Rela.,"5,700,000.0",5400000,2010
166,Looking for Eric,IFC,"55,800.0",11500000,2010
173,Get Low,SPC,"9,200,000.0",518000,2010
183,Centurion,Magn.,"124,000.0",6700000,2010
184,Animal Kingdom,SPC,"1,000,000.0",5700000,2010
185,Nowhere Boy,Wein.,"1,500,000.0",5100000,2010
202,Monsters,Magn.,"237,000.0",4000000,2010
201,Please Give,SPC,"4,000,000.0",280000,2010
200,Wild Grass,SPC,"404,000.0",4200000,2010
199,Four Lions,Drft.,"305,000.0",4400000,2010
198,The Runaways,App.,"3,600,000.0",1100000,2010
197,Mother and Child,SPC,"1,100,000.0",3900000,2010
196,Vision,Zeit.,"435,000.0",4600000,2010
195,Rabbit Hole,LGF,"2,200,000.0",2900000,2010
194,Solitary Man,Anch.,"4,400,000.0",818000,2010
193,Mademoiselle Chambon,Lorb.,"532,000.0",4700000,2010
192,Exit Through the Gift Shop,PDA,"3,300,000.0",2000000,2010
191,The Illusionist (2010),SPC,"2,200,000.0",3400000,2010
190,Vincere,IFC,"619,000.0",5100000,2010
189,Coco Chanel & Igor Stravinsky,SPC,"1,600,000.0",4099999,2010
188,Greenberg,Focus,"4,200,000.0",1900000,2010
187,"Waiting for ""Superman""",ParV,"6,400,000.0",9300,2010
186,It's Kind of a Funny Story,Focus,"6,400,000.0",128000,2010
204,The Killer Inside Me,IFC,"217,000.0",3800000,2010
245,No One Knows About Persian Cats,IFC,"81,800.0",798000,2010
246,Carlos,IFC,"146,000.0",726000,2010
247,Hideaway (Le Refuge),Strand,"34,500.0",837000,2010
306,Badmaash Company,Yash,nan,64400,2010
305,Enemies of the People,ICir,"73,200.0",6400,2010
304,Waking Sleeping Beauty,BV,"80,700.0",4200,2010
303,Kisses,Osci.,"81,700.0",15300,2010
302,White Lion,Scre.,nan,99600,2010
301,Band Baaja Baaraat,Yash,"43,800.0",60700,2010
300,Saint John of Las Vegas,IVP,"103,000.0",9100,2010
307,Hadewijch,IFC,"5,000.0",57500,2010
299,Freakonomics,Magn.,"101,000.0",16400,2010
297,The Romantics,FOAK,"107,000.0",17300,2010
296,George A. Romero's Survival of the Dead,Magn.,"102,000.0",41500,2010
295,The Eclipse,Magn.,"133,000.0",26400,2010
294,Spring Fever,Strand,"10,800.0",150000,2010
293,Around a Small Mountain,CGld,"33,200.0",131000,2010
292,Perrier's Bounty,IFC,800.0,167000,2010
291,Casino Jack and the United States of Money,Magn.,"177,000.0",NaN,2010
298,Celine: Through the Eyes of the World,Sony,nan,119000,2010

In [146]:
#I am going to attempt a join to see what the resulting dataframe would look like.
test_join_outer = table9.join(table7, how='inner')
test_join_outer
#That didn't work! They were joining by the IDs, which are completely different.
#Let me change the index for each and try again.

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,1,2009-12-18,Avatar,"425,000,000.0","760,507,625.0","2,776,345,279.0",2009,"2,351,345,279.0",5.532577127058824,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000.0","241,063,875.0","1,045,663,875.0",2011,"635,063,875.0",1.5466728567949342,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,3,2019-06-07,Dark Phoenix,"350,000,000.0","42,762,350.0","149,762,350.0",2019,"-200,237,650.0",-0.5721075714285714,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000.0","459,005,868.0","1,403,013,963.0",2015,"1,072,413,963.0",3.2438413883847548,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,nan,"Comedy,Drama"
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000.0","620,181,382.0","1,316,721,747.0",2017,"999,721,747.0",3.1536963627760253,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000.0",0.0,0.0,2018,"-7,000.0",-1.0,tt1183917,Teen Patti,Teen Patti,2010,142.0,"Crime,Drama,Thriller"
5778,79,1999-04-02,Following,"6,000.0","48,482.0","240,495.0",1999,"234,495.0",39.0825,tt1183919,Marley,Marley,2012,144.0,"Biography,Documentary,Music"
5779,80,2005-07-13,Return to the Land of Wonders,"5,000.0","1,338.0","1,338.0",2005,"-3,662.0",-0.7324,tt1183923,Welcome to the Rileys,Welcome to the Rileys,2010,110.0,Drama
5780,81,2015-09-29,A Plague So Pleasant,"1,400.0",0.0,0.0,2015,"-1,400.0",-1.0,tt1183930,Diagnosis Superstar,Diagnosis Superstar,2011,84.0,"Comedy,Drama"
5781,82,2005-08-05,My Date With Drew,"1,100.0","181,041.0","181,041.0",2005,"179,941.0",163.58272727272728,tt1183944,Sadiyaan: Boundaries Divide... Love Unites,Sadiyaan: Boundaries Divide... Love Unites,2010,200.0,"Drama,Romance"

In [148]:
table9.set_index('movie', inplace=True)
table9

,id,release_date,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
movie,,,,,,,,
Avatar,1,2009-12-18,"425,000,000.0","760,507,625.0","2,776,345,279.0",2009,"2,351,345,279.0",5.532577127058824
Pirates of the Caribbean: On Stranger Tides,2,2011-05-20,"410,600,000.0","241,063,875.0","1,045,663,875.0",2011,"635,063,875.0",1.5466728567949342
Dark Phoenix,3,2019-06-07,"350,000,000.0","42,762,350.0","149,762,350.0",2019,"-200,237,650.0",-0.5721075714285714
Avengers: Age of Ultron,4,2015-05-01,"330,600,000.0","459,005,868.0","1,403,013,963.0",2015,"1,072,413,963.0",3.2438413883847548
Star Wars Ep. VIII: The Last Jedi,5,2017-12-15,"317,000,000.0","620,181,382.0","1,316,721,747.0",2017,"999,721,747.0",3.1536963627760253
...,...,...,...,...,...,...,...,...
Red 11,78,2018-12-31,"7,000.0",0.0,0.0,2018,"-7,000.0",-1.0
Following,79,1999-04-02,"6,000.0","48,482.0","240,495.0",1999,"234,495.0",39.0825
Return to the Land of Wonders,80,2005-07-13,"5,000.0","1,338.0","1,338.0",2005,"-3,662.0",-0.7324
A Plague So Pleasant,81,2015-09-29,"1,400.0",0.0,0.0,2015,"-1,400.0",-1.0
My Date With Drew,82,2005-08-05,"1,100.0","181,041.0","181,041.0",2005,"179,941.0",163.58272727272728

In [149]:
table7.set_index('primary_title', inplace=True)
table7

,tconst,original_title,start_year,runtime_minutes,genres
primary_title,,,,,
Sunghursh,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama"
One Day Before the Rainy Season,tt0066787,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
The Other Side of the Wind,tt0069049,The Other Side of the Wind,2018,122.0,Drama
Sabse Bada Sukh,tt0069204,Sabse Bada Sukh,2018,nan,"Comedy,Drama"
The Wandering Soap Opera,tt0100275,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...
Kuambil Lagi Hatiku,tt9916538,Kuambil Lagi Hatiku,2019,123.0,Drama
Rodolpho Teóphilo - O Legado de um Pioneiro,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,nan,Documentary
Dankyavar Danka,tt9916706,Dankyavar Danka,2013,nan,Comedy
6 Gunn,tt9916730,6 Gunn,2017,116.0,NaN
Chico Albuquerque - Revelações,tt9916754,Chico Albuquerque - Revelações,2013,nan,Documentary

In [150]:
test_join_outer_2 = table9.join(table7, how='outer')
test_join_outer_2

,id,release_date,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,original_title,start_year,runtime_minutes,genres
!Women Art Revolution,nan,NaT,nan,nan,nan,nan,nan,nan,tt1699720,Women Art Revolution,"2,010.0",83.0,Documentary
#1 Serial Killer,nan,NaT,nan,nan,nan,nan,nan,nan,tt2346170,#1 Serial Killer,"2,013.0",87.0,Horror
#5,nan,NaT,nan,nan,nan,nan,nan,nan,tt3120962,#5,"2,013.0",68.0,"Biography,Comedy,Fantasy"
#5,nan,NaT,nan,nan,nan,nan,nan,nan,tt8219776,#5,"2,018.0",nan,Documentary
#50Fathers,nan,NaT,nan,nan,nan,nan,nan,nan,tt4470336,#50Fathers,"2,015.0",132.0,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
è solo questione di tempo,nan,NaT,nan,nan,nan,nan,nan,nan,tt3547074,è solo questione di tempo,"2,013.0",72.0,Comedy
élèctions piege à cons,nan,NaT,nan,nan,nan,nan,nan,nan,tt8976950,élèctions piege à cons,"2,014.0",nan,Comedy
é·æ±ä¸è (CJ7),2.0,2008-03-07,"20,000,000.0","206,678.0","47,300,771.0","2,008.0","27,300,771.0",1.36503855,NaN,NaN,nan,nan,NaN
împetu,nan,NaT,nan,nan,nan,nan,nan,nan,tt5997078,împetu,"2,017.0",nan,Documentary
Šiška Deluxe,nan,NaT,nan,nan,nan,nan,nan,nan,tt4373884,Siska Deluxe,"2,015.0",108.0,"Comedy,Drama"

In [151]:
test_join_outer_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149759 entries, !Women Art Revolution to Šiška Deluxe
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 7221 non-null    float64
 1   release_date       7221 non-null    datetime64[ns]
 2   production_budget  7221 non-null    float64
 3   domestic_gross     7221 non-null    float64
 4   worldwide_gross    7221 non-null    float64
 5   release_year       7221 non-null    float64
 6   total_profit       7221 non-null    float64
 7   ROI                7221 non-null    float64
 8   tconst             146353 non-null  object
 9   original_title     146332 non-null  object
 10  start_year         146353 non-null  float64
 11  runtime_minutes    114581 non-null  float64
 12  genres             140940 non-null  object
dtypes: datetime64[ns](1), float64(9), object(3)
memory usage: 16.0+ MB

In [155]:
test_join_outer_2.rename(columns={test_join_outer_2.columns[1]: 'new'})
test_join_outer_2

,id,release_date,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,original_title,start_year,runtime_minutes,genres
!Women Art Revolution,nan,NaT,nan,nan,nan,nan,nan,nan,tt1699720,Women Art Revolution,"2,010.0",83.0,Documentary
#1 Serial Killer,nan,NaT,nan,nan,nan,nan,nan,nan,tt2346170,#1 Serial Killer,"2,013.0",87.0,Horror
#5,nan,NaT,nan,nan,nan,nan,nan,nan,tt3120962,#5,"2,013.0",68.0,"Biography,Comedy,Fantasy"
#5,nan,NaT,nan,nan,nan,nan,nan,nan,tt8219776,#5,"2,018.0",nan,Documentary
#50Fathers,nan,NaT,nan,nan,nan,nan,nan,nan,tt4470336,#50Fathers,"2,015.0",132.0,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
è solo questione di tempo,nan,NaT,nan,nan,nan,nan,nan,nan,tt3547074,è solo questione di tempo,"2,013.0",72.0,Comedy
élèctions piege à cons,nan,NaT,nan,nan,nan,nan,nan,nan,tt8976950,élèctions piege à cons,"2,014.0",nan,Comedy
é·æ±ä¸è (CJ7),2.0,2008-03-07,"20,000,000.0","206,678.0","47,300,771.0","2,008.0","27,300,771.0",1.36503855,NaN,NaN,nan,nan,NaN
împetu,nan,NaT,nan,nan,nan,nan,nan,nan,tt5997078,împetu,"2,017.0",nan,Documentary
Šiška Deluxe,nan,NaT,nan,nan,nan,nan,nan,nan,tt4373884,Siska Deluxe,"2,015.0",108.0,"Comedy,Drama"

In [157]:
test_join_outer_2.sort_values('original_title', ascending=True).head(100)
test_join_outer_2

,id,release_date,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,original_title,start_year,runtime_minutes,genres
!Women Art Revolution,nan,NaT,nan,nan,nan,nan,nan,nan,tt1699720,Women Art Revolution,"2,010.0",83.0,Documentary
#1 Serial Killer,nan,NaT,nan,nan,nan,nan,nan,nan,tt2346170,#1 Serial Killer,"2,013.0",87.0,Horror
#5,nan,NaT,nan,nan,nan,nan,nan,nan,tt3120962,#5,"2,013.0",68.0,"Biography,Comedy,Fantasy"
#5,nan,NaT,nan,nan,nan,nan,nan,nan,tt8219776,#5,"2,018.0",nan,Documentary
#50Fathers,nan,NaT,nan,nan,nan,nan,nan,nan,tt4470336,#50Fathers,"2,015.0",132.0,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
è solo questione di tempo,nan,NaT,nan,nan,nan,nan,nan,nan,tt3547074,è solo questione di tempo,"2,013.0",72.0,Comedy
élèctions piege à cons,nan,NaT,nan,nan,nan,nan,nan,nan,tt8976950,élèctions piege à cons,"2,014.0",nan,Comedy
é·æ±ä¸è (CJ7),2.0,2008-03-07,"20,000,000.0","206,678.0","47,300,771.0","2,008.0","27,300,771.0",1.36503855,NaN,NaN,nan,nan,NaN
împetu,nan,NaT,nan,nan,nan,nan,nan,nan,tt5997078,împetu,"2,017.0",nan,Documentary
Šiška Deluxe,nan,NaT,nan,nan,nan,nan,nan,nan,tt4373884,Siska Deluxe,"2,015.0",108.0,"Comedy,Drama"

In [161]:
test_join_inner_2 = table9.join(table7, how='left')
test_join_inner_2

,id,release_date,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,original_title,start_year,runtime_minutes,genres
#Horror,16,2015-11-20,"1,500,000.0",0.0,0.0,2015,"-1,500,000.0",-1.0,tt3526286,#Horror,"2,015.0",101.0,"Crime,Drama,Horror"
(500) Days of Summer,55,2009-07-17,"7,500,000.0","32,425,665.0","34,439,060.0",2009,"26,939,060.0",3.5918746666666665,NaN,NaN,nan,nan,NaN
10 Cloverfield Lane,54,2016-03-11,"5,000,000.0","72,082,999.0","108,286,422.0",2016,"103,286,422.0",20.6572844,tt1179933,10 Cloverfield Lane,"2,016.0",103.0,"Drama,Horror,Mystery"
10 Days in a Madhouse,48,2015-11-11,"12,000,000.0","14,616.0","14,616.0",2015,"-11,985,384.0",-0.998782,tt3453052,10 Days in a Madhouse,"2,015.0",111.0,Drama
10 Things I Hate About You,63,1999-03-31,"13,000,000.0","38,177,966.0","60,413,950.0",1999,"47,413,950.0",3.647226923076923,NaN,NaN,nan,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
mother!,59,2017-09-15,"30,000,000.0","17,800,004.0","42,531,076.0",2017,"12,531,076.0",0.41770253333333335,NaN,NaN,nan,nan,NaN
xXx,98,2002-08-09,"70,000,000.0","141,930,000.0","267,200,000.0",2002,"197,200,000.0",2.817142857142857,NaN,NaN,nan,nan,NaN
xXx: Return of Xander Cage,15,2017-01-20,"85,000,000.0","44,898,413.0","345,033,359.0",2017,"260,033,359.0",3.059215988235294,tt1293847,xXx: Return of Xander Cage,"2,017.0",107.0,"Action,Adventure,Thriller"
Ã l\'intÃ©rieur,57,2008-04-15,"3,000,000.0",0.0,"895,932.0",2008,"-2,104,068.0",-0.701356,NaN,NaN,nan,nan,NaN
é·æ±ä¸è (CJ7),2,2008-03-07,"20,000,000.0","206,678.0","47,300,771.0",2008,"27,300,771.0",1.36503855,NaN,NaN,nan,nan,NaN

In [164]:
df1 = test_join_inner_2
df1.head(100)

,id,release_date,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,original_title,start_year,runtime_minutes,genres
#Horror,16,2015-11-20,"1,500,000.0",0.0,0.0,2015,"-1,500,000.0",-1.0,tt3526286,#Horror,"2,015.0",101.0,"Crime,Drama,Horror"
(500) Days of Summer,55,2009-07-17,"7,500,000.0","32,425,665.0","34,439,060.0",2009,"26,939,060.0",3.5918746666666665,NaN,NaN,nan,nan,NaN
10 Cloverfield Lane,54,2016-03-11,"5,000,000.0","72,082,999.0","108,286,422.0",2016,"103,286,422.0",20.6572844,tt1179933,10 Cloverfield Lane,"2,016.0",103.0,"Drama,Horror,Mystery"
10 Days in a Madhouse,48,2015-11-11,"12,000,000.0","14,616.0","14,616.0",2015,"-11,985,384.0",-0.998782,tt3453052,10 Days in a Madhouse,"2,015.0",111.0,Drama
10 Things I Hate About You,63,1999-03-31,"13,000,000.0","38,177,966.0","60,413,950.0",1999,"47,413,950.0",3.647226923076923,NaN,NaN,nan,nan,NaN
"10,000 B.C.",51,2008-03-07,"105,000,000.0","94,784,201.0","269,065,678.0",2008,"164,065,678.0",1.5625302666666667,NaN,NaN,nan,nan,NaN
102 Dalmatians,6,2000-11-22,"85,000,000.0","66,941,559.0","66,941,559.0",2000,"-18,058,441.0",-0.21245224705882354,NaN,NaN,nan,nan,NaN
10th & Wolf,32,2006-08-18,"8,000,000.0","54,702.0","143,782.0",2006,"-7,856,218.0",-0.98202725,NaN,NaN,nan,nan,NaN
11:14,90,2005-08-12,"6,000,000.0",0.0,0.0,2005,"-6,000,000.0",-1.0,NaN,NaN,nan,nan,NaN
12 Angry Men,36,1957-04-13,"340,000.0",0.0,0.0,1957,"-340,000.0",-1.0,NaN,NaN,nan,nan,NaN
12 Monkeys,18,1995-12-27,"29,000,000.0","57,141,459.0","168,841,459.0",1995,"139,841,459.0",4.822119275862069,NaN,NaN,nan,nan,NaN
12 Rounds,37,2009-03-27,"20,000,000.0","12,234,694.0","17,306,648.0",2009,"-2,693,352.0",-0.1346676,tt3517850,12 Rounds,"2,017.0",nan,"Action,Drama,Romance"
12 Strong,64,2018-01-19,"35,000,000.0","45,819,713.0","71,118,378.0",2018,"36,118,378.0",1.0319536571428571,tt1413492,12 Strong,"2,018.0",130.0,"Action,Drama,History"
12 Years a Slave,18,2013-10-18,"20,000,000.0","56,671,993.0","181,025,343.0",2013,"161,025,343.0",8.05126715,tt2024544,12 Years a Slave,"2,013.0",134.0,"Biography,Drama,History"
127 Hours,6,2010-11-05,"18,000,000.0","18,335,230.0","60,217,171.0",2010,"42,217,171.0",2.345398388888889,tt1542344,127 Hours,"2,010.0",94.0,"Adventure,Biography,Drama"
13 Going On 30,96,2004-04-23,"37,000,000.0","57,139,723.0","97,658,712.0",2004,"60,658,712.0",1.6394246486486486,NaN,NaN,nan,nan,NaN
13 Hours: The Secret Soldiers of Benghazi,30,2016-01-15,"50,000,000.0","52,853,219.0","69,411,370.0",2016,"19,411,370.0",0.3882274,NaN,NaN,nan,nan,NaN
13 Sins,51,2014-04-18,"4,000,000.0","9,134.0","47,552.0",2014,"-3,952,448.0",-0.988112,tt2059171,13 Sins,"2,014.0",93.0,"Horror,Thriller"
1408,2,2007-06-22,"22,500,000.0","71,985,628.0","131,263,370.0",2007,"108,763,370.0",4.833927555555555,NaN,NaN,nan,nan,NaN
15 Minutes,60,2001-03-09,"42,000,000.0","24,375,436.0","56,331,864.0",2001,"14,331,864.0",0.3412348571428571,NaN,NaN,nan,nan,NaN
16 Blocks,93,2006-03-03,"45,000,000.0","36,895,141.0","65,595,141.0",2006,"20,595,141.0",0.4576698,NaN,NaN,nan,nan,NaN
16 to Life,90,2010-09-03,"1,000,000.0","11,574.0","11,574.0",2010,"-988,426.0",-0.988426,NaN,NaN,nan,nan,NaN
1612,49,2009-04-07,"12,000,000.0",0.0,"5,400,624.0",2009,"-6,599,376.0",-0.549948,NaN,NaN,nan,nan,NaN
17 Again,20,2009-04-17,"40,000,000.0","64,167,069.0","139,474,906.0",2009,"99,474,906.0",2.48687265,NaN,NaN,nan,nan,NaN
1776,59,1972-11-09,"4,000,000.0",0.0,0.0,1972,"-4,000,000.0",-1.0,NaN,NaN,nan,nan,NaN
1941,4,1979-12-14,"32,000,000.0","34,175,000.0","94,875,000.0",1979,"62,875,000.0",1.96484375,NaN,NaN,nan,nan,NaN
1982,23,2016-03-01,"1,000,000.0",0.0,0.0,2016,"-1,000,000.0",-1.0,tt2388621,1982,"2,013.0",90.0,Drama
1982,23,2016-03-01,"1,000,000.0",0.0,0.0,2016,"-1,000,000.0",-1.0,tt5671400,1982,"2,015.0",11.0,Documentary
2 Fast 2 Furious,23,2003-06-06,"76,000,000.0","127,120,058.0","236,410,607.0",2003,"160,410,607.0",2.110665881578947,NaN,NaN,nan,nan,NaN
2 For the Money,86,2005-10-07,"20,000,000.0","22,991,379.0","30,491,379.0",2005,"10,491,379.0",0.52456895,NaN,NaN,nan,nan,NaN
2 Guns,39,2013-08-02,"61,000,000.0","75,612,460.0","132,493,015.0",2013,"71,493,015.0",1.1720166393442624,tt1272878,2 Guns,"2,013.0",109.0,"Action,Comedy,Crime"
20 Dates,9,1999-02-26,"66,000.0","541,636.0","602,920.0",1999,"536,920.0",8.135151515151515,NaN,NaN,nan,nan,NaN
20 Feet From Stardom,37,2013-06-14,"1,000,000.0","4,946,250.0","5,892,466.0",2013,"4,892,466.0",4.892466,NaN,NaN,nan,nan,NaN
"20,000 Leagues Under the Sea",71,1954-12-23,"5,000,000.0","28,200,000.0","28,200,000.0",1954,"23,200,000.0",4.64,NaN,NaN,nan,nan,NaN
"20,000 Leagues Under the Sea",15,1916-12-24,"200,000.0","8,000,000.0","8,000,000.0",1916,"7,800,000.0",39.0,NaN,NaN,nan,nan,NaN
200 Cigarettes,51,1999-02-26,"6,000,000.0","6,852,450.0","6,852,450.0",1999,"852,450.0",0.142075,NaN,NaN,nan,nan,NaN
2001: A Space Odyssey,27,1968-04-02,"10,500,000.0","59,936,321.0","71,928,046.0",1968,"61,428,046.0",5.850290095238095,NaN,NaN,nan,nan,NaN
2012,59,2009-11-13,"200,000,000.0","166,112,167.0","757,677,748.0",2009,"557,677,748.0",2.78838874,NaN,NaN,nan,nan,NaN
2016: Obamaâs America,13,2012-07-13,"2,500,000.0","33,349,941.0","33,349,941.0",2012,"30,849,941.0",12.3399764,NaN,NaN,nan,nan,NaN
2046,31,2005-08-05,"12,000,000.0","1,442,338.0","19,287,485.0",2005,"7,287,485.0",0.6072904166666667,NaN,NaN,nan,nan,NaN
21,39,2008-03-28,"35,000,000.0","81,159,365.0","159,846,429.0",2008,"124,846,429.0",3.567040828571429,tt5097012,21,"2,016.0",98.0,Horror
21 Grams,13,2003-11-21,"20,000,000.0","16,248,701.0","59,667,625.0",2003,"39,667,625.0",1.98338125,NaN,NaN,nan,nan,NaN
21 Jump Street,44,2012-03-16,"42,000,000.0","138,447,667.0","202,812,429.0",2012,"160,812,429.0",3.8288673571428573,tt1232829,21 Jump Street,"2,012.0",109.0,"Action,Comedy,Crime"
21 and Over,70,2013-03-01,"13,000,000.0","25,682,380.0","42,195,766.0",2013,"29,195,766.0",2.245828153846154,NaN,NaN,nan,nan,NaN
22 Jump Street,85,2014-06-13,"50,000,000.0","191,719,337.0","331,333,876.0",2014,"281,333,876.0",5.62667752,tt2294449,22 Jump Street,"2,014.0",112.0,"Action,Comedy,Crime"
23 Blast,64,2014-10-24,"1,000,000.0","549,185.0","549,185.0",2014,"-450,815.0",-0.450815,tt2304459,23 Blast,"2,014.0",98.0,"Drama,Family,Sport"
24 7: Twenty Four Seven,56,1998-04-15,"2,000,000.0","72,544.0","72,544.0",1998,"-1,927,456.0",-0.963728,NaN,NaN,nan,nan,NaN
25th Hour,29,2002-12-19,"4,500,000.0","13,084,595.0","25,344,490.0",2002,"20,844,490.0",4.632108888888889,NaN,NaN,nan,nan,NaN
27 Dresses,63,2008-01-18,"30,000,000.0","76,808,654.0","160,247,805.0",2008,"130,247,805.0",4.3415935,NaN,NaN,nan,nan,NaN
28 Days,37,2000-04-14,"43,000,000.0","37,035,515.0","62,063,972.0",2000,"19,063,972.0",0.4433481860465116,NaN,NaN,nan,nan,NaN
28 Days Laterâ¦,69,2003-06-27,"8,000,000.0","45,064,915.0","82,955,633.0",2003,"74,955,633.0",9.369454125,NaN,NaN,nan,nan,NaN
28 Weeks Later,54,2007-05-11,"15,000,000.0","28,638,916.0","64,232,714.0",2007,"49,232,714.0",3.282180933333333,NaN,NaN,nan,nan,NaN
2:13,28,2011-06-28,"3,500,000.0",0.0,0.0,2011,"-3,500,000.0",-1.0,NaN,NaN,nan,nan,NaN
3,85,2011-09-16,"7,200,000.0","59,774.0","295,492.0",2011,"-6,904,508.0",-0.9589594444444445,tt1517177,3,"2,010.0",119.0,"Comedy,Drama,Romance"
3,85,2011-09-16,"7,200,000.0","59,774.0","295,492.0",2011,"-6,904,508.0",-0.9589594444444445,tt2123129,3,"2,012.0",145.0,"Drama,Mystery,Romance"
3,85,2011-09-16,"7,200,000.0","59,774.0","295,492.0",2011,"-6,904,508.0",-0.9589594444444445,tt2379653,3,"2,012.0",115.0,"Comedy,Drama"
3,85,2011-09-16,"7,200,000.0","59,774.0","295,492.0",2011,"-6,904,508.0",-0.9589594444444445,tt5618160,3,"2,018.0",80.0,"Horror,Mystery,Thriller"
3,85,2011-09-16,"7,200,000.0","59,774.0","295,492.0",2011,"-6,904,508.0",-0.9589594444444445,tt5785598,3,"2,015.0",57.0,Drama
3,85,2011-09-16,"7,200,000.0","59,774.0","295,492.0",2011,"-6,904,508.0",-0.9589594444444445,tt8558372,3,"2,018.0",17.0,Documentary
3 Backyards,51,2011-03-11,"300,000.0","39,475.0","39,475.0",2011,"-260,525.0",-0.8684166666666666,tt1314190,3 Backyards,"2,010.0",88.0,Drama
3 Days to Kill,64,2014-02-21,"28,000,000.0","30,697,999.0","38,959,900.0",2014,"10,959,900.0",0.391425,tt2172934,3 Days to Kill,"2,014.0",117.0,"Action,Drama,Thriller"
3 Men and a Baby,96,1987-11-25,"15,000,000.0","167,780,960.0","167,780,960.0",1987,"152,780,960.0",10.185397333333333,NaN,NaN,nan,nan,NaN
3 Ninjas Kick Back,39,1994-05-06,"20,000,000.0","11,744,960.0","11,744,960.0",1994,"-8,255,040.0",-0.412752,NaN,NaN,nan,nan,NaN
3 Strikes,1,2000-03-01,"4,000,000.0","9,821,335.0","9,821,335.0",2000,"5,821,335.0",1.45533375,NaN,NaN,nan,nan,NaN
30 Days of Night,16,2007-10-19,"30,000,000.0","39,568,996.0","80,276,156.0",2007,"50,276,156.0",1.6758718666666668,NaN,NaN,nan,nan,NaN
30 Minutes or Less,60,2011-08-12,"28,000,000.0","37,053,924.0","40,966,716.0",2011,"12,966,716.0",0.463097,tt1622547,30 Minutes or Less,"2,011.0",83.0,"Action,Comedy,Crime"
30 Nights Of Paranormal Activity With The Devil Inside The Girl With The Dragon Tattoo,66,2013-01-15,"3,000,000.0",0.0,0.0,2013,"-3,000,000.0",-1.0,NaN,NaN,nan,nan,NaN
300,45,2007-03-09,"60,000,000.0","210,614,939.0","454,161,935.0",2007,"394,161,935.0",6.569365583333333,NaN,NaN,nan,nan,NaN
3000 Miles to Graceland,35,2001-02-23,"62,000,000.0","15,738,632.0","18,708,848.0",2001,"-43,291,152.0",-0.6982443870967742,NaN,NaN,nan,nan,NaN
300: Rise of an Empire,26,2014-03-07,"110,000,000.0","106,580,051.0","330,780,051.0",2014,"220,780,051.0",2.0070913727272726,tt1253863,300: Rise of an Empire,"2,014.0",102.0,"Action,Fantasy,War"
31,85,2016-10-21,"1,500,000.0","779,820.0","922,727.0",2016,"-577,273.0",-0.38484866666666667,tt3835080,31,"2,016.0",102.0,"Horror,Thriller"
355,72,2019-12-31,"75,000,000.0",0.0,0.0,2019,"-75,000,000.0",-1.0,NaN,NaN,nan,nan,NaN
3:10 to Yuma,25,2007-09-07,"48,000,000.0","53,606,916.0","71,171,825.0",2007,"23,171,825.0",0.48274635416666667,NaN,NaN,nan,nan,NaN
"4 luni, 3 saptamani si 2 zile",40,2008-01-25,"900,000.0","1,196,321.0","11,993,156.0",2008,"11,093,156.0",12.32572888888889,NaN,NaN,nan,nan,NaN
4/11,6,2015-01-01,"250,000.0",0.0,0.0,2015,"-250,000.0",-1.0,NaN,NaN,nan,nan,NaN
40 Days and 40 Nights,83,2002-03-01,"17,000,000.0","37,939,782.0","95,092,667.0",2002,"78,092,667.0",4.593686294117647,NaN,NaN,nan,nan,NaN
40 Weeks,45,2014-12-31,"900,000.0",0.0,0.0,2014,"-900,000.0",-1.0,tt3513086,40 Weeks,"2,014.0",111.0,Documentary
42,22,2013-04-12,"31,000,000.0","95,020,213.0","97,470,701.0",2013,"66,470,701.0",2.1442161612903226,tt0453562,42,"2,013.0",128.0,"Biography,Drama,Sport"
42nd Street,3,1933-03-09,"439,000.0","1,438,000.0","2,281,000.0",1933,"1,842,000.0",4.195899772209567,NaN,NaN,nan,nan,NaN
47 Ronin,12,2013-12-25,"175,000,000.0","38,362,475.0","151,716,815.0",2013,"-23,283,185.0",-0.13304677142857144,tt1335975,47 Ronin,"2,013.0",128.0,"Action,Adventure,Drama"
5 Days of War,47,2011-08-19,"12,000,000.0","17,479.0","87,793.0",2011,"-11,912,207.0",-0.9926839166666667,tt1486193,5 Days of War,"2,011.0",113.0,"Action,Drama,War"
50 First Dates,39,2004-02-13,"75,000,000.0","120,776,832.0","196,320,329.0",2004,"121,320,329.0",1.6176043866666667,NaN,NaN,nan,nan,NaN
50 to 1,93,2014-03-21,"10,000,000.0","1,069,454.0","1,069,454.0",2014,"-8,930,546.0",-0.8930546,tt1777595,50 to 1,"2,014.0",110.0,Drama
50/50,73,2011-09-30,"8,000,000.0","35,016,118.0","41,334,735.0",2011,"33,334,735.0",4.166841875,tt1306980,50/50,"2,011.0",100.0,"Comedy,Drama,Romance"
50/50,73,2011-09-30,"8,000,000.0","35,016,118.0","41,334,735.0",2011,"33,334,735.0",4.166841875,tt1734060,50/50,"2,010.0",77.0,Documentary
51 Birch Street,32,2006-10-18,"350,000.0","84,689.0","84,689.0",2006,"-265,311.0",-0.7580314285714286,NaN,NaN,nan,nan,NaN
54,79,1998-08-28,"13,000,000.0","16,757,163.0","16,757,163.0",1998,"3,757,163.0",0.28901253846153846,NaN,NaN,nan,nan,NaN
55 Days at Peking,99,1963-05-29,"17,000,000.0","10,000,000.0","10,000,000.0",1963,"-7,000,000.0",-0.4117647058823529,NaN,NaN,nan,nan,NaN
8 Days,48,2015-10-13,"2,500,000.0",0.0,0.0,2015,"-2,500,000.0",-1.0,tt3111864,8 Days,"2,014.0",90.0,"Drama,Thriller"
8 Heads in a Duffel Bag,18,1997-04-18,"3,000,000.0","3,602,884.0","4,002,884.0",1997,"1,002,884.0",0.3342946666666667,NaN,NaN,nan,nan,NaN
8 Mile,70,2002-11-08,"41,000,000.0","116,724,075.0","245,768,384.0",2002,"204,768,384.0",4.994350829268293,NaN,NaN,nan,nan,NaN
8 Million Ways to Die,42,1986-04-25,"18,000,000.0","1,305,114.0","1,305,114.0",1986,"-16,694,886.0",-0.9274936666666667,NaN,NaN,nan,nan,NaN
8 femmes,9,2002-09-20,"8,000,000.0","3,076,425.0","42,376,425.0",2002,"34,376,425.0",4.297053125,NaN,NaN,nan,nan,NaN
88 Minutes,64,2008-04-18,"30,000,000.0","16,930,884.0","32,955,399.0",2008,"2,955,399.0",0.0985133,NaN,NaN,nan,nan,NaN
8: The Mormon Proposition,38,2010-06-18,"2,500,000.0","100,280.0","100,280.0",2010,"-2,399,720.0",-0.959888,tt1484522,8: The Mormon Proposition,"2,010.0",80.0,Documentary
8MM,61,1999-02-26,"40,000,000.0","36,443,442.0","96,398,826.0",1999,"56,398,826.0",1.40997065,NaN,NaN,nan,nan,NaN
9,33,2009-09-09,"30,000,000.0","31,749,894.0","48,559,999.0",2009,"18,559,999.0",0.6186666333333334,tt5719388,9,"2,016.0",nan,Comedy
90 Minutes in Heaven,38,2015-09-11,"5,000,000.0","4,816,142.0","4,816,142.0",2015,"-183,858.0",-0.0367716,tt4337690,90 Minutes in Heaven,"2,015.0",121.0,Drama
A Bad Moms Christmas,40,2017-11-01,"28,000,000.0","72,110,659.0","127,710,550.0",2017,"99,710,550.0",3.5610910714285713,tt6359956,A Bad Moms Christmas,"2,017.0",104.0,"Adventure,Comedy"
A Beautiful Mind,12,2001-12-21,"78,000,000.0","170,708,996.0","317,668,058.0",2001,"239,668,058.0",3.07266741025641,NaN,NaN,nan,nan,NaN

In [185]:
df1.sort_values(by='worldwide_gross', ascending=False).head(100)

,id,release_date,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,original_title,start_year,runtime_minutes,genres
Avatar,1,2009-12-18,"425,000,000.0","760,507,625.0","2,776,345,279.0",2009,"2,351,345,279.0",5.532577127058824,tt1775309,Abatâ,2011,93.0,Horror
Titanic,43,1997-12-19,"200,000,000.0","659,363,944.0","2,208,208,395.0",1997,"2,008,208,395.0",10.041041975,tt8852130,Titanic,2018,115.0,Family
Titanic,43,1997-12-19,"200,000,000.0","659,363,944.0","2,208,208,395.0",1997,"2,008,208,395.0",10.041041975,tt2495766,Titanic,2012,nan,Adventure
Star Wars Ep. VII: The Force Awakens,6,2015-12-18,"306,000,000.0","936,662,225.0","2,053,311,220.0",2015,"1,747,311,220.0",5.710167385620915,NaN,NaN,nan,nan,NaN
Avengers: Infinity War,7,2018-04-27,"300,000,000.0","678,815,482.0","2,048,134,200.0",2018,"1,748,134,200.0",5.827114,tt4154756,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"
Jurassic World,34,2015-06-12,"215,000,000.0","652,270,625.0","1,648,854,864.0",2015,"1,433,854,864.0",6.669092390697674,tt0369610,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
Furious 7,67,2015-04-03,"190,000,000.0","353,007,020.0","1,518,722,794.0",2015,"1,328,722,794.0",6.9932778631578945,tt2820852,Furious Seven,2015,137.0,"Action,Crime,Thriller"
The Avengers,27,2012-05-04,"225,000,000.0","623,279,547.0","1,517,935,897.0",2012,"1,292,935,897.0",5.746381764444444,tt0848228,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi"
Avengers: Age of Ultron,4,2015-05-01,"330,600,000.0","459,005,868.0","1,403,013,963.0",2015,"1,072,413,963.0",3.2438413883847548,tt2395427,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi"
Black Panther,42,2018-02-16,"200,000,000.0","700,059,566.0","1,348,258,224.0",2018,"1,148,258,224.0",5.74129112,tt1825683,Black Panther,2018,134.0,"Action,Adventure,Sci-Fi"
Harry Potter and the Deathly Hallows: Part II,61,2011-07-15,"125,000,000.0","381,193,157.0","1,341,693,157.0",2011,"1,216,693,157.0",9.733545256,NaN,NaN,nan,nan,NaN
Star Wars Ep. VIII: The Last Jedi,5,2017-12-15,"317,000,000.0","620,181,382.0","1,316,721,747.0",2017,"999,721,747.0",3.1536963627760253,NaN,NaN,nan,nan,NaN
Jurassic World: Fallen Kingdom,13,2018-06-22,"170,000,000.0","417,719,760.0","1,305,772,799.0",2018,"1,135,772,799.0",6.681016464705882,tt4881806,Jurassic World: Fallen Kingdom,2018,128.0,"Action,Adventure,Sci-Fi"
Frozen,56,2013-11-22,"150,000,000.0","400,738,009.0","1,272,469,910.0",2013,"1,122,469,910.0",7.483132733333333,tt2294629,Frozen,2013,102.0,"Adventure,Animation,Comedy"
Frozen,56,2013-11-22,"150,000,000.0","400,738,009.0","1,272,469,910.0",2013,"1,122,469,910.0",7.483132733333333,tt1611845,Wai nei chung ching,201,92.0,"Fantasy,Romance"
Frozen,56,2013-11-22,"150,000,000.0","400,738,009.0","1,272,469,910.0",2013,"1,122,469,910.0",7.483132733333333,tt1323045,Frozen,201,93.0,"Adventure,Drama,Sport"
Beauty and the Beast,35,2017-03-17,"160,000,000.0","504,014,165.0","1,259,199,706.0",2017,"1,099,199,706.0",6.8699981625,tt2771200,Beauty and the Beast,2017,129.0,"Family,Fantasy,Musical"
Beauty and the Beast,35,2017-03-17,"160,000,000.0","504,014,165.0","1,259,199,706.0",2017,"1,099,199,706.0",6.8699981625,tt9173998,Beauty and the Beast,2018,60.0,"Family,Fantasy,Musical"
Beauty and the Beast,35,2017-03-17,"160,000,000.0","504,014,165.0","1,259,199,706.0",2017,"1,099,199,706.0",6.8699981625,tt2316801,La belle et la bête,2014,112.0,"Drama,Fantasy,Romance"
Incredibles 2,44,2018-06-15,"200,000,000.0","608,581,744.0","1,242,520,711.0",2018,"1,042,520,711.0",5.212603555,tt3606756,Incredibles 2,2018,118.0,"Action,Adventure,Animation"
The Fate of the Furious,23,2017-04-14,"250,000,000.0","225,764,765.0","1,234,846,267.0",2017,"984,846,267.0",3.939385068,tt4630562,The Fate of the Furious,2017,136.0,"Action,Crime,Thriller"
Iron Man 3,48,2013-05-03,"200,000,000.0","408,992,272.0","1,215,392,272.0",2013,"1,015,392,272.0",5.07696136,tt1300854,Iron Man Three,2013,130.0,"Action,Adventure,Sci-Fi"
Minions,73,2015-07-10,"74,000,000.0","336,045,770.0","1,160,336,173.0",2015,"1,086,336,173.0",14.680218554054054,tt2293640,Minions,2015,91.0,"Adventure,Animation,Comedy"
Aquaman,36,2018-12-21,"160,000,000.0","335,061,807.0","1,146,894,640.0",2018,"986,894,640.0",6.1680915,tt1477834,Aquaman,2018,143.0,"Action,Adventure,Fantasy"
The Lord of the Rings: The Return of the King,26,2003-12-17,"94,000,000.0","377,845,905.0","1,141,403,341.0",2003,"1,047,403,341.0",11.142588734042553,NaN,NaN,nan,nan,NaN
Captain America: Civil War,17,2016-05-06,"250,000,000.0","408,084,349.0","1,140,069,413.0",2016,"890,069,413.0",3.560277652,tt3498820,Captain America: Civil War,2016,147.0,"Action,Adventure,Sci-Fi"
Transformers: Dark of the Moon,64,2011-06-29,"195,000,000.0","352,390,543.0","1,123,790,543.0",2011,"928,790,543.0",4.763028425641026,tt1399103,Transformers: Dark of the Moon,2011,154.0,"Action,Adventure,Sci-Fi"
Captain Marvel,96,2019-03-08,"175,000,000.0","426,525,952.0","1,123,061,550.0",2019,"948,061,550.0",5.417494571428572,tt4154664,Captain Marvel,2019,123.0,"Action,Adventure,Sci-Fi"
Skyfall,52,2012-11-08,"200,000,000.0","304,360,277.0","1,110,526,981.0",2012,"910,526,981.0",4.552634905,tt1074638,Skyfall,2012,143.0,"Action,Adventure,Thriller"
Transformers: Age of Extinction,37,2014-06-27,"210,000,000.0","245,439,076.0","1,104,039,076.0",2014,"894,039,076.0",4.2573289333333335,tt2109248,Transformers: Age of Extinction,2014,165.0,"Action,Adventure,Sci-Fi"
The Dark Knight Rises,11,2012-07-20,"275,000,000.0","448,139,099.0","1,084,439,099.0",2012,"809,439,099.0",2.9434149054545453,tt1345836,The Dark Knight Rises,2012,164.0,"Action,Thriller"
Toy Story 3,47,2010-06-18,"200,000,000.0","415,004,880.0","1,068,879,522.0",2010,"868,879,522.0",4.34439761,tt0435761,Toy Story 3,201,103.0,"Adventure,Animation,Comedy"
Pirates of the Caribbean: Dead Manâs Chest,28,2006-07-07,"225,000,000.0","423,315,812.0","1,066,215,812.0",2006,"841,215,812.0",3.7387369422222223,NaN,NaN,nan,nan,NaN
Rogue One: A Star Wars Story,45,2016-12-16,"200,000,000.0","532,177,324.0","1,049,102,856.0",2016,"849,102,856.0",4.24551428,tt3748528,Rogue One,2016,133.0,"Action,Adventure,Sci-Fi"
Pirates of the Caribbean: On Stranger Tides,2,2011-05-20,"410,600,000.0","241,063,875.0","1,045,663,875.0",2011,"635,063,875.0",1.5466728567949342,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,136.0,"Action,Adventure,Fantasy"
Jurassic Park,25,1993-06-11,"63,000,000.0","395,708,305.0","1,038,812,584.0",1993,"975,812,584.0",15.489088634920634,NaN,NaN,nan,nan,NaN
Despicable Me 3,30,2017-06-30,"75,000,000.0","264,624,300.0","1,034,727,750.0",2017,"959,727,750.0",12.79637,tt3469046,Despicable Me 3,2017,89.0,"Adventure,Animation,Comedy"
Star Wars Ep. I: The Phantom Menace,4,1999-05-19,"115,000,000.0","474,544,677.0","1,027,044,677.0",1999,"912,044,677.0",7.93082327826087,NaN,NaN,nan,nan,NaN
Alice in Wonderland,51,2010-03-05,"200,000,000.0","334,191,110.0","1,025,491,110.0",2010,"825,491,110.0",4.12745555,tt2049386,Alice in Wonderland,201,99.0,"Fantasy,Musical"
Alice in Wonderland,51,2010-03-05,"200,000,000.0","334,191,110.0","1,025,491,110.0",2010,"825,491,110.0",4.12745555,tt1926979,Alice in Wonderland,2011,48.0,Documentary
Alice in Wonderland,51,2010-03-05,"200,000,000.0","334,191,110.0","1,025,491,110.0",2010,"825,491,110.0",4.12745555,tt1014759,Alice in Wonderland,201,108.0,"Adventure,Family,Fantasy"
Finding Dory,46,2016-06-17,"200,000,000.0","486,295,561.0","1,021,215,193.0",2016,"821,215,193.0",4.106075965,tt2277860,Finding Dory,2016,97.0,"Adventure,Animation,Comedy"
Zootopia,57,2016-03-04,"150,000,000.0","341,268,248.0","1,019,429,616.0",2016,"869,429,616.0",5.79619744,tt2948356,Zootopia,2016,108.0,"Adventure,Animation,Comedy"
The Hobbit: An Unexpected Journey,19,2012-12-14,"250,000,000.0","303,003,568.0","1,017,003,568.0",2012,"767,003,568.0",3.068014272,tt0903624,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy"
The Dark Knight,75,2008-07-18,"185,000,000.0","533,720,947.0","1,001,996,207.0",2008,"816,996,207.0",4.416195713513513,NaN,NaN,nan,nan,NaN
The Lion King,9,1994-06-15,"79,300,000.0","421,785,283.0","986,214,868.0",1994,"906,914,868.0",11.43650527112232,tt6105098,The Lion King,2019,nan,"Adventure,Animation,Drama"
Despicable Me 2,22,2013-07-03,"76,000,000.0","368,065,385.0","975,216,835.0",2013,"899,216,835.0",11.831800460526315,tt1690953,Despicable Me 2,2013,98.0,"Adventure,Animation,Comedy"
Harry Potter and the Sorcererâs Stone,63,2001-11-16,"125,000,000.0","317,871,467.0","975,047,606.0",2001,"850,047,606.0",6.800380848,NaN,NaN,nan,nan,NaN
Jumanji: Welcome to the Jungle,38,2017-12-20,"90,000,000.0","404,508,916.0","964,496,193.0",2017,"874,496,193.0",9.716624366666666,tt2283362,Jumanji: Welcome to the Jungle,2017,119.0,"Action,Adventure,Comedy"
Pirates of the Caribbean: At Worldâs End,8,2007-05-24,"300,000,000.0","309,420,425.0","963,420,425.0",2007,"663,420,425.0",2.2114014166666665,NaN,NaN,nan,nan,NaN
The Jungle Book,97,2016-04-15,"175,000,000.0","364,001,123.0","962,854,547.0",2016,"787,854,547.0",4.502025982857143,tt2226178,The Jungle Book,2014,64.0,Animation
The Jungle Book,97,2016-04-15,"175,000,000.0","364,001,123.0","962,854,547.0",2016,"787,854,547.0",4.502025982857143,tt3040964,The Jungle Book,2016,106.0,"Adventure,Drama,Family"
Harry Potter and the Deathly Hallows: Part I,64,2010-11-19,"125,000,000.0","296,131,568.0","960,431,568.0",2010,"835,431,568.0",6.683452544,NaN,NaN,nan,nan,NaN
The Hobbit: The Desolation of Smaug,21,2013-12-13,"250,000,000.0","258,366,855.0","960,366,855.0",2013,"710,366,855.0",2.84146742,tt1170358,The Hobbit: The Desolation of Smaug,2013,161.0,"Adventure,Fantasy"
The Hobbit: The Battle of the Five Armies,22,2014-12-17,"250,000,000.0","255,119,788.0","945,577,621.0",2014,"695,577,621.0",2.782310484,tt2310332,The Hobbit: The Battle of the Five Armies,2014,144.0,"Adventure,Fantasy"
Harry Potter and the Order of the Phoenix,58,2007-07-11,"150,000,000.0","292,137,260.0","943,076,457.0",2007,"793,076,457.0",5.28717638,NaN,NaN,nan,nan,NaN
Shrek 2,93,2004-05-19,"70,000,000.0","441,226,247.0","937,008,132.0",2004,"867,008,132.0",12.385830457142857,NaN,NaN,nan,nan,NaN
Finding Nemo,25,2003-05-30,"94,000,000.0","380,529,370.0","936,429,370.0",2003,"842,429,370.0",8.962014574468085,NaN,NaN,nan,nan,NaN
Harry Potter and the Half-Blood Prince,20,2009-07-15,"250,000,000.0","302,089,278.0","935,213,767.0",2009,"685,213,767.0",2.740855068,NaN,NaN,nan,nan,NaN
The Lord of the Rings: The Two Towers,27,2002-12-18,"94,000,000.0","342,548,984.0","934,699,645.0",2002,"840,699,645.0",8.94361324468085,NaN,NaN,nan,nan,NaN
Harry Potter and the Goblet of Fire,59,2005-11-18,"150,000,000.0","290,201,752.0","897,099,794.0",2005,"747,099,794.0",4.980665293333334,NaN,NaN,nan,nan,NaN
Bohemian Rhapsody,84,2018-11-02,"55,000,000.0","216,303,339.0","894,985,342.0",2018,"839,985,342.0",15.272460763636364,tt1727824,Bohemian Rhapsody,2018,134.0,"Biography,Drama,Music"
Spider-Man 3,16,2007-05-04,"258,000,000.0","336,530,303.0","894,860,230.0",2007,"636,860,230.0",2.468450503875969,NaN,NaN,nan,nan,NaN
The Lord of the Rings: The Fellowship of the Ring,43,2001-12-19,"109,000,000.0","315,544,750.0","887,210,985.0",2001,"778,210,985.0",7.139550321100917,NaN,NaN,nan,nan,NaN
The Secret Life of Pets,26,2016-07-08,"75,000,000.0","368,384,330.0","886,750,534.0",2016,"811,750,534.0",10.823340453333333,tt2709768,The Secret Life of Pets,2016,87.0,"Adventure,Animation,Comedy"
Spider-Man: Homecoming,99,2017-07-07,"175,000,000.0","334,201,140.0","880,166,350.0",2017,"705,166,350.0",4.029522,tt2250912,Spider-Man: Homecoming,2017,133.0,"Action,Adventure,Sci-Fi"
Ice Age: Continental Drift,14,2012-07-13,"95,000,000.0","161,321,843.0","879,765,137.0",2012,"784,765,137.0",8.26068565263158,tt1667889,Ice Age: Continental Drift,2012,88.0,"Adventure,Animation,Comedy"
Spectre,10,2015-11-06,"300,000,000.0","200,074,175.0","879,620,923.0",2015,"579,620,923.0",1.9320697433333334,tt2379713,Spectre,2015,148.0,"Action,Adventure,Thriller"
Harry Potter and the Chamber of Secrets,64,2002-11-15,"100,000,000.0","262,233,381.0","879,225,135.0",2002,"779,225,135.0",7.79225135,NaN,NaN,nan,nan,NaN
Batman v Superman: Dawn of Justice,18,2016-03-25,"250,000,000.0","330,360,194.0","867,500,281.0",2016,"617,500,281.0",2.470001124,tt2975590,Batman v Superman: Dawn of Justice,2016,151.0,"Action,Adventure,Fantasy"
The Hunger Games: Catching Fire,38,2013-11-22,"130,000,000.0","424,668,047.0","864,868,047.0",2013,"734,868,047.0",5.652831130769231,tt1951264,The Hunger Games: Catching Fire,2013,146.0,"Action,Adventure,Sci-Fi"
Guardians of the Galaxy Vol 2,49,2017-05-05,"200,000,000.0","389,813,101.0","862,316,233.0",2017,"662,316,233.0",3.311581165,NaN,NaN,nan,nan,NaN
Ice Age: Dawn of the Dinosaurs,43,2009-07-01,"90,000,000.0","196,573,705.0","859,701,857.0",2009,"769,701,857.0",8.552242855555555,NaN,NaN,nan,nan,NaN
Inside Out,98,2015-06-19,"175,000,000.0","356,461,711.0","854,235,992.0",2015,"679,235,992.0",3.881348525714286,tt1640486,Inside Out,2011,93.0,"Crime,Drama"
Inside Out,98,2015-06-19,"175,000,000.0","356,461,711.0","854,235,992.0",2015,"679,235,992.0",3.881348525714286,tt2096673,Inside Out,2015,95.0,"Adventure,Animation,Comedy"
Inside Out,98,2015-06-19,"175,000,000.0","356,461,711.0","854,235,992.0",2015,"679,235,992.0",3.881348525714286,tt1865538,"Ti mesa, ti exo...",2011,74.0,Documentary
Inside Out,98,2015-06-19,"175,000,000.0","356,461,711.0","854,235,992.0",2015,"679,235,992.0",3.881348525714286,tt2064820,Inside Out,2011,nan,Drama
Inside Out,98,2015-06-19,"175,000,000.0","356,461,711.0","854,235,992.0",2015,"679,235,992.0",3.881348525714286,tt2071483,Inside Out,2011,59.0,Family
Inside Out,98,2015-06-19,"175,000,000.0","356,461,711.0","854,235,992.0",2015,"679,235,992.0",3.881348525714286,tt8269544,Inside Out,2018,nan,NaN
Inside Out,98,2015-06-19,"175,000,000.0","356,461,711.0","854,235,992.0",2015,"679,235,992.0",3.881348525714286,tt6419446,Inside Out,2011,nan,NaN
Inside Out,98,2015-06-19,"175,000,000.0","356,461,711.0","854,235,992.0",2015,"679,235,992.0",3.881348525714286,tt2608638,Inside Out,2013,75.0,"Biography,Documentary,History"
Venom,3,2018-10-05,"116,000,000.0","213,511,408.0","853,628,605.0",2018,"737,628,605.0",6.358867284482758,tt1931601,Venom,2011,92.0,Thriller
Venom,3,2018-10-05,"116,000,000.0","213,511,408.0","853,628,605.0",2018,"737,628,605.0",6.358867284482758,tt1270797,Venom,2018,112.0,"Action,Sci-Fi,Thriller"
Star Wars Ep. III: Revenge of the Sith,5,2005-05-19,"115,000,000.0","380,270,577.0","848,998,877.0",2005,"733,998,877.0",6.382598930434782,NaN,NaN,nan,nan,NaN
Thor: Ragnarok,82,2017-11-03,"180,000,000.0","315,058,289.0","846,980,024.0",2017,"666,980,024.0",3.7054445777777776,tt3501632,Thor: Ragnarok,2017,130.0,"Action,Adventure,Comedy"
Transformers: Revenge of the Fallen,36,2009-06-24,"210,000,000.0","402,111,870.0","836,519,699.0",2009,"626,519,699.0",2.983427138095238,NaN,NaN,nan,nan,NaN
Inception,38,2010-07-16,"160,000,000.0","292,576,195.0","835,524,642.0",2010,"675,524,642.0",4.2220290125,tt1375666,Inception,201,148.0,"Action,Adventure,Sci-Fi"
"The Twilight Saga: Breaking Dawn, Part 2",25,2012-11-16,"136,200,000.0","292,324,737.0","829,724,737.0",2012,"693,524,737.0",5.0919584214390605,NaN,NaN,nan,nan,NaN
Spider-Man,19,2002-05-03,"139,000,000.0","403,706,375.0","821,706,375.0",2002,"682,706,375.0",4.911556654676259,NaN,NaN,nan,nan,NaN
Wonder Woman,55,2017-06-02,"150,000,000.0","412,563,408.0","821,133,378.0",2017,"671,133,378.0",4.47422252,tt4283448,Wonder Woman,2016,75.0,"Documentary,Drama,Sport"
Wonder Woman,55,2017-06-02,"150,000,000.0","412,563,408.0","821,133,378.0",2017,"671,133,378.0",4.47422252,tt0451279,Wonder Woman,2017,141.0,"Action,Adventure,Fantasy"
Wonder Woman,55,2017-06-02,"150,000,000.0","412,563,408.0","821,133,378.0",2017,"671,133,378.0",4.47422252,tt4028068,Wonder Woman,2014,60.0,Sci-Fi
Independence Day,27,1996-07-02,"75,000,000.0","306,169,255.0","817,400,878.0",1996,"742,400,878.0",9.898678373333333,NaN,NaN,nan,nan,NaN
Shrek the Third,37,2007-05-17,"160,000,000.0","322,719,944.0","807,330,936.0",2007,"647,330,936.0",4.04581835,NaN,NaN,nan,nan,NaN
Fantastic Beasts and Where to Find Them,85,2016-11-18,"180,000,000.0","234,037,575.0","802,402,853.0",2016,"622,402,853.0",3.457793627777778,tt3183660,Fantastic Beasts and Where to Find Them,2016,132.0,"Adventure,Family,Fantasy"
Deadpool,56,2016-02-12,"58,000,000.0","363,070,709.0","801,025,593.0",2016,"743,025,593.0",12.810786086206896,tt1431045,Deadpool,2016,108.0,"Action,Adventure,Comedy"
Coco,2,2017-11-22,"175,000,000.0","209,726,015.0","798,008,101.0",2017,"623,008,101.0",3.5600462914285713,tt10453328,Coco,2018,nan,NaN
Coco,2,2017-11-22,"175,000,000.0","209,726,015.0","798,008,101.0",2017,"623,008,101.0",3.5600462914285713,tt2380307,Coco,2017,105.0,"Adventure,Animation,Comedy"
Coco,2,2017-11-22,"175,000,000.0","209,726,015.0","798,008,101.0",2017,"623,008,101.0",3.5600462914285713,tt7002100,Coco,2017,98.0,Horror
Harry Potter and the Prisoner of Azkaban,39,2004-06-04,"130,000,000.0","249,757,726.0","796,907,323.0",2004,"666,907,323.0",5.13005633076923,NaN,NaN,nan,nan,NaN

In [ ]:
#Problems to address: Lots of duplicates. Avatar merged with a horror movie. 
#start_year needs to be changed to datetime. not a lot of genre information.

In [ ]:
#Plan of attack: Clean up the data that I've got. Attempt to merge in table2.

In [176]:
start_year = df1['start_year']
start_year

#Horror                      2,015.0
(500) Days of Summer             nan
10 Cloverfield Lane          2,016.0
10 Days in a Madhouse        2,015.0
10 Things I Hate About You       nan
                               ...
mother!                          nan
xXx                              nan
xXx: Return of Xander Cage   2,017.0
Ã l\'intÃ©rieur                  nan
é·æ±ä¸è (CJ7)               nan
Name: start_year, Length: 7221, dtype: float64

In [177]:
cleaned_start_year = start_year.astype(str)
cleaned_start_year

#Horror                       2015.0
(500) Days of Summer             nan
10 Cloverfield Lane           2016.0
10 Days in a Madhouse         2015.0
10 Things I Hate About You       nan
                               ...
mother!                          nan
xXx                              nan
xXx: Return of Xander Cage    2017.0
Ã l\'intÃ©rieur                  nan
é·æ±ä¸è (CJ7)               nan
Name: start_year, Length: 7221, dtype: object

In [179]:
cleaned_start_year_2 = cleaned_start_year.str.rstrip('.0')
cleaned_start_year_2

#Horror                       2015
(500) Days of Summer           nan
10 Cloverfield Lane           2016
10 Days in a Madhouse         2015
10 Things I Hate About You     nan
                              ...
mother!                        nan
xXx                            nan
xXx: Return of Xander Cage    2017
Ã l\'intÃ©rieur                nan
é·æ±ä¸è (CJ7)             nan
Name: start_year, Length: 7221, dtype: object

In [183]:
cleaned_start_year_2.astype(str)

#Horror                       2015
(500) Days of Summer           nan
10 Cloverfield Lane           2016
10 Days in a Madhouse         2015
10 Things I Hate About You     nan
                              ...
mother!                        nan
xXx                            nan
xXx: Return of Xander Cage    2017
Ã l\'intÃ©rieur                nan
é·æ±ä¸è (CJ7)             nan
Name: start_year, Length: 7221, dtype: object

In [184]:
df1['start_year']=cleaned_start_year_2
df1

,id,release_date,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,original_title,start_year,runtime_minutes,genres
#Horror,16,2015-11-20,"1,500,000.0",0.0,0.0,2015,"-1,500,000.0",-1.0,tt3526286,#Horror,2015,101.0,"Crime,Drama,Horror"
(500) Days of Summer,55,2009-07-17,"7,500,000.0","32,425,665.0","34,439,060.0",2009,"26,939,060.0",3.5918746666666665,NaN,NaN,nan,nan,NaN
10 Cloverfield Lane,54,2016-03-11,"5,000,000.0","72,082,999.0","108,286,422.0",2016,"103,286,422.0",20.6572844,tt1179933,10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery"
10 Days in a Madhouse,48,2015-11-11,"12,000,000.0","14,616.0","14,616.0",2015,"-11,985,384.0",-0.998782,tt3453052,10 Days in a Madhouse,2015,111.0,Drama
10 Things I Hate About You,63,1999-03-31,"13,000,000.0","38,177,966.0","60,413,950.0",1999,"47,413,950.0",3.647226923076923,NaN,NaN,nan,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
mother!,59,2017-09-15,"30,000,000.0","17,800,004.0","42,531,076.0",2017,"12,531,076.0",0.41770253333333335,NaN,NaN,nan,nan,NaN
xXx,98,2002-08-09,"70,000,000.0","141,930,000.0","267,200,000.0",2002,"197,200,000.0",2.817142857142857,NaN,NaN,nan,nan,NaN
xXx: Return of Xander Cage,15,2017-01-20,"85,000,000.0","44,898,413.0","345,033,359.0",2017,"260,033,359.0",3.059215988235294,tt1293847,xXx: Return of Xander Cage,2017,107.0,"Action,Adventure,Thriller"
Ã l\'intÃ©rieur,57,2008-04-15,"3,000,000.0",0.0,"895,932.0",2008,"-2,104,068.0",-0.701356,NaN,NaN,nan,nan,NaN
é·æ±ä¸è (CJ7),2,2008-03-07,"20,000,000.0","206,678.0","47,300,771.0",2008,"27,300,771.0",1.36503855,NaN,NaN,nan,nan,NaN

In [199]:
#set alias for each table so that it is easier to use them.
table1 = tables['imdb_title_crew_csv_gz']
table2 = tables['tmdb_movies_csv_gz']
table3 = tables['imdb_title_akas_csv_gz']
table4 = tables['imdb_title_ratings_csv_gz']
table5 = tables['imdb_name_basics_csv_gz']
table6 = tables['rt_reviews_tsv_gz']
table7 = tables['imdb_title_basics_csv_gz']
table8 = tables['rt_movie_info_tsv_gz']
table9 = tables['tn_movie_budgets_csv_gz']
table10 = tables['bom_movie_gross_csv_gz']
table11 = tables['imdb_title_principals_csv_gz']

In [203]:
df2 = pd.merge(table1, table4, left_on= 'tconst', right_on= 'tconst')
df2

,tconst,directors,writers,averagerating,numvotes
0,tt0285252,nm0899854,nm0899854,3.9,219
1,tt0462036,nm1940585,nm1940585,5.5,18
2,tt0835418,nm0151540,"nm0310087,nm0841532",5.0,8147
3,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,5.8,875
4,tt0879859,nm2416460,NaN,6.8,21
...,...,...,...,...,...
73851,tt8947660,nm10097606,nm10097614,8.1,21
73852,tt8948614,"nm0827830,nm0839064",NaN,7.4,696
73853,tt8954732,nm0737517,"nm0076820,nm2997602",6.0,13993
73854,tt8991416,nm7731173,nm7731173,6.7,13
73855,tt9004986,nm4993825,nm4993825,8.4,7

In [204]:
df3 = pd.merge(table7, table11, left_on= 'tconst', right_on= 'tconst')
df3

,tconst,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",10,nm0006210,composer,NaN,NaN
1,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",1,nm0474801,actor,NaN,"[""Kundan S. Prasad"",""Bajrangi""]"
2,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",2,nm0904537,actress,NaN,"[""Munni"",""Laila-E-Aasmaan""]"
3,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",3,nm0756379,actor,NaN,"[""Ganeshi N. Prasad""]"
4,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",4,nm0474876,actor,NaN,"[""Dwarka N. Prasad""]"
...,...,...,...,...,...,...,...,...,...,...
1028181,tt9916754,Chico Albuquerque - Revelações,2013,nan,Documentary,5,nm9272490,director,supervising director,NaN
1028182,tt9916754,Chico Albuquerque - Revelações,2013,nan,Documentary,6,nm8349149,director,co-director,NaN
1028183,tt9916754,Chico Albuquerque - Revelações,2013,nan,Documentary,7,nm9272489,cinematographer,NaN,NaN
1028184,tt9916754,Chico Albuquerque - Revelações,2013,nan,Documentary,8,nm10538638,cinematographer,NaN,NaN
1028185,tt9916754,Chico Albuquerque - Revelações,2013,nan,Documentary,9,nm10538635,cinematographer,NaN,NaN

In [205]:
df4 =pd.merge(df2, df3, left_on= 'tconst', right_on= 'tconst')
df4

,tconst,directors,writers,averagerating,numvotes,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
0,tt0285252,nm0899854,nm0899854,3.9,219,Life's a Beach,2012,100.0,Comedy,10,nm1077681,composer,NaN,NaN
1,tt0285252,nm0899854,nm0899854,3.9,219,Life's a Beach,2012,100.0,Comedy,1,nm0960950,actor,NaN,"[""Darren Fields""]"
2,tt0285252,nm0899854,nm0899854,3.9,219,Life's a Beach,2012,100.0,Comedy,2,nm0461311,actor,NaN,"[""RJ""]"
3,tt0285252,nm0899854,nm0899854,3.9,219,Life's a Beach,2012,100.0,Comedy,3,nm0000686,actor,NaN,"[""Roy Callahan""]"
4,tt0285252,nm0899854,nm0899854,3.9,219,Life's a Beach,2012,100.0,Comedy,4,nm0001822,actor,NaN,"[""Tom Wald""]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629750,tt9004986,nm4993825,nm4993825,8.4,7,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,5,nm4993825,director,NaN,NaN
629751,tt9004986,nm4993825,nm4993825,8.4,7,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,6,nm9008590,producer,producer,NaN
629752,tt9004986,nm4993825,nm4993825,8.4,7,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,7,nm1145570,composer,NaN,NaN
629753,tt9004986,nm4993825,nm4993825,8.4,7,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,8,nm0461754,cinematographer,NaN,NaN
629754,tt9004986,nm4993825,nm4993825,8.4,7,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,9,nm6197807,cinematographer,NaN,NaN

In [211]:
df4 = df4.drop_duplicates('original_title', keep='first')

In [213]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70944 entries, 0 to 629745
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           70944 non-null  object
 1   directors        70368 non-null  object
 2   writers          60791 non-null  object
 3   averagerating    70944 non-null  float64
 4   numvotes         70944 non-null  int64
 5   original_title   70944 non-null  object
 6   start_year       70944 non-null  int64
 7   runtime_minutes  63654 non-null  float64
 8   genres           70246 non-null  object
 9   ordering         70944 non-null  int64
 10  nconst           70944 non-null  object
 11  category         70944 non-null  object
 12  job              7883 non-null   object
 13  characters       26953 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 8.1+ MB

In [212]:
df4.sort_values('original_title', ascending=True).head(100)

,tconst,directors,writers,averagerating,numvotes,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
3802,tt2346170,nm0950956,nm1880240,5.6,40,#1 Serial Killer,2013,87.0,Horror,10,nm0947510,editor,NaN,NaN
272939,tt3120962,nm5361948,nm5361948,6.8,6,#5,2013,68.0,"Biography,Comedy,Fantasy",1,nm5361948,actor,NaN,"[""Ricky Bardy""]"
626374,tt5255986,nm1272505,"nm3227459,nm1272505",5.3,18,#66,2015,116.0,Action,10,nm6348854,editor,NaN,NaN
618511,tt7853996,"nm8680614,nm8680613,nm0479471",NaN,8.3,21,#ALLMYMOVIES,2015,nan,Documentary,1,nm0479471,self,NaN,"[""Himself""]"
584307,tt9844890,nm1519998,nm10506373,6.6,8,#AbroHilo,2019,52.0,Documentary,1,nm5084084,self,NaN,"[""Himself""]"
530073,tt6170868,nm4836280,nm4836280,7.4,23,#BKKY,2016,75.0,Drama,1,nm8527263,actress,NaN,NaN
253747,tt5074174,nm1640045,NaN,9.0,31,#BeRobin the Movie,2015,41.0,Documentary,10,nm0492548,self,NaN,"[""Herself""]"
451340,tt4353986,nm3874566,nm3874566,5.3,18,#Beings,2015,56.0,Thriller,1,nm5565985,actor,NaN,"[""Demon""]"
311045,tt6856592,nm5381703,nm5486914,2.8,212,#Captured,2017,81.0,Thriller,10,nm5233219,production_designer,NaN,NaN
463137,tt5803530,nm0891254,nm1966373,6.2,19,#DigitalLivesMatter,2016,nan,Comedy,10,nm8211622,producer,producer,NaN
173752,tt4902162,nm2656319,nm4490256,8.8,5,#Disneyland60,2015,45.0,Documentary,1,nm2656319,actress,NaN,"[""Narrator""]"
112300,tt5460468,nm7087918,nm5287967,2.4,7,#Enough,2015,nan,Drama,10,nm7087916,editor,NaN,NaN
570718,tt5797822,nm7385963,"nm8208181,nm7385963",6.8,13,#EradosGigantes,2017,122.0,Documentary,10,nm8218162,cinematographer,director of photography,NaN
440845,tt4375578,nm4078209,NaN,7.3,6,#Ewankosau saranghaeyo,2015,110.0,Drama,10,nm0349412,actor,NaN,NaN
267144,tt8372826,nm1140487,nm1140487,7.6,274,#Female Pleasure,2018,97.0,Documentary,10,nm1086137,cinematographer,NaN,NaN
431138,tt5233106,nm3026436,"nm6865794,nm5707200,nm3026436",2.8,186,#FollowFriday,2016,90.0,Thriller,10,nm3622340,cinematographer,NaN,NaN
433480,tt7272948,nm9191327,nm9191327,4.7,88,#Followme,2019,90.0,"Horror,Thriller",1,nm3100601,actress,NaN,"[""Sophie""]"
412475,tt5610972,nm8050951,nm8050951,8.5,6,#Hommes: True Story of the Thieves' World,2015,134.0,Documentary,10,nm8050955,actor,NaN,NaN
527531,tt3526286,nm0836964,nm0836964,3.0,3092,#Horror,2015,101.0,"Crime,Drama,Horror",10,nm7724675,composer,NaN,NaN
20543,tt2538204,nm1448832,"nm1452761,nm4493506",5.1,425,#Lucky Number,2015,80.0,Comedy,10,nm0449072,editor,NaN,NaN
415689,tt10284716,nm7698601,nm10318913,5.7,11,#Malam Jumat: The Movie,2019,91.0,Horror,10,nm9614943,editor,NaN,NaN
389868,tt3524032,nm6280685,"nm3311620,nm2035223",2.9,209,#Nerealnaya lyubov,2014,nan,"Comedy,Romance",10,nm1168024,cinematographer,NaN,NaN
296171,tt3950838,nm1389536,nm1389536,9.2,66,#O2LForever,2015,95.0,"Biography,Documentary,Music",10,nm1519854,editor,NaN,NaN
189643,tt9742906,nm10256497,"nm3551048,nm3794207,nm10549872,nm10256497",8.6,10,#Powerplant,2019,61.0,Documentary,10,nm7307516,producer,producer,NaN
560292,tt6119504,nm1130190,"nm1393214,nm1537777,nm2434433",5.2,4430,#REALITYHIGH,2017,99.0,"Comedy,Drama,Romance",10,nm0649507,producer,producer,NaN
536655,tt3184026,nm5595373,"nm1800447,nm4650038,nm5595373",5.0,14,#Realmovie,2013,62.0,"Drama,Thriller",1,nm1800447,actress,NaN,"[""Rocío Binoff""]"
6235,tt5646082,nm0448225,nm5224467,5.8,128,#Roxy,2018,105.0,"Comedy,Romance",10,nm0819395,cinematographer,director of photography,NaN
62993,tt6475636,nm2346384,"nm2346384,nm1394485",5.4,33,#Rucker50,2016,56.0,Documentary,1,nm2346384,director,NaN,NaN
592950,tt5531032,nm1324090,"nm0540176,nm1324090",4.6,730,#Screamers,2016,85.0,"Horror,Mystery",1,nm0540176,actor,NaN,"[""Tom Brennan""]"
201511,tt6260342,nm1847677,nm6665754,5.1,458,#Selfi,2018,112.0,Thriller,10,nm1743787,composer,NaN,NaN
230068,tt5335198,nm2463500,nm7845688,5.3,250,#Selfieparty,2016,90.0,"Action,Comedy,Thriller",10,nm4853329,cinematographer,NaN,NaN
556146,tt3428892,"nm0994402,nm1895237,nm2467575,nm6260414,nm5084...","nm5084084,nm3341086,nm1748924,nm5595047,nm5445...",6.9,14,#Sequence,2013,63.0,"Comedy,Drama,Family",10,nm3341086,director,NaN,NaN
403614,tt6712730,nm8885358,"nm8885358,nm1059394",6.6,5,#Single,2017,nan,Documentary,10,nm1060927,cinematographer,NaN,NaN
119400,tt5654204,nm6335258,nm6496623,7.5,24,#Slaughterhouse,2017,nan,"Action,Horror",10,nm7332609,producer,producer,NaN
46048,tt6565196,"nm8386512,nm7899270","nm7899270,nm8386512",7.2,8,#SodaCirque,2017,64.0,Documentary,10,nm5330009,composer,NaN,NaN
486689,tt6212476,nm2118270,"nm8556585,nm6237380,nm7938173",5.9,501,#Sohavégetnemérös,2016,90.0,"Comedy,Music",10,nm8556584,composer,NaN,NaN
605437,tt6540984,nm1876813,nm2578712,4.0,329,#SquadGoals,2018,90.0,"Drama,Thriller",10,nm3427078,cinematographer,director of photography,NaN
447851,tt2916468,nm5674629,"nm5674629,nm5674129",5.3,12,#Starvecrow,2017,89.0,"Drama,Thriller",10,nm5672799,editor,NaN,NaN
397030,tt2075318,nm0009803,"nm0009803,nm2104232,nm1377981",5.6,983,#Stuck,2014,82.0,"Comedy,Drama,Romance",10,nm1240544,production_designer,NaN,NaN
618362,tt7737176,"nm0479471,nm8680614,nm8680613",NaN,7.8,44,#TAKEMEANYWHERE,2018,44.0,"Adventure,Documentary",1,nm8680614,self,NaN,"[""Himself""]"
488036,tt8076266,nm1266812,"nm1345541,nm9664560,nm8531081,nm9106681",7.1,338,#TemanTapiMenikah,2018,102.0,"Biography,Drama",10,nm6355884,producer,producer,NaN
91043,tt5589314,nm1904053,nm1904053,7.7,7,#Twerkumentary,2016,60.0,Documentary,1,nm1904053,director,NaN,NaN
604544,tt6082646,"nm3264525,nm8456067",nm8958293,7.4,18,#Uploading_Holocaust,2016,75.0,"Documentary,History",1,nm3264525,director,NaN,NaN
276231,tt5293858,nm2758967,nm3040029,7.1,160,#Walang Forever,2015,119.0,"Comedy,Romance",10,nm0407180,editor,NaN,NaN
165365,tt5612148,nm1337374,"nm1337374,nm7055788",4.1,109,#WszystkoGra,2016,90.0,"Comedy,Musical",10,nm4591403,composer,NaN,NaN
547651,tt3887700,nm4378516,nm4502489,7.2,49,#Y,2014,100.0,Drama,10,nm4501850,producer,producer,NaN
473697,tt4990654,nm7559970,"nm7559970,nm6054834",8.6,7,#artoffline,2015,60.0,Documentary,10,nm4335448,cinematographer,NaN,NaN
509208,tt7230318,nm9186987,nm9186987,8.4,10,#babynymph,2016,80.0,"Drama,Thriller",10,nm9186970,producer,producer,NaN
77069,tt2607968,nm1764920,nm1764920,7.0,219,#chicagoGirl: The Social Network Takes on a Di...,2013,74.0,"Action,Biography,Documentary",10,nm1423462,editor,NaN,NaN
421634,tt5465684,nm7906979,"nm7906979,nm7906992",7.8,18,#direnayol,2016,60.0,Documentary,1,nm7906980,self,NaN,"[""Herself""]"
472848,tt4062604,nm6518944,nm6518944,4.9,28,#garotas: O Filme,2015,105.0,"Comedy,Drama",1,nm3862663,actress,NaN,"[""Beth""]"
76608,tt2477324,nm2272274,nm5399539,6.8,8,#iKllr,2014,95.0,"Horror,Thriller",10,nm3303482,editor,NaN,NaN
506472,tt3856118,"nm5286315,nm5287157",nm6623977,9.0,7,#standwithme,2014,73.0,"Biography,Crime,Documentary",1,nm5287157,director,NaN,NaN
270825,tt2118550,nm0107740,NaN,8.0,10,#whilewewatch,2011,39.0,"Documentary,News",10,nm4788633,cinematographer,NaN,NaN
204829,tt2106284,nm0343713,"nm0343713,nm0666388",6.8,1818,$50K and a Call Girl: A Love Story,2014,90.0,"Action,Adventure,Comedy",10,nm2389260,composer,NaN,NaN
163597,tt4004608,"nm4919215,nm4732329",nm4732329,3.5,101,$elfie Shootout,2016,86.0,Comedy,1,nm0093174,actor,NaN,"[""Chub""]"
149175,tt2258233,nm0563386,NaN,5.5,1001,$ellebrity,2012,89.0,Documentary,10,nm0357476,cinematographer,NaN,NaN
493953,tt4397606,nm5121630,nm5121630,6.4,16,$kumbagz,2015,71.0,"Crime,Thriller",1,nm5530274,actress,NaN,"[""Stephanie""]"
487426,tt7288662,nm4852399,nm6249106,6.5,13,& Jara Hatke,2016,110.0,"Drama,Family,Romance",10,nm6223815,cinematographer,NaN,NaN
437486,tt2332503,nm0355960,"nm0355960,nm2313458",5.3,192,&Me,2013,88.0,Romance,10,nm0576685,editor,NaN,NaN
506301,tt3503754,nm4276193,"nm5628268,nm0515766,nm4276193",8.8,26,'51 Dons,2014,nan,"Documentary,Sport",10,nm0004020,cinematographer,NaN,NaN
388071,tt2614684,nm1312919,nm2954373,7.2,46103,'71,2014,99.0,"Action,Drama,Thriller",10,nm0705377,cinematographer,NaN,NaN
513782,tt2385126,nm2339266,NaN,7.3,39,'76,2016,118.0,"Drama,Romance",1,nm9071885,actor,NaN,"[""Captain Mba""]"
580720,tt4417402,nm2115038,NaN,6.8,54,'85: The Greatest Team in Pro Football History,2016,90.0,Sport,10,nm1421061,cinematographer,NaN,NaN
244098,tt6912580,nm0149644,"nm0149644,nm5679512",5.0,323,'Chi chi' de ai,2017,91.0,"Comedy,Fantasy,Romance",10,nm2798269,producer,producer,NaN
583266,tt7834022,nm0104526,nm1258394,5.4,113,'He's Watching',2018,nan,Thriller,10,nm3726111,editor,NaN,NaN
64669,tt1234546,nm0697014,"nm0297538,nm0714272",5.8,442,'Master Harold' ... And the Boys,2010,87.0,Drama,10,nm0637811,producer,producer,NaN
293609,tt2787556,nm0299197,nm5586560,5.7,17,'Mata kanarazu aou' to daremoga itta.,2013,nan,Drama,10,nm0793562,actor,NaN,NaN
2722,tt2183864,nm3225574,nm3225574,5.7,7,'NORMAL ' (Real Stories from the sex industry),2012,65.0,"Biography,Drama,News",1,nm2695521,actress,NaN,"[""Candy""]"
145476,tt9308406,nm3462244,NaN,6.7,62,'Nu verandert er langzaam iets',2018,105.0,Documentary,1,nm3462244,director,NaN,NaN
387311,tt2409344,nm1760900,NaN,6.6,7,'Orsay,2012,nan,Documentary,1,nm0749222,actor,NaN,"[""Narrator""]"
604443,tt6054510,nm1035391,"nm1035391,nm3425340",8.1,12,'The Day of the Purple Sun': Part I,2017,68.0,Drama,1,nm3425340,actress,NaN,"[""Margarethe""]"
152688,tt4199762,nm3543802,nm3543802,6.0,8,'Til Love Comes,2014,78.0,"Comedy,Romance",1,nm4684532,actress,NaN,"[""Paris""]"
217881,tt2777190,nm3801289,nm3801289,7.0,9,'Til Morning,2013,57.0,"Drama,Family,Fantasy",1,nm1382799,actress,NaN,"[""Evie""]"
613364,tt4152328,nm0255615,nm0255615,7.4,39,'n Man Soos My Pa,2015,nan,Drama,1,nm5105990,actor,NaN,"[""Juan (2015)""]"
286045,tt4623202,nm0736496,"nm7275753,nm0736496",5.1,57,'n Pawpaw Vir My Darling,2015,nan,Comedy,10,nm7286252,production_designer,NaN,NaN
598514,tt2160051,nm2960065,"nm5157769,nm2960065",5.4,13,'n Saak van Geloof,2011,88.0,Drama,10,nm3287340,production_designer,NaN,NaN
86060,tt2405820,nm5282756,nm2159171,4.8,13,(09),2014,90.0,"Horror,Thriller",1,nm3593924,actress,NaN,NaN
592274,tt4872362,"nm7155805,nm6691012,nm6627239,nm7246155,nm7246...","nm7513044,nm7155807",5.6,5,(313) Choices,2015,90.0,Drama,10,nm6691012,director,NaN,NaN
511940,tt1811293,nm1308213,NaN,6.1,682,(A)sexual,2011,75.0,Documentary,10,nm3260240,editor,NaN,NaN
512920,tt2094744,nm4047008,"nm4047008,nm4046370",6.1,9,(AmI) Live,2011,84.0,"Drama,Horror,Mystery",1,nm2938146,actress,NaN,"[""Heather""]"
140496,tt3914332,nm1336595,nm1336595,6.2,1627,(Dean),2016,94.0,"Comedy,Drama,Romance",10,nm3521453,composer,NaN,NaN
623306,tt2630898,nm0577336,NaN,7.5,1831,(Dis)Honesty: The Truth About Lies,2015,90.0,"Documentary,Drama,News",1,nm4752551,self,NaN,"[""Himself""]"
45081,tt4938066,nm7013395,nm7013395,6.2,6,(IN) Diferentes,2016,nan,Comedy,1,nm7515136,actor,NaN,"[""Arturo""]"
241638,tt4874206,nm1970598,"nm1970598,nm6611534",6.9,3869,(M)uchenik,2016,118.0,Drama,10,nm5547532,composer,NaN,NaN
521671,tt1496374,nm3577687,NaN,7.7,10,(No) Laughing Matter,2010,55.0,"Comedy,Documentary",10,nm1385383,editor,NaN,NaN
12305,tt2794792,"nm5591142,nm1855334",nm1855334,3.3,34,(Q)üfür,2013,nan,Comedy,10,nm2596874,actor,NaN,NaN
493865,tt4370922,"nm4109871,nm4721448",NaN,6.6,710,(T)ERROR,2015,84.0,Documentary,10,nm2375440,editor,NaN,NaN
190693,tt1598691,nm3798130,"nm3799132,nm3798130,nm3797952",5.2,17,* Cemetery,2010,80.0,"Comedy,Horror,Thriller",1,nm3799306,actor,NaN,"[""Dr. Goodleburg""]"
465612,tt1331087,nm2874989,nm2874989,3.7,22,*69,2016,100.0,"Horror,Mystery,Thriller",10,nm1351918,cinematographer,NaN,NaN
608854,tt1941429,nm1029798,nm1029798,8.3,14,*MEI [MEIG] Voci migranti,2010,50.0,Documentary,1,nm4453731,actor,NaN,"[""Narrator""]"
271544,tt2395385,nm1531934,"nm1531934,nm1976650",5.5,7344,+1,2013,96.0,"Horror,Sci-Fi,Thriller",10,nm0561430,editor,NaN,NaN
183854,tt3495034,nm3267205,nm6728027,8.2,5,-1287,2014,70.0,"Biography,Documentary",1,nm3267205,director,NaN,NaN
208131,tt4129900,nm0758033,"nm0406206,nm0758033,nm1419054",5.5,204,... E fuori nevica!,2014,94.0,Comedy,10,nm0647439,cinematographer,NaN,NaN
197339,tt3116888,nm1164192,nm1164192,6.4,19,... Re: yakshaprashne,2016,nan,Comedy,10,nm1363079,cinematographer,NaN,NaN
433027,tt6728418,nm3596430,"nm1967216,nm0847176",6.4,8,...And Love,2017,nan,"Drama,Romance",1,nm1856057,actress,NaN,"[""Yuko""]"
426433,tt2200030,nm1617216,"nm2247259,nm1617216",7.1,15,...And Then I Helped,2010,101.0,Horror,10,nm3072644,actress,NaN,NaN
586784,tt1961143,nm4503647,nm4503647,8.9,7,...EBONG KANNA,2010,119.0,"Drama,Western",1,nm4502438,actor,NaN,"[""Afaz Ali""]"
35674,tt4272422,nm1182052,nm1760996,5.7,18,...Mama ei de tranzitie!?!,2012,100.0,"Comedy,Drama",10,nm0407702,editor,NaN,NaN
123633,tt1649264,nm0084983,NaN,6.8,119,...Men filmen är min älskarinna,2010,66.0,Documentary,1,nm0000095,self,NaN,"[""Himself""]"

In [222]:
#dropped the columns that weren't useful. (can always get them back from the original sources)
df4 = df4.drop('nconst', axis=1)
df4.head(10)

,tconst,averagerating,numvotes,original_title,start_year,runtime_minutes,genres
0,tt0285252,3.9,219,Life's a Beach,2012,100.0,Comedy
10,tt0462036,5.5,18,Steve Phoenix: The Untold Story,2012,110.0,Drama
20,tt0835418,5.0,8147,The Babymakers,2012,95.0,Comedy
30,tt0878654,5.8,875,Bulletface,2010,82.0,Thriller
40,tt0879859,6.8,21,Torn,2010,nan,Thriller
50,tt0996958,2.2,495,Legend of the Red Reaper,2013,99.0,"Action,Adventure,Fantasy"
60,tt0999913,5.8,30924,Straw Dogs,2011,110.0,"Action,Drama,Thriller"
70,tt10011102,8.0,55,The Sholay Girl,2019,106.0,"Action,Biography,Drama"
80,tt1002965,7.8,31,Call of Life,2010,60.0,Documentary
90,tt10055770,7.6,380,Vellaipookal,2019,122.0,Thriller

In [223]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70944 entries, 0 to 629745
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           70944 non-null  object
 1   averagerating    70944 non-null  float64
 2   numvotes         70944 non-null  int64
 3   original_title   70944 non-null  object
 4   start_year       70944 non-null  int64
 5   runtime_minutes  63654 non-null  float64
 6   genres           70246 non-null  object
dtypes: float64(2), int64(2), object(3)
memory usage: 4.3+ MB

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

KeyError: 1

In [ ]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
Data Analysis.
Make this a heading!

In [ ]:
Questions that I want to answer:
    
    1) What are the genres of the movies that made the most profit?
    2) What are the genres of the movies with the best ROI?
    3) How much money do you need to spend to make these movies?
    4) Maybe look at directors/studios/etc?

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***