![example](images/director_shot.jpeg)

# Phase 1 Project

**Authors:** Jonathan Holt
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# Here you run your code to explore the data
import glob, os
fpath = 'zippedData/'
os.listdir(fpath)

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [3]:
query = fpath+"*.gz"

file_list=glob.glob(query)
file_list

['zippedData/imdb.title.crew.csv.gz',
 'zippedData/tmdb.movies.csv.gz',
 'zippedData/imdb.title.akas.csv.gz',
 'zippedData/imdb.title.ratings.csv.gz',
 'zippedData/imdb.name.basics.csv.gz',
 'zippedData/rt.reviews.tsv.gz',
 'zippedData/imdb.title.basics.csv.gz',
 'zippedData/rt.movie_info.tsv.gz',
 'zippedData/tn.movie_budgets.csv.gz',
 'zippedData/bom.movie_gross.csv.gz',
 'zippedData/imdb.title.principals.csv.gz']

In [4]:
tables = {}

for file in file_list:
    print('---'*20)
    file_name = file.replace('zippedData/', '').replace('.', '_')
    print(file_name)
    
    
    
    if 'tsv.gz' in file:
        temp_df = pd.read_csv(file, sep= "\t", encoding = "latin-1")
    else:
        temp_df = pd.read_csv(file)
    
    display(temp_df.head(), temp_df.tail())
    tables[file_name] = temp_df

------------------------------------------------------------
imdb_title_crew_csv_gz

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

           tconst              directors     writers
146139  tt8999974             nm10122357  nm10122357
146140  tt9001390              nm6711477   nm6711477
146141  tt9001494  nm10123242,nm10123248         NaN
146142  tt9004986              nm4993825   nm4993825
146143  tt9010172                    NaN   nm8352242

------------------------------------------------------------
tmdb_movies_csv_gz

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.6,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.6,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

------------------------------------------------------------
imdb_title_akas_csv_gz

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

,title_id,ordering,title,region,language,types,attributes,is_original_title
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

------------------------------------------------------------
imdb_title_ratings_csv_gz

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

          tconst  averagerating  numvotes
73851  tt9805820            8.1        25
73852  tt9844256            7.5        24
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

------------------------------------------------------------
imdb_name_basics_csv_gz

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

------------------------------------------------------------
rt_reviews_tsv_gz

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

,id,review,rating,fresh,critic,top_critic,publisher,date
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

------------------------------------------------------------
imdb_title_basics_csv_gz

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

------------------------------------------------------------
rt_movie_info_tsv_gz

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

------------------------------------------------------------
tn_movie_budgets_csv_gz

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

------------------------------------------------------------
bom_movie_gross_csv_gz

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

------------------------------------------------------------
imdb_title_principals_csv_gz

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

,tconst,ordering,nconst,category,job,characters
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [5]:
#Formating Cells. I am keeping all of my display commands here so I can easily find them if/when I need
#to change anything.

#change the amount of rows displayed
pd.set_option('display.max_rows', 1000)

In [6]:
#This takes the decimal places out of floats. I may need to change this for some of the other features.
pd.options.display.float_format = '{:,.0f}'.format

In [7]:
#attempting to sort by the largest worldwide_gross

tables['tn_movie_budgets_csv_gz'].sort_values(by='worldwide_gross', ascending=False)

#something is wrong here. I assume that it is sorting anything with a '9' in the front first.
#I presume that the dollar amounts are strings instead of integers. I should also check for
#null values while I'm checking for this.

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
3737,38,"Aug 21, 2009",Fifty Dead Men Walking,"$10,000,000",$0,"$997,921"
3432,33,"Sep 30, 2005",Duma,"$12,000,000","$870,067","$994,790"
5062,63,"Apr 1, 2011",Insidious,"$1,500,000","$54,009,150","$99,870,886"
883,84,"Apr 2, 2004",Hellboy,"$60,000,000","$59,623,958","$99,823,958"
5613,14,"Mar 21, 1980",Mad Max,"$200,000","$8,750,000","$99,750,000"
...,...,...,...,...,...,...
5488,89,"Dec 31, 2014",The Sound and the Shadow,"$500,000",$0,$0
5487,88,"Dec 1, 2015",Brooklyn Bizarre,"$500,000",$0,$0
5486,87,"Aug 11, 2015",Alleluia! The Devil's Carnival,"$500,000",$0,$0
5485,86,"Jun 23, 2015",Crossroads,"$500,000",$0,$0
4765,66,"Jan 15, 2013",30 Nights Of Paranormal Activity With The Devi...,"$3,000,000",$0,$0

In [8]:
#set alias for each table so that it is easier to use them.
table1 = tables['imdb_title_crew_csv_gz']
table2 = tables['tmdb_movies_csv_gz']
table3 = tables['imdb_title_akas_csv_gz']
table4 = tables['imdb_title_ratings_csv_gz']
table5 = tables['imdb_name_basics_csv_gz']
table6 = tables['rt_reviews_tsv_gz']
table7 = tables['imdb_title_basics_csv_gz']
table8 = tables['rt_movie_info_tsv_gz']
table9 = tables['tn_movie_budgets_csv_gz']
table10 = tables['bom_movie_gross_csv_gz']
table11 = tables['imdb_title_principals_csv_gz']

In [9]:
table9.info()

#Sure enough, everything is a string except for the ID field. I will convert all of the financial information
#to integers (actually, I went back and changed to floats), and while I'm at it. I will also convert the
#release date field to date/time.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [10]:
table9.isna().sum()
#there are no null values, but there are likely placeholders

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [11]:
#cleaning the three financial columns. Removing the $, removing the comma, then converting to float.
cleaned_budget = table9['production_budget'].map(lambda x: x.replace('$',' '))
cleaned_budget

0        425,000,000
1        410,600,000
2        350,000,000
3        330,600,000
4        317,000,000
            ...
5777           7,000
5778           6,000
5779           5,000
5780           1,400
5781           1,100
Name: production_budget, Length: 5782, dtype: object

In [12]:
cleaned_budget_2 = cleaned_budget.map(lambda x: x.replace(',',''))
cleaned_budget_2

0        425000000
1        410600000
2        350000000
3        330600000
4        317000000
           ...
5777          7000
5778          6000
5779          5000
5780          1400
5781          1100
Name: production_budget, Length: 5782, dtype: object

In [13]:
cleaned_budget_3 = cleaned_budget_2.astype(float)
cleaned_budget_3

0      425,000,000
1      410,600,000
2      350,000,000
3      330,600,000
4      317,000,000
           ...
5777         7,000
5778         6,000
5779         5,000
5780         1,400
5781         1,100
Name: production_budget, Length: 5782, dtype: float64

In [14]:
cleaned_domestic= table9['domestic_gross'].map(lambda x: x.replace('$',' '))

cleaned_domestic

0        760,507,625
1        241,063,875
2         42,762,350
3        459,005,868
4        620,181,382
            ...
5777               0
5778          48,482
5779           1,338
5780               0
5781         181,041
Name: domestic_gross, Length: 5782, dtype: object

In [15]:
cleaned_domestic_2 =cleaned_domestic.map(lambda x: x.replace(',',''))
cleaned_domestic_2

0        760507625
1        241063875
2         42762350
3        459005868
4        620181382
           ...
5777             0
5778         48482
5779          1338
5780             0
5781        181041
Name: domestic_gross, Length: 5782, dtype: object

In [16]:
cleaned_domestic_3 = cleaned_domestic_2.astype(float)
cleaned_domestic_3

0      760,507,625
1      241,063,875
2       42,762,350
3      459,005,868
4      620,181,382
           ...
5777             0
5778        48,482
5779         1,338
5780             0
5781       181,041
Name: domestic_gross, Length: 5782, dtype: float64

In [17]:
cleaned_worldwide = table9['worldwide_gross'].map(lambda x: x.replace('$',' '))
cleaned_worldwide

0        2,776,345,279
1        1,045,663,875
2          149,762,350
3        1,403,013,963
4        1,316,721,747
             ...
5777                 0
5778           240,495
5779             1,338
5780                 0
5781           181,041
Name: worldwide_gross, Length: 5782, dtype: object

In [18]:
cleaned_worldwide_2 = cleaned_worldwide.map(lambda x: x.replace(',',''))
cleaned_worldwide_2

0        2776345279
1        1045663875
2         149762350
3        1403013963
4        1316721747
           ...
5777              0
5778         240495
5779           1338
5780              0
5781         181041
Name: worldwide_gross, Length: 5782, dtype: object

In [19]:
cleaned_worldwide_3 = cleaned_worldwide_2.astype(float)
cleaned_worldwide_3

0      2,776,345,279
1      1,045,663,875
2        149,762,350
3      1,403,013,963
4      1,316,721,747
            ...
5777               0
5778         240,495
5779           1,338
5780               0
5781         181,041
Name: worldwide_gross, Length: 5782, dtype: float64

In [20]:
#Putting my cleaned data into the table.
table9["production_budget"] = cleaned_budget_3
table9["domestic_gross"] = cleaned_domestic_3
table9["worldwide_gross"] = cleaned_worldwide_3
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"425,000,000","760,507,625","2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"350,000,000","42,762,350","149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"7,000",0,0
5778,79,"Apr 2, 1999",Following,"6,000","48,482","240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"5,000","1,338","1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"1,400",0,0
5781,82,"Aug 5, 2005",My Date With Drew,"1,100","181,041","181,041"

In [21]:
table9.sort_values(by='worldwide_gross', ascending=False)
#After all that work, I finally have the data sorted the way that I wanted.

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"425,000,000","760,507,625","2,776,345,279"
42,43,"Dec 19, 1997",Titanic,"200,000,000","659,363,944","2,208,208,395"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200"
33,34,"Jun 12, 2015",Jurassic World,"215,000,000","652,270,625","1,648,854,864"
...,...,...,...,...,...,...
5474,75,"Dec 31, 2005",Insomnia Manica,"500,000",0,0
5473,74,"Jul 17, 2012",Girls Gone Dead,"500,000",0,0
5472,73,"Apr 3, 2012",Enter Nowhere,"500,000",0,0
5471,72,"Dec 31, 2010",Drones,"500,000",0,0
4068,69,"Dec 12, 2008",The Kings of Appletown,"7,000,000",0,0

In [22]:
#converting release_date to datetime format.
cleaned_release_date = pd.to_datetime(table9['release_date'])
cleaned_release_date

0      2009-12-18
1      2011-05-20
2      2019-06-07
3      2015-05-01
4      2017-12-15
          ...
5777   2018-12-31
5778   1999-04-02
5779   2005-07-13
5780   2015-09-29
5781   2005-08-05
Name: release_date, Length: 5782, dtype: datetime64[ns]

In [23]:
table9['release_date']= cleaned_release_date
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875"
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350"
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963"
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747"
...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0
5778,79,1999-04-02,Following,"6,000","48,482","240,495"
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338"
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041"

In [24]:
#what is the range of release dates in this data set?
print("This is the earliest release date:")
print(table9['release_date'].min())

print("This is the latest release date:")
print(table9['release_date'].max())

This is the earliest release date:
1915-02-08 00:00:00
This is the latest release date:
2020-12-31 00:00:00

In [25]:
#there are several movies that have budget information, but no gross. Presumably, this is because they hadn't
#been released at the time that this data was collected. 
table9.sort_values(by='release_date', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
194,95,2020-12-31,Moonfall,"150,000,000",0,0
1205,6,2020-12-31,Hannibal the Conqueror,"50,000,000",0,0
535,36,2020-02-21,Call of the Wild,"82,000,000",0,0
480,81,2019-12-31,Army of the Dead,"90,000,000",0,0
3515,16,2019-12-31,Eli,"11,000,000",0,0
...,...,...,...,...,...,...
5606,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000"
5683,84,1920-09-17,Over the Hill to the Poorhouse,"100,000","3,000,000","3,000,000"
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000"
5523,24,1916-09-05,Intolerance,"385,907",0,0
5677,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000"

In [26]:
year_of_release = table9['release_date']
year_of_release

0      2009-12-18
1      2011-05-20
2      2019-06-07
3      2015-05-01
4      2017-12-15
          ...
5777   2018-12-31
5778   1999-04-02
5779   2005-07-13
5780   2015-09-29
5781   2005-08-05
Name: release_date, Length: 5782, dtype: datetime64[ns]

In [27]:
year_of_release = pd.DatetimeIndex(table9['release_date']).year
year_of_release

Int64Index([2009, 2011, 2019, 2015, 2017, 2015, 2018, 2007, 2017, 2015,
            ...
            2012, 1993, 2004, 2006, 2004, 2018, 1999, 2005, 2015, 2005],
           dtype='int64', name='release_date', length=5782)

In [28]:
#created a column 'release_year' to more easily search general release dates, etc.
table9['release_year'] = table9['release_date'].dt.year

In [29]:
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017
...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0,2018
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0,2015
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005

In [ ]:
#films_released_by_year = table9['release_year']
#films_released_by_year.value_counts(20)

In [ ]:
#the bulk of the data starts in 1996 where there are 100+ movies every year afterward until 2018.
#there is a little bit of info for 2019.
#films_released_by_year.head(10)

In [30]:
#let's sort by release year
table9.sort_values(by='release_year', ascending=False).head(50)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
194,95,2020-12-31,Moonfall,"150,000,000",0,0,2020
535,36,2020-02-21,Call of the Wild,"82,000,000",0,0,2020
1205,6,2020-12-31,Hannibal the Conqueror,"50,000,000",0,0,2020
2029,30,2019-09-30,Unhinged,"29,000,000",0,0,2019
670,71,2019-08-30,PLAYMOBIL,"75,000,000",0,0,2019
95,96,2019-03-08,Captain Marvel,"175,000,000","426,525,952","1,123,061,550",2019
1474,75,2019-05-03,Long Shot,"40,000,000","30,202,860","43,711,031",2019
4132,33,2019-03-29,Unplanned,"6,000,000","18,107,621","18,107,621",2019
4534,35,2019-06-07,Late Night,"4,000,000","246,305","246,305",2019
4135,36,2019-02-08,The Prodigy,"6,000,000","14,856,291","19,789,712",2019
2325,26,2019-05-10,The Professor and the Madman,"25,000,000",0,"5,227,233",2019
80,81,2019-05-24,Aladdin,"182,000,000","246,734,314","619,234,314",2019
671,72,2019-12-31,355,"75,000,000",0,0,2019
2329,30,2019-12-31,Reagan,"25,000,000",0,0,2019
2915,16,2019-07-12,Crawl,"17,000,000",0,0,2019
3915,16,2019-05-03,El Chicano,"8,000,000","700,261","700,261",2019
1538,39,2019-06-21,Kursk,"40,000,000",0,"4,212,799",2019
1542,43,2019-09-13,The Goldfinch,"40,000,000",0,0,2019
5037,38,2019-04-23,Living Dark: The Story of Ted the Caver,"1,750,000",0,0,2019
1543,44,2019-12-31,Down Under Cover,"40,000,000",0,0,2019
2520,21,2019-02-08,What Men Want,"20,000,000","54,611,903","69,911,903",2019
5047,48,2019-02-01,Braid,"1,660,000",0,"80,745",2019
3871,72,2019-05-03,The Intruder,"8,000,000","35,095,904","36,005,871",2019
480,81,2019-12-31,Army of the Dead,"90,000,000",0,0,2019
3947,48,2019-06-21,Burn Your Maps,"8,000,000",0,0,2019
3080,81,2019-02-01,Miss Bala,"15,000,000","14,998,027","15,362,298",2019
407,8,2019-02-08,The LEGO Movie 2: The Second Part,"99,000,000","105,806,508","190,325,698",2019
1305,6,2019-05-03,UglyDolls,"45,000,000","19,894,664","24,644,664",2019
4012,13,2019-05-24,BrightBurn,"7,000,000","16,794,432","27,989,498",2019
3990,91,2019-03-15,Five Feet Apart,"7,000,000","45,729,221","80,504,421",2019
1370,71,2019-05-31,Rocketman,"41,000,000","57,342,725","108,642,725",2019
3515,16,2019-12-31,Eli,"11,000,000",0,0,2019
1380,81,2019-05-17,John Wick: Chapter 3 â Parabellum,"40,000,000","141,744,320","256,498,033",2019
580,81,2019-06-07,The Secret Life of Pets 2,"80,000,000","63,795,655","113,351,496",2019
1208,9,2019-09-20,Ad Astra,"49,800,000",0,0,2019
1207,8,2019-11-22,The Rhythm Section,"50,000,000",0,0,2019
124,25,2019-05-31,Godzilla: King of the Monsters,"170,000,000","85,576,941","299,276,941",2019
123,24,2019-02-14,Alita: Battle Angel,"170,000,000","85,710,210","402,976,036",2019
1206,7,2019-11-08,Arctic Dogs,"50,000,000",0,0,2019
121,22,2019-03-29,Dumbo,"170,000,000","113,883,318","345,004,422",2019
1997,98,2019-06-14,Shaft,"30,000,000","600,000","600,000",2019
175,76,2019-05-10,PokÃ©mon: Detective Pikachu,"150,000,000","139,507,806","411,258,433",2019
1176,77,2019-04-12,Hellboy,"50,000,000","21,903,748","40,725,492",2019
496,97,2019-04-05,Shazam!,"85,000,000","139,606,856","362,899,733",2019
619,20,2019-01-22,Renegades,"77,500,000",0,"1,521,672",2019
3531,32,2019-01-04,PMC: deo beong-keo,"10,300,000",0,"12,478,635",2019
2296,97,2019-03-15,Captive State,"25,000,000","5,958,315","8,993,300",2019
3485,86,2019-02-14,Fighting With My Family,"11,000,000","22,958,583","39,049,922",2019
393,94,2019-03-15,Wonder Park,"100,000,000","45,216,793","115,149,422",2019
1584,85,2019-01-11,The Upside,"37,500,000","108,235,497","119,024,536",2019

In [31]:
table9.sort_values(by='worldwide_gross', ascending=False).head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009
42,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015
6,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018
33,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015

In [32]:
#create a column that calculates the profit for each movie. (gross - budget)
#realize that there are other costs above and beyond the budget

total_profit = table9.apply(lambda x: x['worldwide_gross'] - x['production_budget'], axis=1)
total_profit

0      2,351,345,279
1        635,063,875
2       -200,237,650
3      1,072,413,963
4        999,721,747
            ...
5777          -7,000
5778         234,495
5779          -3,662
5780          -1,400
5781         179,941
Length: 5782, dtype: float64

In [33]:
table9['total_profit'] = total_profit

In [34]:
table9.sort_values(by='total_profit', ascending=False).head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279"
42,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997,"2,008,208,395"
6,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200"
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220"
33,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015,"1,433,854,864"
66,67,2015-04-03,Furious 7,"190,000,000","353,007,020","1,518,722,794",2015,"1,328,722,794"
26,27,2012-05-04,The Avengers,"225,000,000","623,279,547","1,517,935,897",2012,"1,292,935,897"
260,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,"125,000,000","381,193,157","1,341,693,157",2011,"1,216,693,157"
41,42,2018-02-16,Black Panther,"200,000,000","700,059,566","1,348,258,224",2018,"1,148,258,224"
112,13,2018-06-22,Jurassic World: Fallen Kingdom,"170,000,000","417,719,760","1,305,772,799",2018,"1,135,772,799"

In [35]:
#What is the return on investment for these movies?
roi = table9.apply(lambda x: x['total_profit'] / x['production_budget'], axis=1)
roi

0        6
1        2
2       -1
3        3
4        3
        ..
5777    -1
5778    39
5779    -1
5780    -1
5781   164
Length: 5782, dtype: float64

In [36]:
table9['ROI'] = roi
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3
...,...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0,2018,"-7,000",-1
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005,"-3,662",-1
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0,2015,"-1,400",-1
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164

In [37]:
#A quick snapshot of the information. 
table9.describe()

,id,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
count,"5,782","5,782","5,782","5,782","5,782","5,782","5,782"
mean,50,"31,587,757","41,873,327","91,487,461","2,004","59,899,704",4
std,29,"41,812,077","68,240,597","174,719,969",13,"146,088,881",30
min,1,"1,100",0,0,"1,915","-200,237,650",-1
25%,25,"5,000,000","1,429,534","4,125,415","2,000","-2,189,071",-1
50%,50,"17,000,000","17,225,945","27,984,448","2,007","8,550,286",1
75%,75,"40,000,000","52,348,662","97,645,836","2,012","60,968,502",3
max,100,"425,000,000","936,662,225","2,776,345,279","2,020","2,351,345,279","1,799"

In [38]:
#sorted by ROI.
table9.sort_values(by='ROI', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
5745,46,1972-06-30,Deep Throat,"25,000","45,000,000","45,000,000",1972,"44,975,000","1,799"
5613,14,1980-03-21,Mad Max,"200,000","8,750,000","99,750,000",1980,"99,550,000",498
5492,93,2009-09-25,Paranormal Activity,"450,000","107,918,810","194,183,034",2009,"193,733,034",431
5679,80,2015-07-10,The Gallows,"100,000","22,764,410","41,656,474",2015,"41,556,474",416
5406,7,1999-07-14,The Blair Witch Project,"600,000","140,539,099","248,300,000",1999,"247,700,000",413
5709,10,2004-05-07,Super Size Me,"65,000","11,529,368","22,233,808",2004,"22,168,808",341
5346,47,1942-08-13,Bambi,"858,000","102,797,000","268,000,000",1942,"267,142,000",311
5773,74,1993-02-26,El Mariachi,"7,000","2,040,920","2,041,928",1993,"2,034,928",291
5676,77,1968-10-01,Night of the Living Dead,"114,000","12,087,064","30,087,064",1968,"29,973,064",263
5210,11,1976-11-21,Rocky,"1,000,000","117,235,147","225,000,000",1976,"224,000,000",224
5536,37,1978-10-17,Halloween,"325,000","47,000,000","70,000,000",1978,"69,675,000",214
5715,16,1995-08-09,The Brothers McMullen,"50,000","10,426,506","10,426,506",1995,"10,376,506",208
5665,66,1974-10-18,The Texas Chainsaw Massacre,"140,000","26,572,439","26,572,439",1974,"26,432,439",189
5372,73,1973-08-11,American Graffiti,"777,000","115,000,000","140,000,000",1973,"139,223,000",179
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164
5656,57,2007-05-16,Once,"150,000","9,445,857","23,323,631",2007,"23,173,631",154
5742,43,1994-10-19,Clerks,"27,000","3,073,428","3,894,240",1994,"3,867,240",143
5612,13,1969-07-25,The Stewardesses,"200,000","13,500,000","25,000,000",1969,"24,800,000",124
5117,18,1937-12-21,Snow White and the Seven Dwarfs,"1,488,000","184,925,486","184,925,486",1937,"183,437,486",123
5357,58,1971-01-01,Billy Jack,"800,000","98,000,000","98,000,000",1971,"97,200,000",122
5774,75,2004-10-08,Primer,"7,000","424,760","841,926",2004,"834,926",119
5746,47,1997-08-01,In the Company of Men,"25,000","2,883,661","2,883,661",1997,"2,858,661",114
5507,8,2004-06-11,Napoleon Dynamite,"400,000","44,540,956","46,122,713",2004,"45,722,713",114
5430,31,2004-08-06,Open Water,"500,000","30,500,882","55,518,641",2004,"55,018,641",110
5424,25,1980-05-09,Friday the 13th,"550,000","39,754,601","59,754,601",1980,"59,204,601",108
5680,81,2006-09-29,Facing the Giants,"100,000","10,178,331","10,243,159",2006,"10,143,159",101
5211,12,2012-01-06,The Devil Inside,"1,000,000","53,262,945","101,759,490",2012,"100,759,490",101
5655,56,1971-01-01,Sweet Sweetback's Baad Asssss Song,"150,000","15,200,000","15,200,000",1971,"15,050,000",100
4567,68,1939-12-15,Gone with the Wind,"3,900,000","198,680,470","390,525,192",1939,"386,625,192",99
5677,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000",1915,"10,890,000",99
5568,69,1981-05-01,Graduation Day,"250,000","23,894,000","23,894,000",1981,"23,644,000",95
4775,76,1950-02-15,Cinderella,"2,900,000","85,000,000","263,591,415",1950,"260,691,415",90
5606,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000",1925,"21,755,000",89
5459,60,2009-04-23,Home,"500,000","15,433","44,793,168",2009,"44,293,168",89
5156,57,2004-10-29,Saw,"1,200,000","55,968,727","103,880,027",2004,"102,680,027",86
5525,26,1983-04-15,The Evil Dead,"375,000","2,400,000","29,400,000",1983,"29,025,000",77
3525,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000","435,110,554","792,965,326",1982,"782,465,326",75
4247,48,2002-04-19,My Big Fat Greek Wedding,"5,000,000","241,438,208","374,890,034",2002,"369,890,034",74
4589,90,1997-08-13,The Full Monty,"3,500,000","45,950,122","261,249,383",1997,"257,749,383",74
3464,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000","460,998,007","786,598,007",1977,"775,598,007",71
5681,82,1977-01-01,Eraserhead,"100,000","7,000,000","7,014,590",1977,"6,914,590",69
5706,7,1998-07-10,Pi,"68,000","3,221,152","4,678,513",1998,"4,610,513",68
5765,66,2001-03-09,Dayereh,"10,000","673,780","673,780",2001,"663,780",66
5428,29,2008-09-26,Fireproof,"500,000","33,456,317","33,473,297",2008,"32,973,297",66
5062,63,2011-04-01,Insidious,"1,500,000","54,009,150","99,870,886",2011,"98,370,886",66
4112,13,1978-06-16,Grease,"6,000,000","181,813,770","387,510,179",1978,"381,510,179",64
5213,14,2015-04-17,Unfriended,"1,000,000","32,789,645","64,364,198",2015,"63,364,198",63
5429,30,1974-11-15,Benji,"500,000","31,559,560","31,559,560",1974,"31,059,560",62
5684,85,1998-10-09,The Mighty,"100,000","2,652,246","6,121,582",1998,"6,021,582",60
5569,70,1997-04-04,Chasing Amy,"250,000","12,006,514","15,155,095",1997,"14,905,095",60
5668,69,1942-11-16,Cat People,"134,000","4,000,000","8,000,000",1942,"7,866,000",59
5219,20,1963-05-08,Dr. No,"1,000,000","16,067,035","59,567,035",1963,"58,567,035",59
4664,65,2010-10-20,Paranormal Activity 2,"3,000,000","84,752,907","177,512,032",2010,"174,512,032",58
5407,8,1970-03-26,Woodstock,"600,000","34,505,110","34,505,110",1970,"33,905,110",57
4249,50,2017-01-20,Split,"5,000,000","138,141,585","278,964,806",2017,"273,964,806",55
5189,90,2014-03-21,Godâs Not Dead,"1,150,000","60,755,732","63,777,092",2014,"62,627,092",54
4424,25,1994-03-09,Four Weddings and a Funeral,"4,500,000","52,700,832","242,895,809",1994,"238,395,809",53
5752,53,1991-08-01,Slacker,"23,000","1,227,508","1,227,508",1991,"1,204,508",52
5215,16,2006-05-24,An Inconvenient Truth,"1,000,000","24,146,161","53,365,925",2006,"52,365,925",52
5682,83,1987-03-01,Hollywood Shuffle,"100,000","5,228,617","5,228,617",1987,"5,128,617",51
4248,49,2017-02-24,Get Out,"5,000,000","176,040,665","255,367,951",2017,"250,367,951",50
5666,67,1989-12-20,Roger & Me,"140,000","6,706,368","6,706,368",1989,"6,566,368",47
4663,64,1978-07-28,National Lampoon's Animal House,"3,000,000","141,600,000","141,600,000",1978,"138,600,000",46
5716,17,2001-03-16,Gabriela,"50,000","2,335,352","2,335,352",2001,"2,285,352",46
4800,1,1974-02-07,Blazing Saddles,"2,600,000","119,500,000","119,500,000",1974,"116,900,000",45
3517,18,2012-05-25,Les Intouchables,"10,800,000","13,182,281","484,873,045",2012,"474,073,045",44
5063,64,2016-10-21,Moonlight,"1,500,000","27,854,931","65,245,512",2016,"63,745,512",42
5217,18,2012-05-25,Chernobyl Diaries,"1,000,000","18,119,640","42,411,721",2012,"41,411,721",41
4667,68,1964-12-22,Goldfinger,"3,000,000","51,100,000","124,900,000",1964,"121,900,000",41
4250,51,2011-10-21,Paranormal Activity 3,"5,000,000","104,028,807","207,039,844",2011,"202,039,844",40
5646,47,1986-08-08,She's Gotta Have It,"175,000","7,137,502","7,137,502",1986,"6,962,502",40
4898,99,2007-02-09,Das Leben der Anderen,"2,000,000","11,284,657","81,197,047",2007,"79,197,047",40
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000",1916,"7,800,000",39
4083,84,2014-10-03,Annabelle,"6,500,000","84,273,813","256,862,920",2014,"250,362,920",39
4887,88,1964-04-08,From Russia With Love,"2,000,000","24,800,000","78,900,000",1964,"76,900,000",38
3340,41,1975-06-20,Jaws,"12,000,000","260,000,000","470,700,000",1975,"458,700,000",38
4634,35,2005-06-24,La marche de l'empereur,"3,400,000","77,437,223","133,276,359",2005,"129,876,359",38
5014,15,2010-08-27,The Last Exorcism,"1,800,000","41,034,350","70,165,900",2010,"68,365,900",38
3986,87,1972-03-15,The Godfather,"7,000,000","134,966,411","268,500,000",1972,"261,500,000",37
5212,13,1963-10-07,Tom Jones,"1,000,000","37,600,000","37,600,000",1963,"36,600,000",37
3826,27,1986-09-26,Crocodile Dundee,"8,800,000","174,803,506","328,203,506",1986,"319,403,506",36
4114,15,2004-06-23,Fahrenheit 9/11,"6,000,000","119,114,517","221,148,959",2004,"215,148,959",36
4867,68,1940-02-09,Pinocchio,"2,289,247","84,300,000","84,300,000",1940,"82,010,753",36
5074,75,1979-04-20,Dawn of the Dead,"1,500,000","5,100,000","55,000,000",1979,"53,500,000",36
4868,69,1940-11-13,Fantasia,"2,280,000","83,320,000","83,320,000",1940,"81,040,000",36
5397,98,1953-04-10,House of Wax,"658,000","23,800,000","23,800,000",1953,"23,142,000",35
5577,78,1998-09-11,Cube,"250,000","489,220","8,969,065",1998,"8,719,065",35
3341,42,1973-12-26,The Exorcist,"12,000,000","230,347,346","428,214,478",1973,"416,214,478",35
5699,100,1972-08-30,The Last House on the Left,"87,000","3,100,000","3,100,000",1972,"3,013,000",35
3859,60,1965-03-02,The Sound of Music,"8,200,000","163,214,286","286,214,286",1965,"278,014,286",34
5762,63,1997-04-11,Pink Flamingos,"12,000","413,802","413,802",1997,"401,802",33
5431,32,1977-01-01,Kingdom of the Spiders,"500,000","17,000,000","17,000,000",1977,"16,500,000",33
5408,9,1977-08-10,The Kentucky Fried Movie,"600,000","15,000,000","20,000,000",1977,"19,400,000",32
5615,16,1996-10-18,Swingers,"200,000","4,505,922","6,618,578",1996,"6,418,578",32
3985,86,2007-12-05,Juno,"7,000,000","143,495,265","231,450,102",2007,"224,450,102",32
4252,53,2013-09-13,Insidious Chapter 2,"5,000,000","83,586,447","161,921,515",2013,"156,921,515",31
2991,92,1990-11-16,Home Alone,"15,000,000","285,761,243","476,684,675",1990,"461,684,675",31
3755,56,2016-12-21,Dangal,"9,500,000","12,391,761","294,654,618",2016,"285,154,618",30
3171,72,1990-03-23,Pretty Woman,"14,000,000","178,406,268","432,645,872",1990,"418,645,872",30

In [ ]:
#I am happy with where my financial data is at the moment, even though it will likely need further refinement.
#Now I want to find a way to indentify the genres of these movies as that will help me answer the specific
#question of what TYPES of movies should be made.

#After this, I plan on investigating review scores, giving me Financials, Review Scores, and Genres to work with.

In [39]:
#Table7 - imdb basics dataset has genre information. I will investigate.
table7

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,nan,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,nan,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,nan,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,nan,Documentary

In [40]:
table7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [41]:
table7.sort_values(by='start_year', ascending=True).head(100)
#This data only goes back to 2010. This may still be useful as Microsoft will want current information on
#which genres are popular.

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
9599,tt1566491,Brainiacs in La La Land,Brainiacs in La La Land,2010,nan,Comedy
43264,tt2578092,Fireplace for your Home: Crackling Fireplace w...,Fireplace for your Home: Crackling Fireplace w...,2010,61,Music
11550,tt1634300,Role/Play,Role/Play,2010,85,"Drama,Romance"
11551,tt1634332,Johan1,Johan Primero,2010,78,"Comedy,Drama,Romance"
11552,tt1634334,Hands Up,Les mains en l'air,2010,90,Drama
11553,tt1634337,Que devient mon souvenir quand tu n'y penses pas,Que devient mon souvenir quand tu n'y penses pas,2010,45,Documentary
11554,tt1634519,The Black Eyed Peas: The E.N.D. World Tour Live,The Black Eyed Peas: The E.N.D. World Tour Live,2010,nan,"Documentary,Music"
11555,tt1634524,Jitters,Órói,2010,93,"Drama,Romance"
11556,tt1634540,Rescue Men: The Story of the Pea Island Lifesa...,Rescue Men: The Story of the Pea Island Lifesa...,2010,90,Documentary
11557,tt1634554,Janakan,Janakan,2010,150,"Crime,Thriller"
11558,tt1634796,Man and His Country,Man and His Country,2010,46,"Adventure,Drama"
11559,tt1634800,Maximum Shame,Maximum Shame,2010,80,"Fantasy,Horror,Musical"
11560,tt1634802,Message,Message,2010,91,"Comedy,Horror,Mystery"
11561,tt1634803,Subway Preacher,Subway Preacher,2010,80,"Documentary,Drama,Romance"
11563,tt1634821,Notes on a Napkin,Notes on a Napkin,2010,63,Comedy
11564,tt1634822,Obshiy Yizik,Obshiy Yizik,2010,52,Documentary
11565,tt1634831,Our School,Our School,2010,88,"Documentary,Drama,History"
11566,tt1634833,Overdose,Overdos,2010,47,"Documentary,News"
11567,tt1634840,Paths of Hope: Livelihoods in Three Caribbean ...,Paths of Hope: Livelihoods in Three Caribbean ...,2010,39,"Documentary,Family"
11570,tt1635412,Am Ende der Wiese,Am Ende der Wiese,2010,55,"Biography,Documentary"
11571,tt1635415,Andy McKee: Joyland,Andy McKee: Joyland,2010,33,"Documentary,Music"
11572,tt1635429,Cherkess,Cherkess,2010,117,Drama
11573,tt1635437,Dead End Job,Dead End Job,2010,68,Comedy
11574,tt1635466,Jay's Movie Is a Piece of Shit,Jay's Movie Is a Piece of Shit,2010,84,Comedy
11577,tt1636422,Before,Antes,2010,90,NaN
11578,tt1636423,Apuntes para una biografía imaginaria,Apuntes para una biografía imaginaria,2010,60,Documentary
11579,tt1636434,"Buen día, día","Buen día, día",2010,95,Documentary
11580,tt1636437,"Camila, desde el alma","Camila, desde el alma",2010,65,Documentary
11542,tt1634135,There's Still Hope for Dreams (A Phamaly Story),There's Still Hope for Dreams (A Phamaly Story),2010,60,Documentary
11581,tt1636440,Centro,Centro,2010,90,Documentary
11541,tt1634127,Living It Forever,Living It Forever,2010,77,Documentary
35137,tt2294847,The Buccs,The Buccs,2010,15,"Documentary,Sport"
11506,tt1633205,Ifakat: Uçuruma yürüyen kadinlar,Ifakat: Uçuruma yürüyen kadinlar,2010,45,"Documentary,Drama"
11507,tt1633208,Interno,Interno,2010,80,Documentary
11508,tt1633212,Kajraare,Kajraare,2010,112,"Crime,Drama,Romance"
11509,tt1633213,La revuelta de las batas blancas,La revuelta de las batas blancas,2010,63,Documentary
23034,tt1942066,Haterology,Haterology,2010,38,"Documentary,News"
35135,tt2294843,The Band Plays On!,The Band Plays On!,2010,nan,Documentary
11512,tt1633226,Musaa: The Most Wanted,Musaa: The Most Wanted,2010,nan,"Action,Crime,Thriller"
11513,tt1633242,Rock On,Shi xi da ming xing,2010,94,NaN
11514,tt1633248,The Glass River,Staklenata reka,2010,100,Drama
11515,tt1633249,Street Poet,Street Poet,2010,87,Drama
11516,tt1633250,Swaha: Life Beyond Superstition,Swaha: Life Beyond Superstition,2010,nan,"Drama,Fantasy,Horror"
11517,tt1633267,The Very Worst Thing,The Very Worst Thing,2010,85,"Documentary,History,News"
11518,tt1633281,Visa al paraíso,Visa al paraíso,2010,108,"Documentary,Drama"
23032,tt1942032,À pleins poumons,À pleins poumons,2010,52,Documentary
11520,tt1633333,Cluster,Cluster,2010,55,"Documentary,Drama,Mystery"
11521,tt1633334,"Coals to Newcastle: The New Mastersounds, from...","Coals to Newcastle: The New Mastersounds, from...",2010,79,"Documentary,Music"
11522,tt1633341,Dark Crossing,Dark Crossing,2010,nan,"Action,Drama"
23031,tt1942030,8uppers,8uppers,2010,76,Drama
11527,tt1634013,Montevideo: Taste of a Dream,"Montevideo, Bog te video!",2010,140,"Adventure,Comedy,Drama"
11528,tt1634022,The Sylvian Experiments,Kyôfu,2010,94,"Horror,Sci-Fi"
11529,tt1634034,Mother Water,Mazâ wôtâ,2010,105,Comedy
11531,tt1634058,Star Vehicle,Star Vehicle,2010,75,Horror
11532,tt1634066,The Cedar's Tears,The Cedar's Tears,2010,84,"Drama,Mystery,Thriller"
11533,tt1634070,The Horror of the Dolls,The Horror of the Dolls,2010,81,Horror
11534,tt1634082,Unbroken: The Pearl Bluegrass Circle,Unbroken: The Pearl Bluegrass Circle,2010,76,"Biography,Documentary,Family"
11535,tt1634104,37,37,2010,100,Drama
72598,tt4144872,"Birmania, el coraje de resistir","Birmania, el coraje de resistir",2010,78,NaN
11540,tt1634123,Kafka au Congo des belges,Kafka au Congo des belges,2010,59,Documentary
11505,tt1633204,Hypo,Hypo,2010,65,"Comedy,Romance"
11582,tt1636441,Five,Cinco,2010,89,Romance
11584,tt1636454,The Peddler,El ambulante,2010,84,Documentary
11623,tt1637679,Petty Letters and Love Crimes,Dalla vita in poi,2010,85,Comedy
11624,tt1637681,Flowers,Flowers,2010,110,Drama
11625,tt1637687,I Want to Be a Soldier,De mayor quiero ser soldado,2010,100,Drama
11627,tt1637691,Khelein Hum Jee Jaan Sey,Khelein Hum Jee Jaan Sey,2010,168,"Action,Drama,History"
11628,tt1637692,Kuchh Kariye,Kuchh Kariye,2010,nan,"Adventure,Drama,Music"
11629,tt1637693,Los actos cotidianos,Los actos cotidianos,2010,82,NaN
11630,tt1637694,The Lips,Los labios,2010,100,Drama
11631,tt1637697,Make No Little Plans: Daniel Burnham and the A...,Make No Little Plans: Daniel Burnham and the A...,2010,56,Documentary
11634,tt1637702,Metropolis refundada,Metropolis refundada,2010,47,Documentary
65017,tt3718152,Heavy Metal,Heavy Metal,2010,50,"Documentary,Family"
11636,tt1637709,The Death I Dreamed Of,O thanatos pou onireftika,2010,90,"Drama,Horror,Romance"
11637,tt1637712,Pig,Pig,2010,70,Horror
11638,tt1637714,Santuaryo,Santuaryo,2010,81,Drama
11640,tt1637723,The Saint Family,Svetoto semeystvo (Nina i Mariyan),2010,87,Drama
11642,tt1637735,Viva! Saint Agrippina,Viva! Saint Agrippina,2010,96,Documentary
11644,tt1637995,Sambo Siva Sambho,Sambo Siva Sambho,2010,160,"Action,Drama"
11645,tt1638000,"U redu, pobedio sam","U redu, pobedio sam",2010,60,Documentary
37237,tt2353993,Ending Taxation: The Only Game in Town,Ending Taxation: The Only Game in Town,2010,nan,Documentary
11647,tt1638267,Bølle Bob - Alle tiders helt,Bølle Bob - Alle tiders helt,2010,84,"Comedy,Family"
11648,tt1638274,Kismet,Kismet,2010,72,Romance
11649,tt1638275,Klara - Don't Be Afraid to Follow Your Dream,Klara,2010,81,Family
22986,tt1941449,Almost Big,Almost Big,2010,51,Comedy
11653,tt1638321,Ocio,Ocio,2010,70,"Drama,Family"
11654,tt1638322,Il nemico sulle ali,Il nemico sulle ali,2010,52,"Biography,History"
11655,tt1638327,"Liniers, el trazo simple de las cosas","Liniers, el trazo simple de las cosas",2010,76,Documentary
11657,tt1638336,"Octubre Pilagá, relatos sobre el silencio","Octubre Pilagá, relatos sobre el silencio",2010,80,Documentary
11658,tt1638343,Permiso para bailar,Permiso para bailar,2010,48,Documentary
11622,tt1637677,Bigasan,Bigasan,2010,80,Drama
11583,tt1636452,Dubai: A City of Dreams,Dubai: A City of Dreams,2010,78,Documentary
11621,tt1637675,Alta infedeltà,Alta infedeltà,2010,nan,Comedy
11619,tt1637662,The Whisper Home,The Whisper Home,2010,95,Drama
11585,tt1636456,The Intern,El pasante,2010,65,NaN
11586,tt1636457,El perseguido,El perseguido,2010,63,NaN
11587,tt1636458,El predio,El predio,2010,58,Documentary
11588,tt1636459,El rati horror show,El rati horror show,2010,98,Documentary
11589,tt1636461,Ensayo (fragmentos de Sarah Kane),Ensayo (fragmentos de Sarah Kane),2010,73,Documentary
11591,tt1636631,The Tenement Ghost,The Tenement Ghost,2010,51,Drama

In [42]:
#TMDB also has genre information, although I would need to find out what each genre code relates to.
#Let me see how far back this data goes...

#table2 = tables['tmdb_movies_csv_gz']
#table2

In [ ]:
#table2.info()

In [ ]:
#table2.sort_values(by='release_date', ascending=True).head(100)
#This dataset has genre ids for all of its movies. It starts in 1930 and ends in mid-2019.

In [43]:
#I am going to merge several of the IMDB datasets together, using the tconst as a key.
imdb_df = pd.merge(table1, table4, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes
0,tt0285252,nm0899854,nm0899854,4,219
1,tt0462036,nm1940585,nm1940585,6,18
2,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147
3,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875
4,tt0879859,nm2416460,NaN,7,21
...,...,...,...,...,...
73851,tt8947660,nm10097606,nm10097614,8,21
73852,tt8948614,"nm0827830,nm0839064",NaN,7,696
73853,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993
73854,tt8991416,nm7731173,nm7731173,7,13
73855,tt9004986,nm4993825,nm4993825,8,7

In [44]:
imdb_df= pd.merge(imdb_df, table7, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy
1,tt0462036,nm1940585,nm1940585,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama
2,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147,The Babymakers,The Babymakers,2012,95,Comedy
3,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875,Bulletface,Bulletface,2010,82,Thriller
4,tt0879859,nm2416460,NaN,7,21,Torn,Torn,2010,nan,Thriller
...,...,...,...,...,...,...,...,...,...,...
73851,tt8947660,nm10097606,nm10097614,8,21,Goyenda Tatar,Goyenda Tatar,2019,nan,Adventure
73852,tt8948614,"nm0827830,nm0839064",NaN,7,696,Reversing Roe,Reversing Roe,2018,99,Documentary
73853,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993,The Princess Switch,The Princess Switch,2018,101,Romance
73854,tt8991416,nm7731173,nm7731173,7,13,Doozy,Doozy,2018,70,"Animation,Comedy"
73855,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary

In [45]:
imdb_df= pd.merge(imdb_df, table11, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,10,nm1077681,composer,NaN,NaN
1,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,1,nm0960950,actor,NaN,"[""Darren Fields""]"
2,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,2,nm0461311,actor,NaN,"[""RJ""]"
3,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,3,nm0000686,actor,NaN,"[""Roy Callahan""]"
4,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,4,nm0001822,actor,NaN,"[""Tom Wald""]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629750,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,5,nm4993825,director,NaN,NaN
629751,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,6,nm9008590,producer,producer,NaN
629752,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,7,nm1145570,composer,NaN,NaN
629753,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,8,nm0461754,cinematographer,NaN,NaN
629754,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,9,nm6197807,cinematographer,NaN,NaN

In [46]:
#There are a lot of duplicates due to the personnel attached to each movie getting their own record.
# I doubt that I will need to check the personnel, so let's drop the duplicates.

imdb_df = imdb_df.drop_duplicates('original_title', keep='first')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,10,nm1077681,composer,NaN,NaN
10,tt0462036,nm1940585,nm1940585,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama,10,nm0230187,production_designer,NaN,NaN
20,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147,The Babymakers,The Babymakers,2012,95,Comedy,10,nm0790481,composer,NaN,NaN
30,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875,Bulletface,Bulletface,2010,82,Thriller,10,nm0480523,producer,producer,NaN
40,tt0879859,nm2416460,NaN,7,21,Torn,Torn,2010,nan,Thriller,10,nm1269186,editor,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629707,tt8947660,nm10097606,nm10097614,8,21,Goyenda Tatar,Goyenda Tatar,2019,nan,Adventure,10,nm10377635,composer,NaN,NaN
629717,tt8948614,"nm0827830,nm0839064",NaN,7,696,Reversing Roe,Reversing Roe,2018,99,Documentary,10,nm0324930,editor,NaN,NaN
629727,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993,The Princess Switch,The Princess Switch,2018,101,Romance,10,nm0294520,composer,NaN,NaN
629737,tt8991416,nm7731173,nm7731173,7,13,Doozy,Doozy,2018,70,"Animation,Comedy",1,nm0571897,actor,NaN,"[""Clovis""]"
629745,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,10,nm0826589,editor,NaN,NaN

In [47]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70944 entries, 0 to 629745
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           70944 non-null  object
 1   directors        70368 non-null  object
 2   writers          60791 non-null  object
 3   averagerating    70944 non-null  float64
 4   numvotes         70944 non-null  int64
 5   primary_title    70944 non-null  object
 6   original_title   70944 non-null  object
 7   start_year       70944 non-null  int64
 8   runtime_minutes  63654 non-null  float64
 9   genres           70246 non-null  object
 10  ordering         70944 non-null  int64
 11  nconst           70944 non-null  object
 12  category         70944 non-null  object
 13  job              7883 non-null   object
 14  characters       26953 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 8.7+ MB

In [48]:
imdb_df.sort_values('original_title').head(100)

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
3802,tt2346170,nm0950956,nm1880240,6,40,#1 Serial Killer,#1 Serial Killer,2013,87,Horror,10,nm0947510,editor,NaN,NaN
272939,tt3120962,nm5361948,nm5361948,7,6,#5,#5,2013,68,"Biography,Comedy,Fantasy",1,nm5361948,actor,NaN,"[""Ricky Bardy""]"
626374,tt5255986,nm1272505,"nm3227459,nm1272505",5,18,#66,#66,2015,116,Action,10,nm6348854,editor,NaN,NaN
618511,tt7853996,"nm8680614,nm8680613,nm0479471",NaN,8,21,#ALLMYMOVIES,#ALLMYMOVIES,2015,nan,Documentary,1,nm0479471,self,NaN,"[""Himself""]"
584307,tt9844890,nm1519998,nm10506373,7,8,#AbroHilo,#AbroHilo,2019,52,Documentary,1,nm5084084,self,NaN,"[""Himself""]"
530073,tt6170868,nm4836280,nm4836280,7,23,#BKKY,#BKKY,2016,75,Drama,1,nm8527263,actress,NaN,NaN
253747,tt5074174,nm1640045,NaN,9,31,#BeRobin the Movie,#BeRobin the Movie,2015,41,Documentary,10,nm0492548,self,NaN,"[""Herself""]"
451340,tt4353986,nm3874566,nm3874566,5,18,#Beings,#Beings,2015,56,Thriller,1,nm5565985,actor,NaN,"[""Demon""]"
311045,tt6856592,nm5381703,nm5486914,3,212,#Captured,#Captured,2017,81,Thriller,10,nm5233219,production_designer,NaN,NaN
463137,tt5803530,nm0891254,nm1966373,6,19,#DigitalLivesMatter,#DigitalLivesMatter,2016,nan,Comedy,10,nm8211622,producer,producer,NaN
173752,tt4902162,nm2656319,nm4490256,9,5,#Disneyland60,#Disneyland60,2015,45,Documentary,1,nm2656319,actress,NaN,"[""Narrator""]"
112300,tt5460468,nm7087918,nm5287967,2,7,#Enough,#Enough,2015,nan,Drama,10,nm7087916,editor,NaN,NaN
570718,tt5797822,nm7385963,"nm8208181,nm7385963",7,13,#OntheShouldersofGiants,#EradosGigantes,2017,122,Documentary,10,nm8218162,cinematographer,director of photography,NaN
440845,tt4375578,nm4078209,NaN,7,6,#Ewankosau saranghaeyo,#Ewankosau saranghaeyo,2015,110,Drama,10,nm0349412,actor,NaN,NaN
267144,tt8372826,nm1140487,nm1140487,8,274,#Female Pleasure,#Female Pleasure,2018,97,Documentary,10,nm1086137,cinematographer,NaN,NaN
431138,tt5233106,nm3026436,"nm6865794,nm5707200,nm3026436",3,186,#FollowFriday,#FollowFriday,2016,90,Thriller,10,nm3622340,cinematographer,NaN,NaN
433480,tt7272948,nm9191327,nm9191327,5,88,#Followme,#Followme,2019,90,"Horror,Thriller",1,nm3100601,actress,NaN,"[""Sophie""]"
412475,tt5610972,nm8050951,nm8050951,8,6,#Hommes: True Story of the Thieves' World,#Hommes: True Story of the Thieves' World,2015,134,Documentary,10,nm8050955,actor,NaN,NaN
527531,tt3526286,nm0836964,nm0836964,3,3092,#Horror,#Horror,2015,101,"Crime,Drama,Horror",10,nm7724675,composer,NaN,NaN
20543,tt2538204,nm1448832,"nm1452761,nm4493506",5,425,#Lucky Number,#Lucky Number,2015,80,Comedy,10,nm0449072,editor,NaN,NaN
415689,tt10284716,nm7698601,nm10318913,6,11,#Malam Jumat: The Movie,#Malam Jumat: The Movie,2019,91,Horror,10,nm9614943,editor,NaN,NaN
389868,tt3524032,nm6280685,"nm3311620,nm2035223",3,209,#Nerealnaya lyubov,#Nerealnaya lyubov,2014,nan,"Comedy,Romance",10,nm1168024,cinematographer,NaN,NaN
296171,tt3950838,nm1389536,nm1389536,9,66,#O2LForever,#O2LForever,2015,95,"Biography,Documentary,Music",10,nm1519854,editor,NaN,NaN
189643,tt9742906,nm10256497,"nm3551048,nm3794207,nm10549872,nm10256497",9,10,#Powerplant,#Powerplant,2019,61,Documentary,10,nm7307516,producer,producer,NaN
560292,tt6119504,nm1130190,"nm1393214,nm1537777,nm2434433",5,4430,#REALITYHIGH,#REALITYHIGH,2017,99,"Comedy,Drama,Romance",10,nm0649507,producer,producer,NaN
536655,tt3184026,nm5595373,"nm1800447,nm4650038,nm5595373",5,14,#Realmovie,#Realmovie,2013,62,"Drama,Thriller",1,nm1800447,actress,NaN,"[""Rocío Binoff""]"
6235,tt5646082,nm0448225,nm5224467,6,128,#Roxy,#Roxy,2018,105,"Comedy,Romance",10,nm0819395,cinematographer,director of photography,NaN
62993,tt6475636,nm2346384,"nm2346384,nm1394485",5,33,#Rucker50,#Rucker50,2016,56,Documentary,1,nm2346384,director,NaN,NaN
592950,tt5531032,nm1324090,"nm0540176,nm1324090",5,730,#Screamers,#Screamers,2016,85,"Horror,Mystery",1,nm0540176,actor,NaN,"[""Tom Brennan""]"
201511,tt6260342,nm1847677,nm6665754,5,458,Selfie,#Selfi,2018,112,Thriller,10,nm1743787,composer,NaN,NaN
230068,tt5335198,nm2463500,nm7845688,5,250,#Selfieparty,#Selfieparty,2016,90,"Action,Comedy,Thriller",10,nm4853329,cinematographer,NaN,NaN
556146,tt3428892,"nm0994402,nm1895237,nm2467575,nm6260414,nm5084...","nm5084084,nm3341086,nm1748924,nm5595047,nm5445...",7,14,#Sequence,#Sequence,2013,63,"Comedy,Drama,Family",10,nm3341086,director,NaN,NaN
403614,tt6712730,nm8885358,"nm8885358,nm1059394",7,5,#Single,#Single,2017,nan,Documentary,10,nm1060927,cinematographer,NaN,NaN
119400,tt5654204,nm6335258,nm6496623,8,24,#Slaughterhouse,#Slaughterhouse,2017,nan,"Action,Horror",10,nm7332609,producer,producer,NaN
46048,tt6565196,"nm8386512,nm7899270","nm7899270,nm8386512",7,8,#SodaCirque,#SodaCirque,2017,64,Documentary,10,nm5330009,composer,NaN,NaN
486689,tt6212476,nm2118270,"nm8556585,nm6237380,nm7938173",6,501,#Sohavégetnemérös,#Sohavégetnemérös,2016,90,"Comedy,Music",10,nm8556584,composer,NaN,NaN
605437,tt6540984,nm1876813,nm2578712,4,329,#SquadGoals,#SquadGoals,2018,90,"Drama,Thriller",10,nm3427078,cinematographer,director of photography,NaN
447851,tt2916468,nm5674629,"nm5674629,nm5674129",5,12,#Starvecrow,#Starvecrow,2017,89,"Drama,Thriller",10,nm5672799,editor,NaN,NaN
397030,tt2075318,nm0009803,"nm0009803,nm2104232,nm1377981",6,983,#Stuck,#Stuck,2014,82,"Comedy,Drama,Romance",10,nm1240544,production_designer,NaN,NaN
618362,tt7737176,"nm0479471,nm8680614,nm8680613",NaN,8,44,#TAKEMEANYWHERE,#TAKEMEANYWHERE,2018,44,"Adventure,Documentary",1,nm8680614,self,NaN,"[""Himself""]"
488036,tt8076266,nm1266812,"nm1345541,nm9664560,nm8531081,nm9106681",7,338,#TemanTapiMenikah,#TemanTapiMenikah,2018,102,"Biography,Drama",10,nm6355884,producer,producer,NaN
91043,tt5589314,nm1904053,nm1904053,8,7,#Twerkumentary,#Twerkumentary,2016,60,Documentary,1,nm1904053,director,NaN,NaN
604544,tt6082646,"nm3264525,nm8456067",nm8958293,7,18,#Uploading_Holocaust,#Uploading_Holocaust,2016,75,"Documentary,History",1,nm3264525,director,NaN,NaN
276231,tt5293858,nm2758967,nm3040029,7,160,#Walang Forever,#Walang Forever,2015,119,"Comedy,Romance",10,nm0407180,editor,NaN,NaN
165365,tt5612148,nm1337374,"nm1337374,nm7055788",4,109,#WszystkoGra,#WszystkoGra,2016,90,"Comedy,Musical",10,nm4591403,composer,NaN,NaN
547651,tt3887700,nm4378516,nm4502489,7,49,#Y,#Y,2014,100,Drama,10,nm4501850,producer,producer,NaN
473697,tt4990654,nm7559970,"nm7559970,nm6054834",9,7,#artoffline,#artoffline,2015,60,Documentary,10,nm4335448,cinematographer,NaN,NaN
509208,tt7230318,nm9186987,nm9186987,8,10,#babynymph,#babynymph,2016,80,"Drama,Thriller",10,nm9186970,producer,producer,NaN
77069,tt2607968,nm1764920,nm1764920,7,219,#chicagoGirl: The Social Network Takes on a Di...,#chicagoGirl: The Social Network Takes on a Di...,2013,74,"Action,Biography,Documentary",10,nm1423462,editor,NaN,NaN
421634,tt5465684,nm7906979,"nm7906979,nm7906992",8,18,#Resistayol,#direnayol,2016,60,Documentary,1,nm7906980,self,NaN,"[""Herself""]"
472848,tt4062604,nm6518944,nm6518944,5,28,#Thosegirls,#garotas: O Filme,2015,105,"Comedy,Drama",1,nm3862663,actress,NaN,"[""Beth""]"
76608,tt2477324,nm2272274,nm5399539,7,8,#iKllr,#iKllr,2014,95,"Horror,Thriller",10,nm3303482,editor,NaN,NaN
506472,tt3856118,"nm5286315,nm5287157",nm6623977,9,7,#standwithme,#standwithme,2014,73,"Biography,Crime,Documentary",1,nm5287157,director,NaN,NaN
270825,tt2118550,nm0107740,NaN,8,10,#whilewewatch,#whilewewatch,2011,39,"Documentary,News",10,nm4788633,cinematographer,NaN,NaN
204829,tt2106284,nm0343713,"nm0343713,nm0666388",7,1818,$50K and a Call Girl: A Love Story,$50K and a Call Girl: A Love Story,2014,90,"Action,Adventure,Comedy",10,nm2389260,composer,NaN,NaN
163597,tt4004608,"nm4919215,nm4732329",nm4732329,4,101,$elfie Shootout,$elfie Shootout,2016,86,Comedy,1,nm0093174,actor,NaN,"[""Chub""]"
149175,tt2258233,nm0563386,NaN,6,1001,$ellebrity,$ellebrity,2012,89,Documentary,10,nm0357476,cinematographer,NaN,NaN
493953,tt4397606,nm5121630,nm5121630,6,16,$kumbagz,$kumbagz,2015,71,"Crime,Thriller",1,nm5530274,actress,NaN,"[""Stephanie""]"
487426,tt7288662,nm4852399,nm6249106,6,13,& Jara Hatke,& Jara Hatke,2016,110,"Drama,Family,Romance",10,nm6223815,cinematographer,NaN,NaN
437486,tt2332503,nm0355960,"nm0355960,nm2313458",5,192,&Me,&Me,2013,88,Romance,10,nm0576685,editor,NaN,NaN
506301,tt3503754,nm4276193,"nm5628268,nm0515766,nm4276193",9,26,'51 Dons,'51 Dons,2014,nan,"Documentary,Sport",10,nm0004020,cinematographer,NaN,NaN
388071,tt2614684,nm1312919,nm2954373,7,46103,'71,'71,2014,99,"Action,Drama,Thriller",10,nm0705377,cinematographer,NaN,NaN
513782,tt2385126,nm2339266,NaN,7,39,'76,'76,2016,118,"Drama,Romance",1,nm9071885,actor,NaN,"[""Captain Mba""]"
580720,tt4417402,nm2115038,NaN,7,54,'85: The Greatest Team in Pro Football History,'85: The Greatest Team in Pro Football History,2016,90,Sport,10,nm1421061,cinematographer,NaN,NaN
244098,tt6912580,nm0149644,"nm0149644,nm5679512",5,323,Didi's Dream,'Chi chi' de ai,2017,91,"Comedy,Fantasy,Romance",10,nm2798269,producer,producer,NaN
583266,tt7834022,nm0104526,nm1258394,5,113,'He's Watching','He's Watching',2018,nan,Thriller,10,nm3726111,editor,NaN,NaN
64669,tt1234546,nm0697014,"nm0297538,nm0714272",6,442,'Master Harold' ... And the Boys,'Master Harold' ... And the Boys,2010,87,Drama,10,nm0637811,producer,producer,NaN
293609,tt2787556,nm0299197,nm5586560,6,17,The Road Less Travelled,'Mata kanarazu aou' to daremoga itta.,2013,nan,Drama,10,nm0793562,actor,NaN,NaN
2722,tt2183864,nm3225574,nm3225574,6,7,'NORMAL ' (Real Stories from the sex industry),'NORMAL ' (Real Stories from the sex industry),2012,65,"Biography,Drama,News",1,nm2695521,actress,NaN,"[""Candy""]"
145476,tt9308406,nm3462244,NaN,7,62,Now Something Is Slowly Changing,'Nu verandert er langzaam iets',2018,105,Documentary,1,nm3462244,director,NaN,NaN
387311,tt2409344,nm1760900,NaN,7,7,'Orsay,'Orsay,2012,nan,Documentary,1,nm0749222,actor,NaN,"[""Narrator""]"
604443,tt6054510,nm1035391,"nm1035391,nm3425340",8,12,'The Day of the Purple Sun': Part I,'The Day of the Purple Sun': Part I,2017,68,Drama,1,nm3425340,actress,NaN,"[""Margarethe""]"
152688,tt4199762,nm3543802,nm3543802,6,8,'Til Love Comes,'Til Love Comes,2014,78,"Comedy,Romance",1,nm4684532,actress,NaN,"[""Paris""]"
217881,tt2777190,nm3801289,nm3801289,7,9,'Til Morning,'Til Morning,2013,57,"Drama,Family,Fantasy",1,nm1382799,actress,NaN,"[""Evie""]"
613364,tt4152328,nm0255615,nm0255615,7,39,'n Man Soos My Pa,'n Man Soos My Pa,2015,nan,Drama,1,nm5105990,actor,NaN,"[""Juan (2015)""]"
286045,tt4623202,nm0736496,"nm7275753,nm0736496",5,57,'n Pawpaw Vir My Darling,'n Pawpaw Vir My Darling,2015,nan,Comedy,10,nm7286252,production_designer,NaN,NaN
598514,tt2160051,nm2960065,"nm5157769,nm2960065",5,13,'n Saak van Geloof,'n Saak van Geloof,2011,88,Drama,10,nm3287340,production_designer,NaN,NaN
86060,tt2405820,nm5282756,nm2159171,5,13,(09),(09),2014,90,"Horror,Thriller",1,nm3593924,actress,NaN,NaN
592274,tt4872362,"nm7155805,nm6691012,nm6627239,nm7246155,nm7246...","nm7513044,nm7155807",6,5,(313) Choices,(313) Choices,2015,90,Drama,10,nm6691012,director,NaN,NaN
511940,tt1811293,nm1308213,NaN,6,682,(A)sexual,(A)sexual,2011,75,Documentary,10,nm3260240,editor,NaN,NaN
512920,tt2094744,nm4047008,"nm4047008,nm4046370",6,9,(AmI) Live,(AmI) Live,2011,84,"Drama,Horror,Mystery",1,nm2938146,actress,NaN,"[""Heather""]"
140496,tt3914332,nm1336595,nm1336595,6,1627,Dean,(Dean),2016,94,"Comedy,Drama,Romance",10,nm3521453,composer,NaN,NaN
623306,tt2630898,nm0577336,NaN,8,1831,(Dis)Honesty: The Truth About Lies,(Dis)Honesty: The Truth About Lies,2015,90,"Documentary,Drama,News",1,nm4752551,self,NaN,"[""Himself""]"
45081,tt4938066,nm7013395,nm7013395,6,6,(IN) Diferentes,(IN) Diferentes,2016,nan,Comedy,1,nm7515136,actor,NaN,"[""Arturo""]"
241638,tt4874206,nm1970598,"nm1970598,nm6611534",7,3869,The Student,(M)uchenik,2016,118,Drama,10,nm5547532,composer,NaN,NaN
521671,tt1496374,nm3577687,NaN,8,10,(No) Laughing Matter,(No) Laughing Matter,2010,55,"Comedy,Documentary",10,nm1385383,editor,NaN,NaN
12305,tt2794792,"nm5591142,nm1855334",nm1855334,3,34,(Q)üfür,(Q)üfür,2013,nan,Comedy,10,nm2596874,actor,NaN,NaN
493865,tt4370922,"nm4109871,nm4721448",NaN,7,710,(T)ERROR,(T)ERROR,2015,84,Documentary,10,nm2375440,editor,NaN,NaN
190693,tt1598691,nm3798130,"nm3799132,nm3798130,nm3797952",5,17,* Cemetery,* Cemetery,2010,80,"Comedy,Horror,Thriller",1,nm3799306,actor,NaN,"[""Dr. Goodleburg""]"
465612,tt1331087,nm2874989,nm2874989,4,22,*69,*69,2016,100,"Horror,Mystery,Thriller",10,nm1351918,cinematographer,NaN,NaN
608854,tt1941429,nm1029798,nm1029798,8,14,*MEI [MEIG] Voci migranti,*MEI [MEIG] Voci migranti,2010,50,Documentary,1,nm4453731,actor,NaN,"[""Narrator""]"
271544,tt2395385,nm1531934,"nm1531934,nm1976650",6,7344,+1,+1,2013,96,"Horror,Sci-Fi,Thriller",10,nm0561430,editor,NaN,NaN
183854,tt3495034,nm3267205,nm6728027,8,5,-1287,-1287,2014,70,"Biography,Documentary",1,nm3267205,director,NaN,NaN
208131,tt4129900,nm0758033,"nm0406206,nm0758033,nm1419054",6,204,... E fuori nevica!,... E fuori nevica!,2014,94,Comedy,10,nm0647439,cinematographer,NaN,NaN
197339,tt3116888,nm1164192,nm1164192,6,19,... Re: yakshaprashne,... Re: yakshaprashne,2016,nan,Comedy,10,nm1363079,cinematographer,NaN,NaN
433027,tt6728418,nm3596430,"nm1967216,nm0847176",6,8,...And Love,...And Love,2017,nan,"Drama,Romance",1,nm1856057,actress,NaN,"[""Yuko""]"
426433,tt2200030,nm1617216,"nm2247259,nm1617216",7,15,...And Then I Helped,...And Then I Helped,2010,101,Horror,10,nm3072644,actress,NaN,NaN
586784,tt1961143,nm4503647,nm4503647,9,7,...EBONG KANNA,...EBONG KANNA,2010,119,"Drama,Western",1,nm4502438,actor,NaN,"[""Afaz Ali""]"
35674,tt4272422,nm1182052,nm1760996,6,18,...Mama ei de tranzitie!?!,...Mama ei de tranzitie!?!,2012,100,"Comedy,Drama",10,nm0407702,editor,NaN,NaN
123633,tt1649264,nm0084983,NaN,7,119,...But Film is My Mistress,...Men filmen är min älskarinna,2010,66,Documentary,1,nm0000095,self,NaN,"[""Himself""]"

In [49]:
#dropped the columns that weren't useful. (can always get them back from the original sources)
# I dropped the following columns: directors, writers, ordering, nconst, category, job, characters
imdb_df = imdb_df.drop(['directors', 'writers', 'ordering', 'nconst', 'category', 'job', 'characters'], axis = 1)
imdb_df.head(10)

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0285252,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy
10,tt0462036,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama
20,tt0835418,5,8147,The Babymakers,The Babymakers,2012,95,Comedy
30,tt0878654,6,875,Bulletface,Bulletface,2010,82,Thriller
40,tt0879859,7,21,Torn,Torn,2010,nan,Thriller
50,tt0996958,2,495,Legend of the Red Reaper,Legend of the Red Reaper,2013,99,"Action,Adventure,Fantasy"
60,tt0999913,6,30924,Straw Dogs,Straw Dogs,2011,110,"Action,Drama,Thriller"
70,tt10011102,8,55,The Sholay Girl,The Sholay Girl,2019,106,"Action,Biography,Drama"
80,tt1002965,8,31,Call of Life,Call of Life,2010,60,Documentary
90,tt10055770,8,380,Vellai Pookal,Vellaipookal,2019,122,Thriller

In [ ]:
#I want to now merge this imdb_df with my financial information from table9. I know that if I just do a merge
# on primary title, some of the results will be incorrect. (Avatar is the top grossing movie but is listed as a horror movie)

In [50]:
#inner join with the indiciator column so I can track where everything is coming from.

merged_originals = pd.merge(table9, imdb_df, left_on= 'movie', right_on= 'original_title', how='left', indicator=True)
merged_originals.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2,tt1298650,7,"447,624",Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,"Action,Adventure,Fantasy",both
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1,tt6565702,6,"24,451",Dark Phoenix,Dark Phoenix,"2,019",113,"Action,Adventure,Sci-Fi",both
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3,tt2395427,7,"665,594",Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,"Action,Adventure,Sci-Fi",both
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only

In [51]:
#5782 records after the left join.
merged_originals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 0 to 5781
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   datetime64[ns]
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   float64
 4   domestic_gross     5782 non-null   float64
 5   worldwide_gross    5782 non-null   float64
 6   release_year       5782 non-null   int64
 7   total_profit       5782 non-null   float64
 8   ROI                5782 non-null   float64
 9   tconst             2123 non-null   object
 10  averagerating      2123 non-null   float64
 11  numvotes           2123 non-null   float64
 12  primary_title      2123 non-null   object
 13  original_title     2123 non-null   object
 14  start_year         2123 non-null   float64
 15  runtime_minutes    2067 non-null   float64
 16  genres             2123 non-null   object
 17  _merge             5782 non-null   category
dtypes: category(1), datetime64[ns](1), float64(9), int64(2), object(5)
memory usage: 818.8+ KB

In [53]:
 #merged_originals.sort_values('movie', ascending=True).head(20)

In [54]:
#slicing into two datasets. One where the merge with original_title worked, and one where it didn't.
correct_merge_df = merged_originals.loc[(merged_originals["_merge"] == "both")]
need_to_merge = merged_originals.loc[(merged_originals["_merge"] != "both")]

In [55]:
need_to_merge.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
15,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only

In [80]:
correct_merge_df = correct_merge_df.drop(['_merge'], axis=1)
correct_merge_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2,tt1298650,7,"447,624",Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,"Action,Adventure,Fantasy"
1,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1,tt6565702,6,"24,451",Dark Phoenix,Dark Phoenix,"2,019",113,"Action,Adventure,Sci-Fi"
2,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3,tt2395427,7,"665,594",Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,"Action,Adventure,Sci-Fi"
3,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6,tt4154756,8,"670,926",Avengers: Infinity War,Avengers: Infinity War,"2,018",149,"Action,Adventure,Sci-Fi"
4,9,2017-11-17,Justice League,"300,000,000","229,024,295","655,945,209",2017,"355,945,209",1,tt0974015,6,"329,135",Justice League,Justice League,"2,017",120,"Action,Adventure,Fantasy"

In [56]:
#locating Avatar and moving it to the correct_merge_df as I can tell from the release_year, and original_title
#that the horror movie Avatar is not the one that was the best grossing movie of all time.
avatar = merged_originals.loc[(merged_originals['movie'] == 'Avatar')]
avatar

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only

In [57]:
avatar

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only

In [58]:
correct_merge_df = correct_merge_df.append(avatar, ignore_index = True)

In [59]:
correct_merge_df.sort_values('total_profit', ascending=False).head(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,_merge
2123,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
28,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997,"2,008,208,395",10,tt2495766,6,20,Titanic,Titanic,"2,012",nan,Adventure,both
3,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6,tt4154756,8,"670,926",Avengers: Infinity War,Avengers: Infinity War,"2,018",149,"Action,Adventure,Sci-Fi",both
23,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015,"1,433,854,864",7,tt0369610,7,"539,338",Jurassic World,Jurassic World,"2,015",124,"Action,Adventure,Sci-Fi",both
18,27,2012-05-04,The Avengers,"225,000,000","623,279,547","1,517,935,897",2012,"1,292,935,897",6,tt0848228,8,"1,183,655",The Avengers,The Avengers,"2,012",143,"Action,Adventure,Sci-Fi",both

In [67]:
#now merging need_to_merge  with primary name.
#merged_with_primary = pd.merge(need_to_merge, imdb_df, left_on= 'movie', right_on= 'primary_title', how='left', indicator=True)
#merged_with_primary.head()

In [61]:
#need to drop the indicator column if I want to use it again.
need_to_merge = need_to_merge.drop(['_merge'], axis=1)
need_to_merge.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN
15,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN

In [62]:
#dropping Avatar as I know that it is not merging correctly.
need_to_merge = need_to_merge.drop(0)
need_to_merge.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN
15,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN
19,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN

In [66]:
merged_with_primary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3673 entries, 0 to 3672
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3673 non-null   int64
 1   release_date       3673 non-null   datetime64[ns]
 2   movie              3673 non-null   object
 3   production_budget  3673 non-null   float64
 4   domestic_gross     3673 non-null   float64
 5   worldwide_gross    3673 non-null   float64
 6   release_year       3673 non-null   int64
 7   total_profit       3673 non-null   float64
 8   ROI                3673 non-null   float64
 9   tconst_x           0 non-null      object
 10  averagerating_x    0 non-null      float64
 11  numvotes_x         0 non-null      float64
 12  primary_title_x    0 non-null      object
 13  original_title_x   0 non-null      object
 14  start_year_x       0 non-null      float64
 15  runtime_minutes_x  0 non-null      float64
 16  genres_x           0 non-null      object
 17  tconst_y           127 non-null    object
 18  averagerating_y    127 non-null    float64
 19  numvotes_y         127 non-null    float64
 20  primary_title_y    127 non-null    object
 21  original_title_y   127 non-null    object
 22  start_year_y       127 non-null    float64
 23  runtime_minutes_y  123 non-null    float64
 24  genres_y           127 non-null    object
 25  _merge             3673 non-null   category
dtypes: category(1), datetime64[ns](1), float64(13), int64(2), object(9)
memory usage: 749.8+ KB

In [68]:
merged_with_primary = merged_with_primary.drop(merged_with_primary.columns[9:16], axis = 1)
merged_with_primary.head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,genres_x,tconst_y,averagerating_y,numvotes_y,primary_title_y,original_title_y,start_year_y,runtime_minutes_y,genres_y,_merge
0,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
5,24,2006-06-28,Superman Returns,"232,000,000","200,120,000","374,085,065",2006,"142,085,065",1,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
6,26,2008-11-14,Quantum of Solace,"230,000,000","169,368,427","591,692,078",2008,"361,692,078",2,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
7,28,2006-07-07,Pirates of the Caribbean: Dead Manâs Chest,"225,000,000","423,315,812","1,066,215,812",2006,"841,215,812",4,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
8,30,2008-05-16,The Chronicles of Narnia: Prince Caspian,"225,000,000","141,621,490","417,341,288",2008,"192,341,288",1,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only
9,36,2009-06-24,Transformers: Revenge of the Fallen,"210,000,000","402,111,870","836,519,699",2009,"626,519,699",3,NaN,NaN,nan,nan,NaN,NaN,nan,nan,NaN,left_only

In [69]:
merged_with_primary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3673 entries, 0 to 3672
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3673 non-null   int64
 1   release_date       3673 non-null   datetime64[ns]
 2   movie              3673 non-null   object
 3   production_budget  3673 non-null   float64
 4   domestic_gross     3673 non-null   float64
 5   worldwide_gross    3673 non-null   float64
 6   release_year       3673 non-null   int64
 7   total_profit       3673 non-null   float64
 8   ROI                3673 non-null   float64
 9   genres_x           0 non-null      object
 10  tconst_y           127 non-null    object
 11  averagerating_y    127 non-null    float64
 12  numvotes_y         127 non-null    float64
 13  primary_title_y    127 non-null    object
 14  original_title_y   127 non-null    object
 15  start_year_y       127 non-null    float64
 16  runtime_minutes_y  123 non-null    float64
 17  genres_y           127 non-null    object
 18  _merge             3673 non-null   category
dtypes: category(1), datetime64[ns](1), float64(9), int64(2), object(6)
memory usage: 548.9+ KB

In [71]:
merged_with_primary = merged_with_primary.drop(merged_with_primary.columns[9], axis = 1)
merged_with_primary.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,averagerating_y,numvotes_y,primary_title_y,original_title_y,start_year_y,runtime_minutes_y,genres_y,_merge
0,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,nan,nan,NaN,NaN,nan,nan,NaN,left_only
1,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,nan,nan,NaN,NaN,nan,nan,NaN,left_only
2,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,nan,nan,NaN,NaN,nan,nan,NaN,left_only
3,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,nan,nan,NaN,NaN,nan,nan,NaN,left_only
4,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,nan,nan,NaN,NaN,nan,nan,NaN,left_only

In [77]:
#dropping indicator column
merged_with_primary = merged_with_primary.drop(merged_with_primary.columns[16], axis = 1)
merged_with_primary.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,average_rating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,nan,nan,NaN,NaN,nan,nan,NaN
1,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,nan,nan,NaN,NaN,nan,nan,NaN
2,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,nan,nan,NaN,NaN,nan,nan,NaN
3,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,nan,nan,NaN,NaN,nan,nan,NaN
4,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,nan,nan,NaN,NaN,nan,nan,NaN

In [87]:
#Renaming the columns which contain _y
merged_with_primary.rename(columns = {'averagerating_y':'averagerating', 'numvotes_y':'numvotes',
                              'primary_title_y':'primary_title', 'original_title_y':'original_title',
                              'start_year_y': 'start_year', 'runtime_minutes_y': 'runtime_minutes',
                              'genres_y' : 'genres'}, inplace = True)

In [88]:
merged_with_primary

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,average_rating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,nan,nan,NaN,NaN,nan,nan,NaN
1,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,nan,nan,NaN,NaN,nan,nan,NaN
2,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,nan,nan,NaN,NaN,nan,nan,NaN
3,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,nan,nan,NaN,NaN,nan,nan,NaN
4,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,nan,nan,NaN,NaN,nan,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3668,76,2006-05-26,Cavite,"7,000","70,071","71,644",2006,"64,644",9,nan,nan,NaN,NaN,nan,nan,NaN
3669,77,2004-12-31,The Mongol King,"7,000",900,900,2004,"-6,100",-1,nan,nan,NaN,NaN,nan,nan,NaN
3670,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39,nan,nan,NaN,NaN,nan,nan,NaN
3671,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005,"-3,662",-1,nan,nan,NaN,NaN,nan,nan,NaN
3672,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164,nan,nan,NaN,NaN,nan,nan,NaN

In [89]:
merged_with_primary.rename(columns = {'average_rating':'averagerating',}, inplace = True)

In [84]:
#project_df = pd.merge(merged_with_primary, correct_merge_df, left_on= 'movie', right_on= 'movie', how='outer', indicator=True)
#project_df.head()
#This created a lot of messy-ness. All of the columns should be same, so maybe I should just append the dfs.

In [153]:
#can you just append the df?
project_df =  correct_merge_df.append(merged_with_primary, ignore_index=True)
project_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2,tt1298650,7,"447,624",Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,"Action,Adventure,Fantasy"
1,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1,tt6565702,6,"24,451",Dark Phoenix,Dark Phoenix,"2,019",113,"Action,Adventure,Sci-Fi"
2,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3,tt2395427,7,"665,594",Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,"Action,Adventure,Sci-Fi"
3,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6,tt4154756,8,"670,926",Avengers: Infinity War,Avengers: Infinity War,"2,018",149,"Action,Adventure,Sci-Fi"
4,9,2017-11-17,Justice League,"300,000,000","229,024,295","655,945,209",2017,"355,945,209",1,tt0974015,6,"329,135",Justice League,Justice League,"2,017",120,"Action,Adventure,Fantasy"

In [154]:
project_df.sort_values('total_profit', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
2123,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN
28,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997,"2,008,208,395",10,tt2495766,6,20,Titanic,Titanic,"2,012",nan,Adventure
3,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6,tt4154756,8,"670,926",Avengers: Infinity War,Avengers: Infinity War,"2,018",149,"Action,Adventure,Sci-Fi"
2125,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN
23,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015,"1,433,854,864",7,tt0369610,7,"539,338",Jurassic World,Jurassic World,"2,015",124,"Action,Adventure,Sci-Fi"
2145,67,2015-04-03,Furious 7,"190,000,000","353,007,020","1,518,722,794",2015,"1,328,722,794",7,NaN,7,"335,074",Furious 7,Furious Seven,"2,015",137,"Action,Crime,Thriller"
18,27,2012-05-04,The Avengers,"225,000,000","623,279,547","1,517,935,897",2012,"1,292,935,897",6,tt0848228,8,"1,183,655",The Avengers,The Avengers,"2,012",143,"Action,Adventure,Sci-Fi"
2224,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,"125,000,000","381,193,157","1,341,693,157",2011,"1,216,693,157",10,NaN,nan,nan,NaN,NaN,nan,nan,NaN
27,42,2018-02-16,Black Panther,"200,000,000","700,059,566","1,348,258,224",2018,"1,148,258,224",6,tt1825683,7,"516,148",Black Panther,Black Panther,"2,018",134,"Action,Adventure,Sci-Fi"
73,13,2018-06-22,Jurassic World: Fallen Kingdom,"170,000,000","417,719,760","1,305,772,799",2018,"1,135,772,799",7,tt4881806,6,"219,125",Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,"2,018",128,"Action,Adventure,Sci-Fi"
103,56,2013-11-22,Frozen,"150,000,000","400,738,009","1,272,469,910",2013,"1,122,469,910",7,tt1323045,6,"62,311",Frozen,Frozen,"2,010",93,"Adventure,Drama,Sport"
91,35,2017-03-17,Beauty and the Beast,"160,000,000","504,014,165","1,259,199,706",2017,"1,099,199,706",7,tt2771200,7,"238,325",Beauty and the Beast,Beauty and the Beast,"2,017",129,"Family,Fantasy,Musical"
316,73,2015-07-10,Minions,"74,000,000","336,045,770","1,160,336,173",2015,"1,086,336,173",15,tt2293640,6,"193,917",Minions,Minions,"2,015",91,"Adventure,Animation,Comedy"
2,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3,tt2395427,7,"665,594",Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,"Action,Adventure,Sci-Fi"
2312,26,2003-12-17,The Lord of the Rings: The Return of the King,"94,000,000","377,845,905","1,141,403,341",2003,"1,047,403,341",11,NaN,nan,nan,NaN,NaN,nan,nan,NaN
29,44,2018-06-15,Incredibles 2,"200,000,000","608,581,744","1,242,520,711",2018,"1,042,520,711",5,tt3606756,8,"203,510",Incredibles 2,Incredibles 2,"2,018",118,"Action,Adventure,Animation"
2138,48,2013-05-03,Iron Man 3,"200,000,000","408,992,272","1,215,392,272",2013,"1,015,392,272",5,NaN,7,"692,794",Iron Man 3,Iron Man Three,"2,013",130,"Action,Adventure,Sci-Fi"
2124,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
92,36,2018-12-21,Aquaman,"160,000,000","335,061,807","1,146,894,640",2018,"986,894,640",6,tt1477834,7,"263,328",Aquaman,Aquaman,"2,018",143,"Action,Adventure,Fantasy"
16,23,2017-04-14,The Fate of the Furious,"250,000,000","225,764,765","1,234,846,267",2017,"984,846,267",4,tt4630562,7,"179,774",The Fate of the Furious,The Fate of the Furious,"2,017",136,"Action,Crime,Thriller"
2579,25,1993-06-11,Jurassic Park,"63,000,000","395,708,305","1,038,812,584",1993,"975,812,584",15,NaN,nan,nan,NaN,NaN,nan,nan,NaN
303,30,2017-06-30,Despicable Me 3,"75,000,000","264,624,300","1,034,727,750",2017,"959,727,750",13,tt3469046,6,"92,580",Despicable Me 3,Despicable Me 3,"2,017",89,"Adventure,Animation,Comedy"
64,96,2019-03-08,Captain Marvel,"175,000,000","426,525,952","1,123,061,550",2019,"948,061,550",5,tt4154664,7,"296,225",Captain Marvel,Captain Marvel,"2,019",123,"Action,Adventure,Sci-Fi"
41,64,2011-06-29,Transformers: Dark of the Moon,"195,000,000","352,390,543","1,123,790,543",2011,"928,790,543",5,tt1399103,6,"366,409",Transformers: Dark of the Moon,Transformers: Dark of the Moon,"2,011",154,"Action,Adventure,Sci-Fi"
2243,4,1999-05-19,Star Wars Ep. I: The Phantom Menace,"115,000,000","474,544,677","1,027,044,677",1999,"912,044,677",8,NaN,nan,nan,NaN,NaN,nan,nan,NaN
33,52,2012-11-08,Skyfall,"200,000,000","304,360,277","1,110,526,981",2012,"910,526,981",5,tt1074638,8,"592,221",Skyfall,Skyfall,"2,012",143,"Action,Adventure,Thriller"
2437,9,1994-06-15,The Lion King,"79,300,000","421,785,283","986,214,868",1994,"906,914,868",11,NaN,nan,nan,NaN,NaN,nan,nan,NaN
300,22,2013-07-03,Despicable Me 2,"76,000,000","368,065,385","975,216,835",2013,"899,216,835",12,tt1690953,7,"344,230",Despicable Me 2,Despicable Me 2,"2,013",98,"Adventure,Animation,Comedy"
25,37,2014-06-27,Transformers: Age of Extinction,"210,000,000","245,439,076","1,104,039,076",2014,"894,039,076",4,tt2109248,6,"283,486",Transformers: Age of Extinction,Transformers: Age of Extinction,"2,014",165,"Action,Adventure,Sci-Fi"
11,17,2016-05-06,Captain America: Civil War,"250,000,000","408,084,349","1,140,069,413",2016,"890,069,413",4,tt3498820,8,"583,507",Captain America: Civil War,Captain America: Civil War,"2,016",147,"Action,Adventure,Sci-Fi"
240,38,2017-12-20,Jumanji: Welcome to the Jungle,"90,000,000","404,508,916","964,496,193",2017,"874,496,193",10,tt2283362,7,"242,735",Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,"2,017",119,"Action,Adventure,Comedy"
104,57,2016-03-04,Zootopia,"150,000,000","341,268,248","1,019,429,616",2016,"869,429,616",6,tt2948356,8,"383,446",Zootopia,Zootopia,"2,016",108,"Adventure,Animation,Comedy"
31,47,2010-06-18,Toy Story 3,"200,000,000","415,004,880","1,068,879,522",2010,"868,879,522",4,tt0435761,8,"682,218",Toy Story 3,Toy Story 3,"2,010",103,"Adventure,Animation,Comedy"
2495,93,2004-05-19,Shrek 2,"70,000,000","441,226,247","937,008,132",2004,"867,008,132",12,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2225,63,2001-11-16,Harry Potter and the Sorcererâs Stone,"125,000,000","317,871,467","975,047,606",2001,"850,047,606",7,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2137,45,2016-12-16,Rogue One: A Star Wars Story,"200,000,000","532,177,324","1,049,102,856",2016,"849,102,856",4,NaN,8,"478,592",Rogue One: A Star Wars Story,Rogue One,"2,016",133,"Action,Adventure,Sci-Fi"
2311,25,2003-05-30,Finding Nemo,"94,000,000","380,529,370","936,429,370",2003,"842,429,370",9,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2131,28,2006-07-07,Pirates of the Caribbean: Dead Manâs Chest,"225,000,000","423,315,812","1,066,215,812",2006,"841,215,812",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2313,27,2002-12-18,The Lord of the Rings: The Two Towers,"94,000,000","342,548,984","934,699,645",2002,"840,699,645",9,NaN,nan,nan,NaN,NaN,nan,nan,NaN
423,84,2018-11-02,Bohemian Rhapsody,"55,000,000","216,303,339","894,985,342",2018,"839,985,342",15,tt1727824,8,"345,466",Bohemian Rhapsody,Bohemian Rhapsody,"2,018",134,"Biography,Drama,Music"
2226,64,2010-11-19,Harry Potter and the Deathly Hallows: Part I,"125,000,000","296,131,568","960,431,568",2010,"835,431,568",7,NaN,nan,nan,NaN,NaN,nan,nan,NaN
32,51,2010-03-05,Alice in Wonderland,"200,000,000","334,191,110","1,025,491,110",2010,"825,491,110",4,tt2049386,6,6,Alice in Wonderland,Alice in Wonderland,"2,010",99,"Fantasy,Musical"
30,46,2016-06-17,Finding Dory,"200,000,000","486,295,561","1,021,215,193",2016,"821,215,193",4,tt2277860,7,"213,542",Finding Dory,Finding Dory,"2,016",97,"Adventure,Animation,Comedy"
2148,75,2008-07-18,The Dark Knight,"185,000,000","533,720,947","1,001,996,207",2008,"816,996,207",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN
301,26,2016-07-08,The Secret Life of Pets,"75,000,000","368,384,330","886,750,534",2016,"811,750,534",11,tt2709768,6,"161,997",The Secret Life of Pets,The Secret Life of Pets,"2,016",87,"Adventure,Animation,Comedy"
6,11,2012-07-20,The Dark Knight Rises,"275,000,000","448,139,099","1,084,439,099",2012,"809,439,099",3,tt1345836,8,"1,387,769",The Dark Knight Rises,The Dark Knight Rises,"2,012",164,"Action,Thriller"
2175,58,2007-07-11,Harry Potter and the Order of the Phoenix,"150,000,000","292,137,260","943,076,457",2007,"793,076,457",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN
65,97,2016-04-15,The Jungle Book,"175,000,000","364,001,123","962,854,547",2016,"787,854,547",5,tt3040964,7,"240,821",The Jungle Book,The Jungle Book,"2,016",106,"Adventure,Drama,Family"
228,14,2012-07-13,Ice Age: Continental Drift,"95,000,000","161,321,843","879,765,137",2012,"784,765,137",8,tt1667889,7,"175,601",Ice Age: Continental Drift,Ice Age: Continental Drift,"2,012",88,"Adventure,Animation,Comedy"
4363,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000","435,110,554","792,965,326",1982,"782,465,326",75,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2279,64,2002-11-15,Harry Potter and the Chamber of Secrets,"100,000,000","262,233,381","879,225,135",2002,"779,225,135",8,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2266,43,2001-12-19,The Lord of the Rings: The Fellowship of the Ring,"109,000,000","315,544,750","887,210,985",2001,"778,210,985",7,NaN,nan,nan,NaN,NaN,nan,nan,NaN
4320,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000","460,998,007","786,598,007",1977,"775,598,007",71,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2323,43,2009-07-01,Ice Age: Dawn of the Dinosaurs,"90,000,000","196,573,705","859,701,857",2009,"769,701,857",9,NaN,nan,nan,NaN,NaN,nan,nan,NaN
13,19,2012-12-14,The Hobbit: An Unexpected Journey,"250,000,000","303,003,568","1,017,003,568",2012,"767,003,568",3,tt0903624,8,"719,629",The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,"2,012",169,"Adventure,Family,Fantasy"
2176,59,2005-11-18,Harry Potter and the Goblet of Fire,"150,000,000","290,201,752","897,099,794",2005,"747,099,794",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN
411,56,2016-02-12,Deadpool,"58,000,000","363,070,709","801,025,593",2016,"743,025,593",13,tt1431045,8,"820,847",Deadpool,Deadpool,"2,016",108,"Action,Adventure,Comedy"
2447,27,1996-07-02,Independence Day,"75,000,000","306,169,255","817,400,878",1996,"742,400,878",10,NaN,nan,nan,NaN,NaN,nan,nan,NaN
182,3,2018-10-05,Venom,"116,000,000","213,511,408","853,628,605",2018,"737,628,605",6,tt1270797,7,"275,406",Venom,Venom,"2,018",112,"Action,Sci-Fi,Thriller"
142,38,2013-11-22,The Hunger Games: Catching Fire,"130,000,000","424,668,047","864,868,047",2013,"734,868,047",6,tt1951264,8,"575,455",The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,"2,013",146,"Action,Adventure,Sci-Fi"
2244,5,2005-05-19,Star Wars Ep. III: Revenge of the Sith,"115,000,000","380,270,577","848,998,877",2005,"733,998,877",6,NaN,nan,nan,NaN,NaN,nan,nan,NaN
14,21,2013-12-13,The Hobbit: The Desolation of Smaug,"250,000,000","258,366,855","960,366,855",2013,"710,366,855",3,tt1170358,8,"565,563",The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,"2,013",161,"Adventure,Fantasy"
67,99,2017-07-07,Spider-Man: Homecoming,"175,000,000","334,201,140","880,166,350",2017,"705,166,350",4,tt2250912,8,"426,302",Spider-Man: Homecoming,Spider-Man: Homecoming,"2,017",133,"Action,Adventure,Sci-Fi"
15,22,2014-12-17,The Hobbit: The Battle of the Five Armies,"250,000,000","255,119,788","945,577,621",2014,"695,577,621",3,tt2310332,7,"438,621",The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,"2,014",144,"Adventure,Fantasy"
2214,25,2012-11-16,"The Twilight Saga: Breaking Dawn, Part 2","136,200,000","292,324,737","829,724,737",2012,"693,524,737",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2128,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2208,19,2002-05-03,Spider-Man,"139,000,000","403,706,375","821,706,375",2002,"682,706,375",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN
66,98,2015-06-19,Inside Out,"175,000,000","356,461,711","854,235,992",2015,"679,235,992",4,tt1640486,5,"1,566",Inside Out,Inside Out,"2,011",93,"Crime,Drama"
186,15,2018-05-18,Deadpool 2,"110,000,000","324,591,735","786,680,557",2018,"676,680,557",6,tt5463162,8,"391,735",Deadpool 2,Deadpool 2,"2,018",119,"Action,Adventure,Comedy"
93,38,2010-07-16,Inception,"160,000,000","292,576,195","835,524,642",2010,"675,524,642",4,tt1375666,9,"1,841,066",Inception,Inception,"2,010",148,"Action,Adventure,Sci-Fi"
102,55,2017-06-02,Wonder Woman,"150,000,000","412,563,408","821,133,378",2017,"671,133,378",4,tt4028068,4,20,Wonder Woman,Wonder Woman,"2,014",60,Sci-Fi
54,82,2017-11-03,Thor: Ragnarok,"180,000,000","315,058,289","846,980,024",2017,"666,980,024",4,tt3501632,8,"482,995",Thor: Ragnarok,Thor: Ragnarok,"2,017",130,"Action,Adventure,Comedy"
2218,39,2004-06-04,Harry Potter and the Prisoner of Azkaban,"130,000,000","249,757,726","796,907,323",2004,"666,907,323",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2126,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN
638,24,2017-09-08,It,"35,000,000","327,481,748","697,457,969",2017,"662,457,969",19,tt1396484,7,"359,123",It,It,"2,017",135,"Horror,Thriller"
2139,49,2017-05-05,Guardians of the Galaxy Vol 2,"200,000,000","389,813,101","862,316,233",2017,"662,316,233",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2166,37,2007-05-17,Shrek the Third,"160,000,000","322,719,944","807,330,936",2007,"647,330,936",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2227,65,2006-05-19,The Da Vinci Code,"125,000,000","217,536,138","767,820,459",2006,"642,820,459",5,NaN,nan,nan,NaN,NaN,nan,nan,NaN
159,62,2014-11-21,The Hunger Games: Mockingjay - Part 1,"125,000,000","337,135,885","766,575,131",2014,"641,575,131",5,tt1951265,7,"379,050",The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,"2,014",123,"Action,Adventure,Sci-Fi"
342,53,2010-06-30,The Twilight Saga: Eclipse,"68,000,000","300,531,751","706,102,828",2010,"638,102,828",9,tt1325004,5,"211,733",The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,"2,010",124,"Adventure,Drama,Fantasy"
2755,82,2009-11-20,The Twilight Saga: New Moon,"50,000,000","296,623,634","687,557,727",2009,"637,557,727",13,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2127,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2,NaN,nan,nan,NaN,NaN,nan,nan,NaN
0,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2,tt1298650,7,"447,624",Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,"Action,Adventure,Fantasy"
2946,75,1999-08-06,The Sixth Sense,"40,000,000","293,506,292","672,806,292",1999,"632,806,292",16,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2167,40,2013-05-24,Fast and Furious 6,"160,000,000","238,679,850","789,300,444",2013,"629,300,444",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2133,36,2009-06-24,Transformers: Revenge of the Fallen,"210,000,000","402,111,870","836,519,699",2009,"626,519,699",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2681,82,1994-07-06,Forrest Gump,"55,000,000","330,151,138","679,850,637",1994,"624,850,637",11,NaN,nan,nan,NaN,NaN,nan,nan,NaN
69,2,2017-11-22,Coco,"175,000,000","209,726,015","798,008,101",2017,"623,008,101",4,tt7002100,7,35,Coco,Coco,"2,017",98,Horror
56,85,2016-11-18,Fantastic Beasts and Where to Find Them,"180,000,000","234,037,575","802,402,853",2016,"622,402,853",3,tt3183660,7,"365,353",Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,"2,016",132,"Adventure,Family,Fantasy"
12,18,2016-03-25,Batman v Superman: Dawn of Justice,"250,000,000","330,360,194","867,500,281",2016,"617,500,281",2,tt2975590,6,"576,909",Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,"2,016",151,"Action,Adventure,Fantasy"
2153,92,2018-07-27,Mission: ImpossibleâFallout,"178,000,000","220,159,104","787,456,552",2018,"609,456,552",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
120,97,2012-06-08,Madagascar 3: Europe's Most Wanted,"145,000,000","216,391,482","746,921,271",2012,"601,921,271",4,tt1277953,7,"146,858",Madagascar 3: Europe's Most Wanted,Madagascar 3: Europe's Most Wanted,"2,012",93,"Adventure,Animation,Comedy"
2149,76,2008-05-22,Indiana Jones and the Kingdom of the Crystal S...,"185,000,000","317,101,119","786,635,413",2008,"601,635,413",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
74,14,2014-08-01,Guardians of the Galaxy,"170,000,000","333,172,112","770,867,516",2014,"600,867,516",4,tt2015381,8,"948,394",Guardians of the Galaxy,Guardians of the Galaxy,"2,014",121,"Action,Adventure,Comedy"
276,38,2012-03-23,The Hunger Games,"80,000,000","408,010,692","677,923,379",2012,"597,923,379",7,tt1392170,7,"795,227",The Hunger Games,The Hunger Games,"2,012",142,"Action,Adventure,Sci-Fi"
3450,60,2004-02-25,The Passion of the Christ,"25,000,000","370,782,930","622,341,924",2004,"597,341,924",24,NaN,nan,nan,NaN,NaN,nan,nan,NaN
2140,50,2004-06-30,Spider-Man 2,"200,000,000","373,524,485","795,110,670",2004,"595,110,670",3,NaN,nan,nan,NaN,NaN,nan,nan,NaN
84,27,2010-05-21,Shrek Forever After,"165,000,000","238,736,787","756,244,673",2010,"591,244,673",4,tt0892791,6,"167,532",Shrek Forever After,Shrek Forever After,"2,010",93,"Adventure,Animation,Comedy"
2177,60,2003-05-15,The Matrix Reloaded,"150,000,000","281,553,689","738,576,929",2003,"588,576,929",4,NaN,nan,nan,NaN,NaN,nan,nan,NaN
953,86,1991-11-13,Beauty and the Beast,"20,000,000","376,057,266","608,431,132",1991,"588,431,132",29,tt2771200,7,"238,325",Beauty and the Beast,Beauty and the Beast,"2,017",129,"Family,Fantasy,Musical"

In [155]:
project_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5797 entries, 0 to 5796
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5797 non-null   int64
 1   release_date       5797 non-null   datetime64[ns]
 2   movie              5797 non-null   object
 3   production_budget  5797 non-null   float64
 4   domestic_gross     5797 non-null   float64
 5   worldwide_gross    5797 non-null   float64
 6   release_year       5797 non-null   int64
 7   total_profit       5797 non-null   float64
 8   ROI                5797 non-null   float64
 9   tconst             2123 non-null   object
 10  averagerating      2250 non-null   float64
 11  numvotes           2250 non-null   float64
 12  primary_title      2250 non-null   object
 13  original_title     2250 non-null   object
 14  start_year         2250 non-null   float64
 15  runtime_minutes    2190 non-null   float64
 16  genres             2250 non-null   object
dtypes: datetime64[ns](1), float64(9), int64(2), object(5)
memory usage: 770.0+ KB

In [156]:
duplicates = project_df[project_df.duplicated()]
print(len(duplicates))
duplicates.head()

0

Empty DataFrame
Columns: [id, release_date, movie, production_budget, domestic_gross, worldwide_gross, release_year, total_profit, ROI, tconst, averagerating, numvotes, primary_title, original_title, start_year, runtime_minutes, genres]
Index: []

In [158]:
#storing this df as project_df_master to keep all of this data safe before I start slicing out what I need.
project_df_master = project_df

In [159]:
project_df_master

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2,tt1298650,7,"447,624",Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,"Action,Adventure,Fantasy"
1,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1,tt6565702,6,"24,451",Dark Phoenix,Dark Phoenix,"2,019",113,"Action,Adventure,Sci-Fi"
2,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3,tt2395427,7,"665,594",Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,"Action,Adventure,Sci-Fi"
3,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6,tt4154756,8,"670,926",Avengers: Infinity War,Avengers: Infinity War,"2,018",149,"Action,Adventure,Sci-Fi"
4,9,2017-11-17,Justice League,"300,000,000","229,024,295","655,945,209",2017,"355,945,209",1,tt0974015,6,"329,135",Justice League,Justice League,"2,017",120,"Action,Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5792,76,2006-05-26,Cavite,"7,000","70,071","71,644",2006,"64,644",9,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5793,77,2004-12-31,The Mongol King,"7,000",900,900,2004,"-6,100",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5794,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5795,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005,"-3,662",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5796,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164,NaN,nan,nan,NaN,NaN,nan,nan,NaN

In [160]:
project_df_2 = project_df_master

In [161]:
project_df_2.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2,tt1298650,7,"447,624",Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,"Action,Adventure,Fantasy"
1,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1,tt6565702,6,"24,451",Dark Phoenix,Dark Phoenix,"2,019",113,"Action,Adventure,Sci-Fi"
2,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3,tt2395427,7,"665,594",Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,"Action,Adventure,Sci-Fi"
3,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6,tt4154756,8,"670,926",Avengers: Infinity War,Avengers: Infinity War,"2,018",149,"Action,Adventure,Sci-Fi"
4,9,2017-11-17,Justice League,"300,000,000","229,024,295","655,945,209",2017,"355,945,209",1,tt0974015,6,"329,135",Justice League,Justice League,"2,017",120,"Action,Adventure,Fantasy"

In [163]:
project_df_2['genre_1', 'genre_2', 'genre_3'] = project_df_2['genres'].str.split(pat=",", expand=True)
project_df_2.head(3)

ValueError: Wrong number of items passed 3, placement implies 1

In [149]:
project_df.head(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,"(genre_1, genre_2, genre_3)"
0,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2,tt1298650,7,"447,624",Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,Action,Action
1,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1,tt6565702,6,"24,451",Dark Phoenix,Dark Phoenix,"2,019",113,Action,Action
2,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3,tt2395427,7,"665,594",Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,Action,Action
3,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6,tt4154756,8,"670,926",Avengers: Infinity War,Avengers: Infinity War,"2,018",149,Action,Action
4,9,2017-11-17,Justice League,"300,000,000","229,024,295","655,945,209",2017,"355,945,209",1,tt0974015,6,"329,135",Justice League,Justice League,"2,017",120,Action,Action

In [130]:
#Exploring the genres
genres = project_df['genres']
genres

0       Action,Adventure,Fantasy
1        Action,Adventure,Sci-Fi
2        Action,Adventure,Sci-Fi
3        Action,Adventure,Sci-Fi
4       Action,Adventure,Fantasy
                  ...
5792                         NaN
5793                         NaN
5794                         NaN
5795                         NaN
5796                         NaN
Name: genres, Length: 5797, dtype: object

In [106]:
genres.value_counts()

Drama                              180
Comedy,Drama                        79
Comedy                              79
Adventure,Animation,Comedy          71
Documentary                         69
Comedy,Drama,Romance                63
Action,Adventure,Sci-Fi             57
Drama,Romance                       51
Action,Crime,Drama                  51
Comedy,Romance                      48
Drama,Thriller                      44
Horror                              42
Horror,Mystery,Thriller             41
Horror,Thriller                     38
Action,Adventure,Fantasy            38
Action,Adventure,Drama              34
Action,Comedy,Crime                 32
Action,Adventure,Comedy             31
Crime,Drama,Thriller                28
Action,Crime,Thriller               27
Biography,Drama,History             25
Thriller                            24
Crime,Drama                         23
Action,Thriller                     23
Drama,Horror,Mystery                21
Action,Drama,Thriller               20
Biography,Comedy,Drama              20
Comedy,Crime,Drama                  18
Crime,Drama,Mystery                 17
Action,Adventure,Animation          17
Biography,Drama                     17
Drama,Mystery,Thriller              17
Adventure,Family,Fantasy            14
Drama,Horror,Thriller               14
Drama,Music                         13
Action                              13
Action,Sci-Fi,Thriller              13
Adventure,Comedy,Family             12
Comedy,Drama,Family                 12
Comedy,Drama,Music                  12
Crime,Drama,Horror                  12
Action,Adventure,Thriller           12
Biography,Crime,Drama               12
Biography,Drama,Sport               12
Drama,Mystery,Sci-Fi                11
Comedy,Horror                       11
Crime,Thriller                      11
Comedy,Family                       10
Action,Horror,Sci-Fi                10
Drama,Fantasy,Horror                 9
Horror,Sci-Fi,Thriller               9
Adventure,Comedy,Drama               9
Drama,Sport                          9
Biography,Drama,Thriller             9
Action,Biography,Drama               9
Action,Comedy,Horror                 9
Action,Drama,Sci-Fi                  8
Drama,Fantasy,Romance                8
Adventure,Animation,Family           8
Drama,War                            8
Drama,Music,Romance                  8
Comedy,Crime                         8
Drama,Family                         8
Action,Adventure,Crime               8
Action,Drama,Romance                 8
Biography,Drama,Music                8
Action,Fantasy,Horror                7
Action,Drama                         7
Horror,Mystery                       7
Drama,Sci-Fi,Thriller                7
Drama,Romance,Sci-Fi                 7
Biography,Drama,Romance              7
Drama,History,War                    7
Family                               6
Action,Comedy,Drama                  6
Action,Adventure,Family              6
Drama,Horror,Sci-Fi                  6
Comedy,Fantasy,Horror                6
Sci-Fi                               6
Animation,Comedy,Family              6
Biography,Drama,Family               6
Drama,Mystery,Romance                6
Action,Mystery,Thriller              6
Adventure,Biography,Drama            6
Action,Comedy                        6
Adventure,Comedy                     6
Adventure,Drama,Fantasy              5
Documentary,Music                    5
Romance                              5
Adventure,Drama,Romance              5
Action,Drama,Mystery                 5
Action,Drama,War                     5
Action,Animation,Comedy              5
Adventure                            5
Action,Crime,Sci-Fi                  5
Action,Drama,History                 5
Action,Adventure,Mystery             5
Adventure,Drama,Family               5
Drama,Sci-Fi                         5
Adventure,Comedy,Crime               5
Action,Adventure,Biography           5
Biography,Documentary                4
Adventure,Drama                      4
Crime,Mystery,Thriller               4
Drama,Fantasy                        4
Comedy,Music                         4
Action,Crime                         4
Drama,Romance,Thriller               4
Comedy,Fantasy                       4
Action,Comedy,Sci-Fi                 4
Drama,Mystery                        4
Drama,Family,Sport                   4
Action,Horror,Thriller               4
Biography,Documentary,Drama          4
Crime,Horror,Mystery                 4
Comedy,Music,Romance                 4
Adventure,Biography,Documentary      4
Comedy,Horror,Sci-Fi                 3
Adventure,Comedy,Fantasy             3
Horror,Mystery,Sci-Fi                3
Fantasy                              3
Biography,Comedy,Crime               3
Drama,Music,Musical                  3
Action,Drama,Fantasy                 3
Action,Horror                        3
Adventure,Fantasy                    3
Documentary,Drama,Sport              3
Comedy,Horror,Thriller               3
Comedy,Fantasy,Romance               3
Documentary,Drama                    3
Comedy,Documentary                   3
Comedy,Drama,Musical                 3
Documentary,Family                   3
Drama,Horror                         3
Adventure,Family                     3
Crime,Drama,History                  3
Animation                            3
Drama,Western                        3
Action,Adventure,Horror              3
Action,Comedy,Romance                3
Action,Drama,Family                  3
Comedy,Family,Fantasy                3
Comedy,Drama,Fantasy                 3
Adventure,Drama,Horror               3
Action,Sci-Fi                        3
Comedy,Drama,Mystery                 3
Sci-Fi,Thriller                      3
Drama,Romance,War                    3
Action,Comedy,Fantasy                3
Comedy,Crime,Thriller                3
Drama,History                        3
Documentary,Sport                    3
Action,Adventure,Western             3
Action,Crime,Mystery                 2
Drama,History,Romance                2
Action,Mystery,Sci-Fi                2
Crime,Documentary                    2
Comedy,Crime,Romance                 2
Biography,Documentary,Music          2
Action,Comedy,Family                 2
Comedy,Family,Romance                2
Mystery,Thriller                     2
Biography,Documentary,History        2
Comedy,Drama,History                 2
Adventure,Animation                  2
Action,Fantasy,Thriller              2
Family,Fantasy,Musical               2
Drama,Family,Fantasy                 2
Animation,Drama                      2
Adventure,Drama,Thriller             2
Comedy,Mystery,Thriller              2
Drama,Fantasy,Musical                2
Crime                                2
Mystery,Sci-Fi,Thriller              2
Action,Romance,Thriller              2
Action,Biography,Crime               2
Crime,Drama,Romance                  2
Comedy,Mystery                       2
Adventure,Drama,Sci-Fi               2
Fantasy,Musical                      2
Action,Adventure                     2
Family,Fantasy                       2
Drama,Fantasy,Mystery                2
Documentary,Drama,News               2
Comedy,Romance,Sport                 2
Action,Crime,Sport                   2
Comedy,Mystery,Sci-Fi                2
Action,Drama,Sport                   2
Comedy,Horror,Mystery                2
Comedy,Drama,Sport                   2
Fantasy,Horror,Thriller              2
Comedy,Drama,Thriller                2
Comedy,Horror,Romance                2
Musical                              2
Adventure,Horror,Mystery             2
Comedy,Western                       2
Drama,Thriller,War                   2
Fantasy,Horror,Mystery               2
Drama,History,Thriller               2
Horror,Music,Thriller                1
Drama,Fantasy,Music                  1
Adventure,Horror,Sci-Fi              1
Crime,Romance,Thriller               1
Action,Drama,Horror                  1
Adventure,Horror                     1
Comedy,Drama,Horror                  1
War                                  1
Animation,Sci-Fi                     1
Action,Crime,Fantasy                 1
Comedy,Sci-Fi                        1
Animation,Horror                     1
Horror,Musical                       1
Adventure,Drama,Western              1
Drama,Fantasy,Sci-Fi                 1
Adventure,Animation,Drama            1
Biography,Comedy,Documentary         1
Mystery                              1
Crime,Drama,Fantasy                  1
Horror,Romance                       1
Adventure,Drama,Sport                1
Animation,Drama,Fantasy              1
Drama,Music,Thriller                 1
Music                                1
Biography,Drama,Fantasy              1
Biography,Documentary,Sport          1
Biography,Family,Sport               1
Sport                                1
Comedy,Thriller                      1
Action,Romance,Sport                 1
Documentary,History,War              1
Adventure,Documentary                1
Comedy,Music,War                     1
Adventure,Mystery,Sci-Fi             1
Biography,Crime,Documentary          1
Crime,Drama,Family                   1
Adventure,Crime,Drama                1
Comedy,Romance,Thriller              1
Biography,Drama,Musical              1
Comedy,Fantasy,Sci-Fi                1
Drama,Musical                        1
Biography,Drama,War                  1
Animation,Family                     1
Comedy,Fantasy,Thriller              1
Action,Family,Fantasy                1
Action,Fantasy,War                   1
Adventure,Comedy,Romance             1
Drama,History,Mystery                1
Action,Biography,Documentary         1
Adventure,Fantasy,Mystery            1
Documentary,War                      1
Biography,Drama,Mystery              1
Crime,Documentary,History            1
Adventure,Crime,Thriller             1
Action,Sport                         1
Western                              1
Comedy,Fantasy,Musical               1
Drama,Musical,Romance                1
Drama,History,Sport                  1
Action,Drama,Western                 1
Drama,War,Western                    1
Documentary,History                  1
Family,Sci-Fi                        1
Comedy,Sport                         1
Crime,Documentary,Drama              1
Action,Fantasy,Western               1
Adventure,Documentary,History        1
Action,Biography,Comedy              1
Drama,Family,Music                   1
Adventure,Comedy,Sci-Fi              1
Romance,Sci-Fi,Thriller              1
Action,Comedy,Documentary            1
Action,Adventure,Romance             1
Fantasy,Horror,Sci-Fi                1
Adventure,Comedy,Music               1
Adventure,Documentary,Drama          1
Drama,Mystery,War                    1
Action,Crime,Horror                  1
Action,Adventure,Documentary         1
Biography                            1
Adventure,Drama,History              1
Action,Documentary,Drama             1
Crime,Fantasy,Thriller               1
Adventure,Family,Sci-Fi              1
Action,Comedy,Sport                  1
Crime,Horror,Thriller                1
Comedy,Romance,Sci-Fi                1
Animation,Comedy,Drama               1
Crime,Mystery,Sci-Fi                 1
Comedy,Crime,Horror                  1
Documentary,Drama,Family             1
Adventure,Biography,Comedy           1
Name: genres, dtype: int64

In [138]:
genre_df = project_df[['movie', 'genres']]

In [139]:
genre_df.head(5)

                                         movie                    genres
0  Pirates of the Caribbean: On Stranger Tides  Action,Adventure,Fantasy
1                                 Dark Phoenix   Action,Adventure,Sci-Fi
2                      Avengers: Age of Ultron   Action,Adventure,Sci-Fi
3                       Avengers: Infinity War   Action,Adventure,Sci-Fi
4                               Justice League  Action,Adventure,Fantasy

In [141]:
#spliting the genres into 3 separate columns so that it is easier to search and compare by genre.
genre_df['genres'] = genre_df['genres'].str.split(pat=",", expand=True)

<ipython-input-141-792317437208>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre_df['genres'] = genre_df['genres'].str.split(pat=",", expand=True)

In [125]:
test = pd.merge(merged_with_primary, correct_merge_df, left_on= 'movie', right_on= 'movie', how='outer', indicator=True)
#project_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2,tt1298650,7,"447,624",Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,"Action,Adventure,Fantasy"
1,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1,tt6565702,6,"24,451",Dark Phoenix,Dark Phoenix,"2,019",113,"Action,Adventure,Sci-Fi"
2,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3,tt2395427,7,"665,594",Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,"Action,Adventure,Sci-Fi"
3,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6,tt4154756,8,"670,926",Avengers: Infinity War,Avengers: Infinity War,"2,018",149,"Action,Adventure,Sci-Fi"
4,9,2017-11-17,Justice League,"300,000,000","229,024,295","655,945,209",2017,"355,945,209",1,tt0974015,6,"329,135",Justice League,Justice League,"2,017",120,"Action,Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5792,76,2006-05-26,Cavite,"7,000","70,071","71,644",2006,"64,644",9,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5793,77,2004-12-31,The Mongol King,"7,000",900,900,2004,"-6,100",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5794,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5795,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005,"-3,662",-1,NaN,nan,nan,NaN,NaN,nan,nan,NaN
5796,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164,NaN,nan,nan,NaN,NaN,nan,nan,NaN

In [ ]:
#5978 records if I join this way.
merged_df_2.info()

In [ ]:
#duplicates = merged_df_2[merged_df_2['movie'].duplicated()]
#print(len(duplicates))
#duplicates.head()

In [ ]:
#genres = project_df_2.apply(lambda x: x['genres'] + x['genres_y'], axis=1)
#genres

In [ ]:
#doing an inner join gives me 2,369 records

#merged_df = pd.merge(movie_title_df, table9_titles, left_on= 'primary_title', right_on= 'movie', how='inner')
#merged_df

#table9_titles
#movie_title_df

#df4 =pd.merge(df2, df3, left_on= 'tconst', right_on= 'tconst')
#df4

In [ ]:
#an outer join gives me 74,630 rows
#merged_df_outer = pd.merge(movie_title_df, table9_titles, left_on= 'primary_title', right_on= 'movie', how='outer')
#merged_df_outer

In [ ]:
#merged_df_outer.sort_values('total_profit', ascending=False).head(1000)

In [ ]:
#The start_year and release_year values are no longer in datetime format. I need to change the null values
#to an appropriate value so that I can correctly format the years.

#merged_df_outer['start_year'] = pd.to_datetime(merged_df_outer['start_year'], errors='coerce')
#merged_df_outer

In [ ]:
#Exploring some more datasets to see which ones I want to use.
#merged_rt_df = pd.merge(table6, table8, on= 'id', how='outer')
#merged_rt_df

In [ ]:
#I can't figure out how to find the movie title on the RT database.
#with API I could possibly scrape it.
merged_rt_df.info()

In [ ]:
#merged_rt_df_2 = merged_rt_df

In [ ]:
#merged_rt_df['runtime'].isna().sum()

In [ ]:
#corrected_runtime = merged_rt_df_2['runtime'].fillna(0)

In [ ]:
#corrected_runtime

In [ ]:
#corrected_runtime_2 = corrected_runtime.str[:3]
#corrected_runtime_2

In [ ]:
#corrected_runtime_2.isna().sum()

In [ ]:
#corrected_runtime_3 = corrected_runtime_2.fillna(0)

In [ ]:
#corrected_runtime_3.value_counts()

In [ ]:
#merged_rt_df_2['runtime'] = corrected_runtime_3

In [ ]:
#merged_rt_df_2.info()

In [ ]:
#merged_rt_df_2 = merged_rt_df_2.drop('box_office', axis=1)
#merged_rt_df_2.head(10)

In [ ]:
#merged_rt_df_2['runtime'].isna().sum()

In [ ]:
#droping null values so I can convert the reamining ones to float.
#merged_rt_df_2['runtime'].dropna(NaN)

In [ ]:
#cleaned_runtime = merged_rt_df_2['runtime'].str[:3]
#cleaned_runtime.tail(5)

In [ ]:
#cleaned_theater_date = pd.to_datetime(merged_rt_df_2['theater_date'])
#cleaned_theater_date

In [ ]:
#merged_rt_df_2["theater_date"] = cleaned_theater_date
#merged_rt_df_2

In [ ]:
df = merged_rt_df_2

In [ ]:
duplicates = df[df.duplicated()]
print(len(duplicates))
duplicates.head()

df.drop_duplicates(keep='first', inplace=True)

In [ ]:
merged_with_rt_2 = pd.merge(merged_df_2, merged_rt_df_2,  how='left', right_on=['theater_date','runtime'], left_on = ['release_date','runtime_minutes'])

In [ ]:
merged_with_rt_2.sort_values('theater_date', ascending=True).head(100)

In [ ]:
merged_with_rt = pd.merge(merged_df_2, df, left_on= 'release_date', right_on= 'theater_date', how='right')
merged_with_rt

In [ ]:
merged_with_rt.head(200)

In [ ]:
merged_df_2.info()

In [ ]:
rt_duplicates = merged_rt_df_2[[merged_rt_df_2['id']].duplicated]

In [ ]:
merged_rt_df_2.info()

In [ ]:
merged_df_2.info()

In [ ]:
merged_rt_df['runtime'][299]

In [ ]:
merged_rt_df.sort_values('theater_date', ascending=False).head(100)

In [ ]:
merged_rt_df

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
Data Analysis.
Make this a heading!

In [ ]:
Questions that I want to answer:
    
    1) What are the genres of the movies that made the most profit?
    2) What are the genres of the movies with the best ROI?
    3) How much money do you need to spend to make these movies?
    4) Maybe look at directors/studios/etc?

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***