![example](images/director_shot.jpeg)

# Phase 1 Project

**Authors:** Jonathan Holt
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# Here you run your code to explore the data
import glob, os
fpath = 'zippedData/'
os.listdir(fpath)

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [3]:
query = fpath+"*.gz"

file_list=glob.glob(query)
file_list

['zippedData/imdb.title.crew.csv.gz',
 'zippedData/tmdb.movies.csv.gz',
 'zippedData/imdb.title.akas.csv.gz',
 'zippedData/imdb.title.ratings.csv.gz',
 'zippedData/imdb.name.basics.csv.gz',
 'zippedData/rt.reviews.tsv.gz',
 'zippedData/imdb.title.basics.csv.gz',
 'zippedData/rt.movie_info.tsv.gz',
 'zippedData/tn.movie_budgets.csv.gz',
 'zippedData/bom.movie_gross.csv.gz',
 'zippedData/imdb.title.principals.csv.gz']

In [4]:
tables = {}

for file in file_list:
    print('---'*20)
    file_name = file.replace('zippedData/', '').replace('.', '_')
    print(file_name)
    
    
    
    if 'tsv.gz' in file:
        temp_df = pd.read_csv(file, sep= "\t", encoding = "latin-1")
    else:
        temp_df = pd.read_csv(file)
    
    display(temp_df.head(), temp_df.tail())
    tables[file_name] = temp_df

------------------------------------------------------------
imdb_title_crew_csv_gz

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

           tconst              directors     writers
146139  tt8999974             nm10122357  nm10122357
146140  tt9001390              nm6711477   nm6711477
146141  tt9001494  nm10123242,nm10123248         NaN
146142  tt9004986              nm4993825   nm4993825
146143  tt9010172                    NaN   nm8352242

------------------------------------------------------------
tmdb_movies_csv_gz

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.6,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.6,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.6,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.6,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.6,2018-10-05,The Church,0.0,1

------------------------------------------------------------
imdb_title_akas_csv_gz

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

,title_id,ordering,title,region,language,types,attributes,is_original_title
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

------------------------------------------------------------
imdb_title_ratings_csv_gz

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

          tconst  averagerating  numvotes
73851  tt9805820            8.1        25
73852  tt9844256            7.5        24
73853  tt9851050            4.7        14
73854  tt9886934            7.0         5
73855  tt9894098            6.3       128

------------------------------------------------------------
imdb_name_basics_csv_gz

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

------------------------------------------------------------
rt_reviews_tsv_gz

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

,id,review,rating,fresh,critic,top_critic,publisher,date
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

------------------------------------------------------------
imdb_title_basics_csv_gz

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

------------------------------------------------------------
rt_movie_info_tsv_gz

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

------------------------------------------------------------
tn_movie_budgets_csv_gz

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

------------------------------------------------------------
bom_movie_gross_csv_gz

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

------------------------------------------------------------
imdb_title_principals_csv_gz

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

,tconst,ordering,nconst,category,job,characters
1028181,tt9692684,1,nm0186469,actor,NaN,"[""Ebenezer Scrooge""]"
1028182,tt9692684,2,nm4929530,self,NaN,"[""Herself"",""Regan""]"
1028183,tt9692684,3,nm10441594,director,NaN,NaN
1028184,tt9692684,4,nm6009913,writer,writer,NaN
1028185,tt9692684,5,nm10441595,producer,producer,NaN

In [120]:
#Formating Cells. I am keeping all of my display commands here so I can easily find them if/when I need
#to change anything.

#change the amount of rows displayed
pd.set_option('display.max_rows', 1000)

In [43]:
#This takes the decimal places out of floats. I may need to change this for some of the other features.
pd.options.display.float_format = '{:,.0f}'.format

In [7]:
#attempting to sort by the largest worldwide_gross

tables['tn_movie_budgets_csv_gz'].sort_values(by='worldwide_gross', ascending=False)

#something is wrong here. I assume that it is sorting anything with a '9' in the front first.
#I presume that the dollar amounts are strings instead of integers. I should also check for
#null values while I'm checking for this.

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
3737,38,"Aug 21, 2009",Fifty Dead Men Walking,"$10,000,000",$0,"$997,921"
3432,33,"Sep 30, 2005",Duma,"$12,000,000","$870,067","$994,790"
5062,63,"Apr 1, 2011",Insidious,"$1,500,000","$54,009,150","$99,870,886"
883,84,"Apr 2, 2004",Hellboy,"$60,000,000","$59,623,958","$99,823,958"
5613,14,"Mar 21, 1980",Mad Max,"$200,000","$8,750,000","$99,750,000"
...,...,...,...,...,...,...
5488,89,"Dec 31, 2014",The Sound and the Shadow,"$500,000",$0,$0
5487,88,"Dec 1, 2015",Brooklyn Bizarre,"$500,000",$0,$0
5486,87,"Aug 11, 2015",Alleluia! The Devil's Carnival,"$500,000",$0,$0
5485,86,"Jun 23, 2015",Crossroads,"$500,000",$0,$0
4765,66,"Jan 15, 2013",30 Nights Of Paranormal Activity With The Devi...,"$3,000,000",$0,$0

In [175]:
#set alias for each table so that it is easier to use them.
table1 = tables['imdb_title_crew_csv_gz']
table2 = tables['tmdb_movies_csv_gz']
table3 = tables['imdb_title_akas_csv_gz']
table4 = tables['imdb_title_ratings_csv_gz']
table5 = tables['imdb_name_basics_csv_gz']
table6 = tables['rt_reviews_tsv_gz']
table7 = tables['imdb_title_basics_csv_gz']
table8 = tables['rt_movie_info_tsv_gz']
table9 = tables['tn_movie_budgets_csv_gz']
table10 = tables['bom_movie_gross_csv_gz']
table11 = tables['imdb_title_principals_csv_gz']

In [9]:
table9.info()

#Sure enough, everything is a string except for the ID field. I will convert all of the financial information
#to integers (actually, I went back and changed to floats), and while I'm at it. I will also convert the
#release date field to date/time.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [10]:
table9.isna().sum()
#there are no null values, but there are likely placeholders

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [11]:
#cleaning the three financial columns. Removing the $, removing the comma, then converting to float.
cleaned_budget = table9['production_budget'].map(lambda x: x.replace('$',' '))
cleaned_budget

0        425,000,000
1        410,600,000
2        350,000,000
3        330,600,000
4        317,000,000
            ...
5777           7,000
5778           6,000
5779           5,000
5780           1,400
5781           1,100
Name: production_budget, Length: 5782, dtype: object

In [12]:
cleaned_budget_2 = cleaned_budget.map(lambda x: x.replace(',',''))
cleaned_budget_2

0        425000000
1        410600000
2        350000000
3        330600000
4        317000000
           ...
5777          7000
5778          6000
5779          5000
5780          1400
5781          1100
Name: production_budget, Length: 5782, dtype: object

In [13]:
cleaned_budget_3 = cleaned_budget_2.astype(float)
cleaned_budget_3

0       425000000.0
1       410600000.0
2       350000000.0
3       330600000.0
4       317000000.0
           ...
5777         7000.0
5778         6000.0
5779         5000.0
5780         1400.0
5781         1100.0
Name: production_budget, Length: 5782, dtype: float64

In [14]:
cleaned_domestic= table9['domestic_gross'].map(lambda x: x.replace('$',' '))

cleaned_domestic

0        760,507,625
1        241,063,875
2         42,762,350
3        459,005,868
4        620,181,382
            ...
5777               0
5778          48,482
5779           1,338
5780               0
5781         181,041
Name: domestic_gross, Length: 5782, dtype: object

In [15]:
cleaned_domestic_2 =cleaned_domestic.map(lambda x: x.replace(',',''))
cleaned_domestic_2

0        760507625
1        241063875
2         42762350
3        459005868
4        620181382
           ...
5777             0
5778         48482
5779          1338
5780             0
5781        181041
Name: domestic_gross, Length: 5782, dtype: object

In [16]:
cleaned_domestic_3 = cleaned_domestic_2.astype(float)
cleaned_domestic_3

0       760507625.0
1       241063875.0
2        42762350.0
3       459005868.0
4       620181382.0
           ...
5777            0.0
5778        48482.0
5779         1338.0
5780            0.0
5781       181041.0
Name: domestic_gross, Length: 5782, dtype: float64

In [17]:
cleaned_worldwide = table9['worldwide_gross'].map(lambda x: x.replace('$',' '))
cleaned_worldwide

0        2,776,345,279
1        1,045,663,875
2          149,762,350
3        1,403,013,963
4        1,316,721,747
             ...
5777                 0
5778           240,495
5779             1,338
5780                 0
5781           181,041
Name: worldwide_gross, Length: 5782, dtype: object

In [18]:
cleaned_worldwide_2 = cleaned_worldwide.map(lambda x: x.replace(',',''))
cleaned_worldwide_2

0        2776345279
1        1045663875
2         149762350
3        1403013963
4        1316721747
           ...
5777              0
5778         240495
5779           1338
5780              0
5781         181041
Name: worldwide_gross, Length: 5782, dtype: object

In [23]:
cleaned_worldwide_3 = cleaned_worldwide_2.astype(float)
cleaned_worldwide_3

0      2,776,345,279
1      1,045,663,875
2        149,762,350
3      1,403,013,963
4      1,316,721,747
            ...
5777               0
5778         240,495
5779           1,338
5780               0
5781         181,041
Name: worldwide_gross, Length: 5782, dtype: float64

In [22]:
#This takes the decimal places out of floats. I may need to change this for some of the other features.
#pd.options.display.float_format = '{:,.0f}'.format

In [24]:
#Putting my cleaned data into the table.
table9["production_budget"] = cleaned_budget_3
table9["domestic_gross"] = cleaned_domestic_3
table9["worldwide_gross"] = cleaned_worldwide_3
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"425,000,000","760,507,625","2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"350,000,000","42,762,350","149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"7,000",0,0
5778,79,"Apr 2, 1999",Following,"6,000","48,482","240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"5,000","1,338","1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"1,400",0,0
5781,82,"Aug 5, 2005",My Date With Drew,"1,100","181,041","181,041"

In [ ]:
#table9.drop(["New_Column"], axis=1, inplace=True)

In [ ]:
#table9

In [ ]:
table9.sort_values(by='worldwide_gross', ascending=False)
#After all that work, I finally have the data sorted the way that I wanted.

In [25]:
#converting release_date to datetime format.
cleaned_release_date = pd.to_datetime(table9['release_date'])
cleaned_release_date

0      2009-12-18
1      2011-05-20
2      2019-06-07
3      2015-05-01
4      2017-12-15
          ...
5777   2018-12-31
5778   1999-04-02
5779   2005-07-13
5780   2015-09-29
5781   2005-08-05
Name: release_date, Length: 5782, dtype: datetime64[ns]

In [26]:
table9['release_date']= cleaned_release_date
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875"
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350"
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963"
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747"
...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0
5778,79,1999-04-02,Following,"6,000","48,482","240,495"
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338"
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041"

In [27]:
#what is the range of release dates in this data set?
print("This is the earliest release date:")
print(table9['release_date'].min())

print("This is the latest release date:")
print(table9['release_date'].max())

This is the earliest release date:
1915-02-08 00:00:00
This is the latest release date:
2020-12-31 00:00:00

In [28]:
#there are several movies that have budget information, but no gross. Presumably, this is because they hadn't
#been released at the time that this data was collected. 
table9.sort_values(by='release_date', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
194,95,2020-12-31,Moonfall,"150,000,000",0,0
1205,6,2020-12-31,Hannibal the Conqueror,"50,000,000",0,0
535,36,2020-02-21,Call of the Wild,"82,000,000",0,0
480,81,2019-12-31,Army of the Dead,"90,000,000",0,0
3515,16,2019-12-31,Eli,"11,000,000",0,0
...,...,...,...,...,...,...
5606,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000"
5683,84,1920-09-17,Over the Hill to the Poorhouse,"100,000","3,000,000","3,000,000"
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000"
5523,24,1916-09-05,Intolerance,"385,907",0,0
5677,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000"

In [29]:
year_of_release = table9['release_date']
year_of_release

0      2009-12-18
1      2011-05-20
2      2019-06-07
3      2015-05-01
4      2017-12-15
          ...
5777   2018-12-31
5778   1999-04-02
5779   2005-07-13
5780   2015-09-29
5781   2005-08-05
Name: release_date, Length: 5782, dtype: datetime64[ns]

In [30]:
year_of_release = pd.DatetimeIndex(table9['release_date']).year
year_of_release

Int64Index([2009, 2011, 2019, 2015, 2017, 2015, 2018, 2007, 2017, 2015,
            ...
            2012, 1993, 2004, 2006, 2004, 2018, 1999, 2005, 2015, 2005],
           dtype='int64', name='release_date', length=5782)

In [31]:
#created a column 'release_year' to more easily search general release dates, etc.
table9['release_year'] = table9['release_date'].dt.year

In [32]:
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017
...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0,2018
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0,2015
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005

In [44]:
films_released_by_year = table9['release_year'].value_counts()

In [371]:
#the bulk of the data starts in 1996 where there are 100+ movies every year afterward until 2018.
#there is a little bit of info for 2019.
films_released_by_year.head(10)

2015    338
2010    274
2008    264
2006    260
2014    255
2011    254
2009    239
2013    238
2012    235
2005    223
Name: release_year, dtype: int64

In [46]:
#let's sort by release year
table9.sort_values(by='release_year', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
194,95,2020-12-31,Moonfall,"150,000,000",0,0,2020
535,36,2020-02-21,Call of the Wild,"82,000,000",0,0,2020
1205,6,2020-12-31,Hannibal the Conqueror,"50,000,000",0,0,2020
2029,30,2019-09-30,Unhinged,"29,000,000",0,0,2019
670,71,2019-08-30,PLAYMOBIL,"75,000,000",0,0,2019
...,...,...,...,...,...,...,...
5606,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000",1925
5683,84,1920-09-17,Over the Hill to the Poorhouse,"100,000","3,000,000","3,000,000",1920
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000",1916
5523,24,1916-09-05,Intolerance,"385,907",0,0,1916
5677,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000",1915

In [47]:
table9.sort_values(by='worldwide_gross', ascending=False)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009
42,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015
6,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018
33,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015
...,...,...,...,...,...,...,...
5474,75,2005-12-31,Insomnia Manica,"500,000",0,0,2005
5473,74,2012-07-17,Girls Gone Dead,"500,000",0,0,2012
5472,73,2012-04-03,Enter Nowhere,"500,000",0,0,2012
5471,72,2010-12-31,Drones,"500,000",0,0,2010
4068,69,2008-12-12,The Kings of Appletown,"7,000,000",0,0,2008

In [49]:
#attempted to find the unreleased movies and remove them from consideration. Leaving here in case I 
#want to come back to this. If not, I can exclude from my final notebook.
unreleased_movies = []

for movie in table9:
    if movie['worldwide_gross'] == '0':
        unreleased_movies.append(movie)

unreleased_movies

TypeError: string indices must be integers

In [50]:
#create a column that calculates the profit for each movie. (gross - budget)
#realize that there are other costs above and beyond the budget

total_profit = table9.apply(lambda x: x['worldwide_gross'] - x['production_budget'], axis=1)
total_profit

0      2,351,345,279
1        635,063,875
2       -200,237,650
3      1,072,413,963
4        999,721,747
            ...
5777          -7,000
5778         234,495
5779          -3,662
5780          -1,400
5781         179,941
Length: 5782, dtype: float64

In [51]:
table9['total_profit'] = total_profit

In [372]:
table9.sort_values(by='total_profit', ascending=False).head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6
42,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997,"2,008,208,395",10
6,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6
33,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015,"1,433,854,864",7
66,67,2015-04-03,Furious 7,"190,000,000","353,007,020","1,518,722,794",2015,"1,328,722,794",7
26,27,2012-05-04,The Avengers,"225,000,000","623,279,547","1,517,935,897",2012,"1,292,935,897",6
260,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,"125,000,000","381,193,157","1,341,693,157",2011,"1,216,693,157",10
41,42,2018-02-16,Black Panther,"200,000,000","700,059,566","1,348,258,224",2018,"1,148,258,224",6
112,13,2018-06-22,Jurassic World: Fallen Kingdom,"170,000,000","417,719,760","1,305,772,799",2018,"1,135,772,799",7

In [53]:
#What is the return on investment for these movies?
roi = table9.apply(lambda x: x['total_profit'] / x['production_budget'], axis=1)
roi

0        6
1        2
2       -1
3        3
4        3
        ..
5777    -1
5778    39
5779    -1
5780    -1
5781   164
Length: 5782, dtype: float64

In [54]:
table9['ROI'] = roi
table9

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2
2,3,2019-06-07,Dark Phoenix,"350,000,000","42,762,350","149,762,350",2019,"-200,237,650",-1
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3
...,...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,"7,000",0,0,2018,"-7,000",-1
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39
5779,80,2005-07-13,Return to the Land of Wonders,"5,000","1,338","1,338",2005,"-3,662",-1
5780,81,2015-09-29,A Plague So Pleasant,"1,400",0,0,2015,"-1,400",-1
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164

In [55]:
#A quick snapshot of the information. 
table9.describe()

,id,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
count,"5,782","5,782","5,782","5,782","5,782","5,782","5,782"
mean,50,"31,587,757","41,873,327","91,487,461","2,004","59,899,704",4
std,29,"41,812,077","68,240,597","174,719,969",13,"146,088,881",30
min,1,"1,100",0,0,"1,915","-200,237,650",-1
25%,25,"5,000,000","1,429,534","4,125,415","2,000","-2,189,071",-1
50%,50,"17,000,000","17,225,945","27,984,448","2,007","8,550,286",1
75%,75,"40,000,000","52,348,662","97,645,836","2,012","60,968,502",3
max,100,"425,000,000","936,662,225","2,776,345,279","2,020","2,351,345,279","1,799"

In [56]:
#sorted by ROI.
table9.sort_values(by='ROI', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
5745,46,1972-06-30,Deep Throat,"25,000","45,000,000","45,000,000",1972,"44,975,000","1,799"
5613,14,1980-03-21,Mad Max,"200,000","8,750,000","99,750,000",1980,"99,550,000",498
5492,93,2009-09-25,Paranormal Activity,"450,000","107,918,810","194,183,034",2009,"193,733,034",431
5679,80,2015-07-10,The Gallows,"100,000","22,764,410","41,656,474",2015,"41,556,474",416
5406,7,1999-07-14,The Blair Witch Project,"600,000","140,539,099","248,300,000",1999,"247,700,000",413
5709,10,2004-05-07,Super Size Me,"65,000","11,529,368","22,233,808",2004,"22,168,808",341
5346,47,1942-08-13,Bambi,"858,000","102,797,000","268,000,000",1942,"267,142,000",311
5773,74,1993-02-26,El Mariachi,"7,000","2,040,920","2,041,928",1993,"2,034,928",291
5676,77,1968-10-01,Night of the Living Dead,"114,000","12,087,064","30,087,064",1968,"29,973,064",263
5210,11,1976-11-21,Rocky,"1,000,000","117,235,147","225,000,000",1976,"224,000,000",224
5536,37,1978-10-17,Halloween,"325,000","47,000,000","70,000,000",1978,"69,675,000",214
5715,16,1995-08-09,The Brothers McMullen,"50,000","10,426,506","10,426,506",1995,"10,376,506",208
5665,66,1974-10-18,The Texas Chainsaw Massacre,"140,000","26,572,439","26,572,439",1974,"26,432,439",189
5372,73,1973-08-11,American Graffiti,"777,000","115,000,000","140,000,000",1973,"139,223,000",179
5781,82,2005-08-05,My Date With Drew,"1,100","181,041","181,041",2005,"179,941",164
5656,57,2007-05-16,Once,"150,000","9,445,857","23,323,631",2007,"23,173,631",154
5742,43,1994-10-19,Clerks,"27,000","3,073,428","3,894,240",1994,"3,867,240",143
5612,13,1969-07-25,The Stewardesses,"200,000","13,500,000","25,000,000",1969,"24,800,000",124
5117,18,1937-12-21,Snow White and the Seven Dwarfs,"1,488,000","184,925,486","184,925,486",1937,"183,437,486",123
5357,58,1971-01-01,Billy Jack,"800,000","98,000,000","98,000,000",1971,"97,200,000",122
5774,75,2004-10-08,Primer,"7,000","424,760","841,926",2004,"834,926",119
5746,47,1997-08-01,In the Company of Men,"25,000","2,883,661","2,883,661",1997,"2,858,661",114
5507,8,2004-06-11,Napoleon Dynamite,"400,000","44,540,956","46,122,713",2004,"45,722,713",114
5430,31,2004-08-06,Open Water,"500,000","30,500,882","55,518,641",2004,"55,018,641",110
5424,25,1980-05-09,Friday the 13th,"550,000","39,754,601","59,754,601",1980,"59,204,601",108
5680,81,2006-09-29,Facing the Giants,"100,000","10,178,331","10,243,159",2006,"10,143,159",101
5211,12,2012-01-06,The Devil Inside,"1,000,000","53,262,945","101,759,490",2012,"100,759,490",101
5655,56,1971-01-01,Sweet Sweetback's Baad Asssss Song,"150,000","15,200,000","15,200,000",1971,"15,050,000",100
4567,68,1939-12-15,Gone with the Wind,"3,900,000","198,680,470","390,525,192",1939,"386,625,192",99
5677,78,1915-02-08,The Birth of a Nation,"110,000","10,000,000","11,000,000",1915,"10,890,000",99
5568,69,1981-05-01,Graduation Day,"250,000","23,894,000","23,894,000",1981,"23,644,000",95
4775,76,1950-02-15,Cinderella,"2,900,000","85,000,000","263,591,415",1950,"260,691,415",90
5606,7,1925-11-19,The Big Parade,"245,000","11,000,000","22,000,000",1925,"21,755,000",89
5459,60,2009-04-23,Home,"500,000","15,433","44,793,168",2009,"44,293,168",89
5156,57,2004-10-29,Saw,"1,200,000","55,968,727","103,880,027",2004,"102,680,027",86
5525,26,1983-04-15,The Evil Dead,"375,000","2,400,000","29,400,000",1983,"29,025,000",77
3525,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000","435,110,554","792,965,326",1982,"782,465,326",75
4247,48,2002-04-19,My Big Fat Greek Wedding,"5,000,000","241,438,208","374,890,034",2002,"369,890,034",74
4589,90,1997-08-13,The Full Monty,"3,500,000","45,950,122","261,249,383",1997,"257,749,383",74
3464,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000","460,998,007","786,598,007",1977,"775,598,007",71
5681,82,1977-01-01,Eraserhead,"100,000","7,000,000","7,014,590",1977,"6,914,590",69
5706,7,1998-07-10,Pi,"68,000","3,221,152","4,678,513",1998,"4,610,513",68
5765,66,2001-03-09,Dayereh,"10,000","673,780","673,780",2001,"663,780",66
5428,29,2008-09-26,Fireproof,"500,000","33,456,317","33,473,297",2008,"32,973,297",66
5062,63,2011-04-01,Insidious,"1,500,000","54,009,150","99,870,886",2011,"98,370,886",66
4112,13,1978-06-16,Grease,"6,000,000","181,813,770","387,510,179",1978,"381,510,179",64
5213,14,2015-04-17,Unfriended,"1,000,000","32,789,645","64,364,198",2015,"63,364,198",63
5429,30,1974-11-15,Benji,"500,000","31,559,560","31,559,560",1974,"31,059,560",62
5684,85,1998-10-09,The Mighty,"100,000","2,652,246","6,121,582",1998,"6,021,582",60
5569,70,1997-04-04,Chasing Amy,"250,000","12,006,514","15,155,095",1997,"14,905,095",60
5668,69,1942-11-16,Cat People,"134,000","4,000,000","8,000,000",1942,"7,866,000",59
5219,20,1963-05-08,Dr. No,"1,000,000","16,067,035","59,567,035",1963,"58,567,035",59
4664,65,2010-10-20,Paranormal Activity 2,"3,000,000","84,752,907","177,512,032",2010,"174,512,032",58
5407,8,1970-03-26,Woodstock,"600,000","34,505,110","34,505,110",1970,"33,905,110",57
4249,50,2017-01-20,Split,"5,000,000","138,141,585","278,964,806",2017,"273,964,806",55
5189,90,2014-03-21,Godâs Not Dead,"1,150,000","60,755,732","63,777,092",2014,"62,627,092",54
4424,25,1994-03-09,Four Weddings and a Funeral,"4,500,000","52,700,832","242,895,809",1994,"238,395,809",53
5752,53,1991-08-01,Slacker,"23,000","1,227,508","1,227,508",1991,"1,204,508",52
5215,16,2006-05-24,An Inconvenient Truth,"1,000,000","24,146,161","53,365,925",2006,"52,365,925",52
5682,83,1987-03-01,Hollywood Shuffle,"100,000","5,228,617","5,228,617",1987,"5,128,617",51
4248,49,2017-02-24,Get Out,"5,000,000","176,040,665","255,367,951",2017,"250,367,951",50
5666,67,1989-12-20,Roger & Me,"140,000","6,706,368","6,706,368",1989,"6,566,368",47
4663,64,1978-07-28,National Lampoon's Animal House,"3,000,000","141,600,000","141,600,000",1978,"138,600,000",46
5716,17,2001-03-16,Gabriela,"50,000","2,335,352","2,335,352",2001,"2,285,352",46
4800,1,1974-02-07,Blazing Saddles,"2,600,000","119,500,000","119,500,000",1974,"116,900,000",45
3517,18,2012-05-25,Les Intouchables,"10,800,000","13,182,281","484,873,045",2012,"474,073,045",44
5063,64,2016-10-21,Moonlight,"1,500,000","27,854,931","65,245,512",2016,"63,745,512",42
5217,18,2012-05-25,Chernobyl Diaries,"1,000,000","18,119,640","42,411,721",2012,"41,411,721",41
4667,68,1964-12-22,Goldfinger,"3,000,000","51,100,000","124,900,000",1964,"121,900,000",41
4250,51,2011-10-21,Paranormal Activity 3,"5,000,000","104,028,807","207,039,844",2011,"202,039,844",40
5646,47,1986-08-08,She's Gotta Have It,"175,000","7,137,502","7,137,502",1986,"6,962,502",40
4898,99,2007-02-09,Das Leben der Anderen,"2,000,000","11,284,657","81,197,047",2007,"79,197,047",40
5778,79,1999-04-02,Following,"6,000","48,482","240,495",1999,"234,495",39
5614,15,1916-12-24,"20,000 Leagues Under the Sea","200,000","8,000,000","8,000,000",1916,"7,800,000",39
4083,84,2014-10-03,Annabelle,"6,500,000","84,273,813","256,862,920",2014,"250,362,920",39
4887,88,1964-04-08,From Russia With Love,"2,000,000","24,800,000","78,900,000",1964,"76,900,000",38
3340,41,1975-06-20,Jaws,"12,000,000","260,000,000","470,700,000",1975,"458,700,000",38
4634,35,2005-06-24,La marche de l'empereur,"3,400,000","77,437,223","133,276,359",2005,"129,876,359",38
5014,15,2010-08-27,The Last Exorcism,"1,800,000","41,034,350","70,165,900",2010,"68,365,900",38
3986,87,1972-03-15,The Godfather,"7,000,000","134,966,411","268,500,000",1972,"261,500,000",37
5212,13,1963-10-07,Tom Jones,"1,000,000","37,600,000","37,600,000",1963,"36,600,000",37
3826,27,1986-09-26,Crocodile Dundee,"8,800,000","174,803,506","328,203,506",1986,"319,403,506",36
4114,15,2004-06-23,Fahrenheit 9/11,"6,000,000","119,114,517","221,148,959",2004,"215,148,959",36
4867,68,1940-02-09,Pinocchio,"2,289,247","84,300,000","84,300,000",1940,"82,010,753",36
5074,75,1979-04-20,Dawn of the Dead,"1,500,000","5,100,000","55,000,000",1979,"53,500,000",36
4868,69,1940-11-13,Fantasia,"2,280,000","83,320,000","83,320,000",1940,"81,040,000",36
5397,98,1953-04-10,House of Wax,"658,000","23,800,000","23,800,000",1953,"23,142,000",35
5577,78,1998-09-11,Cube,"250,000","489,220","8,969,065",1998,"8,719,065",35
3341,42,1973-12-26,The Exorcist,"12,000,000","230,347,346","428,214,478",1973,"416,214,478",35
5699,100,1972-08-30,The Last House on the Left,"87,000","3,100,000","3,100,000",1972,"3,013,000",35
3859,60,1965-03-02,The Sound of Music,"8,200,000","163,214,286","286,214,286",1965,"278,014,286",34
5762,63,1997-04-11,Pink Flamingos,"12,000","413,802","413,802",1997,"401,802",33
5431,32,1977-01-01,Kingdom of the Spiders,"500,000","17,000,000","17,000,000",1977,"16,500,000",33
5408,9,1977-08-10,The Kentucky Fried Movie,"600,000","15,000,000","20,000,000",1977,"19,400,000",32
5615,16,1996-10-18,Swingers,"200,000","4,505,922","6,618,578",1996,"6,418,578",32
3985,86,2007-12-05,Juno,"7,000,000","143,495,265","231,450,102",2007,"224,450,102",32
4252,53,2013-09-13,Insidious Chapter 2,"5,000,000","83,586,447","161,921,515",2013,"156,921,515",31
2991,92,1990-11-16,Home Alone,"15,000,000","285,761,243","476,684,675",1990,"461,684,675",31
3755,56,2016-12-21,Dangal,"9,500,000","12,391,761","294,654,618",2016,"285,154,618",30
3171,72,1990-03-23,Pretty Woman,"14,000,000","178,406,268","432,645,872",1990,"418,645,872",30

In [ ]:
#I am happy with where my financial data is at the moment, even though it will likely need further refinement.
#Now I want to find a way to indentify the genres of these movies as that will help me answer the specific
#question of what TYPES of movies should be made.

#After this, I plan on investigating review scores, giving me Financials, Review Scores, and Genres to work with.

In [57]:
#Table7 - imdb basics dataset has genre information. I will investigate.
table7

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,nan,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,nan,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,nan,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,nan,Documentary

In [58]:
table7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [59]:
table7.sort_values(by='start_year', ascending=True).head(100)
#This data only goes back to 2010. This may still be useful as Microsoft will want current information on
#which genres are popular.

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
9599,tt1566491,Brainiacs in La La Land,Brainiacs in La La Land,2010,nan,Comedy
43264,tt2578092,Fireplace for your Home: Crackling Fireplace w...,Fireplace for your Home: Crackling Fireplace w...,2010,61,Music
11550,tt1634300,Role/Play,Role/Play,2010,85,"Drama,Romance"
11551,tt1634332,Johan1,Johan Primero,2010,78,"Comedy,Drama,Romance"
11552,tt1634334,Hands Up,Les mains en l'air,2010,90,Drama
11553,tt1634337,Que devient mon souvenir quand tu n'y penses pas,Que devient mon souvenir quand tu n'y penses pas,2010,45,Documentary
11554,tt1634519,The Black Eyed Peas: The E.N.D. World Tour Live,The Black Eyed Peas: The E.N.D. World Tour Live,2010,nan,"Documentary,Music"
11555,tt1634524,Jitters,Órói,2010,93,"Drama,Romance"
11556,tt1634540,Rescue Men: The Story of the Pea Island Lifesa...,Rescue Men: The Story of the Pea Island Lifesa...,2010,90,Documentary
11557,tt1634554,Janakan,Janakan,2010,150,"Crime,Thriller"
11558,tt1634796,Man and His Country,Man and His Country,2010,46,"Adventure,Drama"
11559,tt1634800,Maximum Shame,Maximum Shame,2010,80,"Fantasy,Horror,Musical"
11560,tt1634802,Message,Message,2010,91,"Comedy,Horror,Mystery"
11561,tt1634803,Subway Preacher,Subway Preacher,2010,80,"Documentary,Drama,Romance"
11563,tt1634821,Notes on a Napkin,Notes on a Napkin,2010,63,Comedy
11564,tt1634822,Obshiy Yizik,Obshiy Yizik,2010,52,Documentary
11565,tt1634831,Our School,Our School,2010,88,"Documentary,Drama,History"
11566,tt1634833,Overdose,Overdos,2010,47,"Documentary,News"
11567,tt1634840,Paths of Hope: Livelihoods in Three Caribbean ...,Paths of Hope: Livelihoods in Three Caribbean ...,2010,39,"Documentary,Family"
11570,tt1635412,Am Ende der Wiese,Am Ende der Wiese,2010,55,"Biography,Documentary"
11571,tt1635415,Andy McKee: Joyland,Andy McKee: Joyland,2010,33,"Documentary,Music"
11572,tt1635429,Cherkess,Cherkess,2010,117,Drama
11573,tt1635437,Dead End Job,Dead End Job,2010,68,Comedy
11574,tt1635466,Jay's Movie Is a Piece of Shit,Jay's Movie Is a Piece of Shit,2010,84,Comedy
11577,tt1636422,Before,Antes,2010,90,NaN
11578,tt1636423,Apuntes para una biografía imaginaria,Apuntes para una biografía imaginaria,2010,60,Documentary
11579,tt1636434,"Buen día, día","Buen día, día",2010,95,Documentary
11580,tt1636437,"Camila, desde el alma","Camila, desde el alma",2010,65,Documentary
11542,tt1634135,There's Still Hope for Dreams (A Phamaly Story),There's Still Hope for Dreams (A Phamaly Story),2010,60,Documentary
11581,tt1636440,Centro,Centro,2010,90,Documentary
11541,tt1634127,Living It Forever,Living It Forever,2010,77,Documentary
35137,tt2294847,The Buccs,The Buccs,2010,15,"Documentary,Sport"
11506,tt1633205,Ifakat: Uçuruma yürüyen kadinlar,Ifakat: Uçuruma yürüyen kadinlar,2010,45,"Documentary,Drama"
11507,tt1633208,Interno,Interno,2010,80,Documentary
11508,tt1633212,Kajraare,Kajraare,2010,112,"Crime,Drama,Romance"
11509,tt1633213,La revuelta de las batas blancas,La revuelta de las batas blancas,2010,63,Documentary
23034,tt1942066,Haterology,Haterology,2010,38,"Documentary,News"
35135,tt2294843,The Band Plays On!,The Band Plays On!,2010,nan,Documentary
11512,tt1633226,Musaa: The Most Wanted,Musaa: The Most Wanted,2010,nan,"Action,Crime,Thriller"
11513,tt1633242,Rock On,Shi xi da ming xing,2010,94,NaN
11514,tt1633248,The Glass River,Staklenata reka,2010,100,Drama
11515,tt1633249,Street Poet,Street Poet,2010,87,Drama
11516,tt1633250,Swaha: Life Beyond Superstition,Swaha: Life Beyond Superstition,2010,nan,"Drama,Fantasy,Horror"
11517,tt1633267,The Very Worst Thing,The Very Worst Thing,2010,85,"Documentary,History,News"
11518,tt1633281,Visa al paraíso,Visa al paraíso,2010,108,"Documentary,Drama"
23032,tt1942032,À pleins poumons,À pleins poumons,2010,52,Documentary
11520,tt1633333,Cluster,Cluster,2010,55,"Documentary,Drama,Mystery"
11521,tt1633334,"Coals to Newcastle: The New Mastersounds, from...","Coals to Newcastle: The New Mastersounds, from...",2010,79,"Documentary,Music"
11522,tt1633341,Dark Crossing,Dark Crossing,2010,nan,"Action,Drama"
23031,tt1942030,8uppers,8uppers,2010,76,Drama
11527,tt1634013,Montevideo: Taste of a Dream,"Montevideo, Bog te video!",2010,140,"Adventure,Comedy,Drama"
11528,tt1634022,The Sylvian Experiments,Kyôfu,2010,94,"Horror,Sci-Fi"
11529,tt1634034,Mother Water,Mazâ wôtâ,2010,105,Comedy
11531,tt1634058,Star Vehicle,Star Vehicle,2010,75,Horror
11532,tt1634066,The Cedar's Tears,The Cedar's Tears,2010,84,"Drama,Mystery,Thriller"
11533,tt1634070,The Horror of the Dolls,The Horror of the Dolls,2010,81,Horror
11534,tt1634082,Unbroken: The Pearl Bluegrass Circle,Unbroken: The Pearl Bluegrass Circle,2010,76,"Biography,Documentary,Family"
11535,tt1634104,37,37,2010,100,Drama
72598,tt4144872,"Birmania, el coraje de resistir","Birmania, el coraje de resistir",2010,78,NaN
11540,tt1634123,Kafka au Congo des belges,Kafka au Congo des belges,2010,59,Documentary
11505,tt1633204,Hypo,Hypo,2010,65,"Comedy,Romance"
11582,tt1636441,Five,Cinco,2010,89,Romance
11584,tt1636454,The Peddler,El ambulante,2010,84,Documentary
11623,tt1637679,Petty Letters and Love Crimes,Dalla vita in poi,2010,85,Comedy
11624,tt1637681,Flowers,Flowers,2010,110,Drama
11625,tt1637687,I Want to Be a Soldier,De mayor quiero ser soldado,2010,100,Drama
11627,tt1637691,Khelein Hum Jee Jaan Sey,Khelein Hum Jee Jaan Sey,2010,168,"Action,Drama,History"
11628,tt1637692,Kuchh Kariye,Kuchh Kariye,2010,nan,"Adventure,Drama,Music"
11629,tt1637693,Los actos cotidianos,Los actos cotidianos,2010,82,NaN
11630,tt1637694,The Lips,Los labios,2010,100,Drama
11631,tt1637697,Make No Little Plans: Daniel Burnham and the A...,Make No Little Plans: Daniel Burnham and the A...,2010,56,Documentary
11634,tt1637702,Metropolis refundada,Metropolis refundada,2010,47,Documentary
65017,tt3718152,Heavy Metal,Heavy Metal,2010,50,"Documentary,Family"
11636,tt1637709,The Death I Dreamed Of,O thanatos pou onireftika,2010,90,"Drama,Horror,Romance"
11637,tt1637712,Pig,Pig,2010,70,Horror
11638,tt1637714,Santuaryo,Santuaryo,2010,81,Drama
11640,tt1637723,The Saint Family,Svetoto semeystvo (Nina i Mariyan),2010,87,Drama
11642,tt1637735,Viva! Saint Agrippina,Viva! Saint Agrippina,2010,96,Documentary
11644,tt1637995,Sambo Siva Sambho,Sambo Siva Sambho,2010,160,"Action,Drama"
11645,tt1638000,"U redu, pobedio sam","U redu, pobedio sam",2010,60,Documentary
37237,tt2353993,Ending Taxation: The Only Game in Town,Ending Taxation: The Only Game in Town,2010,nan,Documentary
11647,tt1638267,Bølle Bob - Alle tiders helt,Bølle Bob - Alle tiders helt,2010,84,"Comedy,Family"
11648,tt1638274,Kismet,Kismet,2010,72,Romance
11649,tt1638275,Klara - Don't Be Afraid to Follow Your Dream,Klara,2010,81,Family
22986,tt1941449,Almost Big,Almost Big,2010,51,Comedy
11653,tt1638321,Ocio,Ocio,2010,70,"Drama,Family"
11654,tt1638322,Il nemico sulle ali,Il nemico sulle ali,2010,52,"Biography,History"
11655,tt1638327,"Liniers, el trazo simple de las cosas","Liniers, el trazo simple de las cosas",2010,76,Documentary
11657,tt1638336,"Octubre Pilagá, relatos sobre el silencio","Octubre Pilagá, relatos sobre el silencio",2010,80,Documentary
11658,tt1638343,Permiso para bailar,Permiso para bailar,2010,48,Documentary
11622,tt1637677,Bigasan,Bigasan,2010,80,Drama
11583,tt1636452,Dubai: A City of Dreams,Dubai: A City of Dreams,2010,78,Documentary
11621,tt1637675,Alta infedeltà,Alta infedeltà,2010,nan,Comedy
11619,tt1637662,The Whisper Home,The Whisper Home,2010,95,Drama
11585,tt1636456,The Intern,El pasante,2010,65,NaN
11586,tt1636457,El perseguido,El perseguido,2010,63,NaN
11587,tt1636458,El predio,El predio,2010,58,Documentary
11588,tt1636459,El rati horror show,El rati horror show,2010,98,Documentary
11589,tt1636461,Ensayo (fragmentos de Sarah Kane),Ensayo (fragmentos de Sarah Kane),2010,73,Documentary
11591,tt1636631,The Tenement Ghost,The Tenement Ghost,2010,51,Drama

In [60]:
#TMDB also has genre information, although I would need to find out what each genre code relates to.
#Let me see how far back this data goes...

table2 = tables['tmdb_movies_csv_gz']
table2

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,34,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,8,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,29,2010-03-26,How to Train Your Dragon,8,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,29,2010-05-07,Iron Man 2,7,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28,1995-11-22,Toy Story,8,10174
4,4,"[28, 878, 12]",27205,en,Inception,28,2010-07-16,Inception,8,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,1,2018-10-13,Laboratory Conditions,0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,1,2018-05-01,_EXHIBIT_84xxx_,0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,1,2018-10-01,The Last One,0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,1,2018-06-22,Trailer Made,0,1
26516,26516,"[53, 27]",309885,en,The Church,1,2018-10-05,The Church,0,1

In [61]:
table2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [62]:
table2.sort_values(by='release_date', ascending=True).head(100)
#This dataset has genre ids for all of its movies. It starts in 1930 and ends in mid-2019.

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
14335,14335,"[18, 10752]",143,en,All Quiet on the Western Front,10,1930-04-29,All Quiet on the Western Front,8,299
21758,21758,"[27, 53]",43148,en,The Vampire Bat,2,1933-01-21,The Vampire Bat,6,23
3580,3580,"[35, 18, 10749]",263768,fr,Le Bonheur,2,1936-02-27,Le Bonheur,9,3
26345,26345,[],316707,en,How Walt Disney Cartoons Are Made,1,1939-01-19,How Walt Disney Cartoons Are Made,7,3
11192,11192,"[18, 36, 10749]",887,en,The Best Years of Our Lives,10,1946-12-25,The Best Years of Our Lives,8,243
14740,14740,"[18, 53]",43397,en,Caught,5,1949-02-17,Caught,6,31
120,120,[878],830,en,Forbidden Planet,10,1956-03-15,Forbidden Planet,7,388
24211,24211,[18],614,sv,Smultronstället,9,1957-12-26,Wild Strawberries,8,595
24621,24621,"[18, 10749]",35861,ja,近松物語,6,1958-01-01,The Crucified Lovers,8,40
24268,24268,"[14, 18]",490,sv,Det sjunde inseglet,9,1958-10-13,The Seventh Seal,8,1163
43,43,"[35, 10749]",239,en,Some Like It Hot,14,1959-03-18,Some Like It Hot,8,1562
24000,24000,"[35, 10749]",239,en,Some Like It Hot,14,1959-03-18,Some Like It Hot,8,1562
11109,11109,"[80, 18, 9648, 53]",93,en,Anatomy of a Murder,13,1959-07-01,Anatomy of a Murder,8,359
24330,24330,"[80, 18]",11656,sv,Jungfrukällan,8,1960-02-08,The Virgin Spring,8,219
11420,11420,"[10752, 18]",5055,pl,Popiól i diament,7,1961-05-29,Ashes and Diamonds,8,78
12526,12526,"[12, 16, 10751]",63486,ja,少年猿飛佐助,1,1961-06-22,Magic Boy,7,4
8369,8369,"[12, 18, 878]",2160,en,Voyage to the Bottom of the Sea,6,1961-07-12,Voyage to the Bottom of the Sea,6,49
21748,21748,"[18, 10749]",33765,en,A Kind of Loving,2,1962-10-01,A Kind of Loving,8,17
24300,24300,"[18, 10749]",11506,sv,Tystnaden,8,1964-02-03,The Silence,8,148
22018,22018,[18],48676,ru,Первый учитель,2,1965-10-31,The First Teacher,6,4
8201,8201,"[12, 878]",2161,en,Fantastic Voyage,7,1966-08-24,Fantastic Voyage,7,184
24022,24022,[18],797,sv,Persona,13,1967-03-06,Persona,8,726
17932,17932,"[35, 18, 36]",986,en,Falstaff,6,1967-03-16,Chimes at Midnight,7,65
20695,20695,"[35, 18]",37247,en,The Graduate,16,1967-12-21,The Graduate,8,1545
5210,5210,"[35, 18]",37247,en,The Graduate,16,1967-12-21,The Graduate,8,1545
24441,24441,"[18, 27]",18333,sv,Vargtimmen,7,1968-04-08,Hour of the Wolf,8,171
23872,23872,"[878, 9648, 12]",62,en,2001: A Space Odyssey,24,1968-04-10,2001: A Space Odyssey,8,5837
24375,24375,"[10752, 18]",26372,sv,Skammen,8,1968-12-23,Shame,8,77
6172,6172,[],88276,en,Zorns Lemma,2,1970-09-12,Zorns Lemma,6,11
525,525,[37],71244,en,Monte Walsh,4,1970-10-07,Monte Walsh,6,20
12348,12348,[27],50962,en,Evil Come Evil Go,2,1972-02-18,Evil Come Evil Go,4,5
24299,24299,[18],10238,sv,Viskningar och rop,8,1972-12-21,Cries and Whispers,8,233
1384,1384,"[99, 10402]",47246,en,Ladies & Gentlemen: The Rolling Stones,1,1974-01-01,Ladies & Gentlemen: The Rolling Stones,5,4
8037,8037,"[28, 18, 53]",11123,en,Earthquake,10,1974-11-15,Earthquake,6,124
25025,25025,"[14, 35, 10402, 10749]",44864,sv,Trollflöjten,3,1975-11-11,The Magic Flute,7,28
154,154,"[27, 53]",7340,en,Carrie,9,1976-11-03,Carrie,7,1766
20745,20745,"[878, 18]",840,en,Close Encounters of the Third Kind,13,1977-11-16,Close Encounters of the Third Kind,7,2005
24403,24403,[18],12761,sv,Höstsonaten,7,1978-10-08,Autumn Sonata,8,159
14330,14330,[35],11519,en,1941,10,1979-12-14,1941,6,262
18117,18117,[27],39867,en,Don't Go in the House,4,1980-03-28,Don't Go in the House,6,46
2512,2512,"[10402, 35, 28, 80]",525,en,The Blues Brothers,15,1980-06-17,The Blues Brothers,8,1972
2555,2555,"[9648, 53]",11033,en,Dressed to Kill,12,1980-06-25,Dressed to Kill,7,300
22417,22417,[27],106774,en,Cathy's Curse,1,1980-07-01,Cathy's Curse,5,14
20327,20327,"[16, 35, 10402]",363536,en,Hurray for Betty Boop,1,1980-11-21,Hurray for Betty Boop,6,2
23051,23051,[99],463839,en,Reality's Invisible,1,1981-12-18,Reality's Invisible,7,1
16477,16477,[99],463839,en,Reality's Invisible,1,1981-12-18,Reality's Invisible,7,1
26182,26182,[99],463839,en,Reality's Invisible,1,1981-12-18,Reality's Invisible,7,1
14222,14222,"[18, 36, 10752]",387,de,Das Boot,17,1982-02-10,Das Boot,8,981
2494,2494,"[18, 36, 10752]",387,de,Das Boot,17,1982-02-10,Das Boot,8,981
2567,2567,"[878, 28, 12]",97,en,Tron,12,1982-07-09,Tron,7,1100
2603,2603,"[35, 18]",13342,en,Fast Times at Ridgemont High,11,1982-08-13,Fast Times at Ridgemont High,7,563
19017,19017,"[16, 18, 10751]",77859,ja,チリンの鈴,1,1983-04-08,Ringing Bell,7,11
12575,12575,"[16, 18, 10751]",77859,ja,チリンの鈴,1,1983-04-08,Ringing Bell,7,11
24546,24546,"[14, 18, 9648]",5961,sv,Fanny och Alexander,6,1983-06-17,Fanny & Alexander,8,282
8292,8292,"[28, 80, 18, 53]",12633,en,The Star Chamber,6,1983-08-05,The Star Chamber,6,60
2887,2887,"[10749, 18]",18172,en,All the Right Moves,6,1983-10-21,All the Right Moves,6,111
2573,2573,"[35, 10749]",15144,en,Sixteen Candles,12,1984-05-04,Sixteen Candles,7,982
5201,5201,"[18, 80]",311,en,Once Upon a Time in America,18,1984-06-01,Once Upon a Time in America,8,2243
18662,18662,[18],130402,en,Last Night at the Alamo,2,1984-07-01,Last Night at the Alamo,8,2
26391,26391,"[35, 28]",275599,en,Ninja Busters,1,1984-11-09,Ninja Busters,6,1
2510,2510,"[28, 35, 80]",90,en,Beverly Hills Cop,15,1984-11-30,Beverly Hills Cop,7,1827
17554,17554,"[80, 18, 53]",11368,en,Blood Simple,10,1985-01-18,Blood Simple,7,554
22573,22573,"[28, 18]",92304,en,Out of Control,1,1985-05-01,Out of Control,4,2
11125,11125,"[12, 18]",12775,en,Flesh + Blood,12,1985-08-30,Flesh + Blood,7,152
103,103,"[28, 18, 36]",11645,ja,乱,11,1985-09-26,Ran,8,600
14297,14297,"[28, 18, 36]",11645,ja,乱,11,1985-09-26,Ran,8,600
14552,14552,"[80, 53, 28]",9873,en,F/X,7,1986-02-07,F/X,6,146
17547,17547,"[12, 14]",11976,en,Legend,11,1986-04-18,Legend,6,509
2607,2607,"[12, 14]",11976,en,Legend,11,1986-04-18,Legend,6,509
8007,8007,"[12, 14]",11976,en,Legend,11,1986-04-18,Legend,6,509
14836,14836,"[16, 10751]",25400,en,My Little Pony: The Movie,4,1986-06-06,My Little Pony: The Movie,6,21
5243,5243,"[35, 16, 10751]",9994,en,The Great Mouse Detective,13,1986-07-02,The Great Mouse Detective,7,769
56,56,"[35, 16, 10751]",9994,en,The Great Mouse Detective,13,1986-07-02,The Great Mouse Detective,7,769
11159,11159,"[12, 35]",9671,en,Crocodile Dundee,11,1986-09-26,Crocodile Dundee,6,917
25987,25987,"[27, 9648, 80, 53]",84996,en,Scream for Help,1,1986-10-01,Scream for Help,6,10
14558,14558,"[28, 12, 35]",12715,en,Firewalker,7,1986-11-21,Firewalker,5,75
7435,7435,"[16, 35]",270929,en,Apocalypse Pooh,1,1987-03-09,Apocalypse Pooh,6,2
9815,9815,"[10402, 99]",31474,en,Iron Maiden: 12 Wasted Years,1,1987-10-01,Iron Maiden: 12 Wasted Years,5,3
7758,7758,[18],105591,en,Faust's Other: An Idyll,1,1988-01-01,Faust's Other: An Idyll,4,1
8246,8246,"[28, 12, 35, 80, 18]",10117,en,Action Jackson,7,1988-02-12,Action Jackson,5,81
23981,23981,"[14, 18, 35, 10749, 10751]",2280,en,Big,15,1988-06-03,Big,7,1813
7927,7927,"[14, 18, 35, 10749, 10751]",2280,en,Big,15,1988-06-03,Big,7,1813
9482,9482,"[28, 878, 53, 80]",285633,en,Trancers: City of Lost Angels,1,1988-08-11,Trancers: City of Lost Angels,7,3
18897,18897,[28],270200,en,Young Rebels,1,1989-10-31,Young Rebels,4,4
9880,9880,[10402],31476,en,Iron Maiden: Maiden England,1,1989-11-08,Iron Maiden: Maiden England,4,2
24742,24742,"[18, 28, 80]",71142,en,One Good Cop,5,1991-05-03,One Good Cop,5,23
2546,2546,"[28, 80, 18, 9648, 53]",2924,en,Backdraft,13,1991-05-24,Backdraft,6,613
20639,20639,"[28, 53, 878]",280,en,Terminator 2: Judgment Day,25,1991-07-03,Terminator 2: Judgment Day,8,6682
17395,17395,"[28, 53, 878]",280,en,Terminator 2: Judgment Day,25,1991-07-03,Terminator 2: Judgment Day,8,6682
7292,7292,[10402],274722,en,Chuck Berry: Rock and Roll Music,1,1992-03-10,Chuck Berry: Rock and Roll Music,7,2
17629,17629,"[18, 10749]",8293,en,Howards End,9,1992-03-13,Howards End,7,201
2579,2579,"[80, 28, 878]",9739,en,Demolition Man,11,1993-10-08,Demolition Man,6,1678
23861,23861,"[18, 36, 10752]",424,en,Schindler's List,25,1993-12-15,Schindler's List,8,8065
2472,2472,"[10751, 16, 18]",8587,en,The Lion King,29,1994-06-23,The Lion King,8,10160
26,26,"[28, 35, 80, 53]",9737,en,Bad Boys,17,1995-04-07,Bad Boys,7,2936
8184,8184,"[27, 53, 14]",18392,en,Embrace of the Vampire,7,1995-05-30,Embrace of the Vampire,5,49
31,31,"[18, 36]",568,en,Apollo 13,16,1995-06-30,Apollo 13,7,2821
19410,19410,"[18, 35]",98514,en,River of Grass,1,1995-08-04,River of Grass,7,15
2516,2516,"[53, 28, 80]",8068,en,Desperado,15,1995-08-25,Desperado,7,1440
2606,2606,"[28, 12, 80, 53]",9691,en,Assassins,11,1995-10-06,Assassins,6,666

In [63]:
#I am going to merge several of the IMDB datasets together, using the tconst as a key.
imdb_df = pd.merge(table1, table4, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes
0,tt0285252,nm0899854,nm0899854,4,219
1,tt0462036,nm1940585,nm1940585,6,18
2,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147
3,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875
4,tt0879859,nm2416460,NaN,7,21
...,...,...,...,...,...
73851,tt8947660,nm10097606,nm10097614,8,21
73852,tt8948614,"nm0827830,nm0839064",NaN,7,696
73853,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993
73854,tt8991416,nm7731173,nm7731173,7,13
73855,tt9004986,nm4993825,nm4993825,8,7

In [64]:
imdb_df= pd.merge(imdb_df, table7, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy
1,tt0462036,nm1940585,nm1940585,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama
2,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147,The Babymakers,The Babymakers,2012,95,Comedy
3,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875,Bulletface,Bulletface,2010,82,Thriller
4,tt0879859,nm2416460,NaN,7,21,Torn,Torn,2010,nan,Thriller
...,...,...,...,...,...,...,...,...,...,...
73851,tt8947660,nm10097606,nm10097614,8,21,Goyenda Tatar,Goyenda Tatar,2019,nan,Adventure
73852,tt8948614,"nm0827830,nm0839064",NaN,7,696,Reversing Roe,Reversing Roe,2018,99,Documentary
73853,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993,The Princess Switch,The Princess Switch,2018,101,Romance
73854,tt8991416,nm7731173,nm7731173,7,13,Doozy,Doozy,2018,70,"Animation,Comedy"
73855,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary

In [65]:
imdb_df= pd.merge(imdb_df, table11, left_on= 'tconst', right_on= 'tconst')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,10,nm1077681,composer,NaN,NaN
1,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,1,nm0960950,actor,NaN,"[""Darren Fields""]"
2,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,2,nm0461311,actor,NaN,"[""RJ""]"
3,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,3,nm0000686,actor,NaN,"[""Roy Callahan""]"
4,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,4,nm0001822,actor,NaN,"[""Tom Wald""]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629750,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,5,nm4993825,director,NaN,NaN
629751,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,6,nm9008590,producer,producer,NaN
629752,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,7,nm1145570,composer,NaN,NaN
629753,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,8,nm0461754,cinematographer,NaN,NaN
629754,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,9,nm6197807,cinematographer,NaN,NaN

In [69]:
#There are a lot of duplicates due to the personnel attached to each movie getting their own record.
# I doubt that I will need to check the personnel, so let's drop the duplicates.

imdb_df = imdb_df.drop_duplicates('original_title', keep='first')
imdb_df

,tconst,directors,writers,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,ordering,nconst,category,job,characters
0,tt0285252,nm0899854,nm0899854,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,10,nm1077681,composer,NaN,NaN
10,tt0462036,nm1940585,nm1940585,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama,10,nm0230187,production_designer,NaN,NaN
20,tt0835418,nm0151540,"nm0310087,nm0841532",5,8147,The Babymakers,The Babymakers,2012,95,Comedy,10,nm0790481,composer,NaN,NaN
30,tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943,6,875,Bulletface,Bulletface,2010,82,Thriller,10,nm0480523,producer,producer,NaN
40,tt0879859,nm2416460,NaN,7,21,Torn,Torn,2010,nan,Thriller,10,nm1269186,editor,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629707,tt8947660,nm10097606,nm10097614,8,21,Goyenda Tatar,Goyenda Tatar,2019,nan,Adventure,10,nm10377635,composer,NaN,NaN
629717,tt8948614,"nm0827830,nm0839064",NaN,7,696,Reversing Roe,Reversing Roe,2018,99,Documentary,10,nm0324930,editor,NaN,NaN
629727,tt8954732,nm0737517,"nm0076820,nm2997602",6,13993,The Princess Switch,The Princess Switch,2018,101,Romance,10,nm0294520,composer,NaN,NaN
629737,tt8991416,nm7731173,nm7731173,7,13,Doozy,Doozy,2018,70,"Animation,Comedy",1,nm0571897,actor,NaN,"[""Clovis""]"
629745,tt9004986,nm4993825,nm4993825,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,10,nm0826589,editor,NaN,NaN

In [70]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70944 entries, 0 to 629745
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           70944 non-null  object
 1   directors        70368 non-null  object
 2   writers          60791 non-null  object
 3   averagerating    70944 non-null  float64
 4   numvotes         70944 non-null  int64
 5   primary_title    70944 non-null  object
 6   original_title   70944 non-null  object
 7   start_year       70944 non-null  int64
 8   runtime_minutes  63654 non-null  float64
 9   genres           70246 non-null  object
 10  ordering         70944 non-null  int64
 11  nconst           70944 non-null  object
 12  category         70944 non-null  object
 13  job              7883 non-null   object
 14  characters       26953 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 8.7+ MB

In [85]:
#dropped the columns that weren't useful. (can always get them back from the original sources)
# I dropped the following columns: directors, writers, ordering, nconst, category, job, characters
imdb_df = imdb_df.drop('characters', axis=1)
imdb_df.head(10)

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0285252,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy
10,tt0462036,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama
20,tt0835418,5,8147,The Babymakers,The Babymakers,2012,95,Comedy
30,tt0878654,6,875,Bulletface,Bulletface,2010,82,Thriller
40,tt0879859,7,21,Torn,Torn,2010,nan,Thriller
50,tt0996958,2,495,Legend of the Red Reaper,Legend of the Red Reaper,2013,99,"Action,Adventure,Fantasy"
60,tt0999913,6,30924,Straw Dogs,Straw Dogs,2011,110,"Action,Drama,Thriller"
70,tt10011102,8,55,The Sholay Girl,The Sholay Girl,2019,106,"Action,Biography,Drama"
80,tt1002965,8,31,Call of Life,Call of Life,2010,60,Documentary
90,tt10055770,8,380,Vellai Pookal,Vellaipookal,2019,122,Thriller

In [ ]:
#I want to now merge this imdb_df with my financial information from table9. I know that if I just do a merge
# on title, some of the results will be incorrect. (Avatar is the #grossing movie but is listed as a horror movie)
# to prevent this, I am going to create a movie_titles dataset where I can more closely examine whether movies
#from table9 are where they are supposed to be or not.

In [398]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70944 entries, 0 to 629745
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           70944 non-null  object
 1   averagerating    70944 non-null  float64
 2   numvotes         70944 non-null  int64
 3   primary_title    70944 non-null  object
 4   original_title   70944 non-null  object
 5   start_year       70944 non-null  int64
 6   runtime_minutes  63654 non-null  float64
 7   genres           70246 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 7.4+ MB

In [256]:
movie_title_df = imdb_df[['tconst' , 'primary_title' , 'original_title', 'start_year', 'runtime_minutes']]
movie_title_df

,tconst,primary_title,original_title,start_year,runtime_minutes
0,tt0285252,Life's a Beach,Life's a Beach,2012,100
10,tt0462036,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110
20,tt0835418,The Babymakers,The Babymakers,2012,95
30,tt0878654,Bulletface,Bulletface,2010,82
40,tt0879859,Torn,Torn,2010,nan
...,...,...,...,...,...
629707,tt8947660,Goyenda Tatar,Goyenda Tatar,2019,nan
629717,tt8948614,Reversing Roe,Reversing Roe,2018,99
629727,tt8954732,The Princess Switch,The Princess Switch,2018,101
629737,tt8991416,Doozy,Doozy,2018,70
629745,tt9004986,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan

In [399]:



= table9.apply(lambda x: x['worldwide_gross'] - x['production_budget'], axis=1)
total_profit

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0285252,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy
10,tt0462036,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama
20,tt0835418,5,8147,The Babymakers,The Babymakers,2012,95,Comedy
30,tt0878654,6,875,Bulletface,Bulletface,2010,82,Thriller
40,tt0879859,7,21,Torn,Torn,2010,nan,Thriller
...,...,...,...,...,...,...,...,...
629707,tt8947660,8,21,Goyenda Tatar,Goyenda Tatar,2019,nan,Adventure
629717,tt8948614,7,696,Reversing Roe,Reversing Roe,2018,99,Documentary
629727,tt8954732,6,13993,The Princess Switch,The Princess Switch,2018,101,Romance
629737,tt8991416,7,13,Doozy,Doozy,2018,70,"Animation,Comedy"
629745,tt9004986,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary

In [417]:
imdb_df['o_tconst'] = imdb_df['tconst']
imdb_df

,tconst,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres,p_tconst,o_tconst
0,tt0285252,4,219,Life's a Beach,Life's a Beach,2012,100,Comedy,tt0285252,tt0285252
10,tt0462036,6,18,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,110,Drama,tt0462036,tt0462036
20,tt0835418,5,8147,The Babymakers,The Babymakers,2012,95,Comedy,tt0835418,tt0835418
30,tt0878654,6,875,Bulletface,Bulletface,2010,82,Thriller,tt0878654,tt0878654
40,tt0879859,7,21,Torn,Torn,2010,nan,Thriller,tt0879859,tt0879859
...,...,...,...,...,...,...,...,...,...,...
629707,tt8947660,8,21,Goyenda Tatar,Goyenda Tatar,2019,nan,Adventure,tt8947660,tt8947660
629717,tt8948614,7,696,Reversing Roe,Reversing Roe,2018,99,Documentary,tt8948614,tt8948614
629727,tt8954732,6,13993,The Princess Switch,The Princess Switch,2018,101,Romance,tt8954732,tt8954732
629737,tt8991416,7,13,Doozy,Doozy,2018,70,"Animation,Comedy",tt8991416,tt8991416
629745,tt9004986,8,7,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,Documentary,tt9004986,tt9004986

In [418]:
imdb_title1 = imdb_df[['primary_title' , 'p_tconst']]
imdb_title2 = imdb_df[['original_title', 'o_tconst']]

In [419]:
imdb_title = [imdb_title1, imdb_title2]
imdb_title

[                                     primary_title   p_tconst
 0                                   Life's a Beach  tt0285252
 10                 Steve Phoenix: The Untold Story  tt0462036
 20                                  The Babymakers  tt0835418
 30                                      Bulletface  tt0878654
 40                                            Torn  tt0879859
 ...                                            ...        ...
 629707                               Goyenda Tatar  tt8947660
 629717                               Reversing Roe  tt8948614
 629727                         The Princess Switch  tt8954732
 629737                                       Doozy  tt8991416
 629745  Syndebukken: Prosessen mot Harry Lindstrøm  tt9004986

 [70944 rows x 2 columns],
                                     original_title   o_tconst
 0                                   Life's a Beach  tt0285252
 10                 Steve Phoenix: The Untold Story  tt0462036
 20                                  The Babymakers  tt0835418
 30                                      Bulletface  tt0878654
 40                                            Torn  tt0879859
 ...                                            ...        ...
 629707                               Goyenda Tatar  tt8947660
 629717                               Reversing Roe  tt8948614
 629727                         The Princess Switch  tt8954732
 629737                                       Doozy  tt8991416
 629745  Syndebukken: Prosessen mot Harry Lindstrøm  tt9004986

 [70944 rows x 2 columns]]

In [437]:
master_title_df_1= pd.merge(imdb_title1, table9_name, left_on='primary_title', right_on='movie', how='left' )
master_title_df_1

                                    primary_title   p_tconst movie  id
0                                  Life's a Beach  tt0285252   NaN nan
1                 Steve Phoenix: The Untold Story  tt0462036   NaN nan
2                                  The Babymakers  tt0835418   NaN nan
3                                      Bulletface  tt0878654   NaN nan
4                                            Torn  tt0879859   NaN nan
...                                           ...        ...   ...  ..
71016                               Goyenda Tatar  tt8947660   NaN nan
71017                               Reversing Roe  tt8948614   NaN nan
71018                         The Princess Switch  tt8954732   NaN nan
71019                                       Doozy  tt8991416   NaN nan
71020  Syndebukken: Prosessen mot Harry Lindstrøm  tt9004986   NaN nan

[71021 rows x 4 columns]

In [438]:
master_title_df_1.sort_values('movie', ascending=True).head()

               primary_title   p_tconst                  movie  id
59801                #Horror  tt3526286                #Horror  16
10928    10 Cloverfield Lane  tt1179933    10 Cloverfield Lane  54
40927  10 Days in a Madhouse  tt3453052  10 Days in a Madhouse  48
33780              12 Rounds  tt3517850              12 Rounds  37
10957              12 Strong  tt1413492              12 Strong  64

In [439]:
master_title_df_2 = pd.merge(imdb_title2, table9_name, left_on='original_title', right_on='movie', how='left' )
master_title_df_2

                                   original_title   o_tconst movie  id
0                                  Life's a Beach  tt0285252   NaN nan
1                 Steve Phoenix: The Untold Story  tt0462036   NaN nan
2                                  The Babymakers  tt0835418   NaN nan
3                                      Bulletface  tt0878654   NaN nan
4                                            Torn  tt0879859   NaN nan
...                                           ...        ...   ...  ..
70996                               Goyenda Tatar  tt8947660   NaN nan
70997                               Reversing Roe  tt8948614   NaN nan
70998                         The Princess Switch  tt8954732   NaN nan
70999                                       Doozy  tt8991416   NaN nan
71000  Syndebukken: Prosessen mot Harry Lindstrøm  tt9004986   NaN nan

[71001 rows x 4 columns]

In [443]:
master_title_df_2.sort_values('movie').head(20)

               original_title   o_tconst                   movie  id
59785                 #Horror  tt3526286                 #Horror  16
10924     10 Cloverfield Lane  tt1179933     10 Cloverfield Lane  54
40914   10 Days in a Madhouse  tt3453052   10 Days in a Madhouse  48
33767               12 Rounds  tt3517850               12 Rounds  37
10953               12 Strong  tt1413492               12 Strong  64
22300        12 Years a Slave  tt2024544        12 Years a Slave  18
5599                127 Hours  tt1542344               127 Hours   6
3524                  13 Sins  tt2059171                 13 Sins  51
57146                    1982  tt2388621                    1982  23
7500                   2 Guns  tt1272878                  2 Guns  39
38756                      21  tt5097012                      21  39
51771          21 Jump Street  tt1232829          21 Jump Street  44
43197          22 Jump Street  tt2294449          22 Jump Street  85
399                  23 Blast  tt2304459                23 Blast  64
36114                       3  tt2379653                       3  85
69877             3 Backyards  tt1314190             3 Backyards  51
43107          3 Days to Kill  tt2172934          3 Days to Kill  64
18249      30 Minutes or Less  tt1622547      30 Minutes or Less  60
37954  300: Rise of an Empire  tt1253863  300: Rise of an Empire  26
37370                      31  tt3835080                      31  85

In [440]:
master_title_df = pd.merge(master_title_df_1, master_title_df_2, left_on='primary_title', right_on='original_title', how='outer' )
master_title_df

,primary_title,p_tconst,movie_x,id_x,original_title,o_tconst,movie_y,id_y
0,Life's a Beach,tt0285252,NaN,nan,Life's a Beach,tt0285252,NaN,nan
1,Steve Phoenix: The Untold Story,tt0462036,NaN,nan,Steve Phoenix: The Untold Story,tt0462036,NaN,nan
2,The Babymakers,tt0835418,NaN,nan,The Babymakers,tt0835418,NaN,nan
3,Bulletface,tt0878654,NaN,nan,Bulletface,tt0878654,NaN,nan
4,Torn,tt0879859,NaN,nan,Torn,tt0879859,NaN,nan
...,...,...,...,...,...,...,...,...
83193,NaN,NaN,NaN,nan,Sensei Kunshu,tt8668312,NaN,nan
83194,NaN,NaN,NaN,nan,I saw a little bird flying over a psychiatric ...,tt8682654,NaN,nan
83195,NaN,NaN,NaN,nan,Kalin i otbora na zatvora,tt8780788,NaN,nan
83196,NaN,NaN,NaN,nan,Geschwister,tt8811474,NaN,nan
83197,NaN,NaN,NaN,nan,Isha Ovedet,tt8844204,NaN,nan

In [442]:
master_title_df.sort_values('movie_x', ascending=True).head(1000)

,primary_title,p_tconst,movie_x,id_x,original_title,o_tconst,movie_y,id_y
60256,#Horror,tt3526286,#Horror,16,#Horror,tt3526286,#Horror,16
11419,10 Cloverfield Lane,tt1179933,10 Cloverfield Lane,54,10 Cloverfield Lane,tt1179933,10 Cloverfield Lane,54
41714,10 Days in a Madhouse,tt3453052,10 Days in a Madhouse,48,10 Days in a Madhouse,tt3453052,10 Days in a Madhouse,48
34582,12 Rounds,tt3517850,12 Rounds,37,12 Rounds,tt3517850,12 Rounds,37
11448,12 Strong,tt1413492,12 Strong,64,12 Strong,tt1413492,12 Strong,64
23047,12 Years a Slave,tt2024544,12 Years a Slave,18,12 Years a Slave,tt2024544,12 Years a Slave,18
5874,127 Hours,tt1542344,127 Hours,6,127 Hours,tt1542344,127 Hours,6
3694,13 Sins,tt2059171,13 Sins,51,13 Sins,tt2059171,13 Sins,51
57682,1982,tt2388621,1982,23,1982,tt2388621,1982,23
7849,2 Guns,tt1272878,2 Guns,39,2 Guns,tt1272878,2 Guns,39
39568,21,tt5097012,21,39,21,tt5097012,21,39
52418,21 Jump Street,tt1232829,21 Jump Street,44,21 Jump Street,tt1232829,21 Jump Street,44
43978,22 Jump Street,tt2294449,22 Jump Street,85,22 Jump Street,tt2294449,22 Jump Street,85
433,23 Blast,tt2304459,23 Blast,64,23 Blast,tt2304459,23 Blast,64
36930,3,tt2379653,3,85,3,tt2379653,3,85
70098,3 Backyards,tt1314190,3 Backyards,51,3 Backyards,tt1314190,3 Backyards,51
43888,3 Days to Kill,tt2172934,3 Days to Kill,64,3 Days to Kill,tt2172934,3 Days to Kill,64
18926,30 Minutes or Less,tt1622547,30 Minutes or Less,60,30 Minutes or Less,tt1622547,30 Minutes or Less,60
38772,300: Rise of an Empire,tt1253863,300: Rise of an Empire,26,300: Rise of an Empire,tt1253863,300: Rise of an Empire,26
38186,31,tt3835080,31,85,31,tt3835080,31,85
41162,42,tt0453562,42,22,42,tt0453562,42,22
8898,47 Ronin,tt1335975,47 Ronin,12,47 Ronin,tt1335975,47 Ronin,12
42467,5 Days of War,tt1486193,5 Days of War,47,5 Days of War,tt1486193,5 Days of War,47
59758,50 to 1,tt1777595,50 to 1,93,50 to 1,tt1777595,50 to 1,93
3420,50/50,tt1734060,50/50,73,50/50,tt1734060,50/50,73
8303,8 Days,tt3111864,8 Days,48,8 Days,tt3111864,8 Days,48
44694,8: The Mormon Proposition,tt1484522,8: The Mormon Proposition,38,8: The Mormon Proposition,tt1484522,8: The Mormon Proposition,38
15628,9,tt5719388,9,33,9,tt5719388,9,33
56635,90 Minutes in Heaven,tt4337690,90 Minutes in Heaven,38,90 Minutes in Heaven,tt4337690,90 Minutes in Heaven,38
52198,A Bad Moms Christmas,tt6359956,A Bad Moms Christmas,40,A Bad Moms Christmas,tt6359956,A Bad Moms Christmas,40
20118,A Better Life,tt2027265,A Better Life,84,A Better Life,tt1554091,A Better Life,84
20117,A Better Life,tt1554091,A Better Life,84,A Better Life,tt1554091,A Better Life,84
66425,A Dangerous Method,tt1571222,A Dangerous Method,69,A Dangerous Method,tt1571222,A Dangerous Method,69
11514,A Few Best Men,tt1640711,A Few Best Men,55,A Few Best Men,tt1640711,A Few Best Men,55
65247,A Fine Step,tt1604100,A Fine Step,18,A Fine Step,tt1604100,A Fine Step,18
36332,A Ghost Story,tt6265828,A Ghost Story,86,A Ghost Story,tt6265828,A Ghost Story,86
17585,A Good Day to Die Hard,tt1606378,A Good Day to Die Hard,34,A Good Day to Die Hard,tt1606378,A Good Day to Die Hard,34
49296,A Haunted House,tt2243537,A Haunted House,12,A Haunted House,tt2243537,A Haunted House,12
51610,A Haunted House 2,tt2828996,A Haunted House 2,89,A Haunted House 2,tt2828996,A Haunted House 2,89
34506,A Hologram for the King,tt2980210,A Hologram for the King,47,A Hologram for the King,tt2980210,A Hologram for the King,47
59628,A Little Bit of Heaven,tt1440161,A Little Bit of Heaven,39,A Little Bit of Heaven,tt1440161,A Little Bit of Heaven,39
41185,A Lonely Place to Die,tt1422136,A Lonely Place to Die,56,A Lonely Place to Die,tt1422136,A Lonely Place to Die,56
40599,A Monster Calls,tt3416532,A Monster Calls,41,A Monster Calls,tt3416532,A Monster Calls,41
1570,A Most Violent Year,tt2937898,A Most Violent Year,68,A Most Violent Year,tt2937898,A Most Violent Year,68
6989,A Most Wanted Man,tt1972571,A Most Wanted Man,76,A Most Wanted Man,tt1972571,A Most Wanted Man,76
11416,A Nightmare on Elm Street,tt1179056,A Nightmare on Elm Street,49,A Nightmare on Elm Street,tt1179056,A Nightmare on Elm Street,17
11417,A Nightmare on Elm Street,tt1179056,A Nightmare on Elm Street,17,A Nightmare on Elm Street,tt1179056,A Nightmare on Elm Street,49
11418,A Nightmare on Elm Street,tt1179056,A Nightmare on Elm Street,17,A Nightmare on Elm Street,tt1179056,A Nightmare on Elm Street,17
11415,A Nightmare on Elm Street,tt1179056,A Nightmare on Elm Street,49,A Nightmare on Elm Street,tt1179056,A Nightmare on Elm Street,49
281,A Plague So Pleasant,tt2107644,A Plague So Pleasant,81,A Plague So Pleasant,tt2107644,A Plague So Pleasant,81
35101,A Quiet Place,tt6644200,A Quiet Place,66,A Quiet Place,tt6644200,A Quiet Place,66
18662,A Simple Favor,tt7040874,A Simple Favor,24,A Simple Favor,tt7040874,A Simple Favor,24
10128,A Star is Born,tt1776364,A Star is Born,5,NaN,NaN,NaN,nan
37152,A Street Cat Named Bob,tt3606888,A Street Cat Named Bob,31,A Street Cat Named Bob,tt3606888,A Street Cat Named Bob,31
18804,A Thousand Words,tt0763831,A Thousand Words,1,A Thousand Words,tt0763831,A Thousand Words,1
65190,A True Story,tt1524083,A True Story,27,NaN,NaN,NaN,nan
67560,A Very Harold & Kumar 3D Christmas,tt1268799,A Very Harold & Kumar 3D Christmas,53,A Very Harold & Kumar 3D Christmas,tt1268799,A Very Harold & Kumar 3D Christmas,53
21254,A Walk Among the Tombstones,tt0365907,A Walk Among the Tombstones,67,A Walk Among the Tombstones,tt0365907,A Walk Among the Tombstones,67
36553,A Walk in the Woods,tt1178665,A Walk in the Woods,75,A Walk in the Woods,tt1178665,A Walk in the Woods,75
20170,A Wrinkle in Time,tt1620680,A Wrinkle in Time,58,A Wrinkle in Time,tt1620680,A Wrinkle in Time,58
58725,A.C.O.R.N.S.: Operation Crackdown,tt2097333,A.C.O.R.N.S.: Operation Crackdown,51,NaN,NaN,NaN,nan
19239,ABCD (Any Body Can Dance),tt2321163,ABCD (Any Body Can Dance),11,ABCD (Any Body Can Dance),tt2321163,ABCD (Any Body Can Dance),11
36781,AWOL-72,tt2048865,AWOL-72,65,AWOL-72,tt2048865,AWOL-72,65
17578,Abduction,tt1600195,Abduction,96,Abduction,tt1600195,Abduction,96
63312,Aberdeen,tt3429014,Aberdeen,3,NaN,NaN,NaN,nan
38835,About Last Night,tt1826590,About Last Night,58,About Last Night,tt1826590,About Last Night,58
61029,About Time,tt2194499,About Time,95,About Time,tt2194499,About Time,95
62212,Above and Beyond,tt2704752,Above and Beyond,38,Above and Beyond,tt2704752,Above and Beyond,38
37766,Abraham Lincoln: Vampire Hunter,tt1611224,Abraham Lincoln: Vampire Hunter,65,Abraham Lincoln: Vampire Hunter,tt1611224,Abraham Lincoln: Vampire Hunter,65
70163,Absentia,tt1610996,Absentia,6,Absentia,tt1610996,Absentia,6
62891,Accidental Love,tt1137470,Accidental Love,55,Accidental Love,tt1137470,Accidental Love,55
38537,Acrimony,tt6063050,Acrimony,35,Acrimony,tt6063050,Acrimony,35
11478,Act of Valor,tt1591479,Act of Valor,52,Act of Valor,tt1591479,Act of Valor,52
18798,Action Jackson,tt0403935,Action Jackson,8,Action Jackson,tt0403935,Action Jackson,8
19926,Action Point,tt6495770,Action Point,50,Action Point,tt6495770,Action Point,50
4291,Adam,tt4113020,Adam,59,Adam,tt4113020,Adam,59
3802,Addicted,tt2205401,Addicted,96,Addicted,tt2205401,Addicted,96
2513,Admiral,tt2544766,Admiral,7,NaN,NaN,NaN,nan
17659,Admission,tt1814621,Admission,76,Admission,tt1814621,Admission,76
28813,Adrift,tt6306064,Adrift,89,Adrift,tt6306064,Adrift,89
23803,Adulterers,tt4044464,Adulterers,86,NaN,NaN,NaN,nan
6828,After,tt1147681,After,2,After,tt1147681,After,2
34201,After Earth,tt1815862,After Earth,53,After Earth,tt1815862,After Earth,53
50529,Ain't Them Bodies Saints,tt2388637,Ain't Them Bodies Saints,64,Ain't Them Bodies Saints,tt2388637,Ain't Them Bodies Saints,64
37354,Air Strike,tt4743226,Air Strike,21,NaN,NaN,NaN,nan
27877,Airborne,tt1827354,Airborne,85,Airborne,tt1827354,Airborne,85
52123,Akira,tt5700962,Akira,36,Akira,tt5700962,Akira,36
63758,Aladdin,tt6139732,Aladdin,33,Aladdin,tt6139732,Aladdin,33
63755,Aladdin,tt6139732,Aladdin,81,Aladdin,tt6139732,Aladdin,81
63756,Aladdin,tt6139732,Aladdin,81,Aladdin,tt6139732,Aladdin,33
63757,Aladdin,tt6139732,Aladdin,33,Aladdin,tt6139732,Aladdin,81
67644,Albert Nobbs,tt1602098,Albert Nobbs,67,Albert Nobbs,tt1602098,Albert Nobbs,67
40199,Alex Cross,tt1712170,Alex Cross,100,Alex Cross,tt1712170,Alex Cross,100
65323,"Alexander and the Terrible, Horrible, No Good,...",tt1698641,"Alexander and the Terrible, Horrible, No Good,...",44,"Alexander and the Terrible, Horrible, No Good,...",tt1698641,"Alexander and the Terrible, Horrible, No Good,...",44
31811,Ali,tt2006051,Ali,45,Ali,tt2006051,Ali,45
60043,Alice Through the Looking Glass,tt2567026,Alice Through the Looking Glass,26,Alice Through the Looking Glass,tt2567026,Alice Through the Looking Glass,26
36785,Alice in Wonderland,tt2049386,Alice in Wonderland,60,Alice in Wonderland,tt2049386,Alice in Wonderland,60
36784,Alice in Wonderland,tt2049386,Alice in Wonderland,60,Alice in Wonderland,tt2049386,Alice in Wonderland,51
36783,Alice in Wonderland,tt2049386,Alice in Wonderland,51,Alice in Wonderland,tt2049386,Alice in Wonderland,60
36782,Alice in Wonderland,tt2049386,Alice in Wonderland,51,Alice in Wonderland,tt2049386,Alice in Wonderland,51
4890,Alien Uprising,tt2040578,Alien Uprising,44,NaN,NaN,NaN,nan
64341,Alien: Covenant,tt2316204,Alien: Covenant,12,Alien: Covenant,tt2316204,Alien: Covenant,12
4182,Aliens,tt3837024,Aliens,68,Aliens,tt3837024,Aliens,68
22635,Alita: Battle Angel,tt0437086,Alita: Battle Angel,24,Alita: Battle Angel,tt0437086,Alita: Battle Angel,24
4169,Alive,tt7611352,Alive,2,Alive,tt7611352,Alive,2
4168,Alive,tt3797214,Alive,2,Alive,tt7611352,Alive,2
57386,All Eyez on Me,tt1666185,All Eyez on Me,91,All Eyez on Me,tt1666185,All Eyez on Me,91
33962,All Good Things,tt1175709,All Good Things,96,All Good Things,tt1175709,All Good Things,96
8501,All Saints,tt4663548,All Saints,12,All Saints,tt4663548,All Saints,12
63041,All Superheroes Must Die,tt1836212,All Superheroes Must Die,56,All Superheroes Must Die,tt1836212,All Superheroes Must Die,56
36949,All You Need Is Love,tt4971480,All You Need Is Love,59,All You Need Is Love,tt2704210,All You Need Is Love,59
36948,All You Need Is Love,tt2704210,All You Need Is Love,59,All You Need Is Love,tt2704210,All You Need Is Love,59
9548,All or Nothing,tt3868240,All or Nothing,14,All or Nothing,tt2806500,All or Nothing,14
9549,All or Nothing,tt2806500,All or Nothing,14,All or Nothing,tt2806500,All or Nothing,14
19539,Alleluia! The Devil's Carnival,tt3892618,Alleluia! The Devil's Carnival,87,Alleluia! The Devil's Carnival,tt3892618,Alleluia! The Devil's Carnival,87
46379,Allied,tt3640424,Allied,47,Allied,tt3640424,Allied,47
15529,Almost Christmas,tt4649416,Almost Christmas,81,Almost Christmas,tt4649416,Almost Christmas,81
31380,Almost Famous,tt7059806,Almost Famous,22,NaN,NaN,NaN,nan
14048,Aloft,tt2494384,Aloft,33,Aloft,tt2494384,Aloft,33
52420,Aloha,tt1243974,Aloha,3,Aloha,tt1243974,Aloha,3
17910,Along the Roadside,tt2290113,Along the Roadside,91,Along the Roadside,tt2290113,Along the Roadside,91
292,Alpha,tt2121250,Alpha,79,Alpha,tt2121250,Alpha,79
2287,Alvin and the Chipmunks: Chipwrecked,tt1615918,Alvin and the Chipmunks: Chipwrecked,49,Alvin and the Chipmunks: Chipwrecked,tt1615918,Alvin and the Chipmunks: Chipwrecked,49
28218,Alvin and the Chipmunks: The Road Chip,tt2974918,Alvin and the Chipmunks: The Road Chip,56,Alvin and the Chipmunks: The Road Chip,tt2974918,Alvin and the Chipmunks: The Road Chip,56
44885,Always Woodstock,tt1995477,Always Woodstock,57,NaN,NaN,NaN,nan
36982,Amen,tt2786278,Amen,25,Amen,tt2786278,Amen,25
6986,American Assassin,tt1961175,American Assassin,28,American Assassin,tt1961175,American Assassin,28
52838,American Heist,tt2923316,American Heist,35,American Heist,tt2923316,American Heist,35
61426,American Hero,tt4733536,American Hero,3,American Hero,tt4733536,American Hero,3
46413,American Honey,tt3721936,American Honey,15,American Honey,tt3721936,American Honey,15
140,American Hustle,tt1800241,American Hustle,80,American Hustle,tt1800241,American Hustle,80
37126,American Made,tt3532216,American Made,32,American Made,tt3532216,American Made,32
34016,American Reunion,tt1605630,American Reunion,26,American Reunion,tt1605630,American Reunion,26
29374,American Sniper,tt2179136,American Sniper,57,American Sniper,tt2179136,American Sniper,57
31013,American Ultra,tt3316948,American Ultra,72,American Ultra,tt3316948,American Ultra,72
12021,Amidst the Devil's Wings,tt3976258,Amidst the Devil's Wings,66,Amidst the Devil's Wings,tt3976258,Amidst the Devil's Wings,66
62,Amigo,tt1562847,Amigo,94,Amigo,tt1562847,Amigo,94
6267,Amnesiac,tt2837336,Amnesiac,72,Amnesiac,tt2837336,Amnesiac,72
85,Amour,tt1602620,Amour,51,Amour,tt1602620,Amour,51
67831,An American in Hollywood,tt2125430,An American in Hollywood,70,An American in Hollywood,tt2125430,An American in Hollywood,70
44608,An Ideal Husband,tt8653640,An Ideal Husband,23,An Ideal Husband,tt8653640,An Ideal Husband,23
44661,Anchorman 2: The Legend Continues,tt1229340,Anchorman 2: The Legend Continues,92,Anchorman 2: The Legend Continues,tt1229340,Anchorman 2: The Legend Continues,92
57723,And So It Goes,tt2465146,And So It Goes,14,And So It Goes,tt2465146,And So It Goes,14
11393,Anderson's Cross,tt0393049,Anderson's Cross,65,Anderson's Cross,tt0393049,Anderson's Cross,65
22666,Animal Kingdom,tt1313092,Animal Kingdom,71,Animal Kingdom,tt1313092,Animal Kingdom,71
3262,Animals,tt1298530,Animals,34,Animals,tt1298530,Animals,34
5352,Anna,tt3872918,Anna,64,Anna,tt3872918,Anna,64
5353,Anna,tt4898888,Anna,64,Anna,tt3872918,Anna,64
21434,Anna Karenina,tt1781769,Anna Karenina,13,Anna Karenina,tt1781769,Anna Karenina,13
45193,Annabelle,tt3322940,Annabelle,84,Annabelle,tt3322940,Annabelle,84
5542,Annabelle: Creation,tt5140878,Annabelle: Creation,2,Annabelle: Creation,tt5140878,Annabelle: Creation,2
53685,Annie,tt1823664,Annie,89,Annie,tt1823664,Annie,89
69206,Annihilation,tt2798920,Annihilation,32,Annihilation,tt2798920,Annihilation,32
10409,Anomalisa,tt2401878,Anomalisa,6,Anomalisa,tt2401878,Anomalisa,6
10006,Anonymous,tt1521197,Anonymous,90,Anonymous,tt1521197,Anonymous,90
30487,Another Earth,tt1549572,Another Earth,48,Another Earth,tt1549572,Another Earth,48
34103,Another Happy Day,tt1719071,Another Happy Day,52,Another Happy Day,tt1719071,Another Happy Day,52
17174,Another Year,tt1431181,Another Year,8,Another Year,tt1431181,Another Year,8
17175,Another Year,tt3508808,Another Year,8,Another Year,tt1431181,Another Year,8
17173,Another Year,tt5886728,Another Year,8,Another Year,tt1431181,Another Year,8
49102,Ant-Man,tt0478970,Ant-Man,43,Ant-Man,tt0478970,Ant-Man,43
32442,Ant-Man and the Wasp,tt5095030,Ant-Man and the Wasp,41,Ant-Man and the Wasp,tt5095030,Ant-Man and the Wasp,41
34381,Antarctica: A Year on Ice,tt2361700,Antarctica: A Year on Ice,71,Antarctica: A Year on Ice,tt2361700,Antarctica: A Year on Ice,71
40576,Antibirth,tt3333870,Antibirth,49,Antibirth,tt3333870,Antibirth,49
31879,Antiviral,tt2099556,Antiviral,63,Antiviral,tt2099556,Antiviral,63
64772,Anywhere But Here,tt4973502,Anywhere But Here,84,Anywhere But Here,tt4973502,Anywhere But Here,84
17607,Apollo 18,tt1772240,Apollo 18,94,Apollo 18,tt1772240,Apollo 18,94
42461,Aquaman,tt1477834,Aquaman,36,Aquaman,tt1477834,Aquaman,36
34154,Arbitrage,tt1764183,Arbitrage,9,Arbitrage,tt1764183,Arbitrage,9
66513,Archaeology of a Woman,tt1702455,Archaeology of a Woman,38,Archaeology of a Woman,tt1702455,Archaeology of a Woman,38
43592,Area 51,tt1519461,Area 51,81,Area 51,tt1519461,Area 51,81
46976,Argo,tt1024648,Argo,27,Argo,tt1024648,Argo,27
42810,Aroused,tt2403815,Aroused,64,Aroused,tt2403815,Aroused,64
63146,Arrival,tt2543164,Arrival,34,Arrival,tt2543164,Arrival,34
3276,Arthur,tt1334512,Arthur,67,Arthur,tt1334512,Arthur,67
25423,Arthur Christmas,tt1430607,Arthur Christmas,14,Arthur Christmas,tt1430607,Arthur Christmas,14
64452,"As Above, So Below",tt2870612,"As Above, So Below",84,"As Above, So Below",tt2870612,"As Above, So Below",84
55213,As It Is in Heaven,tt2176228,As It Is in Heaven,100,As It Is in Heaven,tt2176228,As It Is in Heaven,100
45010,Ask Me Anything,tt2505294,Ask Me Anything,33,Ask Me Anything,tt2505294,Ask Me Anything,33
44031,Assassins,tt2385003,Assassins,63,Assassins,tt2385003,Assassins,63
67924,Atlas Shrugged: Who Is John Galt?,tt2800038,Atlas Shrugged: Who Is John Galt?,60,NaN,NaN,NaN,nan
24447,Atomic Blonde,tt2406566,Atomic Blonde,94,Atomic Blonde,tt2406566,Atomic Blonde,94
35398,Attack the Block,tt1478964,Attack the Block,7,Attack the Block,tt1478964,Attack the Block,7
2143,August,tt1753460,August,40,August,tt1753460,August,40
2144,August,tt1753773,August,40,August,tt1753460,August,40
2142,August,tt9073702,August,40,August,tt1753460,August,40
3266,August: Osage County,tt1322269,August: Osage County,15,August: Osage County,tt1322269,August: Osage County,15
31740,Avatar,tt1775309,Avatar,1,NaN,NaN,NaN,nan
10400,Avengers: Age of Ultron,tt2395427,Avengers: Age of Ultron,4,Avengers: Age of Ultron,tt2395427,Avengers: Age of Ultron,4
34799,Avengers: Infinity War,tt4154756,Avengers: Infinity War,7,Avengers: Infinity War,tt4154756,Avengers: Infinity War,7
1345,Aztec Warrior,tt2237914,Aztec Warrior,97,Aztec Warrior,tt2237914,Aztec Warrior,97
68276,Baahubali 2: The Conclusion,tt4849438,Baahubali 2: The Conclusion,55,Baahubali 2: The Conclusion,tt4849438,Baahubali 2: The Conclusion,55
24532,Baahubali: The Beginning,tt2631186,Baahubali: The Beginning,21,NaN,NaN,NaN,nan
19534,Baby Driver,tt3890160,Baby Driver,59,Baby Driver,tt3890160,Baby Driver,59
34289,Bachelorette,tt1920849,Bachelorette,35,Bachelorette,tt1920849,Bachelorette,35
11430,Bad Company,tt1334515,Bad Company,34,Bad Company,tt1334515,Bad Company,34
63489,Bad Moms,tt4651520,Bad Moms,99,Bad Moms,tt4651520,Bad Moms,99
27633,Bad Teacher,tt1284575,Bad Teacher,27,Bad Teacher,tt1284575,Bad Teacher,27
62751,Bad Times at the El Royale,tt6628394,Bad Times at the El Royale,10,Bad Times at the El Royale,tt6628394,Bad Times at the El Royale,10
64237,Bad Words,tt2170299,Bad Words,44,Bad Words,tt2170299,Bad Words,44
30447,Baggage Claim,tt1171222,Baggage Claim,38,Baggage Claim,tt1171222,Baggage Claim,38
8927,Bait,tt1438173,Bait,20,Bait,tt1438173,Bait,20
6418,Bajrangi Bhaijaan,tt3863552,Bajrangi Bhaijaan,86,Bajrangi Bhaijaan,tt3863552,Bajrangi Bhaijaan,86
41564,Bambi,tt2668120,Bambi,47,Bambi,tt2668120,Bambi,47
50644,Bang Bang Baby,tt2655734,Bang Bang Baby,21,Bang Bang Baby,tt2655734,Bang Bang Baby,21
12767,Banshee Chapter,tt2011276,Banshee Chapter,30,Banshee Chapter,tt2011276,Banshee Chapter,30
47867,Barbecue,tt6090268,Barbecue,32,Barbecue,tt6090268,Barbecue,32
32224,Barbershop: The Next Cut,tt3628584,Barbershop: The Next Cut,22,Barbershop: The Next Cut,tt3628584,Barbershop: The Next Cut,22
44061,Barfi,tt3099638,Barfi,18,Barfi,tt3099638,Barfi,18
35380,Barney's Version,tt1423894,Barney's Version,86,Barney's Version,tt1423894,Barney's Version,86
52392,Barry Munday,tt0482461,Barry Munday,61,Barry Munday,tt0482461,Barry Munday,61
46067,Bathory,tt2097826,Bathory,58,Bathory,tt2097826,Bathory,58
51651,Batman v Superman: Dawn of Justice,tt2975590,Batman v Superman: Dawn of Justice,18,Batman v Superman: Dawn of Justice,tt2975590,Batman v Superman: Dawn of Justice,18
8490,Battle of the Sexes,tt4622512,Battle of the Sexes,76,Battle of the Sexes,tt4622512,Battle of the Sexes,76
57302,Battle of the Year,tt1532958,Battle of the Year,51,Battle of the Year,tt1532958,Battle of the Year,51
3309,Battleship,tt1440129,Battleship,32,Battleship,tt1440129,Battleship,32
26461,Baywatch,tt1469304,Baywatch,86,Baywatch,tt1469304,Baywatch,86
20107,Beastly,tt1152398,Beastly,87,Beastly,tt1152398,Beastly,87
8039,Beasts of the Southern Wild,tt2125435,Beasts of the Southern Wild,18,Beasts of the Southern Wild,tt2125435,Beasts of the Southern Wild,18
42634,Beautiful,tt2133191,Beautiful,1,Beautiful,tt2133191,Beautiful,1
27624,Beautiful Boy,tt1226837,Beautiful Boy,95,Beautiful Boy,tt1226837,Beautiful Boy,95

In [413]:
set(imdb_title

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

In [422]:
table9_name = table9[['movie', 'id']]
table9_name

                                            movie  id
0                                          Avatar   1
1     Pirates of the Caribbean: On Stranger Tides   2
2                                    Dark Phoenix   3
3                         Avengers: Age of Ultron   4
4               Star Wars Ep. VIII: The Last Jedi   5
...                                           ...  ..
5777                                       Red 11  78
5778                                    Following  79
5779                Return to the Land of Wonders  80
5780                         A Plague So Pleasant  81
5781                            My Date With Drew  82

[5782 rows x 2 columns]

In [435]:
table9.sort_values('total_profit', ascending=False).head(100)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year,total_profit,ROI
0,1,2009-12-18,Avatar,"425,000,000","760,507,625","2,776,345,279",2009,"2,351,345,279",6
42,43,1997-12-19,Titanic,"200,000,000","659,363,944","2,208,208,395",1997,"2,008,208,395",10
6,7,2018-04-27,Avengers: Infinity War,"300,000,000","678,815,482","2,048,134,200",2018,"1,748,134,200",6
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,053,311,220",2015,"1,747,311,220",6
33,34,2015-06-12,Jurassic World,"215,000,000","652,270,625","1,648,854,864",2015,"1,433,854,864",7
66,67,2015-04-03,Furious 7,"190,000,000","353,007,020","1,518,722,794",2015,"1,328,722,794",7
26,27,2012-05-04,The Avengers,"225,000,000","623,279,547","1,517,935,897",2012,"1,292,935,897",6
260,61,2011-07-15,Harry Potter and the Deathly Hallows: Part II,"125,000,000","381,193,157","1,341,693,157",2011,"1,216,693,157",10
41,42,2018-02-16,Black Panther,"200,000,000","700,059,566","1,348,258,224",2018,"1,148,258,224",6
112,13,2018-06-22,Jurassic World: Fallen Kingdom,"170,000,000","417,719,760","1,305,772,799",2018,"1,135,772,799",7
155,56,2013-11-22,Frozen,"150,000,000","400,738,009","1,272,469,910",2013,"1,122,469,910",7
134,35,2017-03-17,Beauty and the Beast,"160,000,000","504,014,165","1,259,199,706",2017,"1,099,199,706",7
672,73,2015-07-10,Minions,"74,000,000","336,045,770","1,160,336,173",2015,"1,086,336,173",15
3,4,2015-05-01,Avengers: Age of Ultron,"330,600,000","459,005,868","1,403,013,963",2015,"1,072,413,963",3
425,26,2003-12-17,The Lord of the Rings: The Return of the King,"94,000,000","377,845,905","1,141,403,341",2003,"1,047,403,341",11
43,44,2018-06-15,Incredibles 2,"200,000,000","608,581,744","1,242,520,711",2018,"1,042,520,711",5
47,48,2013-05-03,Iron Man 3,"200,000,000","408,992,272","1,215,392,272",2013,"1,015,392,272",5
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,"317,000,000","620,181,382","1,316,721,747",2017,"999,721,747",3
135,36,2018-12-21,Aquaman,"160,000,000","335,061,807","1,146,894,640",2018,"986,894,640",6
22,23,2017-04-14,The Fate of the Furious,"250,000,000","225,764,765","1,234,846,267",2017,"984,846,267",4
824,25,1993-06-11,Jurassic Park,"63,000,000","395,708,305","1,038,812,584",1993,"975,812,584",15
629,30,2017-06-30,Despicable Me 3,"75,000,000","264,624,300","1,034,727,750",2017,"959,727,750",13
95,96,2019-03-08,Captain Marvel,"175,000,000","426,525,952","1,123,061,550",2019,"948,061,550",5
63,64,2011-06-29,Transformers: Dark of the Moon,"195,000,000","352,390,543","1,123,790,543",2011,"928,790,543",5
303,4,1999-05-19,Star Wars Ep. I: The Phantom Menace,"115,000,000","474,544,677","1,027,044,677",1999,"912,044,677",8
51,52,2012-11-08,Skyfall,"200,000,000","304,360,277","1,110,526,981",2012,"910,526,981",5
608,9,1994-06-15,The Lion King,"79,300,000","421,785,283","986,214,868",1994,"906,914,868",11
621,22,2013-07-03,Despicable Me 2,"76,000,000","368,065,385","975,216,835",2013,"899,216,835",12
36,37,2014-06-27,Transformers: Age of Extinction,"210,000,000","245,439,076","1,104,039,076",2014,"894,039,076",4
16,17,2016-05-06,Captain America: Civil War,"250,000,000","408,084,349","1,140,069,413",2016,"890,069,413",4
437,38,2017-12-20,Jumanji: Welcome to the Jungle,"90,000,000","404,508,916","964,496,193",2017,"874,496,193",10
156,57,2016-03-04,Zootopia,"150,000,000","341,268,248","1,019,429,616",2016,"869,429,616",6
46,47,2010-06-18,Toy Story 3,"200,000,000","415,004,880","1,068,879,522",2010,"868,879,522",4
692,93,2004-05-19,Shrek 2,"70,000,000","441,226,247","937,008,132",2004,"867,008,132",12
262,63,2001-11-16,Harry Potter and the Sorcererâs Stone,"125,000,000","317,871,467","975,047,606",2001,"850,047,606",7
44,45,2016-12-16,Rogue One: A Star Wars Story,"200,000,000","532,177,324","1,049,102,856",2016,"849,102,856",4
424,25,2003-05-30,Finding Nemo,"94,000,000","380,529,370","936,429,370",2003,"842,429,370",9
27,28,2006-07-07,Pirates of the Caribbean: Dead Manâs Chest,"225,000,000","423,315,812","1,066,215,812",2006,"841,215,812",4
426,27,2002-12-18,The Lord of the Rings: The Two Towers,"94,000,000","342,548,984","934,699,645",2002,"840,699,645",9
983,84,2018-11-02,Bohemian Rhapsody,"55,000,000","216,303,339","894,985,342",2018,"839,985,342",15
263,64,2010-11-19,Harry Potter and the Deathly Hallows: Part I,"125,000,000","296,131,568","960,431,568",2010,"835,431,568",7
50,51,2010-03-05,Alice in Wonderland,"200,000,000","334,191,110","1,025,491,110",2010,"825,491,110",4
45,46,2016-06-17,Finding Dory,"200,000,000","486,295,561","1,021,215,193",2016,"821,215,193",4
74,75,2008-07-18,The Dark Knight,"185,000,000","533,720,947","1,001,996,207",2008,"816,996,207",4
625,26,2016-07-08,The Secret Life of Pets,"75,000,000","368,384,330","886,750,534",2016,"811,750,534",11
10,11,2012-07-20,The Dark Knight Rises,"275,000,000","448,139,099","1,084,439,099",2012,"809,439,099",3
157,58,2007-07-11,Harry Potter and the Order of the Phoenix,"150,000,000","292,137,260","943,076,457",2007,"793,076,457",5
96,97,2016-04-15,The Jungle Book,"175,000,000","364,001,123","962,854,547",2016,"787,854,547",5
413,14,2012-07-13,Ice Age: Continental Drift,"95,000,000","161,321,843","879,765,137",2012,"784,765,137",8
3525,26,1982-06-11,ET: The Extra-Terrestrial,"10,500,000","435,110,554","792,965,326",1982,"782,465,326",75
363,64,2002-11-15,Harry Potter and the Chamber of Secrets,"100,000,000","262,233,381","879,225,135",2002,"779,225,135",8
342,43,2001-12-19,The Lord of the Rings: The Fellowship of the Ring,"109,000,000","315,544,750","887,210,985",2001,"778,210,985",7
3464,65,1977-05-25,Star Wars Ep. IV: A New Hope,"11,000,000","460,998,007","786,598,007",1977,"775,598,007",71
442,43,2009-07-01,Ice Age: Dawn of the Dinosaurs,"90,000,000","196,573,705","859,701,857",2009,"769,701,857",9
18,19,2012-12-14,The Hobbit: An Unexpected Journey,"250,000,000","303,003,568","1,017,003,568",2012,"767,003,568",3
158,59,2005-11-18,Harry Potter and the Goblet of Fire,"150,000,000","290,201,752","897,099,794",2005,"747,099,794",5
955,56,2016-02-12,Deadpool,"58,000,000","363,070,709","801,025,593",2016,"743,025,593",13
626,27,1996-07-02,Independence Day,"75,000,000","306,169,255","817,400,878",1996,"742,400,878",10
302,3,2018-10-05,Venom,"116,000,000","213,511,408","853,628,605",2018,"737,628,605",6
237,38,2013-11-22,The Hunger Games: Catching Fire,"130,000,000","424,668,047","864,868,047",2013,"734,868,047",6
304,5,2005-05-19,Star Wars Ep. III: Revenge of the Sith,"115,000,000","380,270,577","848,998,877",2005,"733,998,877",6
20,21,2013-12-13,The Hobbit: The Desolation of Smaug,"250,000,000","258,366,855","960,366,855",2013,"710,366,855",3
98,99,2017-07-07,Spider-Man: Homecoming,"175,000,000","334,201,140","880,166,350",2017,"705,166,350",4
21,22,2014-12-17,The Hobbit: The Battle of the Five Armies,"250,000,000","255,119,788","945,577,621",2014,"695,577,621",3
224,25,2012-11-16,"The Twilight Saga: Breaking Dawn, Part 2","136,200,000","292,324,737","829,724,737",2012,"693,524,737",5
19,20,2009-07-15,Harry Potter and the Half-Blood Prince,"250,000,000","302,089,278","935,213,767",2009,"685,213,767",3
218,19,2002-05-03,Spider-Man,"139,000,000","403,706,375","821,706,375",2002,"682,706,375",5
97,98,2015-06-19,Inside Out,"175,000,000","356,461,711","854,235,992",2015,"679,235,992",4
314,15,2018-05-18,Deadpool 2,"110,000,000","324,591,735","786,680,557",2018,"676,680,557",6
137,38,2010-07-16,Inception,"160,000,000","292,576,195","835,524,642",2010,"675,524,642",4
154,55,2017-06-02,Wonder Woman,"150,000,000","412,563,408","821,133,378",2017,"671,133,378",4
81,82,2017-11-03,Thor: Ragnarok,"180,000,000","315,058,289","846,980,024",2017,"666,980,024",4
238,39,2004-06-04,Harry Potter and the Prisoner of Azkaban,"130,000,000","249,757,726","796,907,323",2004,"666,907,323",5
7,8,2007-05-24,Pirates of the Caribbean: At Worldâs End,"300,000,000","309,420,425","963,420,425",2007,"663,420,425",2
1623,24,2017-09-08,It,"35,000,000","327,481,748","697,457,969",2017,"662,457,969",19
48,49,2017-05-05,Guardians of the Galaxy Vol 2,"200,000,000","389,813,101","862,316,233",2017,"662,316,233",3
136,37,2007-05-17,Shrek the Third,"160,000,000","322,719,944","807,330,936",2007,"647,330,936",4
264,65,2006-05-19,The Da Vinci Code,"125,000,000","217,536,138","767,820,459",2006,"642,820,459",5
261,62,2014-11-21,The Hunger Games: Mockingjay - Part 1,"125,000,000","337,135,885","766,575,131",2014,"641,575,131",5
752,53,2010-06-30,The Twilight Saga: Eclipse,"68,000,000","300,531,751","706,102,828",2010,"638,102,828",9
1081,82,2009-11-20,The Twilight Saga: New Moon,"50,000,000","296,623,634","687,557,727",2009,"637,557,727",13
15,16,2007-05-04,Spider-Man 3,"258,000,000","336,530,303","894,860,230",2007,"636,860,230",2
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"410,600,000","241,063,875","1,045,663,875",2011,"635,063,875",2
1374,75,1999-08-06,The Sixth Sense,"40,000,000","293,506,292","672,806,292",1999,"632,806,292",16
139,40,2013-05-24,Fast and Furious 6,"160,000,000","238,679,850","789,300,444",2013,"629,300,444",4
35,36,2009-06-24,Transformers: Revenge of the Fallen,"210,000,000","402,111,870","836,519,699",2009,"626,519,699",3
981,82,1994-07-06,Forrest Gump,"55,000,000","330,151,138","679,850,637",1994,"624,850,637",11
101,2,2017-11-22,Coco,"175,000,000","209,726,015","798,008,101",2017,"623,008,101",4
84,85,2016-11-18,Fantastic Beasts and Where to Find Them,"180,000,000","234,037,575","802,402,853",2016,"622,402,853",3
17,18,2016-03-25,Batman v Superman: Dawn of Justice,"250,000,000","330,360,194","867,500,281",2016,"617,500,281",2
91,92,2018-07-27,Mission: ImpossibleâFallout,"178,000,000","220,159,104","787,456,552",2018,"609,456,552",3
196,97,2012-06-08,Madagascar 3: Europe's Most Wanted,"145,000,000","216,391,482","746,921,271",2012,"601,921,271",4
75,76,2008-05-22,Indiana Jones and the Kingdom of the Crystal S...,"185,000,000","317,101,119","786,635,413",2008,"601,635,413",3
113,14,2014-08-01,Guardians of the Galaxy,"170,000,000","333,172,112","770,867,516",2014,"600,867,516",4
537,38,2012-03-23,The Hunger Games,"80,000,000","408,010,692","677,923,379",2012,"597,923,379",7
2159,60,2004-02-25,The Passion of the Christ,"25,000,000","370,782,930","622,341,924",2004,"597,341,924",24
49,50,2004-06-30,Spider-Man 2,"200,000,000","373,524,485","795,110,670",2004,"595,110,670",3
126,27,2010-05-21,Shrek Forever After,"165,000,000","238,736,787","756,244,673",2010,"591,244,673",4
159,60,2003-05-15,The Matrix Reloaded,"150,000,000","281,553,689","738,576,929",2003,"588,576,929",4
2485,86,1991-11-13,Beauty and the Beast,"20,000,000","376,057,266","608,431,132",1991,"588,431,132",29

In [389]:
table9_titles = table9[['id' , 'movie' , 'release_year', 'total_profit', 'ROI', 'release_date']]
table9_titles

,id,movie,release_year,total_profit,ROI,release_date
0,1,Avatar,2009,"2,351,345,279",6,2009-12-18
1,2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875",2,2011-05-20
2,3,Dark Phoenix,2019,"-200,237,650",-1,2019-06-07
3,4,Avengers: Age of Ultron,2015,"1,072,413,963",3,2015-05-01
4,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747",3,2017-12-15
...,...,...,...,...,...,...
5777,78,Red 11,2018,"-7,000",-1,2018-12-31
5778,79,Following,1999,"234,495",39,1999-04-02
5779,80,Return to the Land of Wonders,2005,"-3,662",-1,2005-07-13
5780,81,A Plague So Pleasant,2015,"-1,400",-1,2015-09-29
5781,82,My Date With Drew,2005,"179,941",164,2005-08-05

In [127]:
#doing an inner join gives me 2,369 records

#merged_df = pd.merge(movie_title_df, table9_titles, left_on= 'primary_title', right_on= 'movie', how='inner')
#merged_df

#table9_titles
#movie_title_df

#df4 =pd.merge(df2, df3, left_on= 'tconst', right_on= 'tconst')
#df4

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
0,tt0999913,Straw Dogs,Straw Dogs,2011,88,Straw Dogs,2011,"-13,746,179"
1,tt1125929,Love Ranch,Love Ranch,2010,19,Love Ranch,2010,"-24,853,851"
2,tt1126618,Morning Glory,Morning Glory,2010,73,Morning Glory,2010,"19,795,070"
3,tt1152830,The Joneses,The Joneses,2011,88,The Joneses,2010,"-6,458,435"
4,tt1336608,Rock of Ages,Rock of Ages,2012,29,Rock of Ages,2012,"-8,968,068"
...,...,...,...,...,...,...,...,...
2364,tt4462082,Counting,Counting,2015,20,Counting,2015,"-41,626"
2365,tt5301662,Marshall,Marshall,2017,7,Marshall,2017,"-1,883,184"
2366,tt5314190,Sgt. Stubby: An American Hero,Sgt. Stubby: An American Hero,2018,6,Sgt. Stubby: An American Hero,2018,"-21,354,043"
2367,tt7368554,The Interpreter,The Interpreter,2018,63,The Interpreter,2005,"72,753,837"
2368,tt7634968,What Men Want,What Men Want,2019,21,What Men Want,2019,"49,911,903"

In [373]:
merged_df.sort_values('total_profit', ascending=False).head(10)

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
1247,tt1775309,Avatar,Abatâ,2011,1,Avatar,2009,"2,351,345,279"
2166,tt2495766,Titanic,Titanic,2012,43,Titanic,1997,"2,008,208,395"
1358,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,7,Avengers: Infinity War,2018,"1,748,134,200"
1851,tt0369610,Jurassic World,Jurassic World,2015,34,Jurassic World,2015,"1,433,854,864"
1572,tt2820852,Furious 7,Furious Seven,2015,67,Furious 7,2015,"1,328,722,794"
2313,tt0848228,The Avengers,The Avengers,2012,27,The Avengers,2012,"1,292,935,897"
1172,tt1825683,Black Panther,Black Panther,2018,42,Black Panther,2018,"1,148,258,224"
1083,tt4881806,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,2018,13,Jurassic World: Fallen Kingdom,2018,"1,135,772,799"
720,tt1611845,Frozen,Wai nei chung ching,2010,56,Frozen,2013,"1,122,469,910"
719,tt1323045,Frozen,Frozen,2010,56,Frozen,2013,"1,122,469,910"

In [115]:
#an outer join gives me 74,630 rows
merged_df_outer = pd.merge(movie_title_df, table9_titles, left_on= 'primary_title', right_on= 'movie', how='outer')
merged_df_outer

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
0,tt0285252,Life's a Beach,Life's a Beach,"2,012",nan,NaN,nan,nan
1,tt0462036,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,"2,012",nan,NaN,nan,nan
2,tt0835418,The Babymakers,The Babymakers,"2,012",nan,NaN,nan,nan
3,tt0878654,Bulletface,Bulletface,"2,010",nan,NaN,nan,nan
4,tt0879859,Torn,Torn,"2,010",nan,NaN,nan,nan
...,...,...,...,...,...,...,...,...
74625,NaN,NaN,NaN,nan,76,Cavite,"2,006","64,644"
74626,NaN,NaN,NaN,nan,77,The Mongol King,"2,004","-6,100"
74627,NaN,NaN,NaN,nan,79,Following,"1,999","234,495"
74628,NaN,NaN,NaN,nan,80,Return to the Land of Wonders,"2,005","-3,662"
74629,NaN,NaN,NaN,nan,82,My Date With Drew,"2,005","179,941"

In [144]:
merged_df_outer.sort_values('total_profit', ascending=False).head(1000)

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
31622,tt1775309,Avatar,Abatâ,"2,011",1,Avatar,"2,009","2,351,345,279"
62982,tt2495766,Titanic,Titanic,"2,012",43,Titanic,"1,997","2,008,208,395"
34677,tt4154756,Avengers: Infinity War,Avengers: Infinity War,"2,018",7,Avengers: Infinity War,"2,018","1,748,134,200"
71022,NaN,NaN,NaN,nan,6,Star Wars Ep. VII: The Force Awakens,"2,015","1,747,311,220"
51082,tt0369610,Jurassic World,Jurassic World,"2,015",34,Jurassic World,"2,015","1,433,854,864"
41477,tt2820852,Furious 7,Furious Seven,"2,015",67,Furious 7,"2,015","1,328,722,794"
68577,tt0848228,The Avengers,The Avengers,"2,012",27,The Avengers,"2,012","1,292,935,897"
71118,NaN,NaN,NaN,nan,61,Harry Potter and the Deathly Hallows: Part II,"2,011","1,216,693,157"
29014,tt1825683,Black Panther,Black Panther,"2,018",42,Black Panther,"2,018","1,148,258,224"
27116,tt4881806,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,"2,018",13,Jurassic World: Fallen Kingdom,"2,018","1,135,772,799"
17439,tt1323045,Frozen,Frozen,"2,010",56,Frozen,"2,013","1,122,469,910"
17440,tt1611845,Frozen,Wai nei chung ching,"2,010",56,Frozen,"2,013","1,122,469,910"
19148,tt2771200,Beauty and the Beast,Beauty and the Beast,"2,017",35,Beauty and the Beast,"2,017","1,099,199,706"
19146,tt2316801,Beauty and the Beast,La belle et la bête,"2,014",35,Beauty and the Beast,"2,017","1,099,199,706"
40283,tt2293640,Minions,Minions,"2,015",73,Minions,"2,015","1,086,336,173"
10350,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",4,Avengers: Age of Ultron,"2,015","1,072,413,963"
71210,NaN,NaN,NaN,nan,26,The Lord of the Rings: The Return of the King,"2,003","1,047,403,341"
69215,tt3606756,Incredibles 2,Incredibles 2,"2,018",44,Incredibles 2,"2,018","1,042,520,711"
63856,tt1300854,Iron Man 3,Iron Man Three,"2,013",48,Iron Man 3,"2,013","1,015,392,272"
71021,NaN,NaN,NaN,nan,5,Star Wars Ep. VIII: The Last Jedi,"2,017","999,721,747"
42329,tt1477834,Aquaman,Aquaman,"2,018",36,Aquaman,"2,018","986,894,640"
20589,tt4630562,The Fate of the Furious,The Fate of the Furious,"2,017",23,The Fate of the Furious,"2,017","984,846,267"
71472,NaN,NaN,NaN,nan,25,Jurassic Park,"1,993","975,812,584"
36973,tt3469046,Despicable Me 3,Despicable Me 3,"2,017",30,Despicable Me 3,"2,017","959,727,750"
23737,tt4154664,Captain Marvel,Captain Marvel,"2,019",96,Captain Marvel,"2,019","948,061,550"
1132,tt1399103,Transformers: Dark of the Moon,Transformers: Dark of the Moon,"2,011",64,Transformers: Dark of the Moon,"2,011","928,790,543"
71137,NaN,NaN,NaN,nan,4,Star Wars Ep. I: The Phantom Menace,"1,999","912,044,677"
1095,tt1074638,Skyfall,Skyfall,"2,012",52,Skyfall,"2,012","910,526,981"
71333,NaN,NaN,NaN,nan,9,The Lion King,"1,994","906,914,868"
66345,tt1690953,Despicable Me 2,Despicable Me 2,"2,013",22,Despicable Me 2,"2,013","899,216,835"
7084,tt2109248,Transformers: Age of Extinction,Transformers: Age of Extinction,"2,014",37,Transformers: Age of Extinction,"2,014","894,039,076"
5217,tt3498820,Captain America: Civil War,Captain America: Civil War,"2,016",17,Captain America: Civil War,"2,016","890,069,413"
19120,tt2283362,Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,"2,017",38,Jumanji: Welcome to the Jungle,"2,017","874,496,193"
36896,tt2948356,Zootopia,Zootopia,"2,016",57,Zootopia,"2,016","869,429,616"
53389,tt0435761,Toy Story 3,Toy Story 3,"2,010",47,Toy Story 3,"2,010","868,879,522"
71391,NaN,NaN,NaN,nan,93,Shrek 2,"2,004","867,008,132"
71119,NaN,NaN,NaN,nan,63,Harry Potter and the Sorcererâs Stone,"2,001","850,047,606"
16742,tt3748528,Rogue One: A Star Wars Story,Rogue One,"2,016",45,Rogue One: A Star Wars Story,"2,016","849,102,856"
71209,NaN,NaN,NaN,nan,25,Finding Nemo,"2,003","842,429,370"
71028,NaN,NaN,NaN,nan,28,Pirates of the Caribbean: Dead Manâs Chest,"2,006","841,215,812"
71211,NaN,NaN,NaN,nan,27,The Lord of the Rings: The Two Towers,"2,002","840,699,645"
16044,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,"2,018",84,Bohemian Rhapsody,"2,018","839,985,342"
71120,NaN,NaN,NaN,nan,64,Harry Potter and the Deathly Hallows: Part I,"2,010","835,431,568"
36656,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",51,Alice in Wonderland,"2,010","825,491,110"
419,tt2277860,Finding Dory,Finding Dory,"2,016",46,Finding Dory,"2,016","821,215,193"
71043,NaN,NaN,NaN,nan,75,The Dark Knight,"2,008","816,996,207"
25731,tt2709768,The Secret Life of Pets,The Secret Life of Pets,"2,016",26,The Secret Life of Pets,"2,016","811,750,534"
5784,tt1345836,The Dark Knight Rises,The Dark Knight Rises,"2,012",11,The Dark Knight Rises,"2,012","809,439,099"
71069,NaN,NaN,NaN,nan,58,Harry Potter and the Order of the Phoenix,"2,007","793,076,457"
24591,tt3040964,The Jungle Book,The Jungle Book,"2,016",97,The Jungle Book,"2,016","787,854,547"
48039,tt1667889,Ice Age: Continental Drift,Ice Age: Continental Drift,"2,012",14,Ice Age: Continental Drift,"2,012","784,765,137"
73235,NaN,NaN,NaN,nan,26,ET: The Extra-Terrestrial,"1,982","782,465,326"
71175,NaN,NaN,NaN,nan,64,Harry Potter and the Chamber of Secrets,"2,002","779,225,135"
71161,NaN,NaN,NaN,nan,43,The Lord of the Rings: The Fellowship of the Ring,"2,001","778,210,985"
73193,NaN,NaN,NaN,nan,65,Star Wars Ep. IV: A New Hope,"1,977","775,598,007"
71222,NaN,NaN,NaN,nan,43,Ice Age: Dawn of the Dinosaurs,"2,009","769,701,857"
2166,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,"2,012",19,The Hobbit: An Unexpected Journey,"2,012","767,003,568"
71070,NaN,NaN,NaN,nan,59,Harry Potter and the Goblet of Fire,"2,005","747,099,794"
66254,tt1431045,Deadpool,Deadpool,"2,016",56,Deadpool,"2,016","743,025,593"
71344,NaN,NaN,NaN,nan,27,Independence Day,"1,996","742,400,878"
31467,tt1270797,Venom,Venom,"2,018",3,Venom,"2,018","737,628,605"
43612,tt1951264,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,"2,013",38,The Hunger Games: Catching Fire,"2,013","734,868,047"
71138,NaN,NaN,NaN,nan,5,Star Wars Ep. III: Revenge of the Sith,"2,005","733,998,877"
8863,tt1170358,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,"2,013",21,The Hobbit: The Desolation of Smaug,"2,013","710,366,855"
36713,tt2250912,Spider-Man: Homecoming,Spider-Man: Homecoming,"2,017",99,Spider-Man: Homecoming,"2,017","705,166,350"
1403,tt2310332,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,"2,014",22,The Hobbit: The Battle of the Five Armies,"2,014","695,577,621"
71108,NaN,NaN,NaN,nan,25,"The Twilight Saga: Breaking Dawn, Part 2","2,012","693,524,737"
71025,NaN,NaN,NaN,nan,20,Harry Potter and the Half-Blood Prince,"2,009","685,213,767"
71102,NaN,NaN,NaN,nan,19,Spider-Man,"2,002","682,706,375"
33922,tt1640486,Inside Out,Inside Out,"2,011",98,Inside Out,"2,015","679,235,992"
1893,tt5463162,Deadpool 2,Deadpool 2,"2,018",15,Deadpool 2,"2,018","676,680,557"
57131,tt1375666,Inception,Inception,"2,010",38,Inception,"2,010","675,524,642"
11980,tt4028068,Wonder Woman,Wonder Woman,"2,014",55,Wonder Woman,"2,017","671,133,378"
39174,tt3501632,Thor: Ragnarok,Thor: Ragnarok,"2,017",82,Thor: Ragnarok,"2,017","666,980,024"
71112,NaN,NaN,NaN,nan,39,Harry Potter and the Prisoner of Azkaban,"2,004","666,907,323"
71023,NaN,NaN,NaN,nan,8,Pirates of the Caribbean: At Worldâs End,"2,007","663,420,425"
53425,tt1396484,It,It,"2,017",24,It,"2,017","662,457,969"
71036,NaN,NaN,NaN,nan,49,Guardians of the Galaxy Vol 2,"2,017","662,316,233"
71061,NaN,NaN,NaN,nan,37,Shrek the Third,"2,007","647,330,936"
71121,NaN,NaN,NaN,nan,65,The Da Vinci Code,"2,006","642,820,459"
25501,tt1951265,The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,"2,014",62,The Hunger Games: Mockingjay - Part 1,"2,014","641,575,131"
58344,tt1325004,The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,"2,010",53,The Twilight Saga: Eclipse,"2,010","638,102,828"
71649,NaN,NaN,NaN,nan,82,The Twilight Saga: New Moon,"2,009","637,557,727"
71024,NaN,NaN,NaN,nan,16,Spider-Man 3,"2,007","636,860,230"
31472,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",2,Pirates of the Caribbean: On Stranger Tides,"2,011","635,063,875"
71839,NaN,NaN,NaN,nan,75,The Sixth Sense,"1,999","632,806,292"
71062,NaN,NaN,NaN,nan,40,Fast and Furious 6,"2,013","629,300,444"
71030,NaN,NaN,NaN,nan,36,Transformers: Revenge of the Fallen,"2,009","626,519,699"
71575,NaN,NaN,NaN,nan,82,Forrest Gump,"1,994","624,850,637"
33685,tt7002100,Coco,Coco,"2,017",2,Coco,"2,017","623,008,101"
61079,tt3183660,Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,"2,016",85,Fantastic Beasts and Where to Find Them,"2,016","622,402,853"
51507,tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,"2,016",18,Batman v Superman: Dawn of Justice,"2,016","617,500,281"
71048,NaN,NaN,NaN,nan,92,Mission: ImpossibleâFallout,"2,018","609,456,552"
57108,tt1277953,Madagascar 3: Europe's Most Wanted,Madagascar 3: Europe's Most Wanted,"2,012",97,Madagascar 3: Europe's Most Wanted,"2,012","601,921,271"
71044,NaN,NaN,NaN,nan,76,Indiana Jones and the Kingdom of the Crystal S...,"2,008","601,635,413"
37726,tt2015381,Guardians of the Galaxy,Guardians of the Galaxy,"2,014",14,Guardians of the Galaxy,"2,014","600,867,516"
57139,tt1392170,The Hunger Games,The Hunger Games,"2,012",38,The Hunger Games,"2,012","597,923,379"
72332,NaN,NaN,NaN,nan,60,The Passion of the Christ,"2,004","597,341,924"
71037,NaN,NaN,NaN,nan,50,Spider-Man 2,"2,004","595,110,670"
26311,tt0892791,Shrek Forever After,Shrek Forever After,"2,010",27,Shrek Forever After,"2,010","591,244,673"
71071,NaN,NaN,NaN,nan,60,The Matrix Reloaded,"2,003","588,576,929"
19149,tt2771200,Beauty and the Beast,Beauty and the Beast,"2,017",86,Beauty and the Beast,"1,991","588,431,132"
19147,tt2316801,Beauty and the Beast,La belle et la bête,"2,014",86,Beauty and the Beast,"1,991","588,431,132"
42322,tt1454468,Gravity,Gravity,"2,013",16,Gravity,"2,013","583,698,673"
53718,tt2379713,Spectre,Spectre,"2,015",10,Spectre,"2,015","579,620,923"
6876,tt1587310,Maleficent,Maleficent,"2,014",84,Maleficent,"2,014","578,536,735"
71347,NaN,NaN,NaN,nan,32,Ice Age: The Meltdown,"2,006","576,899,282"
3282,tt1386697,Suicide Squad,Suicide Squad,"2,016",100,Suicide Squad,"2,016","571,059,887"
71639,NaN,NaN,NaN,nan,68,Mamma Mia!,"2,008","563,748,772"
71117,NaN,NaN,NaN,nan,57,"The Twilight Saga: Breaking Dawn, Part 1","2,011","561,920,051"
46196,tt3470600,Sing,Sing,"2,016",29,Sing,"2,016","559,454,789"
42468,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,"2,017",25,Pirates of the Caribbean: Dead Men Tell No Tales,"2,017","558,241,137"
71039,NaN,NaN,NaN,nan,59,2012,"2,009","557,677,748"
71068,NaN,NaN,NaN,nan,54,Transformers,"2,007","557,272,592"
71049,NaN,NaN,NaN,nan,1,Up,"2,009","556,463,377"
71093,NaN,NaN,NaN,nan,98,Mission: ImpossibleâGhost Protocol,"2,011","549,713,230"
21447,tt1877832,X-Men: Days of Future Past,X-Men: Days of Future Past,"2,014",55,X-Men: Days of Future Past,"2,014","547,862,775"
4105,tt3659388,The Martian,The Martian,"2,015",46,The Martian,"2,015","547,271,443"
30511,tt1843866,Captain America: The Winter Soldier,Captain America: The Winter Soldier,"2,014",16,Captain America: The Winter Soldier,"2,014","544,401,889"
71346,NaN,NaN,NaN,nan,31,The Lost World: Jurassic Park,"1,997","543,638,999"
63865,tt1453405,Monsters University,Monsters University,"2,013",53,Monsters University,"2,013","543,588,329"
71139,NaN,NaN,NaN,nan,6,Star Wars Ep. II: Attack of the Clones,"2,002","541,695,615"
47023,tt2103281,Dawn of the Planet of the Apes,Dawn of the Planet of the Apes,"2,014",17,Dawn of the Planet of the Apes,"2,014","540,644,566"
71045,NaN,NaN,NaN,nan,83,"The Chronicles of Narnia: The Lion, the Witch ...","2,005","540,539,572"
72093,NaN,NaN,NaN,nan,84,Star Wars Ep. VI: Return of the Jedi,"1,983","540,205,079"
71077,NaN,NaN,NaN,nan,68,Mission: ImpossibleâRogue Nation,"2,015","538,858,992"
2168,tt0948470,The Amazing Spider-Man,The Amazing Spider-Man,"2,012",31,The Amazing Spider-Man,"2,012","537,890,267"
42618,tt2322441,Fifty Shades of Grey,Fifty Shades of Grey,"2,015",78,Fifty Shades of Grey,"2,015","530,998,101"
71215,NaN,NaN,NaN,nan,33,The Incredibles,"2,004","522,726,752"
66230,tt1302011,Kung Fu Panda 2,Kung Fu Panda 2,"2,011",74,Kung Fu Panda 2,"2,011","514,837,547"
9921,tt1211837,Doctor Strange,Doctor Strange,"2,016",28,Doctor Strange,"2,016","511,404,566"
72471,NaN,NaN,NaN,nan,68,Star Wars Ep. V: The Empire Strikes Back,"1,980","511,161,334"
3556,tt1872181,The Amazing Spider-Man 2,The Amazing Spider-Man 2,"2,014",56,The Amazing Spider-Man 2,"2,014","508,996,336"
1134,tt1411697,The Hangover Part II,The Hangover Part II,"2,011",39,The Hangover Part II,"2,011","506,464,305"
33920,tt1637725,Ted,Ted,"2,012",84,Ted,"2,012","506,016,627"
6889,tt1596343,Fast Five,Fast Five,"2,011",67,Fast Five,"2,011","505,163,454"
71114,NaN,NaN,NaN,nan,42,Kung Fu Panda,"2,008","501,910,531"
63825,tt0816692,Interstellar,Interstellar,"2,014",32,Interstellar,"2,014","501,379,375"
42235,tt0454876,Life of Pi,Life of Pi,"2,012",88,Life of Pi,"2,012","500,912,003"
71219,NaN,NaN,NaN,nan,39,Men in Black,"1,997","497,790,539"
119,tt2175671,Ghost,Ghost,"2,012",5,Ghost,"1,990","495,600,000"
118,tt1655400,Ghost,Gôsuto,"2,010",5,Ghost,"1,990","495,600,000"
71095,NaN,NaN,NaN,nan,6,Pirates of the Caribbean: The Curse of the Bla...,"2,003","494,954,103"
44739,tt1981115,Thor: The Dark World,Thor: The Dark World,"2,013",66,Thor: The Dark World,"2,013","494,602,516"
71483,NaN,NaN,NaN,nan,42,Mei Ren Yu,"2,016","493,796,671"
32324,tt5095030,Ant-Man and the Wasp,Ant-Man and the Wasp,"2,018",41,Ant-Man and the Wasp,"2,018","493,144,660"
71172,NaN,NaN,NaN,nan,60,Casino Royale,"2,006","492,420,283"
29262,tt2179136,American Sniper,American Sniper,"2,014",57,American Sniper,"2,014","489,326,372"
3619,tt1951266,The Hunger Games: Mockingjay - Part 2,The Hunger Games: Mockingjay - Part 2,"2,015",39,The Hunger Games: Mockingjay - Part 2,"2,015","488,986,787"
4654,tt1483010,Logan,Logan,"2,010",59,Logan,"2,017","488,461,394"
28305,tt3521164,Moana,Moana,"2,016",62,Moana,"2,016","487,517,365"
36702,tt2245084,Big Hero 6,Big Hero 6,"2,014",29,Big Hero 6,"2,014","487,127,828"
71348,NaN,NaN,NaN,nan,33,Madagascar,"2,005","481,559,566"
71075,NaN,NaN,NaN,nan,65,Ratatouille,"2,007","476,549,695"
63604,tt6139732,Aladdin,Aladdin,"2,019",33,Aladdin,"1,992","476,050,219"
11840,tt3327426,War of the Worlds,War of the Worlds,"2,013",36,War of the Worlds,"2,005","474,836,535"
11376,tt1323594,Despicable Me,Despicable Me,"2,010",50,Despicable Me,"2,010","474,464,573"
71073,NaN,NaN,NaN,nan,63,Hancock,"2,008","474,234,272"
73231,NaN,NaN,NaN,nan,18,Les Intouchables,"2,012","474,073,045"
67519,tt1646971,How to Train Your Dragon 2,How to Train Your Dragon 2,"2,014",99,How to Train Your Dragon 2,"2,014","469,586,270"
71145,NaN,NaN,NaN,nan,17,Night at the Museum,"2,006","469,446,407"
36028,tt5220122,Hotel Transylvania 3: Summer Vacation,Hotel Transylvania 3: Summer Vacation,"2,018",77,Hotel Transylvania 3: Summer Vacation,"2,018","462,079,962"
72878,NaN,NaN,NaN,nan,92,Home Alone,"1,990","461,684,675"
73117,NaN,NaN,NaN,nan,41,Jaws,"1,975","458,700,000"
71484,NaN,NaN,NaN,nan,43,Meet the Fockers,"2,004","456,567,575"
71379,NaN,NaN,NaN,nan,80,The Simpsons Movie,"2,007","454,571,022"
22549,tt0472181,The Smurfs,The Smurfs,"2,011",20,The Smurfs,"2,011","453,749,323"
21958,tt4123430,Fantastic Beasts: The Crimes of Grindelwald,Fantastic Beasts: The Crimes of Grindelwald,"2,018",60,Fantastic Beasts: The Crimes of Grindelwald,"2,018","452,220,086"
59464,tt1228705,Iron Man 2,Iron Man 2,"2,010",15,Iron Man 2,"2,010","451,156,389"
71078,NaN,NaN,NaN,nan,71,Madagascar: Escape 2 Africa,"2,008","449,680,774"
71140,NaN,NaN,NaN,nan,7,"Monsters, Inc.","2,001","444,757,719"
66190,tt0770828,Man of Steel,Man of Steel,"2,013",29,Man of Steel,"2,013","442,999,518"
71650,NaN,NaN,NaN,nan,83,Shrek,"2,001","441,812,794"
68712,tt1661199,Cinderella,Cinderella,"2,015",13,Cinderella,"2,015","439,551,353"
61630,tt1409024,Men in Black 3,Men in Black 3,"2,012",35,Men in Black 3,"2,012","439,213,485"
44513,tt0481499,The Croods,The Croods,"2,013",26,The Croods,"2,013","438,068,425"
63603,tt6139732,Aladdin,Aladdin,"2,019",81,Aladdin,"2,019","437,234,314"
71345,NaN,NaN,NaN,nan,28,Dr. Seussâ The Grinch,"2,018","436,002,426"
71072,NaN,NaN,NaN,nan,61,I am Legend,"2,007","435,532,684"
71123,NaN,NaN,NaN,nan,70,The Day After Tomorrow,"2,004","431,319,450"
71999,NaN,NaN,NaN,nan,25,The Hangover,"2,009","430,764,086"
71128,NaN,NaN,NaN,nan,84,Mission: Impossible 2,"2,000","429,588,516"
4697,tt1677720,Ready Player One,Ready Player One,"2,018",78,Ready Player One,"2,018","429,290,136"
71733,NaN,NaN,NaN,nan,14,Indiana Jones and the Last Crusade,"1,989","426,171,806"
18718,tt0448694,Puss in Boots,Puss in Boots,"2,011",46,Puss in Boots,"2,011","424,987,477"
71220,NaN,NaN,NaN,nan,40,Toy Story 2,"1,999","421,358,276"
71438,NaN,NaN,NaN,nan,71,Saving Private Ryan,"1,998","420,035,085"
73002,NaN,NaN,NaN,nan,72,Pretty Woman,"1,990","418,645,872"
28656,tt6142034,Lucy,Lucy,"2,016",83,Lucy,"2,014","417,507,776"
72333,NaN,NaN,NaN,nan,61,Mrs. Doubtfire,"1,993","416,286,003"
73118,NaN,NaN,NaN,nan,42,The Exorcist,"1,973","416,214,478"
72883,NaN,NaN,NaN,nan,97,The Kingâs Speech,"2,010","415,821,168"
71176,NaN,NaN,NaN,nan,65,Terminator 2: Judgment Day,"1,991","415,419,827"
71097,NaN,NaN,NaN,nan,8,Armageddon,"1,998","414,600,000"
44575,tt1515091,Sherlock Holmes: A Game of Shadows,Sherlock Holmes: A Game of Shadows,"2,011",69,Sherlock Holmes: A Game of Shadows,"2,011","410,663,443"
19140,tt2304901,Sherlock Holmes,Sherlock Holmes,"2,011",42,Sherlock Holmes,"2,009","408,438,212"
71244,NaN,NaN,NaN,nan,82,Twister,"1,996","407,700,000"
38038,tt3783958,La La Land,La La Land,"2,016",92,La La Land,"2,016","406,351,163"
72688,NaN,NaN,NaN,nan,25,Dances with Wolves,"1,990","405,200,000"
71280,NaN,NaN,NaN,nan,37,Bruce Almighty,"2,003","403,468,608"
11862,tt3375556,Iron Man,Adam Ahani,"2,013",74,Iron Man,"2,008","399,171,547"
71440,NaN,NaN,NaN,nan,76,The Matrix,"1,999","398,517,383"
30451,tt1663202,The Revenant,The Revenant,"2,015",27,The Revenant,"2,015","397,938,302"
41072,tt1490017,The Lego Movie,The Lego Movie,"2,014",44,The Lego Movie,"2,014","397,729,388"
4634,tt1436562,Rio,Rio,"2,011",46,Rio,"2,011","397,519,809"
10102,tt1776364,A Star is Born,Zvezda je rodena,"2,010",5,A Star is Born,"2,018","397,449,571"
71485,NaN,NaN,NaN,nan,45,300,"2,007","394,161,935"
71392,NaN,NaN,NaN,nan,94,Cars,"2,006","391,651,246"
34282,tt2386490,How to Train Your Dragon: The Hidden World,How to Train Your Dragon: The Hidden World,"2,019",56,How to Train Your Dragon: The Hidden World,"2,019","390,258,283"
57597,tt2510894,Hotel Transylvania 2,Hotel Transylvania 2,"2,015",42,Hotel Transylvania 2,"2,015","389,500,298"
48966,tt0478970,Ant-Man,Ant-Man,"2,015",43,Ant-Man,"2,015","388,858,449"
72334,NaN,NaN,NaN,nan,62,Rain Man,"1,988","387,800,000"
73899,NaN,NaN,NaN,nan,68,Gone with the Wind,"1,939","386,625,192"
5698,tt8332280,The Bodyguard,The Bodyguard,"2,018",68,The Bodyguard,"1,992","385,899,039"
5174,tt3371366,Transformers: The Last Knight,Transformers: The Last Knight,"2,017",33,Transformers: The Last Knight,"2,017","385,893,340"
6407,tt3874544,The Boss Baby,The Boss Baby,"2,017",71,The Boss Baby,"2,017","385,878,762"
73610,NaN,NaN,NaN,nan,13,Grease,"1,978","381,510,179"
1101,tt1318514,Rise of the Planet of the Apes,Rise of the Planet of the Apes,"2,011",31,Rise of the Planet of the Apes,"2,011","377,986,200"
71281,NaN,NaN,NaN,nan,40,Mission: Impossible,"1,996","377,697,994"
52555,tt2267968,Kung Fu Panda 3,Kung Fu Panda 3,"2,016",11,Kung Fu Panda 3,"2,016","377,599,142"
71441,NaN,NaN,NaN,nan,78,Les Miserables,"2,012","377,169,052"
72001,NaN,NaN,NaN,nan,27,Batman,"1,989","376,348,924"
71146,NaN,NaN,NaN,nan,18,Mr. and Mrs. Smith,"2,005","376,124,090"

In [388]:
current_movies = merged_df_2

,tconst,primary_title,original_title,start_year,runtime_minutes,id,movie,release_year,total_profit,release_date
0,tt1775309,Avatar,Abatâ,"2,011",93,1,Avatar,2009,"2,351,345,279",2009-12-18
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875",2011-05-20
2,tt6565702,Dark Phoenix,Dark Phoenix,"2,019",113,3,Dark Phoenix,2019,"-200,237,650",2019-06-07
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,4,Avengers: Age of Ultron,2015,"1,072,413,963",2015-05-01
4,NaN,NaN,NaN,nan,nan,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747",2017-12-15
...,...,...,...,...,...,...,...,...,...,...
5973,tt7837402,Red 11,Red 11,"2,019",77,78,Red 11,2018,"-7,000",2018-12-31
5974,NaN,NaN,NaN,nan,nan,79,Following,1999,"234,495",1999-04-02
5975,NaN,NaN,NaN,nan,nan,80,Return to the Land of Wonders,2005,"-3,662",2005-07-13
5976,tt2107644,A Plague So Pleasant,A Plague So Pleasant,"2,013",76,81,A Plague So Pleasant,2015,"-1,400",2015-09-29
5977,NaN,NaN,NaN,nan,nan,82,My Date With Drew,2005,"179,941",2005-08-05

In [108]:
#The start_year and release_year values are no longer in datetime format. I need to change the null values
#to an appropriate value so that I can correctly format the years.

merged_df_outer['start_year'] = pd.to_datetime(merged_df_outer['start_year'], errors='coerce')
merged_df_outer

,tconst,primary_title,original_title,start_year,id,movie,release_year
0,tt0285252,Life's a Beach,Life's a Beach,1970-01-01 00:00:00.000002012,nan,NaN,nan
1,tt0462036,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,1970-01-01 00:00:00.000002012,nan,NaN,nan
2,tt0835418,The Babymakers,The Babymakers,1970-01-01 00:00:00.000002012,nan,NaN,nan
3,tt0878654,Bulletface,Bulletface,1970-01-01 00:00:00.000002010,nan,NaN,nan
4,tt0879859,Torn,Torn,1970-01-01 00:00:00.000002010,nan,NaN,nan
...,...,...,...,...,...,...,...
74625,NaN,NaN,NaN,NaT,76,Cavite,"2,006"
74626,NaN,NaN,NaN,NaT,77,The Mongol King,"2,004"
74627,NaN,NaN,NaN,NaT,79,Following,"1,999"
74628,NaN,NaN,NaN,NaT,80,Return to the Land of Wonders,"2,005"
74629,NaN,NaN,NaN,NaT,82,My Date With Drew,"2,005"

In [258]:
#I want to keep all of the data from table9 as the financial data is the most important to me.
#I will do right join and see if that gives me what I want.
merged_df_2 = pd.merge(movie_title_df, table9_titles, left_on= 'primary_title', right_on= 'movie', how='right')
merged_df_2

,tconst,primary_title,original_title,start_year,runtime_minutes,id,movie,release_year,total_profit,release_date
0,tt1775309,Avatar,Abatâ,"2,011",93,1,Avatar,2009,"2,351,345,279",2009-12-18
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875",2011-05-20
2,tt6565702,Dark Phoenix,Dark Phoenix,"2,019",113,3,Dark Phoenix,2019,"-200,237,650",2019-06-07
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,4,Avengers: Age of Ultron,2015,"1,072,413,963",2015-05-01
4,NaN,NaN,NaN,nan,nan,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747",2017-12-15
...,...,...,...,...,...,...,...,...,...,...
5973,tt7837402,Red 11,Red 11,"2,019",77,78,Red 11,2018,"-7,000",2018-12-31
5974,NaN,NaN,NaN,nan,nan,79,Following,1999,"234,495",1999-04-02
5975,NaN,NaN,NaN,nan,nan,80,Return to the Land of Wonders,2005,"-3,662",2005-07-13
5976,tt2107644,A Plague So Pleasant,A Plague So Pleasant,"2,013",76,81,A Plague So Pleasant,2015,"-1,400",2015-09-29
5977,NaN,NaN,NaN,nan,nan,82,My Date With Drew,2005,"179,941",2005-08-05

In [145]:
merged_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5978 entries, 0 to 5977
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          2369 non-null   object
 1   primary_title   2369 non-null   object
 2   original_title  2369 non-null   object
 3   start_year      2369 non-null   float64
 4   id              5978 non-null   int64
 5   movie           5978 non-null   object
 6   release_year    5978 non-null   int64
 7   total_profit    5978 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 420.3+ KB

In [131]:
merged_df_2.sort_values('total_profit', ascending=False).head(100)

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
0,tt1775309,Avatar,Abatâ,"2,011",1,Avatar,2009,"2,351,345,279"
46,tt2495766,Titanic,Titanic,"2,012",43,Titanic,1997,"2,008,208,395"
6,tt4154756,Avengers: Infinity War,Avengers: Infinity War,"2,018",7,Avengers: Infinity War,2018,"1,748,134,200"
5,NaN,NaN,NaN,nan,6,Star Wars Ep. VII: The Force Awakens,2015,"1,747,311,220"
34,tt0369610,Jurassic World,Jurassic World,"2,015",34,Jurassic World,2015,"1,433,854,864"
72,tt2820852,Furious 7,Furious Seven,"2,015",67,Furious 7,2015,"1,328,722,794"
26,tt0848228,The Avengers,The Avengers,"2,012",27,The Avengers,2012,"1,292,935,897"
286,NaN,NaN,NaN,nan,61,Harry Potter and the Deathly Hallows: Part II,2011,"1,216,693,157"
45,tt1825683,Black Panther,Black Panther,"2,018",42,Black Panther,2018,"1,148,258,224"
121,tt4881806,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,"2,018",13,Jurassic World: Fallen Kingdom,2018,"1,135,772,799"
168,tt1323045,Frozen,Frozen,"2,010",56,Frozen,2013,"1,122,469,910"
169,tt1611845,Frozen,Wai nei chung ching,"2,010",56,Frozen,2013,"1,122,469,910"
143,tt2316801,Beauty and the Beast,La belle et la bête,"2,014",35,Beauty and the Beast,2017,"1,099,199,706"
144,tt2771200,Beauty and the Beast,Beauty and the Beast,"2,017",35,Beauty and the Beast,2017,"1,099,199,706"
725,tt2293640,Minions,Minions,"2,015",73,Minions,2015,"1,086,336,173"
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",4,Avengers: Age of Ultron,2015,"1,072,413,963"
467,NaN,NaN,NaN,nan,26,The Lord of the Rings: The Return of the King,2003,"1,047,403,341"
47,tt3606756,Incredibles 2,Incredibles 2,"2,018",44,Incredibles 2,2018,"1,042,520,711"
51,tt1300854,Iron Man 3,Iron Man Three,"2,013",48,Iron Man 3,2013,"1,015,392,272"
4,NaN,NaN,NaN,nan,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747"
147,tt1477834,Aquaman,Aquaman,"2,018",36,Aquaman,2018,"986,894,640"
22,tt4630562,The Fate of the Furious,The Fate of the Furious,"2,017",23,The Fate of the Furious,2017,"984,846,267"
879,NaN,NaN,NaN,nan,25,Jurassic Park,1993,"975,812,584"
679,tt3469046,Despicable Me 3,Despicable Me 3,"2,017",30,Despicable Me 3,2017,"959,727,750"
103,tt4154664,Captain Marvel,Captain Marvel,"2,019",96,Captain Marvel,2019,"948,061,550"
68,tt1399103,Transformers: Dark of the Moon,Transformers: Dark of the Moon,"2,011",64,Transformers: Dark of the Moon,2011,"928,790,543"
337,NaN,NaN,NaN,nan,4,Star Wars Ep. I: The Phantom Menace,1999,"912,044,677"
56,tt1074638,Skyfall,Skyfall,"2,012",52,Skyfall,2012,"910,526,981"
657,NaN,NaN,NaN,nan,9,The Lion King,1994,"906,914,868"
671,tt1690953,Despicable Me 2,Despicable Me 2,"2,013",22,Despicable Me 2,2013,"899,216,835"
37,tt2109248,Transformers: Age of Extinction,Transformers: Age of Extinction,"2,014",37,Transformers: Age of Extinction,2014,"894,039,076"
16,tt3498820,Captain America: Civil War,Captain America: Civil War,"2,016",17,Captain America: Civil War,2016,"890,069,413"
480,tt2283362,Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,"2,017",38,Jumanji: Welcome to the Jungle,2017,"874,496,193"
170,tt2948356,Zootopia,Zootopia,"2,016",57,Zootopia,2016,"869,429,616"
50,tt0435761,Toy Story 3,Toy Story 3,"2,010",47,Toy Story 3,2010,"868,879,522"
745,NaN,NaN,NaN,nan,93,Shrek 2,2004,"867,008,132"
288,NaN,NaN,NaN,nan,63,Harry Potter and the Sorcererâs Stone,2001,"850,047,606"
48,tt3748528,Rogue One: A Star Wars Story,Rogue One,"2,016",45,Rogue One: A Star Wars Story,2016,"849,102,856"
466,NaN,NaN,NaN,nan,25,Finding Nemo,2003,"842,429,370"
28,NaN,NaN,NaN,nan,28,Pirates of the Caribbean: Dead Manâs Chest,2006,"841,215,812"
468,NaN,NaN,NaN,nan,27,The Lord of the Rings: The Two Towers,2002,"840,699,645"
1039,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,"2,018",84,Bohemian Rhapsody,2018,"839,985,342"
289,NaN,NaN,NaN,nan,64,Harry Potter and the Deathly Hallows: Part I,2010,"835,431,568"
54,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",51,Alice in Wonderland,2010,"825,491,110"
49,tt2277860,Finding Dory,Finding Dory,"2,016",46,Finding Dory,2016,"821,215,193"
81,NaN,NaN,NaN,nan,75,The Dark Knight,2008,"816,996,207"
675,tt2709768,The Secret Life of Pets,The Secret Life of Pets,"2,016",26,The Secret Life of Pets,2016,"811,750,534"
10,tt1345836,The Dark Knight Rises,The Dark Knight Rises,"2,012",11,The Dark Knight Rises,2012,"809,439,099"
171,NaN,NaN,NaN,nan,58,Harry Potter and the Order of the Phoenix,2007,"793,076,457"
104,tt3040964,The Jungle Book,The Jungle Book,"2,016",97,The Jungle Book,2016,"787,854,547"
453,tt1667889,Ice Age: Continental Drift,Ice Age: Continental Drift,"2,012",14,Ice Age: Continental Drift,2012,"784,765,137"
3690,NaN,NaN,NaN,nan,26,ET: The Extra-Terrestrial,1982,"782,465,326"
399,NaN,NaN,NaN,nan,64,Harry Potter and the Chamber of Secrets,2002,"779,225,135"
377,NaN,NaN,NaN,nan,43,The Lord of the Rings: The Fellowship of the Ring,2001,"778,210,985"
3630,NaN,NaN,NaN,nan,65,Star Wars Ep. IV: A New Hope,1977,"775,598,007"
485,NaN,NaN,NaN,nan,43,Ice Age: Dawn of the Dinosaurs,2009,"769,701,857"
18,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,"2,012",19,The Hobbit: An Unexpected Journey,2012,"767,003,568"
172,NaN,NaN,NaN,nan,59,Harry Potter and the Goblet of Fire,2005,"747,099,794"
1012,tt1431045,Deadpool,Deadpool,"2,016",56,Deadpool,2016,"743,025,593"
676,NaN,NaN,NaN,nan,27,Independence Day,1996,"742,400,878"
335,tt1270797,Venom,Venom,"2,018",3,Venom,2018,"737,628,605"
252,tt1951264,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,"2,013",38,The Hunger Games: Catching Fire,2013,"734,868,047"
338,NaN,NaN,NaN,nan,5,Star Wars Ep. III: Revenge of the Sith,2005,"733,998,877"
20,tt1170358,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,"2,013",21,The Hobbit: The Desolation of Smaug,2013,"710,366,855"
107,tt2250912,Spider-Man: Homecoming,Spider-Man: Homecoming,"2,017",99,Spider-Man: Homecoming,2017,"705,166,350"
21,tt2310332,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,"2,014",22,The Hobbit: The Battle of the Five Armies,2014,"695,577,621"
239,NaN,NaN,NaN,nan,25,"The Twilight Saga: Breaking Dawn, Part 2",2012,"693,524,737"
19,NaN,NaN,NaN,nan,20,Harry Potter and the Half-Blood Prince,2009,"685,213,767"
233,NaN,NaN,NaN,nan,19,Spider-Man,2002,"682,706,375"
106,tt1640486,Inside Out,Inside Out,"2,011",98,Inside Out,2015,"679,235,992"
348,tt5463162,Deadpool 2,Deadpool 2,"2,018",15,Deadpool 2,2018,"676,680,557"
149,tt1375666,Inception,Inception,"2,010",38,Inception,2010,"675,524,642"
167,tt4028068,Wonder Woman,Wonder Woman,"2,014",55,Wonder Woman,2017,"671,133,378"
89,tt3501632,Thor: Ragnarok,Thor: Ragnarok,"2,017",82,Thor: Ragnarok,2017,"666,980,024"
253,NaN,NaN,NaN,nan,39,Harry Potter and the Prisoner of Azkaban,2004,"666,907,323"
7,NaN,NaN,NaN,nan,8,Pirates of the Caribbean: At Worldâs End,2007,"663,420,425"
1700,tt1396484,It,It,"2,017",24,It,2017,"662,457,969"
52,NaN,NaN,NaN,nan,49,Guardians of the Galaxy Vol 2,2017,"662,316,233"
148,NaN,NaN,NaN,nan,37,Shrek the Third,2007,"647,330,936"
290,NaN,NaN,NaN,nan,65,The Da Vinci Code,2006,"642,820,459"
287,tt1951265,The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,"2,014",62,The Hunger Games: Mockingjay - Part 1,2014,"641,575,131"
807,tt1325004,The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,"2,010",53,The Twilight Saga: Eclipse,2010,"638,102,828"
1142,NaN,NaN,NaN,nan,82,The Twilight Saga: New Moon,2009,"637,557,727"
15,NaN,NaN,NaN,nan,16,Spider-Man 3,2007,"636,860,230"
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875"
1442,NaN,NaN,NaN,nan,75,The Sixth Sense,1999,"632,806,292"
151,NaN,NaN,NaN,nan,40,Fast and Furious 6,2013,"629,300,444"
36,NaN,NaN,NaN,nan,36,Transformers: Revenge of the Fallen,2009,"626,519,699"
1037,NaN,NaN,NaN,nan,82,Forrest Gump,1994,"624,850,637"
110,tt7002100,Coco,Coco,"2,017",2,Coco,2017,"623,008,101"
92,tt3183660,Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,"2,016",85,Fantastic Beasts and Where to Find Them,2016,"622,402,853"
17,tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,"2,016",18,Batman v Superman: Dawn of Justice,2016,"617,500,281"
99,NaN,NaN,NaN,nan,92,Mission: ImpossibleâFallout,2018,"609,456,552"
210,tt1277953,Madagascar 3: Europe's Most Wanted,Madagascar 3: Europe's Most Wanted,"2,012",97,Madagascar 3: Europe's Most Wanted,2012,"601,921,271"
82,NaN,NaN,NaN,nan,76,Indiana Jones and the Kingdom of the Crystal S...,2008,"601,635,413"
122,tt2015381,Guardians of the Galaxy,Guardians of the Galaxy,"2,014",14,Guardians of the Galaxy,2014,"600,867,516"
585,tt1392170,The Hunger Games,The Hunger Games,"2,012",38,The Hunger Games,2012,"597,923,379"
2265,NaN,NaN,NaN,nan,60,The Passion of the Christ,2004,"597,341,924"
53,NaN,NaN,NaN,nan,50,Spider-Man 2,2004,"595,110,670"
135,tt0892791,Shrek Forever After,Shrek Forever After,"2,010",27,Shrek Forever After,2010,"591,244,673"

In [446]:
merged_df_22 = pd.merge(merged_df_2, master_title_df_2, on= 'movie', how='outer')
merged_df_22

,tconst,primary_title,original_title_x,start_year,runtime_minutes,id_x,movie,release_year,total_profit,release_date,original_title_y,o_tconst,id_y
0,tt1775309,Avatar,Abatâ,"2,011",93,1,Avatar,"2,009","2,351,345,279",2009-12-18,NaN,NaN,nan
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,2,Pirates of the Caribbean: On Stranger Tides,"2,011","635,063,875",2011-05-20,Pirates of the Caribbean: On Stranger Tides,tt1298650,2
2,tt6565702,Dark Phoenix,Dark Phoenix,"2,019",113,3,Dark Phoenix,"2,019","-200,237,650",2019-06-07,Dark Phoenix,tt6565702,3
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,4,Avengers: Age of Ultron,"2,015","1,072,413,963",2015-05-01,Avengers: Age of Ultron,tt2395427,4
4,NaN,NaN,NaN,nan,nan,5,Star Wars Ep. VIII: The Last Jedi,"2,017","999,721,747",2017-12-15,NaN,NaN,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75015,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,Goyenda Tatar,tt8947660,nan
75016,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,Reversing Roe,tt8948614,nan
75017,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,The Princess Switch,tt8954732,nan
75018,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,Doozy,tt8991416,nan
75019,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,Syndebukken: Prosessen mot Harry Lindstrøm,tt9004986,nan

In [499]:
cleaned_df_22['p_tconst'] = merged_df_22['tconst']

In [500]:
cleaned_df_22.sort_values('total_profit', ascending=False).head(10)

,primary_title,movie,release_year,total_profit,release_date,o_tconst,original_title_or,original_title_p,id_p,id_or,p_tconst
0,Avatar,Avatar,"2,009","2,351,345,279",2009-12-18,NaN,NaN,Abatâ,1,nan,tt1775309
50,Titanic,Titanic,"1,997","2,008,208,395",1997-12-19,tt2495766,Titanic,Titanic,43,43,tt2495766
6,Avengers: Infinity War,Avengers: Infinity War,"2,018","1,748,134,200",2018-04-27,tt4154756,Avengers: Infinity War,Avengers: Infinity War,7,7,tt4154756
5,NaN,Star Wars Ep. VII: The Force Awakens,"2,015","1,747,311,220",2015-12-18,NaN,NaN,NaN,6,nan,NaN
36,Jurassic World,Jurassic World,"2,015","1,433,854,864",2015-06-12,tt0369610,Jurassic World,Jurassic World,34,34,tt0369610
80,Furious 7,Furious 7,"2,015","1,328,722,794",2015-04-03,NaN,NaN,Furious Seven,67,nan,tt2820852
27,The Avengers,The Avengers,"2,012","1,292,935,897",2012-05-04,tt0848228,The Avengers,The Avengers,27,35,tt0848228
26,The Avengers,The Avengers,"2,012","1,292,935,897",2012-05-04,tt0848228,The Avengers,The Avengers,27,27,tt0848228
332,NaN,Harry Potter and the Deathly Hallows: Part II,"2,011","1,216,693,157",2011-07-15,NaN,NaN,NaN,61,nan,NaN
49,Black Panther,Black Panther,"2,018","1,148,258,224",2018-02-16,tt1825683,Black Panther,Black Panther,42,42,tt1825683

In [485]:
#dropping all the repeated or unneccesary columns.
cleaned_df_22 = cleaned_df_22.drop('start_year', axis=1)
cleaned_df_22.head(10)

,primary_title,movie,release_year,total_profit,release_date,o_tconst,original_title_or,original_title_p,id_p,id_or
0,Avatar,Avatar,"2,009","2,351,345,279",2009-12-18,NaN,NaN,Abatâ,1,nan
1,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011","635,063,875",2011-05-20,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2,2
2,Dark Phoenix,Dark Phoenix,"2,019","-200,237,650",2019-06-07,tt6565702,Dark Phoenix,Dark Phoenix,3,3
3,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015","1,072,413,963",2015-05-01,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,4,4
4,NaN,Star Wars Ep. VIII: The Last Jedi,"2,017","999,721,747",2017-12-15,NaN,NaN,NaN,5,nan
5,NaN,Star Wars Ep. VII: The Force Awakens,"2,015","1,747,311,220",2015-12-18,NaN,NaN,NaN,6,nan
6,Avengers: Infinity War,Avengers: Infinity War,"2,018","1,748,134,200",2018-04-27,tt4154756,Avengers: Infinity War,Avengers: Infinity War,7,7
7,NaN,Pirates of the Caribbean: At Worldâs End,"2,007","663,420,425",2007-05-24,NaN,NaN,NaN,8,nan
8,Justice League,Justice League,"2,017","355,945,209",2017-11-17,tt0974015,Justice League,Justice League,9,9
9,Spectre,Spectre,"2,015","579,620,923",2015-11-06,tt2379713,Spectre,Spectre,10,10

In [474]:
#renaming some columns
cleaned_df_22['id_or'] = cleaned_df_22['id_y']
cleaned_df_22.head()

,primary_title,original_title_x,start_year,runtime_minutes,id_x,movie,release_year,total_profit,release_date,original_title_y,o_tconst,id_y,original_title_or,original_title_p,id_p,id_or
0,Avatar,Abatâ,"2,011",93,1,Avatar,"2,009","2,351,345,279",2009-12-18,NaN,NaN,nan,NaN,Abatâ,1,nan
1,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,2,Pirates of the Caribbean: On Stranger Tides,"2,011","635,063,875",2011-05-20,Pirates of the Caribbean: On Stranger Tides,tt1298650,2,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2,2
2,Dark Phoenix,Dark Phoenix,"2,019",113,3,Dark Phoenix,"2,019","-200,237,650",2019-06-07,Dark Phoenix,tt6565702,3,Dark Phoenix,Dark Phoenix,3,3
3,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,4,Avengers: Age of Ultron,"2,015","1,072,413,963",2015-05-01,Avengers: Age of Ultron,tt2395427,4,Avengers: Age of Ultron,Avengers: Age of Ultron,4,4
4,NaN,NaN,nan,nan,5,Star Wars Ep. VIII: The Last Jedi,"2,017","999,721,747",2017-12-15,NaN,NaN,nan,NaN,NaN,5,nan

In [483]:
cleaned_df_22.sort_values('total_profit', ascending=False).head(100)

,primary_title,start_year,runtime_minutes,movie,release_year,total_profit,release_date,o_tconst,original_title_or,original_title_p,id_p,id_or
0,Avatar,"2,011",93,Avatar,"2,009","2,351,345,279",2009-12-18,NaN,NaN,Abatâ,1,nan
50,Titanic,"2,012",nan,Titanic,"1,997","2,008,208,395",1997-12-19,tt2495766,Titanic,Titanic,43,43
6,Avengers: Infinity War,"2,018",149,Avengers: Infinity War,"2,018","1,748,134,200",2018-04-27,tt4154756,Avengers: Infinity War,Avengers: Infinity War,7,7
5,NaN,nan,nan,Star Wars Ep. VII: The Force Awakens,"2,015","1,747,311,220",2015-12-18,NaN,NaN,NaN,6,nan
36,Jurassic World,"2,015",124,Jurassic World,"2,015","1,433,854,864",2015-06-12,tt0369610,Jurassic World,Jurassic World,34,34
80,Furious 7,"2,015",137,Furious 7,"2,015","1,328,722,794",2015-04-03,NaN,NaN,Furious Seven,67,nan
27,The Avengers,"2,012",143,The Avengers,"2,012","1,292,935,897",2012-05-04,tt0848228,The Avengers,The Avengers,27,35
26,The Avengers,"2,012",143,The Avengers,"2,012","1,292,935,897",2012-05-04,tt0848228,The Avengers,The Avengers,27,27
332,NaN,nan,nan,Harry Potter and the Deathly Hallows: Part II,"2,011","1,216,693,157",2011-07-15,NaN,NaN,NaN,61,nan
49,Black Panther,"2,018",134,Black Panther,"2,018","1,148,258,224",2018-02-16,tt1825683,Black Panther,Black Panther,42,42
135,Jurassic World: Fallen Kingdom,"2,018",128,Jurassic World: Fallen Kingdom,"2,018","1,135,772,799",2018-06-22,tt4881806,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,13,13
188,Frozen,"2,010",93,Frozen,"2,013","1,122,469,910",2013-11-22,tt1323045,Frozen,Frozen,56,56
189,Frozen,"2,010",92,Frozen,"2,013","1,122,469,910",2013-11-22,tt1323045,Frozen,Wai nei chung ching,56,56
160,Beauty and the Beast,"2,017",129,Beauty and the Beast,"2,017","1,099,199,706",2017-03-17,tt2771200,Beauty and the Beast,Beauty and the Beast,35,86
159,Beauty and the Beast,"2,017",129,Beauty and the Beast,"2,017","1,099,199,706",2017-03-17,tt2771200,Beauty and the Beast,Beauty and the Beast,35,35
158,Beauty and the Beast,"2,014",112,Beauty and the Beast,"2,017","1,099,199,706",2017-03-17,tt2771200,Beauty and the Beast,La belle et la bête,35,86
157,Beauty and the Beast,"2,014",112,Beauty and the Beast,"2,017","1,099,199,706",2017-03-17,tt2771200,Beauty and the Beast,La belle et la bête,35,35
799,Minions,"2,015",91,Minions,"2,015","1,086,336,173",2015-07-10,tt2293640,Minions,Minions,73,73
3,Avengers: Age of Ultron,"2,015",141,Avengers: Age of Ultron,"2,015","1,072,413,963",2015-05-01,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,4,4
537,NaN,nan,nan,The Lord of the Rings: The Return of the King,"2,003","1,047,403,341",2003-12-17,NaN,NaN,NaN,26,nan
51,Incredibles 2,"2,018",118,Incredibles 2,"2,018","1,042,520,711",2018-06-15,tt3606756,Incredibles 2,Incredibles 2,44,44
55,Iron Man 3,"2,013",130,Iron Man 3,"2,013","1,015,392,272",2013-05-03,NaN,NaN,Iron Man Three,48,nan
4,NaN,nan,nan,Star Wars Ep. VIII: The Last Jedi,"2,017","999,721,747",2017-12-15,NaN,NaN,NaN,5,nan
165,Aquaman,"2,018",143,Aquaman,"2,018","986,894,640",2018-12-21,tt1477834,Aquaman,Aquaman,36,36
22,The Fate of the Furious,"2,017",136,The Fate of the Furious,"2,017","984,846,267",2017-04-14,tt4630562,The Fate of the Furious,The Fate of the Furious,23,23
953,NaN,nan,nan,Jurassic Park,"1,993","975,812,584",1993-06-11,NaN,NaN,NaN,25,nan
751,Despicable Me 3,"2,017",89,Despicable Me 3,"2,017","959,727,750",2017-06-30,tt3469046,Despicable Me 3,Despicable Me 3,30,30
115,Captain Marvel,"2,019",123,Captain Marvel,"2,019","948,061,550",2019-03-08,tt4154664,Captain Marvel,Captain Marvel,96,96
74,Transformers: Dark of the Moon,"2,011",154,Transformers: Dark of the Moon,"2,011","928,790,543",2011-06-29,tt1399103,Transformers: Dark of the Moon,Transformers: Dark of the Moon,64,64
399,NaN,nan,nan,Star Wars Ep. I: The Phantom Menace,"1,999","912,044,677",1999-05-19,NaN,NaN,NaN,4,nan
62,Skyfall,"2,012",143,Skyfall,"2,012","910,526,981",2012-11-08,tt1074638,Skyfall,Skyfall,52,52
729,NaN,nan,nan,The Lion King,"1,994","906,914,868",1994-06-15,NaN,NaN,NaN,9,nan
743,Despicable Me 2,"2,013",98,Despicable Me 2,"2,013","899,216,835",2013-07-03,tt1690953,Despicable Me 2,Despicable Me 2,22,22
39,Transformers: Age of Extinction,"2,014",165,Transformers: Age of Extinction,"2,014","894,039,076",2014-06-27,tt2109248,Transformers: Age of Extinction,Transformers: Age of Extinction,37,37
16,Captain America: Civil War,"2,016",147,Captain America: Civil War,"2,016","890,069,413",2016-05-06,tt3498820,Captain America: Civil War,Captain America: Civil War,17,17
550,Jumanji: Welcome to the Jungle,"2,017",119,Jumanji: Welcome to the Jungle,"2,017","874,496,193",2017-12-20,tt2283362,Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,38,38
190,Zootopia,"2,016",108,Zootopia,"2,016","869,429,616",2016-03-04,tt2948356,Zootopia,Zootopia,57,57
54,Toy Story 3,"2,010",103,Toy Story 3,"2,010","868,879,522",2010-06-18,tt0435761,Toy Story 3,Toy Story 3,47,47
819,NaN,nan,nan,Shrek 2,"2,004","867,008,132",2004-05-19,NaN,NaN,NaN,93,nan
334,NaN,nan,nan,Harry Potter and the Sorcererâs Stone,"2,001","850,047,606",2001-11-16,NaN,NaN,NaN,63,nan
52,Rogue One: A Star Wars Story,"2,016",133,Rogue One: A Star Wars Story,"2,016","849,102,856",2016-12-16,NaN,NaN,Rogue One,45,nan
536,NaN,nan,nan,Finding Nemo,"2,003","842,429,370",2003-05-30,NaN,NaN,NaN,25,nan
30,NaN,nan,nan,Pirates of the Caribbean: Dead Manâs Chest,"2,006","841,215,812",2006-07-07,NaN,NaN,NaN,28,nan
538,NaN,nan,nan,The Lord of the Rings: The Two Towers,"2,002","840,699,645",2002-12-18,NaN,NaN,NaN,27,nan
1115,Bohemian Rhapsody,"2,018",134,Bohemian Rhapsody,"2,018","839,985,342",2018-11-02,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,84,84
335,NaN,nan,nan,Harry Potter and the Deathly Hallows: Part I,"2,010","835,431,568",2010-11-19,NaN,NaN,NaN,64,nan
59,Alice in Wonderland,"2,010",99,Alice in Wonderland,"2,010","825,491,110",2010-03-05,tt2049386,Alice in Wonderland,Alice in Wonderland,51,60
58,Alice in Wonderland,"2,010",99,Alice in Wonderland,"2,010","825,491,110",2010-03-05,tt2049386,Alice in Wonderland,Alice in Wonderland,51,51
53,Finding Dory,"2,016",97,Finding Dory,"2,016","821,215,193",2016-06-17,tt2277860,Finding Dory,Finding Dory,46,46
91,NaN,nan,nan,The Dark Knight,"2,008","816,996,207",2008-07-18,NaN,NaN,NaN,75,nan
747,The Secret Life of Pets,"2,016",87,The Secret Life of Pets,"2,016","811,750,534",2016-07-08,tt2709768,The Secret Life of Pets,The Secret Life of Pets,26,26
10,The Dark Knight Rises,"2,012",164,The Dark Knight Rises,"2,012","809,439,099",2012-07-20,tt1345836,The Dark Knight Rises,The Dark Knight Rises,11,11
191,NaN,nan,nan,Harry Potter and the Order of the Phoenix,"2,007","793,076,457",2007-07-11,NaN,NaN,NaN,58,nan
117,The Jungle Book,"2,016",106,The Jungle Book,"2,016","787,854,547",2016-04-15,tt3040964,The Jungle Book,The Jungle Book,97,96
116,The Jungle Book,"2,016",106,The Jungle Book,"2,016","787,854,547",2016-04-15,tt3040964,The Jungle Book,The Jungle Book,97,97
521,Ice Age: Continental Drift,"2,012",88,Ice Age: Continental Drift,"2,012","784,765,137",2012-07-13,tt1667889,Ice Age: Continental Drift,Ice Age: Continental Drift,14,14
3838,NaN,nan,nan,ET: The Extra-Terrestrial,"1,982","782,465,326",1982-06-11,NaN,NaN,NaN,26,nan
461,NaN,nan,nan,Harry Potter and the Chamber of Secrets,"2,002","779,225,135",2002-11-15,NaN,NaN,NaN,64,nan
439,NaN,nan,nan,The Lord of the Rings: The Fellowship of the Ring,"2,001","778,210,985",2001-12-19,NaN,NaN,NaN,43,nan
3778,NaN,nan,nan,Star Wars Ep. IV: A New Hope,"1,977","775,598,007",1977-05-25,NaN,NaN,NaN,65,nan
555,NaN,nan,nan,Ice Age: Dawn of the Dinosaurs,"2,009","769,701,857",2009-07-01,NaN,NaN,NaN,43,nan
18,The Hobbit: An Unexpected Journey,"2,012",169,The Hobbit: An Unexpected Journey,"2,012","767,003,568",2012-12-14,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,19,19
192,NaN,nan,nan,Harry Potter and the Goblet of Fire,"2,005","747,099,794",2005-11-18,NaN,NaN,NaN,59,nan
1088,Deadpool,"2,016",108,Deadpool,"2,016","743,025,593",2016-02-12,tt1431045,Deadpool,Deadpool,56,56
748,NaN,nan,nan,Independence Day,"1,996","742,400,878",1996-07-02,NaN,NaN,NaN,27,nan
396,Venom,"2,018",112,Venom,"2,018","737,628,605",2018-10-05,tt1270797,Venom,Venom,3,14
395,Venom,"2,018",112,Venom,"2,018","737,628,605",2018-10-05,tt1270797,Venom,Venom,3,3
274,The Hunger Games: Catching Fire,"2,013",146,The Hunger Games: Catching Fire,"2,013","734,868,047",2013-11-22,tt1951264,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,38,38
400,NaN,nan,nan,Star Wars Ep. III: Revenge of the Sith,"2,005","733,998,877",2005-05-19,NaN,NaN,NaN,5,nan
20,The Hobbit: The Desolation of Smaug,"2,013",161,The Hobbit: The Desolation of Smaug,"2,013","710,366,855",2013-12-13,tt1170358,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,21,21
121,Spider-Man: Homecoming,"2,017",133,Spider-Man: Homecoming,"2,017","705,166,350",2017-07-07,tt2250912,Spider-Man: Homecoming,Spider-Man: Homecoming,99,99
21,The Hobbit: The Battle of the Five Armies,"2,014",144,The Hobbit: The Battle of the Five Armies,"2,014","695,577,621",2014-12-17,tt2310332,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,22,22
261,NaN,nan,nan,"The Twilight Saga: Breaking Dawn, Part 2","2,012","693,524,737",2012-11-16,NaN,NaN,NaN,25,nan
19,NaN,nan,nan,Harry Potter and the Half-Blood Prince,"2,009","685,213,767",2009-07-15,NaN,NaN,NaN,20,nan
255,NaN,nan,nan,Spider-Man,"2,002","682,706,375",2002-05-03,NaN,NaN,NaN,19,nan
120,Inside Out,"2,011",93,Inside Out,"2,015","679,235,992",2015-06-19,tt1640486,Inside Out,Inside Out,98,98
410,Deadpool 2,"2,018",119,Deadpool 2,"2,018","676,680,557",2018-05-18,tt5463162,Deadpool 2,Deadpool 2,15,15
167,Inception,"2,010",148,Inception,"2,010","675,524,642",2010-07-16,tt1375666,Inception,Inception,38,38
187,Wonder Woman,"2,014",60,Wonder Woman,"2,017","671,133,378",2017-06-02,tt4028068,Wonder Woman,Wonder Woman,55,55
101,Thor: Ragnarok,"2,017",130,Thor: Ragnarok,"2,017","666,980,024",2017-11-03,tt3501632,Thor: Ragnarok,Thor: Ragnarok,82,82
275,NaN,nan,nan,Harry Potter and the Prisoner of Azkaban,"2,004","666,907,323",2004-06-04,NaN,NaN,NaN,39,nan
7,NaN,nan,nan,Pirates of the Caribbean: At Worldâs End,"2,007","663,420,425",2007-05-24,NaN,NaN,NaN,8,nan
1784,It,"2,017",135,It,"2,017","662,457,969",2017-09-08,tt1396484,It,It,24,24
56,NaN,nan,nan,Guardians of the Galaxy Vol 2,"2,017","662,316,233",2017-05-05,NaN,NaN,NaN,49,nan
166,NaN,nan,nan,Shrek the Third,"2,007","647,330,936",2007-05-17,NaN,NaN,NaN,37,nan
336,NaN,nan,nan,The Da Vinci Code,"2,006","642,820,459",2006-05-19,NaN,NaN,NaN,65,nan
333,The Hunger Games: Mockingjay - Part 1,"2,014",123,The Hunger Games: Mockingjay - Part 1,"2,014","641,575,131",2014-11-21,tt1951265,The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,62,62
881,The Twilight Saga: Eclipse,"2,010",124,The Twilight Saga: Eclipse,"2,010","638,102,828",2010-06-30,tt1325004,The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,53,53
1218,NaN,nan,nan,The Twilight Saga: New Moon,"2,009","637,557,727",2009-11-20,NaN,NaN,NaN,82,nan
15,NaN,nan,nan,Spider-Man 3,"2,007","636,860,230",2007-05-04,NaN,NaN,NaN,16,nan
1,Pirates of the Caribbean: On Stranger Tides,"2,011",136,Pirates of the Caribbean: On Stranger Tides,"2,011","635,063,875",2011-05-20,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2,2
1520,NaN,nan,nan,The Sixth Sense,"1,999","632,806,292",1999-08-06,NaN,NaN,NaN,75,nan
169,NaN,nan,nan,Fast and Furious 6,"2,013","629,300,444",2013-05-24,NaN,NaN,NaN,40,nan
38,NaN,nan,nan,Transformers: Revenge of the Fallen,"2,009","626,519,699",2009-06-24,NaN,NaN,NaN,36,nan
1113,NaN,nan,nan,Forrest Gump,"1,994","624,850,637",1994-07-06,NaN,NaN,NaN,82,nan
124,Coco,"2,017",98,Coco,"2,017","623,008,101",2017-11-22,tt7002100,Coco,Coco,2,2
104,Fantastic Beasts and Where to Find Them,"2,016",132,Fantastic Beasts and Where to Find Them,"2,016","622,402,853",2016-11-18,tt3183660,Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,85,85
17,Batman v Superman: Dawn of Justice,"2,016",151,Batman v Superman: Dawn of Justice,"2,016","617,500,281",2016-03-25,tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,18,18
111,NaN,nan,nan,Mission: ImpossibleâFallout,"2,018","609,456,552",2018-07-27,NaN,NaN,NaN,92,nan
230,Madagascar 3: Europe's Most Wanted,"2,012",93,Madagascar 3: Europe's Most Wanted,"2,012","601,921,271",2012-06-08,tt1277953,Madagascar 3: Europe's Most Wanted,Madagascar 3: Europe's Most Wanted,97,97

In [486]:
cleaned_df_22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75020 entries, 0 to 75019
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   primary_title      2531 non-null   object
 1   movie              6142 non-null   object
 2   release_year       6142 non-null   float64
 3   total_profit       6142 non-null   float64
 4   release_date       6142 non-null   datetime64[ns]
 5   o_tconst           71346 non-null  object
 6   original_title_or  71346 non-null  object
 7   original_title_p   2531 non-null   object
 8   id_p               6142 non-null   float64
 9   id_or              2468 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 6.3+ MB

In [501]:
master_df = cleaned_df_22
master_df

,primary_title,movie,release_year,total_profit,release_date,o_tconst,original_title_or,original_title_p,id_p,id_or,p_tconst
0,Avatar,Avatar,"2,009","2,351,345,279",2009-12-18,NaN,NaN,Abatâ,1,nan,tt1775309
1,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011","635,063,875",2011-05-20,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2,2,tt1298650
2,Dark Phoenix,Dark Phoenix,"2,019","-200,237,650",2019-06-07,tt6565702,Dark Phoenix,Dark Phoenix,3,3,tt6565702
3,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015","1,072,413,963",2015-05-01,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,4,4,tt2395427
4,NaN,Star Wars Ep. VIII: The Last Jedi,"2,017","999,721,747",2017-12-15,NaN,NaN,NaN,5,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...
75015,NaN,NaN,nan,nan,NaT,tt8947660,Goyenda Tatar,NaN,nan,nan,NaN
75016,NaN,NaN,nan,nan,NaT,tt8948614,Reversing Roe,NaN,nan,nan,NaN
75017,NaN,NaN,nan,nan,NaT,tt8954732,The Princess Switch,NaN,nan,nan,NaN
75018,NaN,NaN,nan,nan,NaT,tt8991416,Doozy,NaN,nan,nan,NaN
75019,NaN,NaN,nan,nan,NaT,tt9004986,Syndebukken: Prosessen mot Harry Lindstrøm,NaN,nan,nan,NaN

In [502]:
master_df_2 = master_df[['total_profit','movie', 'id_p', 'id_or', 'original_title_or','o_tconst', 'original_title_p', 'p_tconst']]
master_df_2.sort_values('total_profit', ascending=False).head(100)

,total_profit,movie,id_p,id_or,original_title_or,o_tconst,original_title_p,p_tconst
0,"2,351,345,279",Avatar,1,nan,NaN,NaN,Abatâ,tt1775309
50,"2,008,208,395",Titanic,43,43,Titanic,tt2495766,Titanic,tt2495766
6,"1,748,134,200",Avengers: Infinity War,7,7,Avengers: Infinity War,tt4154756,Avengers: Infinity War,tt4154756
5,"1,747,311,220",Star Wars Ep. VII: The Force Awakens,6,nan,NaN,NaN,NaN,NaN
36,"1,433,854,864",Jurassic World,34,34,Jurassic World,tt0369610,Jurassic World,tt0369610
80,"1,328,722,794",Furious 7,67,nan,NaN,NaN,Furious Seven,tt2820852
27,"1,292,935,897",The Avengers,27,35,The Avengers,tt0848228,The Avengers,tt0848228
26,"1,292,935,897",The Avengers,27,27,The Avengers,tt0848228,The Avengers,tt0848228
332,"1,216,693,157",Harry Potter and the Deathly Hallows: Part II,61,nan,NaN,NaN,NaN,NaN
49,"1,148,258,224",Black Panther,42,42,Black Panther,tt1825683,Black Panther,tt1825683
135,"1,135,772,799",Jurassic World: Fallen Kingdom,13,13,Jurassic World: Fallen Kingdom,tt4881806,Jurassic World: Fallen Kingdom,tt4881806
188,"1,122,469,910",Frozen,56,56,Frozen,tt1323045,Frozen,tt1323045
189,"1,122,469,910",Frozen,56,56,Frozen,tt1323045,Wai nei chung ching,tt1611845
160,"1,099,199,706",Beauty and the Beast,35,86,Beauty and the Beast,tt2771200,Beauty and the Beast,tt2771200
159,"1,099,199,706",Beauty and the Beast,35,35,Beauty and the Beast,tt2771200,Beauty and the Beast,tt2771200
158,"1,099,199,706",Beauty and the Beast,35,86,Beauty and the Beast,tt2771200,La belle et la bête,tt2316801
157,"1,099,199,706",Beauty and the Beast,35,35,Beauty and the Beast,tt2771200,La belle et la bête,tt2316801
799,"1,086,336,173",Minions,73,73,Minions,tt2293640,Minions,tt2293640
3,"1,072,413,963",Avengers: Age of Ultron,4,4,Avengers: Age of Ultron,tt2395427,Avengers: Age of Ultron,tt2395427
537,"1,047,403,341",The Lord of the Rings: The Return of the King,26,nan,NaN,NaN,NaN,NaN
51,"1,042,520,711",Incredibles 2,44,44,Incredibles 2,tt3606756,Incredibles 2,tt3606756
55,"1,015,392,272",Iron Man 3,48,nan,NaN,NaN,Iron Man Three,tt1300854
4,"999,721,747",Star Wars Ep. VIII: The Last Jedi,5,nan,NaN,NaN,NaN,NaN
165,"986,894,640",Aquaman,36,36,Aquaman,tt1477834,Aquaman,tt1477834
22,"984,846,267",The Fate of the Furious,23,23,The Fate of the Furious,tt4630562,The Fate of the Furious,tt4630562
953,"975,812,584",Jurassic Park,25,nan,NaN,NaN,NaN,NaN
751,"959,727,750",Despicable Me 3,30,30,Despicable Me 3,tt3469046,Despicable Me 3,tt3469046
115,"948,061,550",Captain Marvel,96,96,Captain Marvel,tt4154664,Captain Marvel,tt4154664
74,"928,790,543",Transformers: Dark of the Moon,64,64,Transformers: Dark of the Moon,tt1399103,Transformers: Dark of the Moon,tt1399103
399,"912,044,677",Star Wars Ep. I: The Phantom Menace,4,nan,NaN,NaN,NaN,NaN
62,"910,526,981",Skyfall,52,52,Skyfall,tt1074638,Skyfall,tt1074638
729,"906,914,868",The Lion King,9,nan,NaN,NaN,NaN,NaN
743,"899,216,835",Despicable Me 2,22,22,Despicable Me 2,tt1690953,Despicable Me 2,tt1690953
39,"894,039,076",Transformers: Age of Extinction,37,37,Transformers: Age of Extinction,tt2109248,Transformers: Age of Extinction,tt2109248
16,"890,069,413",Captain America: Civil War,17,17,Captain America: Civil War,tt3498820,Captain America: Civil War,tt3498820
550,"874,496,193",Jumanji: Welcome to the Jungle,38,38,Jumanji: Welcome to the Jungle,tt2283362,Jumanji: Welcome to the Jungle,tt2283362
190,"869,429,616",Zootopia,57,57,Zootopia,tt2948356,Zootopia,tt2948356
54,"868,879,522",Toy Story 3,47,47,Toy Story 3,tt0435761,Toy Story 3,tt0435761
819,"867,008,132",Shrek 2,93,nan,NaN,NaN,NaN,NaN
334,"850,047,606",Harry Potter and the Sorcererâs Stone,63,nan,NaN,NaN,NaN,NaN
52,"849,102,856",Rogue One: A Star Wars Story,45,nan,NaN,NaN,Rogue One,tt3748528
536,"842,429,370",Finding Nemo,25,nan,NaN,NaN,NaN,NaN
30,"841,215,812",Pirates of the Caribbean: Dead Manâs Chest,28,nan,NaN,NaN,NaN,NaN
538,"840,699,645",The Lord of the Rings: The Two Towers,27,nan,NaN,NaN,NaN,NaN
1115,"839,985,342",Bohemian Rhapsody,84,84,Bohemian Rhapsody,tt1727824,Bohemian Rhapsody,tt1727824
335,"835,431,568",Harry Potter and the Deathly Hallows: Part I,64,nan,NaN,NaN,NaN,NaN
59,"825,491,110",Alice in Wonderland,51,60,Alice in Wonderland,tt2049386,Alice in Wonderland,tt2049386
58,"825,491,110",Alice in Wonderland,51,51,Alice in Wonderland,tt2049386,Alice in Wonderland,tt2049386
53,"821,215,193",Finding Dory,46,46,Finding Dory,tt2277860,Finding Dory,tt2277860
91,"816,996,207",The Dark Knight,75,nan,NaN,NaN,NaN,NaN
747,"811,750,534",The Secret Life of Pets,26,26,The Secret Life of Pets,tt2709768,The Secret Life of Pets,tt2709768
10,"809,439,099",The Dark Knight Rises,11,11,The Dark Knight Rises,tt1345836,The Dark Knight Rises,tt1345836
191,"793,076,457",Harry Potter and the Order of the Phoenix,58,nan,NaN,NaN,NaN,NaN
117,"787,854,547",The Jungle Book,97,96,The Jungle Book,tt3040964,The Jungle Book,tt3040964
116,"787,854,547",The Jungle Book,97,97,The Jungle Book,tt3040964,The Jungle Book,tt3040964
521,"784,765,137",Ice Age: Continental Drift,14,14,Ice Age: Continental Drift,tt1667889,Ice Age: Continental Drift,tt1667889
3838,"782,465,326",ET: The Extra-Terrestrial,26,nan,NaN,NaN,NaN,NaN
461,"779,225,135",Harry Potter and the Chamber of Secrets,64,nan,NaN,NaN,NaN,NaN
439,"778,210,985",The Lord of the Rings: The Fellowship of the Ring,43,nan,NaN,NaN,NaN,NaN
3778,"775,598,007",Star Wars Ep. IV: A New Hope,65,nan,NaN,NaN,NaN,NaN
555,"769,701,857",Ice Age: Dawn of the Dinosaurs,43,nan,NaN,NaN,NaN,NaN
18,"767,003,568",The Hobbit: An Unexpected Journey,19,19,The Hobbit: An Unexpected Journey,tt0903624,The Hobbit: An Unexpected Journey,tt0903624
192,"747,099,794",Harry Potter and the Goblet of Fire,59,nan,NaN,NaN,NaN,NaN
1088,"743,025,593",Deadpool,56,56,Deadpool,tt1431045,Deadpool,tt1431045
748,"742,400,878",Independence Day,27,nan,NaN,NaN,NaN,NaN
396,"737,628,605",Venom,3,14,Venom,tt1270797,Venom,tt1270797
395,"737,628,605",Venom,3,3,Venom,tt1270797,Venom,tt1270797
274,"734,868,047",The Hunger Games: Catching Fire,38,38,The Hunger Games: Catching Fire,tt1951264,The Hunger Games: Catching Fire,tt1951264
400,"733,998,877",Star Wars Ep. III: Revenge of the Sith,5,nan,NaN,NaN,NaN,NaN
20,"710,366,855",The Hobbit: The Desolation of Smaug,21,21,The Hobbit: The Desolation of Smaug,tt1170358,The Hobbit: The Desolation of Smaug,tt1170358
121,"705,166,350",Spider-Man: Homecoming,99,99,Spider-Man: Homecoming,tt2250912,Spider-Man: Homecoming,tt2250912
21,"695,577,621",The Hobbit: The Battle of the Five Armies,22,22,The Hobbit: The Battle of the Five Armies,tt2310332,The Hobbit: The Battle of the Five Armies,tt2310332
261,"693,524,737","The Twilight Saga: Breaking Dawn, Part 2",25,nan,NaN,NaN,NaN,NaN
19,"685,213,767",Harry Potter and the Half-Blood Prince,20,nan,NaN,NaN,NaN,NaN
255,"682,706,375",Spider-Man,19,nan,NaN,NaN,NaN,NaN
120,"679,235,992",Inside Out,98,98,Inside Out,tt1640486,Inside Out,tt1640486
410,"676,680,557",Deadpool 2,15,15,Deadpool 2,tt5463162,Deadpool 2,tt5463162
167,"675,524,642",Inception,38,38,Inception,tt1375666,Inception,tt1375666
187,"671,133,378",Wonder Woman,55,55,Wonder Woman,tt4028068,Wonder Woman,tt4028068
101,"666,980,024",Thor: Ragnarok,82,82,Thor: Ragnarok,tt3501632,Thor: Ragnarok,tt3501632
275,"666,907,323",Harry Potter and the Prisoner of Azkaban,39,nan,NaN,NaN,NaN,NaN
7,"663,420,425",Pirates of the Caribbean: At Worldâs End,8,nan,NaN,NaN,NaN,NaN
1784,"662,457,969",It,24,24,It,tt1396484,It,tt1396484
56,"662,316,233",Guardians of the Galaxy Vol 2,49,nan,NaN,NaN,NaN,NaN
166,"647,330,936",Shrek the Third,37,nan,NaN,NaN,NaN,NaN
336,"642,820,459",The Da Vinci Code,65,nan,NaN,NaN,NaN,NaN
333,"641,575,131",The Hunger Games: Mockingjay - Part 1,62,62,The Hunger Games: Mockingjay - Part 1,tt1951265,The Hunger Games: Mockingjay - Part 1,tt1951265
881,"638,102,828",The Twilight Saga: Eclipse,53,53,The Twilight Saga: Eclipse,tt1325004,The Twilight Saga: Eclipse,tt1325004
1218,"637,557,727",The Twilight Saga: New Moon,82,nan,NaN,NaN,NaN,NaN
15,"636,860,230",Spider-Man 3,16,nan,NaN,NaN,NaN,NaN
1,"635,063,875",Pirates of the Caribbean: On Stranger Tides,2,2,Pirates of the Caribbean: On Stranger Tides,tt1298650,Pirates of the Caribbean: On Stranger Tides,tt1298650
1520,"632,806,292",The Sixth Sense,75,nan,NaN,NaN,NaN,NaN
169,"629,300,444",Fast and Furious 6,40,nan,NaN,NaN,NaN,NaN
38,"626,519,699",Transformers: Revenge of the Fallen,36,nan,NaN,NaN,NaN,NaN
1113,"624,850,637",Forrest Gump,82,nan,NaN,NaN,NaN,NaN
124,"623,008,101",Coco,2,2,Coco,tt7002100,Coco,tt7002100
104,"622,402,853",Fantastic Beasts and Where to Find Them,85,85,Fantastic Beasts and Where to Find Them,tt3183660,Fantastic Beasts and Where to Find Them,tt3183660
17,"617,500,281",Batman v Superman: Dawn of Justice,18,18,Batman v Superman: Dawn of Justice,tt2975590,Batman v Superman: Dawn of Justice,tt2975590
111,"609,456,552",Mission: ImpossibleâFallout,92,nan,NaN,NaN,NaN,NaN
230,"601,921,271",Madagascar 3: Europe's Most Wanted,97,97,Madagascar 3: Europe's Most Wanted,tt1277953,Madagascar 3: Europe's Most Wanted,tt1277953

In [487]:
merged_df_2

,tconst,primary_title,original_title,start_year,runtime_minutes,id,movie,release_year,total_profit,release_date
0,tt1775309,Avatar,Abatâ,"2,011",93,1,Avatar,2009,"2,351,345,279",2009-12-18
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875",2011-05-20
2,tt6565702,Dark Phoenix,Dark Phoenix,"2,019",113,3,Dark Phoenix,2019,"-200,237,650",2019-06-07
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,4,Avengers: Age of Ultron,2015,"1,072,413,963",2015-05-01
4,NaN,NaN,NaN,nan,nan,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747",2017-12-15
...,...,...,...,...,...,...,...,...,...,...
5973,tt7837402,Red 11,Red 11,"2,019",77,78,Red 11,2018,"-7,000",2018-12-31
5974,NaN,NaN,NaN,nan,nan,79,Following,1999,"234,495",1999-04-02
5975,NaN,NaN,NaN,nan,nan,80,Return to the Land of Wonders,2005,"-3,662",2005-07-13
5976,tt2107644,A Plague So Pleasant,A Plague So Pleasant,"2,013",76,81,A Plague So Pleasant,2015,"-1,400",2015-09-29
5977,NaN,NaN,NaN,nan,nan,82,My Date With Drew,2005,"179,941",2005-08-05

In [101]:
merged_df_outer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74630 entries, 0 to 74629
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          71021 non-null  object
 1   primary_title   71021 non-null  object
 2   original_title  71021 non-null  object
 3   start_year      71021 non-null  float64
 4   id              5978 non-null   float64
 5   movie           5978 non-null   object
 6   release_year    5978 non-null   float64
dtypes: float64(3), object(4)
memory usage: 4.6+ MB

In [147]:
#what if I joined on original title rather than primary title?

merged_df_3 = pd.merge(movie_title_df, table9_titles, left_on= 'original_title', right_on= 'movie', how='right')
merged_df_3

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
0,NaN,NaN,NaN,nan,1,Avatar,2009,"2,351,345,279"
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875"
2,tt6565702,Dark Phoenix,Dark Phoenix,"2,019",3,Dark Phoenix,2019,"-200,237,650"
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",4,Avengers: Age of Ultron,2015,"1,072,413,963"
4,NaN,NaN,NaN,nan,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747"
...,...,...,...,...,...,...,...,...
5777,tt7837402,Red 11,Red 11,"2,019",78,Red 11,2018,"-7,000"
5778,NaN,NaN,NaN,nan,79,Following,1999,"234,495"
5779,NaN,NaN,NaN,nan,80,Return to the Land of Wonders,2005,"-3,662"
5780,tt2107644,A Plague So Pleasant,A Plague So Pleasant,"2,013",81,A Plague So Pleasant,2015,"-1,400"
5781,NaN,NaN,NaN,nan,82,My Date With Drew,2005,"179,941"

In [148]:
merged_df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 0 to 5781
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          2123 non-null   object
 1   primary_title   2123 non-null   object
 2   original_title  2123 non-null   object
 3   start_year      2123 non-null   float64
 4   id              5782 non-null   int64
 5   movie           5782 non-null   object
 6   release_year    5782 non-null   int64
 7   total_profit    5782 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 406.5+ KB

In [149]:
merged_df_3.sort_values('total_profit', ascending=False).head(100)

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
0,NaN,NaN,NaN,nan,1,Avatar,2009,"2,351,345,279"
46,tt2495766,Titanic,Titanic,"2,012",43,Titanic,1997,"2,008,208,395"
6,tt4154756,Avengers: Infinity War,Avengers: Infinity War,"2,018",7,Avengers: Infinity War,2018,"1,748,134,200"
5,NaN,NaN,NaN,nan,6,Star Wars Ep. VII: The Force Awakens,2015,"1,747,311,220"
34,tt0369610,Jurassic World,Jurassic World,"2,015",34,Jurassic World,2015,"1,433,854,864"
72,NaN,NaN,NaN,nan,67,Furious 7,2015,"1,328,722,794"
26,tt0848228,The Avengers,The Avengers,"2,012",27,The Avengers,2012,"1,292,935,897"
274,NaN,NaN,NaN,nan,61,Harry Potter and the Deathly Hallows: Part II,2011,"1,216,693,157"
45,tt1825683,Black Panther,Black Panther,"2,018",42,Black Panther,2018,"1,148,258,224"
121,tt4881806,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,"2,018",13,Jurassic World: Fallen Kingdom,2018,"1,135,772,799"
166,tt1323045,Frozen,Frozen,"2,010",56,Frozen,2013,"1,122,469,910"
143,tt2771200,Beauty and the Beast,Beauty and the Beast,"2,017",35,Beauty and the Beast,2017,"1,099,199,706"
701,tt2293640,Minions,Minions,"2,015",73,Minions,2015,"1,086,336,173"
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",4,Avengers: Age of Ultron,2015,"1,072,413,963"
452,NaN,NaN,NaN,nan,26,The Lord of the Rings: The Return of the King,2003,"1,047,403,341"
47,tt3606756,Incredibles 2,Incredibles 2,"2,018",44,Incredibles 2,2018,"1,042,520,711"
51,NaN,NaN,NaN,nan,48,Iron Man 3,2013,"1,015,392,272"
4,NaN,NaN,NaN,nan,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747"
145,tt1477834,Aquaman,Aquaman,"2,018",36,Aquaman,2018,"986,894,640"
22,tt4630562,The Fate of the Furious,The Fate of the Furious,"2,017",23,The Fate of the Furious,2017,"984,846,267"
852,NaN,NaN,NaN,nan,25,Jurassic Park,1993,"975,812,584"
657,tt3469046,Despicable Me 3,Despicable Me 3,"2,017",30,Despicable Me 3,2017,"959,727,750"
103,tt4154664,Captain Marvel,Captain Marvel,"2,019",96,Captain Marvel,2019,"948,061,550"
68,tt1399103,Transformers: Dark of the Moon,Transformers: Dark of the Moon,"2,011",64,Transformers: Dark of the Moon,2011,"928,790,543"
323,NaN,NaN,NaN,nan,4,Star Wars Ep. I: The Phantom Menace,1999,"912,044,677"
56,tt1074638,Skyfall,Skyfall,"2,012",52,Skyfall,2012,"910,526,981"
636,NaN,NaN,NaN,nan,9,The Lion King,1994,"906,914,868"
649,tt1690953,Despicable Me 2,Despicable Me 2,"2,013",22,Despicable Me 2,2013,"899,216,835"
37,tt2109248,Transformers: Age of Extinction,Transformers: Age of Extinction,"2,014",37,Transformers: Age of Extinction,2014,"894,039,076"
16,tt3498820,Captain America: Civil War,Captain America: Civil War,"2,016",17,Captain America: Civil War,2016,"890,069,413"
465,tt2283362,Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,"2,017",38,Jumanji: Welcome to the Jungle,2017,"874,496,193"
167,tt2948356,Zootopia,Zootopia,"2,016",57,Zootopia,2016,"869,429,616"
50,tt0435761,Toy Story 3,Toy Story 3,"2,010",47,Toy Story 3,2010,"868,879,522"
721,NaN,NaN,NaN,nan,93,Shrek 2,2004,"867,008,132"
276,NaN,NaN,NaN,nan,63,Harry Potter and the Sorcererâs Stone,2001,"850,047,606"
48,NaN,NaN,NaN,nan,45,Rogue One: A Star Wars Story,2016,"849,102,856"
451,NaN,NaN,NaN,nan,25,Finding Nemo,2003,"842,429,370"
28,NaN,NaN,NaN,nan,28,Pirates of the Caribbean: Dead Manâs Chest,2006,"841,215,812"
453,NaN,NaN,NaN,nan,27,The Lord of the Rings: The Two Towers,2002,"840,699,645"
1010,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,"2,018",84,Bohemian Rhapsody,2018,"839,985,342"
277,NaN,NaN,NaN,nan,64,Harry Potter and the Deathly Hallows: Part I,2010,"835,431,568"
54,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",51,Alice in Wonderland,2010,"825,491,110"
49,tt2277860,Finding Dory,Finding Dory,"2,016",46,Finding Dory,2016,"821,215,193"
81,NaN,NaN,NaN,nan,75,The Dark Knight,2008,"816,996,207"
653,tt2709768,The Secret Life of Pets,The Secret Life of Pets,"2,016",26,The Secret Life of Pets,2016,"811,750,534"
10,tt1345836,The Dark Knight Rises,The Dark Knight Rises,"2,012",11,The Dark Knight Rises,2012,"809,439,099"
168,NaN,NaN,NaN,nan,58,Harry Potter and the Order of the Phoenix,2007,"793,076,457"
104,tt3040964,The Jungle Book,The Jungle Book,"2,016",97,The Jungle Book,2016,"787,854,547"
439,tt1667889,Ice Age: Continental Drift,Ice Age: Continental Drift,"2,012",14,Ice Age: Continental Drift,2012,"784,765,137"
3563,NaN,NaN,NaN,nan,26,ET: The Extra-Terrestrial,1982,"782,465,326"
385,NaN,NaN,NaN,nan,64,Harry Potter and the Chamber of Secrets,2002,"779,225,135"
363,NaN,NaN,NaN,nan,43,The Lord of the Rings: The Fellowship of the Ring,2001,"778,210,985"
3503,NaN,NaN,NaN,nan,65,Star Wars Ep. IV: A New Hope,1977,"775,598,007"
470,NaN,NaN,NaN,nan,43,Ice Age: Dawn of the Dinosaurs,2009,"769,701,857"
18,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,"2,012",19,The Hobbit: An Unexpected Journey,2012,"767,003,568"
169,NaN,NaN,NaN,nan,59,Harry Potter and the Goblet of Fire,2005,"747,099,794"
983,tt1431045,Deadpool,Deadpool,"2,016",56,Deadpool,2016,"743,025,593"
654,NaN,NaN,NaN,nan,27,Independence Day,1996,"742,400,878"
321,tt1270797,Venom,Venom,"2,018",3,Venom,2018,"737,628,605"
249,tt1951264,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,"2,013",38,The Hunger Games: Catching Fire,2013,"734,868,047"
324,NaN,NaN,NaN,nan,5,Star Wars Ep. III: Revenge of the Sith,2005,"733,998,877"
20,tt1170358,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,"2,013",21,The Hobbit: The Desolation of Smaug,2013,"710,366,855"
107,tt2250912,Spider-Man: Homecoming,Spider-Man: Homecoming,"2,017",99,Spider-Man: Homecoming,2017,"705,166,350"
21,tt2310332,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,"2,014",22,The Hobbit: The Battle of the Five Armies,2014,"695,577,621"
236,NaN,NaN,NaN,nan,25,"The Twilight Saga: Breaking Dawn, Part 2",2012,"693,524,737"
19,NaN,NaN,NaN,nan,20,Harry Potter and the Half-Blood Prince,2009,"685,213,767"
230,NaN,NaN,NaN,nan,19,Spider-Man,2002,"682,706,375"
106,tt1640486,Inside Out,Inside Out,"2,011",98,Inside Out,2015,"679,235,992"
334,tt5463162,Deadpool 2,Deadpool 2,"2,018",15,Deadpool 2,2018,"676,680,557"
147,tt1375666,Inception,Inception,"2,010",38,Inception,2010,"675,524,642"
165,tt4028068,Wonder Woman,Wonder Woman,"2,014",55,Wonder Woman,2017,"671,133,378"
89,tt3501632,Thor: Ragnarok,Thor: Ragnarok,"2,017",82,Thor: Ragnarok,2017,"666,980,024"
250,NaN,NaN,NaN,nan,39,Harry Potter and the Prisoner of Azkaban,2004,"666,907,323"
7,NaN,NaN,NaN,nan,8,Pirates of the Caribbean: At Worldâs End,2007,"663,420,425"
1656,tt1396484,It,It,"2,017",24,It,2017,"662,457,969"
52,NaN,NaN,NaN,nan,49,Guardians of the Galaxy Vol 2,2017,"662,316,233"
146,NaN,NaN,NaN,nan,37,Shrek the Third,2007,"647,330,936"
278,NaN,NaN,NaN,nan,65,The Da Vinci Code,2006,"642,820,459"
275,tt1951265,The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,"2,014",62,The Hunger Games: Mockingjay - Part 1,2014,"641,575,131"
780,tt1325004,The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,"2,010",53,The Twilight Saga: Eclipse,2010,"638,102,828"
1110,NaN,NaN,NaN,nan,82,The Twilight Saga: New Moon,2009,"637,557,727"
15,NaN,NaN,NaN,nan,16,Spider-Man 3,2007,"636,860,230"
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875"
1403,NaN,NaN,NaN,nan,75,The Sixth Sense,1999,"632,806,292"
149,NaN,NaN,NaN,nan,40,Fast and Furious 6,2013,"629,300,444"
36,NaN,NaN,NaN,nan,36,Transformers: Revenge of the Fallen,2009,"626,519,699"
1008,NaN,NaN,NaN,nan,82,Forrest Gump,1994,"624,850,637"
110,tt7002100,Coco,Coco,"2,017",2,Coco,2017,"623,008,101"
92,tt3183660,Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,"2,016",85,Fantastic Beasts and Where to Find Them,2016,"622,402,853"
17,tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,"2,016",18,Batman v Superman: Dawn of Justice,2016,"617,500,281"
99,NaN,NaN,NaN,nan,92,Mission: ImpossibleâFallout,2018,"609,456,552"
207,tt1277953,Madagascar 3: Europe's Most Wanted,Madagascar 3: Europe's Most Wanted,"2,012",97,Madagascar 3: Europe's Most Wanted,2012,"601,921,271"
82,NaN,NaN,NaN,nan,76,Indiana Jones and the Kingdom of the Crystal S...,2008,"601,635,413"
122,tt2015381,Guardians of the Galaxy,Guardians of the Galaxy,"2,014",14,Guardians of the Galaxy,2014,"600,867,516"
565,tt1392170,The Hunger Games,The Hunger Games,"2,012",38,The Hunger Games,2012,"597,923,379"
2197,NaN,NaN,NaN,nan,60,The Passion of the Christ,2004,"597,341,924"
53,NaN,NaN,NaN,nan,50,Spider-Man 2,2004,"595,110,670"
135,tt0892791,Shrek Forever After,Shrek Forever After,"2,010",27,Shrek Forever After,2010,"591,244,673"
170,NaN,NaN,NaN,nan,60,The Matrix Reloaded,2003,"588,576,929"
144,tt2771200,Beauty and the Beast,Beauty and the Beast,"2,017",86,Beauty and the Beast,1991,"588,431,132"

,tconst_x,primary_title_x,original_title_x,start_year_x,runtime_minutes,id_x,movie_x,release_year_x,total_profit_x,release_date,tconst_y,primary_title_y,original_title_y,start_year_y,id_y,movie_y,release_year_y,total_profit_y
0,tt1775309,Avatar,Abatâ,"2,011",93,1,Avatar,2009,"2,351,345,279",2009-12-18,NaN,NaN,NaN,nan,nan,NaN,nan,nan
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875",2011-05-20,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",2,Pirates of the Caribbean: On Stranger Tides,"2,011","635,063,875"
2,tt6565702,Dark Phoenix,Dark Phoenix,"2,019",113,3,Dark Phoenix,2019,"-200,237,650",2019-06-07,tt6565702,Dark Phoenix,Dark Phoenix,"2,019",3,Dark Phoenix,"2,019","-200,237,650"
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,4,Avengers: Age of Ultron,2015,"1,072,413,963",2015-05-01,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",4,Avengers: Age of Ultron,"2,015","1,072,413,963"
4,NaN,NaN,NaN,nan,nan,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747",2017-12-15,NaN,NaN,NaN,nan,nan,NaN,nan,nan
5,NaN,NaN,NaN,nan,nan,6,Star Wars Ep. VII: The Force Awakens,2015,"1,747,311,220",2015-12-18,NaN,NaN,NaN,nan,nan,NaN,nan,nan
6,tt4154756,Avengers: Infinity War,Avengers: Infinity War,"2,018",149,7,Avengers: Infinity War,2018,"1,748,134,200",2018-04-27,tt4154756,Avengers: Infinity War,Avengers: Infinity War,"2,018",7,Avengers: Infinity War,"2,018","1,748,134,200"
7,NaN,NaN,NaN,nan,nan,8,Pirates of the Caribbean: At Worldâs End,2007,"663,420,425",2007-05-24,NaN,NaN,NaN,nan,nan,NaN,nan,nan
8,tt0974015,Justice League,Justice League,"2,017",120,9,Justice League,2017,"355,945,209",2017-11-17,tt0974015,Justice League,Justice League,"2,017",9,Justice League,"2,017","355,945,209"
9,tt2379713,Spectre,Spectre,"2,015",148,10,Spectre,2015,"579,620,923",2015-11-06,tt2379713,Spectre,Spectre,"2,015",10,Spectre,"2,015","579,620,923"
10,tt1345836,The Dark Knight Rises,The Dark Knight Rises,"2,012",164,11,The Dark Knight Rises,2012,"809,439,099",2012-07-20,tt1345836,The Dark Knight Rises,The Dark Knight Rises,"2,012",11,The Dark Knight Rises,"2,012","809,439,099"
11,tt3778644,Solo: A Star Wars Story,Solo: A Star Wars Story,"2,018",135,12,Solo: A Star Wars Story,2018,"118,151,347",2018-05-25,tt3778644,Solo: A Star Wars Story,Solo: A Star Wars Story,"2,018",12,Solo: A Star Wars Story,"2,018","118,151,347"
12,tt1210819,The Lone Ranger,The Lone Ranger,"2,013",150,13,The Lone Ranger,2013,"-14,997,885",2013-07-02,tt1210819,The Lone Ranger,The Lone Ranger,"2,013",13,The Lone Ranger,"2,013","-14,997,885"
13,tt0401729,John Carter,John Carter,"2,012",132,14,John Carter,2012,"7,778,100",2012-03-09,tt0401729,John Carter,John Carter,"2,012",14,John Carter,"2,012","7,778,100"
14,tt0398286,Tangled,Tangled,"2,010",100,15,Tangled,2010,"326,477,240",2010-11-24,tt0398286,Tangled,Tangled,"2,010",15,Tangled,"2,010","326,477,240"
15,NaN,NaN,NaN,nan,nan,16,Spider-Man 3,2007,"636,860,230",2007-05-04,NaN,NaN,NaN,nan,nan,NaN,nan,nan
16,tt3498820,Captain America: Civil War,Captain America: Civil War,"2,016",147,17,Captain America: Civil War,2016,"890,069,413",2016-05-06,tt3498820,Captain America: Civil War,Captain America: Civil War,"2,016",17,Captain America: Civil War,"2,016","890,069,413"
17,tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,"2,016",151,18,Batman v Superman: Dawn of Justice,2016,"617,500,281",2016-03-25,tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,"2,016",18,Batman v Superman: Dawn of Justice,"2,016","617,500,281"
18,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,"2,012",169,19,The Hobbit: An Unexpected Journey,2012,"767,003,568",2012-12-14,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,"2,012",19,The Hobbit: An Unexpected Journey,"2,012","767,003,568"
19,NaN,NaN,NaN,nan,nan,20,Harry Potter and the Half-Blood Prince,2009,"685,213,767",2009-07-15,NaN,NaN,NaN,nan,nan,NaN,nan,nan
20,tt1170358,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,"2,013",161,21,The Hobbit: The Desolation of Smaug,2013,"710,366,855",2013-12-13,tt1170358,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,"2,013",21,The Hobbit: The Desolation of Smaug,"2,013","710,366,855"
21,tt2310332,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,"2,014",144,22,The Hobbit: The Battle of the Five Armies,2014,"695,577,621",2014-12-17,tt2310332,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,"2,014",22,The Hobbit: The Battle of the Five Armies,"2,014","695,577,621"
22,tt4630562,The Fate of the Furious,The Fate of the Furious,"2,017",136,23,The Fate of the Furious,2017,"984,846,267",2017-04-14,tt4630562,The Fate of the Furious,The Fate of the Furious,"2,017",23,The Fate of the Furious,"2,017","984,846,267"
23,NaN,NaN,NaN,nan,nan,24,Superman Returns,2006,"142,085,065",2006-06-28,NaN,NaN,NaN,nan,nan,NaN,nan,nan
24,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,"2,017",129,25,Pirates of the Caribbean: Dead Men Tell No Tales,2017,"558,241,137",2017-05-26,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,"2,017",25,Pirates of the Caribbean: Dead Men Tell No Tales,"2,017","558,241,137"
25,NaN,NaN,NaN,nan,nan,26,Quantum of Solace,2008,"361,692,078",2008-11-14,NaN,NaN,NaN,nan,nan,NaN,nan,nan
26,tt0848228,The Avengers,The Avengers,"2,012",143,27,The Avengers,2012,"1,292,935,897",2012-05-04,tt0848228,The Avengers,The Avengers,"2,012",27,The Avengers,"2,012","1,292,935,897"
27,tt0848228,The Avengers,The Avengers,"2,012",143,27,The Avengers,2012,"1,292,935,897",2012-05-04,tt0848228,The Avengers,The Avengers,"2,012",35,The Avengers,"1,998","-11,414,584"
28,tt0848228,The Avengers,The Avengers,"2,012",143,35,The Avengers,1998,"-11,414,584",1998-08-14,tt0848228,The Avengers,The Avengers,"2,012",27,The Avengers,"2,012","1,292,935,897"
29,tt0848228,The Avengers,The Avengers,"2,012",143,35,The Avengers,1998,"-11,414,584",1998-08-14,tt0848228,The Avengers,The Avengers,"2,012",35,The Avengers,"1,998","-11,414,584"
30,NaN,NaN,NaN,nan,nan,28,Pirates of the Caribbean: Dead Manâs Chest,2006,"841,215,812",2006-07-07,NaN,NaN,NaN,nan,nan,NaN,nan,nan
31,tt0770828,Man of Steel,Man of Steel,"2,013",143,29,Man of Steel,2013,"442,999,518",2013-06-14,tt0770828,Man of Steel,Man of Steel,"2,013",29,Man of Steel,"2,013","442,999,518"
32,NaN,NaN,NaN,nan,nan,30,The Chronicles of Narnia: Prince Caspian,2008,"192,341,288",2008-05-16,NaN,NaN,NaN,nan,nan,NaN,nan,nan
33,tt0948470,The Amazing Spider-Man,The Amazing Spider-Man,"2,012",136,31,The Amazing Spider-Man,2012,"537,890,267",2012-07-03,tt0948470,The Amazing Spider-Man,The Amazing Spider-Man,"2,012",31,The Amazing Spider-Man,"2,012","537,890,267"
34,tt1440129,Battleship,Battleship,"2,012",131,32,Battleship,2012,"93,477,717",2012-05-18,tt1440129,Battleship,Battleship,"2,012",32,Battleship,"2,012","93,477,717"
35,tt3371366,Transformers: The Last Knight,Transformers: The Last Knight,"2,017",154,33,Transformers: The Last Knight,2017,"385,893,340",2017-06-21,tt3371366,Transformers: The Last Knight,Transformers: The Last Knight,"2,017",33,Transformers: The Last Knight,"2,017","385,893,340"
36,tt0369610,Jurassic World,Jurassic World,"2,015",124,34,Jurassic World,2015,"1,433,854,864",2015-06-12,tt0369610,Jurassic World,Jurassic World,"2,015",34,Jurassic World,"2,015","1,433,854,864"
37,tt1409024,Men in Black 3,Men in Black 3,"2,012",106,35,Men in Black 3,2012,"439,213,485",2012-05-25,tt1409024,Men in Black 3,Men in Black 3,"2,012",35,Men in Black 3,"2,012","439,213,485"
38,NaN,NaN,NaN,nan,nan,36,Transformers: Revenge of the Fallen,2009,"626,519,699",2009-06-24,NaN,NaN,NaN,nan,nan,NaN,nan,nan
39,tt2109248,Transformers: Age of Extinction,Transformers: Age of Extinction,"2,014",165,37,Transformers: Age of Extinction,2014,"894,039,076",2014-06-27,tt2109248,Transformers: Age of Extinction,Transformers: Age of Extinction,"2,014",37,Transformers: Age of Extinction,"2,014","894,039,076"
40,NaN,NaN,NaN,nan,nan,38,X-Men: The Last Stand,2006,"249,260,946",2006-05-26,NaN,NaN,NaN,nan,nan,NaN,nan,nan
41,tt0955308,Robin Hood,Robin Hood,"2,010",140,39,Robin Hood,2010,"112,459,006",2010-05-14,tt0955308,Robin Hood,Robin Hood,"2,010",39,Robin Hood,"2,010","112,459,006"
42,tt0955308,Robin Hood,Robin Hood,"2,010",140,39,Robin Hood,2010,"112,459,006",2010-05-14,tt0955308,Robin Hood,Robin Hood,"2,010",9,Robin Hood,"2,018","-14,252,559"
43,tt0955308,Robin Hood,Robin Hood,"2,010",140,9,Robin Hood,2018,"-14,252,559",2018-11-21,tt0955308,Robin Hood,Robin Hood,"2,010",39,Robin Hood,"2,010","112,459,006"
44,tt0955308,Robin Hood,Robin Hood,"2,010",140,9,Robin Hood,2018,"-14,252,559",2018-11-21,tt0955308,Robin Hood,Robin Hood,"2,010",9,Robin Hood,"2,018","-14,252,559"
45,NaN,NaN,NaN,nan,nan,40,King Kong,2005,"343,517,357",2005-12-14,NaN,NaN,NaN,nan,nan,NaN,nan,nan
46,NaN,NaN,NaN,nan,nan,75,King Kong,1976,"67,614,445",1976-12-17,NaN,NaN,NaN,nan,nan,NaN,nan,nan
47,NaN,NaN,NaN,nan,nan,97,King Kong,1933,"9,328,650",1933-04-07,NaN,NaN,NaN,nan,nan,NaN,nan,nan
48,NaN,NaN,NaN,nan,nan,41,The Golden Compass,2007,"162,262,558",2007-12-07,NaN,NaN,NaN,nan,nan,NaN,nan,nan
49,tt1825683,Black Panther,Black Panther,"2,018",134,42,Black Panther,2018,"1,148,258,224",2018-02-16,tt1825683,Black Panther,Black Panther,"2,018",42,Black Panther,"2,018","1,148,258,224"
50,tt2495766,Titanic,Titanic,"2,012",nan,43,Titanic,1997,"2,008,208,395",1997-12-19,tt2495766,Titanic,Titanic,"2,012",43,Titanic,"1,997","2,008,208,395"
51,tt3606756,Incredibles 2,Incredibles 2,"2,018",118,44,Incredibles 2,2018,"1,042,520,711",2018-06-15,tt3606756,Incredibles 2,Incredibles 2,"2,018",44,Incredibles 2,"2,018","1,042,520,711"
52,tt3748528,Rogue One: A Star Wars Story,Rogue One,"2,016",133,45,Rogue One: A Star Wars Story,2016,"849,102,856",2016-12-16,NaN,NaN,NaN,nan,nan,NaN,nan,nan
53,tt2277860,Finding Dory,Finding Dory,"2,016",97,46,Finding Dory,2016,"821,215,193",2016-06-17,tt2277860,Finding Dory,Finding Dory,"2,016",46,Finding Dory,"2,016","821,215,193"
54,tt0435761,Toy Story 3,Toy Story 3,"2,010",103,47,Toy Story 3,2010,"868,879,522",2010-06-18,tt0435761,Toy Story 3,Toy Story 3,"2,010",47,Toy Story 3,"2,010","868,879,522"
55,tt1300854,Iron Man 3,Iron Man Three,"2,013",130,48,Iron Man 3,2013,"1,015,392,272",2013-05-03,NaN,NaN,NaN,nan,nan,NaN,nan,nan
56,NaN,NaN,NaN,nan,nan,49,Guardians of the Galaxy Vol 2,2017,"662,316,233",2017-05-05,NaN,NaN,NaN,nan,nan,NaN,nan,nan
57,NaN,NaN,NaN,nan,nan,50,Spider-Man 2,2004,"595,110,670",2004-06-30,NaN,NaN,NaN,nan,nan,NaN,nan,nan
58,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",99,51,Alice in Wonderland,2010,"825,491,110",2010-03-05,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",51,Alice in Wonderland,"2,010","825,491,110"
59,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",99,51,Alice in Wonderland,2010,"825,491,110",2010-03-05,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",60,Alice in Wonderland,"1,951","-3,000,000"
60,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",99,60,Alice in Wonderland,1951,"-3,000,000",1951-07-28,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",51,Alice in Wonderland,"2,010","825,491,110"
61,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",99,60,Alice in Wonderland,1951,"-3,000,000",1951-07-28,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",60,Alice in Wonderland,"1,951","-3,000,000"
62,tt1074638,Skyfall,Skyfall,"2,012",143,52,Skyfall,2012,"910,526,981",2012-11-08,tt1074638,Skyfall,Skyfall,"2,012",52,Skyfall,"2,012","910,526,981"
63,tt1453405,Monsters University,Monsters University,"2,013",104,53,Monsters University,2013,"543,588,329",2013-06-21,tt1453405,Monsters University,Monsters University,"2,013",53,Monsters University,"2,013","543,588,329"
64,tt1623205,Oz the Great and Powerful,Oz the Great and Powerful,"2,013",130,54,Oz the Great and Powerful,2013,"290,359,051",2013-03-08,tt1623205,Oz the Great and Powerful,Oz the Great and Powerful,"2,013",54,Oz the Great and Powerful,"2,013","290,359,051"
65,tt1877832,X-Men: Days of Future Past,X-Men: Days of Future Past,"2,014",132,55,X-Men: Days of Future Past,2014,"547,862,775",2014-05-23,tt1877832,X-Men: Days of Future Past,X-Men: Days of Future Past,"2,014",55,X-Men: Days of Future Past,"2,014","547,862,775"
66,tt1872181,The Amazing Spider-Man 2,The Amazing Spider-Man 2,"2,014",142,56,The Amazing Spider-Man 2,2014,"508,996,336",2014-05-02,tt1872181,The Amazing Spider-Man 2,The Amazing Spider-Man 2,"2,014",56,The Amazing Spider-Man 2,"2,014","508,996,336"
67,tt1216475,Cars 2,Cars 2,"2,011",106,57,Cars 2,2011,"360,155,383",2011-06-24,tt1216475,Cars 2,Cars 2,"2,011",57,Cars 2,"2,011","360,155,383"
68,NaN,NaN,NaN,nan,nan,58,Tron: Legacy,2010,"200,062,763",2010-12-17,NaN,NaN,NaN,nan,nan,NaN,nan,nan
69,NaN,NaN,NaN,nan,nan,59,2012,2009,"557,677,748",2009-11-13,NaN,NaN,NaN,nan,nan,NaN,nan,nan
70,tt4123430,Fantastic Beasts: The Crimes of Grindelwald,Fantastic Beasts: The Crimes of Grindelwald,"2,018",134,60,Fantastic Beasts: The Crimes of Grindelwald,2018,"452,220,086",2018-11-16,tt4123430,Fantastic Beasts: The Crimes of Grindelwald,Fantastic Beasts: The Crimes of Grindelwald,"2,018",60,Fantastic Beasts: The Crimes of Grindelwald,"2,018","452,220,086"
71,NaN,NaN,NaN,nan,nan,61,Terminator Salvation,2009,"165,491,792",2009-05-21,NaN,NaN,NaN,nan,nan,NaN,nan,nan
72,tt1133985,Green Lantern,Green Lantern,"2,011",114,62,Green Lantern,2011,"19,535,492",2011-06-17,tt1133985,Green Lantern,Green Lantern,"2,011",62,Green Lantern,"2,011","19,535,492"
73,NaN,NaN,NaN,nan,nan,63,Prince of Persia: Sands of Time,2010,"136,359,676",2010-05-28,NaN,NaN,NaN,nan,nan,NaN,nan,nan
74,tt1399103,Transformers: Dark of the Moon,Transformers: Dark of the Moon,"2,011",154,64,Transformers: Dark of the Moon,2011,"928,790,543",2011-06-29,tt1399103,Transformers: Dark of the Moon,Transformers: Dark of the Moon,"2,011",64,Transformers: Dark of the Moon,"2,011","928,790,543"
75,tt2345759,The Mummy,The Mummy,"2,017",110,65,The Mummy,2017,"214,953,905",2017-06-09,tt2345759,The Mummy,The Mummy,"2,017",65,The Mummy,"2,017","214,953,905"
76,tt2345759,The Mummy,The Mummy,"2,017",110,65,The Mummy,2017,"214,953,905",2017-06-09,tt2345759,The Mummy,The Mummy,"2,017",44,The Mummy,"1,999","336,385,488"
77,tt2345759,The Mummy,The Mummy,"2,017",110,44,The Mummy,1999,"336,385,488",1999-05-07,tt2345759,The Mummy,The Mummy,"2,017",65,The Mummy,"2,017","214,953,905"
78,tt2345759,The Mummy,The Mummy,"2,017",110,44,The Mummy,1999,"336,385,488",1999-05-07,tt2345759,The Mummy,The Mummy,"2,017",44,The Mummy,"1,999","336,385,488"
79,tt1351685,Jack the Giant Slayer,Jack the Giant Slayer,"2,013",114,66,Jack the Giant Slayer,2013,"2,687,603",2013-03-01,tt1351685,Jack the Giant Slayer,Jack the Giant Slayer,"2,013",66,Jack the Giant Slayer,"2,013","2,687,603"
80,tt2820852,Furious 7,Furious Seven,"2,015",137,67,Furious 7,2015,"1,328,722,794",2015-04-03,NaN,NaN,NaN,nan,nan,NaN,nan,nan
81,tt1408101,Star Trek Into Darkness,Star Trek Into Darkness,"2,013",132,68,Star Trek Into Darkness,2013,"277,381,584",2013-05-16,tt1408101,Star Trek Into Darkness,Star Trek Into Darkness,"2,013",68,Star Trek Into Darkness,"2,013","277,381,584"
82,tt0816711,World War Z,World War Z,"2,013",116,69,World War Z,2013,"341,514,650",2013-06-21,tt0816711,World War Z,World War Z,"2,013",69,World War Z,"2,013","341,514,650"
83,tt1343092,The Great Gatsby,The Great Gatsby,"2,013",143,70,The Great Gatsby,2013,"161,040,419",2013-05-10,tt1343092,The Great Gatsby,The Great Gatsby,"2,013",70,The Great Gatsby,"2,013","161,040,419"
84,tt1343092,The Great Gatsby,The Great Gatsby,"2,013",143,70,The Great Gatsby,2013,"161,040,419",2013-05-10,tt1343092,The Great Gatsby,The Great Gatsby,"2,013",100,The Great Gatsby,"1,974","19,533,200"
85,tt1343092,The Great Gatsby,The Great Gatsby,"2,013",143,100,The Great Gatsby,1974,"19,533,200",1974-03-29,tt1343092,The Great Gatsby,The Great Gatsby,"2,013",70,The Great Gatsby,"2,013","161,040,419"
86,tt1343092,The Great Gatsby,The Great Gatsby,"2,013",143,100,The Great Gatsby,1974,"19,533,200",1974-03-29,tt1343092,The Great Gatsby,The Great Gatsby,"2,013",100,The Great Gatsby,"1,974","19,533,200"
87,NaN,NaN,NaN,nan,nan,71,Disneyâs A Christmas Carol,2009,"125,709,697",2009-11-06,NaN,NaN,NaN,nan,nan,NaN,nan,nan
88,tt1663662,Pacific Rim,Pacific Rim,"2,013",131,72,Pacific Rim,2013,"221,002,906",2013-07-12,tt1663662,Pacific Rim,Pacific Rim,"2,013",72,Pacific Rim,"2,013","221,002,906"
89,tt1979388,The Good Dinosaur,The Good Dinosaur,"2,015",93,73,The Good Dinosaur,2015,"146,271,037",2015-11-25,tt1979388,The Good Dinosaur,The Good Dinosaur,"2,015",73,The Good Dinosaur,"2,015","146,271,037"
90,tt3375556,Iron Man,Adam Ahani,"2,013",84,74,Iron Man,2008,"399,171,547",2008-05-02,NaN,NaN,NaN,nan,nan,NaN,nan,nan
91,NaN,NaN,NaN,nan,nan,75,The Dark Knight,2008,"816,996,207",2008-07-18,NaN,NaN,NaN,nan,nan,NaN,nan,nan
92,NaN,NaN,NaN,nan,nan,76,Indiana Jones and the Kingdom of the Crystal S...,2008,"601,635,413",2008-05-22,NaN,NaN,NaN,nan,nan,NaN,nan,nan
93,tt1217209,Brave,Brave,"2,012",93,77,Brave,2012,"369,606,532",2012-06-22,tt1217209,Brave,Brave,"2,012",77,Brave,"2,012","369,606,532"
94,tt3731562,Kong: Skull Island,Kong: Skull Island,"2,017",118,78,Kong: Skull Island,2017,"376,072,059",2017-03-10,tt3731562,Kong: Skull Island,Kong: Skull Island,"2,017",78,Kong: Skull Island,"2,017","376,072,059"
95,tt2660888,Star Trek Beyond,Star Trek Beyond,"2,016",122,79,Star Trek Beyond,2016,"150,802,233",2016-07-22,tt2660888,Star Trek Beyond,Star Trek Beyond,"2,016",79,Star Trek Beyond,"2,016","150,802,233"
96,tt1856101,Blade Runner 2049,Blade Runner 2049,"2,017",164,80,Blade Runner 2049,2017,"74,357,408",2017-10-06,tt1856101,Blade Runner 2049,Blade Runner 2049,"2,017",80,Blade Runner 2049,"2,017","74,357,408"
97,tt6139732,Aladdin,Aladdin,"2,019",128,81,Aladdin,2019,"437,234,314",2019-05-24,tt6139732,Aladdin,Aladdin,"2,019",81,Aladdin,"2,019","437,234,314"
98,tt6139732,Aladdin,Aladdin,"2,019",128,81,Aladdin,2019,"437,234,314",2019-05-24,tt6139732,Aladdin,Aladdin,"2,019",33,Aladdin,"1,992","476,050,219"
99,tt6139732,Aladdin,Aladdin,"2,019",128,33,Aladdin,1992,"476,050,219",1992-11-11,tt6139732,Aladdin,Aladdin,"2,019",81,Aladdin,"2,019","437,234,314"

In [381]:
super_df_duplicates = super_df[super_df.duplicated()]
super_df_duplicates

Empty DataFrame
Columns: [tconst_x, primary_title_x, original_title_x, start_year_x, runtime_minutes, id_x, movie_x, release_year_x, total_profit_x, release_date, tconst_y, primary_title_y, original_title_y, start_year_y, id_y, movie_y, release_year_y, total_profit_y]
Index: []

In [382]:
super_df.sort_values('movie', ascending=True)

KeyError: 'movie'

In [152]:
#Exploring some more datasets to see which ones I want to use.
merged_rt_df = pd.merge(table6, table8, on= 'id', how='outer')
merged_rt_df

,id,review,rating_x,fresh,critic,top_critic,publisher,date,synopsis,rating_y,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018","New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018","New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018","New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017","New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017","New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54852,1983,NaN,NaN,NaN,NaN,nan,NaN,NaN,This animated children's film spoofs the Sherl...,G,Action and Adventure|Animation|Kids and Family,Burny Mattinson|Ron Clements|John Musker|Dave ...,NaN,"Jul 2, 1986","Jul 23, 2002",NaN,NaN,74 minutes,NaN
54853,1985,NaN,NaN,NaN,NaN,nan,NaN,NaN,A woman who joins the undead against her will ...,R,Horror|Mystery and Suspense,Sebastian Gutierrez,Sebastian Gutierrez,"Jun 1, 2007","Oct 9, 2007",$,"59,371",98 minutes,IDP Distribution
54854,1988,NaN,NaN,NaN,NaN,nan,NaN,NaN,When the money-hungry Duke Stuyvesant (Sterlin...,R,Comedy,Les Rose,NaN,NaN,NaN,NaN,NaN,94 minutes,NaN
54855,1989,NaN,NaN,NaN,NaN,nan,NaN,NaN,Hungarian Rhapsody (Magyar Rapszodia) is the f...,NR,Art House and International|Drama,NaN,NaN,NaN,NaN,NaN,NaN,101 minutes,NaN
54856,1990,NaN,NaN,NaN,NaN,nan,NaN,NaN,A hard-working Sicilian heads for Switzerland ...,R,Art House and International|Comedy|Drama,Franco Brusati,Nino Manfredi|Franco Brusati|Iaia Fiastri,"Jun 1, 1974","May 2, 2005",NaN,NaN,112 minutes,NaN

In [153]:
#I can't figure out how to find the movie title on the RT database.
#with API I could possibly scrape it.
merged_rt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54857 entries, 0 to 54856
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            54857 non-null  int64
 1   review        48869 non-null  object
 2   rating_x      40915 non-null  object
 3   fresh         54432 non-null  object
 4   critic        51710 non-null  object
 5   top_critic    54432 non-null  float64
 6   publisher     54123 non-null  object
 7   date          54432 non-null  object
 8   synopsis      54680 non-null  object
 9   rating_y      54769 non-null  object
 10  genre         54764 non-null  object
 11  director      49339 non-null  object
 12  writer        45426 non-null  object
 13  theater_date  53411 non-null  object
 14  dvd_date      53411 non-null  object
 15  currency      33351 non-null  object
 16  box_office    33351 non-null  object
 17  runtime       54001 non-null  object
 18  studio        40204 non-null  object
dtypes: float64(1), int64(1), object(17)
memory usage: 8.4+ MB

In [239]:
merged_rt_df_2 = merged_rt_df

In [310]:
merged_rt_df['runtime'].isna().sum()

856

In [330]:
corrected_runtime = merged_rt_df_2['runtime'].fillna(0)

In [331]:
corrected_runtime

0        108 minutes
1        108 minutes
163      116 minutes
170      116 minutes
186      128 minutes
            ...
54852     74 minutes
54853     98 minutes
54854     94 minutes
54855    101 minutes
54856    112 minutes
Name: runtime, Length: 2495, dtype: object

In [332]:
corrected_runtime_2 = corrected_runtime.str[:3]
corrected_runtime_2

0        108
1        108
163      116
170      116
186      128
        ...
54852    74
54853    98
54854    94
54855    101
54856    112
Name: runtime, Length: 2495, dtype: object

In [333]:
corrected_runtime_2.isna().sum()

39

In [334]:
corrected_runtime_3 = corrected_runtime_2.fillna(0)

In [335]:
corrected_runtime_3.value_counts()

90     111
95     106
100     76
98      72
93      69
96      69
91      62
92      60
94      59
89      58
105     58
110     57
108     55
104     54
120     50
85      49
103     47
114     47
102     46
88      46
99      45
97      45
115     45
111     44
106     41
101     40
0       39
119     39
117     38
109     38
107     38
86      35
116     34
118     34
80      31
112     31
84      30
126     29
87      29
113     28
121     24
127     23
125     19
128     19
83      18
124     18
123     17
129     16
133     15
82      14
122     12
75      12
130     11
132     11
70      10
142     10
60       9
79       8
81       8
145      8
76       8
134      7
135      7
140      7
144      6
143      6
131      6
136      6
179      6
150      6
157      5
67       5
155      5
65       5
188      4
147      4
148      4
73       4
138      4
77       4
139      4
137      4
196      3
149      3
58       3
158      3
78       3
180      3
59       3
161      3
156      3
74       3
175      3
71       3
164      3
141      3
146      3
69       3
229      2
170      2
166      2
52       2
358      2
184      2
153      2
174      2
63       2
205      2
165      2
72       2
64       2
11       2
171      2
154      2
167      2
159      2
68       2
200      1
55       1
183      1
178      1
294      1
313      1
5 m      1
23       1
33       1
61       1
56       1
7 m      1
15       1
13       1
57       1
192      1
45       1
290      1
152      1
195      1
30       1
240      1
54       1
6 m      1
10       1
186      1
Name: runtime, dtype: int64

In [338]:
merged_rt_df_2['runtime'] = corrected_runtime_3

In [340]:
merged_rt_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2495 entries, 0 to 54856
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            2495 non-null   int64
 1   fresh         2070 non-null   object
 2   rating_y      2491 non-null   object
 3   theater_date  2074 non-null   datetime64[ns]
 4   runtime       2495 non-null   object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 117.0+ KB

In [254]:
merged_rt_df_2 = merged_rt_df_2.drop('box_office', axis=1)
merged_rt_df_2.head(10)

   id   fresh rating_y  theater_date      runtime
0   3   fresh        R  Aug 17, 2012  108 minutes
1   3  rotten        R  Aug 17, 2012  108 minutes
2   3   fresh        R  Aug 17, 2012  108 minutes
3   3   fresh        R  Aug 17, 2012  108 minutes
4   3   fresh        R  Aug 17, 2012  108 minutes
5   3   fresh        R  Aug 17, 2012  108 minutes
6   3  rotten        R  Aug 17, 2012  108 minutes
7   3  rotten        R  Aug 17, 2012  108 minutes
8   3   fresh        R  Aug 17, 2012  108 minutes
9   3   fresh        R  Aug 17, 2012  108 minutes

In [304]:
merged_rt_df_2['runtime'].isna().sum()

39

In [306]:
#droping null values so I can convert the reamining ones to float.
merged_rt_df_2['runtime'].dropna(NaN)

NameError: name 'NaN' is not defined

In [315]:
cleaned_runtime = merged_rt_df_2['runtime'].str[:3]
cleaned_runtime.tail(5)

54852    74
54853    98
54854    94
54855    101
54856    112
Name: runtime, dtype: object

In [282]:
cleaned_theater_date = pd.to_datetime(merged_rt_df_2['theater_date'])
cleaned_theater_date

0       2012-08-17
1       2012-08-17
2       2012-08-17
3       2012-08-17
4       2012-08-17
           ...
54852   1986-07-02
54853   2007-06-01
54854          NaT
54855          NaT
54856   1974-06-01
Name: theater_date, Length: 54857, dtype: datetime64[ns]

In [283]:
merged_rt_df_2["theater_date"] = cleaned_theater_date
merged_rt_df_2

         id   fresh rating_y theater_date      runtime
0         3   fresh        R   2012-08-17  108 minutes
1         3  rotten        R   2012-08-17  108 minutes
2         3   fresh        R   2012-08-17  108 minutes
3         3   fresh        R   2012-08-17  108 minutes
4         3   fresh        R   2012-08-17  108 minutes
...     ...     ...      ...          ...          ...
54852  1983     NaN        G   1986-07-02   74 minutes
54853  1985     NaN        R   2007-06-01   98 minutes
54854  1988     NaN        R          NaT   94 minutes
54855  1989     NaN       NR          NaT  101 minutes
54856  1990     NaN        R   1974-06-01  112 minutes

[54857 rows x 5 columns]

In [289]:
df = merged_rt_df_2

In [343]:
duplicates = df[df.duplicated()]
print(len(duplicates))
duplicates.head()

0

Empty DataFrame
Columns: [id, fresh, rating_y, theater_date, runtime]
Index: []

df.drop_duplicates(keep='first', inplace=True)

In [346]:
merged_with_rt_2 = pd.merge(merged_df_2, merged_rt_df_2,  how='left', right_on=['theater_date','runtime'], left_on = ['release_date','runtime_minutes'])

In [349]:
merged_with_rt_2.sort_values('theater_date', ascending=True).head(100)

,tconst,primary_title,original_title,start_year,runtime_minutes,id_x,movie,release_year,total_profit,release_date,id_y,fresh,rating_y,theater_date,runtime
0,tt1775309,Avatar,Abatâ,"2,011",93,1,Avatar,2009,"2,351,345,279",2009-12-18,nan,NaN,NaN,NaT,NaN
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",136,2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875",2011-05-20,nan,NaN,NaN,NaT,NaN
2,tt6565702,Dark Phoenix,Dark Phoenix,"2,019",113,3,Dark Phoenix,2019,"-200,237,650",2019-06-07,nan,NaN,NaN,NaT,NaN
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",141,4,Avengers: Age of Ultron,2015,"1,072,413,963",2015-05-01,nan,NaN,NaN,NaT,NaN
4,NaN,NaN,NaN,nan,NaN,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747",2017-12-15,nan,NaN,NaN,NaT,NaN
5,NaN,NaN,NaN,nan,NaN,6,Star Wars Ep. VII: The Force Awakens,2015,"1,747,311,220",2015-12-18,nan,NaN,NaN,NaT,NaN
6,tt4154756,Avengers: Infinity War,Avengers: Infinity War,"2,018",149,7,Avengers: Infinity War,2018,"1,748,134,200",2018-04-27,nan,NaN,NaN,NaT,NaN
7,NaN,NaN,NaN,nan,NaN,8,Pirates of the Caribbean: At Worldâs End,2007,"663,420,425",2007-05-24,nan,NaN,NaN,NaT,NaN
8,tt0974015,Justice League,Justice League,"2,017",120,9,Justice League,2017,"355,945,209",2017-11-17,nan,NaN,NaN,NaT,NaN
9,tt2379713,Spectre,Spectre,"2,015",148,10,Spectre,2015,"579,620,923",2015-11-06,nan,NaN,NaN,NaT,NaN
10,tt1345836,The Dark Knight Rises,The Dark Knight Rises,"2,012",164,11,The Dark Knight Rises,2012,"809,439,099",2012-07-20,nan,NaN,NaN,NaT,NaN
11,tt3778644,Solo: A Star Wars Story,Solo: A Star Wars Story,"2,018",135,12,Solo: A Star Wars Story,2018,"118,151,347",2018-05-25,nan,NaN,NaN,NaT,NaN
12,tt1210819,The Lone Ranger,The Lone Ranger,"2,013",150,13,The Lone Ranger,2013,"-14,997,885",2013-07-02,nan,NaN,NaN,NaT,NaN
13,tt0401729,John Carter,John Carter,"2,012",132,14,John Carter,2012,"7,778,100",2012-03-09,nan,NaN,NaN,NaT,NaN
14,tt0398286,Tangled,Tangled,"2,010",100,15,Tangled,2010,"326,477,240",2010-11-24,nan,NaN,NaN,NaT,NaN
15,NaN,NaN,NaN,nan,NaN,16,Spider-Man 3,2007,"636,860,230",2007-05-04,nan,NaN,NaN,NaT,NaN
16,tt3498820,Captain America: Civil War,Captain America: Civil War,"2,016",147,17,Captain America: Civil War,2016,"890,069,413",2016-05-06,nan,NaN,NaN,NaT,NaN
17,tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,"2,016",151,18,Batman v Superman: Dawn of Justice,2016,"617,500,281",2016-03-25,nan,NaN,NaN,NaT,NaN
18,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,"2,012",169,19,The Hobbit: An Unexpected Journey,2012,"767,003,568",2012-12-14,nan,NaN,NaN,NaT,NaN
19,NaN,NaN,NaN,nan,NaN,20,Harry Potter and the Half-Blood Prince,2009,"685,213,767",2009-07-15,nan,NaN,NaN,NaT,NaN
20,tt1170358,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,"2,013",161,21,The Hobbit: The Desolation of Smaug,2013,"710,366,855",2013-12-13,nan,NaN,NaN,NaT,NaN
21,tt2310332,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,"2,014",144,22,The Hobbit: The Battle of the Five Armies,2014,"695,577,621",2014-12-17,nan,NaN,NaN,NaT,NaN
22,tt4630562,The Fate of the Furious,The Fate of the Furious,"2,017",136,23,The Fate of the Furious,2017,"984,846,267",2017-04-14,nan,NaN,NaN,NaT,NaN
23,NaN,NaN,NaN,nan,NaN,24,Superman Returns,2006,"142,085,065",2006-06-28,nan,NaN,NaN,NaT,NaN
24,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,"2,017",129,25,Pirates of the Caribbean: Dead Men Tell No Tales,2017,"558,241,137",2017-05-26,nan,NaN,NaN,NaT,NaN
25,NaN,NaN,NaN,nan,NaN,26,Quantum of Solace,2008,"361,692,078",2008-11-14,nan,NaN,NaN,NaT,NaN
26,tt0848228,The Avengers,The Avengers,"2,012",143,27,The Avengers,2012,"1,292,935,897",2012-05-04,nan,NaN,NaN,NaT,NaN
27,tt0848228,The Avengers,The Avengers,"2,012",143,35,The Avengers,1998,"-11,414,584",1998-08-14,nan,NaN,NaN,NaT,NaN
28,NaN,NaN,NaN,nan,NaN,28,Pirates of the Caribbean: Dead Manâs Chest,2006,"841,215,812",2006-07-07,nan,NaN,NaN,NaT,NaN
29,tt0770828,Man of Steel,Man of Steel,"2,013",143,29,Man of Steel,2013,"442,999,518",2013-06-14,nan,NaN,NaN,NaT,NaN
30,NaN,NaN,NaN,nan,NaN,30,The Chronicles of Narnia: Prince Caspian,2008,"192,341,288",2008-05-16,nan,NaN,NaN,NaT,NaN
31,tt0948470,The Amazing Spider-Man,The Amazing Spider-Man,"2,012",136,31,The Amazing Spider-Man,2012,"537,890,267",2012-07-03,nan,NaN,NaN,NaT,NaN
32,tt1440129,Battleship,Battleship,"2,012",131,32,Battleship,2012,"93,477,717",2012-05-18,nan,NaN,NaN,NaT,NaN
33,tt3371366,Transformers: The Last Knight,Transformers: The Last Knight,"2,017",154,33,Transformers: The Last Knight,2017,"385,893,340",2017-06-21,nan,NaN,NaN,NaT,NaN
34,tt0369610,Jurassic World,Jurassic World,"2,015",124,34,Jurassic World,2015,"1,433,854,864",2015-06-12,nan,NaN,NaN,NaT,NaN
35,tt1409024,Men in Black 3,Men in Black 3,"2,012",106,35,Men in Black 3,2012,"439,213,485",2012-05-25,nan,NaN,NaN,NaT,NaN
36,NaN,NaN,NaN,nan,NaN,36,Transformers: Revenge of the Fallen,2009,"626,519,699",2009-06-24,nan,NaN,NaN,NaT,NaN
37,tt2109248,Transformers: Age of Extinction,Transformers: Age of Extinction,"2,014",165,37,Transformers: Age of Extinction,2014,"894,039,076",2014-06-27,nan,NaN,NaN,NaT,NaN
38,NaN,NaN,NaN,nan,NaN,38,X-Men: The Last Stand,2006,"249,260,946",2006-05-26,nan,NaN,NaN,NaT,NaN
39,tt0955308,Robin Hood,Robin Hood,"2,010",140,39,Robin Hood,2010,"112,459,006",2010-05-14,nan,NaN,NaN,NaT,NaN
40,tt0955308,Robin Hood,Robin Hood,"2,010",140,9,Robin Hood,2018,"-14,252,559",2018-11-21,nan,NaN,NaN,NaT,NaN
41,NaN,NaN,NaN,nan,NaN,40,King Kong,2005,"343,517,357",2005-12-14,nan,NaN,NaN,NaT,NaN
42,NaN,NaN,NaN,nan,NaN,75,King Kong,1976,"67,614,445",1976-12-17,nan,NaN,NaN,NaT,NaN
43,NaN,NaN,NaN,nan,NaN,97,King Kong,1933,"9,328,650",1933-04-07,nan,NaN,NaN,NaT,NaN
44,NaN,NaN,NaN,nan,NaN,41,The Golden Compass,2007,"162,262,558",2007-12-07,nan,NaN,NaN,NaT,NaN
45,tt1825683,Black Panther,Black Panther,"2,018",134,42,Black Panther,2018,"1,148,258,224",2018-02-16,nan,NaN,NaN,NaT,NaN
46,tt2495766,Titanic,Titanic,"2,012",NaN,43,Titanic,1997,"2,008,208,395",1997-12-19,nan,NaN,NaN,NaT,NaN
47,tt3606756,Incredibles 2,Incredibles 2,"2,018",118,44,Incredibles 2,2018,"1,042,520,711",2018-06-15,nan,NaN,NaN,NaT,NaN
48,tt3748528,Rogue One: A Star Wars Story,Rogue One,"2,016",133,45,Rogue One: A Star Wars Story,2016,"849,102,856",2016-12-16,nan,NaN,NaN,NaT,NaN
49,tt2277860,Finding Dory,Finding Dory,"2,016",97,46,Finding Dory,2016,"821,215,193",2016-06-17,nan,NaN,NaN,NaT,NaN
50,tt0435761,Toy Story 3,Toy Story 3,"2,010",103,47,Toy Story 3,2010,"868,879,522",2010-06-18,nan,NaN,NaN,NaT,NaN
51,tt1300854,Iron Man 3,Iron Man Three,"2,013",130,48,Iron Man 3,2013,"1,015,392,272",2013-05-03,nan,NaN,NaN,NaT,NaN
52,NaN,NaN,NaN,nan,NaN,49,Guardians of the Galaxy Vol 2,2017,"662,316,233",2017-05-05,nan,NaN,NaN,NaT,NaN
53,NaN,NaN,NaN,nan,NaN,50,Spider-Man 2,2004,"595,110,670",2004-06-30,nan,NaN,NaN,NaT,NaN
54,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",99,51,Alice in Wonderland,2010,"825,491,110",2010-03-05,nan,NaN,NaN,NaT,NaN
55,tt2049386,Alice in Wonderland,Alice in Wonderland,"2,010",99,60,Alice in Wonderland,1951,"-3,000,000",1951-07-28,nan,NaN,NaN,NaT,NaN
56,tt1074638,Skyfall,Skyfall,"2,012",143,52,Skyfall,2012,"910,526,981",2012-11-08,nan,NaN,NaN,NaT,NaN
57,tt1453405,Monsters University,Monsters University,"2,013",104,53,Monsters University,2013,"543,588,329",2013-06-21,nan,NaN,NaN,NaT,NaN
58,tt1623205,Oz the Great and Powerful,Oz the Great and Powerful,"2,013",130,54,Oz the Great and Powerful,2013,"290,359,051",2013-03-08,nan,NaN,NaN,NaT,NaN
59,tt1877832,X-Men: Days of Future Past,X-Men: Days of Future Past,"2,014",132,55,X-Men: Days of Future Past,2014,"547,862,775",2014-05-23,nan,NaN,NaN,NaT,NaN
60,tt1872181,The Amazing Spider-Man 2,The Amazing Spider-Man 2,"2,014",142,56,The Amazing Spider-Man 2,2014,"508,996,336",2014-05-02,nan,NaN,NaN,NaT,NaN
61,tt1216475,Cars 2,Cars 2,"2,011",106,57,Cars 2,2011,"360,155,383",2011-06-24,nan,NaN,NaN,NaT,NaN
62,NaN,NaN,NaN,nan,NaN,58,Tron: Legacy,2010,"200,062,763",2010-12-17,nan,NaN,NaN,NaT,NaN
63,NaN,NaN,NaN,nan,NaN,59,2012,2009,"557,677,748",2009-11-13,nan,NaN,NaN,NaT,NaN
64,tt4123430,Fantastic Beasts: The Crimes of Grindelwald,Fantastic Beasts: The Crimes of Grindelwald,"2,018",134,60,Fantastic Beasts: The Crimes of Grindelwald,2018,"452,220,086",2018-11-16,nan,NaN,NaN,NaT,NaN
65,NaN,NaN,NaN,nan,NaN,61,Terminator Salvation,2009,"165,491,792",2009-05-21,nan,NaN,NaN,NaT,NaN
66,tt1133985,Green Lantern,Green Lantern,"2,011",114,62,Green Lantern,2011,"19,535,492",2011-06-17,nan,NaN,NaN,NaT,NaN
67,NaN,NaN,NaN,nan,NaN,63,Prince of Persia: Sands of Time,2010,"136,359,676",2010-05-28,nan,NaN,NaN,NaT,NaN
68,tt1399103,Transformers: Dark of the Moon,Transformers: Dark of the Moon,"2,011",154,64,Transformers: Dark of the Moon,2011,"928,790,543",2011-06-29,nan,NaN,NaN,NaT,NaN
69,tt2345759,The Mummy,The Mummy,"2,017",110,65,The Mummy,2017,"214,953,905",2017-06-09,nan,NaN,NaN,NaT,NaN
70,tt2345759,The Mummy,The Mummy,"2,017",110,44,The Mummy,1999,"336,385,488",1999-05-07,nan,NaN,NaN,NaT,NaN
71,tt1351685,Jack the Giant Slayer,Jack the Giant Slayer,"2,013",114,66,Jack the Giant Slayer,2013,"2,687,603",2013-03-01,nan,NaN,NaN,NaT,NaN
72,tt2820852,Furious 7,Furious Seven,"2,015",137,67,Furious 7,2015,"1,328,722,794",2015-04-03,nan,NaN,NaN,NaT,NaN
73,tt1408101,Star Trek Into Darkness,Star Trek Into Darkness,"2,013",132,68,Star Trek Into Darkness,2013,"277,381,584",2013-05-16,nan,NaN,NaN,NaT,NaN
74,tt0816711,World War Z,World War Z,"2,013",116,69,World War Z,2013,"341,514,650",2013-06-21,nan,NaN,NaN,NaT,NaN
75,tt1343092,The Great Gatsby,The Great Gatsby,"2,013",143,70,The Great Gatsby,2013,"161,040,419",2013-05-10,nan,NaN,NaN,NaT,NaN
76,tt1343092,The Great Gatsby,The Great Gatsby,"2,013",143,100,The Great Gatsby,1974,"19,533,200",1974-03-29,nan,NaN,NaN,NaT,NaN
77,NaN,NaN,NaN,nan,NaN,71,Disneyâs A Christmas Carol,2009,"125,709,697",2009-11-06,nan,NaN,NaN,NaT,NaN
78,tt1663662,Pacific Rim,Pacific Rim,"2,013",131,72,Pacific Rim,2013,"221,002,906",2013-07-12,nan,NaN,NaN,NaT,NaN
79,tt1979388,The Good Dinosaur,The Good Dinosaur,"2,015",93,73,The Good Dinosaur,2015,"146,271,037",2015-11-25,nan,NaN,NaN,NaT,NaN
80,tt3375556,Iron Man,Adam Ahani,"2,013",84,74,Iron Man,2008,"399,171,547",2008-05-02,nan,NaN,NaN,NaT,NaN
81,NaN,NaN,NaN,nan,NaN,75,The Dark Knight,2008,"816,996,207",2008-07-18,nan,NaN,NaN,NaT,NaN
82,NaN,NaN,NaN,nan,NaN,76,Indiana Jones and the Kingdom of the Crystal S...,2008,"601,635,413",2008-05-22,nan,NaN,NaN,NaT,NaN
83,tt1217209,Brave,Brave,"2,012",93,77,Brave,2012,"369,606,532",2012-06-22,nan,NaN,NaN,NaT,NaN
84,tt3731562,Kong: Skull Island,Kong: Skull Island,"2,017",118,78,Kong: Skull Island,2017,"376,072,059",2017-03-10,nan,NaN,NaN,NaT,NaN
85,tt2660888,Star Trek Beyond,Star Trek Beyond,"2,016",122,79,Star Trek Beyond,2016,"150,802,233",2016-07-22,nan,NaN,NaN,NaT,NaN
86,tt1856101,Blade Runner 2049,Blade Runner 2049,"2,017",164,80,Blade Runner 2049,2017,"74,357,408",2017-10-06,nan,NaN,NaN,NaT,NaN
87,tt6139732,Aladdin,Aladdin,"2,019",128,81,Aladdin,2019,"437,234,314",2019-05-24,nan,NaN,NaN,NaT,NaN
88,tt6139732,Aladdin,Aladdin,"2,019",128,33,Aladdin,1992,"476,050,219",1992-11-11,nan,NaN,NaN,NaT,NaN
89,tt3501632,Thor: Ragnarok,Thor: Ragnarok,"2,017",130,82,Thor: Ragnarok,2017,"666,980,024",2017-11-03,nan,NaN,NaN,NaT,NaN
90,NaN,NaN,NaN,nan,NaN,83,"The Chronicles of Narnia: The Lion, the Witch ...",2005,"540,539,572",2005-12-09,nan,NaN,NaN,NaT,NaN
91,tt1587310,Maleficent,Maleficent,"2,014",97,84,Maleficent,2014,"578,536,735",2014-05-30,nan,NaN,NaN,NaT,NaN
92,tt3183660,Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,"2,016",132,85,Fantastic Beasts and Where to Find Them,2016,"622,402,853",2016-11-18,nan,NaN,NaN,NaT,NaN
93,NaN,NaN,NaN,nan,NaN,86,WALL-E,2008,"352,508,025",2008-06-27,nan,NaN,NaN,NaT,NaN
94,NaN,NaN,NaN,nan,NaN,87,Rush Hour 3,2007,"76,585,882",2007-08-10,nan,NaN,NaN,NaT,NaN
95,tt0918940,The Legend of Tarzan,The Legend of Tarzan,"2,016",110,88,The Legend of Tarzan,2016,"168,902,025",2016-07-01,nan,NaN,NaN,NaT,NaN
96,tt0970179,Hugo,Hugo,"2,011",126,89,Hugo,2011,"47,784",2011-11-23,nan,NaN,NaN,NaT,NaN
97,tt2239822,Valerian and the City of a Thousand Planets,Valerian and the City of a Thousand Planets,"2,017",137,90,Valerian and the City of a Thousand Planets,2017,"35,098,356",2017-07-21,nan,NaN,NaN,NaT,NaN
98,tt1617661,Jupiter Ascending,Jupiter Ascending,"2,015",127,91,Jupiter Ascending,2015,"2,982,519",2015-02-06,nan,NaN,NaN,NaT,NaN
99,NaN,NaN,NaN,nan,NaN,92,Mission: ImpossibleâFallout,2018,"609,456,552",2018-07-27,nan,NaN,NaN,NaT,NaN

In [341]:
merged_with_rt = pd.merge(merged_df_2, df, left_on= 'release_date', right_on= 'theater_date', how='right')
merged_with_rt

,tconst,primary_title,original_title,start_year,runtime_minutes,id_x,movie,release_year,total_profit,release_date,id_y,fresh,rating_y,theater_date,runtime
0,tt1764651,The Expendables 2,The Expendables 2,"2,012",103,81,The Expendables 2,"2,012","211,979,256",2012-08-17,3,fresh,R,2012-08-17,108
1,tt1623288,ParaNorman,ParaNorman,"2,012",92,89,ParaNorman,"2,012","48,119,662",2012-08-17,3,fresh,R,2012-08-17,108
2,tt1876451,Sparkle,Sparkle,"2,012",116,96,Sparkle,"2,012","14,660,323",2012-08-17,3,fresh,R,2012-08-17,108
3,tt1373405,The Awakening,The Awakening,"2,010",83,4,The Awakening,"2,012","2,024,321",2012-08-17,3,fresh,R,2012-08-17,108
4,tt1990314,Robot & Frank,Robot & Frank,"2,012",89,26,Robot & Frank,"2,012","2,434,356",2012-08-17,3,fresh,R,2012-08-17,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5179,NaN,NaN,NaN,nan,nan,93,Pendulum,"2,001","-2,000,000",2001-12-31,1963,NaN,R,2001-12-31,89
5180,NaN,NaN,NaN,nan,nan,18,Beauty Shop,"2,004","13,351,350",2004-01-01,1973,NaN,R,2004-01-01,94
5181,NaN,NaN,NaN,nan,nan,73,Barbershop 2: Back in Business,"2,004","47,842,412",2004-01-01,1973,NaN,R,2004-01-01,94
5182,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1983,NaN,G,1986-07-02,74
5183,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1990,NaN,R,1974-06-01,112

In [303]:
merged_with_rt.head(200)

,tconst,primary_title,original_title,start_year,runtime_minutes,id_x,movie,release_year,total_profit,release_date,id_y,fresh,rating_y,theater_date,runtime
0,tt1764651,The Expendables 2,The Expendables 2,"2,012",103,81,The Expendables 2,"2,012","211,979,256",2012-08-17,3,fresh,R,2012-08-17,108 minutes
1,tt1623288,ParaNorman,ParaNorman,"2,012",92,89,ParaNorman,"2,012","48,119,662",2012-08-17,3,fresh,R,2012-08-17,108 minutes
2,tt1876451,Sparkle,Sparkle,"2,012",116,96,Sparkle,"2,012","14,660,323",2012-08-17,3,fresh,R,2012-08-17,108 minutes
3,tt1373405,The Awakening,The Awakening,"2,010",83,4,The Awakening,"2,012","2,024,321",2012-08-17,3,fresh,R,2012-08-17,108 minutes
4,tt1990314,Robot & Frank,Robot & Frank,"2,012",89,26,Robot & Frank,"2,012","2,434,356",2012-08-17,3,fresh,R,2012-08-17,108 minutes
5,tt1971352,Compliance,Compliance,"2,012",90,68,Compliance,"2,012","560,700",2012-08-17,3,fresh,R,2012-08-17,108 minutes
6,tt1764651,The Expendables 2,The Expendables 2,"2,012",103,81,The Expendables 2,"2,012","211,979,256",2012-08-17,3,rotten,R,2012-08-17,108 minutes
7,tt1623288,ParaNorman,ParaNorman,"2,012",92,89,ParaNorman,"2,012","48,119,662",2012-08-17,3,rotten,R,2012-08-17,108 minutes
8,tt1876451,Sparkle,Sparkle,"2,012",116,96,Sparkle,"2,012","14,660,323",2012-08-17,3,rotten,R,2012-08-17,108 minutes
9,tt1373405,The Awakening,The Awakening,"2,010",83,4,The Awakening,"2,012","2,024,321",2012-08-17,3,rotten,R,2012-08-17,108 minutes
10,tt1990314,Robot & Frank,Robot & Frank,"2,012",89,26,Robot & Frank,"2,012","2,434,356",2012-08-17,3,rotten,R,2012-08-17,108 minutes
11,tt1971352,Compliance,Compliance,"2,012",90,68,Compliance,"2,012","560,700",2012-08-17,3,rotten,R,2012-08-17,108 minutes
12,tt1764651,The Expendables 2,The Expendables 2,"2,012",103,81,The Expendables 2,"2,012","211,979,256",2012-08-17,738,NaN,R,2012-08-17,107 minutes
13,tt1623288,ParaNorman,ParaNorman,"2,012",92,89,ParaNorman,"2,012","48,119,662",2012-08-17,738,NaN,R,2012-08-17,107 minutes
14,tt1876451,Sparkle,Sparkle,"2,012",116,96,Sparkle,"2,012","14,660,323",2012-08-17,738,NaN,R,2012-08-17,107 minutes
15,tt1373405,The Awakening,The Awakening,"2,010",83,4,The Awakening,"2,012","2,024,321",2012-08-17,738,NaN,R,2012-08-17,107 minutes
16,tt1990314,Robot & Frank,Robot & Frank,"2,012",89,26,Robot & Frank,"2,012","2,434,356",2012-08-17,738,NaN,R,2012-08-17,107 minutes
17,tt1971352,Compliance,Compliance,"2,012",90,68,Compliance,"2,012","560,700",2012-08-17,738,NaN,R,2012-08-17,107 minutes
18,NaN,NaN,NaN,nan,nan,71,Maximum Risk,"1,996","26,702,929",1996-09-13,5,fresh,R,1996-09-13,116 minutes
19,NaN,NaN,NaN,nan,nan,71,Maximum Risk,"1,996","26,702,929",1996-09-13,5,rotten,R,1996-09-13,116 minutes
20,NaN,NaN,NaN,nan,nan,3,Disclosure,"1,994","157,200,000",1994-12-09,6,rotten,R,1994-12-09,128 minutes
21,NaN,NaN,NaN,nan,nan,3,Disclosure,"1,994","157,200,000",1994-12-09,6,fresh,R,1994-12-09,128 minutes
22,NaN,NaN,NaN,nan,nan,3,Disclosure,"1,994","157,200,000",1994-12-09,1720,fresh,R,1994-12-09,101 minutes
23,NaN,NaN,NaN,nan,nan,3,Disclosure,"1,994","157,200,000",1994-12-09,1720,rotten,R,1994-12-09,101 minutes
24,NaN,NaN,NaN,nan,nan,1,What Planet Are You From?,"2,000","-43,708,398",2000-03-03,8,fresh,PG,2000-03-03,95 minutes
25,NaN,NaN,NaN,nan,nan,67,The Next Best Thing,"2,000","-644,238",2000-03-03,8,fresh,PG,2000-03-03,95 minutes
26,NaN,NaN,NaN,nan,nan,54,Drowning Mona,"2,000","-19,624",2000-03-03,8,fresh,PG,2000-03-03,95 minutes
27,NaN,NaN,NaN,nan,nan,22,Ghost Dog: The Way of the Samurai,"2,000","8,672,492",2000-03-03,8,fresh,PG,2000-03-03,95 minutes
28,NaN,NaN,NaN,nan,nan,1,What Planet Are You From?,"2,000","-43,708,398",2000-03-03,8,rotten,PG,2000-03-03,95 minutes
29,NaN,NaN,NaN,nan,nan,67,The Next Best Thing,"2,000","-644,238",2000-03-03,8,rotten,PG,2000-03-03,95 minutes
30,NaN,NaN,NaN,nan,nan,54,Drowning Mona,"2,000","-19,624",2000-03-03,8,rotten,PG,2000-03-03,95 minutes
31,NaN,NaN,NaN,nan,nan,22,Ghost Dog: The Way of the Samurai,"2,000","8,672,492",2000-03-03,8,rotten,PG,2000-03-03,95 minutes
32,NaN,NaN,NaN,nan,nan,1,What Planet Are You From?,"2,000","-43,708,398",2000-03-03,1793,fresh,R,2000-03-03,116 minutes
33,NaN,NaN,NaN,nan,nan,67,The Next Best Thing,"2,000","-644,238",2000-03-03,1793,fresh,R,2000-03-03,116 minutes
34,NaN,NaN,NaN,nan,nan,54,Drowning Mona,"2,000","-19,624",2000-03-03,1793,fresh,R,2000-03-03,116 minutes
35,NaN,NaN,NaN,nan,nan,22,Ghost Dog: The Way of the Samurai,"2,000","8,672,492",2000-03-03,1793,fresh,R,2000-03-03,116 minutes
36,NaN,NaN,NaN,nan,nan,1,What Planet Are You From?,"2,000","-43,708,398",2000-03-03,1793,rotten,R,2000-03-03,116 minutes
37,NaN,NaN,NaN,nan,nan,67,The Next Best Thing,"2,000","-644,238",2000-03-03,1793,rotten,R,2000-03-03,116 minutes
38,NaN,NaN,NaN,nan,nan,54,Drowning Mona,"2,000","-19,624",2000-03-03,1793,rotten,R,2000-03-03,116 minutes
39,NaN,NaN,NaN,nan,nan,22,Ghost Dog: The Way of the Samurai,"2,000","8,672,492",2000-03-03,1793,rotten,R,2000-03-03,116 minutes
40,NaN,NaN,NaN,nan,nan,1,What Planet Are You From?,"2,000","-43,708,398",2000-03-03,1843,rotten,PG-13,2000-03-03,108 minutes
41,NaN,NaN,NaN,nan,nan,67,The Next Best Thing,"2,000","-644,238",2000-03-03,1843,rotten,PG-13,2000-03-03,108 minutes
42,NaN,NaN,NaN,nan,nan,54,Drowning Mona,"2,000","-19,624",2000-03-03,1843,rotten,PG-13,2000-03-03,108 minutes
43,NaN,NaN,NaN,nan,nan,22,Ghost Dog: The Way of the Samurai,"2,000","8,672,492",2000-03-03,1843,rotten,PG-13,2000-03-03,108 minutes
44,NaN,NaN,NaN,nan,nan,1,What Planet Are You From?,"2,000","-43,708,398",2000-03-03,1843,fresh,PG-13,2000-03-03,108 minutes
45,NaN,NaN,NaN,nan,nan,67,The Next Best Thing,"2,000","-644,238",2000-03-03,1843,fresh,PG-13,2000-03-03,108 minutes
46,NaN,NaN,NaN,nan,nan,54,Drowning Mona,"2,000","-19,624",2000-03-03,1843,fresh,PG-13,2000-03-03,108 minutes
47,NaN,NaN,NaN,nan,nan,22,Ghost Dog: The Way of the Samurai,"2,000","8,672,492",2000-03-03,1843,fresh,PG-13,2000-03-03,108 minutes
48,NaN,NaN,NaN,nan,nan,89,Orange County,"2,002","25,308,707",2002-01-11,10,fresh,PG-13,2002-01-11,82 minutes
49,NaN,NaN,NaN,nan,nan,89,Orange County,"2,002","25,308,707",2002-01-11,10,rotten,PG-13,2002-01-11,82 minutes
50,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,13,fresh,R,2006-04-27,123 minutes
51,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,13,rotten,R,2006-04-27,123 minutes
52,tt1325004,The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,"2,010",124,53,The Twilight Saga: Eclipse,"2,010","638,102,828",2010-06-30,14,fresh,R,2010-06-30,117 minutes
53,tt1125929,Love Ranch,Love Ranch,"2,010",117,19,Love Ranch,"2,010","-24,853,851",2010-06-30,14,fresh,R,2010-06-30,117 minutes
54,tt1325004,The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,"2,010",124,53,The Twilight Saga: Eclipse,"2,010","638,102,828",2010-06-30,14,rotten,R,2010-06-30,117 minutes
55,tt1125929,Love Ranch,Love Ranch,"2,010",117,19,Love Ranch,"2,010","-24,853,851",2010-06-30,14,rotten,R,2010-06-30,117 minutes
56,NaN,NaN,NaN,nan,nan,11,Congo,"1,995","102,022,333",1995-06-09,15,rotten,PG-13,1995-06-09,108 minutes
57,NaN,NaN,NaN,nan,nan,11,Congo,"1,995","102,022,333",1995-06-09,15,fresh,PG-13,1995-06-09,108 minutes
58,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,17,fresh,NaN,NaT,NaN
59,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,17,rotten,NaN,NaT,NaN
60,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,43,rotten,NR,NaT,75 minutes
61,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,43,fresh,NR,NaT,75 minutes
62,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,45,rotten,PG,NaT,92 minutes
63,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,45,fresh,PG,NaT,92 minutes
64,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,49,fresh,R,NaT,100 minutes
65,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,49,rotten,R,NaT,100 minutes
66,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,50,fresh,R,NaT,99 minutes
67,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,59,fresh,NR,NaT,91 minutes
68,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,59,rotten,NR,NaT,91 minutes
69,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,74,fresh,R,NaT,104 minutes
70,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,96,fresh,R,NaT,118 minutes
71,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,96,rotten,R,NaT,118 minutes
72,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,102,fresh,PG-13,NaT,101 minutes
73,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,120,rotten,PG,NaT,109 minutes
74,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,120,fresh,PG,NaT,109 minutes
75,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,128,fresh,NR,NaT,120 minutes
76,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,128,rotten,NR,NaT,120 minutes
77,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,137,fresh,NR,NaT,70 minutes
78,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,142,rotten,NR,NaT,100 minutes
79,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,164,rotten,NR,NaT,93 minutes
80,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,214,fresh,NR,NaT,65 minutes
81,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,258,fresh,NR,NaT,NaN
82,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,280,rotten,NR,NaT,89 minutes
83,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,280,fresh,NR,NaT,89 minutes
84,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,288,fresh,NR,NaT,130 minutes
85,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,288,rotten,NR,NaT,130 minutes
86,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,312,fresh,R,NaT,132 minutes
87,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,312,rotten,R,NaT,132 minutes
88,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,335,fresh,NR,NaT,101 minutes
89,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,365,rotten,R,NaT,105 minutes
90,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,372,fresh,NR,NaT,93 minutes
91,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,372,rotten,NR,NaT,93 minutes
92,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,391,fresh,PG,NaT,102 minutes
93,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,391,rotten,PG,NaT,102 minutes
94,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,402,fresh,NR,NaT,127 minutes
95,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,404,fresh,PG,NaT,103 minutes
96,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,404,rotten,PG,NaT,103 minutes
97,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,408,rotten,PG,NaT,99 minutes
98,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,430,rotten,PG,NaT,88 minutes
99,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,430,fresh,PG,NaT,88 minutes
100,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,437,fresh,PG,NaT,105 minutes
101,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,450,rotten,PG,NaT,98 minutes
102,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,450,fresh,PG,NaT,98 minutes
103,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,476,fresh,R,NaT,110 minutes
104,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,490,rotten,NR,NaT,145 minutes
105,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,490,fresh,NR,NaT,145 minutes
106,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,515,fresh,NR,NaT,89 minutes
107,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,517,rotten,PG,NaT,87 minutes
108,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,527,fresh,NR,NaT,90 minutes
109,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,527,rotten,NR,NaT,90 minutes
110,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,535,fresh,NR,NaT,85 minutes
111,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,551,rotten,NR,NaT,111 minutes
112,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,556,rotten,R,NaT,111 minutes
113,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,556,fresh,R,NaT,111 minutes
114,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,576,rotten,NR,NaT,90 minutes
115,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,576,fresh,NR,NaT,90 minutes
116,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,586,fresh,NR,NaT,90 minutes
117,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,589,rotten,NR,NaT,80 minutes
118,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,589,fresh,NR,NaT,80 minutes
119,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,599,fresh,R,NaT,104 minutes
120,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,599,rotten,R,NaT,104 minutes
121,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,602,fresh,R,NaT,112 minutes
122,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,613,fresh,NR,NaT,94 minutes
123,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,618,fresh,PG,NaT,110 minutes
124,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,636,fresh,NR,NaT,NaN
125,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,641,rotten,NR,NaT,104 minutes
126,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,642,fresh,NR,NaT,102 minutes
127,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,644,rotten,R,NaT,101 minutes
128,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,669,fresh,PG,NaT,127 minutes
129,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,669,rotten,PG,NaT,127 minutes
130,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,678,rotten,NR,NaT,107 minutes
131,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,680,rotten,NR,NaT,91 minutes
132,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,708,rotten,NR,NaT,94 minutes
133,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,724,fresh,NR,NaT,NaN
134,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,735,rotten,PG,NaT,116 minutes
135,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,735,fresh,PG,NaT,116 minutes
136,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,737,fresh,NR,NaT,84 minutes
137,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,758,rotten,NR,NaT,71 minutes
138,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,774,fresh,NR,NaT,80 minutes
139,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,789,rotten,NR,NaT,87 minutes
140,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,792,fresh,NR,NaT,96 minutes
141,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,793,rotten,PG-13,NaT,85 minutes
142,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,793,fresh,PG-13,NaT,85 minutes
143,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,805,fresh,PG,NaT,98 minutes
144,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,821,rotten,NR,NaT,113 minutes
145,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,831,fresh,NR,NaT,98 minutes
146,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,831,rotten,NR,NaT,98 minutes
147,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,832,fresh,NR,NaT,69 minutes
148,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,837,rotten,PG,NaT,95 minutes
149,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,837,fresh,PG,NaT,95 minutes
150,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,880,fresh,NR,NaT,60 minutes
151,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,906,rotten,PG,NaT,81 minutes
152,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,906,fresh,PG,NaT,81 minutes
153,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,913,fresh,NR,NaT,94 minutes
154,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,913,rotten,NR,NaT,94 minutes
155,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,923,fresh,NR,NaT,133 minutes
156,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,966,fresh,R,NaT,76 minutes
157,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,968,rotten,NR,NaT,NaN
158,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,968,fresh,NR,NaT,NaN
159,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,972,rotten,R,NaT,89 minutes
160,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,972,fresh,R,NaT,89 minutes
161,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,988,rotten,NR,NaT,83 minutes
162,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,999,rotten,NR,NaT,90 minutes
163,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1029,rotten,NR,NaT,140 minutes
164,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1051,fresh,NR,NaT,100 minutes
165,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1051,rotten,NR,NaT,100 minutes
166,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1064,fresh,NR,NaT,98 minutes
167,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1125,rotten,NR,NaT,110 minutes
168,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1141,rotten,R,NaT,102 minutes
169,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1141,fresh,R,NaT,102 minutes
170,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1146,fresh,NR,NaT,104 minutes
171,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1148,rotten,PG,NaT,82 minutes
172,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1148,fresh,PG,NaT,82 minutes
173,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1153,rotten,NR,NaT,80 minutes
174,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1153,fresh,NR,NaT,80 minutes
175,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1164,rotten,R,NaT,112 minutes
176,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1164,fresh,R,NaT,112 minutes
177,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1166,fresh,NR,NaT,116 minutes
178,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1166,rotten,NR,NaT,116 minutes
179,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1215,fresh,NR,NaT,120 minutes
180,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1215,rotten,NR,NaT,120 minutes
181,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1226,rotten,R,NaT,107 minutes
182,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1226,fresh,R,NaT,107 minutes
183,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1228,rotten,PG,NaT,108 minutes
184,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1241,fresh,NR,NaT,80 minutes
185,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1257,rotten,R,NaT,88 minutes
186,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1257,fresh,R,NaT,88 minutes
187,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1266,rotten,R,NaT,96 minutes
188,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1283,fresh,NR,NaT,58 minutes
189,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1283,rotten,NR,NaT,58 minutes
190,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1284,fresh,NR,NaT,120 minutes
191,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1286,fresh,NR,NaT,105 minutes
192,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1331,fresh,PG,NaT,109 minutes
193,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1331,rotten,PG,NaT,109 minutes
194,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1353,fresh,NR,NaT,97 minutes
195,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1363,fresh,R,NaT,99 minutes
196,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1363,rotten,R,NaT,99 minutes
197,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1393,rotten,R,NaT,84 minutes
198,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1407,fresh,NR,NaT,70 minutes
199,NaN,NaN,NaN,nan,nan,nan,NaN,nan,nan,NaT,1407,rotten,NR,NaT,70 minutes

In [300]:
merged_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5978 entries, 0 to 5977
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           2369 non-null   object
 1   primary_title    2369 non-null   object
 2   original_title   2369 non-null   object
 3   start_year       2369 non-null   float64
 4   runtime_minutes  2300 non-null   float64
 5   id               5978 non-null   int64
 6   movie            5978 non-null   object
 7   release_year     5978 non-null   int64
 8   total_profit     5978 non-null   float64
 9   release_date     5978 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 513.7+ KB

In [287]:
rt_duplicates = merged_rt_df_2[[merged_rt_df_2['id']].duplicated]

AttributeError: 'list' object has no attribute 'duplicated'

In [255]:
merged_rt_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54857 entries, 0 to 54856
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            54857 non-null  int64
 1   fresh         54432 non-null  object
 2   rating_y      54769 non-null  object
 3   theater_date  53411 non-null  object
 4   runtime       54001 non-null  object
dtypes: int64(1), object(4)
memory usage: 5.0+ MB

In [259]:
merged_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5978 entries, 0 to 5977
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           2369 non-null   object
 1   primary_title    2369 non-null   object
 2   original_title   2369 non-null   object
 3   start_year       2369 non-null   float64
 4   runtime_minutes  2300 non-null   float64
 5   id               5978 non-null   int64
 6   movie            5978 non-null   object
 7   release_year     5978 non-null   int64
 8   total_profit     5978 non-null   float64
 9   release_date     5978 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 513.7+ KB

In [173]:
merged_rt_df['runtime'][299]

'95 minutes'

In [238]:
merged_rt_df.sort_values('theater_date', ascending=False).head(100)

,id,review,rating_x,fresh,critic,top_critic,publisher,date,synopsis,rating_y,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
22866,921,NaN,5/5,fresh,Scott Weinberg,0,eFilmCritic.com,"July 26, 2002",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22833,921,Excellent techno-thriller. Cool gadgets and a ...,4/5,fresh,Fred Topel,0,About.com,"August 13, 2003",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22825,921,Makes up for its gaps in logic with its breezy...,NaN,fresh,David Ansen,1,Newsweek,"March 31, 2008",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22846,921,"With its flat look and sometimes slow pacing, ...",2/4,rotten,James O'Ehley,0,Sci-Fi Movie Page,"January 1, 2000",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22867,921,NaN,B-,fresh,NaN,1,Entertainment Weekly,"September 9, 1992",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22826,921,Right up to an ending designed to crack the st...,NaN,fresh,Derek Adams,1,Time Out,"June 24, 2006",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22827,921,Pretty neat.,8/10,fresh,NaN,0,JoBlo's Movie Emporium,"May 5, 2006",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22828,921,Fun caper flick with great Redford and Poitier...,4/5,fresh,Steve Crum,0,Video-Reviewmaster.com,"June 25, 2005",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22829,921,A marvellous caper-movie throwback.,5/5,fresh,Tim Robey,0,Daily Telegraph (UK),"April 19, 2005",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22830,921,Great caper comedy that deftly balances high-t...,4/5,fresh,Rob Thomas,0,"Capital Times (Madison, WI)","January 9, 2004",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22831,921,"Great, fun caper flick with an amazing ensembl...",4/5,fresh,Widgett Walls,0,Needcoffee.com,"October 10, 2003",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22832,921,Marvelous characters in messy script.,4/5,fresh,Nell Minow,0,Movie Mom,"October 8, 2003",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22834,921,"Fun, forgettable caper comedy",3/5,fresh,James Sanford,0,Kalamazoo Gazette,"June 12, 2003",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22823,921,Geriatric hi-tech action-packed spoof caper fi...,C+,rotten,Dennis Schwartz,0,Ozus' World Movie Reviews,"August 3, 2009",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22835,921,The performances are generally quite bad.,NaN,rotten,Vincent Canby,1,New York Times,"May 20, 2003",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22836,921,"High-Tech, High-Class Entertainment...the cast...",3/5,fresh,Clint Morris,0,Moviehole,"April 27, 2003",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22837,921,Top notch spy thriller,4/5,fresh,Shannon J. Harvey,0,Sunday Times (Australia),"February 11, 2003",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22838,921,"Every actor here is top-notch, and the sense o...",4.5/5,fresh,James Rocchi,0,Netflix,"November 7, 2002",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22839,921,Enjoyable comedy thriller. Short on believabil...,4/5,fresh,Ken Hanke,0,"Mountain Xpress (Asheville, NC)","August 26, 2002",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22840,921,Techno-thriller that reveals some of the moral...,NaN,fresh,NaN,0,Spirituality and Practice,"August 23, 2002",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22841,921,"Discounting his god-awful American accent, Kin...",NaN,fresh,Peter Travers,1,Rolling Stone,"May 12, 2001",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22842,921,"This is an energetic, fun, almost enchanting t...",3/5,fresh,William Gallagher,0,BBC.com,"April 17, 2001",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22843,921,"It's a sometimes entertaining movie, but thin.",2.5/4,rotten,Roger Ebert,1,Chicago Sun-Times,"January 1, 2000",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22844,921,"If you think of Sneakers as a slick, updated M...",NaN,fresh,Desson Thomson,1,Washington Post,"January 1, 2000",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22824,921,"It's all passably entertaining, but there's pr...",2.5/4,fresh,NaN,0,TV Guide,"July 23, 2008",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22845,921,"It's a Twinkie for techies, an enormously ente...",NaN,fresh,Rita Kempley,1,Washington Post,"January 1, 2000",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22822,921,"A smart, smooth technological thriller.",4/5,fresh,Common Sense,0,Common Sense Media,"January 1, 2011",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22858,921,NaN,4/5,fresh,Carol Cling,0,Las Vegas Review-Journal,"September 5, 2003",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22852,921,NaN,3/5,fresh,Emanuel Levy,0,EmanuelLevy.Com,"June 26, 2005",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22853,921,NaN,3/5,fresh,Andy Klein,0,Los Angeles CityBeat,"May 8, 2005",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22854,921,NaN,2/5,rotten,Philip Martin,0,Arkansas Democrat-Gazette,"January 7, 2005",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22855,921,NaN,2/5,rotten,Robin Clifford,0,Reeling Reviews,"November 19, 2004",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22856,921,NaN,4/5,fresh,Sarah Chauncey,0,Reel.com,"June 10, 2004",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22857,921,NaN,2/5,rotten,Daniel M. Kimmel,0,Worcester Telegram &amp; Gazette,"January 30, 2004",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22859,921,NaN,3/5,fresh,Walter Chaw,0,Film Freak Central,"July 2, 2003",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22821,921,"Despite its dream-team cast, the loosely laced...",NaN,rotten,Malcolm Johnson,0,Hartford Courant,"April 17, 2018",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22860,921,NaN,4/5,fresh,Nicolas Lacroix,0,Showbizz.net,"March 1, 2003",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22861,921,NaN,3/5,fresh,Robert Roten,0,Laramie Movie Scope,"December 17, 2002",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22862,921,NaN,3/5,fresh,Brian J. Arthurs,0,Beach Reporter (Southern California),"December 6, 2002",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22863,921,NaN,3/5,fresh,Tony Toscano,0,Talking Pictures (U.S.),"August 19, 2002",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22864,921,NaN,3/5,fresh,Jeffrey Westhoff,0,"Northwest Herald (Crystal Lake, IL)","August 15, 2002",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22865,921,NaN,3/5,fresh,Rob Vaux,0,Flipside Movie Emporium,"August 13, 2002",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22851,921,NaN,2/5,rotten,Chuck O'Leary,0,Fantastica Daily,"October 5, 2005",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22850,921,NaN,B-,fresh,Owen Gleiberman,1,Entertainment Weekly,"September 7, 2011",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22849,921,"A delirious guilty pleasure, Sneakers is about...",4.5/5,fresh,Christopher Null,0,Filmcritic.com,"January 1, 2000",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22848,921,"A hilarious, tension-filled romp that should p...",3.5/4,fresh,Chris Hicks,0,Deseret News (Salt Lake City),"January 1, 2000",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22847,921,One of the cleverest updates of the caper film...,4.5/5,fresh,Kathleen Maher,0,Austin Chronicle,"January 1, 2000",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22819,921,This is basically dumb fun with a veneer of sm...,NaN,fresh,Eve Tushnet,0,Patheos,"September 6, 2018",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
22820,921,The movie would probably swing along fine as a...,NaN,rotten,Vanessa Letts,0,The Spectator,"July 24, 2018",A group of maverick computer and espionage exp...,PG-13,Action and Adventure|Comedy|Drama|Mystery and ...,Phil Alden Robinson,NaN,"Sep 9, 1992","Mar 31, 1998",NaN,NaN,126 minutes,NaN
47192,1773,"Misfire comedy starring Dreyfuss, directed by ...",2/5,rotten,Steve Crum,0,Video-Reviewmaster.com,"May 11, 2006",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47193,1773,"Dreyfuss at his usual, amusing best",3/5,fresh,Clint Morris,0,Moviehole,"July 4, 2005",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47194,1773,A mediocre and lackluster comedy with Jonathan...,1/5,rotten,NaN,0,Spirituality and Practice,"August 27, 2004",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47195,1773,"Not really good, but the spectacle of Mazursky...",3/5,fresh,Ken Hanke,0,"Mountain Xpress (Asheville, NC)","May 30, 2004",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47196,1773,Dreyfuss tries hard ... and almost saves the w...,2.5/5,rotten,Scott Weinberg,0,eFilmCritic.com,"July 27, 2002",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47197,1773,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"May 31, 2005",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47198,1773,NaN,2/5,rotten,NaN,0,IGN Movies,"January 29, 2004",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47199,1773,NaN,3/5,fresh,Josh Gilchrist,0,Billings Outpost (Montana),"January 21, 2003",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47202,1773,NaN,3/5,fresh,Philip Martin,0,Arkansas Democrat-Gazette,"July 29, 2002",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47203,1773,NaN,2/4,rotten,Roger Ebert,1,Chicago Sun-Times,"January 1, 2000",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47201,1773,NaN,2/5,rotten,Jeffrey Westhoff,0,"Northwest Herald (Crystal Lake, IL)","September 3, 2002",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
47200,1773,NaN,3/5,fresh,Nell Minow,0,Movie Mom,"December 5, 2002",While working in a small nation on the Caribbe...,PG-13,Comedy,Paul Mazursky,Paul Mazursky|Leon Capetanos,"Sep 9, 1988","Aug 3, 2004",NaN,NaN,104 minutes,NaN
22818,919,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 22, 2005",The PBS series Great Performances first presen...,NR,Drama,Fielder Cook,Ronald Ribman,"Sep 9, 1986","Feb 18, 2003",NaN,NaN,93 minutes,NaN
46651,1751,NaN,4/5,fresh,Nell Minow,0,Movie Mom,"January 1, 2000",The winner of the Best Screenplay award at the...,R,Comedy|Drama,Neil LaBute,NaN,"Sep 8, 2000","Apr 3, 2001",NaN,NaN,108 minutes,USA Films
46594,1751,This film probably won't please people who enj...,3/4,fresh,Pam Grady,0,Reel.com,"January 1, 2000",The winner of the Best Screenplay award at the...,R,Comedy|Drama,Neil LaBute,NaN,"Sep 8, 2000","Apr 3, 2001",NaN,NaN,108 minutes,USA Films
46652,1751,NaN,NaN,fresh,Cynthia Fuchs,0,Philadelphia City Paper,"January 1, 2000",The winner of the Best Screenplay award at the...,R,Comedy|Drama,Neil LaBute,NaN,"Sep 8, 2000","Apr 3, 2001",NaN,NaN,108 minutes,USA Films
46603,1751,Zwellinger is cantaloupe sweet and as lovable ...,7/10,fresh,Ross Anthony,0,Hollywood Report Card,"January 1, 2000",The winner of the Best Screenplay award at the...,R,Comedy|Drama,Neil LaBute,NaN,"Sep 8, 2000","Apr 3, 2001",NaN,NaN,108 minutes,USA Films
46602,1751,"If you're looking for a dark, funny, sometimes...",9/10,fresh,Robin Clifford,0,Reeling Reviews,"January 1, 2000",The winner of the Best Screenplay award at the...,R,Comedy|Drama,Neil LaBute,NaN,"Sep 8, 2000","Apr 3, 2001",NaN,NaN,108 minutes,USA Films
46601,1751,The compassion and humor in the script makes i...,9/10,fresh,Laura Clifford,0,Reeling Reviews,"January 1, 2000",The winner of the Best Screenplay award at the...,R,Comedy|Drama,Neil LaBute,NaN,"Sep 8, 2000","Apr 3, 2001",NaN,NaN,108 minutes,USA Films
46600,1751,Nurse Betty has many very funny scenes -- all ...,NaN,fresh,Victoria Alexander,0,Movie Reviews in Croatian,"January 1, 2000",The winner of the Best Screenplay award at the...,R,Comedy|Drama,Neil LaBute,NaN,"Sep 8, 2000","Apr 3, 2001",NaN,NaN,108 minutes,USA Films
46599,1751,I left stunned by the movie's perfect combinat...,1,fresh,Harvey S. Karten,0,Compuserve,"January 1, 2000",The winner of the Best Screenplay award at the...,R,Comedy|Drama,Neil LaBute,NaN,"Sep 8, 2000","Apr 3, 2001",NaN,NaN,108 minutes,USA Films
46598,1751,Bursting with wonderfully imaginative scenes.,9/10,fresh,Steve Rhodes,0,Internet Reviews,"January 1, 2000",The winner of the Best Screenplay award at the...,R,Comedy|Drama,Neil LaBute,NaN,"Sep 8, 2000","Apr 3, 2001",NaN,NaN,108 minutes,USA Films
46597,1751,The comedy and drama simply don't jive and the...,3/10,rotten,Mac Verstandig,0,Moviereviews.org,"January 1, 2000",The winner of the Best Screenplay award at the...,R,Comedy|Drama,Neil LaBute,NaN,"Sep 8, 2000","Apr 3, 2001",NaN,NaN,108 minutes,USA Films

In [ ]:
merged_rt_df

In [181]:
#Looking for some of the titles that aren't matching in my merged df
merged_df_4 = pd.merge(movie_title_df, table9_titles, left_on= 'original_title', right_on= 'movie', how='left')
merged_df_4

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
0,tt0285252,Life's a Beach,Life's a Beach,2012,nan,NaN,nan,nan
1,tt0462036,Steve Phoenix: The Untold Story,Steve Phoenix: The Untold Story,2012,nan,NaN,nan,nan
2,tt0835418,The Babymakers,The Babymakers,2012,nan,NaN,nan,nan
3,tt0878654,Bulletface,Bulletface,2010,nan,NaN,nan,nan
4,tt0879859,Torn,Torn,2010,nan,NaN,nan,nan
...,...,...,...,...,...,...,...,...
70996,tt8947660,Goyenda Tatar,Goyenda Tatar,2019,nan,NaN,nan,nan
70997,tt8948614,Reversing Roe,Reversing Roe,2018,nan,NaN,nan,nan
70998,tt8954732,The Princess Switch,The Princess Switch,2018,nan,NaN,nan,nan
70999,tt8991416,Doozy,Doozy,2018,nan,NaN,nan,nan
71000,tt9004986,Syndebukken: Prosessen mot Harry Lindstrøm,Syndebukken: Prosessen mot Harry Lindstrøm,2018,nan,NaN,nan,nan

In [193]:
merged_df_4.sort_values('total_profit', ascending=False).head(100)

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
62736,tt2495766,Titanic,Titanic,2012,43,Titanic,"1,997","2,008,208,395"
33986,tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,7,Avengers: Infinity War,"2,018","1,748,134,200"
50561,tt0369610,Jurassic World,Jurassic World,2015,34,Jurassic World,"2,015","1,433,854,864"
68483,tt0848228,The Avengers,The Avengers,2012,27,The Avengers,"2,012","1,292,935,897"
28309,tt1825683,Black Panther,Black Panther,2018,42,Black Panther,"2,018","1,148,258,224"
26440,tt4881806,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,2018,13,Jurassic World: Fallen Kingdom,"2,018","1,135,772,799"
16873,tt1323045,Frozen,Frozen,2010,56,Frozen,"2,013","1,122,469,910"
32401,tt2771200,Beauty and the Beast,Beauty and the Beast,2017,35,Beauty and the Beast,"2,017","1,099,199,706"
39605,tt2293640,Minions,Minions,2015,73,Minions,"2,015","1,086,336,173"
9946,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,4,Avengers: Age of Ultron,"2,015","1,072,413,963"
69134,tt3606756,Incredibles 2,Incredibles 2,2018,44,Incredibles 2,"2,018","1,042,520,711"
41668,tt1477834,Aquaman,Aquaman,2018,36,Aquaman,"2,018","986,894,640"
19966,tt4630562,The Fate of the Furious,The Fate of the Furious,2017,23,The Fate of the Furious,"2,017","984,846,267"
36287,tt3469046,Despicable Me 3,Despicable Me 3,2017,30,Despicable Me 3,"2,017","959,727,750"
23080,tt4154664,Captain Marvel,Captain Marvel,2019,96,Captain Marvel,"2,019","948,061,550"
1066,tt1399103,Transformers: Dark of the Moon,Transformers: Dark of the Moon,2011,64,Transformers: Dark of the Moon,"2,011","928,790,543"
1033,tt1074638,Skyfall,Skyfall,2012,52,Skyfall,"2,012","910,526,981"
66190,tt1690953,Despicable Me 2,Despicable Me 2,2013,22,Despicable Me 2,"2,013","899,216,835"
6782,tt2109248,Transformers: Age of Extinction,Transformers: Age of Extinction,2014,37,Transformers: Age of Extinction,"2,014","894,039,076"
4972,tt3498820,Captain America: Civil War,Captain America: Civil War,2016,17,Captain America: Civil War,"2,016","890,069,413"
18522,tt2283362,Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,2017,38,Jumanji: Welcome to the Jungle,"2,017","874,496,193"
36210,tt2948356,Zootopia,Zootopia,2016,57,Zootopia,"2,016","869,429,616"
52903,tt0435761,Toy Story 3,Toy Story 3,2010,47,Toy Story 3,"2,010","868,879,522"
15506,tt1727824,Bohemian Rhapsody,Bohemian Rhapsody,2018,84,Bohemian Rhapsody,"2,018","839,985,342"
35972,tt2049386,Alice in Wonderland,Alice in Wonderland,2010,51,Alice in Wonderland,"2,010","825,491,110"
387,tt2277860,Finding Dory,Finding Dory,2016,46,Finding Dory,"2,016","821,215,193"
25071,tt2709768,The Secret Life of Pets,The Secret Life of Pets,2016,26,The Secret Life of Pets,"2,016","811,750,534"
5527,tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,11,The Dark Knight Rises,"2,012","809,439,099"
23931,tt3040964,The Jungle Book,The Jungle Book,2016,97,The Jungle Book,"2,016","787,854,547"
47461,tt1667889,Ice Age: Continental Drift,Ice Age: Continental Drift,2012,14,Ice Age: Continental Drift,"2,012","784,765,137"
2058,tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,19,The Hobbit: An Unexpected Journey,"2,012","767,003,568"
66100,tt1431045,Deadpool,Deadpool,2016,56,Deadpool,"2,016","743,025,593"
30771,tt1270797,Venom,Venom,2018,3,Venom,"2,018","737,628,605"
42967,tt1951264,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,2013,38,The Hunger Games: Catching Fire,"2,013","734,868,047"
8498,tt1170358,The Hobbit: The Desolation of Smaug,The Hobbit: The Desolation of Smaug,2013,21,The Hobbit: The Desolation of Smaug,"2,013","710,366,855"
36028,tt2250912,Spider-Man: Homecoming,Spider-Man: Homecoming,2017,99,Spider-Man: Homecoming,"2,017","705,166,350"
1323,tt2310332,The Hobbit: The Battle of the Five Armies,The Hobbit: The Battle of the Five Armies,2014,22,The Hobbit: The Battle of the Five Armies,"2,014","695,577,621"
33230,tt1640486,Inside Out,Inside Out,2011,98,Inside Out,"2,015","679,235,992"
1794,tt5463162,Deadpool 2,Deadpool 2,2018,15,Deadpool 2,"2,018","676,680,557"
56731,tt1375666,Inception,Inception,2010,38,Inception,"2,010","675,524,642"
11512,tt4028068,Wonder Woman,Wonder Woman,2014,55,Wonder Woman,"2,017","671,133,378"
38491,tt3501632,Thor: Ragnarok,Thor: Ragnarok,2017,82,Thor: Ragnarok,"2,017","666,980,024"
52942,tt1396484,It,It,2017,24,It,"2,017","662,457,969"
24838,tt1951265,The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,2014,62,The Hunger Games: Mockingjay - Part 1,"2,014","641,575,131"
57972,tt1325004,The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,2010,53,The Twilight Saga: Eclipse,"2,010","638,102,828"
30776,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,2011,2,Pirates of the Caribbean: On Stranger Tides,"2,011","635,063,875"
32990,tt7002100,Coco,Coco,2017,2,Coco,"2,017","623,008,101"
60792,tt3183660,Fantastic Beasts and Where to Find Them,Fantastic Beasts and Where to Find Them,2016,85,Fantastic Beasts and Where to Find Them,"2,016","622,402,853"
50990,tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,2016,18,Batman v Superman: Dawn of Justice,"2,016","617,500,281"
56708,tt1277953,Madagascar 3: Europe's Most Wanted,Madagascar 3: Europe's Most Wanted,2012,97,Madagascar 3: Europe's Most Wanted,"2,012","601,921,271"
37043,tt2015381,Guardians of the Galaxy,Guardians of the Galaxy,2014,14,Guardians of the Galaxy,"2,014","600,867,516"
56739,tt1392170,The Hunger Games,The Hunger Games,2012,38,The Hunger Games,"2,012","597,923,379"
25649,tt0892791,Shrek Forever After,Shrek Forever After,2010,27,Shrek Forever After,"2,010","591,244,673"
32402,tt2771200,Beauty and the Beast,Beauty and the Beast,2017,86,Beauty and the Beast,"1,991","588,431,132"
41661,tt1454468,Gravity,Gravity,2013,16,Gravity,"2,013","583,698,673"
53241,tt2379713,Spectre,Spectre,2015,10,Spectre,"2,015","579,620,923"
6584,tt1587310,Maleficent,Maleficent,2014,84,Maleficent,"2,014","578,536,735"
3134,tt1386697,Suicide Squad,Suicide Squad,2016,100,Suicide Squad,"2,016","571,059,887"
45585,tt3470600,Sing,Sing,2016,29,Sing,"2,016","559,454,789"
41806,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales,2017,25,Pirates of the Caribbean: Dead Men Tell No Tales,"2,017","558,241,137"
20808,tt1877832,X-Men: Days of Future Past,X-Men: Days of Future Past,2014,55,X-Men: Days of Future Past,"2,014","547,862,775"
3917,tt3659388,The Martian,The Martian,2015,46,The Martian,"2,015","547,271,443"
29803,tt1843866,Captain America: The Winter Soldier,Captain America: The Winter Soldier,2014,16,Captain America: The Winter Soldier,"2,014","544,401,889"
63647,tt1453405,Monsters University,Monsters University,2013,53,Monsters University,"2,013","543,588,329"
46420,tt2103281,Dawn of the Planet of the Apes,Dawn of the Planet of the Apes,2014,17,Dawn of the Planet of the Apes,"2,014","540,644,566"
2060,tt0948470,The Amazing Spider-Man,The Amazing Spider-Man,2012,31,The Amazing Spider-Man,"2,012","537,890,267"
41960,tt2322441,Fifty Shades of Grey,Fifty Shades of Grey,2015,78,Fifty Shades of Grey,"2,015","530,998,101"
66075,tt1302011,Kung Fu Panda 2,Kung Fu Panda 2,2011,74,Kung Fu Panda 2,"2,011","514,837,547"
9530,tt1211837,Doctor Strange,Doctor Strange,2016,28,Doctor Strange,"2,016","511,404,566"
3399,tt1872181,The Amazing Spider-Man 2,The Amazing Spider-Man 2,2014,56,The Amazing Spider-Man 2,"2,014","508,996,336"
1068,tt1411697,The Hangover Part II,The Hangover Part II,2011,39,The Hangover Part II,"2,011","506,464,305"
33228,tt1637725,Ted,Ted,2012,84,Ted,"2,012","506,016,627"
6596,tt1596343,Fast Five,Fast Five,2011,67,Fast Five,"2,011","505,163,454"
63606,tt0816692,Interstellar,Interstellar,2014,32,Interstellar,"2,014","501,379,375"
41574,tt0454876,Life of Pi,Life of Pi,2012,88,Life of Pi,"2,012","500,912,003"
41864,tt2175671,Ghost,Ghost,2012,5,Ghost,"1,990","495,600,000"
44104,tt1981115,Thor: The Dark World,Thor: The Dark World,2013,66,Thor: The Dark World,"2,013","494,602,516"
31625,tt5095030,Ant-Man and the Wasp,Ant-Man and the Wasp,2018,41,Ant-Man and the Wasp,"2,018","493,144,660"
28561,tt2179136,American Sniper,American Sniper,2014,57,American Sniper,"2,014","489,326,372"
3457,tt1951266,The Hunger Games: Mockingjay - Part 2,The Hunger Games: Mockingjay - Part 2,2015,39,The Hunger Games: Mockingjay - Part 2,"2,015","488,986,787"
4437,tt1483010,Logan,Logan,2010,59,Logan,"2,017","488,461,394"
27604,tt3521164,Moana,Moana,2016,62,Moana,"2,016","487,517,365"
36017,tt2245084,Big Hero 6,Big Hero 6,2014,29,Big Hero 6,"2,014","487,127,828"
63381,tt6139732,Aladdin,Aladdin,2019,33,Aladdin,"1,992","476,050,219"
11377,tt3327426,War of the Worlds,War of the Worlds,2013,36,War of the Worlds,"2,005","474,836,535"
10933,tt1323594,Despicable Me,Despicable Me,2010,50,Despicable Me,"2,010","474,464,573"
67389,tt1646971,How to Train Your Dragon 2,How to Train Your Dragon 2,2014,99,How to Train Your Dragon 2,"2,014","469,586,270"
35343,tt5220122,Hotel Transylvania 3: Summer Vacation,Hotel Transylvania 3: Summer Vacation,2018,77,Hotel Transylvania 3: Summer Vacation,"2,018","462,079,962"
21893,tt0472181,The Smurfs,The Smurfs,2011,20,The Smurfs,"2,011","453,749,323"
21310,tt4123430,Fantastic Beasts: The Crimes of Grindelwald,Fantastic Beasts: The Crimes of Grindelwald,2018,60,Fantastic Beasts: The Crimes of Grindelwald,"2,018","452,220,086"
59124,tt1228705,Iron Man 2,Iron Man 2,2010,15,Iron Man 2,"2,010","451,156,389"
66034,tt0770828,Man of Steel,Man of Steel,2013,29,Man of Steel,"2,013","442,999,518"
68621,tt1661199,Cinderella,Cinderella,2015,13,Cinderella,"2,015","439,551,353"
61352,tt1409024,Men in Black 3,Men in Black 3,2012,35,Men in Black 3,"2,012","439,213,485"
43877,tt0481499,The Croods,The Croods,2013,26,The Croods,"2,013","438,068,425"
63380,tt6139732,Aladdin,Aladdin,2019,81,Aladdin,"2,019","437,234,314"
4478,tt1677720,Ready Player One,Ready Player One,2018,78,Ready Player One,"2,018","429,290,136"
18124,tt0448694,Puss in Boots,Puss in Boots,2011,46,Puss in Boots,"2,011","424,987,477"
27956,tt6142034,Lucy,Lucy,2016,83,Lucy,"2,014","417,507,776"
43940,tt1515091,Sherlock Holmes: A Game of Shadows,Sherlock Holmes: A Game of Shadows,2011,69,Sherlock Holmes: A Game of Shadows,"2,011","410,663,443"

In [200]:
merged_df_5 = {}

for x in merged_df_3:
    if x['release_date'] >= 2010:
        merged_df_5.append(x)

merged_df_5

TypeError: 'type' object is not subscriptable

In [203]:
merged_df_3

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit
0,NaN,NaN,NaN,nan,1,Avatar,2009,"2,351,345,279"
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875"
2,tt6565702,Dark Phoenix,Dark Phoenix,"2,019",3,Dark Phoenix,2019,"-200,237,650"
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",4,Avengers: Age of Ultron,2015,"1,072,413,963"
4,NaN,NaN,NaN,nan,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747"
...,...,...,...,...,...,...,...,...
5777,tt7837402,Red 11,Red 11,"2,019",78,Red 11,2018,"-7,000"
5778,NaN,NaN,NaN,nan,79,Following,1999,"234,495"
5779,NaN,NaN,NaN,nan,80,Return to the Land of Wonders,2005,"-3,662"
5780,tt2107644,A Plague So Pleasant,A Plague So Pleasant,"2,013",81,A Plague So Pleasant,2015,"-1,400"
5781,NaN,NaN,NaN,nan,82,My Date With Drew,2005,"179,941"

In [204]:
#attempting to search for some of the missing values

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-204-113e8b25d430>, line 2)

In [186]:
merged_df_4['primary_title']

0                                    Life's a Beach
1                   Steve Phoenix: The Untold Story
2                                    The Babymakers
3                                        Bulletface
4                                              Torn
                            ...
70996                                 Goyenda Tatar
70997                                 Reversing Roe
70998                           The Princess Switch
70999                                         Doozy
71000    Syndebukken: Prosessen mot Harry Lindstrøm
Name: primary_title, Length: 71001, dtype: object

In [188]:
merged_df_4.str.contains('star', regex=False).head(100)

AttributeError: 'DataFrame' object has no attribute 'str'

In [ ]:
#I am going to attempt a join to see what the resulting dataframe would look like.
test_join_outer = table9.join(table7, how='inner')
test_join_outer
#That didn't work! They were joining by the IDs, which are completely different.
#Let me change the index for each and try again.

In [ ]:
table9.set_index('movie', inplace=True)
table9

In [ ]:
table7.set_index('primary_title', inplace=True)
table7

In [ ]:
test_join_outer_2 = table9.join(table7, how='outer')
test_join_outer_2

In [ ]:
test_join_outer_2.info()

In [ ]:
test_join_outer_2.rename(columns={test_join_outer_2.columns[1]: 'new'})
test_join_outer_2

In [ ]:
test_join_outer_2.sort_values('original_title', ascending=True).head(100)
test_join_outer_2

In [ ]:
test_join_inner_2 = table9.join(table7, how='left')
test_join_inner_2

In [ ]:
df1 = test_join_inner_2
df1.head(100)

In [ ]:
df1.sort_values(by='worldwide_gross', ascending=False).head(100)

In [ ]:
#Problems to address: Lots of duplicates. Avatar merged with a horror movie. 
#start_year needs to be changed to datetime. not a lot of genre information.

In [ ]:
#Plan of attack: Clean up the data that I've got. Attempt to merge in table2.

In [ ]:
start_year = df1['start_year']
start_year

In [ ]:
cleaned_start_year = start_year.astype(str)
cleaned_start_year

In [ ]:
cleaned_start_year_2 = cleaned_start_year.str.rstrip('.0')
cleaned_start_year_2

In [ ]:
cleaned_start_year_2.astype(str)

In [ ]:
df1['start_year']=cleaned_start_year_2
df1

In [ ]:
#I am going to merge several of the IMDB datasets together, using the tconst as a key.
#imdb_df = pd.merge(table1, table4, left_on= 'tconst', right_on= 'tconst')
#df2

In [ ]:
#df3 = pd.merge(table7, table11, left_on= 'tconst', right_on= 'tconst')
#df3

In [ ]:
#df4 =pd.merge(df2, df3, left_on= 'tconst', right_on= 'tconst')
#df4

In [ ]:
#df4 = df4.drop_duplicates('original_title', keep='first')

In [ ]:
#df4.sort_values('original_title', ascending=True).head(100)

In [ ]:
#dropped the columns that weren't useful. (can always get them back from the original sources)
#df4 = df4.drop('nconst', axis=1)
#df4.head(10)

In [ ]:
#df4.info()

In [207]:
#exploring table10 to see if it contains any box office data that table9 does not contain.
table10.describe()

       domestic_gross  year
count           3,359 3,387
mean       28,745,845 2,014
std        66,982,498     2
min               100 2,010
25%           120,000 2,012
50%         1,400,000 2,014
75%        27,900,000 2,016
max       936,700,000 2,018

In [209]:
table10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [214]:
pizza = table10['foreign_gross']
pizza

0       652000000
1       691300000
2       664300000
3       535700000
4       513900000
          ...
3382          NaN
3383          NaN
3384          NaN
3385          NaN
3386          NaN
Name: foreign_gross, Length: 3387, dtype: object

In [220]:
table10['foriegn_gross2'] = pd.to_numeric(table10['foreign_gross'], errors='coerce')
table10

,title,studio,domestic_gross,foreign_gross,year,foriegn_gross,foriegn_gross2
0,Toy Story 3,BV,"415,000,000",652000000,2010,"652,000,000","652,000,000"
1,Alice in Wonderland (2010),BV,"334,200,000",691300000,2010,"691,300,000","691,300,000"
2,Harry Potter and the Deathly Hallows Part 1,WB,"296,000,000",664300000,2010,"664,300,000","664,300,000"
3,Inception,WB,"292,600,000",535700000,2010,"535,700,000","535,700,000"
4,Shrek Forever After,P/DW,"238,700,000",513900000,2010,"513,900,000","513,900,000"
...,...,...,...,...,...,...,...
3382,The Quake,Magn.,"6,200",NaN,2018,nan,nan
3383,Edward II (2018 re-release),FM,"4,800",NaN,2018,nan,nan
3384,El Pacto,Sony,"2,500",NaN,2018,nan,nan
3385,The Swan,Synergetic,"2,400",NaN,2018,nan,nan
3386,An Actor Prepares,Grav.,"1,700",NaN,2018,nan,nan

In [226]:
table10.drop(["foreign_gross2"], axis=1, inplace=True)
table10

KeyError: "['foreign_gross2'] not found in axis"

In [227]:
total_gross = table10.apply(lambda x: x['domestic_gross'] + x['foriegn_gross'], axis=1)
total_gross

0      1,067,000,000
1      1,025,500,000
2        960,300,000
3        828,300,000
4        752,600,000
            ...
3382             nan
3383             nan
3384             nan
3385             nan
3386             nan
Length: 3387, dtype: float64

In [228]:
table10['total_gross'] = total_gross

In [230]:
table10.sort_values('total_gross', ascending=False).head(100)

,title,studio,domestic_gross,year,foriegn_gross,foriegn_gross2,total_gross
727,Marvel's The Avengers,BV,"623,400,000",2012,"895,500,000","895,500,000","1,518,900,000"
1875,Avengers: Age of Ultron,BV,"459,000,000",2015,"946,400,000","946,400,000","1,405,400,000"
3080,Black Panther,BV,"700,100,000",2018,"646,900,000","646,900,000","1,347,000,000"
328,Harry Potter and the Deathly Hallows Part 2,WB,"381,000,000",2011,"960,500,000","960,500,000","1,341,500,000"
2758,Star Wars: The Last Jedi,BV,"620,200,000",2017,"712,400,000","712,400,000","1,332,600,000"
3081,Jurassic World: Fallen Kingdom,Uni.,"417,700,000",2018,"891,800,000","891,800,000","1,309,500,000"
1127,Frozen,BV,"400,700,000",2013,"875,700,000","875,700,000","1,276,400,000"
2759,Beauty and the Beast (2017),BV,"504,000,000",2017,"759,500,000","759,500,000","1,263,500,000"
3082,Incredibles 2,BV,"608,600,000",2018,"634,200,000","634,200,000","1,242,800,000"
1128,Iron Man 3,BV,"409,000,000",2013,"805,800,000","805,800,000","1,214,800,000"
1876,Minions,Uni.,"336,000,000",2015,"823,400,000","823,400,000","1,159,400,000"
2322,Captain America: Civil War,BV,"408,100,000",2016,"745,200,000","745,200,000","1,153,300,000"
3083,Aquaman,WB,"335,100,000",2018,"812,700,000","812,700,000","1,147,800,000"
329,Transformers: Dark of the Moon,P/DW,"352,400,000",2011,"771,400,000","771,400,000","1,123,800,000"
728,Skyfall,Sony,"304,400,000",2012,"804,200,000","804,200,000","1,108,600,000"
1477,Transformers: Age of Extinction,Par.,"245,400,000",2014,"858,600,000","858,600,000","1,104,000,000"
729,The Dark Knight Rises,WB,"448,100,000",2012,"636,800,000","636,800,000","1,084,900,000"
0,Toy Story 3,BV,"415,000,000",2010,"652,000,000","652,000,000","1,067,000,000"
2323,Rogue One: A Star Wars Story,BV,"532,200,000",2016,"523,900,000","523,900,000","1,056,100,000"
330,Pirates of the Caribbean: On Stranger Tides,BV,"241,100,000",2011,"804,600,000","804,600,000","1,045,700,000"
2761,Despicable Me 3,Uni.,"264,600,000",2017,"770,200,000","770,200,000","1,034,800,000"
2324,Finding Dory,BV,"486,300,000",2016,"542,300,000","542,300,000","1,028,600,000"
1,Alice in Wonderland (2010),BV,"334,200,000",2010,"691,300,000","691,300,000","1,025,500,000"
2325,Zootopia,BV,"341,300,000",2016,"682,500,000","682,500,000","1,023,800,000"
730,The Hobbit: An Unexpected Journey,WB (NL),"303,000,000",2012,"718,100,000","718,100,000","1,021,100,000"
1129,Despicable Me 2,Uni.,"368,100,000",2013,"602,700,000","602,700,000","970,800,000"
2326,The Jungle Book (2016),BV,"364,000,000",2016,"602,500,000","602,500,000","966,500,000"
2762,Jumanji: Welcome to the Jungle,Sony,"404,500,000",2017,"557,600,000","557,600,000","962,100,000"
2,Harry Potter and the Deathly Hallows Part 1,WB,"296,000,000",2010,"664,300,000","664,300,000","960,300,000"
1130,The Hobbit: The Desolation of Smaug,WB (NL),"258,399,999",2013,"700,000,000","700,000,000","958,399,999"
1478,The Hobbit: The Battle of the Five Armies,WB (NL),"255,100,000",2014,"700,900,000","700,900,000","956,000,000"
3084,Bohemian Rhapsody,Fox,"216,400,000",2018,"687,200,000","687,200,000","903,600,000"
1877,Spectre,Sony,"200,100,000",2015,"680,600,000","680,600,000","880,700,000"
2763,Spider-Man: Homecoming,Sony,"334,200,000",2017,"546,000,000","546,000,000","880,200,000"
731,Ice Age: Continental Drift,Fox,"161,300,000",2012,"715,900,000","715,900,000","877,200,000"
2327,The Secret Life of Pets,Uni.,"368,400,000",2016,"507,100,000","507,100,000","875,500,000"
2328,Batman v Superman: Dawn of Justice,WB,"330,400,000",2016,"543,300,000","543,300,000","873,700,000"
2764,Wolf Warrior 2,HC,"2,700,000",2017,"867,600,000","867,600,000","870,300,000"
1131,The Hunger Games: Catching Fire,LGF,"424,700,000",2013,"440,300,000","440,300,000","865,000,000"
2765,Guardians of the Galaxy Vol. 2,BV,"389,800,000",2017,"473,900,000","473,900,000","863,700,000"
1878,Inside Out,BV,"356,500,000",2015,"501,100,000","501,100,000","857,600,000"
3085,Venom (2018),Sony,"213,500,000",2018,"641,500,000","641,500,000","855,000,000"
2766,Thor: Ragnarok,BV,"315,100,000",2017,"538,900,000","538,900,000","854,000,000"
732,The Twilight Saga: Breaking Dawn Part 2,LG/S,"292,300,000",2012,"537,400,000","537,400,000","829,700,000"
3,Inception,WB,"292,600,000",2010,"535,700,000","535,700,000","828,300,000"
2767,Wonder Woman,WB,"412,600,000",2017,"409,300,000","409,300,000","821,900,000"
2329,Fantastic Beasts and Where To Find Them,WB,"234,000,000",2016,"580,000,000","580,000,000","814,000,000"
2768,Coco,BV,"209,700,000",2017,"597,400,000","597,400,000","807,100,000"
2769,Pirates of the Caribbean: Dead Men Tell No Tales,BV,"172,600,000",2017,"622,300,000","622,300,000","794,900,000"
3086,Mission: Impossible - Fallout,Par.,"220,200,000",2018,"571,000,000","571,000,000","791,200,000"
1132,Fast & Furious 6,Uni.,"238,700,000",2013,"550,000,000","550,000,000","788,700,000"
2330,Deadpool,Fox,"363,100,000",2016,"420,000,000","420,000,000","783,100,000"
3087,Deadpool 2,Fox,"318,500,000",2018,"460,500,000","460,500,000","779,000,000"
1479,Guardians of the Galaxy,BV,"333,200,000",2014,"440,200,000","440,200,000","773,400,000"
1480,Maleficent,BV,"241,400,000",2014,"517,100,000","517,100,000","758,500,000"
733,The Amazing Spider-Man,Sony,"262,000,000",2012,"495,900,000","495,900,000","757,900,000"
1481,The Hunger Games: Mockingjay - Part 1,LGF,"337,100,000",2014,"418,200,000","418,200,000","755,300,000"
4,Shrek Forever After,P/DW,"238,700,000",2010,"513,900,000","513,900,000","752,600,000"
1482,X-Men: Days of Future Past,Fox,"233,900,000",2014,"513,900,000","513,900,000","747,800,000"
734,Madagascar 3: Europe's Most Wanted,P/DW,"216,400,000",2012,"530,500,000","530,500,000","746,900,000"
2331,Suicide Squad,WB,"325,100,000",2016,"421,700,000","421,700,000","746,800,000"
1133,Monsters University,BV,"268,500,000",2013,"475,700,000","475,700,000","744,200,000"
1134,Gravity,WB,"274,100,000",2013,"449,100,000","449,100,000","723,200,000"
1483,Captain America: The Winter Soldier,BV,"259,800,000",2014,"454,500,000","454,500,000","714,300,000"
331,The Twilight Saga: Breaking Dawn Part 1,Sum.,"281,300,000",2011,"430,900,000","430,900,000","712,200,000"
1484,Dawn of the Planet of the Apes,Fox,"208,500,000",2014,"502,100,000","502,100,000","710,600,000"
1485,The Amazing Spider-Man 2,Sony,"202,900,000",2014,"506,100,000","506,100,000","709,000,000"
2770,It,WB (NL),"327,500,000",2017,"372,900,000","372,900,000","700,400,000"
5,The Twilight Saga: Eclipse,Sum.,"300,500,000",2010,"398,000,000","398,000,000","698,500,000"
332,Mission: Impossible - Ghost Protocol,Par.,"209,400,000",2011,"485,300,000","485,300,000","694,700,000"
735,The Hunger Games,LGF,"408,000,000",2012,"286,400,000","286,400,000","694,400,000"
1879,Mission: Impossible - Rogue Nation,Par.,"195,000,000",2015,"487,700,000","487,700,000","682,700,000"
2332,Doctor Strange,BV,"232,600,000",2016,"445,100,000","445,100,000","677,700,000"
1486,Interstellar,Par.,"188,000,000",2014,"489,400,000","489,400,000","677,400,000"
1135,Man of Steel,WB,"291,000,000",2013,"377,000,000","377,000,000","668,000,000"
333,Kung Fu Panda 2,P/DW,"165,200,000",2011,"500,400,000","500,400,000","665,600,000"
2771,Justice League,WB,"229,000,000",2017,"428,900,000","428,900,000","657,900,000"
1487,Big Hero 6,BV,"222,500,000",2014,"435,300,000","435,300,000","657,800,000"
3088,Fantastic Beasts: The Crimes of Grindelwald,WB,"159,600,000",2018,"494,100,000","494,100,000","653,700,000"
1880,The Hunger Games: Mockingjay - Part 2,LGF,"281,700,000",2015,"371,700,000","371,700,000","653,400,000"
1136,Thor: The Dark World,BV,"206,400,000",2013,"438,200,000","438,200,000","644,600,000"
2333,Moana,BV,"248,800,000",2016,"394,600,000","394,600,000","643,400,000"
2334,Sing,Uni.,"270,400,000",2016,"363,800,000","363,800,000","634,200,000"
1881,The Martian,Fox,"228,400,000",2015,"401,700,000","401,700,000","630,100,000"
334,Fast Five,Uni.,"209,800,000",2011,"416,300,000","416,300,000","626,100,000"
736,MIB 3,Sony,"179,000,000",2012,"445,000,000","445,000,000","624,000,000"
6,Iron Man 2,Par.,"312,400,000",2010,"311,500,000","311,500,000","623,900,000"
3089,Ant-Man and the Wasp,BV,"216,600,000",2018,"406,000,000","406,000,000","622,600,000"
1488,How to Train Your Dragon 2,Fox,"177,000,000",2014,"444,500,000","444,500,000","621,500,000"
2772,Logan (2017),Fox,"226,300,000",2017,"392,700,000","392,700,000","619,000,000"
737,Life of Pi,Fox,"125,000,000",2012,"484,000,000","484,000,000","609,000,000"
2773,Transformers: The Last Knight,Par.,"130,199,999",2017,"475,300,000","475,300,000","605,499,999"
7,Tangled,BV,"200,800,000",2010,"391,000,000","391,000,000","591,800,000"
1137,The Croods,Fox,"187,200,000",2013,"400,000,000","400,000,000","587,200,000"
335,The Hangover Part II,WB,"254,500,000",2011,"332,300,000","332,300,000","586,800,000"
3090,Ready Player One,WB,"137,700,000",2018,"445,200,000","445,200,000","582,900,000"
3091,Operation Red Sea,WGUSA,"1,500,000",2018,"577,700,000","577,700,000","579,200,000"
1882,Fifty Shades of Grey,Uni.,"166,200,000",2015,"404,800,000","404,800,000","571,000,000"
2774,Kong: Skull Island,WB,"168,100,000",2017,"398,600,000","398,600,000","566,700,000"
336,The Smurfs,Sony,"142,600,000",2011,"421,100,000","421,100,000","563,700,000"

In [234]:
merged_df_6 = pd.merge(merged_df_3, table10, left_on= 'movie', right_on= 'title', how='left')
merged_df_6

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit,title,studio,domestic_gross,year,foriegn_gross,foriegn_gross2,total_gross
0,NaN,NaN,NaN,nan,1,Avatar,2009,"2,351,345,279",NaN,NaN,nan,nan,nan,nan,nan
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: On Stranger Tides,"2,011",2,Pirates of the Caribbean: On Stranger Tides,2011,"635,063,875",Pirates of the Caribbean: On Stranger Tides,BV,"241,100,000","2,011","804,600,000","804,600,000","1,045,700,000"
2,tt6565702,Dark Phoenix,Dark Phoenix,"2,019",3,Dark Phoenix,2019,"-200,237,650",NaN,NaN,nan,nan,nan,nan,nan
3,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,"2,015",4,Avengers: Age of Ultron,2015,"1,072,413,963",Avengers: Age of Ultron,BV,"459,000,000","2,015","946,400,000","946,400,000","1,405,400,000"
4,NaN,NaN,NaN,nan,5,Star Wars Ep. VIII: The Last Jedi,2017,"999,721,747",NaN,NaN,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5777,tt7837402,Red 11,Red 11,"2,019",78,Red 11,2018,"-7,000",NaN,NaN,nan,nan,nan,nan,nan
5778,NaN,NaN,NaN,nan,79,Following,1999,"234,495",NaN,NaN,nan,nan,nan,nan,nan
5779,NaN,NaN,NaN,nan,80,Return to the Land of Wonders,2005,"-3,662",NaN,NaN,nan,nan,nan,nan,nan
5780,tt2107644,A Plague So Pleasant,A Plague So Pleasant,"2,013",81,A Plague So Pleasant,2015,"-1,400",NaN,NaN,nan,nan,nan,nan,nan
5781,NaN,NaN,NaN,nan,82,My Date With Drew,2005,"179,941",NaN,NaN,nan,nan,nan,nan,nan

In [350]:
merged_df_6.sort_values('total_profit', ascending=False).head(5)

,tconst,primary_title,original_title,start_year,id,movie,release_year,total_profit,title,studio,domestic_gross,year,foriegn_gross,foriegn_gross2,total_gross
0,NaN,NaN,NaN,nan,1,Avatar,2009,"2,351,345,279",NaN,NaN,nan,nan,nan,nan,nan
46,tt2495766,Titanic,Titanic,"2,012",43,Titanic,1997,"2,008,208,395",NaN,NaN,nan,nan,nan,nan,nan
6,tt4154756,Avengers: Infinity War,Avengers: Infinity War,"2,018",7,Avengers: Infinity War,2018,"1,748,134,200",Avengers: Infinity War,BV,"678,800,000","2,018",nan,nan,nan
5,NaN,NaN,NaN,nan,6,Star Wars Ep. VII: The Force Awakens,2015,"1,747,311,220",NaN,NaN,nan,nan,nan,nan,nan
34,tt0369610,Jurassic World,Jurassic World,"2,015",34,Jurassic World,2015,"1,433,854,864",Jurassic World,Uni.,"652,300,000","2,015",nan,nan,nan

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to clean the data

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
Data Analysis.
Make this a heading!

In [ ]:
Questions that I want to answer:
    
    1) What are the genres of the movies that made the most profit?
    2) What are the genres of the movies with the best ROI?
    3) How much money do you need to spend to make these movies?
    4) Maybe look at directors/studios/etc?

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***